<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.retailprice.dao.RetailpriceDao">

	<select id="get" resultType="com.shiguang.retailprice.domain.RetailpriceDO">
		select `id`,`number`,`day`,`people`,`remarks`,`goodstype`,`classtypes`,`num`,`name`,`goods_num`,`goods_name`,`mfrsnum`,`mfrsname`,`brandnum`,`brandname`,`factory`,`old_price`,`new_price`,`flag` from all_retailprice where id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.retailprice.domain.RetailpriceDO">
		select `id`,`number`,`day`,`people`,`remarks`,`goodstype`,`classtypes`,`num`,`name`,`goods_num`,`goods_name`,`mfrsnum`,`mfrsname`,`brandnum`,`brandname`,`factory`,`old_price`,`new_price`,`flag` from all_retailprice
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="number != null and number != ''"> and number = #{number} </if>
			<if test="day != null and day != ''"> and day = #{day} </if>
			<if test="people != null and people != ''"> and people = #{people} </if>
			<if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
			<if test="goodstype != null and goodstype != ''"> and goodstype = #{goodstype} </if>
			<if test="classtypes != null and classtypes != ''"> and classtypes = #{classtypes} </if>
			<if test="num != null and num != ''"> and num = #{num} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="goodsNum != null and goodsNum != ''"> and goods_num = #{goodsNum} </if>
			<if test="goodsName != null and goodsName != ''"> and goods_name = #{goodsName} </if>
			<if test="mfrsnum != null and mfrsnum != ''"> and mfrsnum = #{mfrsnum} </if>
			<if test="mfrsname != null and mfrsname != ''"> and mfrsname = #{mfrsname} </if>
			<if test="brandnum != null and brandnum != ''"> and brandnum = #{brandnum} </if>
			<if test="brandname != null and brandname != ''"> and brandname = #{brandname} </if>
			<if test="factory != null and factory != ''"> and factory = #{factory} </if>
			<if test="oldPrice != null and oldPrice != ''"> and old_price = #{oldPrice} </if>
			<if test="newPrice != null and newPrice != ''"> and new_price = #{newPrice} </if>
			<if test="flag != null and flag != ''"> and flag = #{flag} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from all_retailprice
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="number != null and number != ''"> and number = #{number} </if>
			<if test="day != null and day != ''"> and day = #{day} </if>
			<if test="people != null and people != ''"> and people = #{people} </if>
			<if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
			<if test="goodstype != null and goodstype != ''"> and goodstype = #{goodstype} </if>
			<if test="classtypes != null and classtypes != ''"> and classtypes = #{classtypes} </if>
			<if test="num != null and num != ''"> and num = #{num} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="goodsNum != null and goodsNum != ''"> and goods_num = #{goodsNum} </if>
			<if test="goodsName != null and goodsName != ''"> and goods_name = #{goodsName} </if>
			<if test="mfrsnum != null and mfrsnum != ''"> and mfrsnum = #{mfrsnum} </if>
			<if test="mfrsname != null and mfrsname != ''"> and mfrsname = #{mfrsname} </if>
			<if test="brandnum != null and brandnum != ''"> and brandnum = #{brandnum} </if>
			<if test="brandname != null and brandname != ''"> and brandname = #{brandname} </if>
			<if test="factory != null and factory != ''"> and factory = #{factory} </if>
			<if test="oldPrice != null and oldPrice != ''"> and old_price = #{oldPrice} </if>
			<if test="newPrice != null and newPrice != ''"> and new_price = #{newPrice} </if>
			<if test="flag != null and flag != ''"> and flag = #{flag} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.shiguang.retailprice.domain.RetailpriceDO" useGeneratedKeys="true" keyProperty="id">
		insert into all_retailprice
		(
			`number`,
			`day`,
			`people`,
			`remarks`,
			`goodstype`,
			`classtypes`,
			`num`,
			`name`,
			`goods_num`,
			`goods_name`,
			`mfrsnum`,
			`mfrsname`,
			`brandnum`,
			`brandname`,
			`factory`,
			`old_price`,
			`new_price`,
			`flag`
		)
		values
		(
			#{number},
			#{day},
			#{people},
			#{remarks},
			#{goodstype},
			#{classtypes},
			#{num},
			#{name},
			#{goodsNum},
			#{goodsName},
			#{mfrsnum},
			#{mfrsname},
			#{brandnum},
			#{brandname},
			#{factory},
			#{oldPrice},
			#{newPrice},
			#{flag}
		)
	</insert>

	<update id="update" parameterType="com.shiguang.retailprice.domain.RetailpriceDO">
		update all_retailprice
		<set>
			<if test="number != null">`number` = #{number}, </if>
			<if test="day != null">`day` = #{day}, </if>
			<if test="people != null">`people` = #{people}, </if>
			<if test="remarks != null">`remarks` = #{remarks}, </if>
			<if test="goodstype != null">`goodstype` = #{goodstype}, </if>
			<if test="classtypes != null">`classtypes` = #{classtypes}, </if>
			<if test="num != null">`num` = #{num}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="goodsNum != null">`goods_num` = #{goodsNum}, </if>
			<if test="goodsName != null">`goods_name` = #{goodsName}, </if>
			<if test="mfrsnum != null">`mfrsnum` = #{mfrsnum}, </if>
			<if test="mfrsname != null">`mfrsname` = #{mfrsname}, </if>
			<if test="brandnum != null">`brandnum` = #{brandnum}, </if>
			<if test="brandname != null">`brandname` = #{brandname}, </if>
			<if test="factory != null">`factory` = #{factory}, </if>
			<if test="oldPrice != null">`old_price` = #{oldPrice}, </if>
			<if test="newPrice != null">`new_price` = #{newPrice}, </if>
			<if test="flag != null">`flag` = #{flag}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from all_retailprice where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from all_retailprice where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>



	<select id="jjlist" resultType="com.shiguang.product.domain.ProducaDO">
		select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_produca a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
				order by b.brandid desc,a.id
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="jjlistCount" resultType="int">
		SELECT count( 0 ) FROM
		(
		select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_produca a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
		GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
		order by b.brandid desc,a.id
		) AS temp
	</select>
	<select id="pjlist" resultType="com.shiguang.product.domain.PartsDO">
		select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_parts a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
				order by b.brandid desc,a.id
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="pjlistCount" resultType="int">
		SELECT count( 0 ) FROM
	   (
        select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_parts a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
 		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
 		GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
       order by b.brandid desc,a.id
	    ) AS temp
	</select>
	<select id="jpcplist" resultType="com.shiguang.product.domain.JpcpDO">
		select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_jpcp a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
				order by b.brandid desc,a.id
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="jpcplistCount" resultType="int">
		SELECT count( 0 ) FROM
	   (
        select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price ,a.classtype from c_brand b
		join   aa_jpcp a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
 		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
 		GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
       order by b.brandid desc,a.id
	    ) AS temp
	</select>
	<select id="jpdzlist" resultType="com.shiguang.product.domain.JpdzDO">
		select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_jpdz a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
				order by b.brandid desc,a.id
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="jpdzlistCount" resultType="int">
		SELECT count( 0 ) FROM
	   (
        select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_jpdz a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
 		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
 		GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
       order by b.brandid desc,a.id
	    ) AS temp
	</select>
	<select id="yxcplist" resultType="com.shiguang.product.domain.YxcpDO">
		select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_yxcp a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
				order by b.brandid desc,a.id
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="yxcplistCount" resultType="int">
		SELECT count( 0 ) FROM
	   (
        select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_yxcp a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
 		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
 		GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
       order by b.brandid desc,a.id
	    ) AS temp
	</select>
	<select id="yxdzlist" resultType="com.shiguang.product.domain.YxdzDO">
		select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_yxdz a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
				order by b.brandid desc,a.id
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="yxdzlistCount" resultType="int">
		SELECT count( 0 ) FROM
	   (
        select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_yxdz a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
 		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
 		GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
       order by b.brandid desc,a.id
	    ) AS temp
	</select>
<select id="hlylist" resultType="com.shiguang.product.domain.HlyDO">
		select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_hly a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
				order by b.brandid desc,a.id
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="hlylistCount" resultType="int">
		SELECT count( 0 ) FROM
	   (
        select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_hly a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
 		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
 		GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
       order by b.brandid desc,a.id
	    ) AS temp
	</select>

<select id="tyjlist" resultType="com.shiguang.product.domain.TyjDO">
		select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_tyj a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
				order by b.brandid desc,a.id
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="tyjlistCount" resultType="int">
		SELECT count( 0 ) FROM
	   (
        select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_tyj a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
 		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
 		GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
       order by b.brandid desc,a.id
	    ) AS temp
	</select>
	<select id="lhjlist" resultType="com.shiguang.product.domain.OldlensDO">
		select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_oldlens a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
				order by b.brandid desc,a.id
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="lhjlistCount" resultType="int">
		SELECT count( 0 ) FROM
	   (
        select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_oldlens a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
 		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
 		GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
       order by b.brandid desc,a.id
	    ) AS temp
	</select>

	<select id="hclist" resultType="com.shiguang.product.domain.HcDO">
		select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_hc a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
				order by b.brandid desc,a.id
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="hclistCount" resultType="int">
		SELECT count( 0 ) FROM
		(
		select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_hc a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
		GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
		order by b.brandid desc,a.id
		) AS temp
	</select>

	<select id="sglist" resultType="com.shiguang.product.domain.ShiguangDO">
		select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_shiguang a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
				order by b.brandid desc,a.id
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="sglistCount" resultType="int">
		SELECT count( 0 ) FROM
		(
		select m.mfrsname,b.brandname,b.goodsid,a.mfrsid,a.brandnum,a.retail_price,a.classtype from c_brand b
		join   aa_shiguang a on  a.brandnum=b.brandnum   AND a.mfrsid=b.mfrsid
		join c_mfrs m on  m.mfrsnum=b.mfrsid
		<where>
			<if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
			<if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
			and a.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
		</where>
		GROUP BY  b.brandnum  ,  b.mfrsid,a.retail_price
		order by b.brandid desc,a.id
		) AS temp
	</select>

</mapper>