<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.optometry.dao.OptometryDao">
    <select id="get" resultType="com.shiguang.optometry.domain.OptometryDO">
		select `id`,`member_inumber`,`mydriasis`,`pharmacy_id`,`pharmacy`,`sphere_right`,`sphere_left`,`cylinder_right`,`cylinder_left`,`axial_right`,`axial_left`,`corneal_astigmatism_os`,`corneal_astigmatism_od`,`sph_jyod`,`sph_jyos`,`cyl_jyod`,`cyl_jyos`,`axial_jyod`,`axial_jyos`,`va_jyod`,`va_jyos`,`pd_jyod`,`pd_jyos`,`sph_cpod`,`sph_cpos`,`cyl_cpod`,`cyl_cpos`,`axial_cpod`,`axial_cpos`,`dva_cpod`,`dva_cpos`,`nva_cpod`,`nva_cpos`,`add_cpod`,`add_cpos`,`distance_od`,`distance_os` from optometry where id = #{value}
	</select>

    <select id="list" resultType="com.shiguang.optometry.domain.OptometryDO">
        select
        `id`,`member_inumber`,`mydriasis`,`pharmacy_id`,`pharmacy`,`sphere_right`,`sphere_left`,`cylinder_right`,`cylinder_left`,`axial_right`,`axial_left`,`corneal_astigmatism_os`,`corneal_astigmatism_od`,`sph_jyod`,`sph_jyos`,`cyl_jyod`,`cyl_jyos`,`axial_jyod`,`axial_jyos`,`va_jyod`,`va_jyos`,`pd_jyod`,`pd_jyos`,`sph_cpod`,`sph_cpos`,`cyl_cpod`,`cyl_cpos`,`axial_cpod`,`axial_cpos`,`dva_cpod`,`dva_cpos`,`nva_cpod`,`nva_cpos`,`add_cpod`,`add_cpos`,`distance_od`,`distance_os`
        from optometry
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="memberInumber != null and memberInumber != ''">and member_inumber = #{memberInumber}</if>
            <if test="mydriasis != null and mydriasis != ''">and mydriasis = #{mydriasis}</if>
            <if test="pharmacyId != null and pharmacyId != ''">and pharmacy_id = #{pharmacyId}</if>
            <if test="pharmacy != null and pharmacy != ''">and pharmacy = #{pharmacy}</if>
            <if test="sphereRight != null and sphereRight != ''">and sphere_right = #{sphereRight}</if>
            <if test="sphereLeft != null and sphereLeft != ''">and sphere_left = #{sphereLeft}</if>
            <if test="cylinderRight != null and cylinderRight != ''">and cylinder_right = #{cylinderRight}</if>
            <if test="cylinderLeft != null and cylinderLeft != ''">and cylinder_left = #{cylinderLeft}</if>
            <if test="axialRight != null and axialRight != ''">and axial_right = #{axialRight}</if>
            <if test="axialLeft != null and axialLeft != ''">and axial_left = #{axialLeft}</if>
            <if test="cornealAstigmatismOs != null and cornealAstigmatismOs != ''">and corneal_astigmatism_os =
                #{cornealAstigmatismOs}
            </if>
            <if test="cornealAstigmatismOd != null and cornealAstigmatismOd != ''">and corneal_astigmatism_od =
                #{cornealAstigmatismOd}
            </if>
            <if test="sphJyod != null and sphJyod != ''">and sph_jyod = #{sphJyod}</if>
            <if test="sphJyos != null and sphJyos != ''">and sph_jyos = #{sphJyos}</if>
            <if test="cylJyod != null and cylJyod != ''">and cyl_jyod = #{cylJyod}</if>
            <if test="cylJyos != null and cylJyos != ''">and cyl_jyos = #{cylJyos}</if>
            <if test="axialJyod != null and axialJyod != ''">and axial_jyod = #{axialJyod}</if>
            <if test="axialJyos != null and axialJyos != ''">and axial_jyos = #{axialJyos}</if>
            <if test="vaJyod != null and vaJyod != ''">and va_jyod = #{vaJyod}</if>
            <if test="vaJyos != null and vaJyos != ''">and va_jyos = #{vaJyos}</if>
            <if test="pdJyod != null and pdJyod != ''">and pd_jyod = #{pdJyod}</if>
            <if test="pdJyos != null and pdJyos != ''">and pd_jyos = #{pdJyos}</if>
            <if test="sphCpod != null and sphCpod != ''">and sph_cpod = #{sphCpod}</if>
            <if test="sphCpos != null and sphCpos != ''">and sph_cpos = #{sphCpos}</if>
            <if test="cylCpod != null and cylCpod != ''">and cyl_cpod = #{cylCpod}</if>
            <if test="cylCpos != null and cylCpos != ''">and cyl_cpos = #{cylCpos}</if>
            <if test="axialCpod != null and axialCpod != ''">and axial_cpod = #{axialCpod}</if>
            <if test="axialCpos != null and axialCpos != ''">and axial_cpos = #{axialCpos}</if>
            <if test="dvaCpod != null and dvaCpod != ''">and dva_cpod = #{dvaCpod}</if>
            <if test="dvaCpos != null and dvaCpos != ''">and dva_cpos = #{dvaCpos}</if>
            <if test="nvaCpod != null and nvaCpod != ''">and nva_cpod = #{nvaCpod}</if>
            <if test="nvaCpos != null and nvaCpos != ''">and nva_cpos = #{nvaCpos}</if>
            <if test="addCpod != null and addCpod != ''">and add_cpod = #{addCpod}</if>
            <if test="addCpos != null and addCpos != ''">and add_cpos = #{addCpos}</if>
            <if test="distanceOd != null and distanceOd != ''">and distance_od = #{distanceOd}</if>
            <if test="distanceOs != null and distanceOs != ''">and distance_os = #{distanceOs}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from optometry
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="memberInumber != null and memberInumber != ''">and member_inumber = #{memberInumber}</if>
            <if test="mydriasis != null and mydriasis != ''">and mydriasis = #{mydriasis}</if>
            <if test="pharmacyId != null and pharmacyId != ''">and pharmacy_id = #{pharmacyId}</if>
            <if test="pharmacy != null and pharmacy != ''">and pharmacy = #{pharmacy}</if>
            <if test="sphereRight != null and sphereRight != ''">and sphere_right = #{sphereRight}</if>
            <if test="sphereLeft != null and sphereLeft != ''">and sphere_left = #{sphereLeft}</if>
            <if test="cylinderRight != null and cylinderRight != ''">and cylinder_right = #{cylinderRight}</if>
            <if test="cylinderLeft != null and cylinderLeft != ''">and cylinder_left = #{cylinderLeft}</if>
            <if test="axialRight != null and axialRight != ''">and axial_right = #{axialRight}</if>
            <if test="axialLeft != null and axialLeft != ''">and axial_left = #{axialLeft}</if>
            <if test="cornealAstigmatismOs != null and cornealAstigmatismOs != ''">and corneal_astigmatism_os =
                #{cornealAstigmatismOs}
            </if>
            <if test="cornealAstigmatismOd != null and cornealAstigmatismOd != ''">and corneal_astigmatism_od =
                #{cornealAstigmatismOd}
            </if>
            <if test="sphJyod != null and sphJyod != ''">and sph_jyod = #{sphJyod}</if>
            <if test="sphJyos != null and sphJyos != ''">and sph_jyos = #{sphJyos}</if>
            <if test="cylJyod != null and cylJyod != ''">and cyl_jyod = #{cylJyod}</if>
            <if test="cylJyos != null and cylJyos != ''">and cyl_jyos = #{cylJyos}</if>
            <if test="axialJyod != null and axialJyod != ''">and axial_jyod = #{axialJyod}</if>
            <if test="axialJyos != null and axialJyos != ''">and axial_jyos = #{axialJyos}</if>
            <if test="vaJyod != null and vaJyod != ''">and va_jyod = #{vaJyod}</if>
            <if test="vaJyos != null and vaJyos != ''">and va_jyos = #{vaJyos}</if>
            <if test="pdJyod != null and pdJyod != ''">and pd_jyod = #{pdJyod}</if>
            <if test="pdJyos != null and pdJyos != ''">and pd_jyos = #{pdJyos}</if>
            <if test="sphCpod != null and sphCpod != ''">and sph_cpod = #{sphCpod}</if>
            <if test="sphCpos != null and sphCpos != ''">and sph_cpos = #{sphCpos}</if>
            <if test="cylCpod != null and cylCpod != ''">and cyl_cpod = #{cylCpod}</if>
            <if test="cylCpos != null and cylCpos != ''">and cyl_cpos = #{cylCpos}</if>
            <if test="axialCpod != null and axialCpod != ''">and axial_cpod = #{axialCpod}</if>
            <if test="axialCpos != null and axialCpos != ''">and axial_cpos = #{axialCpos}</if>
            <if test="dvaCpod != null and dvaCpod != ''">and dva_cpod = #{dvaCpod}</if>
            <if test="dvaCpos != null and dvaCpos != ''">and dva_cpos = #{dvaCpos}</if>
            <if test="nvaCpod != null and nvaCpod != ''">and nva_cpod = #{nvaCpod}</if>
            <if test="nvaCpos != null and nvaCpos != ''">and nva_cpos = #{nvaCpos}</if>
            <if test="addCpod != null and addCpod != ''">and add_cpod = #{addCpod}</if>
            <if test="addCpos != null and addCpos != ''">and add_cpos = #{addCpos}</if>
            <if test="distanceOd != null and distanceOd != ''">and distance_od = #{distanceOd}</if>
            <if test="distanceOs != null and distanceOs != ''">and distance_os = #{distanceOs}</if>
        </where>
    </select>

    <select id="findOptoList" resultType="com.shiguang.member.domain.MemberDO">
    select m.`id`,m.`name`,m.`member_option`,m.`card_number`,m.`sex`,m.`depart_number`,m.`birthday_year`,m.`birthday_month`,
    m.`birthday_day`,m.`age`,m.`phone_1`,m.`phone_2`,m.`phone_3`,m.`province_code`,m.`province_name`,m.`city_code`,
    m.`city_name`,m.`area_code`,m.`area_name`,m.`card_type`,m.`master_card`,m.`minor_name`,m.`crowd_type`,m.`exclusive_customer`,
    m.`exclusive_customer_id`,m.`identity_type`,m.`identity_id`,m.`vocation`,m.`school`,m.`qq_number`,m.`email`,`address`,
    m.`postal_code`,m.`interest`,m.`source`,m.`integral_pasd`,m.`remark`,m.`register_time`,m.`status`,m.`state`
    from member m join department d on d.depart_number = m.depart_number
    <where>
        <if test="cardNumber != null and cardNumber != ''"> and m.card_number like concat('%', #{cardNumber},'%') </if>
        <if test="name != null and name != ''"> and m.`name` like concat('%', #{name},'%') </if>
        <if test="phone1 != null and phone1 != ''"> and m.phone_1 = #{phone1} </if>
        <if test="dateNow != null and dateNow != ''"> and DATE_FORMAT(c.create_time,'%Y-%m-%d') = #{dateNow} </if>
        <if test="departNumber != null and departNumber != ''">
            and m.depart_number = ${departNumber}
        </if>
        <if test="companyId != null and companyId != ''">and FIND_IN_SET(d.company_id,#{companyId})</if>
        and m.`status` = 0
        and m.state = 1
    </where>
</select>

    <select id="findOptoCount" resultType="int">
        select count(*)
        from member m join department d on d.depart_number = m.depart_number
        <where>
            <if test="cardNumber != null and cardNumber != ''"> and card_number like concat('%', #{cardNumber},'%') </if>
            <if test="name != null and name != ''"> and m.`name` like concat('%', #{name},'%') </if>
            <if test="phone1 != null and phone1 != ''"> and m.phone_1 = #{phone1} </if>
            <if test="dateNow != null and dateNow != ''"> and DATE_FORMAT(c.create_time,'%Y-%m-%d') = #{dateNow} </if>
            <if test="departNumber != null and departNumber != ''">
                and m.depart_number = ${departNumber}
            </if>
            <if test="companyId != null and companyId != ''">and FIND_IN_SET(d.company_id,#{companyId})</if>
            and m.`status` = 0
            and m.state = 1
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.optometry.domain.OptometryDO" useGeneratedKeys="true"
            keyProperty="id">
		insert into optometry
		(
			`member_inumber`,
			`sale_number`,
			`mydriasis`,
			`pharmacy_id`,
			`pharmacy`,
			`sphere_right`,
			`sphere_left`,
			`cylinder_right`,
			`cylinder_left`,
			`axial_right`,
			`axial_left`,
			`corneal_astigmatism_os`,
			`corneal_astigmatism_od`,
			`sph_jyod`,
			`sph_jyos`,
			`cyl_jyod`,
			`cyl_jyos`,
			`axial_jyod`,
			`axial_jyos`,
			`va_jyod`,
			`va_jyos`,
			`pd_jyod`,
			`pd_jyos`,
			`sph_cpod`,
			`sph_cpos`,
			`cyl_cpod`,
			`cyl_cpos`,
			`axial_cpod`,
			`axial_cpos`,
			`dva_cpod`,
			`dva_cpos`,
			`nva_cpod`,
			`nva_cpos`,
			`add_cpod`,
			`add_cpos`,
			`distance_od`,
			`distance_os`,
			`create_time`
		)
		values
		(
			#{memberInumber},
			#{saleNumber},
			#{mydriasis},
			#{pharmacyId},
			#{pharmacy},
			#{sphereRight},
			#{sphereLeft},
			#{cylinderRight},
			#{cylinderLeft},
			#{axialRight},
			#{axialLeft},
			#{cornealAstigmatismOs},
			#{cornealAstigmatismOd},
			#{sphJyod},
			#{sphJyos},
			#{cylJyod},
			#{cylJyos},
			#{axialJyod},
			#{axialJyos},
			#{vaJyod},
			#{vaJyos},
			#{pdJyod},
			#{pdJyos},
			#{sphCpod},
			#{sphCpos},
			#{cylCpod},
			#{cylCpos},
			#{axialCpod},
			#{axialCpos},
			#{dvaCpod},
			#{dvaCpos},
			#{nvaCpod},
			#{nvaCpos},
			#{addCpod},
			#{addCpos},
			#{distanceOd},
			#{distanceOs},
			#{createTime}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.optometry.domain.OptometryDO">
        update optometry
        <set>
            <if test="memberInumber != null">`member_inumber` = #{memberInumber},</if>
            <if test="mydriasis != null">`mydriasis` = #{mydriasis},</if>
            <if test="pharmacyId != null">`pharmacy_id` = #{pharmacyId},</if>
            <if test="pharmacy != null">`pharmacy` = #{pharmacy},</if>
            <if test="sphereRight != null">`sphere_right` = #{sphereRight},</if>
            <if test="sphereLeft != null">`sphere_left` = #{sphereLeft},</if>
            <if test="cylinderRight != null">`cylinder_right` = #{cylinderRight},</if>
            <if test="cylinderLeft != null">`cylinder_left` = #{cylinderLeft},</if>
            <if test="axialRight != null">`axial_right` = #{axialRight},</if>
            <if test="axialLeft != null">`axial_left` = #{axialLeft},</if>
            <if test="cornealAstigmatismOs != null">`corneal_astigmatism_os` = #{cornealAstigmatismOs},</if>
            <if test="cornealAstigmatismOd != null">`corneal_astigmatism_od` = #{cornealAstigmatismOd},</if>
            <if test="sphJyod != null">`sph_jyod` = #{sphJyod},</if>
            <if test="sphJyos != null">`sph_jyos` = #{sphJyos},</if>
            <if test="cylJyod != null">`cyl_jyod` = #{cylJyod},</if>
            <if test="cylJyos != null">`cyl_jyos` = #{cylJyos},</if>
            <if test="axialJyod != null">`axial_jyod` = #{axialJyod},</if>
            <if test="axialJyos != null">`axial_jyos` = #{axialJyos},</if>
            <if test="vaJyod != null">`va_jyod` = #{vaJyod},</if>
            <if test="vaJyos != null">`va_jyos` = #{vaJyos},</if>
            <if test="pdJyod != null">`pd_jyod` = #{pdJyod},</if>
            <if test="pdJyos != null">`pd_jyos` = #{pdJyos},</if>
            <if test="sphCpod != null">`sph_cpod` = #{sphCpod},</if>
            <if test="sphCpos != null">`sph_cpos` = #{sphCpos},</if>
            <if test="cylCpod != null">`cyl_cpod` = #{cylCpod},</if>
            <if test="cylCpos != null">`cyl_cpos` = #{cylCpos},</if>
            <if test="axialCpod != null">`axial_cpod` = #{axialCpod},</if>
            <if test="axialCpos != null">`axial_cpos` = #{axialCpos},</if>
            <if test="dvaCpod != null">`dva_cpod` = #{dvaCpod},</if>
            <if test="dvaCpos != null">`dva_cpos` = #{dvaCpos},</if>
            <if test="nvaCpod != null">`nva_cpod` = #{nvaCpod},</if>
            <if test="nvaCpos != null">`nva_cpos` = #{nvaCpos},</if>
            <if test="addCpod != null">`add_cpod` = #{addCpod},</if>
            <if test="addCpos != null">`add_cpos` = #{addCpos},</if>
            <if test="distanceOd != null">`distance_od` = #{distanceOd},</if>
            <if test="distanceOs != null">`distance_os` = #{distanceOs}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from optometry where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from optometry where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="optoList" resultType="com.shiguang.optometry.domain.OptometryDO">
        select
        `id`,`member_inumber`,`mydriasis`,`sphere_right`,`sphere_left`,`cylinder_right`,`cylinder_left`,`axial_right`,`axial_left`,
        `corneal_astigmatism_os`,`corneal_astigmatism_od`,`sph_jyod`,`sph_jyos`,`cyl_jyod`,`cyl_jyos`,`axial_jyod`,
        `axial_jyos`,`va_jyod`,`va_jyos`,`pd_jyod`,`pd_jyos`,`sph_cpod`,`sph_cpos`,`cyl_cpod`,`cyl_cpos`,`axial_cpod`,`axial_cpos`,
        `dva_cpod`,`dva_cpos`,`nva_cpod`,`nva_cpos`,`add_cpod`,`add_cpos`,`distance_od`,`distance_os`,`create_time`
        from optometry
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="memberInumber != null and memberInumber != ''">and member_inumber = #{memberInumber}</if>
            <if test="mydriasis != null and mydriasis != ''">and mydriasis = #{mydriasis}</if>
            <if test="sphereRight != null and sphereRight != ''">and sphere_right = #{sphereRight}</if>
            <if test="sphereLeft != null and sphereLeft != ''">and sphere_left = #{sphereLeft}</if>
            <if test="cylinderRight != null and cylinderRight != ''">and cylinder_right = #{cylinderRight}</if>
            <if test="cylinderLeft != null and cylinderLeft != ''">and cylinder_left = #{cylinderLeft}</if>
            <if test="axialRight != null and axialRight != ''">and axial_right = #{axialRight}</if>
            <if test="axialLeft != null and axialLeft != ''">and axial_left = #{axialLeft}</if>
            <if test="cornealAstigmatismOs != null and cornealAstigmatismOs != ''">and corneal_astigmatism_os =
                #{cornealAstigmatismOs}
            </if>
            <if test="cornealAstigmatismOd != null and cornealAstigmatismOd != ''">and corneal_astigmatism_od =
                #{cornealAstigmatismOd}
            </if>
            <if test="sphJyod != null and sphJyod != ''">and sph_jyod = #{sphJyod}</if>
            <if test="sphJyos != null and sphJyos != ''">and sph_jyos = #{sphJyos}</if>
            <if test="cylJyod != null and cylJyod != ''">and cyl_jyod = #{cylJyod}</if>
            <if test="cylJyos != null and cylJyos != ''">and cyl_jyos = #{cylJyos}</if>
            <if test="axialJyod != null and axialJyod != ''">and axial_jyod = #{axialJyod}</if>
            <if test="axialJyos != null and axialJyos != ''">and axial_jyos = #{axialJyos}</if>
            <if test="vaJyod != null and vaJyod != ''">and va_jyod = #{vaJyod}</if>
            <if test="vaJyos != null and vaJyos != ''">and va_jyos = #{vaJyos}</if>
            <if test="pdJyod != null and pdJyod != ''">and pd_jyod = #{pdJyod}</if>
            <if test="pdJyos != null and pdJyos != ''">and pd_jyos = #{pdJyos}</if>
            <if test="sphCpod != null and sphCpod != ''">and sph_cpod = #{sphCpod}</if>
            <if test="sphCpos != null and sphCpos != ''">and sph_cpos = #{sphCpos}</if>
            <if test="cylCpod != null and cylCpod != ''">and cyl_cpod = #{cylCpod}</if>
            <if test="cylCpos != null and cylCpos != ''">and cyl_cpos = #{cylCpos}</if>
            <if test="axialCpod != null and axialCpod != ''">and axial_cpod = #{axialCpod}</if>
            <if test="axialCpos != null and axialCpos != ''">and axial_cpos = #{axialCpos}</if>
            <if test="dvaCpod != null and dvaCpod != ''">and dva_cpod = #{dvaCpod}</if>
            <if test="dvaCpos != null and dvaCpos != ''">and dva_cpos = #{dvaCpos}</if>
            <if test="nvaCpod != null and nvaCpod != ''">and nva_cpod = #{nvaCpod}</if>
            <if test="nvaCpos != null and nvaCpos != ''">and nva_cpos = #{nvaCpos}</if>
            <if test="addCpod != null and addCpod != ''">and add_cpod = #{addCpod}</if>
            <if test="addCpos != null and addCpos != ''">and add_cpos = #{addCpos}</if>
            <if test="distanceOd != null and distanceOd != ''">and distance_od = #{distanceOd}</if>
            <if test="distanceOs != null and distanceOs != ''">and distance_os = #{distanceOs}</if>
        </where>
        order by create_time desc
    </select>
    <!--散瞳前-->
    <select id="optoFrontList" resultType="com.shiguang.optometry.domain.OptometryDO">
    select
    `id`,`member_inumber`,`mydriasis`,`sphere_right`,`sphere_left`,`cylinder_right`,`cylinder_left`,`axial_right`,`axial_left`,
    `corneal_astigmatism_os`,`corneal_astigmatism_od`,`sph_jyod`,`sph_jyos`,`cyl_jyod`,`cyl_jyos`,`axial_jyod`,
    `axial_jyos`,`va_jyod`,`va_jyos`,`pd_jyod`,`pd_jyos`,`sph_cpod`,`sph_cpos`,`cyl_cpod`,`cyl_cpos`,`axial_cpod`,`axial_cpos`,
    `dva_cpod`,`dva_cpos`,`nva_cpod`,`nva_cpos`,`add_cpod`,`add_cpos`,`distance_od`,`distance_os`
    from optometry
    where mydriasis=0 and member_inumber = #{cardNumber}
    order by create_time desc
</select>
    <!--散瞳后-->
    <select id="optoAfterList" resultType="com.shiguang.optometry.domain.OptometryDO">
    select
    `id`,`member_inumber`,`mydriasis`,`sphere_right`,`sphere_left`,`cylinder_right`,`cylinder_left`,`axial_right`,`axial_left`,
    `corneal_astigmatism_os`,`corneal_astigmatism_od`,`sph_jyod`,`sph_jyos`,`cyl_jyod`,`cyl_jyos`,`axial_jyod`,
    `axial_jyos`,`va_jyod`,`va_jyos`,`pd_jyod`,`pd_jyos`,`sph_cpod`,`sph_cpos`,`cyl_cpod`,`cyl_cpos`,`axial_cpod`,`axial_cpos`,
    `dva_cpod`,`dva_cpos`,`nva_cpod`,`nva_cpos`,`add_cpod`,`add_cpos`,`distance_od`,`distance_os`
    from optometry
    where mydriasis=1 and member_inumber = #{cardNumber}
    order by create_time desc
</select>

    <select id="processlist" resultType="com.shiguang.optometry.domain.ProcessAskDO">
        select `id`,`process_num`,`process_name` from process_ask
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="processNum != null and processNum != ''">and process_num = #{processNum}</if>
            <if test="processName != null and processName != ''">and process_name = #{processName}</if>
        </where>
    </select>

    <!--//开检查单的-->
    <select id="moenyList" resultType="com.shiguang.optometry.domain.OptometryDO">
      select me.card_number,co.sale_number,me.name,me.sex,me.age, co.type
      from cost co left join member me on co.member_number = me.card_number
      <where>
          <if test="isSale != null and isSale != ''"> and co.is_sale = #{isSale} </if>
          <if test="type != null and type != ''"> and co.type = #{type} </if>
          <if test="state != null and state != ''"> and me.state = #{state} </if>
          <if test="cardNumber != null and cardNumber != ''"> and me.card_number = #{cardNumber} </if>
          <if test="saleNumber != null and saleNumber != ''"> and co.sale_number = #{saleNumber} </if>
          <if test="name != null and name != ''"> and me.name = #{name} </if>
      </where>
      group by  co.sale_number
      order by co.id desc
    </select>
    <select id="moenyListcount" resultType="int">
    select count(*)  from cost co left join member me on co.member_number = me.card_number
        <where>
            <if test="isSale != null and isSale != ''"> and co.is_sale = #{isSale} </if>
            <if test="type != null and type != ''"> and co.type = #{type} </if>
            <if test="state != null and state != ''"> and me.state = #{state} </if>
        </where>
    </select>
    <!--//检查用户-->
    <select id="userList" resultType="com.shiguang.optometry.domain.OptometryDO">
        select m.card_number,m.name,m.sex,m.age from member m left join department d  on m.depart_number=d.depart_number
        left join c_company c on c.id = d.company_id
      <where>
          <if test="departNumber != null and departNumber != ''">and d.depart_number = #{departNumber}</if>
          <if test="companyId != null and companyId != ''">and FIND_IN_SET(d.company_id,#{companyId})</if>
          <if test="cardNumber != null and cardNumber != ''"> and m.card_number = #{cardNumber} </if>
          <if test="name != null and name != ''"> and m.name = #{name} </if>
      </where>
      order by m.id desc
    </select>
    <!--//检查用户数量-->
    <select id="userListcount" resultType="int">
    select count(*)  from  member m left join department d  on m.depart_number=d.depart_number
        left join c_company c on c.id = d.company_id
        <where>
            <if test="departNumber != null and departNumber != ''">and d.depart_number = #{departNumber}</if>
            <if test="companyId != null and companyId != ''">and FIND_IN_SET(d.company_id,#{companyId})</if>
            <if test="cardNumber != null and cardNumber != ''"> and m.card_number = #{cardNumber} </if>
            <if test="name != null and name != ''"> and m.name = #{name} </if>
        </where>
    </select>
</mapper>
