<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.optometry.dao.OptometryDao">
    <select id="get" resultType="com.shiguang.optometry.domain.OptometryDO">
		select `id`,`member_inumber`,`mydriasis`,`sphere_right`,`sphere_left`,`cylinder_right`,`cylinder_left`,`axial_right`,`axial_left`,`optometry_name`,`create_time`,`ptometry_number` from optometry where id = #{value}
	</select>

    <select id="list" resultType="com.shiguang.optometry.domain.OptometryDO">
        select
        `id`,`member_inumber`,`mydriasis`,`sphere_right`,`sphere_left`,`cylinder_right`,`cylinder_left`,`axial_right`,`axial_left`,`optometry_name`,`create_time`,`ptometry_number`
        from optometry
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="memberInumber != null and memberInumber != ''">and member_inumber = #{memberInumber}</if>
            <if test="mydriasis != null and mydriasis != ''">and mydriasis = #{mydriasis}</if>
            <if test="sphereRight != null and sphereRight != ''">and sphere_right = #{sphereRight}</if>
            <if test="sphereLeft != null and sphereLeft != ''">and sphere_left = #{sphereLeft}</if>
            <if test="cylinderRight != null and cylinderRight != ''">and cylinder_right = #{cylinderRight}</if>
            <if test="cylinderLeft != null and cylinderLeft != ''">and cylinder_left = #{cylinderLeft}</if>
            <if test="axialRight != null and axialRight != ''">and axial_right = #{axialRight}</if>
            <if test="axialLeft != null and axialLeft != ''">and axial_left = #{axialLeft}</if>
            <if test="optometryName != null and optometryName != ''">and optometry_name = #{optometryName}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="ptometryNumber != null and ptometryNumber != ''">and ptometry_number = #{ptometryNumber}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from optometry
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="memberInumber != null and memberInumber != ''">and member_inumber = #{memberInumber}</if>
            <if test="mydriasis != null and mydriasis != ''">and mydriasis = #{mydriasis}</if>
            <if test="sphereRight != null and sphereRight != ''">and sphere_right = #{sphereRight}</if>
            <if test="sphereLeft != null and sphereLeft != ''">and sphere_left = #{sphereLeft}</if>
            <if test="cylinderRight != null and cylinderRight != ''">and cylinder_right = #{cylinderRight}</if>
            <if test="cylinderLeft != null and cylinderLeft != ''">and cylinder_left = #{cylinderLeft}</if>
            <if test="axialRight != null and axialRight != ''">and axial_right = #{axialRight}</if>
            <if test="axialLeft != null and axialLeft != ''">and axial_left = #{axialLeft}</if>
            <if test="optometryName != null and optometryName != ''">and optometry_name = #{optometryName}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="ptometryNumber != null and ptometryNumber != ''">and ptometry_number = #{ptometryNumber}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.optometry.domain.OptometryDO" useGeneratedKeys="true"
            keyProperty="id">
		insert into optometry
		(
			`member_inumber`,
			`mydriasis`,
			`sphere_right`,
			`sphere_left`,
			`cylinder_right`,
			`cylinder_left`,
			`axial_right`,
			`axial_left`,
			`optometry_name`,
			`create_time`,
			`ptometry_number`
		)
		values
		(
			#{memberInumber},
			#{mydriasis},
			#{sphereRight},
			#{sphereLeft},
			#{cylinderRight},
			#{cylinderLeft},
			#{axialRight},
			#{axialLeft},
			#{optometryName},
			#{createTime},
			#{ptometryNumber}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.optometry.domain.OptometryDO">
        update optometry
        <set>
            <if test="memberInumber != null">`member_inumber` = #{memberInumber},</if>
            <if test="mydriasis != null">`mydriasis` = #{mydriasis},</if>
            <if test="sphereRight != null">`sphere_right` = #{sphereRight},</if>
            <if test="sphereLeft != null">`sphere_left` = #{sphereLeft},</if>
            <if test="cylinderRight != null">`cylinder_right` = #{cylinderRight},</if>
            <if test="cylinderLeft != null">`cylinder_left` = #{cylinderLeft},</if>
            <if test="axialRight != null">`axial_right` = #{axialRight},</if>
            <if test="axialLeft != null">`axial_left` = #{axialLeft},</if>
            <if test="optometryName != null">`optometry_name` = #{optometryName},</if>
            <if test="createTime != null">`create_time` = #{createTime}</if>
            <if test="ptometryNumber != null">`ptometry_number` = #{ptometryNumber}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from optometry where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from optometry where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="optoList" resultType="com.shiguang.optometry.domain.OptometryDO">
        select
        `id`,`member_inumber`,`mydriasis`,`sphere_right`,`sphere_left`,`cylinder_right`,`cylinder_left`,`axial_right`,`axial_left`,`optometry_name`,`create_time`,`ptometry_number`
        from optometry
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="memberInumber != null and memberInumber != ''">and member_inumber = #{memberInumber}</if>
            <if test="mydriasis != null and mydriasis != ''">and mydriasis = #{mydriasis}</if>
            <if test="sphereRight != null and sphereRight != ''">and sphere_right = #{sphereRight}</if>
            <if test="sphereLeft != null and sphereLeft != ''">and sphere_left = #{sphereLeft}</if>
            <if test="cylinderRight != null and cylinderRight != ''">and cylinder_right = #{cylinderRight}</if>
            <if test="cylinderLeft != null and cylinderLeft != ''">and cylinder_left = #{cylinderLeft}</if>
            <if test="axialRight != null and axialRight != ''">and axial_right = #{axialRight}</if>
            <if test="axialLeft != null and axialLeft != ''">and axial_left = #{axialLeft}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="ptometryNumber != null and ptometryNumber != ''">and ptometry_number = #{ptometryNumber}</if>
        </where>
        order by create_time desc
    </select>
    <!--散瞳前-->
    <select id="optoFrontList" resultType="com.shiguang.optometry.domain.OptometryDO">
        select
        `id`,`member_inumber`,`mydriasis`,`sphere_right`,`sphere_left`,`cylinder_right`,`cylinder_left`,`axial_right`,`axial_left`,`optometry_name`,`create_time`,`ptometry_number`
        from optometry
        where mydriasis=0
        order by id desc
    </select>
    <!--散瞳后-->
    <select id="optoAfterList" resultType="com.shiguang.optometry.domain.OptometryDO">
        select
        `id`,`member_inumber`,`mydriasis`,`sphere_right`,`sphere_left`,`cylinder_right`,`cylinder_left`,`axial_right`,`axial_left`,`optometry_name`,`create_time`,`ptometry_number`
        from optometry
        where mydriasis=1
        order by id desc
    </select>
    <select id="processlist" resultType="com.shiguang.optometry.domain.ProcessAskDO">
        select `id`,`process_num`,`process_name` from process_ask
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="processNum != null and processNum != ''">and process_num = #{processNum}</if>
            <if test="processName != null and processName != ''">and process_name = #{processName}</if>
        </where>
    </select>

</mapper>