<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.storeSales.dao.SalesDao">

	<select id="get" resultType="com.shiguang.storeSales.domain.SalesDO">
		select `id`,`member_number`,`sale_name`,`sale_number`,`eye_type`,`amount_money`,`mirror_way`,`mirror_time`,`miror_address`,`urgent_status`,`goods_rebate`,`fixed_price`,`moling_money`,`additional_cost`,`process_ask`,`store_name`,`store_describe`,`store_unit`,`store_count`,`remark`,`give_name` from store_sales where id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.storeSales.domain.SalesDO">
		select `id`,`member_number`,`sale_name`,`sale_number`,`eye_type`,`amount_money`,`mirror_way`,`mirror_time`,`miror_address`,`store_num`,`urgent_status`,`goods_rebate`,`fixed_price`,`moling_money`,`additional_cost`,`process_ask`,`store_name`,`store_describe`,`store_unit`,`store_count`,`remark`,`give_name` from store_sales
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="memberNumber != null and memberNumber != ''"> and member_number = #{memberNumber} </if>
		  		  <if test="saleName != null and saleName != ''"> and sale_name = #{saleName} </if>
		  		  <if test="saleNumber != null and saleNumber != ''"> and sale_number = #{saleNumber} </if>
		  		  <if test="eyeType != null and eyeType != ''"> and eye_type = #{eyeType} </if>
		  		  <if test="amountMoney != null and amountMoney != ''"> and amount_money = #{amountMoney} </if>
		  		  <if test="mirrorWay != null and mirrorWay != ''"> and mirror_way = #{mirrorWay} </if>
		  		  <if test="mirrorTime != null and mirrorTime != ''"> and mirror_time = #{mirrorTime} </if>
		  		  <if test="mirorAddress != null and mirorAddress != ''"> and miror_address = #{mirorAddress} </if>
		  		  <if test="urgentStatus != null and urgentStatus != ''"> and urgent_status = #{urgentStatus} </if>
		  		  <if test="goodsRebate != null and goodsRebate != ''"> and goods_rebate = #{goodsRebate} </if>
		  		  <if test="fixedPrice != null and fixedPrice != ''"> and fixed_price = #{fixedPrice} </if>
		  		  <if test="molingMoney != null and molingMoney != ''"> and moling_money = #{molingMoney} </if>
		  		  <if test="additionalCost != null and additionalCost != ''"> and additional_cost = #{additionalCost} </if>
		  		  <if test="processAsk != null and processAsk != ''"> and process_ask = #{processAsk} </if>
		  		  <if test="storeName != null and storeName != ''"> and store_name = #{storeName} </if>
		  		  <if test="storeDescribe != null and storeDescribe != ''"> and store_describe = #{storeDescribe} </if>
		  		  <if test="storeUnit != null and storeUnit != ''"> and store_unit = #{storeUnit} </if>
		  		  <if test="storeCount != null and storeCount != ''"> and store_count = #{storeCount} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="giveName != null and giveName != ''"> and give_name = #{giveName} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from store_sales
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="memberNumber != null and memberNumber != ''"> and member_number = #{memberNumber} </if>
		  		  <if test="saleName != null and saleName != ''"> and sale_name = #{saleName} </if>
		  		  <if test="saleNumber != null and saleNumber != ''"> and sale_number = #{saleNumber} </if>
		  		  <if test="eyeType != null and eyeType != ''"> and eye_type = #{eyeType} </if>
		  		  <if test="amountMoney != null and amountMoney != ''"> and amount_money = #{amountMoney} </if>
		  		  <if test="mirrorWay != null and mirrorWay != ''"> and mirror_way = #{mirrorWay} </if>
		  		  <if test="mirrorTime != null and mirrorTime != ''"> and mirror_time = #{mirrorTime} </if>
		  		  <if test="mirorAddress != null and mirorAddress != ''"> and miror_address = #{mirorAddress} </if>
		  		  <if test="urgentStatus != null and urgentStatus != ''"> and urgent_status = #{urgentStatus} </if>
		  		  <if test="goodsRebate != null and goodsRebate != ''"> and goods_rebate = #{goodsRebate} </if>
		  		  <if test="fixedPrice != null and fixedPrice != ''"> and fixed_price = #{fixedPrice} </if>
		  		  <if test="molingMoney != null and molingMoney != ''"> and moling_money = #{molingMoney} </if>
		  		  <if test="additionalCost != null and additionalCost != ''"> and additional_cost = #{additionalCost} </if>
		  		  <if test="processAsk != null and processAsk != ''"> and process_ask = #{processAsk} </if>
		  		  <if test="storeName != null and storeName != ''"> and store_name = #{storeName} </if>
		  		  <if test="storeDescribe != null and storeDescribe != ''"> and store_describe = #{storeDescribe} </if>
		  		  <if test="storeUnit != null and storeUnit != ''"> and store_unit = #{storeUnit} </if>
		  		  <if test="storeCount != null and storeCount != ''"> and store_count = #{storeCount} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="giveName != null and giveName != ''"> and give_name = #{giveName} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shiguang.storeSales.domain.SalesDO" useGeneratedKeys="true" keyProperty="id">
		insert into store_sales
		(
		    `ptometry_number`,
			`member_number`, 
			`sale_name`, 
			`sale_number`,
			`goods_num`,
			`eye_type`, 
			`amount_money`, 
			`mirror_way`, 
			`mirror_time`, 
			`miror_address`,
			`store_num`,
			`urgent_status`, 
			`goods_rebate`, 
			`fixed_price`, 
			`moling_money`, 
			`additional_cost`,
			`additional_price`,
			`additional_count`,
			`process_ask`, 
			`store_name`, 
			`store_describe`, 
			`store_unit`,
			`unit`,
			`store_count`, 
			`remark`,
			`saleremark`,
			`give_name`,
			`peijing_time`,
			`optometry_name`,
			`out_recipel`,
			`recipel_type`,
			`optometrywl_name`,
			`recipelwl_type`,
			`taocan_name`,
			`jp_goods_name`,
			`jj_goods_name`
		)
		values
		(
		    #{ptometryNumber},
			#{memberNumber}, 
			#{saleName}, 
			#{saleNumber},
			#{goodsNum},
			#{eyeType}, 
			#{amountMoney}, 
			#{mirrorWay}, 
			#{mirrorTime}, 
			#{mirorAddress},
			#{storeNum},
			#{urgentStatus}, 
			#{goodsRebate}, 
			#{fixedPrice}, 
			#{molingMoney}, 
			#{additionalCost},
			#{additionalPrice},
			#{additionalCount},
			#{processAsk}, 
			#{storeName}, 
			#{storeDescribe}, 
			#{storeUnit},
			#{unit},
			#{storeCount}, 
			#{remark},
			#{saleremark},
			#{giveName},
			#{peijingTime},
			#{optometryName},
			#{outRecipel},
			#{recipelType},
			#{optometrywlName},
			#{recipelwlType},
			#{taocanName},
			#{jpGoodsName},
			#{jjGoodsName}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.storeSales.domain.SalesDO">
		update store_sales 
		<set>
			<if test="memberNumber != null">`member_number` = #{memberNumber}, </if>
			<if test="saleName != null">`sale_name` = #{saleName}, </if>
			<if test="saleNumber != null">`sale_number` = #{saleNumber}, </if>
			<if test="eyeType != null">`eye_type` = #{eyeType}, </if>
			<if test="amountMoney != null">`amount_money` = #{amountMoney}, </if>
			<if test="mirrorWay != null">`mirror_way` = #{mirrorWay}, </if>
			<if test="mirrorTime != null">`mirror_time` = #{mirrorTime}, </if>
			<if test="mirorAddress != null">`miror_address` = #{mirorAddress}, </if>
			<if test="urgentStatus != null">`urgent_status` = #{urgentStatus}, </if>
			<if test="goodsRebate != null">`goods_rebate` = #{goodsRebate}, </if>
			<if test="fixedPrice != null">`fixed_price` = #{fixedPrice}, </if>
			<if test="molingMoney != null">`moling_money` = #{molingMoney}, </if>
			<if test="additionalCost != null">`additional_cost` = #{additionalCost}, </if>
			<if test="processAsk != null">`process_ask` = #{processAsk}, </if>
			<if test="storeName != null">`store_name` = #{storeName}, </if>
			<if test="storeDescribe != null">`store_describe` = #{storeDescribe}, </if>
			<if test="storeUnit != null">`store_unit` = #{storeUnit}, </if>
			<if test="storeCount != null">`store_count` = #{storeCount}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="giveName != null">`give_name` = #{giveName}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from store_sales where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from store_sales where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="peijinglist" resultType="com.shiguang.storeSales.domain.SalesDO">
		select s.`id`,s.`member_number`,m.`name` as memberName,m.`phone_1` as memberTel,s.`sale_name`,s.`sale_number`,s.`eye_type`,s.`amount_money`,s.`mirror_way`,
		s.`mirror_time`,s.`miror_address`,s.`urgent_status`,s.`goods_rebate`,s.`fixed_price`,s.`moling_money`,s.`additional_cost`,
		s.`process_ask`,s.`store_name`,s.`store_describe`,s.`store_unit`,s.`store_count`,s.`remark`,s.`give_name`
		from store_sales s join member m on m.card_number = s.member_number
		<where>
			<if test="id != null and id != ''"> and s.id = #{id} </if>
			<if test="memberNumber != null and memberNumber != ''"> and s.member_number = #{memberNumber} </if>
			<if test="saleName != null and saleName != ''"> and s.sale_name = #{saleName} </if>
			<if test="saleNumber != null and saleNumber != ''"> and s.sale_number = #{saleNumber} </if>
			<if test="eyeType != null and eyeType != ''"> and s.eye_type = #{eyeType} </if>
			<if test="amountMoney != null and amountMoney != ''"> and s.amount_money = #{amountMoney} </if>
			<if test="mirrorWay != null and mirrorWay != ''"> and s.mirror_way = #{mirrorWay} </if>
			<if test="mirrorTime != null and mirrorTime != ''"> and s.mirror_time = #{mirrorTime} </if>
			<if test="mirorAddress != null and mirorAddress != ''"> and s.miror_address = #{mirorAddress} </if>
			<if test="urgentStatus != null and urgentStatus != ''"> and s.urgent_status = #{urgentStatus} </if>
			<if test="goodsRebate != null and goodsRebate != ''"> and s.goods_rebate = #{goodsRebate} </if>
			<if test="fixedPrice != null and fixedPrice != ''"> and s.fixed_price = #{fixedPrice} </if>
			<if test="molingMoney != null and molingMoney != ''"> and s.moling_money = #{molingMoney} </if>
			<if test="additionalCost != null and additionalCost != ''"> and s.additional_cost = #{additionalCost} </if>
			<if test="processAsk != null and processAsk != ''"> and s.process_ask = #{processAsk} </if>
			<if test="storeName != null and storeName != ''"> and s.store_name = #{storeName} </if>
			<if test="storeDescribe != null and storeDescribe != ''"> and s.store_describe = #{storeDescribe} </if>
			<if test="storeUnit != null and storeUnit != ''"> and s.store_unit = #{storeUnit} </if>
			<if test="storeCount != null and storeCount != ''"> and s.store_count = #{storeCount} </if>
			<if test="remark != null and remark != ''"> and s.remark = #{remark} </if>
			<if test="giveName != null and giveName != ''"> and s.give_name = #{giveName} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="peijingcount" resultType="int">
		select count(*) from store_sales s join member m on m.card_number = s.member_number
		<where>
			<if test="id != null and id != ''"> and s.id = #{id} </if>
			<if test="memberNumber != null and memberNumber != ''"> and s.member_number = #{memberNumber} </if>
			<if test="saleName != null and saleName != ''"> and s.sale_name = #{saleName} </if>
			<if test="saleNumber != null and saleNumber != ''"> and s.sale_number = #{saleNumber} </if>
			<if test="eyeType != null and eyeType != ''"> and s.eye_type = #{eyeType} </if>
			<if test="amountMoney != null and amountMoney != ''"> and s.amount_money = #{amountMoney} </if>
			<if test="mirrorWay != null and mirrorWay != ''"> and s.mirror_way = #{mirrorWay} </if>
			<if test="mirrorTime != null and mirrorTime != ''"> and s.mirror_time = #{mirrorTime} </if>
			<if test="mirorAddress != null and mirorAddress != ''"> and s.miror_address = #{mirorAddress} </if>
			<if test="urgentStatus != null and urgentStatus != ''"> and s.urgent_status = #{urgentStatus} </if>
			<if test="goodsRebate != null and goodsRebate != ''"> and s.goods_rebate = #{goodsRebate} </if>
			<if test="fixedPrice != null and fixedPrice != ''"> and s.fixed_price = #{fixedPrice} </if>
			<if test="molingMoney != null and molingMoney != ''"> and s.moling_money = #{molingMoney} </if>
			<if test="additionalCost != null and additionalCost != ''"> and s.additional_cost = #{additionalCost} </if>
			<if test="processAsk != null and processAsk != ''"> and s.process_ask = #{processAsk} </if>
			<if test="storeName != null and storeName != ''"> and s.store_name = #{storeName} </if>
			<if test="storeDescribe != null and storeDescribe != ''"> and s.store_describe = #{storeDescribe} </if>
			<if test="storeUnit != null and storeUnit != ''"> and s.store_unit = #{storeUnit} </if>
			<if test="storeCount != null and storeCount != ''"> and s.store_count = #{storeCount} </if>
			<if test="remark != null and remark != ''"> and s.remark = #{remark} </if>
			<if test="giveName != null and giveName != ''"> and s.give_name = #{giveName} </if>
		</where>
	</select>

	<!-- 根据会员卡号查询数据 -->
	<select id="findDataByNumber" resultType="com.shiguang.storeSales.domain.SalesDO">
				select `id`,`member_number`,`sale_name`,`sale_number`,`eye_type`,`amount_money`,`mirror_way`,`mirror_time`,`miror_address`,`urgent_status`,`goods_rebate`,`fixed_price`,`moling_money`,`additional_cost`,`process_ask`,`store_name`,`store_describe`,`store_unit`,`store_count`,`remark`,`give_name`
				from store_sales
				<where>
					<if test="cardNumber != null and cardNumber != ''">and member_number = #{cardNumber}</if>
					<if test="dateTime != null and dateTime != ''">and mirror_time = #{dateTime}</if>
				</where>
	</select>

	<!-- 取镜方式 -->
	<select id="findWay" resultType="com.shiguang.storeSales.domain.EyesWay" >
		select `id`,`way_num`,`eye_way` from eyesway
	</select>
	<!-- 查询自片和自架 -->
	<select id="findZpian" resultType="com.shiguang.storeSales.domain.ZipianDO">
		select `id`,`produc_num`,`produc_name`,`retail_price`,`sph`,`cyl`,`lightbelow`,`refractivity`,`light`,`lens` from zipian
	</select>
	<select id="countZpian" resultType="int">
		select count(*) from zipian
	</select>
	<select id="findZjia" resultType="com.shiguang.storeSales.domain.ZijiaDO">
		select `id`,`produc_num`,`produc_code`,`produc_name`,`produc_factory`,`retail_price`,`produc_color` from zijia
	</select>
	<select id="countZjia" resultType="int">
		select count(*) from zijia
	</select>
	<select id="findAll" resultType="com.shiguang.storeSales.domain.Conclusion">
		SELECT
		cardNumber,ptometryNum,createTime,chufangType,yangsName,rightsph,leftsph,rightcyl,leftcyl,rightzx,leftzx,rightprism,leftprism,rightjd,leftjd,
		rightyytj,leftyytj,righttg,lefttg,rightva,leftva,rightsyjp,leftsyjp,rightunit,leftunit,rightjytj,leftjytj,rightjyva,leftjyva,rightqgd,leftqgd,
		rightbc,leftbc,rightdia,leftdia,rightsg,leftsg,righttssj,lefttssj,rightrgpsyjp,leftrgpsyjp
		from
		(SELECT
		r.card_number as cardNumber,
		r.ptometry_number AS ptometryNum,
		r.create_time AS createTime,
		k.kjjy_prescription_type AS chufangType,
		k.kjjy_optometry_name AS yangsName,
		k.kjjy_sphod AS rightsph,
		k.kjjy_sphos AS leftsph,
		k.kjjy_cylod AS rightcyl,
		k.kjjy_cylos AS leftcyl,
		k.kjjy_axialod AS rightzx,
		k.kjjy_axialos AS leftzx,
		k.kjjy_prismod AS rightprism,
		k.kjjy_prismos AS leftprism,
		k.kjjy_jdod AS rightjd,
		k.kjjy_jdos AS leftjd,
		k.kjjy_yytjod AS rightyytj,
		k.kjjy_yytjos AS leftyytj,
		k.kjjy_tgod AS righttg,
		k.kjjy_tgos AS lefttg,
		k.kjjy_vaod AS rightva,
		k.kjjy_vaos AS leftva,
		'' AS rightsyjp,
		'' AS leftsyjp,
		'' AS rightunit,
		'' AS leftunit,
		'' AS rightjytj,
		'' AS leftjytj,
		'' AS rightjyva,
		'' AS leftjyva,
		'' as rightqgd,
		'' as leftqgd,
		'' as rightbc,
		'' as leftbc,
		'' as rightdia,
		'' as leftdia,
		'' as rightsg,
		'' as leftsg,
		'' as righttssj,
		'' as lefttssj,
		'' as rightrgpsyjp,
		'' as leftrgpsyjp
		FROM
		jc_kjjy k
		LEFT JOIN jc_result r ON k.card_number = r.card_number
		UNION
		SELECT
		r.card_number as cardNumber,
		r.ptometry_number AS ptometryNum,
		r.create_time AS createTime,
		ky.kjyy_prescription_type AS chufangType,
		ky.kjyy_optometry_name AS yangsName,
		ky.kjyy_sphod AS rightsph,
		ky.kjyy_sphos AS leftsph,
		ky.kjyy_cylod AS rightcyl,
		ky.kjyy_cylos AS leftcyl,
		ky.kjyy_axialod AS rightzx,
		ky.kjyy_axialos AS leftzx,
		ky.kjyy_prismod AS rightprism,
		ky.kjyy_prismos AS leftprism,
		ky.kjyy_jdod AS rightjd,
		ky.kjyy_jdos AS leftjd,
		ky.kjyy_yytjod AS rightyytj,
		ky.kjyy_yytjos AS leftyytj,
		ky.kjyy_tgod AS righttg,
		ky.kjyy_tgos AS lefttg,
		ky.kjyy_vaod AS rightva,
		ky.kjyy_vaos AS leftva,
		'' AS rightsyjp,
		'' AS leftsyjp,
		'' AS rightunit,
		'' AS leftunit,
		'' AS rightjytj,
		'' AS leftjytj,
		'' AS rightjyva,
		'' AS leftjyva,
		'' as rightqgd,
		'' as leftqgd,
		'' as rightbc,
		'' as leftbc,
		'' as rightdia,
		'' as leftdia,
		'' as rightsg,
		'' as leftsg,
		'' as righttssj,
		'' as lefttssj,
		'' as rightrgpsyjp,
		'' as leftrgpsyjp
		FROM
		jc_kjyy ky
		LEFT JOIN  jc_result r ON ky.card_number = r.card_number
		UNION
		SELECT
		r.card_number as cardNumber,
		r.ptometry_number AS ptometryNum,
		r.create_time AS createTime,
		sg.sgjj_prescription_type AS chufangType,
		sg.sgjj_optometry_name AS yangsName,
		sg.sgjj_sphod AS rightsph,
		sg.sgjj_sphos AS leftsph,
		sg.sgjj_cylod AS rightcyl,
		sg.sgjj_cylos AS leftcyl,
		sg.sgjj_axialod AS rightzx,
		sg.sgjj_axialos AS leftzx,
		'' AS rightprism,
		'' AS leftprism,
		'' AS rightjd,
		'' AS leftjd,
		sg.sgjj_yytjod AS rightyytj,
		sg.sgjj_yytjos AS leftyytj,
		sg.sgjj_tgod AS righttg,
		sg.sgjj_tgos AS lefttg,
		sg.sgjj_yyvaod AS rightva,
		sg.sgjj_yyvaos AS leftva,
		'' AS rightsyjp,
		'' AS leftsyjp,
		'' AS rightunit,
		'' AS leftunit,
		sg.sgjj_jytjod AS rightjytj,
		sg.sgjj_jytjos AS leftjytj,
		sg.sgjj_jyvaod AS rightjyva,
		sg.sgjj_jyvaos AS leftjyva,
		'' as rightqgd,
		'' as leftqgd,
		'' as rightbc,
		'' as leftbc,
		'' as rightdia,
		'' as leftdia,
		'' as rightsg,
		'' as leftsg,
		'' as righttssj,
		'' as lefttssj,
		'' as rightrgpsyjp,
		'' as leftrgpsyjp
		FROM
		jc_sgjj sg
		LEFT JOIN jc_result r ON sg.card_number = r.card_number
		UNION
		SELECT
		r.card_number as cardNumber,
		r.ptometry_number AS ptometryNum,
		r.create_time AS createTime,
		z.zy_prescription_type AS chufangType,
		z.zy_optometry_name AS yangsName,
		z.zy_sphod AS rightsph,
		z.zy_sphos AS leftsph,
		z.zy_cylod AS rightcyl,
		z.zy_cylos AS leftcyl,
		z.zy_axialod AS rightzx,
		z.zy_axialos AS leftzx,
		z.zy_prismod AS rightprism,
		z.zy_prismos AS leftprism,
		z.zy_jdod AS rightjd,
		z.zy_jdos AS leftjd,
		z.zy_zytjod AS rightyytj,
		z.zy_zytjos AS leftyytj,
		z.zy_tgod AS righttg,
		z.zy_tgos AS lefttg,
		z.zy_vaod AS rightva,
		z.zy_vaos AS leftva,
		'' AS rightsyjp,
		'' AS leftsyjp,
		'' AS rightunit,
		'' AS leftunit,
		'' AS rightjytj,
		'' AS leftjytj,
		'' AS rightjyva,
		'' AS leftjyva,
		'' as rightqgd,
		'' as leftqgd,
		'' as rightbc,
		'' as leftbc,
		'' as rightdia,
		'' as leftdia,
		'' as rightsg,
		'' as leftsg,
		'' as righttssj,
		'' as lefttssj,
		'' as rightrgpsyjp,
		'' as leftrgpsyjp
		FROM
		jc_zy z
		LEFT JOIN jc_result r ON z.card_number = r.card_number
		UNION
		SELECT
		r.card_number as cardNumber,
		r.ptometry_number AS ptometryNum,
		r.create_time AS createTime,
		x.rx_prescription_type AS chufangType,
		x.rx_optometry_name AS yangsName,
		x.rx_sphod AS rightsph,
		x.rx_sphos AS leftsph,
		x.rx_cylod AS rightcyl,
		x.rx_cylos AS leftcyl,
		x.rx_axialod AS rightzx,
		x.rx_axialos AS leftzx,
		'' AS rightprism,
		'' AS leftprism,
		'' AS rightjd,
		'' AS leftjd,
		'' AS rightyytj,
		'' AS leftyytj,
		'' AS righttg,
		'' AS lefttg,
		x.rx_vaod AS rightva,
		x.rx_vaos AS leftva,
		x.rx_syjpod AS rightsyjp,
		x.rx_syjpos AS leftsyjp,
		x.rx_unitod AS rightunit,
		x.rx_unitos AS leftunit,
		'' AS rightjytj,
		'' AS leftjytj,
		'' AS rightjyva,
		'' AS leftjyva,
		'' as rightqgd,
		'' as leftqgd,
		'' as rightbc,
		'' as leftbc,
		'' as rightdia,
		'' as leftdia,
		'' as rightsg,
		'' as leftsg,
		'' as righttssj,
		'' as lefttssj,
		'' as rightrgpsyjp,
		'' as leftrgpsyjp
		FROM
		jc_rxjmjcj x
		LEFT JOIN jc_result r ON x.card_number = r.card_number
		UNION
		SELECT
		r.card_number as cardNumber,
		r.ptometry_number AS ptometryNum,
		r.create_time AS createTime,
		sx.sjxl_prescription_type AS chufangType,
		sx.sjxl_optometry_name AS yangsName,
		sx.sjxl_sphod AS rightsph,
		sx.sjxl_sphos AS leftsph,
		sx.sjxl_cylod AS rightcyl,
		sx.sjxl_cylos AS leftcyl,
		sx.sjxl_axialod AS rightzx,
		sx.sjxl_axialos AS leftzx,
		sx.sjxl_sljod AS rightprism,
		sx.sjxl_sljos AS leftprism,
		sx.sjxl_jdod AS rightjd,
		sx.sjxl_jdos AS leftjd,
		sx.sjxl_yytjod AS rightyytj,
		sx.sjxl_yytjos AS leftyytj,
		'' AS righttg,
		'' AS lefttg,
		sx.sjxl_yyvaod AS rightva,
		sx.sjxl_yyvaos AS leftva,
		'' AS rightsyjp,
		'' AS leftsyjp,
		'' AS rightunit,
		'' AS leftunit,
		sx.sjxl_jytjod AS rightjytj,
		sx.sjxl_jytjos AS leftjytj,
		sx.sjxl_jyvaod AS rightjyva,
		sx.sjxl_jyvaos AS leftjyva,
		'' as rightqgd,
		'' as leftqgd,
		'' as rightbc,
		'' as leftbc,
		'' as rightdia,
		'' as leftdia,
		'' as rightsg,
		'' as leftsg,
		'' as righttssj,
		'' as lefttssj,
		'' as rightrgpsyjp,
		'' as leftrgpsyjp
		FROM
		jc_sjxl sx
		LEFT JOIN jc_result r ON sx.card_number = r.card_number
		UNION
		SELECT
		r.card_number as cardNumber,
		r.ptometry_number AS ptometryNum,
		r.create_time AS createTime,
		rg.rgp_prescription_type AS chufangType,
		rg.rgp_optometry_name AS yangsName,
		'' AS rightsph,
		'' AS leftsph,
		'' AS rightcyl,
		'' AS leftcyl,
		'' AS rightzx,
		'' AS leftzx,
		'' AS rightprism,
		'' AS leftprism,
		'' AS rightjd,
		'' AS leftjd,
		'' AS rightyytj,
		'' AS leftyytj,
		'' AS righttg,
		'' AS lefttg,
		'' AS rightva,
		'' AS leftva,
		'' AS rightsyjp,
		'' AS leftsyjp,
		'' AS rightunit,
		'' AS leftunit,
		'' AS rightjytj,
		'' AS leftjytj,
		'' AS rightjyva,
		'' AS leftjyva,
		rg.rgp_qgdod as rightqgd,
		rg.rgp_qgdos as leftqgd,
		rg.rgp_bcod as rightbc,
		rg.rgp_bcos as leftbc,
		rg.rgp_diaod as rightdia,
		rg.rgp_diaos as leftdia,
		rg.rgp_sgod as rightsg,
		rg.rgp_sgos as leftsg,
		rg.rgp_tssjod as righttssj,
		rg.rgp_tssjos as lefttssj,
		rg.rgp_syjpod as rightrgpsyjp,
		rg.rgp_syjpos as leftrgpsyjp
		FROM
		jc_rgp rg
		LEFT JOIN jc_result r ON rg.card_number = r.card_number
		) aia
		<where>
			<if test="cardNumber != null and cardNumber != ''"> and cardNumber = #{cardNumber}</if>
		</where>
		ORDER BY createTime desc
	</select>
	<select id="getSaleNumber" resultType="com.shiguang.storeSales.domain.SalesDO">
		select s.`id`,s.`ptometry_number`,s.`member_number`,m.`name` as memberName,m.`sex`,m.`age`,m.`phone_1` as phone1,s.`sale_name`,s.`sale_number`,s.`eye_type`,s.`amount_money`,s.`mirror_way`,s.`mirror_time`,
		s.`miror_address`,s.`store_num`,s.`urgent_status`,s.`goods_rebate`,s.`fixed_price`,s.`moling_money`,s.`additional_cost`,s.`process_ask`,
		s.`store_name`,s.`store_describe`,s.`store_unit`,s.`store_count`,s.`remark`,s.`saleremark`,s.`give_name`,s.`peijing_time`,s.`optometry_name`,s.`out_recipel`,
		s.`recipel_type`,s.`optometrywl_name`,s.`recipelwl_type`,s.`taocan_name`,s.`additional_price`,s.`additional_count`
		from store_sales s
		join member m on s.member_number = m.card_number
		where sale_number = #{value}
	</select>
</mapper>