<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
																																			<div class="form-group">	
								<label class="col-sm-3 control-label">顾客姓名：</label>
								<div class="col-sm-8">
									<input id="name" name="name"  type="text">
									<span style="color: red">*</span>
								</div>
							</div>
							<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">会员选项：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<label class="radio-inline"> <input type="radio"-->
																		 <!--name="memberOption" value="0" checked onchange="getMember(this.value)"/> 普通会员-->
									<!--</label>-->
									<!--<label class="radio-inline"> <input type="radio"-->
																		 <!--name="memberOption" value="1" onchange="getMember(this.value)"/> 自动生成-->
									<!--</label>-->
								<!--</div>-->
							<!--</div>-->
																												<div class="form-group">	
								<label class="col-sm-3 control-label">会员卡号：</label>
								<div class="col-sm-8" id="tab1">
									<input id="cardNumber" name="cardNumber" style="display: block" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">证件类型：</label>
								<div class="col-sm-8">
									<select class="form-control" name="identityType" id="identityType" class="form-control">
										<option value="居民身份证">居民身份证</option>
										<option value="机动车驾驶证">机动车驾驶证</option>
										<option value="台湾居民来往大陆通行证">台湾居民来往大陆通行证</option>
										<option value="中国人民解放军军人证">中国人民解放军军人证</option>
										<option value="中国人民武装警察身份证">中国人民武装警察身份证</option>
										<option value="护照">护照</option>
										<option value="户口本">户口本</option>
									</select>
									<span style="color: red">*</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">联系人证件号码：</label>
								<div class="col-sm-8">
									<input id="identityId" name="identityId" class="form-control" type="text">
									<span style="color: red">*</span>
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">顾客性别：</label>
								<div class="col-sm-8">
									<label class="radio-inline"> <input type="radio" id="sex1"
																		name="sex" value="0" /> 男
									</label>
									<label class="radio-inline"> <input type="radio" id="sex2"
																		name="sex" value="1" /> 女
									</label>
									<span style="color: red">*</span>
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">出生日期：</label>
								<div class="col-sm-8">
									<input id="birthdayYear" name="birthdayYear" style="width: 20%"  type="text" class="et-name">
									<input id="birthdayMonth" name="birthdayMonth" style="width: 10%" type="text">
									<input id="birthdayDay" name="birthdayDay" style="width: 10%" type="text">
									<span style="color: red">*</span>
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">年龄：</label>
								<div class="col-sm-8">
									<input id="age" name="age"  type="text">
								</div>
							</div>

																												<div class="form-group">	
								<label class="col-sm-3 control-label">联系电话1：</label>
								<div class="col-sm-8">
									<input id="phone1" name="phone1" style="display: inline" type="text">
									<span style="display: inline;color: red">*留存手机号才可以使用微信，短信功能</span>
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">联系电话2：</label>
								<div class="col-sm-8">
									<input id="phone2" name="phone2"  type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">联系电话3：</label>
								<div class="col-sm-8">
									<input id="phone3" name="phone3"  type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">地区(3级)：</label>
									<div class="col-sm-8 form-inline" data-toggle="distpicker">
										<select id="eprovinceName" name="provinceName" class="form-control chosen-select" ></select>
										<select id="ecityName"  name="cityName" class="form-control chosen-select" ></select>
										<select id="eareaName" name="areaName" class="form-control chosen-select" ></select>
										<span style="color: red">*</span>
									</div>
								</div>
							<input id="provinceCode" name="provinceCode" class="form-control" type="hidden">
							<input id="provinceName" name="provinceName" class="form-control" type="hidden">
							<input id="cityCode" name="cityCode" class="form-control" type="hidden">
							<input id="cityName" name="cityName" class="form-control" type="hidden">
							<input id="areaCode" name="areaCode" class="form-control" type="hidden">
							<input id="areaName" name="areaName" class="form-control" type="hidden">
																												<div class="form-group">	
								<label class="col-sm-3 control-label">会员卡类型：</label>
								<div class="col-sm-8">
									<select name="cardType" id="cardType"  data-actions-box="false" data-size="5">
										<option></option>
										<option th:each="ls:${cardTypeDOList}"
												th:text="${ls.cardName}"
												th:value="${ls.cardName}"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">保存</button>
								</div>
							</div>
						</form>
						<!--<h2 style="color: red; text-align: center">以下为可选项</h2>-->
							<!--<form class="form-horizontal m-t" id="signupForms">-->
																												<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">主卡：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="masterCard" name="masterCard" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
																												<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">姓名：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="minorName" name="minorName" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
																												<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">人群分类：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<select name="crowdType" id="crowdType"  data-actions-box="false" data-size="5">-->
										<!--<option></option>-->
										<!--<option th:each="ls:${personSortDOList}"-->
												<!--th:text="${ls.crowdName}"-->
												<!--th:value="${ls.crowdName}"></option>-->
									<!--</select>-->
								<!--</div>-->
							<!--</div>-->
																												<!--&lt;!&ndash;<div class="form-group">	&ndash;&gt;-->
								<!--&lt;!&ndash;<label class="col-sm-3 control-label">专属客服：</label>&ndash;&gt;-->
								<!--&lt;!&ndash;<div class="col-sm-8">&ndash;&gt;-->
									<!--&lt;!&ndash;<input id="exclusiveCustomer" name="exclusiveCustomer" class="form-control" type="text">&ndash;&gt;-->
									<!--&lt;!&ndash;<input id="exclusiveCustomerId" name="exclusiveCustomerId" class="form-control" type="hidden">&ndash;&gt;-->
								<!--&lt;!&ndash;</div>&ndash;&gt;-->
							<!--&lt;!&ndash;</div>&ndash;&gt;-->
																												<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">证件类型：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<select class="form-control" name="identityType" id="identityType" >-->
										<!--<option value="">请选择</option>-->
										<!--<option value="居民身份证">居民身份证</option>-->
										<!--<option value="机动车驾驶证">机动车驾驶证</option>-->
										<!--<option value="台湾居民来往大陆通行证">台湾居民来往大陆通行证</option>-->
										<!--<option value="中国人民解放军军人证">中国人民解放军军人证</option>-->
										<!--<option value="中国人民武装警察身份证">中国人民武装警察身份证</option>-->
										<!--<option value="护照">护照</option>-->
										<!--<option value="户口本">户口本</option>-->
									<!--</select>-->
								<!--</div>-->
							<!--</div>-->
																												<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">联系人证件号码：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="identityId" name="identityId" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
																												<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">职业：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<select name="vocation" id="vocation"  data-actions-box="false" data-size="5">-->
										<!--<option></option>-->
										<!--<option th:each="ls:${vocationDOList}"-->
												<!--th:text="${ls.vocationName}"-->
												<!--th:value="${ls.vocationName}"></option>-->
									<!--</select>-->
								<!--</div>-->
							<!--</div>-->
																												<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">学校：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="school" name="school" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
																												<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">QQ号码：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="qqNumber" name="qqNumber" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
																												<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">E-Mail：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="e-mail" name="e-mail" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
																												<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">地址：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="address" name="address" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
																												<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">邮编：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="postalCode" name="postalCode" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
																												<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">兴趣爱好：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<select name="interests" id="interests" multiple class="selectpicker form-control"  onchange="changeInterest()" >-->
										<!--<option></option>-->
										<!--<option th:each="ls:${interestDOList}"-->
												<!--th:text="${ls.imterestName}"-->
												<!--th:value="${ls.imterestName}"></option>-->
									<!--</select>-->
									<!--<input id="interest" name="interest" class="form-control" type="hidden">-->
								<!--</div>-->
							<!--</div>-->
																												<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">来源：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<select name="source" id="source"  data-actions-box="false" data-size="5">-->
										<!--<option></option>-->
										<!--<option th:each="ls:${sourceDOList}"-->
												<!--th:text="${ls.sourceName}"-->
												<!--th:value="${ls.sourceName}"></option>-->
									<!--</select>-->
								<!--</div>-->
							<!--</div>-->
																												<!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
								<!--&lt;!&ndash;<label class="col-sm-3 control-label">积分密码：</label>&ndash;&gt;-->
								<!--&lt;!&ndash;<div class="col-sm-8">&ndash;&gt;-->
									<!--&lt;!&ndash;<input id="integralPasd" name="integralPasd" class="form-control" type="text">&ndash;&gt;-->
								<!--&lt;!&ndash;</div>&ndash;&gt;-->
							<!--&lt;!&ndash;</div>&ndash;&gt;-->
																												<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">备注：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="remark" name="remark" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->

																					<!--<div class="form-group">-->
								<!--<div class="col-sm-8 col-sm-offset-3">-->
									<!--<button type="submit" class="btn btn-primary">保存</button>-->
								<!--</div>-->
							<!--</div>-->
						<!--</form>-->
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/member/add.js">
	</script>
	<script type="text/javascript">
        $().ready(function(){
            function onSuccess(data){
                document.getElementById("result").value = "提示:" + data.match("\"errorMsg\" : (.*)")[1] + "\n返回值：" + data.match("\"resultFlag\" : (.*)")[1];
            }

            clearForm();
            var options=new Object();
            options.type="GET";
            //options.url = "/OpenDevice";
            options.url = "http://127.0.0.1:19196/OpenDevice" + "&" + "t=" + Math.random();		//URL后面加一个随机参数的目的是为了防止IE内核浏览器的数据缓存
            options.timeout=5000;
            options.onSuccess=onSuccess;
            ajax(options);
        })

        function readCert() {
            function onSuccess(data){
                var endDt = new Date();
                // document.getElementById("timeElapsed").value = (endDt.getTime() - startDt.getTime()) + "毫秒";
                // var errorMsg = data.match("\"errorMsg\" : (.*)")[1];
                // var resultFlag = data.match("\"resultFlag\" : (.*)")[1];
                // document.getElementById("result").value = "提示:" + errorMsg + "\n返回值：" + resultFlag;

                var identityType = data.match("\"identityType\" : \"(.*?)\"")[1];
                if(identityType == " ")
                {
                    identityType = "身份证";
                }
                else if(identityType == "I")
                {
                    identityType = "外国人居住证";
                }
                else if(identityType == "J")
                {
                    identityType = "港澳台居住证";
                }
                else
                {
                    identityType = "未知";
                }
                document.getElementById("identityType").value = identityType;

                document.getElementById("name").value = data.match("\"name\" : \"(.*?)\"")[1];
                // document.getElementById("gender").value = data.match("\"gender\" : \"(.*?)\"")[1];
                // document.getElementById("nation").value = data.match("\"nation\" : \"(.*?)\"")[1];
                var birthday = data.match("\"bornDay\" : \"(.*?)\"")[1];
                var year = birthday.splice(0,4);
                var month = birthday.splice(4,6);
                var day = birthday.splice(6,8);
                document.getElementById("birthdayYear").value = year;
                getAge(year);
                document.getElementById("birthdayMonth").value = month;
                document.getElementById("birthdayDay").value = day;
                // document.getElementById("certAddress").value = data.match("\"certAddress\" : \"(.*?)\"")[1];
                // document.getElementById("certNumber").value = data.match("\"certNumber\" : \"(.*?)\"")[1];
                // document.getElementById("certOrg").value = data.match("\"certOrg\" : \"(.*?)\"")[1];
                // document.getElementById("effDate").value = data.match("\"effDate\" : \"(.*?)\"")[1];
                // document.getElementById("expDate").value = data.match("\"expDate\" : \"(.*?)\"")[1];
                // document.all['PhotoDisplay'].src = 'data:image/jpeg;base64,' + data.match("\"identityPic\" : \"(.*?)\"")[1];
            }
            clearForm();

            var startDt = new Date();
            var options=new Object();
            options.type="GET";
            //options.url="readcard";
            options.url = "http://127.0.0.1:19196/readcard" + "&" + "t=" + Math.random();	//URL后面加一个随机参数的目的是为了防止IE内核浏览器的数据缓存
            options.timeout=5000;
            options.onSuccess=onSuccess;
            ajax(options);
        }

        function disconnect(){

            function onSuccess(data){
                document.getElementById("result").value = "提示:" + data.match("\"errorMsg\" : (.*)")[1] + "\n返回值：" + data.match("\"resultFlag\" : (.*)")[1];
            }

            clearForm();

            var options=new Object();
            options.type="GET";
            //options.url="CloseDevice";
            options.url = "http://127.0.0.1:19196/CloseDevice" + "&" + "t=" + Math.random();	//URL后面加一个随机参数的目的是为了防止IE内核浏览器的数据缓存
            options.timeout=5000;
            options.onSuccess=onSuccess;
            ajax(options);
        }

        function clearForm() {
            document.getElementById("identityType").value = "";
            document.getElementById("name").value = "";
            document.getElementById("birthdayYear").value = "";
            document.getElementById("birthdayMonth").value = "";
            document.getElementById("birthdayDay").value = "";
            // document.getElementById("gender").value = "";
            // document.getElementById("nation").value = "";
            // document.getElementById("bornDay").value = "";
            // document.getElementById("certAddress").value = "";
            // document.getElementById("certNumber").value = "";
            // document.getElementById("certOrg").value = "";
            // document.getElementById("effDate").value = "";
            // document.getElementById("expDate").value = "";
            // document.getElementById("result").value = "";
        }

        function ajax(options) {
            if(options.type==null)
            {
                options.type="POST";
            }

            if(options.url==null)
            {
                options.url="";
            }

            if(options.timeout==null)
            {
                options.timeout=5000;
            }

            if(options.onComplate==null)
            {
                options.onComplate=function()
                {
                }
            }

            if(options.onError==null)
            {
                options.onError=function()
                {
                }
            }

            if(options.onSuccess==null)
            {
                options.onSuccess=function()
                {
                }
            }

            if(options.data)
            {
                options.data="";
            }

            var xml ;
            if (typeof ActiveXObject != 'undefined') {
                var aVersions = ["Microsoft.XMLHTTP", "Msxml2.XMLHttp.6.0", "Msxml2.XMLHttp.5.0", "Msxml2.XMLHttp.4.0", "Msxml2.XMLHttp.3.0"];
                for (var i = 0; i < aVersions.length; i++) {
                    try {
                        xml = new ActiveXObject(aVersions[i]);
                    }catch (e) {}
                }
            } else if (typeof XMLHttpRequest != 'undefined'){
                xml = new XMLHttpRequest();
            }

            xml.open(options.type, options.url, true);

            var timeoutLength = options.timeout;

            var requestDone = false;

            setTimeout(function() {
                requestDone = true;
            }, timeoutLength);

            xml.onreadystatechange = function() {

                if (xml.readyState == 4 && !requestDone) {

                    if (httpSuccess(xml)) {

                        options.onSuccess(httpData(xml));
                    }

                    else {
                        options.onError();
                    }

                    options.onComplate();

                    xml = null;
                }
            };

            xml.send();

            function httpSuccess(r) {
                try {
                    return !r.status && location.protocol == "file:"
                        ||
                        (r.status >= 200 && r.status <= 300)
                        ||
                        r.status == 304
                        ||

                        navigator.userAgent.indexOf("Safari") >= 0
                        && typeof r.status == "undefined";
                } catch (e) {
                }
                return false;
            }

            function httpData(r) {
                var ct = r.getResponseHeader("responseType");
                if(ct)
                {
                    if(ct=="script")
                    {
                        eval.call(window, data);
                    }
                    if(ct=="xml")
                    {
                        return r.responseXML;
                    }
                    if(ct=="json")
                    {
                        return JSON.parse(r.responseText);
                    }
                }
                return r.responseText;
            }
        }

        $("#identityId").blur(function(){
            //获取输入身份证号码
            var UUserCard = $('#identityId').val();
            if(UUserCard != null){
                //获取出生日期
				$("#birthdayYear").val(UUserCard.substring(6, 10));
				$("#birthdayMonth").val(UUserCard.substring(10, 12));
                $("#birthdayDay").val(UUserCard.substring(12, 14));
                //UUserCard.substring(6, 10) + "-" + UUserCard.substring(10, 12) + "-" + UUserCard.substring(12, 14);
                //获取性别
                if (parseInt(UUserCard.substr(16, 1)) % 2 == 1) {
                    document.getElementById('sex1').checked=true
                    //是男则执行代码 ...
                } else {
                    document.getElementById('sex2').checked=true
                    //是女则执行代码 ...
                }
                //获取年龄
                var myDate = new Date();
                var month = myDate.getMonth() + 1;
                var day = myDate.getDate();
                var age = myDate.getFullYear() - UUserCard.substring(6, 10) - 1;
                if (UUserCard.substring(10, 12) < month || UUserCard.substring(10, 12) == month && UUserCard.substring(12, 14) <= day) {
                    age++;
                }
                $("#age").val(age);
                //年龄 age
            }
        })


        laydate.render({
            elem: '#birthdayYear',
            format: 'yyyy',
            type: 'year',
            done:function(value,data){
                getAge(value)
            }
        });
        laydate.render({
            elem: '#birthdayMonth',
            format: 'MM',
            type: 'month'
        });
        laydate.render({
            elem: '#birthdayDay',
			format: 'dd',
            type: 'date'
        });
        // $("#birthdayYear").on("click",function(){
        //     var birthyear = $("#birthdayYear").val()
        //     alert(birthyear);
        // });
        $(".et-name").bind("input birthdayYear", function () {
            alert($(".et-name").val());
        });
        function getAge(obj){
            // alert(data);
            // var birthyear = $("#birthdayYear").val()
			// alert(birthyear);
            if(obj==null)return   "请输入出生日期";
            var date = new Date();
            var year = date.getFullYear();
            var userage= year - obj;
            $("#age").val(userage)
            return false;
        }
        function changeInterest() {
			var interester =[];
			var obj = document.getElementById("interests");
			for (var i=0;i<obj.options.length;i++){
                if(obj.options[i].selected){
                    interester.push(obj.options[i].value);// 收集选中项
                }
			}
			$("#interest").val(interester)
        }
        function getMember(value) {
			if (value == 0){
                tab1.style="display: block";
			} else if (value == 1){
                tab1.style="display: none";
			}
        }
	</script>
</body>
</html>
