<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>耗材</title>
    <link rel="stylesheet" href="/css/css.css" type="text/css">
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
    <link rel="stylesheet" href="/css/font-awesome.css" type="text/css">
    <style type="text/css">
        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .btn-primary {
            background-color: #1ab394;
            border-color: #1ab394;
            color: #FFFFFF;
        }

        .btn-warning {
            background-color: #f8ac59;
            border-color: #f8ac59;
            color: #FFFFFF;
        }

        .btn-success {
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
        }
    </style>
</head>
<body>
<div class="spxxwh">
    <div class="new_h4 fl">商品信息维护</div>
    <div class="Xbtn HspxxBtn fr">
        <!--<input type="button" value="批量导入模板下载" />-->
        <!--<input type="button" value="导出商品" />-->
        <input onclick="add()" type="button" value="耗材类新增"/>
        <!--<input type="button" value="镜架类批量新增" />-->
        <!--<input type="button" value="显隐查询条件" />-->
    </div>
</div>

<div class="topTab m40">
    <input id="goodsid" name="goodsid" value="8" type="hidden"/>
    <ul>
        <li><a href="../product/produca">镜架</a></li>
        <li><a href="../product/parts">配件</a></li>
        <li><a href="../product/jpcp">镜片（成品片）</a></li>
        <li><a href="../product/jpdz">镜片（订做片）</a></li>
        <li><a href="../product/yxcp">隐形（成品片）</a></li>
        <li><a href="../product/yxdz">隐形（订做片）</a></li>
        <li><a href="../product/hly">护理液</a></li>
        <li><a href="../product/tyj">太阳镜</a></li>
        <li><a href="../product/oldlens">老花镜</a></li>
        <li class="on"><a href="../product/hc">耗材</a></li>
        <li><a href="../product/shiguang">视光</a></li>
    </ul>
</div>

<!--查询条件-->
<div class="m40 tabS msgBox">
    <h3>查询条件</h3>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>商品代码</td>
            <td><input id="producNum" name="producNum" type="text"></td>
            <td>商品名称</td>
            <td>
                <input id="producName" name="producName" type="text"/>
            </td>
            <td>制造商：</td>
            <td>
                <input id="mfrsid" name="mfrsid" type="hidden" value=""/>
                <input id="mfrsname" name="mfrsname" type="text" readonly style="background-color: #e4e4e4" />
                <input type="button" class="XZ-btn" value="选择" onclick="choiceMfrs()"/>
            </td>
        </tr>
        <tr>
            <td>商品品种</td>
            <td>
                <input id="brandname" name="brandname" type="text" readonly style="background-color: #e4e4e4" />
                <input type="button" class="XZ-btn" value="选择" onclick="choiceBrand()"/>
            </td>
            <td>标准零售价格</td>
            <td>
                <input id="retailPrice" name="retailPrice" type="text"/> ~ <input id="retailPrice2" name="retailPrice2" type="text"/>
            </td>
            <td>含税单价</td>
            <td>
                <input id="taxPrice" name="taxPrice" type="text"/> ~ <input id="taxPrice2" name="taxPrice2" type="text"/>
            </td>
        </tr>
        <tr>
            <td>其他商品大类</td>
            <td>
                <select id="big" name="big" >
                    <option value="">请选择</option>
                    <option value="其他材料">其他材料</option>
                    <option value="低值易耗品">低值易耗品</option>
                </select>
            </td>
            <td>启用状态</td>
            <td>
                <select id="status" name="status">
                    <option value="">请选择</option>
                    <option value="0">启用</option>
                    <option value="1">禁用</option>
                </select>
            </td>
        </tr>
    </table>
    <!--保存/清空-->
    <div class="BQ-btn">
        <input type="button" value="查询" onclick="reLoad()"/>
        <input type="button" class="empty" value="清空" onclick="clearText()"/>
    </div>
</div>

<!--商品信息-->
<div class="m40 tabS msgBoxDD">
    <div class="msgBoxDD_top">
        <h3 class="fl">商品信息</h3>
        <div class="Xbtn HspxxBtn PLbtns fr">
            <!--<input type="button" value="批量销售启用" />-->
            <!--<input type="button" value="批量销售停用" />-->
            <!--<input type="button" value="批量批发启用" />-->
            <!--<input type="button" value="批量批发停用" />-->
            <!--<input type="button" value="批量删除"/>-->
        </div>
    </div>
    <table id="exampleTable" data-mobile-responsive="true"></table>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
    </script>
</div>
<div>
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div>
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div>
    <script type="text/javascript">
        var s_resetPwd_h = '';
    </script>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/product/hc/hc.js"></script>
<script type="text/javascript">
    <!--选择制造商-->
    function choiceMfrs() {
        var goodsid = document.getElementById('goodsid').value;
        // alert(goodsid);
        if (goodsid == "") {
            alert("请选择采购类型！");
        } else {
            //选择镜架
            var toIndex = layer.open({
                type: 2,
                title: '制造商',
                maxmin: true,
                shadeClose: false, // 点击遮罩关闭层
                area: ['800px', '520px'],
                content: "/product/produca/findmfrs/" + goodsid,// iframe的url
                cancel: function (index, layero) {
                    var rows = $(layero).find("iframe")[0].contentWindow.batchSelect();
                    for (var i = 0; i < rows.length; i++) {
                        $("#mfrsname").val(rows[i].mfrsname);
                        $("#mfrsid").val(rows[i].mfrsid);
                        // $("#mfrsNames").val(rows[i].mfrsname);
                    }
                }
            });
            layer.full(toIndex);
        }
    }
    function choiceBrand() {
        var goodsid = document.getElementById('goodsid').value;
        var mfrsid = document.getElementById('mfrsid').value;
        // alert(goodsid);
        if (mfrsid == "") {
            alert("请选择制造商！");
        } else {
            //选择镜架
            var toIndex = layer.open({
                type: 2,
                title: '商品品种',
                maxmin: true,
                shadeClose: false, // 点击遮罩关闭层
                area: ['800px', '520px'],
                content: "/product/produca/findbrand/" + mfrsid+"/"+goodsid,// iframe的url
                cancel: function (index, layero) {
                    var rows = $(layero).find("iframe")[0].contentWindow.batchSelect();
                    for (var i = 0; i < rows.length; i++) {
                        $("#brandname").val(rows[i].brandname);
                        $("#brandnum").val(rows[i].brandnum);
                        // $("#brandNames").val(rows[i].brandname);
                    }
                }
            });
            layer.full(toIndex);
        }
    }


    //清空
    function clearText() {
        var controls = document.getElementsByTagName('input');
        for (var i = 0; i < controls.length; i++) {
            if (controls[i].type == 'text') {
                controls[i].value = '';
            }
        }
    }
</script>
</body>
</html>