<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">仓位代码：</label>
                            <div class="col-sm-8">
                                <input id="positionNum" name="positionNum" class="form-control" type="text">
                                <span style="color: red">*</span>
                            </div>
                        </div>
                        <!--<input id="company" th:value="${company}" type="text" class="form-contro">-->
                        <!--<div id="tab1" class="form-group" style="display: block">-->
                            <!--<label class="col-sm-3 control-label">所属公司：</label>-->
                            <!--<div class="col-sm-8">-->
                            <!--<select id="companyId" name="companyId" class="form-control">-->
                                <!--<option th:each="ls:${companyList}"-->
                                        <!--th:text="${ls.name}"-->
                                        <!--th:value="${ls.id}"-->
                                <!--&gt;</option>-->
                            <!--</select>-->
                                <!--<span style="color: red">*</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属部门：</label>
                            <div class="col-sm-8">
                                <select id="departNumber" name="departNumber" class="form-control" onchange="getCompony()">
                                    <option value="">请选择</option>
                                    <option th:each="ls:${departmentDOList}"
                                            th:text="${ls.departName}"
                                            th:value="${ls.departNumber}"
                                    ></option>
                                </select>
                                <span style="color: red">*</span>
                            </div>
                        </div>
                        <input id="companyId" name="companyId" type="hidden" class="form-contro">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">仓位名称：</label>
                            <div class="col-sm-8">
                                <input id="positionName" name="positionName" class="form-control" type="text">
                                <span style="color: red">*</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">仓位类型：</label>
                            <div class="col-sm-8">
                                <select id="positionOrder" name="positionOrder" class="form-control">
                                    <option value="">请选择</option>
                                    <option value="1">销售仓</option>
                                    <option value="2">合格仓</option>
                                    <option value="3">不合格仓</option>
                                </select>
                                <span style="color: red">*</span>
                            </div>
                        </div>
                        <!--启用状态-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">启用状态：</label>
                            <div class="col-sm-8">
                                <label class="radio-inline"> <input type="radio"
                                                                    name="xsstate" value="1"/> 禁用
                                </label>
                                <label class="radio-inline"> <input type="radio"
                                                                    name="xsstate" value="0" checked/> 启用
                                </label>
                                <span style="color: red">*</span>
                            </div>
                        </div>
                        <!--未删除-->
                        <input id="state" name="state" value="1" type="hidden">
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/mfrs/position/add.js"></script>
<script type="text/javascript">
function getCompony() {
    var departNumber=$("#departNumber").val();
    var departName= $("#departNumber option:selected").text();
    $.ajax({
        url: '/mfrs/position/getCompony',
        type: 'post',
        dataType: "json",
        data: {
            'departNumber': departNumber,
            'departName': departName
        },
        success: function (datajson) {
            $(datajson).each(function (key) {  //循环读取后台传来的Json数据
                var id = datajson[key].companyId;   //角色id
                $("#companyId").val(id);
            });
        }
    })
}
</script>

</body>
</html>
