<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div style="border:1px solid #000">
                            <h1 style="position: absolute;top: 10px;width: 150px;left: 100px;z-index: 99;background-color: white;">
                                必填项</h1>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">商品代码：</label>
                                <div class="col-sm-8">
                                    <input id="producNum" name="producNum" class="form-control" type="text"
                                           value="1.00.00.000000000.0000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">商品条码：</label>
                                <div class="col-sm-8">
                                    <input id="producCode" name="producCode" class="form-control" type="text"
                                           value="1.00.00.000000000.0000">
                                    <span style="color: red">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">商品名称：</label>
                                <div class="col-sm-8">
                                    <input id="producName" name="producName" class="form-control" type="text">
                                    <span style="color: red">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">制造商简称：</label>
                                <div class="col-sm-8">
                                    <td><input type="text" id="mfrsName" name="mfrsName"/></td>
                                    <input type="hidden" id="mfrsid" name="mfrsid"/>
                                    <input type="button" value="选择*" onclick="getMfrsYxcp()" style="color: red"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">商品品种：</label>
                                <div class="col-sm-8">
                                    <select id="brandid" name="brandid" class="form-control"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">商品编号：</label>
                                <div class="col-sm-8">
                                    <input id="proid" name="proid" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">计量单位：</label>
                                <div class="col-sm-8">
                                    <select id="unitid" name="unitid" class="form-control">
                                        <option></option>
                                        <option th:each="ls:${unitDOList}"
                                                th:text="${ls.unitname}"
                                                th:value="${ls.unitid}"
                                        ></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">球镜：</label>
                                <div class="col-sm-8">
                                    <select id="sphId" name="sphId" class="form-control">
                                        <option></option>
                                        <option th:each="ls:${sphDOList}"
                                                th:text="${ls.sph}"
                                                th:value="${ls.sphId}"
                                        ></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">柱镜：</label>
                                <div class="col-sm-8">
                                    <select id="cylId" name="cylId" class="form-control">
                                        <option></option>
                                        <option th:each="ls:${cylDOList}"
                                                th:text="${ls.cyl}"
                                                th:value="${ls.cylId}"
                                        ></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">曲率：</label>
                                <div class="col-sm-8">
                                    <input id="curvature" name="curvature" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">直径：</label>
                                <div class="col-sm-8">
                                    <input id="diameter" name="diameter" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">厂家型号：</label>
                                <div class="col-sm-8">
                                    <input id="factory" name="factory" class="form-control" type="text">
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">使用类型：</label>
                            <div class="col-sm-8">
                                <select id="usageId" name="usageId" class="form-control">
                                    <option></option>
                                    <option th:each="ls:${usageDOList}"
                                            th:text="${ls.usageName}"
                                            th:value="${ls.usageId}"
                                    ></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">抛弃型分类：</label>
                            <div class="col-sm-8">
                                <select id="typeId" name="typeId" class="form-control">
                                    <option></option>
                                    <option th:each="ls:${typeDOList}"
                                            th:text="${ls.typeName}"
                                            th:value="${ls.typeId}"
                                    ></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">产品可使用天数：</label>
                            <div class="col-sm-8">
                                <input id="useDays" name="useDays" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">效期提醒上限：</label>
                            <div class="col-sm-8">
                                有效期前<input id="upday" name="upday" type="text">天提醒进入滞销状态

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">效期提醒下限：</label>
                            <div class="col-sm-8">
                                有效期前<input id="downday" name="downday" type="text">天提醒进入即将失效状态

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">颜色：</label>
                            <div class="col-sm-8">
                                <select id="color" name="color" class="form-control">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">隐形类别：</label>
                            <div class="col-sm-8">
                                <select id="invisibleId" name="invisibleId" class="form-control">
                                    <option></option>
                                    <option th:each="ls:${invisibleDOList}"
                                            th:text="${ls.invisible}"
                                            th:value="${ls.invisibleId}"
                                    ></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">材质：</label>
                            <div class="col-sm-8">
                                <select id="caizhiId" name="caizhiId" class="form-control">
                                    <option></option>
                                    <option th:each="ls:${caizhiDOList}"
                                            th:text="${ls.caizhi}"
                                            th:value="${ls.caizhiId}"
                                    ></option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">税率(%)：</label>
                            <div class="col-sm-8">
                                <input id="tax" name="tax" class="form-control" type="text" value="17">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">含税单价：</label>
                            <div class="col-sm-8">
                                <input id="taxPrice" name="taxPrice" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">批发价格：</label>
                            <div class="col-sm-8">
                                <input id="tradePrice" name="tradePrice" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">调货成本：</label>
                            <div class="col-sm-8">
                                <input id="transferPrice" name="transferPrice" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">标准零售价：</label>
                            <div class="col-sm-8">
                                <input id="retailPrice" name="retailPrice" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/product/yxcp/add.js"></script>
<!--//选择制造商-->
<script type="text/javascript" src="/js/appjs/mfrs/brand/findmfrs.js"></script>
<script>
    <!--//———制造商与品种联动—————-->
    function choice(value) {
        // alert(value);
        $("#brandid").empty("");
        $("#brandid").append("<option value=''></option>");
        $.ajax({
            url: "/product/yxcp/choice",
            type: "post",
            data: {
                'mfrsid': value
            },
            dataType: 'JSON',
            async: false,
            success: function (datajson) {
                $(datajson).each(function (key) {
                    var id = datajson[key].brandid;
                    var roleName = datajson[key].brandname;
                    $("#brandid").append("<option value='" + id + "'>" + roleName + "</option>")
                });
            }
        });
    }

    // <!--//———厂家型号与型号联动—————-->

</script>
</body>
</html>
