<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>隐形成品修改</title>
    <link rel="stylesheet" href="/css/css.css" type="text/css">
</head>

<body>
<form class="form-horizontal m-t" id="signupForm">
    <div class="new_h3">隐形成品修改</div>

    <!--必填项-->
    <div class="m40 tabS PHGL">
        <h3>必填项</h3>
        <input id="id" name="id" th:value="${yxcp.id}" type="hidden">
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td>商品代码：</td>
                <td>
                    <input id="producNum" name="producNum" th:value="${yxcp.producNum}"
                           type="text" readonly style="background-color: #e4e4e4">
                </td>
                <td>商品条码：</td>
                <td>
                    <input id="producCode" name="producCode" th:value="${yxcp.producCode}"
                           type="text" readonly style="background-color: #e4e4e4">
                    <em>*</em>
                </td>
                <td>商品名称：</td>
                <td>
                    <input id="producName" name="producName" th:value="${yxcp.producName}"
                           type="text">
                    <em>*</em>
                </td>
            </tr>
            <tr>
                <td>制造商：</td>
                <td>
                    <input th:value="${yxcp.mfrsname}"
                           style="background-color: #e4e4e4"
                           type="text" readonly>
                    <input id="mfrsid" name="mfrsid" th:value="${yxcp.mfrsid}"

                           type="hidden">
                    <em>*</em>
                </td>
                <td>商品品种：</td>
                <td style="width:20%;">
                    <input name="brandname" th:value="${yxcp.brandname}" style="background-color: #e4e4e4"
                           type="text" readonly>
                    <input id="brandid" name="brandid" th:value="${yxcp.brandid}"
                           type="hidden">
                    <em>*</em>
                </td>
                <td>商品编号：</td>
                <td>
                    <input id="proid" name="proid" th:value="${yxcp.proid}" class="form-control"
                          type="text" onkeyup="choiceProid(this)"
                           onchange="value=value.replace(/[^\w\/]/ig,'').toUpperCase()"
                           oninput="if(value.length>4)value=value.slice(0,4)">
                    <em>*</em>
                </td>
            </tr>
            <tr>
                <td>计量单位：</td>
                <td>
                    <select name="unitid" id="unitid" th:value="${yxcp.unitid}" class="form-control"
                            data-actions-box="false" data-size="5">
                        <option></option>
                        <option th:each="ls:${unitDOList}"
                                th:text="${ls.unitname}"
                                th:value="${ls.unitid}"></option>
                    </select>
                    <input id="unitids" name="unitids" th:value="${yxcp.unitid}" class="form-control"
                           type="hidden">
                    <em>*</em>
                </td>
                <td>球镜：</td>
                <td>
                    <!--<select id="sphId" name="sphId" th:value="${yxcp.sphId}" class="form-control"-->
                            <!--data-actions-box="false" data-size="5" disabled>-->
                        <!--<option></option>-->
                        <!--<option th:each="ls:${sphDOList}"-->
                                <!--th:text="${ls.sph}"-->
                                <!--th:value="${ls.sph}"-->
                        <!--&gt;</option>-->
                        <!--<input id="sphIds" name="sphIds" th:value="${yxcp.sphId}" class="form-control"-->
                               <!--type="hidden">-->
                    <!--</select>-->
                    <input id="sphId" name="sphId" th:value="${yxcp.sphId}"  class="form-control"
                            style="background-color: #e4e4e4" type="text" readonly>
                    <em>*</em>
                </td>
                <td>柱镜：</td>
                <td>
                    <!--<select id="cylId" name="cylId" th:value="${yxcp.cylId}" class="form-control"-->
                            <!--data-actions-box="false" data-size="5" disabled>-->
                        <!--<option></option>-->
                        <!--<option th:each="ls:${cylDOList}"-->
                                <!--th:text="${ls.cyl}"-->
                                <!--th:value="${ls.cyl}"-->
                        <!--&gt;</option>-->
                        <!--<input id="cylIds" name="cylIds" th:value="${yxcp.cylId}" class="form-control"-->
                               <!--type="hidden">-->
                    <!--</select>-->
                    <input id="cylId" name="cylId" th:value="${yxcp.cylId}"  class="form-control"
                           style="background-color: #e4e4e4" type="text" readonly>
                    <em>*</em>
                </td>
            </tr>
            <tr>
                <td>曲率：</td>
                <td>
                    <input id="curvature" name="curvature" th:value="${yxcp.curvature}" class="form-control"
                           type="text">
                    <em>*</em>
                </td>
                <td>直径：</td>
                <td>
                    <input id="diameter" name="diameter" th:value="${yxcp.diameter}" class="form-control"
                           type="text">
                    <em>*</em>
                </td>
            </tr>
            <tr>
                <td>厂家型号：</td>
                <td>
                    <input id="factory" name="factory" th:value="${yxcp.factory}" class="form-control"
                           type="text">
                </td>
                <td>销售状态：</td>
                <td>
                    <input th:field="*{yxcp.xsstate}" name="xsstate" value="1" type="radio" id="PH-S"> <label for="PH-S"
                                                                                                            style="margin-right: 5%">禁用</label>
                    <input th:field="*{yxcp.xsstate}" name="xsstate" value="0" type="radio" id="PH-F"> <label for="PH-F">启用</label>
                    <em>*</em>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--非必填项2-->
    <div class="m40 tabS PHGL">
        <h3>非必填项</h3>
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td>使用类型：</td>
                <td>
                    <select id="usageId" name="usageId" th:value="${yxcp.usageId}" class="form-control"
                            style="width:60%"
                            data-actions-box="false" data-size="5">
                        <option></option>
                        <option th:each="ls:${usageDOList}"
                                th:text="${ls.usageName}"
                                th:value="${ls.usageId}"
                        ></option>
                        <input id="usageIds" name="usageIds" th:value="${yxcp.usageId}" class="form-control"
                               type="hidden">
                    </select>
                </td>
                <td>抛弃型分类：</td>
                <td style="width:20%;">
                    <select id="typeId" name="typeId" th:value="${yxcp.typeId}" class="form-control"
                            data-actions-box="false" data-size="5">
                        <option></option>
                        <option th:each="ls:${typeDOList}"
                                th:text="${ls.typeName}"
                                th:value="${ls.typeId}"
                        ></option>
                        <input id="typeIds" name="typeIds" th:value="${yxcp.typeId}" class="form-control"
                               type="hidden">
                    </select>
                </td>
                <td>产品可使用天数：</td>
                <td style="width:20%;">
                    <input id="useDays" name="useDays" th:value="${yxcp.useDays}" class="form-control"
                           type="text">
                </td>
            </tr>
            <tr>
                <td>效期提醒上限：</td>
                <td>
                    有效期前<input id="upday" name="upday" th:value="${yxcp.upday}" style="width: 20%"
                               type="text">天提醒进入滞销状态
                </td>
                <td>效期提醒下限：</td>
                <td>
                    有效期前<input id="downday" name="downday" th:value="${yxcp.downday}" type="text" style="width: 20%">天提醒进入即将失效状态
                </td>
                <td>颜色：</td>
                <td>
                    <select id="color" name="color" th:value="${yxcp.color}" class="form-control"
                            data-actions-box="false" data-size="5">
                    </select>
                </td>
            </tr>
            <tr>
                <td>隐形类别：</td>
                <td>
                    <select id="invisibleId" name="invisibleId" th:value="${yxcp.invisibleId}" style="width:60%"
                            class="form-control"
                            data-actions-box="false" data-size="5">
                        <option></option>
                        <option th:each="ls:${invisibleDOList}"
                                th:text="${ls.invisible}"
                                th:value="${ls.invisibleId}"
                        ></option>
                        <input id="invisibleIds" name="invisibleIds" th:value="${yxcp.invisibleId}"
                               class="form-control"
                               type="hidden">
                    </select>
                </td>
                <td>材质：</td>
                <td>
                    <select id="caizhiId" name="caizhiId" th:value="${yxcp.caizhiId}" class="form-control"
                            data-actions-box="false" data-size="5">
                        <option></option>
                        <option th:each="ls:${caizhiDOList}"
                                th:text="${ls.caizhi}"
                                th:value="${ls.caizhiId}"
                        ></option>
                        <input id="caizhiIds" name="caizhiIds" th:value="${yxcp.caizhiId}"
                               class="form-control"
                               type="hidden">
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--价格项-->
    <div class="m40 tabS PHGL">
        <h3>价格项</h3>
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td>税率（%）：</td>
                <td>
                    <input id="tax" name="tax" th:value="${yxcp.tax}" type="text"
                           oninput="value=value.replace(/[^\d]/g,'')" readonly/>
                    <em>*</em>
                </td>
                <td>含税单价：</td>
                <td>
                    <input id="taxPrice" name="taxPrice" th:value="${yxcp.taxPrice}" type="text"
                           oninput="getmoney(this,10)" onchange="shuzi(this)" readonly autofocus/>
                    <!--<em>*</em>-->
                </td>
                <td>批发价格：</td>
                <td colspan="3">
                    <input id="tradePrice" name="tradePrice" th:value="${yxcp.tradePrice}" type="text"
                           style="width: 60%"
                           oninput="getmoney(this,10)" onchange="shuzi(this)" readonly autofocus/>
                    <!--<em>*</em>-->
                </td>
            </tr>
            <tr>
                <td>调货成本：</td>
                <td>
                    <input id="transferPrice" name="transferPrice" th:value="${yxcp.transferPrice}" type="text"
                           oninput="getmoney(this,10)" onchange="shuzi(this)" readonly autofocus/>
                    <!--<em>*</em>-->
                </td>
                <td>标准零售价格：</td>
                <td colspan="3">
                    <input id="retailPrice" name="retailPrice" th:value="${yxcp.retailPrice}" type="text"
                           style="width: 29%"
                           oninput="getmoney(this,10)" onchange="shuzi(this)" readonly autofocus/>
                    <em>*</em>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--保存/清空-->
    <div class="BQ-btn">
        <input type="button" value="保存" onclick="update()"/>
        <dl>
            <dt>隐形（成品）<br/>商品代码组成说明</dt>
            <dd><img src="/img/yxcp.png" alt=""/></dd>
            <dd>商品条码会根据商品代码自动生成。<br/>商品名称默认为选择的品种的名称，可以自行调整。<br/>型号通常是写在镜腿上的规格。</dd>
        </dl>
    </div>
</form>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/product/yxcp/edit.js"></script>
<script type="text/javascript">
    $().ready(function () {
        //计量单位
        var unitids = $("input[name='unitids']").val();
        $("#unitid").find("[value='" + unitids + "']").attr("selected", true);
        //球镜
        var sphIds = $("input[name='sphIds']").val();
        $("#sphId").find("[value='" + sphIds + "']").attr("selected", true);
        //柱镜
        var cylIds = $("input[name='cylIds']").val();
        $("#cylId").find("[value='" + cylIds + "']").attr("selected", true);
        //使用类型
        var usageIds = $("input[name='usageIds']").val();
        $("#usageId").find("[value='" + usageIds + "']").attr("selected", true);
        //抛弃类型
        var typeIds = $("input[name='typeIds']").val();
        $("#typeId").find("[value='" + typeIds + "']").attr("selected", true);
        //隐形类别
        var invisibleIds = $("input[name='invisibleIds']").val();
        $("#invisibleId").find("[value='" + invisibleIds + "']").attr("selected", true);
        //材质
        var caizhiIds = $("input[name='caizhiIds']").val();
        $("#caizhiId").find("[value='" + caizhiIds + "']").attr("selected", true);
    });

    /**
     * 限制输入框只能输入数字和最大长度* 如果是小数只能输入到小数点后两位
     */
    function getmoney(obj, maxLen) {
        if (maxLen && obj.value.length > maxLen) {//判断长度
            obj.value = obj.value.slice(0, 10);
        }
        //修复第一个字符是小数点 的情况.
        if (obj.value !== '' && obj.value.substr(0, 1) === '.') {
            obj.value = "";
        }
        //解决 粘贴不生效
        obj.value = obj.value.replace(/^0*(0\.|[1-9])/, '$1');
        //清除“数字”和“.”以外的字符
        obj.value = obj.value.replace(/[^\d.]/g, "");
        //只保留第一个小数点(.)清除多余的
        obj.value = obj.value.replace(/\.{2,}/g, ".");
        obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
        //只能输入两个小数
        obj.value = obj.value.replace(/^(\d+)\.(\d\d).*$/, '$1.$2');
        if (obj.value.indexOf(".") < 0 && obj.value !== "") {//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
            if (obj.value.substr(0, 1) === '0' && obj.value.length === 2) {
                obj.value = obj.value.substr(1, obj.value.length);
            }
        }
    }
    function shuzi(e) {
        var val = parseFloat(e.value);
        val=parseInt(val*100)/100;
        if (val > 0) {
            e.value = val.toFixed(2)
        } else if (val <= 0) {
            e.value = val.toFixed(2)
        }
    };
</script>
</body>
</html>