<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>套餐新增</title>
	<link rel="stylesheet" href="/css/css.css" type="text/css">
</head>
<body>
<form class="form-horizontal m-t" id="signupForm">
<div class="new_h3">套餐新增</div>

<!--详细信息-->
<div class="m40 TC_msgNew">
	<h3>详细信息</h3>
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
		<tr>
			<td>
				<span>套餐标题：</span>
				<input type="text" value="***" id="packageName" name="packageName"/>
				<em>*（内容不超过50字）</em>
			</td>
			<td>
				<span>套餐日期：</span>
				<input type="text" name="packageTime" id="packageTime"/>
			</td>
			<td>
				<span>套餐形式：</span>
				<input name="packageForm" type="radio" id="YH1" value="0" checked onchange="getYouhui(0)"> <label for="YH1">多种优惠方式</label>
				<input name="packageForm"  type="radio" id="YH2" value="1" onchange="getYouhui(1)"> <label for="YH2">单一优惠方式</label>
				<em>*</em>
			</td>
		</tr>
		<tr>
			<td>
				<span>生效日期：</span>
				<input type="text" id="effectiveDate" name="effectiveDate" />
				<em>*</em>
			</td>
			<td>
				<span>截止日期：</span>
				<input type="text" id="expiryDate" name="expiryDate" />
				<em>*</em>
			</td>
			<td>
				<span>套餐分类：</span>
				<select name="packageType" id="packageType">
					<option value="框镜销售">框镜销售</option>
					<option value="隐形销售">隐形销售</option>
					<option value="辅料销售">辅料销售</option>
				</select>
				<em>*</em>
			</td>
		</tr>
		<tr>
			<td>
				<span>套餐价格区间：</span>
				<input class="short" type="text" id="startPrice" name="startPrice" /> 至
				<input class="short" type="text" id="endPrice" name="endPrice" />
			</td>
			<td>
				<span>套餐金额：</span>500
			</td>
			<td>
				<span>允许累计积分：</span>
				<input name="isCumulativePoints" type="radio" id="YX1" value="0" checked> <label for="YX1">允许</label>
				<input name="isCumulativePoints"  type="radio" id="YX2" value="1"> <label for="YX2">不允许</label>
				<em>*</em>
			</td>
		</tr>
		<tr>
			<td>
				<span>允许累加：</span>
				<input name="isAdd" type="radio" id="YEH1" value="0" checked> <label for="YEH1">允许</label>
				<input name="isAdd"  type="radio" id="YEH2" value="1"> <label for="YEH2">不允许</label>
				<em>*</em>
			</td>
			<td>
				<span>折上折：</span>
				<input name="foldUp" type="radio" id="ZSZ1" value="0" checked> <label for="ZSZ1">允许</label>
				<input name="foldUp"  type="radio" id="ZSZ2" value="1"> <label for="ZSZ2">不允许</label>
			</td>
			<td>
				<span>零售价格：</span>
				<select name="retailPrice" id="retailPrice">
					<option value="标准零售价格">标准零售价格</option>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<span>活动门店：</span>
				<label for="MD"><input name="MD" type="checkbox" id="MD" checked> 所有门店</label> <br/>
				<textarea rows="3" style="margin-left: 110px;" id="store" name="store"></textarea>
				<div class="maxL" style="margin:15px 0 0;display: inline-block;vertical-align:top;">
					<input type="button" onclick="getMendian()" value="选择" />
					<input class="empty" type="button" onclick="getQingkong()" value="清空" />
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<span style="vertical-align: top;">备注：</span>
				<textarea rows="4" id="remark" name="remark"></textarea>
				<em>（内容不超过1000字）</em>
			</td>
		</tr>
		<tr>
			<td ccolspan="3" style="padding-left: 110px;">
				<input name="GX" type="checkbox" id="GX" checked> <label for="GX">保存并审核</label>
			</td>
		</tr>
		<tr>
			<td colspan="3" class="HbcBtn">
				<input type="button" value="保存" />
				<input type="button" class="HbcBtn_QK" value="清空" />
			</td>
		</tr>
		</tbody>
	</table>


</div>

<!--多种优惠-->
<div class="m40 TC_yhNew">
	<h3>多种优惠</h3>
	<div class="Hbox">
		<h4><b>商品信息</b></h4>
		<p>整单满：<input type="text" value="0.00" /> 至 <input type="text" value="0.00" /></p>
	</div>

	<div class="Hbox" id="goumai" style="display: block">
		<h4><b>购买商品</b></h4>
		<div class="pltjBox">
			<span id="addGoods">添加购买商品</span>
			<span>批量添加商品</span>
			<input type="button" onclick="shanchu()" value="删除" />
			<b>购买方式：</b>
			<input name="FS" type="radio" id="FS1" checked> <label for="FS1">任选其一</label>
			<input name="FS"  type="radio" id="FS2"> <label for="FS2">符合全部</label>
		</div>
		<table class="buyBox tabS" border="0" cellspacing="0" cellpadding="0">
			<tbody id="tr1">
			<tr class="thead" >
				<td width="5%"><label for="ALL">全选 </label><input name="ALL" type="checkbox" id="ALL" /></td>
				<td width="28%">商品信息</td>
				<td>商品原件区间</td>
				<td>套餐价格区间</td>
				<td>销售数量</td>
				<td>消费满</td>
				<td width="5%">优惠方式</td>
				<td>套餐单价</td>
				<td>特价金额</td>
				<td>优惠金额</td>
				<td>优惠折扣</td>
			</tr>

			<!--<tr id="tr1">-->
				<!--<td><input type="checkbox" /></td>-->
				<!--<td>-->
					<!--<select name="" id="">-->
						<!--<option value="">镜片</option>-->
						<!--<option value="">镜片1</option>-->
					<!--</select>-->
					<!--<select name="" id="">-->
						<!--<option value="">镜片功能</option>-->
						<!--<option value="">镜片功能1</option>-->
					<!--</select>-->
					<!--<select name="" id="">-->
						<!--<option value="">白色</option>-->
						<!--<option value="">蓝色</option>-->
					<!--</select>-->
					<!--<select name="" id="">-->
						<!--<option value="">镜架</option>-->
						<!--<option value="">镜架1</option>-->
					<!--</select>-->
				<!--</td>-->
				<!--<td><input class="short" type="text" value="500.00" /> 至 <input class="short" type="text" value="600.00"></td>-->
				<!--<td><input class="short" type="text" value="500.00" /> 至 <input class="short" type="text" value="600.00"></td>-->
				<!--<td><input type="text" value="2" /></td>-->
				<!--<td><input class="short" type="text" value="500.00" /> 至 <input class="short" type="text" value="600.00"></td>-->
				<!--<td>-->
					<!--<select name="" id="" style="width:100%">-->
						<!--<option value="">原价</option>-->
						<!--<option value="">9折</option>-->
					<!--</select>-->
				<!--</td>-->
				<!--<td><input type="text" /></td>-->
				<!--<td><input type="text" /></td>-->
				<!--<td><input type="text" /></td>-->
				<!--<td><input type="text" /></td>-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<td><input type="checkbox" /></td>-->
				<!--<td>-->
					<!--<select name="" id="">-->
						<!--<option value="">镜片</option>-->
						<!--<option value="">镜片1</option>-->
					<!--</select>-->
					<!--<select name="" id="">-->
						<!--<option value="">镜片功能</option>-->
						<!--<option value="">镜片功能1</option>-->
					<!--</select>-->
					<!--<select name="" id="">-->
						<!--<option value="">白色</option>-->
						<!--<option value="">蓝色</option>-->
					<!--</select>-->
					<!--<select name="" id="">-->
						<!--<option value="">镜架</option>-->
						<!--<option value="">镜架1</option>-->
					<!--</select>-->
				<!--</td>-->
				<!--<td><input class="short" type="text" value="500.00" /> 至 <input class="short" type="text" value="600.00"></td>-->
				<!--<td><input class="short" type="text" value="500.00" /> 至 <input class="short" type="text" value="600.00"></td>-->
				<!--<td><input type="text" value="2" /></td>-->
				<!--<td><input class="short" type="text" value="500.00" /> 至 <input class="short" type="text" value="600.00"></td>-->
				<!--<td>-->
					<!--<select name="" id="" style="width:100%">-->
						<!--<option value="">原价</option>-->
						<!--<option value="">9折</option>-->
					<!--</select>-->
				<!--</td>-->
				<!--<td><input type="text" /></td>-->
				<!--<td><input type="text" /></td>-->
				<!--<td><input type="text" /></td>-->
				<!--<td><input type="text" /></td>-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<td><input type="checkbox" /></td>-->
				<!--<td>-->
					<!--<select name="" id="">-->
						<!--<option value="">镜片</option>-->
						<!--<option value="">镜片1</option>-->
					<!--</select>-->
					<!--<select name="" id="">-->
						<!--<option value="">镜片功能</option>-->
						<!--<option value="">镜片功能1</option>-->
					<!--</select>-->
					<!--<select name="" id="">-->
						<!--<option value="">白色</option>-->
						<!--<option value="">蓝色</option>-->
					<!--</select>-->
					<!--<select name="" id="">-->
						<!--<option value="">镜架</option>-->
						<!--<option value="">镜架1</option>-->
					<!--</select>-->
				<!--</td>-->
				<!--<td><input class="short" type="text" value="500.00" /> 至 <input class="short" type="text" value="600.00"></td>-->
				<!--<td><input class="short" type="text" value="500.00" /> 至 <input class="short" type="text" value="600.00"></td>-->
				<!--<td><input type="text" value="2" /></td>-->
				<!--<td><input class="short" type="text" value="500.00" /> 至 <input class="short" type="text" value="600.00"></td>-->
				<!--<td>-->
					<!--<select name="" id="" style="width:100%">-->
						<!--<option value="">原价</option>-->
						<!--<option value="">9折</option>-->
					<!--</select>-->
				<!--</td>-->
				<!--<td><input type="text" /></td>-->
				<!--<td><input type="text" /></td>-->
				<!--<td><input type="text" /></td>-->
				<!--<td><input type="text" /></td>-->
			<!--</tr>-->
			</tbody>
		</table>
	</div>

	<div class="Hbox" id="youhui" style="display: block">
		<h4><b>优惠商品</b></h4>
		<div class="pltjBox">
			<span>添加消费抵扣商品</span>
			<span>批量添加商品</span>
			<input type="button" value="删除" />
			<b>购买方式：</b>
			<input name="FSA" type="radio" id="FSA1" checked> <label for="FSA1">任选其一</label>
			<input name="FSA"  type="radio" id="FSA2"> <label for="FSA2">符合全部</label>
		</div>
		<table class="buyBox tabS" border="0" cellspacing="0" cellpadding="0">
			<tbody>
			<tr class="thead">
				<td width="5%"><label for="ALLA">全选 </label><input name="ALL" type="checkbox" id="ALLA" /></td>
				<td width="28%">商品信息</td>
				<td>商品原件区间</td>
				<td>套餐价格区间</td>
				<td>商品数量</td>
				<td width="5%">优惠方式</td>
				<td>套餐单价</td>
				<td>特价金额</td>
				<td>优惠金额</td>
				<td>优惠折扣</td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>
					<select name="" id="">
						<option value="">镜片</option>
						<option value="">镜片1</option>
					</select>
					<select name="" id="">
						<option value="">镜片功能</option>
						<option value="">镜片功能1</option>
					</select>
					<select name="" id="">
						<option value="">白色</option>
						<option value="">蓝色</option>
					</select>
					<select name="" id="">
						<option value="">镜架</option>
						<option value="">镜架1</option>
					</select>
				</td>
				<td><input class="short" type="text" value="500.00" /> 至 <input class="short" type="text" value="600.00"></td>
				<td><input class="short" type="text" value="500.00" /> 至 <input class="short" type="text" value="600.00"></td>
				<td><input type="text" value="2" /></td>
				<td>
					<select name="" id="" style="width:100%">
						<option value="">原价</option>
						<option value="">9折</option>
					</select>
				</td>
				<td><input type="text" /></td>
				<td><input type="text" /></td>
				<td><input type="text" /></td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>
					<select name="" id="">
						<option value="">镜片</option>
						<option value="">镜片1</option>
					</select>
					<select name="" id="">
						<option value="">镜片功能</option>
						<option value="">镜片功能1</option>
					</select>
					<select name="" id="">
						<option value="">白色</option>
						<option value="">蓝色</option>
					</select>
					<select name="" id="">
						<option value="">镜架</option>
						<option value="">镜架1</option>
					</select>
				</td>
				<td><input class="short" type="text" value="500.00" /> 至 <input class="short" type="text" value="600.00"></td>
				<td><input class="short" type="text" value="500.00" /> 至 <input class="short" type="text" value="600.00"></td>
				<td><input type="text" value="2" /></td>
				<td><input class="short" type="text" value="500.00" /> 至 <input class="short" type="text" value="600.00"></td>
				<td>
					<select name="" id="" style="width:100%">
						<option value="">原价</option>
						<option value="">9折</option>
					</select>
				</td>
				<td><input type="text" /></td>
				<td><input type="text" /></td>
				<td><input type="text" /></td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td><input type="checkbox" /></td>
				<td>
					<select name="" id="">
						<option value="">镜片</option>
						<option value="">镜片1</option>
					</select>
					<select name="" id="">
						<option value="">镜片功能</option>
						<option value="">镜片功能1</option>
					</select>
					<select name="" id="">
						<option value="">白色</option>
						<option value="">蓝色</option>
					</select>
					<select name="" id="">
						<option value="">镜架</option>
						<option value="">镜架1</option>
					</select>
				</td>
				<td><input class="short" type="text" value="500.00" /> 至 <input class="short" type="text" value="600.00"></td>
				<td><input class="short" type="text" value="500.00" /> 至 <input class="short" type="text" value="600.00"></td>
				<td><input type="text" value="2" /></td>
				<td><input class="short" type="text" value="500.00" /> 至 <input class="short" type="text" value="600.00"></td>
				<td>
					<select name="" id="" style="width:100%">
						<option value="">原价</option>
						<option value="">9折</option>
					</select>
				</td>
				<td><input type="text" /></td>
				<td><input type="text" /></td>
				<td><input type="text" /></td>
				<td><input type="text" /></td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="buyBtns">
		<input type="checkbox" id="buySH" checked> <label for="buySH">保存并审核</label> <br/><br/>
		<input type="button" value="保存" />
		<input type="button" class="HbcBtn_QK" value="清空" />
	</div>

</div>
</form>
<div th:include="include :: footer"></div>
<script type="text/javascript">
	function getYouhui(obj){
	    alert(obj)
		if (obj == 0){
	        goumai.style="display:block;"
            youhui.style="display:block;"
		} else if (obj == 1){
            goumai.style="display:block;"
            youhui.style="display:none;"
		}
	}
	var array=[];
    function getMendian(){
        var toIndex = layer.open({
            type : 2,
            title : '门店信息',
            maxmin : true,
            shadeClose : false, // 点击遮罩关闭层
            area : [ '800px', '520px' ],
            content : "/information/package/store/", // iframe的url
            cancel: function(index, layero){
                var rows = $(layero).find("iframe")[0].contentWindow.batchSelect();
				for (var i=0;i<rows.length;i++){
                    array.push(rows[i].departName);
				}
				$("#store").val(array);
                //son_msg就是子页面中的msg数据
                //var son_msg = $(layero).find("iframe")[0].contentWindow.batchSelect();
            }
        });
        layer.full(toIndex)
    }
    function getQingkong(){
        document.getElementById("store").value="";
	}
    var html = "";
	$("#addGoods").click(function () {
		html = "<tr>";
		html += "<td><input type=\"checkbox\" id=\"allChecks\" /></td>";
		html +="<td>";
		html += " <select name='goodType' id='goodType' onchange='selectChange()'> <option value=''>--请选择--</option><option value='镜架'>镜架</option><option value='配件'>配件</option>" +
			"<option value='镜片'>镜片</option><option value='成品片'>成品片</option><option value='订做片'>订做片</option><option value='太阳镜'>太阳镜</option>" +
			"<option value='老花镜'>老花镜</option><option value='耗材'>耗材</option><option value='视光'>视光</option><option value='隐形护理液'>隐形护理液</option></select>";
		html += "<select name='caizhi' id='caizhi' onchange='getCaizhi()' style='display: none'></select>";
		html += "<select name='fenlei' id='fenlei' style='display: none'></select>";
		html += "<input type='text' style='width: 20%;' id='goodsName'><input type='button' value='选择'>";
		html += "</td>";
		html += "<td><input class=\"short\" type=\"text\" value=\"500.00\" /> 至 <input class=\"short\" type=\"text\" value=\"600.00\"></td>";
		html += "<td><input class=\"short\" type=\"text\" value=\"500.00\" /> 至 <input class=\"short\" type=\"text\" value=\"600.00\"></td>";
		html += "<td><input type=\"text\" value=\"2\" /></td>";
		html += "<td><input class=\"short\" type=\"text\" value=\"500.00\" /> 至 <input class=\"short\" type=\"text\" value=\"600.00\"></td>";
		html += "<td>";
		html += "<select name='' id='' style=\"width:100%\">";
		html += "<option value=''>原价</option><option value=''>9折</option></select>";
		html += "</td>";
		html += "<td><input type=\"text\" /></td>";
		html += "<td><input type=\"text\" /></td>";
		html += "<td><input type=\"text\" /></td>";
		html += "<td><input type=\"text\" /></td>";
		html += "</tr>";
		$("#tr1").append(html);
    })
	function selectChange(){
	    var goods = $("#goodType").val();
        $("#caizhi").empty();
	    if (goods == '镜架'){
            var s1=""
            caizhi.style="display: ''";
            s1="<option value=''>--请选择--</option><option value='材质'>材质</option>";
            $("#caizhi").append(s1);
		} else if(goods == '配件'){
            caizhi.style="display: none";
            fenlei.style="display: none";
            document.getElementById("caizhi").value="";
            document.getElementById("fenlei").value="";
		} else if (goods == '镜片'){
            var s1=""
            caizhi.style="display: ''";
            s1="<option value=''>--请选择--</option><option value='材料分类'>材料分类</option><option value='折射率'>折射率</option>" +
				"<option value='光度分类'>光度分类</option><option value='镜片功能'>镜片功能</option><option value='球镜区间'>球镜区间</option>" +
				"<option value='柱镜区间'>柱镜区间</option>";
            $("#caizhi").append(s1);
		}
	}
	function getCaizhi(){
	    var cz = $("#caizhi").val();
        $("#fenlei").empty();
	    if (cz == "材质"){
            var gn = "";
            gn = "<option value=''>--请选择--</option><option value='合金'>合金</option><option value='钛合金'>钛合金</option>";
            fenlei.style="display: ''";
			$("#fenlei").append(gn);
		} else if (cz == "材料分类"){
            var gn = "";
            gn = "<option value=''>--请选择--</option><option value='树脂'>树脂</option><option value='玻璃'>玻璃</option><option value='PC'>PC</option>";
            fenlei.style="display: ''";
            $("#fenlei").append(gn);
		}
	}


</script>
</body>
</html>
