<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header">
	<link rel="stylesheet" href="/css/css.css" type="text/css">
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
																																			<div class="form-group">	
								<label class="col-sm-3 control-label">套餐名称：</label>
								<div class="col-sm-8">
									<input id="packageName" name="packageName" type="text">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;套餐日期：<input id="packageTime" name="packageTime"  type="text" readonly>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;套餐形式：<input  name="packageForm" value="0" type="radio"/>多种优惠方式
									<input  name="packageForm" value="1" type="radio" /> 单一优惠方式
								</div>
							</div>
																												<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">套餐日期：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="packageTime" name="packageTime" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
																												<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">套餐形式：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="packageForm" name="packageForm" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
																												<div class="form-group">	
								<label class="col-sm-3 control-label">生效日期：</label>
								<div class="col-sm-8">
									<input id="effectiveDate" name="effectiveDate" type="text">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;截至日期：<input id="expiryDate" name="expiryDate" type="text">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;套餐分类：<select id="packageType" name="packageType">
									<option value="框镜销售">框镜销售</option>
									<option value="隐形销售">隐形销售</option>
									<option value="辅料销售">辅料销售</option>
									</select>
								</div>
							</div>
																												<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">截至日期：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="expiryDate" name="expiryDate" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
																												<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">套餐分类：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<select id="packageType" name="packageType">-->
										<!--<option value="框镜销售">框镜销售</option>-->
										<!--<option value="隐形销售">隐形销售</option>-->
										<!--<option value="辅料销售">辅料销售</option>-->
									<!--</select>-->
									<!--&lt;!&ndash;<input id="packageType" name="packageType" class="form-control" type="text">&ndash;&gt;-->
								<!--</div>-->
							<!--</div>-->
																												<div class="form-group">	
								<label class="col-sm-3 control-label">套餐价格区间：</label>
								<div class="col-sm-8">
									<input id="startPrice" name="startPrice" type="text">
									    至
									<input id="endPrice" name="endPrice" type="text">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;套餐金额：<input id="packagePrice" name="packagePrice" type="text">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;允许累计积分：<input name="isCumulativePoints" type="radio" value="0"/>允许
									<input name="isCumulativePoints" type="radio" value="1" />不允许
								</div>
							</div>
																												<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">套餐价格区间结束：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="endPrice" name="endPrice" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
																												<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">套餐金额：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="packagePrice" name="packagePrice" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
																												<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">是否允许累计积分：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="isCumulativePoints" name="isCumulativePoints" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
																												<div class="form-group">	
								<label class="col-sm-3 control-label">允许累加：</label>
								<div class="col-sm-8">
									<input name="isAdd" value="0" type="radio"/>允许
									<input name="isAdd" value="1" type="radio"/>不允许
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;折上折：
									<input name="foldUp" value="0" type="radio"/>允许
									<input name="foldUp" value="1" type="radio"/>不允许
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;零售价格：<select id="retailPrice" name="retailPrice">
										<option value="标准零售价格">标准零售价格</option>
									</select>
								</div>
							</div>
																												<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">是否允许折上折：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="foldUp" name="foldUp" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
																												<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">零售价格：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="retailPrice" name="retailPrice" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
																												<div class="form-group">	
								<label class="col-sm-3 control-label">活动门店：</label>
								<div class="col-sm-8">
									<select name="storesstr" id="storesstr" multiple class="selectpicker form-control" onchange="changeDepart()">
										<option th:each="ls:${departmentDOList}"
												th:text="${ls.departName}"
												th:value="${ls.departName}"></option>
									</select>
									<input id="store" name="store" class="form-control" type="hidden">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
						<h3>购买商品</h3>
						<input type="button" value="添加购买商品" onclick="getGoods()">
						<table class="cho_tabA" cellspacing="0" cellpadding="0">
							<thead>
							<tr>
								<th><input name="cho" type="checkbox" />选择</th>
								<th>商品信息</th>
								<th>商品原价区间</th>
								<th>套餐价格区间</th>
								<th>销售数量</th>
								<th>消费满</th>
								<th>优惠方式</th>
								<th>套餐单价</th>
								<th>特价金额</th>
								<th>优惠金额</th>
								<th>优惠折扣</th>
							</tr>
							</thead>
							<tbody id="goods">
							</tbody>
						</table>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/packageInfo/add.js">
	</script>
<script type="text/javascript">
    $().ready(function(){
        var now = new Date();
        var year = now.getFullYear(); //得到年份
        var month = now.getMonth();//得到月份
        var date = now.getDate();//得到日期
        var hour = now.getHours();//小时
        var minutes = now.getMinutes();//分钟
        var seconds = now.getSeconds();//秒
        month = month + 1;
        if (month < 10) month = "0" + month;
        if (date < 10) date = "0" + date;
        var time = "";
        time = year + "-" + month + "-" + date;
        $("#packageTime").val(time);
    })
    laydate.render({
        elem: '#effectiveDate',
        type: 'date'
    });
    laydate.render({
        elem: '#expiryDate',
        type: 'date'
    });
    function changeDepart() {
        var interester = [];
        var obj = document.getElementById("storesstr");
        for (var i = 0; i < obj.options.length; i++) {
            if (obj.options[i].selected) {
                interester.push(obj.options[i].value);// 收集选中项
            }
        }
        $("#store").val(interester);
    }
    var html ="";
    function getGoods(){
        html = "<tr><td><input name=\"cho\" type=\"checkbox\" /></td>";
        html += "<td><select><option value='镜架'>镜架</option><option value='配件'>配件</option><option value='镜片'>镜片</option>";
        html += "<option value='成品片'>成品片</option><option value='订做片'>订做片</option><option value='太阳镜'>老花镜</option>";
		html += "<option value='耗材'>耗材</option><option value='视光'>视光</option><option value='护理液'>护理液</option></select>";
        html += "<input id='goodsName' /><input type='button' value='选择'/></td>";
		html += "<td>至</td>";
		html += "<td><input type='text' value='' />至<input type='text' value='' /></td>";
        html += "<td><input type='text' value='' /></td>";
        html += "<td><input type='text' value='' />至<input type='text' value='' /></td>";
        html += "<td><select><option value='原价'>原价</option><option value='打折'>打折</option></select></td>";
        html += "<td><input type='text' value='' /></td>";
        html += "<td><input type='text' value='' /></td>";
        html += "<td><input type='text' value='' /></td>";
        html += "<td><input type='text' value='' /></td>";
        $("#goods").append(html);
	}
</script>
</body>
</html>
