<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="kjjy_id" name="kjjy_id" th:value="${kjjy.kjjy_id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">卡号：</label>
								<div class="col-sm-8">
									<input id="cardNumber" name="cardNumber" th:value="${kjjy.cardNumber}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">处方类型：</label>
								<div class="col-sm-8">
									<input id="prescriptionType" name="prescriptionType" th:value="${kjjy.prescriptionType}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">医生：</label>
								<div class="col-sm-8">
									<input id="doctor" name="doctor" th:value="${kjjy.doctor}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">验光师：</label>
								<div class="col-sm-8">
									<input id="optometryName" name="optometryName" th:value="${kjjy.optometryName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">球镜OD：</label>
								<div class="col-sm-8">
									<input id="kjjySphod" name="kjjySphod" th:value="${kjjy.kjjySphod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">球镜OS：</label>
								<div class="col-sm-8">
									<input id="kjjySphos" name="kjjySphos" th:value="${kjjy.kjjySphos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜OD：</label>
								<div class="col-sm-8">
									<input id="kjjyCylod" name="kjjyCylod" th:value="${kjjy.kjjyCylod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜OS：</label>
								<div class="col-sm-8">
									<input id="kjjyCylos" name="kjjyCylos" th:value="${kjjy.kjjyCylos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">轴向OD：</label>
								<div class="col-sm-8">
									<input id="kjjyAxialod" name="kjjyAxialod" th:value="${kjjy.kjjyAxialod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">轴向OS：</label>
								<div class="col-sm-8">
									<input id="kjjyAxialos" name="kjjyAxialos" th:value="${kjjy.kjjyAxialos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">三棱镜(OD)：</label>
								<div class="col-sm-8">
									<input id="kjjyPrismod" name="kjjyPrismod" th:value="${kjjy.kjjyPrismod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">三棱镜(OS)：</label>
								<div class="col-sm-8">
									<input id="kjjyPrismos" name="kjjyPrismos" th:value="${kjjy.kjjyPrismos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">基底(OD)：</label>
								<div class="col-sm-8">
									<input id="kjjyJdod" name="kjjyJdod" th:value="${kjjy.kjjyJdod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">基底(OS)：</label>
								<div class="col-sm-8">
									<input id="kjjyJdos" name="kjjyJdos" th:value="${kjjy.kjjyJdos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">远用瞳距(mm)(OD)：</label>
								<div class="col-sm-8">
									<input id="kjjyYytjod" name="kjjyYytjod" th:value="${kjjy.kjjyYytjod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">远用瞳距(mm)(OS)：</label>
								<div class="col-sm-8">
									<input id="kjjyYytjos" name="kjjyYytjos" th:value="${kjjy.kjjyYytjos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">瞳高(mm)(OD)：</label>
								<div class="col-sm-8">
									<input id="kjjyTgod" name="kjjyTgod" th:value="${kjjy.kjjyTgod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">瞳高(mm)(OS)：</label>
								<div class="col-sm-8">
									<input id="kjjyTgos" name="kjjyTgos" th:value="${kjjy.kjjyTgos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">远用va(OD)：</label>
								<div class="col-sm-8">
									<input id="kjjyVaod" name="kjjyVaod" th:value="${kjjy.kjjyVaod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">远用va(OS)：</label>
								<div class="col-sm-8">
									<input id="kjjyVaos" name="kjjyVaos" th:value="${kjjy.kjjyVaos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">建议镜片材质：</label>
								<div class="col-sm-8">
									<input id="kjjyJpcz" name="kjjyJpcz" th:value="${kjjy.kjjyJpcz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">处理方式：</label>
								<div class="col-sm-8">
									<input id="kjjyClfs" name="kjjyClfs" th:value="${kjjy.kjjyClfs}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">建议框架：</label>
								<div class="col-sm-8">
									<input id="kjjyJykj" name="kjjyJykj" th:value="${kjjy.kjjyJykj}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">框架类型：</label>
								<div class="col-sm-8">
									<input id="kjjyKjlx" name="kjjyKjlx" th:value="${kjjy.kjjyKjlx}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">文本：</label>
								<div class="col-sm-8">
									<input id="kjjyText" name="kjjyText" th:value="${kjjy.kjjyText}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="kjjyBeizhu" name="kjjyBeizhu" th:value="${kjjy.kjjyBeizhu}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/jiancha/kjjy/edit.js">
	</script>
</body>
</html>
