<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div style="border:1px solid #000">
                            <h1 style="position: absolute;top: 10px;width: 150px;left: 100px;z-index: 99;background-color: white;">
                                必填项</h1>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">商品信息代码：</label>
                                <div class="col-sm-8">
                                    <input id="producNum" name="producNum" class="form-control" type="text"
                                           value="1.00.00.000000000.0000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">商品条码：</label>
                                <div class="col-sm-8">
                                    <input id="producCode" name="producCode" class="form-control" type="text"
                                           value="1.00.00.000000000.0000">
                                    <span style="color: red">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">商品名称：</label>
                                <div class="col-sm-8">
                                    <input id="producName" name="producName" class="form-control" type="text">
                                    <span style="color: red">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">制造商简称：</label>
                                <div class="col-sm-8">
                                    <select id="mfrsid" name="mfrsid" class="form-control"
                                            onchange="choice(this.options[this.options.selectedIndex].value)">
                                        <option></option>
                                        <option th:each="ls:${mfrsDOList}"
                                                th:text="${ls.mfrsname}"
                                                th:value="${ls.mfrsid}"
                                        ></option>
                                    </select>
                                    <span style="color: red">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">商品品种：</label>
                                <div class="col-sm-8">
                                    <select id="brandid" name="brandid" class="form-control"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">厂家型号：</label>
                                <div class="col-sm-8">
                                    <input id="factory" name="factory"
                                           onkeyup="factory1(this.value=this.value.toUpperCase())"
                                           class="form-control" type="text">
                                    <span style="color: red">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">型号：</label>
                                <div class="col-sm-8">
                                    <input id="producFactory" name="factory"
                                           onkeyup="factory1(this.value=this.value.toUpperCase())"
                                           class="form-control" type="text">
                                    <span style="color: red">*</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">商品编号：</label>
                                <div class="col-sm-8">
                                    <input id="proid" name="proid" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">计量单位：</label>
                                <div class="col-sm-8">
                                    <select id="unitid" name="unitid" class="form-control">
                                        <option></option>
                                        <option th:each="ls:${unitDOList}"
                                                th:text="${ls.unitname}"
                                                th:value="${ls.unitid}"
                                        ></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div style="border:1px solid #000">
                            <h1 style="position: absolute;top: 690px;width: 150px;left: 100px;z-index: 99;background-color: white;">
                                非必填项</h1>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">产品类型：</label>
                                <div class="col-sm-8">
                                    <select id="productType" name="productType" class="form-control">
                                        <option></option>
                                        <option value="软水">软水</option>
                                        <option value="硬水">硬水</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">主容量：</label>
                                <div class="col-sm-8">
                                    <input id="mainCapacity" name="mainCapacity" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">次容量：</label>
                                <div class="col-sm-8">
                                    <input id="secondCapacity" name="secondCapacity" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">效期提醒上限：</label>
                                <div class="col-sm-8">
                                    <!--<input id="upday" name="upday" class="form-control" type="text">-->
                                    有效期前 <input id="upday" name="upday" type="text"> 天提醒进入滞销状态
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">效期提醒下限：</label>
                                <div class="col-sm-8">
                                    <!--<input id="downday" name="downday" class="form-control" type="text">-->
                                    有效期前 <input id="downday" name="downday" type="text"> 天提醒进入即将失效状态
                                </div>
                            </div>
                        </div>
                        <div style="border:1px solid #000">
                            <h1 style="position: absolute;top: 1010px;width: 150px;left: 100px;z-index: 99;background-color: white;">
                                价格项</h1>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">税率(%)：</label>
                                <div class="col-sm-8">
                                    <input id="tax" name="tax" class="form-control" type="text" value="17">
                                    <span style="color: red">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">含税单价：</label>
                                <div class="col-sm-8">
                                    <input id="taxPrice" name="taxPrice" class="form-control" type="text">
                                    <span style="color: red">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">批发价格：</label>
                                <div class="col-sm-8">
                                    <input id="tradePrice" name="tradePrice" class="form-control" type="text">
                                    <span style="color: red">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">调货成本：</label>
                                <div class="col-sm-8">
                                    <input id="transferPrice" name="transferPrice" class="form-control" type="text">
                                    <span style="color: red">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">标准零售价格：</label>
                                <div class="col-sm-8">
                                    <input id="retailPrice" name="retailPrice" class="form-control" type="text">
                                    <span style="color: red">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/product/hly/add.js"></script>
<script>
    <!--//———制造商与品种联动—————-->
    function choice(value) {
        // alert(value);
        $("#brandid").empty("");
        $("#brandid").append("<option value=''></option>");
        $.ajax({
            url: "/product/hly/choice",
            type: "post",
            data: {
                'mfrsid': value
            },
            dataType: 'JSON',
            async: false,
            success: function (datajson) {
                alert(datajson);
                $(datajson).each(function (key) {
                    var id = datajson[key].brandid;
                    alert("id" + id);
                    var roleName = datajson[key].brandname;
                    alert("roleName" + roleName);
                    $("#brandid").append("<option value='" + id + "'>" + roleName + "</option>")
                });
            }
        });
    }

    // <!--//———厂家型号与型号联动—————-->
    function factory1(val) {
        var inputs = document.getElementsByName("factory");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].value = val;
        }
    }
</script>
</body>
</html>
