<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>收据2</title>
	<style type="text/css">
		*{padding: 0;margin: 0;box-sizing: border-box;font-size: 14px;}
		.main{margin:25px;}
		input[type="text"],select,textarea{width: 100%;line-height: 28px;outline: none;padding:2px 10px;border:1px solid #ddd;}
		select{height:32px;}
		textarea{height:auto;font-size: 14px;resize:none;}
		h3{font-size: 18px;margin-bottom: 10px;}
		table{width: 100%;text-align: center;margin-bottom: 20px;}
		table td{height:36px;padding:2px;border-bottom:2px solid #fff;border-right: 2px solid #fff;}
		.tabA{background: #e9f0fa;}
		.tabA td:nth-child(odd){background: #cddfeb;}
		.Xze,.qingK{width: 80px;height: 32px;margin-left: 10px;background: #0091f2;color:#fff;border:1px solid #fff;outline: none;border-radius:5px;}
		.tabB{background: #d4f2da;}
		.tabB td{width:9.09%;}
		.tabB input,.tabC input{text-align: center;}
		.Add{width: 60%;height: 32px;background: #24c543;color:#fff;border:1px solid #fff;outline: none;border-radius:5px;}
		.tabC{background: #cbdde7;}
		.qingK{margin-left: 0;}
		.allpik input{width: 150px;height: 42px;font-size: 16px;letter-spacing:2px; background: #0091f2;color:#fff;border:2px solid #e9f0fa;outline: none;border-radius:5px;}

		.tabB1{background: #f6e2ee;}
		.tabB1 td{width: 12.5%;}
		.Add1{width: 60%;height: 32px;background: #df5eab;color:#fff;border:1px solid #fff;outline: none;border-radius:5px;}

	</style>

</head>
<body>
<form class="form-horizontal m-t" id="signupForm">
	<div class="main">
		<h3>单据信息</h3>
		<input id="eyeStyle" name="eyeStyle" th:value="${eyeStyle}" type="hidden"/>
		<input id="mfrsid" name="mfrsid" th:value="${mfrsid}" type="hidden"/>
		<table class="tabA" border="0" cellspacing="0" cellpadding="0">
			<tbody>
			<tr>
				<td>销售单号</td>
				<td><input id="danjunum" name="danjunum" th:value="${danjunum}" readonly type="text" /></td>
				<td>单据日期</td>
				<td><input id="danjuDay" name="danjuDay" th:value="${danjuDay}" readonly type="text" /></td>
				<td>所属门店</td>
				<td>
					<input id="departname" name="departname" th:value="${departmentName}" readonly type="text" />
				</td>
			</tr>
			<tr>
				<td>制单人</td>
				<td>
					<input id="zhidanPeople" name="zhidanPeople" th:value="${zhidanPeople}" readonly type="text" />
				</td>
				<td>镜片型</td>
				<td>
					<input id="jcStyle" name="jcStyle" th:value="${eyeStyles}" readonly type="text" />
				</td>
				<td>预计取镜时间</td>
				<td><input readonly id="timetime" name="timetime" type="text" /></td>
			</tr>
			<tr>
				<td>单据类型</td>
				<td>
					<select id="danjuStyle" name="danjuStyle">
						<option value="1">外部配镜单</option>
						<option value="2">回修配镜单</option>
						<option value="3">报残配镜单</option>
					</select>
				</td>
				<td>原配镜单</td>
				<td style="text-align:left;">
					<input id="saleNumber" name="saleNumber"  readonly type="text" style="width:80%" />
					<input type="button" class="Xze" value="选择" onclick="PeiJing()" />
				</td>
				<td>委外类型</td>
				<td>
					<select id="weiwaiStyle" name="weiwayStyle">
						<option value="委外订单">委外订单</option>
						<option value="委外加工">委外加工</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>备注</td>
				<td colspan="5"><textarea name="beizhu" id="beizhu" cols="30" rows="2"></textarea></td>
			</tr>
			</tbody>
		</table>

		<h3>度数录入</h3>
		<table  id="tab1" style="display: none" class="tabB" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td></td>
				<td>球镜</td>
				<td>柱镜</td>
				<td>轴向</td>
				<td>ADD</td>
				<td>三菱镜</td>
				<td>基底</td>
				<td>瞳距（远）</td>
				<td>瞳距（近）</td>
				<td>选择</td>
			</tr>
			<tr>
				<td>OD</td>
				<td><input id="rightsph" name="rightsph"  onblur="zhengfu(this)" onkeydown="xiaoshu(this)" type="text" /></td>
				<td><input id="rightcyl" name="rightcyl"  onblur="zhengfu(this)" onkeydown="xiaoshu(this)" type="text" /></td>
				<td><input id="rightzx" name="rightzx"    onblur="zhouxiang(this)" type="text" /></td>
				<td><input id="rightAdd" name="rightAdd"  type="text" /></td>
				<td><input id="rightSlj" name="rightSlj" type="text" /></td>
				<td><input id="rightJd" name="rightJd"  type="text" /></td>
				<td><input id="rightFartj" name="rightFartj" type="text" /></td>
				<td><input id="rightNeartj" name="rightNeartj"   type="text" /></td>
				<td><input type="button" class="Add" value="单品添加商品" onclick="getGoods()" /></td>
			</tr>
			<tr>
				<td>OS</td>
				<td><input id="leftsph" name="leftsph"  onblur="zhengfu(this)" onkeydown="xiaoshu(this)" type="text" /></td>
				<td><input id="leftcyl" name="leftcyl" onblur="zhengfu(this)" onkeydown="xiaoshu(this)" type="text" /></td>
				<td><input id="leftzx" name="leftzx"  onblur="zhouxiang(this)" type="text" /></td>
				<td><input id="leftAdd" name="leftAdd"   type="text" /></td>
				<td><input id="leftSlj" name="leftSlj"  type="text" /></td>
				<td><input id="leftJd" name="leftJd"  type="text" /></td>
				<td><input id="leftFartj" name="leftFartj"   type="text" /></td>
				<td><input id="leftNeartj" name="leftNeartj"   type="text" /></td>
				<td><input type="button" class="Add" value="单品添加商品" onclick="getGoods()"/></td>
			</tr>
		</table>
		<table id="tab2" style="display: none" class="tabB1" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td></td>
				<td>球镜</td>
				<td>柱镜</td>
				<td>轴向</td>
				<td>曲率</td>
				<td>直径</td>
				<td>选择</td>
			</tr>
			<tr>
				<td>OD</td>
				<td><input id="rightsphyx" name="rightsphyx"  onblur="zhengfu(this)" onkeydown="xiaoshu(this)" type="text" /></td>
				<td><input id="rightcylyx" name="rightcylyx"  onblur="zhengfu(this)" onkeydown="xiaoshu(this)" type="text" /></td>
				<td><input id="rightzxyx" name="rightzxyx"    onblur="zhouxiang(this)" type="text" /></td>
				<td><input id="rightqulv" name="rightqulv" type="text" /></td>
				<td><input id="rightzj" name="rightzj" type="text" /></td>
				<td><input type="button" class="Add1" value="单品添加商品" /></td>
			</tr>
			<tr>
				<td>OS</td>
				<td><input id="leftsphyx" name="leftsphyx"  onblur="zhengfu(this)" onkeydown="xiaoshu(this)" type="text" /></td>
				<td><input id="leftcylyx" name="leftcylyx" onblur="zhengfu(this)" onkeydown="xiaoshu(this)" type="text" /></td>
				<td><input id="leftzxyx" name="leftzxyx"  onblur="zhouxiang(this)" type="text" /></td>
				<td><input id="leftqulv" name="leftqulv" type="text" /></td>
				<td><input id="leftzj" name="leftzj" type="text" /></td>
				<td><input type="button" class="Add1" value="单品添加商品" /></td>
			</tr>
		</table>

		<h3>商品列表</h3>
		<table id="tab3" style="display: none" class="tabC" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td width="250">商品代码</td>
				<td width="250">商品名称</td>
				<td>镜片型</td>
				<td>球镜</td>
				<td>柱镜</td>
				<td>轴向</td>
				<td>下加</td>
				<td>棱镜</td>
				<td>基底</td>
				<td>瞳高</td>
				<td>数量</td>
				<td width="300">加工要求</td>
				<td width="100">操作</td>
			</tr>
			<tr>
				<td><input id="rightNum" name="rightNum"   type="text" /></td>
				<td><input id="rightName" name="rightName" type="text" /></td>
				<td><input id="rightR" name="rightR"     type="text" /></td>
				<td><input id="sph1" type="text" /></td>
				<td><input id="cyl1" type="text" /></td>
				<td><input id="zx1"  type="text" /></td>
				<td><input id="xj1"  type="text" /></td>
				<td><input id="lj1"  type="text" /></td>
				<td><input id="jd1"  type="text" /></td>
				<td><input id="tg1"  type="text" /></td>
				<td><input id="countr" name="countr"  type="text"/></td>
				<td><input id="yaoqiur" name="yaoqiur" type="text" /></td>
				<td><input type="button" class="qingK" value="清空" /></td>
			</tr>
			<tr>
				<td><input id="leftNum" name="leftNum" type="text" /></td>
				<td><input id="leftName" name="leftName"type="text" /></td>
				<td><input id="leftL" name="leftL"    type="text" /></td>
				<td><input id="sph2"type="text" /></td>
				<td><input id="cyl2"type="text" /></td>
				<td><input id="zx2" type="text" /></td>
				<td><input id="xj2" type="text" /></td>
				<td><input id="lj2" type="text" /></td>
				<td><input id="jd2" type="text" /></td>
				<td><input id="tg2" type="text" /></td>
				<td><input id="countl" name="countl" type="text" /></td>
				<td><input id="yaoqiul" name="yaoqiul" type="text" /></td>
				<td><input type="button" class="qingK" value="清空" /></td>
			</tr>
		</table>
		<table id="tab4" style="display: none" class="tabC" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td width="250">商品代码</td>
				<td width="250">商品名称</td>
				<td>镜片型</td>
				<td>球镜</td>
				<td>柱镜</td>
				<td>轴向</td>
				<td>曲率</td>
				<td>直径</td>
				<td>数量</td>
				<td width="300">特殊加工要求</td>
				<td width="100">操作</td>
			</tr>
			<tr>
				<td><input id="rightNumyx" name="rightNumyx"   type="text" /></td>
				<td><input id="rightNameyx" name="rightNameyx" type="text" /></td>
				<td><input id="rightRyx" name="rightRyx"     type="text" /></td>
				<td><input id="sphyx1"  type="text" /></td>
				<td><input id="cylyx1"  type="text" /></td>
				<td><input id="zxyx1"   type="text" /></td>
				<td><input id="qulvyx1" type="text" /></td>
				<td><input id="zjyx1"   type="text" /></td>
				<td><input id="countryx" name="countryx" type="text" /></td>
				<td><input id="yaoqiuryx" name="yaoqiuryx" type="text" /></td>
				<td><input type="button" class="qingK" value="清空" /></td>
			</tr>
			<tr>
				<td><input id="leftNumyx" name="leftNumyx"  type="text" /></td>
				<td><input id="leftNameyx" name="leftNameyx"type="text" /></td>
				<td><input id="leftLyx" name="leftLyx"    type="text" /></td>
				<td><input id="sphyx2"  type="text" /></td>
				<td><input id="cylyx2"  type="text" /></td>
				<td><input id="zxyx2"   type="text" /></td>
				<td><input id="qulvyx2" type="text" /></td>
				<td><input id="zjyx2"   type="text" /></td>
				<td><input id="countlyx" name="countlyx" type="text" /></td>
				<td><input id="yaoqiulyx" name="yaoqiulyx" type="text" /></td>
				<td><input type="button" class="qingK" value="清空" /></td>
			</tr>
		</table>
		<div class="allpik"><input type="button" value="选择" onclick="save()" /></div>
	</div>
</form>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/stock/weiwaishuju/add.js"></script>
<script type="text/javascript">
    $().ready(function () {
        var eyeStyle = $('#eyeStyle').val();
        if (eyeStyle==3){
            tab1.style = "display: block";
            tab3.style = "display: block";
            tab2.style = "display: none";
            tab4.style = "display: none";
        } else if (eyeStyle == 4){
            tab1.style = "display: none";
            tab3.style = "display: none";
            tab2.style = "display: block";
            tab4.style = "display: block";
        }
    });
    //日期
    laydate.render({
        elem: '#timetime',
        type: 'date'
    });

    function PeiJing() {
        var eyeStyle = $('#eyeStyle').val();
        var toIndex = layer.open({
            type: 2,
            title: '制造商',
            maxmin: true,
            shadeClose: false, // 点击遮罩关闭层
            area: ['800px', '520px'],
            content: "/stock/weiwai/PeiJing/" + eyeStyle,// iframe的url
            cancel: function (index, layero) {
                // var departmentIds=$('#departmentIds').val();
                // alert(departmentIds)
                var rows = $(layero).find("iframe")[0].contentWindow.batchSelect();
                for (var i = 0; i < rows.length; i++) {
                    // alert(JSON.stringify(rows))
                    // alert(rows[i].rightcyl)
                    if(null == rows[i].saleNumber){
                        rows[i].saleNumber="";
                    }

                    if(null == rows[i].rightsph){
                        rows[i].rightsph="";
                    }
                    if(null == rows[i].rightcyl){
                        rows[i].rightcyl="";
                    }
                    if(null == rows[i].rightzx){
                        rows[i].rightzx="";
                    }
                    if(null == rows[i].rightAdd){
                        rows[i].rightAdd="";
                    }
                    if(null == rows[i].rightSlj){
                        rows[i].rightSlj="";
                    }
                    if(null == rows[i].rightJd){
                        rows[i].rightJd="";
                    }
                    if(null == rows[i].rightFartj){
                        rows[i].rightFartj="";
                    }
                    if(null == rows[i].rightNeartj){
                        rows[i].rightNeartj="";
                    }
                    if(null == rows[i].leftsph){
                        rows[i].leftsph="";
                    }
                    if(null == rows[i].leftcyl){
                        rows[i].leftcyl="";
                    }
                    if(null == rows[i].leftzx){
                        rows[i].leftzx="";
                    }
                    if(null == rows[i].leftAdd){
                        rows[i].leftAdd="";
                    }
                    if(null == rows[i].leftSlj){
                        rows[i].leftSlj="";
                    }
                    if(null == rows[i].leftJd){
                        rows[i].leftJd="";
                    }
                    if(null == rows[i].leftFartj){
                        rows[i].leftFartj="";
                    }
                    if(null == rows[i].leftNeartj){
                        rows[i].leftNeartj="";
                    }
                    if(null == rows[i].goodsNum){
                        rows[i].goodsNum="";
                    }



                    $("#saleNumber").val(rows[i].saleNumber);

                    $("#rightsph").val(rows[i].rightsph);
                    $("#rightcyl").val(rows[i].rightcyl);
                    $("#rightzx").val(rows[i].rightzx);
                    $("#rightAdd").val(rows[i].rightAdd);
                    $("#rightSlj").val(rows[i].rightSlj);
                    $("#rightJd").val(rows[i].rightJd);
                    $("#rightFartj").val(rows[i].rightFartj);
                    $("#rightNeartj").val(rows[i].rightNeartj);








                    $("#sph1").val(rows[i].rightsph);
                    $("#cyl1").val(rows[i].rightcyl);
                    $("#zx1").val(rows[i].rightzx);
                    $("#xj1").val(rows[i].rightAdd);
                    $("#lj1").val(rows[i].rightSlj);
                    $("#jd1").val(rows[i].rightJd);
                    // $("#tg1").val(rows[i].rightFartj);


                    $("#leftsph").val(rows[i].leftsph);
                    $("#leftcyl").val(rows[i].leftcyl);
                    $("#leftzx").val(rows[i].leftzx);
                    $("#leftAdd").val(rows[i].leftAdd);
                    $("#leftSlj").val(rows[i].leftSlj);
                    $("#leftJd").val(rows[i].leftJd);
                    $("#leftFartj").val(rows[i].leftFartj);
                    $("#leftNeartj").val(rows[i].leftNeartj);

                    $("#sph2").val(rows[i].leftsph);
                    $("#cyl2").val(rows[i].leftcyl);
                    $("#zx2").val(rows[i].leftzx);
                    $("#xj2").val(rows[i].leftAdd);
                    $("#lj2").val(rows[i].leftSlj);
                    $("#jd2").val(rows[i].leftJd);



                    $("#rightsphyx").val(rows[i].rightsph);
                    $("#rightcylyx").val(rows[i].rightcyl);
                    $("#rightzxyx").val(rows[i].rightzx);
                    $("#leftsphyx").val(rows[i].leftsph);
                    $("#leftcylyx").val(rows[i].leftcyl);
                    $("#leftzxyx").val(rows[i].leftzx);

                    $("#sphyx1").val(rows[i].rightsph);
                    $("#cylyx1").val(rows[i].rightcyl);
                    $("#zxyx1").val(rows[i].rightzx);

                    $("#sphyx2").val(rows[i].leftsph);
                    $("#cylyx2").val(rows[i].leftcyl);
                    $("#zxyx2").val(rows[i].leftzx);



                    if (eyeStyle==3){//镜片
                        var array = rows[i].jpGoodsNum.split(",");

                        var leftRight = rows[i].leftRight.split(",");
                        var jpName = rows[i].jpGoodsName.split(",");

                        for (var t=0;t<array.length;t++){

                            $("#rightNum").val(array[0]);
                            $("#rightName").val(jpName[0]);
                            $("#rightR").val(leftRight[0]);
                            $("#countr").val(1);


                            $("#leftNum").val(array[1]);
                            $("#leftName").val(jpName[1]);
                            $("#leftL").val(leftRight[1]);
                            $("#countl").val(1);





                        }
                    } else if (eyeStyle ==4){//隐形
                        var array = rows[i].goodsNum.split(",");

                        var leftRight = rows[i].leftRight.split(",");
                        var jpName = rows[i].jpGoodsName.split(",");

                        for (var t=0;t<array.length;t++){
                            $("#rightNumyx").val(array[0]);
                            $("#rightNameyx").val(jpName[0]);
                            $("#rightRyx").val(leftRight[0]);
                            $("#countryx").val(1);
                            $("#leftNumyx").val(array[1]);
                            $("#leftNameyx").val(jpName[1]);
                            $("#leftLyx").val(leftRight[1]);
                            $("#countlyx").val(1);
                        }
                    }

                }
            }
        });
        layer.full(toIndex);
    }

    //正负+—
    function zhengfu(e) {//正负用onblur事件触发
        var val = parseFloat(e.value)
        if (val > 0) {
            e.value = "+" + val.toFixed(2)
        } else if (val <= 0) {
            e.value = val.toFixed(2)
        }
    };

    function xiaoshu(e) {//用 onkeyup 或者 onkeydown事件 配合正负方法使用
        var val = parseFloat(e.value);
        var val1 = e.value;
        // console.log(val);
        var num = val1.indexOf(".") + 2;
        console.log(num);
        if (val1.length > num) {
            console.log(123);
            var val2 = 0 | val * 100;
            e.value = val2 / 100
        }
    }






















    // function addshang() {
    // 	// layer.alert("是否添加选择商品！");
    //     var rightNum = $("#rightNum").val();
    //     var rightName = $("#rightName").val();
    //     var rightrl = $("#rightrl").val();
    //     var leftNum = $("#leftNum").val();
    //     var leftName =  $("#leftName").val();
    //     var leftrl = $("#leftrl").val();
    //     var array=[];
    //     //array.push({'rightNum':rightNum},{'rightName':rightName},{'rightrl':rightrl},{'leftNum':leftNum},{'leftName':leftName},{'leftrl':leftrl});
    //     array.push(rightNum);
    //     array.push(rightName);
    //     array.push(rightrl);
    //     array.push(leftNum);
    //     array.push(leftName);
    //     array.push(leftrl);
    // 	return array;
    // }
</script>
</body>
</html>

