<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${weiwaishuju.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">销售单号：</label>
								<div class="col-sm-8">
									<input id="danjunum" name="danjunum" th:value="${weiwaishuju.danjunum}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">单据日期：</label>
								<div class="col-sm-8">
									<input id="danjuDay" name="danjuDay" th:value="${weiwaishuju.danjuDay}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">所属部门：</label>
								<div class="col-sm-8">
									<input id="departname" name="departname" th:value="${weiwaishuju.departname}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">制单人：</label>
								<div class="col-sm-8">
									<input id="zhidanPeople" name="zhidanPeople" th:value="${weiwaishuju.zhidanPeople}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">镜片类型：</label>
								<div class="col-sm-8">
									<input id="jcStyle" name="jcStyle" th:value="${weiwaishuju.jcStyle}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">取镜时间：</label>
								<div class="col-sm-8">
									<input id="timetime" name="timetime" th:value="${weiwaishuju.timetime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">单据类型：</label>
								<div class="col-sm-8">
									<input id="danjuStyle" name="danjuStyle" th:value="${weiwaishuju.danjuStyle}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">原配镜单：</label>
								<div class="col-sm-8">
									<input id="saleNumber" name="saleNumber" th:value="${weiwaishuju.saleNumber}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">委外类型：</label>
								<div class="col-sm-8">
									<input id="weiwaiStyle" name="weiwaiStyle" th:value="${weiwaishuju.weiwaiStyle}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="beizhu" name="beizhu" th:value="${weiwaishuju.beizhu}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">球镜OD：</label>
								<div class="col-sm-8">
									<input id="rightsph" name="rightsph" th:value="${weiwaishuju.rightsph}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">球镜OS：</label>
								<div class="col-sm-8">
									<input id="leftsph" name="leftsph" th:value="${weiwaishuju.leftsph}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜OD：</label>
								<div class="col-sm-8">
									<input id="rightcyl" name="rightcyl" th:value="${weiwaishuju.rightcyl}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜OS：</label>
								<div class="col-sm-8">
									<input id="leftcyl" name="leftcyl" th:value="${weiwaishuju.leftcyl}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">轴向OD：</label>
								<div class="col-sm-8">
									<input id="rightzx" name="rightzx" th:value="${weiwaishuju.rightzx}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">轴向OS：</label>
								<div class="col-sm-8">
									<input id="leftzx" name="leftzx" th:value="${weiwaishuju.leftzx}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">AddOD：</label>
								<div class="col-sm-8">
									<input id="rightAdd" name="rightAdd" th:value="${weiwaishuju.rightAdd}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">AddOS：</label>
								<div class="col-sm-8">
									<input id="leftAdd" name="leftAdd" th:value="${weiwaishuju.leftAdd}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">三棱镜OD：</label>
								<div class="col-sm-8">
									<input id="rightSlj" name="rightSlj" th:value="${weiwaishuju.rightSlj}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">三棱镜OS：</label>
								<div class="col-sm-8">
									<input id="leftSlj" name="leftSlj" th:value="${weiwaishuju.leftSlj}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">基底OD：</label>
								<div class="col-sm-8">
									<input id="rightJd" name="rightJd" th:value="${weiwaishuju.rightJd}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">基底OS：</label>
								<div class="col-sm-8">
									<input id="leftJd" name="leftJd" th:value="${weiwaishuju.leftJd}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">远瞳距OD：</label>
								<div class="col-sm-8">
									<input id="rightFartj" name="rightFartj" th:value="${weiwaishuju.rightFartj}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">远瞳距OS：</label>
								<div class="col-sm-8">
									<input id="leftFartj" name="leftFartj" th:value="${weiwaishuju.leftFartj}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">近瞳距OD：</label>
								<div class="col-sm-8">
									<input id="rightNeartj" name="rightNeartj" th:value="${weiwaishuju.rightNeartj}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">近瞳距OS：</label>
								<div class="col-sm-8">
									<input id="leftNeartj" name="leftNeartj" th:value="${weiwaishuju.leftNeartj}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">曲率OD：</label>
								<div class="col-sm-8">
									<input id="rightqulv" name="rightqulv" th:value="${weiwaishuju.rightqulv}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">曲率OS：</label>
								<div class="col-sm-8">
									<input id="leftqulv" name="leftqulv" th:value="${weiwaishuju.leftqulv}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">直径OD：</label>
								<div class="col-sm-8">
									<input id="rightzj" name="rightzj" th:value="${weiwaishuju.rightzj}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">直径OS：</label>
								<div class="col-sm-8">
									<input id="leftzj" name="leftzj" th:value="${weiwaishuju.leftzj}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">商品代码OD：</label>
								<div class="col-sm-8">
									<input id="rightNum" name="rightNum" th:value="${weiwaishuju.rightNum}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">商品代码OS：</label>
								<div class="col-sm-8">
									<input id="leftNum" name="leftNum" th:value="${weiwaishuju.leftNum}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">商品名称OD：</label>
								<div class="col-sm-8">
									<input id="rightName" name="rightName" th:value="${weiwaishuju.rightName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">商品名称OS：</label>
								<div class="col-sm-8">
									<input id="leftName" name="leftName" th:value="${weiwaishuju.leftName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">镜片型OD：</label>
								<div class="col-sm-8">
									<input id="rightR" name="rightR" th:value="${weiwaishuju.rightR}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">镜片型OS：</label>
								<div class="col-sm-8">
									<input id="leftL" name="leftL" th:value="${weiwaishuju.leftL}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">数量OD：</label>
								<div class="col-sm-8">
									<input id="countr" name="countr" th:value="${weiwaishuju.countr}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">数量OS：</label>
								<div class="col-sm-8">
									<input id="countl" name="countl" th:value="${weiwaishuju.countl}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">要求OD：</label>
								<div class="col-sm-8">
									<input id="yaoqiur" name="yaoqiur" th:value="${weiwaishuju.yaoqiur}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">要求OS：</label>
								<div class="col-sm-8">
									<input id="yaoqiul" name="yaoqiul" th:value="${weiwaishuju.yaoqiul}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/stock/weiwaishuju/edit.js">
	</script>
</body>
</html>
