<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>批调统计表</title>
	<link rel="stylesheet" href="/css/css.css" type="text/css">
	<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<!--查询条件-->
<div class="m40 tabS msgBox">
	<h3>查询条件</h3>
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>仓位名称：</td>
			<td>
				<select id="positionId" name="positionId">
					<option value="">--请选择--</option>
					<option th:each="ls:${positionDOList}" th:text="${ls.positionName}"
							th:value="${ls.positionId}"></option>
				</select>
			</td>
			<td>单据号：</td>
			<td>
				<input id="producCode" name="producCode" type="text"/>
			</td>
			<td>制单人：</td>
			<td>
				<input id="2" name="producCode" type="text"/>
			</td>
		</tr>
		<tr>
			<td>仓位名称：</td>
			<td>
				<textarea id="departments" name="departments" readonly placeholder="请选择部门"></textarea>
				<input type="button" class="XZ-btn" value="选择" onclick="choiceDepartment()"/>
			</td>
			<td>出入库时间：</td>
			<td>
				<input id="settleDateStart" type="text"
					   placeholder="开始日期">～
				<input id="settleDateEnd" type="text"
					   placeholder="结束日期">
			</td>
		</tr>

		<tr>
			<td>商品类别：</td>
			<td >
				<select id="goodsType" name="goodsType" onchange="goodsidstr()">
					<option value="">--请选择--</option>
					<option th:each="ls:${goodsDOList}" th:text="${ls.goodsname}" th:value="${ls.goodsid}">
					</option>
				</select>
			</td>
			<td>制造商：</td>
			<td>
				<input id="mfrsname" name="mfrsname" type="text" readonly/>
				<input type="button" class="XZ-btn" value="选择" onclick="choiceMfrs()"/>
			</td>
			<td>商品品种：</td>
			<td>
				<input id="brandname" name="brandname" type="text" readonly style="background-color: #e4e4e4" />
				<input type="button" class="XZ-btn" value="选择" onclick="choiceBrand()"/>
			</td>
		</tr>
		<tr>
			<td>商品代码：</td>
			<td>
				<input id="producNum" name="producNum" type="text">
			</td>
			<td>商品名称：</td>
			<td>
				<input id="producName" name="producName" type="text"/>
			</td>

		</tr>
	</table>
	<!--保存/清空-->
	<div class="BQ-btn">
		<input type="button" value="查询" onclick="reLoad()"/>
		<input type="button" class="empty" value="清空" onclick="clearText()"/>
	</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript">
    //清空
    function clearText() {
        var controls = document.getElementsByTagName('input');
        for (var i = 0; i < controls.length; i++) {
            if (controls[i].type == 'text') {
                controls[i].value = '';
            }
        }
    }
</script>
</body>
</html>
