<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>诊室</title>
	<link rel="stylesheet" href="/css/css.css" type="text/css">
</head>
<body>
	<!--保存-->
<form class="form-horizontal m-t" id="signupForm" style="margin-top: 20px;text-align: center;">
	诊室:
	<!--<input type="text" id="consultRoom" name="consultRoom" >-->
	<select name="consultRoom" id="consultRoom" class="form-control" data-actions-box="false" style="width: 110px;" >
		<option th:each="ls:${opticianDOList}"
				th:text="${ls.room}"
				th:value="${ls.room}"></option>
	</select>
</form>
<div th:include="include::footer"></div>
<script type="text/javascript">
    function sureRoom(){
        var consultRoom = $("#consultRoom").val();
        return consultRoom;
    }
</script>
</body>
</html>
