<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>不合格管理新增</title>
    <link rel="stylesheet" href="/css/css.css" type="text/css">
</head>
<body>
<form class="form-horizontal m-t" id="signupForm">
<div class="new_h3">不合格管理新增</div>

<!--检查条件-->
<div class="m40 tabS PHGL">
    <h3>检查条件</h3>
    <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td>单据编号：</td>
            <td><input style="border: 0px;" readonly type="text" id="documentNumber" name="documentNumber" th:value="${documentNumber}"></td>
            <td>单据日期：</td>
            <td><input style="border: 0px;" readonly type="text" id="billDate" name="billDate" th:value="${billDate}"></td>
            <td>申报部门：</td>
            <td><input style="border: 0px;" readonly type="text" id="departmentAppli" name="departmentAppli" th:value="${departmentAppli}"></td>
        </tr>
        <tr>
            <td>申报仓位：</td>
            <td width="25%">
                <select name="positionAppli" id="positionAppli">
                    <option></option>
                    <option th:each="ls:${positionDOS}"
                            th:text="${ls.positionName}"
                            th:value="${ls.positionNum}"></option>
                </select>
            </td>
            <td>制单人：</td>
            <td><input style="border: 0px;" readonly type="text" id="preparedName" name="preparedName" th:value="${preparedName}"></td>
            <td>责任人：</td>
            <td width="25%">
                <select name="responsibleName" id="responsibleName">
                    <option></option>
                    <option th:each="ls:${userDOList}"
                            th:text="${ls.name}"
                            th:value="${ls.name}"></option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="HH_btns">
        <div class="Xbtn">
            <input type="button" onclick="addGoods()" value="按配镜单添加商品" />
            <!--<input type="button" value="已核销订单添加商品" />-->
            <!--<input type="button" value="二维表添加商品" />-->
            <!--<input class="HgreenBG" type="button" value="打印条码" />-->
        </div>
        <!--<div class="Cbtn buyBtns">-->
            <!--<input type="button" class="H_bc" value="保存" />-->
            <!--<input type="checkbox" id="Hbc" /> <label for="Hbc">保存并审核</label>-->
        <!--</div>-->
    </div>

</div>

<!--商品信息-->
<div class="m40 tabS SPmsg">
    <h3>商品信息</h3>
    <table border="0" cellspacing="0" cellpadding="0" class="buyBtns">
        <tbody id="unqualId">
        <tr class="thead">
            <td>全选 <input type="checkbox" /></td>
            <td>商品代码</td>
            <td>商品名称</td>
            <td>不合格原因</td>
            <td>备注</td>
            <td>数量</td>
            <td>商品条码</td>
            <td>处理</td>
        </tr>
        <!--<tr>-->
            <!--<td><input type="checkbox" /></td>-->
            <!--<td>123569875425</td>-->
            <!--<td>名称名称每次</td>-->
            <!--<td style="width: 25%;">-->
                <!--<select>-->
                    <!--<option value="张三">张三</option>-->
                    <!--<option value="李四">李四</option>-->
                <!--</select>-->
                <!--<select>-->
                    <!--<option value="张三">张三</option>-->
                    <!--<option value="李四">李四</option>-->
                <!--</select>-->
            <!--</td>-->
            <!--<td><input type="text" name="remark"></td>-->
            <!--<td><input type="text"></td>-->
            <!--<td><input type="text"></td>-->
            <!--<td>-->
                <!--<select>-->
                    <!--<option value="报残">报残</option>-->
                    <!--<option value="退回">退回</option>-->
                <!--</select>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr style="font-weight:bold;font-size: 15px;">-->
            <!--<td colspan="12" style="text-align:right;">合计：</td>-->
            <!--<td>156698</td>-->
        <!--</tr>-->
        </tbody>
    </table>
    <div class="Cbtn buyBtns">
        <input type="submit" class="H_bc" value="保存" />
        <!--<input type="checkbox" id="HHbc" /> <label for="HHbc">保存并审核</label>-->
    </div>
</div>

</form>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/unqualiffed/add.js"></script>
<script type="text/javascript" src="/js/appjs/unqualiffed/saleGoods.js"></script>
</body>
</html>
