<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.mfrs.dao.BatchDao">

	<select id="get" resultType="com.shiguang.mfrs.domain.BatchDO">
		select `batchid`,`batchstate` from c_batch where batchid = #{value}
	</select>

	<select id="list" resultType="com.shiguang.mfrs.domain.BatchDO">
		select `batchid`,`batchstate` from c_batch
        <where>  
		  		  <if test="batchid != null and batchid != ''"> and batchid = #{batchid} </if>
		  		  <if test="batchstate != null and batchstate != ''"> and batchstate = #{batchstate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by batchid desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from c_batch
		 <where>  
		  		  <if test="batchid != null and batchid != ''"> and batchid = #{batchid} </if>
		  		  <if test="batchstate != null and batchstate != ''"> and batchstate = #{batchstate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shiguang.mfrs.domain.BatchDO">
		insert into c_batch
		(
			`batchid`, 
			`batchstate`
		)
		values
		(
			#{batchid}, 
			#{batchstate}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.mfrs.domain.BatchDO">
		update c_batch 
		<set>
			<if test="batchstate != null">`batchstate` = #{batchstate}</if>
		</set>
		where batchid = #{batchid}
	</update>
	
	<delete id="remove">
		delete from c_batch where batchid = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from c_batch where batchid in 
		<foreach item="batchid" collection="array" open="(" separator="," close=")">
			#{batchid}
		</foreach>
	</delete>

</mapper>