<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.mfrs.dao.BrandDao">

    <select id="getall" resultType="com.shiguang.mfrs.domain.BrandDO">
        select b.`brandid`,b.`brandnum`,b.`brandname`,b.`goodsid`,good.`goodsname`,
        b.`materialid`,ma.`materialname`,
        b.`lens_id`,le.`lens_name`,li.`light_id`,li.`light_name`,
        b.`refractivityid`,re.`refractivityvalue`,b.`function_id`,fu.`function_name`,
        b.`gradual_id`,gr.`gradual_name`,
        b.`usage_id`,us.`usage_name`,b.`type_id`,ty.`type_name`,b.`registration`,
        b.`mfrsid`,mfrs.`mfrsname`,b.`unitid`,b.`address`,b.`payid`,b.`batchid`,b.`factory`,b.`money`,b.`shorthandcode`,b.`productionkey`,
        b.`xsstate`,b.`state`,b.`payday`
        from c_brand b
            left join c_goods good on b.goodsid=good.goodsid
            left join c_material ma on b.materialid=ma.materialid
            left join p_lens le on b.lens_id=le.lens_id
            left join p_light li on b.light_id=li.light_id
            left join c_refractivity re on b.refractivityid=re.refractivityid
            left join p_function fu on b.function_id=fu.function_id
            left join p_gradual gr on b.gradual_id=gr.gradual_id
            left join p_usage us on b.usage_id=us.usage_id
            left join p_type ty on b.type_id=ty.type_id
            left join c_mfrs mfrs on b.mfrsid=mfrs.mfrsnum
            where brandid = #{value}
	</select>
    <select id="list" resultType="com.shiguang.mfrs.domain.BrandDO">
        select b.`xsstate`,b.`state`,
        b.`brandid`,b.`brandnum`,b.`brandname`,b.`goodsid`,good.`goodsname`,b.`materialid`,b.`materialname`,b.`lens_id`,b.`lens_name`,b.`light_id`,
        b.`light_name`,b.`refractivityid`,b.`refractivityvalue`,b.`function_id`,b.`function_name`,b.`gradual_id`,b.`gradual_name`,b.`usage_id`,
        b.`usage_name`,b.`type_id`,b.`type_name`,b.`registration`,b.`mfrsid`,m.`mfrsname`,b.`unitid`,b.`address`,b.`payid`,b.`batchid`,b.`factory`,
        b.`money`,b.`shorthandcode`,b.`productionkey`,b.`payday`
        from c_brand b left join c_mfrs m on b.mfrsid=m.mfrsnum left join c_goods good on b.goodsid=good.goodsid
        <where>
            <if test="goodsid != null and goodsid != ''">and b.goodsid = #{goodsid}</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname LIKE concat(concat('%', #{mfrsname}),'%')</if>
            <if test="brandnum != null and brandnum != ''">and b.brandnum LIKE concat(concat('%', #{brandnum}),'%')</if>
            <if test="brandname != null and brandname != ''">and b.brandname LIKE concat(concat('%', #{brandname}),'%')</if>
            <if test="xsstate != null and xsstate != ''">and b.xsstate = #{xsstate}</if>
            <if test="payid != null and payid != ''">and b.payid = #{payid}</if>
            <if test="mfrsids != null and mfrsids != ''">and b.mfrsid LIKE concat(concat('%', #{mfrsids}),'%')</if>
            <if test="goodsids != null and goodsids != ''">and b.goodsid LIKE concat(concat('%', #{goodsids}),'%')</if>
            and  b.state= 1 and m.xsstate=0 and m.state=1
        </where>
        group by b.brandid order by b.brandid desc
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*)  from c_brand b left join c_mfrs m on b.mfrsid=m.mfrsnum left join c_goods good on b.goodsid=good.goodsid
        <where>
            <if test="goodsid != null and goodsid != ''">and b.goodsid = #{goodsid}</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="brandnum != null and brandnum != ''">and b.brandnum = #{brandnum}</if>
            <if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
            <if test="xsstate != null and xsstate != ''">and b.xsstate = #{xsstate}</if>
            <if test="payid != null and payid != ''">and b.payid = #{payid}</if>
            <if test="mfrsids != null and mfrsids != ''">and b.mfrsid LIKE concat('%', #{mfrsids},'%')</if>
            <if test="goodsids != null and goodsids != ''">and b.goodsid LIKE concat('%', #{goodsids},'%')</if>
            and  b.state= 1 and m.xsstate=0 and m.state=1
        </where>
    </select>

     <select id="finfBrand" resultType="com.shiguang.mfrs.domain.BrandDO">
       select b.`xsstate`,b.`state`,
        b.`brandid`,b.`brandnum`,b.`brandname`,b.`goodsid`,good.`goodsname`,b.`materialid`,b.`materialname`,b.`lens_id`,b.`lens_name`,b.`light_id`,
        b.`light_name`,b.`refractivityid`,b.`refractivityvalue`,b.`function_id`,b.`function_name`,b.`gradual_id`,b.`gradual_name`,b.`usage_id`,
        b.`usage_name`,b.`type_id`,b.`type_name`,b.`registration`,b.`mfrsid`,m.`mfrsname`,b.`unitid`,b.`address`,b.`payid`,b.`batchid`,b.`factory`,
        b.`money`,b.`shorthandcode`,b.`productionkey`,b.`payday`
        from c_brand b left join c_mfrs m on b.mfrsid=m.mfrsnum left join c_goods good on b.goodsid=good.goodsid
         <where>
             <if test="goodsid != null and goodsid != ''">and b.goodsid = #{goodsid}</if>
             <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
             <if test="brandnum != null and brandnum != ''">and b.brandnum = #{brandnum}</if>
             <if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
             <if test="xsstate != null and xsstate != ''">and b.xsstate = #{xsstate}</if>
             <if test="payid != null and payid != ''">and b.payid = #{payid}</if>
             <if test="mfrsids != null and mfrsids != ''">and b.mfrsid = #{mfrsids}</if>
             <if test="goodsids != null and goodsids != ''">and b.goodsid = #{goodsids}</if>
             <if test="mfrsnames != null and mfrsnames != ''">and m.mfrsname = #{mfrsnames}</if>
             and  b.state= 1 and m.xsstate=0 and m.state=1
         </where>
        group by b.brandid order by b.xsstate desc ,b.brandid desc
         <if test="offset != null and limit != null">
             limit #{offset}, #{limit}
         </if>
    </select>
    <select id="finfBrandcount" resultType="int">
    select count(*) from c_brand b   join c_mfrs m on b.mfrsid=m.mfrsnum  join c_goods good on b.goodsid=good.goodsid
        <where>
            <if test="goodsid != null and goodsid != ''">and b.goodsid = #{goodsid}</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="brandnum != null and brandnum != ''">and b.brandnum = #{brandnum}</if>
            <if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
            <if test="xsstate != null and xsstate != ''">and b.xsstate = #{xsstate}</if>
            <if test="payid != null and payid != ''">and b.payid = #{payid}</if>
            <if test="mfrsids != null and mfrsids != ''">and b.mfrsid = #{mfrsids}</if>
            <if test="goodsids != null and goodsids != ''">and b.goodsid = #{goodsids}</if>
            <if test="mfrsnames != null and mfrsnames != ''">and m.mfrsname = #{mfrsnames}</if>
            and  b.state= 1 and m.xsstate=0 and m.state=1
        </where>
         order by b.xsstate desc ,b.brandid desc
    </select>



    <select id="haveNum" resultType="com.shiguang.mfrs.domain.BrandDO">
        select `brandid`,`brandnum`,`brandname`,`goodsid`,`goodsname`,`materialid`,`materialname`,`lens_id`,`lens_name`,`light_id`,
        `light_name`,`refractivityid`,`refractivityvalue`,`function_id`,`function_name`,`gradual_id`,`gradual_name`,`usage_id`,`usage_name`,
        `type_id`,`type_name`,`registration`,`mfrsid`,`mfrsname`,`unitid`,`unitname`,`address`,`payid`,`batchid`,`factory`,`money`,`shorthandcode`,
        `productionkey`,`xsstate`,`state`,`payday`
        from c_brand
        where brandnum = #{brandnum} and state='1'order by brandid
    </select>



    <insert id="save" parameterType="com.shiguang.mfrs.domain.BrandDO" useGeneratedKeys="true" keyProperty="brandid">
		insert into c_brand
		(
			`brandnum`,
			`brandname`,
			`goodsid`,
			`goodsname`,
			`materialid`,
			`materialname`,
			`lens_id`,
			`lens_name`,
			`light_id`,
			`light_name`,
			`refractivityid`,
			`refractivityvalue`,
			`function_id`,
			`function_name`,
			`gradual_id`,
			`gradual_name`,
			`usage_id`,
			`usage_name`,
			`type_id`,
			`type_name`,
			`registration`,
			`mfrsid`,
			`mfrsname`,
			`unitid`,
			`address`,
			`payid`,
			`batchid`,
			`factory`,
			`money`,
			`shorthandcode`,
			`productionkey`,
			`xsstate`,
			`state`,
			`payday`
		)
		values
		(
			#{brandnum},
			#{brandname},
			#{goodsid},
			#{goodsname},
			#{materialid},
			#{materialname},
			#{lensId},
			#{lensName},
			#{lightId},
			#{lightName},
			#{refractivityid},
			#{refractivityvalue},
			#{functionId},
			#{functionName},
			#{gradualId},
			#{gradualName},
			#{usageId},
			#{usageName},
			#{typeId},
			#{typeName},
			#{registration},
			#{mfrsid},
			#{mfrsname},
			#{unitid},
			#{address},
			#{payid},
			#{batchid},
			#{factory},
			#{money},
			#{shorthandcode},
			#{productionkey},
			#{xsstate},
			#{state},
			#{payday}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.mfrs.domain.BrandDO">
        update c_brand
        <set>
            <if test="brandnum != null">`brandnum` = #{brandnum},</if>
            <if test="brandname != null">`brandname` = #{brandname},</if>
            <if test="goodsid != null">`goodsid` = #{goodsid},</if>
            <if test="goodsname != null">`goodsname` = #{goodsname},</if>
            <if test="materialid != null">`materialid` = #{materialid},</if>
            <if test="materialname != null">`materialname` = #{materialname},</if>
            <if test="lensId != null">`lens_id` = #{lensId},</if>
            <if test="lensName != null">`lens_name` = #{lensName},</if>
            <if test="lightId != null">`light_id` = #{lightId},</if>
            <if test="lightName != null">`light_name` = #{lightName},</if>
            <if test="refractivityid != null">`refractivityid` = #{refractivityid},</if>
            <if test="refractivityvalue != null">`refractivityvalue` = #{refractivityvalue},</if>
            <if test="functionId != null">`function_id` = #{functionId},</if>
            <if test="functionName != null">`function_name` = #{functionName},</if>
            <if test="gradualId != null">`gradual_id` = #{gradualId},</if>
            <if test="gradualName != null">`gradual_name` = #{gradualName},</if>
            <if test="usageId != null">`usage_id` = #{usageId},</if>
            <if test="usageName != null">`usage_name` = #{usageName},</if>
            <if test="typeId != null">`type_id` = #{typeId},</if>
            <if test="typeName != null">`type_name` = #{typeName},</if>
            <if test="registration != null">`registration` = #{registration},</if>
            <if test="mfrsid != null">`mfrsid` = #{mfrsid},</if>
            <if test="mfrsname != null">`mfrsname` = #{mfrsname},</if>
            <if test="unitid != null">`unitid` = #{unitid},</if>
            <if test="address != null">`address` = #{address},</if>
            <if test="payid != null">`payid` = #{payid},</if>
            <if test="batchid != null">`batchid` = #{batchid},</if>
            <if test="factory != null">`factory` = #{factory},</if>
            <if test="money != null">`money` = #{money},</if>
            <if test="shorthandcode != null">`shorthandcode` = #{shorthandcode},</if>
            <if test="productionkey != null">`productionkey` = #{productionkey},</if>
            <if test="xsstate != null">`xsstate` = #{xsstate},</if>
            <if test="state != null">`state` = #{state},</if>
            <if test="payday != null">`payday` = #{payday}</if>
        </set>
        where brandid = #{brandid}
    </update>

    <delete id="remove">
		delete from c_brand where brandid = #{value}
	</delete>

    <delete id="batchRemove">
        delete from c_brand where brandid in
        <foreach item="brandid" collection="array" open="(" separator="," close=")">
            #{brandid}
        </foreach>
    </delete>
    <!--菜单联动显示-->
    <!--<select id="caidan" resultType="com.shiguang.mfrs.domain.GoodsDO">-->
        <!--select g.goodsid,g.goodsname from c_goods g left join cc_mg mg on g.goodsid=mg.goodsid-->
        <!--<where>-->
            <!--<if test="mfrsid != null and mfrsid != ''">and mg.mfrsid = #{mfrsid}</if>-->
        <!--</where>-->
    <!--</select>-->
    <select id="caidan" resultType="com.shiguang.mfrs.domain.GoodsDO">
        select g.goodsid ,g.goodsname from c_mfrs m join c_goods g on
        FIND_IN_SET(g.goodsid,m.goodsid)
        <where>
            <if test="mfrsid != null and mfrsid != ''">and m.mfrsid = #{mfrsid}</if>
        </where>
    </select>
    <!--删除状态修改-->
    <update id="updateState" parameterType="com.shiguang.mfrs.domain.BrandDO">
    update c_brand set `state` = #{state} where brandid = #{brandid}
    </update>
</mapper>