<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.mfrs.dao.BrandDao">

    <!--<select id="get" resultType="com.shiguang.mfrs.domain.BrandDO">-->
    <!--select `brandid`,`brandnum`,`brandname`,`goodsid`,`materialid`,`materialname`,`lens_id`,`lens_name`,`light_id`,`light_name`,`refractivityid`,`refractivityvalue`,`function_id`,`function_name`,`gradual_id`,`gradual_name`,`usage_id`,`usage_name`,`type_id`,`type_name`,`registration`,`mfrsid`,`mfrsname`,`unitid`,`address`,`payid`,`batchid`,`factory`,`money`,`shorthandcode`,`productionkey`,`status` from c_brand where brandid = #{value}-->
    <!--</select>-->
    <select id="getall" resultType="com.shiguang.mfrs.domain.BrandDO">
        select b.`brandid`,b.`brandnum`,b.`brandname`,b.`goodsid`,good.`goodsname`,
        b.`materialid`,ma.`materialname`,
        b.`lens_id`,le.`lens_name`,li.`light_id`,li.`light_name`,
        b.`refractivityid`,re.`refractivityvalue`,b.`function_id`,fu.`function_name`,
        b.`gradual_id`,gr.`gradual_name`,
        b.`usage_id`,us.`usage_name`,b.`type_id`,ty.`type_name`,b.`registration`,
        b.`mfrsid`,mfrs.`mfrsname`,b.`unitid`,b.`address`,b.`payid`,b.`batchid`,b.`factory`,b.`money`,b.`shorthandcode`,b.`productionkey`,
        b.`state_id`,sta.`status`
        from c_brand b
            left join c_goods good on b.goodsid=good.goodsid
            left join c_material ma on b.materialid=ma.materialid
            left join p_lens le on b.lens_id=le.lens_id
            left join p_light li on b.light_id=li.light_id
            left join c_refractivity re on b.refractivityid=re.refractivityid
            left join p_function fu on b.function_id=fu.function_id
            left join p_gradual gr on b.gradual_id=gr.gradual_id
            left join p_usage us on b.usage_id=us.usage_id
            left join p_type ty on b.type_id=ty.type_id
            left join c_mfrs mfrs on b.mfrsid=mfrs.mfrsid
            left join c_state sta on b.state_id=sta.state_id
            where brandid = #{value}
	</select>
    <!--select m.mfrsname from  c_brand b left join c_mfrs m on b.mfrsid=m.mfrsid where b.mfrsid=78;-->
    <select id="list" resultType="com.shiguang.mfrs.domain.BrandDO">
        select
        b.`brandid`,b.`brandnum`,b.`brandname`,b.`goodsid`,good.`goodsname`,b.`materialid`,b.`materialname`,b.`lens_id`,b.`lens_name`,b.`light_id`,b.`light_name`,b.`refractivityid`,b.`refractivityvalue`,b.`function_id`,b.`function_name`,b.`gradual_id`,b.`gradual_name`,b.`usage_id`,b.`usage_name`,b.`type_id`,b.`type_name`,b.`registration`,b.`mfrsid`,m.`mfrsname`,b.`unitid`,b.`address`,b.`payid`,b.`batchid`,b.`factory`,b.`money`,b.`shorthandcode`,b.`productionkey`,b.`state_id`,b.`status`
        from c_brand b left join c_mfrs m on b.mfrsid=m.mfrsid left join c_goods good on b.goodsid=good.goodsid
        <where>
            <if test="brandid != null and brandid != ''">and b.brandid = #{brandid}</if>
            <if test="brandnum != null and brandnum != ''">and b.brandnum = #{brandnum}</if>
            <if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
            <if test="goodsid != null and goodsid != ''">and b.goodsid = #{goodsid}</if>
            <if test="goodsname != null and goodsname != ''">and good.goodsname = #{goodsname}</if>
            <if test="materialid != null and materialid != ''">and b.materialid = #{materialid}</if>
            <if test="materialname != null and materialname != ''">and b.materialname = #{materialname}</if>
            <if test="lensId != null and lensId != ''">and b.lens_id = #{lensId}</if>
            <if test="lensName != null and lensName != ''">and b.lens_name = #{lensName}</if>
            <if test="lightId != null and lightId != ''">and b.light_id = #{lightId}</if>
            <if test="lightName != null and lightName != ''">and b.light_name = #{lightName}</if>
            <if test="refractivityid != null and refractivityid != ''">and b.refractivityid =
                #{refractivityid}
            </if>
            <if test="refractivityvalue != null and refractivityvalue != ''">and b.refractivityvalue =
                #{refractivityvalue}
            </if>
            <if test="functionId != null and functionId != ''">and b.function_id = #{functionId}</if>
            <if test="functionName != null and functionName != ''">and b.function_name = #{functionName}</if>
            <if test="gradualId != null and gradualId != ''">and b.gradual_id = #{gradualId}</if>
            <if test="gradualName != null and gradualName != ''">and b.gradual_name = #{gradualName}</if>
            <if test="usageId != null and usageId != ''">and b.usage_id = #{usageId}</if>
            <if test="usageName != null and usageName != ''">and b.usage_name = #{usageName}</if>
            <if test="typeId != null and typeId != ''">and b.type_id = #{typeId}</if>
            <if test="typeName != null and typeName != ''">and b.type_name = #{typeName}</if>
            <if test="registration != null and registration != ''">and b.registration = #{registration}</if>
            <if test="mfrsid != null and mfrsid != ''">and b.mfrsid = #{mfrsid}</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="unitid != null and unitid != ''">and b.unitid = #{unitid}</if>
            <if test="address != null and address != ''">and b.address = #{address}</if>
            <if test="payid != null and payid != ''">and b.payid = #{payid}</if>
            <if test="batchid != null and batchid != ''">and b.batchid = #{batchid}</if>
            <if test="factory != null and factory != ''">and b.factory = #{factory}</if>
            <if test="money != null and money != ''">and b.money = #{money}</if>
            <if test="shorthandcode != null and shorthandcode != ''">and b.shorthandcode = #{shorthandcode}</if>
            <if test="productionkey != null and productionkey != ''">and b.productionkey = #{productionkey}</if>
            <if test="stateId != null and stateId != ''">and b.state_id = #{stateId}</if>
            <if test="status != null and status != ''">and b.status = #{status}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by brandid
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>


    <select id="count" resultType="int">
        select count(*) from c_brand
        <where>
            <if test="brandid != null and brandid != ''">and brandid = #{brandid}</if>
            <if test="brandnum != null and brandnum != ''">and brandnum = #{brandnum}</if>
            <if test="brandname != null and brandname != ''">and brandname = #{brandname}</if>
            <if test="goodsid != null and goodsid != ''">and goodsid = #{goodsid}</if>
            <if test="goodsname != null and goodsname != ''">and goodsid = #{goodsname}</if>
            <if test="materialid != null and materialid != ''">and materialid = #{materialid}</if>
            <if test="materialname != null and materialname != ''">and materialname = #{materialname}</if>
            <if test="lensId != null and lensId != ''">and lens_id = #{lensId}</if>
            <if test="lensName != null and lensName != ''">and lens_name = #{lensName}</if>
            <if test="lightId != null and lightId != ''">and light_id = #{lightId}</if>
            <if test="lightName != null and lightName != ''">and light_name = #{lightName}</if>
            <if test="refractivityid != null and refractivityid != ''">and refractivityid = #{refractivityid}</if>
            <if test="refractivityvalue != null and refractivityvalue != ''">and refractivityvalue =
                #{refractivityvalue}
            </if>
            <if test="functionId != null and functionId != ''">and function_id = #{functionId}</if>
            <if test="functionName != null and functionName != ''">and function_name = #{functionName}</if>
            <if test="gradualId != null and gradualId != ''">and gradual_id = #{gradualId}</if>
            <if test="gradualName != null and gradualName != ''">and gradual_name = #{gradualName}</if>
            <if test="usageId != null and usageId != ''">and usage_id = #{usageId}</if>
            <if test="usageName != null and usageName != ''">and usage_name = #{usageName}</if>
            <if test="typeId != null and typeId != ''">and type_id = #{typeId}</if>
            <if test="typeName != null and typeName != ''">and type_name = #{typeName}</if>
            <if test="registration != null and registration != ''">and registration = #{registration}</if>
            <if test="mfrsid != null and mfrsid != ''">and mfrsid = #{mfrsid}</if>
            <if test="mfrsname != null and mfrsname != ''">and mfrsname = #{mfrsname}</if>
            <if test="unitid != null and unitid != ''">and unitid = #{unitid}</if>
            <if test="address != null and address != ''">and address = #{address}</if>
            <if test="payid != null and payid != ''">and payid = #{payid}</if>
            <if test="batchid != null and batchid != ''">and batchid = #{batchid}</if>
            <if test="factory != null and factory != ''">and factory = #{factory}</if>
            <if test="money != null and money != ''">and money = #{money}</if>
            <if test="shorthandcode != null and shorthandcode != ''">and shorthandcode = #{shorthandcode}</if>
            <if test="productionkey != null and productionkey != ''">and productionkey = #{productionkey}</if>
            <if test="stateId != null and stateId != ''">and state_id = #{stateId}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
        </where>
    </select>
    <insert id="save" parameterType="com.shiguang.mfrs.domain.BrandDO" useGeneratedKeys="true" keyProperty="brandid">
		insert into c_brand
		(
			`brandnum`,
			`brandname`,
			`goodsid`,
			`goodsname`,
			`materialid`,
			`materialname`,
			`lens_id`,
			`lens_name`,
			`light_id`,
			`light_name`,
			`refractivityid`,
			`refractivityvalue`,
			`function_id`,
			`function_name`,
			`gradual_id`,
			`gradual_name`,
			`usage_id`,
			`usage_name`,
			`type_id`,
			`type_name`,
			`registration`,
			`mfrsid`,
			`mfrsname`,
			`unitid`,
			`address`,
			`payid`,
			`batchid`,
			`factory`,
			`money`,
			`shorthandcode`,
			`productionkey`,
			`state_id`,
			`status`
		)
		values
		(
			#{brandnum},
			#{brandname},
			#{goodsid},
			#{goodsname},
			#{materialid},
			#{materialname},
			#{lensId},
			#{lensName},
			#{lightId},
			#{lightName},
			#{refractivityid},
			#{refractivityvalue},
			#{functionId},
			#{functionName},
			#{gradualId},
			#{gradualName},
			#{usageId},
			#{usageName},
			#{typeId},
			#{typeName},
			#{registration},
			#{mfrsid},
			#{mfrsname},
			#{unitid},
			#{address},
			#{payid},
			#{batchid},
			#{factory},
			#{money},
			#{shorthandcode},
			#{productionkey},
			#{stateId},
			#{status}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.mfrs.domain.BrandDO">
        update c_brand
        <set>
            <if test="brandnum != null">`brandnum` = #{brandnum},</if>
            <if test="brandname != null">`brandname` = #{brandname},</if>
            <if test="goodsid != null">`goodsid` = #{goodsid},</if>
            <if test="goodsname != null">`goodsname` = #{goodsname},</if>
            <if test="materialid != null">`materialid` = #{materialid},</if>
            <if test="materialname != null">`materialname` = #{materialname},</if>
            <if test="lensId != null">`lens_id` = #{lensId},</if>
            <if test="lensName != null">`lens_name` = #{lensName},</if>
            <if test="lightId != null">`light_id` = #{lightId},</if>
            <if test="lightName != null">`light_name` = #{lightName},</if>
            <if test="refractivityid != null">`refractivityid` = #{refractivityid},</if>
            <if test="refractivityvalue != null">`refractivityvalue` = #{refractivityvalue},</if>
            <if test="functionId != null">`function_id` = #{functionId},</if>
            <if test="functionName != null">`function_name` = #{functionName},</if>
            <if test="gradualId != null">`gradual_id` = #{gradualId},</if>
            <if test="gradualName != null">`gradual_name` = #{gradualName},</if>
            <if test="usageId != null">`usage_id` = #{usageId},</if>
            <if test="usageName != null">`usage_name` = #{usageName},</if>
            <if test="typeId != null">`type_id` = #{typeId},</if>
            <if test="typeName != null">`type_name` = #{typeName},</if>
            <if test="registration != null">`registration` = #{registration},</if>
            <if test="mfrsid != null">`mfrsid` = #{mfrsid},</if>
            <if test="mfrsname != null">`mfrsname` = #{mfrsname},</if>
            <if test="unitid != null">`unitid` = #{unitid},</if>
            <if test="address != null">`address` = #{address},</if>
            <if test="payid != null">`payid` = #{payid},</if>
            <if test="batchid != null">`batchid` = #{batchid},</if>
            <if test="factory != null">`factory` = #{factory},</if>
            <if test="money != null">`money` = #{money},</if>
            <if test="shorthandcode != null">`shorthandcode` = #{shorthandcode},</if>
            <if test="productionkey != null">`productionkey` = #{productionkey},</if>
            <if test="stateId != null">`state_id` = #{stateId},</if>
            <if test="status != null">`status` = #{status}</if>
        </set>
        where brandid = #{brandid}
    </update>

    <delete id="remove">
		delete from c_brand where brandid = #{value}
	</delete>

    <delete id="batchRemove">
        delete from c_brand where brandid in
        <foreach item="brandid" collection="array" open="(" separator="," close=")">
            #{brandid}
        </foreach>
    </delete>
    <!--菜单联动显示-->
    <select id="caidan" resultType="com.shiguang.mfrs.domain.GoodsDO">
        select g.goodsid,g.goodsname from c_goods g left join cc_mg mg on g.goodsid=mg.goodsid
        <where>
            <if test="mfrsid != null and mfrsid != ''">and mg.mfrsid = #{mfrsid}</if>
        </where>
    </select>

</mapper>