<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.mfrs.dao.CompanyDao">

    <select id="get" resultType="com.shiguang.mfrs.domain.CompanyDO">
		select `id`,`name`,`province`,`citys`,
		`province_code`,`province_name`,`city_code`,`city_name`,`area_code`,`area_name`,
		`type`,`telephone`,`legalperson`,`phone`,`purchaseaddress`,
		`purchasepeople`,`purchasephone`,`purchasefax`,`headername`,`approvedamount`,`proportion`,`logo`,
		`backgroundimage`,`departmentimage`,`xsstate`,`state` from c_company where id = #{value}
	</select>

    <select id="list" resultType="com.shiguang.mfrs.domain.CompanyDO">
        select
        `id`,`name`,`province`,`citys`,
        `province_code`,`province_name`,`city_code`,`city_name`,`area_code`,`area_name`,
        `type`,`telephone`,`legalperson`,`phone`,`purchaseaddress`,`purchasepeople`,`purchasephone`,
        `purchasefax`,`headername`,`approvedamount`,`proportion`,`logo`,`backgroundimage`,`departmentimage`,`xsstate`,`state`
        from c_company
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="ids != null and ids != ''">and FIND_IN_SET(id,#{ids}) </if>

            <if test="name != null and name != ''">and name LIKE concat('%', #{name},'%')</if>

            <if test="provinceName != null and provinceName != ''">and province_name = #{provinceName}</if>
            <if test="province != null and province != ''">and province = #{province}</if>
            <if test="citys != null and citys != ''">and citys = #{citys}</if>
            <if test="provinceCode != null and provinceCode != ''"> and province_code = #{provinceCode} </if>
            <if test="provinceName != null and provinceName != ''"> and province_name = #{provinceName} </if>
            <if test="cityCode != null and cityCode != ''"> and city_code = #{cityCode} </if>
            <if test="cityName != null and cityName != ''"> and city_name = #{cityName} </if>
            <if test="areaCode != null and areaCode != ''"> and area_code = #{areaCode} </if>
            <if test="areaName != null and areaName != ''"> and area_name = #{areaName} </if>

            <if test="type != null and type != ''">and type LIKE concat('%', #{type},'%')</if>

            <if test="telephone != null and telephone != ''">and telephone LIKE concat('%', #{telephone},'%')</if>

            <if test="legalperson != null and legalperson != ''">and legalperson = #{legalperson}</if>
            <if test="phone != null and phone != ''">and phone = #{phone}</if>
            <if test="purchaseaddress != null and purchaseaddress != ''">and purchaseaddress = #{purchaseaddress}</if>
            <if test="purchasepeople != null and purchasepeople != ''">and purchasepeople = #{purchasepeople}</if>
            <if test="purchasephone != null and purchasephone != ''">and purchasephone = #{purchasephone}</if>
            <if test="purchasefax != null and purchasefax != ''">and purchasefax = #{purchasefax}</if>
            <if test="headername != null and headername != ''">and headername = #{headername}</if>
            <if test="approvedamount != null and approvedamount != ''">and approvedamount = #{approvedamount}</if>
            <if test="proportion != null and proportion != ''">and proportion = #{proportion}</if>
            <if test="logo != null and logo != ''">and logo = #{logo}</if>
            <if test="backgroundimage != null and backgroundimage != ''">and backgroundimage = #{backgroundimage}</if>
            <if test="departmentimage != null and departmentimage != ''">and departmentimage = #{departmentimage}</if>
            <if test="xsstate != null and xsstate != ''">and xsstate = #{xsstate}</if>
            and state=1
        </where>
        group by id order by id desc
    </select>

    <select id="count" resultType="int">
        select count(*) from c_company
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="ids != null and ids != ''">and FIND_IN_SET(id,#{ids}) </if>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="province != null and province != ''">and province = #{province}</if>
            <if test="citys != null and citys != ''">and citys = #{citys}</if>
            <if test="provinceCode != null and provinceCode != ''"> and province_code = #{provinceCode} </if>
            <if test="provinceName != null and provinceName != ''"> and province_name = #{provinceName} </if>
            <if test="cityCode != null and cityCode != ''"> and city_code = #{cityCode} </if>
            <if test="cityName != null and cityName != ''"> and city_name = #{cityName} </if>
            <if test="areaCode != null and areaCode != ''"> and area_code = #{areaCode} </if>
            <if test="areaName != null and areaName != ''"> and area_name = #{areaName} </if>
            <if test="type != null and type != ''">and type = #{type}</if>
            <if test="telephone != null and telephone != ''">and telephone = #{telephone}</if>
            <if test="legalperson != null and legalperson != ''">and legalperson = #{legalperson}</if>
            <if test="phone != null and phone != ''">and phone = #{phone}</if>
            <if test="purchaseaddress != null and purchaseaddress != ''">and purchaseaddress = #{purchaseaddress}</if>
            <if test="purchasepeople != null and purchasepeople != ''">and purchasepeople = #{purchasepeople}</if>
            <if test="purchasephone != null and purchasephone != ''">and purchasephone = #{purchasephone}</if>
            <if test="purchasefax != null and purchasefax != ''">and purchasefax = #{purchasefax}</if>
            <if test="headername != null and headername != ''">and headername = #{headername}</if>
            <if test="approvedamount != null and approvedamount != ''">and approvedamount = #{approvedamount}</if>
            <if test="proportion != null and proportion != ''">and proportion = #{proportion}</if>
            <if test="logo != null and logo != ''">and logo = #{logo}</if>
            <if test="backgroundimage != null and backgroundimage != ''">and backgroundimage = #{backgroundimage}</if>
            <if test="departmentimage != null and departmentimage != ''">and departmentimage = #{departmentimage}</if>
            <if test="xsstate != null and xsstate != ''">and xsstate = #{xsstate}</if>
            and state=1
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.mfrs.domain.CompanyDO" useGeneratedKeys="true" keyProperty="id">
		insert into c_company
		(
			`name`, 
			`province`,
			`citys`,
			`province_code`,
			`province_name`,
			`city_code`,
			`city_name`,
			`area_code`,
			`area_name`,
            `type`,
			`telephone`, 
			`legalperson`, 
			`phone`, 
			`purchaseaddress`, 
			`purchasepeople`, 
			`purchasephone`, 
			`purchasefax`, 
			`headername`, 
			`approvedamount`, 
			`proportion`, 
			`logo`, 
			`backgroundimage`, 
			`departmentimage`,
			`xsstate`,
			`state`
		)
		values
		(
			#{name}, 
			#{province},
			#{citys},
			#{provinceCode},
			#{provinceName},
			#{cityCode},
			#{cityName},
			#{areaCode},
			#{areaName},
            #{type},
			#{telephone}, 
			#{legalperson}, 
			#{phone}, 
			#{purchaseaddress}, 
			#{purchasepeople}, 
			#{purchasephone}, 
			#{purchasefax}, 
			#{headername}, 
			#{approvedamount}, 
			#{proportion}, 
			#{logo}, 
			#{backgroundimage}, 
			#{departmentimage},
			#{xsstate},
			#{state}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.mfrs.domain.CompanyDO">
        update c_company
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="province != null">`province` = #{province},</if>
            <if test="citys != null">`citys` = #{citys},</if>
            <if test="provinceCode != null">`province_code` = #{provinceCode}, </if>
            <if test="provinceName != null">`province_name` = #{provinceName}, </if>
            <if test="cityCode != null">`city_code` = #{cityCode}, </if>
            <if test="cityName != null">`city_name` = #{cityName}, </if>
            <if test="areaCode != null">`area_code` = #{areaCode}, </if>
            <if test="areaName != null">`area_name` = #{areaName}, </if>
            <if test="type != null">`type` = #{type},</if>
            <if test="telephone != null">`telephone` = #{telephone},</if>
            <if test="legalperson != null">`legalperson` = #{legalperson},</if>
            <if test="phone != null">`phone` = #{phone},</if>
            <if test="purchaseaddress != null">`purchaseaddress` = #{purchaseaddress},</if>
            <if test="purchasepeople != null">`purchasepeople` = #{purchasepeople},</if>
            <if test="purchasephone != null">`purchasephone` = #{purchasephone},</if>
            <if test="purchasefax != null">`purchasefax` = #{purchasefax},</if>
            <if test="headername != null">`headername` = #{headername},</if>
            <if test="approvedamount != null">`approvedamount` = #{approvedamount},</if>
            <if test="proportion != null">`proportion` = #{proportion},</if>
            <if test="logo != null">`logo` = #{logo},</if>
            <if test="backgroundimage != null">`backgroundimage` = #{backgroundimage},</if>
            <if test="departmentimage != null">`departmentimage` = #{departmentimage},</if>
            <if test="xsstate != null">`xsstate` = #{xsstate},</if>
            <if test="state != null">`state` = #{state}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from c_company where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from c_company where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--删除状态修改-->
    <update id="updateState" parameterType="com.shiguang.mfrs.domain.CompanyDO">
    update c_company set `state` = #{state} where id = #{id}
    </update>
</mapper>