<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.mfrs.dao.InvoiceDao">

	<select id="get" resultType="com.shiguang.mfrs.domain.InvoiceDO">
		select `invoiceid`,`invoicestate` from c_invoice where invoiceid = #{value}
	</select>

	<select id="list" resultType="com.shiguang.mfrs.domain.InvoiceDO">
		select `invoiceid`,`invoicestate` from c_invoice
        <where>  
		  		  <if test="invoiceid != null and invoiceid != ''"> and invoiceid = #{invoiceid} </if>
		  		  <if test="invoicestate != null and invoicestate != ''"> and invoicestate = #{invoicestate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by invoiceid
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from c_invoice
		 <where>  
		  		  <if test="invoiceid != null and invoiceid != ''"> and invoiceid = #{invoiceid} </if>
		  		  <if test="invoicestate != null and invoicestate != ''"> and invoicestate = #{invoicestate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shiguang.mfrs.domain.InvoiceDO" useGeneratedKeys="true" keyProperty="invoiceid">
		insert into c_invoice
		(
			`invoicestate`
		)
		values
		(
			#{invoicestate}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.mfrs.domain.InvoiceDO">
		update c_invoice 
		<set>
			<if test="invoicestate != null">`invoicestate` = #{invoicestate}</if>
		</set>
		where invoiceid = #{invoiceid}
	</update>
	
	<delete id="remove">
		delete from c_invoice where invoiceid = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from c_invoice where invoiceid in 
		<foreach item="invoiceid" collection="array" open="(" separator="," close=")">
			#{invoiceid}
		</foreach>
	</delete>

</mapper>