<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.mfrs.dao.MfrsDao">

    <select id="get" resultType="com.shiguang.mfrs.domain.MfrsDO">
		select `mfrsid`,`mfrsnum`,`mfrsname`,`mfrscontacts`,`mfrsrealname`,`mfrstelephone`,`mfrsphone`,`goodsid`,`mfrsfax`,`mfrsaddress`,
		`payid`,`invoiceid`,`creditcode`,`creditcodeday`,`medicinecode`,`medicinecodeday`,`productscode`,`productscodeday`,`remarks`,`xsstate`,
		`state`,`payday` from c_mfrs where mfrsid = #{value}
	</select>
    <!--//判断是否存在制造商代码-->
    <select id="haveNum" resultType="com.shiguang.mfrs.domain.MfrsDO">
        select `mfrsid`,`mfrsnum`,`mfrsname`,`mfrscontacts`,`mfrsrealname`,`mfrstelephone`,`mfrsphone`,`goodsid`,`mfrsfax`,`mfrsaddress`,
        `payid`,`invoiceid`,`creditcode`,`creditcodeday`,`medicinecode`,`medicinecodeday`,`productscode`,`productscodeday`,
        `remarks`,`xsstate`,`state`,`payday`
         from c_mfrs WHERE mfrsnum = #{mfrsnum} order by mfrsid
    </select>
    <!--//【制造商页面List】-->
    <select id="list" resultType="com.shiguang.mfrs.domain.MfrsDO">
        select
        m.`mfrsid`,m.`mfrsnum`,m.`mfrsname`,m.`mfrscontacts`,m.`mfrsrealname`,m.`mfrstelephone`,m.`mfrsphone`,m.`goodsid`,m.`mfrsfax`,m.`mfrsaddress`,
        m.`payid`,m.`invoiceid`,m.`creditcode`,m.`creditcodeday`,m.`medicinecode`,m.`medicinecodeday`,m.`productscode`,m.`productscodeday`,m.`remarks`,
        m.`xsstate`,m.`state`,m.`payday`
        from c_mfrs m left join cc_mg mg on m.mfrsid=mg.mfrsid left join c_goods g on m.goodsid=g.goodsid
        <where>
            <if test="mfrsnum != null and mfrsnum != ''">and m.mfrsnum = #{mfrsnum}</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="goodsid != null and goodsid != ''">and g.goodsid = #{goodsid}</if>
            <if test="xsstate != null and xsstate != ''">and m.xsstate = #{xsstate}</if>
            <if test="invoiceid != null and invoiceid != ''">and m.invoiceid = #{invoiceid}</if>
            and m.state =1
        </where>
        group by m.mfrsid order by  m.xsstate asc ,m.mfrsid asc
    </select>

    <select id="count" resultType="int">
    select count(*) from c_mfrs m left join cc_mg mg on m.mfrsid=mg.mfrsid left join c_goods g on m.goodsid=g.goodsid
        <where>
            <if test="mfrsnum != null and mfrsnum != ''">and m.mfrsnum = #{mfrsnum}</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="goodsid != null and goodsid != ''">and g.goodsid = #{goodsid}</if>
            <if test="xsstate != null and xsstate != ''">and m.xsstate = #{xsstate}</if>
            <if test="invoiceid != null and invoiceid != ''">and m.invoiceid = #{invoiceid}</if>
            and m.state =1
        </where>
    </select>

    <!--制造商查询-->
    <select id="findMfrs" resultType="com.shiguang.mfrs.domain.MfrsDO">
        select m.`mfrsid`,m.`mfrsnum`,m.`mfrsname`,m.`mfrscontacts`,m.`mfrsphone`,m.`mfrsfax` ,m.`mfrsaddress`
        from c_mfrs m
        <where>
            <if test="goodsIds != null and goodsIds != ''">and m.goodsid LIKE concat('%', #{goodsIds},'%')</if>
            <if test="goodsid != null and goodsid != ''">and m.goodsid LIKE concat('%', #{goodsid},'%')</if>
            <if test="mfrsnum != null and mfrsnum != ''">and m.mfrsnum = #{mfrsnum}</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="xsstate != null and xsstate != ''">and m.xsstate = #{xsstate}</if>
            <if test="invoiceid != null and invoiceid != ''">and m.invoiceid = #{invoiceid}</if>
            and m.state= 1
        </where>
        group by m.mfrsid order by m.mfrsid desc
    </select>
    <select id="findMfrscount" resultType="int">
        select count(*) from c_mfrs m
        <where>
            <if test="goodsIds != null and goodsIds != ''">and m.goodsid LIKE concat('%', #{goodsIds},'%')</if>
            <if test="goodsid != null and goodsid != ''">and m.goodsid LIKE concat('%', #{goodsid},'%')</if>
            <if test="mfrsnum != null and mfrsnum != ''">and m.mfrsnum = #{mfrsnum}</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="xsstate != null and xsstate != ''">and m.xsstate = #{xsstate}</if>
            <if test="invoiceid != null and invoiceid != ''">and m.invoiceid = #{invoiceid}</if>
            and m.state= 1
        </where>
    </select>


    <insert id="save" parameterType="com.shiguang.mfrs.domain.MfrsDO" useGeneratedKeys="true" keyProperty="mfrsid">
		insert into c_mfrs
		(
			`mfrsnum`,
			`mfrsname`,
			`mfrscontacts`,
			`mfrsrealname`,
			`mfrstelephone`,
			`mfrsphone`,
			`goodsid`,
			`mfrsfax`,
			`mfrsaddress`,
			`payid`,
			`invoiceid`,
			`creditcode`,
			`creditcodeday`,
			`medicinecode`,
			`medicinecodeday`,
			`productscode`,
			`productscodeday`,
			`remarks`,
			`xsstate`,
			`state`,
			`payday`
		)
		values
		(
			#{mfrsnum},
			#{mfrsname},
			#{mfrscontacts},
			#{mfrsrealname},
			#{mfrstelephone},
			#{mfrsphone},
			#{goodsid},
			#{mfrsfax},
			#{mfrsaddress},
			#{payid},
			#{invoiceid},
			#{creditcode},
			#{creditcodeday},
			#{medicinecode},
			#{medicinecodeday},
			#{productscode},
			#{productscodeday},
			#{remarks},
			#{xsstate},
			#{state},
			#{payday}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.mfrs.domain.MfrsDO">
        update c_mfrs
        <set>
            <if test="mfrsnum != null">`mfrsnum` = #{mfrsnum},</if>
            <if test="mfrsname != null">`mfrsname` = #{mfrsname},</if>
            <if test="mfrscontacts != null">`mfrscontacts` = #{mfrscontacts},</if>
            <if test="mfrsrealname != null">`mfrsrealname` = #{mfrsrealname},</if>
            <if test="mfrstelephone != null">`mfrstelephone` = #{mfrstelephone},</if>
            <if test="mfrsphone != null">`mfrsphone` = #{mfrsphone},</if>
            <if test="goodsid != null">`goodsid` = #{goodsid},</if>
            <if test="mfrsfax != null">`mfrsfax` = #{mfrsfax},</if>
            <if test="mfrsaddress != null">`mfrsaddress` = #{mfrsaddress},</if>
            <if test="payid != null">`payid` = #{payid},</if>
            <if test="invoiceid != null">`invoiceid` = #{invoiceid},</if>
            <if test="creditcode != null">`creditcode` = #{creditcode},</if>
            <if test="creditcodeday != null">`creditcodeday` = #{creditcodeday},</if>
            <if test="medicinecode != null">`medicinecode` = #{medicinecode},</if>
            <if test="medicinecodeday != null">`medicinecodeday` = #{medicinecodeday},</if>
            <if test="productscode != null">`productscode` = #{productscode},</if>
            <if test="productscodeday != null">`productscodeday` = #{productscodeday},</if>
            <if test="remarks != null">`remarks` = #{remarks},</if>
            <if test="xsstate != null">`xsstate` = #{xsstate},</if>
            <if test="state != null">`state` = #{state},</if>
            <if test="payday != null">`payday` = #{payday}</if>
        </set>
        where mfrsid = #{mfrsid}
    </update>

    <delete id="remove">
		delete from c_mfrs where mfrsid = #{value}
	</delete>

    <delete id="batchRemove">
        delete from c_mfrs where mfrsid in
        <foreach item="mfrsid" collection="array" open="(" separator="," close=")">
            #{mfrsid}
        </foreach>
    </delete>

    <!--删除状态修改-->
    <update id="updateState" parameterType="com.shiguang.mfrs.domain.MfrsDO">
    update c_mfrs set `state` = #{state} where mfrsid = #{mfrsid}
    </update>

</mapper>