<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.mfrs.dao.PositionDao">

    <select id="get" resultType="com.shiguang.mfrs.domain.PositionDO">
		select `position_id`,`position_num`,`company_id`,`depart_number`,`depart_name`,`position_name`,`position_order`,`state_id`,`xsstate`,`state` from c_position where position_id = #{value}
	</select>
    <select id="haveNum" resultType="com.shiguang.mfrs.domain.PositionDO">
        select P.*
        from c_position p
        <where>
            <if test="positionNum != null and positionNum != ''">and p.position_num = #{positionNum}</if>
            <if test="companyId != null and companyId != ''">and FIND_IN_SET(p.company_id,#{companyId})</if>
            and p.state='1'
        </where>
         order by p.position_id
    </select>
    <select id="list" resultType="com.shiguang.mfrs.domain.PositionDO">
        select po.`position_id`,po.`company_id`,po.`position_num`,po.`position_name`,po.`depart_number`,d.`depart_name`,po.`position_order`,po.`state_id`,po.`xsstate`,po.`state`
        from c_position po  join department d on po.depart_number=d.depart_number and po.company_id=d.company_id
        JOIN c_company c on po.company_id=c.id
        <where>

            <if test="positionNum != null and positionNum != ''">and po.position_num LIKE concat(concat('%', #{positionNum}),'%')</if>
            <if test="departNumber != null and departNumber != ''">and po.depart_number LIKE concat(concat('%', #{departNumber}),'%')</if>
            <if test="positionName != null and positionName != ''">and po.position_name LIKE concat(concat('%', #{positionName}),'%')</if>
            <if test="positionOrder != null and positionOrder != ''">and po.position_order LIKE concat(concat('%', #{positionOrder}),'%')</if>
            <if test="xsstate != null and xsstate != ''">and po.xsstate = #{xsstate}</if>
            <if test="state != null and state != ''">and po.state = #{state}</if>
            <if test="positionId != null and positionId != ''">and po.position_id = #{positionId}</if>
            <if test="companyId != null and companyId != ''">and FIND_IN_SET(po.company_id,#{companyId})</if>
            and  po.state=1 and d.status=0 and d.state=1  and c.xsstate=0 and c.state=1
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                group by po.position_id order by   po.state_id , po.position_id
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>

    </select>

    <select id="count" resultType="int">
        select count(*) from c_position po   join department d on po.depart_number=d.depart_number and po.company_id=d.company_id
        JOIN c_company c on po.company_id=c.id
        <where>
            <if test="positionNum != null and positionNum != ''">and po.position_num LIKE concat(concat('%', #{positionNum}),'%')</if>
            <if test="departNumber != null and departNumber != ''">and po.depart_number LIKE concat(concat('%', #{departNumber}),'%')</if>
            <if test="positionName != null and positionName != ''">and po.position_name LIKE concat(concat('%', #{positionName}),'%')</if>
            <if test="positionOrder != null and positionOrder != ''">and po.position_order LIKE concat(concat('%', #{positionOrder}),'%')</if>
            <if test="xsstate != null and xsstate != ''">and po.xsstate = #{xsstate}</if>
            <if test="state != null and state != ''">and po.state = #{state}</if>
            <if test="positionId != null and positionId != ''">and po.position_id = #{positionId}</if>
            <if test="companyId != null and companyId != ''">and FIND_IN_SET(po.company_id,#{companyId})</if>
            and  po.state=1 and d.status=0 and d.state=1  and c.xsstate=0 and c.state=1
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.mfrs.domain.PositionDO" useGeneratedKeys="true"
            keyProperty="positionId">
		insert into c_position
		(
			`company_id`,
			`position_num`,
			`depart_number`,
			`depart_name`,
			`position_name`,
			`position_order`, 
			`state_id`, 
			`xsstate`,
			`state`
		)
		values
		(
			#{companyId},
			#{positionNum},
			#{departNumber},
            #{departName},
			#{positionName}, 
			#{positionOrder}, 
			#{stateId}, 
			#{xsstate},
			#{state}
		)
	</insert>
    <update id="update" parameterType="com.shiguang.mfrs.domain.PositionDO">
        update c_position
        <set>
            <if test="companyId != null">`company_id` = #{companyId},</if>
            <if test="positionNum != null">`position_num` = #{positionNum},</if>
            <if test="departNumber != null">`depart_number` = #{departNumber},</if>
            <if test="departName != null">`depart_name` = #{departName},</if>
            <if test="positionName != null">`position_name` = #{positionName},</if>
            <if test="positionOrder != null">`position_order` = #{positionOrder},</if>
            <if test="stateId != null">`state_id` = #{stateId},</if>
            <if test="xsstate != null">`xsstate` = #{xsstate}</if>
            <if test="state != null">`state` = #{state}</if>
        </set>
        where position_id = #{positionId}
    </update>

    <delete id="remove">
		delete from c_position where position_id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from c_position where position_id in
        <foreach item="positionId" collection="array" open="(" separator="," close=")">
            #{positionId}
        </foreach>
    </delete>
    <update id="updateState" parameterType="com.shiguang.mfrs.domain.PositionDO">
    update c_position set `state` = #{state} where position_id = #{positionId}
    </update>

    <select id="getPositionNum" resultType="com.shiguang.mfrs.domain.PositionDO">
		select `position_id`,`position_num`,`depart_number`,`depart_name`,`position_name`,`position_order`,`state_id`,`xsstate`,`state` from c_position where position_num = #{value}
    </select>

    <select id="positionList" resultType="com.shiguang.mfrs.domain.PositionDO">
        select po.position_id, po.position_name,po.`position_num`  from c_position po
        join department d on po.depart_number=d.depart_number and po.company_id=d.company_id
        JOIN c_company c on po.company_id=c.id
        <where>
            <if test="positionId != null and positionId != ''">and po.position_id = #{positionId}</if>
            <if test="departNumber != null and departNumber != ''">and po.depart_number = #{departNumber}</if>
            <if test="positionName != null and positionName != ''">and po.position_name = #{positionName}</if>
            <if test="positionOrder != null and positionOrder != ''">and po.position_order = #{positionOrder}</if>
            <if test="xsstate != null and xsstate != ''">and po.xsstate = #{xsstate}</if>
            <if test="state != null and state != ''">and po.state = #{state}</if>
            <if test="companyId != null and companyId != ''">and FIND_IN_SET(po.company_id,#{companyId})</if>
            and d.status=0 and d.state=1  and c.xsstate=0 and c.state=1
         </where>
        group by position_id order by  position_id
    </select>


    <select id="getComponid" resultType="com.shiguang.mfrs.domain.PositionDO">
          select company_id,depart_name,depart_number from department where depart_number=#{value}
    </select>

</mapper>