<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.mfrs.dao.PositionDao">

    <select id="get" resultType="com.shiguang.mfrs.domain.PositionDO">
		select `position_id`,`position_num`,`depart_number`,`depart_name`,`position_name`,`position_order`,`state_id`,`status`,`state` from c_position where position_id = #{value}
	</select>

    <select id="list" resultType="com.shiguang.mfrs.domain.PositionDO">
        select
        po.`position_id`,po.`position_num`,de.`depart_number`,de.`depart_name`,po.`position_name`,po.`position_order`,po.`state_id`,po.`status`,po.`state`
        from c_position po left join department de on po.depart_number=de.depart_number
        where po.state=1
        group by po.position_id order by po.status asc ,po.position_id asc
    </select>

    <select id="count" resultType="int">
        select count(*) from c_position
        <where>
            <if test="positionId != null and positionId != ''">and position_id = #{positionId}</if>
            <if test="positionNum != null and positionNum != ''">and position_num = #{positionNum}</if>
            <if test="departNumber != null and departNumber != ''">and depart_number = #{departNumber}</if>
            <if test="departName != null and departName != ''">and depart_name = #{departName}</if>
            <if test="positionName != null and positionName != ''">and position_name = #{positionName}</if>
            <if test="positionOrder != null and positionOrder != ''">and position_order = #{positionOrder}</if>
            <if test="stateId != null and stateId != ''">and state_id = #{stateId}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="state != null and state != ''">and state = #{state}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.mfrs.domain.PositionDO" useGeneratedKeys="true"
            keyProperty="positionId">
		insert into c_position
		(
			`position_num`, 
			`depart_number`,
			`depart_name`,
			`position_name`,
			`position_order`, 
			`state_id`, 
			`status`, 
			`state`
		)
		values
		(
			#{positionNum}, 
			#{departNumber},
            #{departName},
			#{positionName}, 
			#{positionOrder}, 
			#{stateId}, 
			#{status}, 
			#{state}
		)
	</insert>
    <!--//修改停用启用-->
    <update id="update" parameterType="com.shiguang.mfrs.domain.PositionDO">
        update c_position
        <set>
            <if test="positionNum != null">`position_num` = #{positionNum},</if>
            <if test="departNumber != null">`depart_number` = #{departNumber},</if>
            <if test="departName != null">`depart_name` = #{departName},</if>
            <if test="positionName != null">`position_name` = #{positionName},</if>
            <if test="positionOrder != null">`position_order` = #{positionOrder},</if>
            <if test="stateId != null">`state_id` = #{stateId},</if>
            <if test="status != null">`status` = #{status}</if>
            <if test="state != null">`state` = #{state}</if>
        </set>
        where position_id = #{positionId}
    </update>

    <delete id="remove">
		delete from c_position where position_id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from c_position where position_id in
        <foreach item="positionId" collection="array" open="(" separator="," close=")">
            #{positionId}
        </foreach>
    </delete>
    <!--删除状态修改-->
    <update id="updateState" parameterType="com.shiguang.mfrs.domain.PositionDO">
    update c_position set `state` = #{state} where position_id = #{positionId}
    </update>
</mapper>