<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.mfrs.dao.UnitDao">

	<select id="get" resultType="com.shiguang.mfrs.domain.UnitDO">
		select `unitid`,`unitnum`,`unitname` from c_unit where unitid = #{value}
	</select>

	<select id="list" resultType="com.shiguang.mfrs.domain.UnitDO">
		select `unitid`,`unitnum`,`unitname` from c_unit
        <where>  
		  		  <if test="unitid != null and unitid != ''"> and unitid = #{unitid} </if>
		  		  <if test="unitnum != null and unitnum != ''"> and unitnum = #{unitnum} </if>
		  		  <if test="unitname != null and unitname != ''"> and unitname = #{unitname} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by unitid desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from c_unit
		 <where>  
		  		  <if test="unitid != null and unitid != ''"> and unitid = #{unitid} </if>
		  		  <if test="unitnum != null and unitnum != ''"> and unitnum = #{unitnum} </if>
		  		  <if test="unitname != null and unitname != ''"> and unitname = #{unitname} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shiguang.mfrs.domain.UnitDO" useGeneratedKeys="true" keyProperty="unitid">
		insert into c_unit
		(
			`unitnum`, 
			`unitname`
		)
		values
		(
			#{unitnum}, 
			#{unitname}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.mfrs.domain.UnitDO">
		update c_unit 
		<set>
			<if test="unitnum != null">`unitnum` = #{unitnum}, </if>
			<if test="unitname != null">`unitname` = #{unitname}</if>
		</set>
		where unitid = #{unitid}
	</update>
	
	<delete id="remove">
		delete from c_unit where unitid = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from c_unit where unitid in 
		<foreach item="unitid" collection="array" open="(" separator="," close=")">
			#{unitid}
		</foreach>
	</delete>

</mapper>