<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.mfrs.dao.UsageDao">

	<select id="get" resultType="com.shiguang.mfrs.domain.UsageDO">
		select `usage_id`,`usage_name` from p_usage where usage_id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.mfrs.domain.UsageDO">
		select `usage_id`,`usage_name` from p_usage
        <where>  
		  		  <if test="usageId != null and usageId != ''"> and usage_id = #{usageId} </if>
		  		  <if test="usageName != null and usageName != ''"> and usage_name = #{usageName} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by usage_id
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from p_usage
		 <where>  
		  		  <if test="usageId != null and usageId != ''"> and usage_id = #{usageId} </if>
		  		  <if test="usageName != null and usageName != ''"> and usage_name = #{usageName} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shiguang.mfrs.domain.UsageDO" useGeneratedKeys="true" keyProperty="usageId">
		insert into p_usage
		(
			`usage_name`
		)
		values
		(
			#{usageName}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.mfrs.domain.UsageDO">
		update p_usage 
		<set>
			<if test="usageName != null">`usage_name` = #{usageName}</if>
		</set>
		where usage_id = #{usageId}
	</update>
	
	<delete id="remove">
		delete from p_usage where usage_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from p_usage where usage_id in 
		<foreach item="usageId" collection="array" open="(" separator="," close=")">
			#{usageId}
		</foreach>
	</delete>

</mapper>