<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
																																			<div class="form-group">	
								<label class="col-sm-3 control-label">卡号：</label>
								<div class="col-sm-8">
									<input id="cardNumber" name="cardNumber" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">裸眼视力远OU：</label>
								<div class="col-sm-8">
									<input id="farLyou" name="farLyou" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">裸眼视力远OD：</label>
								<div class="col-sm-8">
									<input id="farLyod" name="farLyod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">裸眼视力远OS：</label>
								<div class="col-sm-8">
									<input id="farLyos" name="farLyos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">裸眼视力近OU：</label>
								<div class="col-sm-8">
									<input id="nearLyou" name="nearLyou" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">裸眼视力近OD：</label>
								<div class="col-sm-8">
									<input id="nearLyod" name="nearLyod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">裸眼视力近OS：</label>
								<div class="col-sm-8">
									<input id="nearLyos" name="nearLyos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">原镜视力远OU：</label>
								<div class="col-sm-8">
									<input id="farYjou" name="farYjou" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">原镜视力远OD：</label>
								<div class="col-sm-8">
									<input id="farYjod" name="farYjod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">原镜视力远OS：</label>
								<div class="col-sm-8">
									<input id="farYjos" name="farYjos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">原镜视力近OU：</label>
								<div class="col-sm-8">
									<input id="nearYjou" name="nearYjou" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">原镜视力近OD：</label>
								<div class="col-sm-8">
									<input id="nearYjod" name="nearYjod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">原镜视力近OS：</label>
								<div class="col-sm-8">
									<input id="nearYjos" name="nearYjos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">小孔视力远OU：</label>
								<div class="col-sm-8">
									<input id="farXkou" name="farXkou" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">小孔视力远OD：</label>
								<div class="col-sm-8">
									<input id="farXkod" name="farXkod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">小孔视力远OS：</label>
								<div class="col-sm-8">
									<input id="farXkos" name="farXkos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">小孔视力近OU：</label>
								<div class="col-sm-8">
									<input id="nearXkou" name="nearXkou" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">小孔视力近OD：</label>
								<div class="col-sm-8">
									<input id="nearXkod" name="nearXkod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">小孔视力近OS：</label>
								<div class="col-sm-8">
									<input id="nearXkos" name="nearXkos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">主导眼：</label>
								<div class="col-sm-8">
									<input id="dominantEye" name="dominantEye" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/jiancha/shili/add.js">
	</script>
</body>
</html>
