<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>商品出库单新增</title>
	<link rel="stylesheet" href="/css/css.css" type="text/css">
</head>
<body>
<form class="form-horizontal m-t" id="signupForm">
<div class="new_h3">商品出库单新增</div>

<!--检查条件-->
<div class="m40 tabS PHGL">
	<h3>单据信息</h3>
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>单据编号：</td>
			<td><input id="tuihuoNum" name="tuihuoNum" th:value="${uuidstr}" type="text" readonly style="width: 49%"></td>
			<td>制单人：</td>
			<td>
				<input id="zhidanPeople" name="zhidanPeople" th:value="${zhidanPeople}" readonly type="text" style="width: 49%"/>
			</td>
			<td>单据日期：</td>
			<td>
				<input id="danjuDay" name="danjuDay" th:value="${danjuDay}" type="text" readonly style="width: 49%"/>
			</td>
		</tr>
		<tr>
			<td>制造商：</td>
			<td>
				<input id="mfrsid" name="mfrsid" type="hidden" style="width: 49%"/>
				<input id="mfrsName" name="mfrsName" type="text" readonly style="width:49%"/>
				<input id="goodsids" name="goodsids" value="0" type="hidden"/>

				<input type="button" class="XZ-btn" value="选择" onclick="getZhizaoshang()" />
			</td>
			<td>供应商：</td>
			<td>
				<input id="msname" name="mfrsname" type="text" readonly style="width: 49%"/>

			</td>
            <td>发出仓位：</td>
            <td>
                <select id="positionId" name="positionId" style="width:49%">
                    <option th:each="ls:${outPositiion}"
                            th:text="${ls.positionName}"
                            th:value="${ls.positionId}"
                    ></option>
                </select>
            </td>

		</tr>
		<tr>
            <td>出库方式：</td>
            <td>
                <select id="style" name="style" style="width:49%">
                    <option value="">--请选择--</option>
                    <option value="退货">退货</option>
                    <option value="领用出库">领用出库</option>
                    <option value="销售出库">销售出库</option>
                </select>
            </td>
		</tr>
		<tr>
			<td>备注：</td>
			<td colspan="5"><textarea id="beizhu" name="beizhu" rows="3"></textarea></td>
		</tr>
		</tbody>
	</table>

	<div class="HH_btns">
		<div class="Xbtn">
			<input type="button" value="单品添加商品" onclick="getGood()" />
			<input id="barcode" type="button" onclick="getBarcode()" value="条码扫描" />
		</div>
		<div class="Cbtn buyBtns">
			<input type="button" class="H_bc" value="保存并审核" onclick="save()" />
		</div>
	</div>

</div>

<!--商品信息-->
<div class="m40 tabS SPmsg ">
	<h3>商品信息&nbsp;&nbsp;&nbsp;&nbsp;
		<span style="color: red">当前页数量：</span>
		<input style="color: red;font-size: 15px;" id="newcount" name="newcount" readonly/>
	</h3>
	<table border="0" cellspacing="0" cellpadding="0" class="buyBtns">
		<tbody id="inventoryId">
		<tr class="thead">
			<!--<td>多选</td>-->
			<td>商品代码</td>
			<td>商品名称</td>
			<td>型号</td>
			<td>计量单位</td>
			<td>可用库存</td>
			<td>数量</td>
			<td>商品条码</td>
			<!--<td style="display: none">goodsxinxiid</td>-->
			<td style="display: none">标准零售价</td>
			<td  >操作</td>
		</tr>
		<tr style="font-weight:bold;font-size: 15px;" class="goods"></tr>
		</tbody>
	</table>
	<div class="Cbtn buyBtns">
		<input type="button" class="H_bc" value="保存并审核" onclick="save()" />
		<span style="color: red">当前页数量：</span>
		<input style="color: red;font-size: 15px;" id="newcounts" name="newcount" readonly/>
	</div>
</div>

<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/stock/tuihuo/findmfrs.js"></script>
<script type="text/javascript" src="/js/appjs/stock/tuihuo/add.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        hejiadd();
    });
    // <!--单品添加商品-->
    var barHtml="";
    var flag="";
    var flags="";
    var arr = new Array();
    var countarr = new Array();
    function getGood() {
        var mfrsid = $('#mfrsid').val();
        var mfrsName = $('#mfrsName').val();
        var positionId = $('#positionId').val();
        var positionName = $('#positionId').find("option:selected").text();
        var style = $('#style').val();

		if (mfrsid=='' || mfrsid==null){
		    mfrsid="空值";
		}
		if (mfrsName=='' || mfrsName==null){
		    mfrsName="空值"
		}


		if (style == ""){
            layer.alert("请选择出库方式！");
        }else if (style=="退货" && mfrsid=="空值" ){
            layer.alert("请选择制造商！");
			}  else {
            // $(".val").remove();
            var toIndex = layer.open({
                type: 2,
                title: '库存查询',
                maxmin: true,
                shadeClose: false, // 点击遮罩关闭层
                area: ['800px', '520px'],
                content: "/stock/tuihuo/getGood/" + positionId + "/" + positionName + "/" + mfrsid + "/" + mfrsName,// iframe的url
                cancel: function (index, layero) {
                    var rows = window[layero.find('iframe')[0]['name']].showCol();
                    lable:
                    {
                        for (var i = 0; i < rows.length; i++) {
                            if (rows[i].goodsNum == "" || rows[i].goodsNum == null) {
                                $("#inventoryId").append(barHtml);
                            } else {
                                barHtml += "<tr class='val'> ";
                                barHtml += "<td name='goodsNum'>" + rows[i].goodsNum + "</td>";
                                barHtml += "<input name='goodsNum' type='hidden' value='" + rows[i].goodsNum + "'>";
                                barHtml += "<td name='goodsName'>" + rows[i].goodsName + "</td>";
                                barHtml += "<input name='goodsName' type='hidden' value='" + rows[i].goodsName + "'>";
                                barHtml += "<td name='factory'>" + rows[i].factory + "</td>";
                                barHtml += "<input name='factory' type='hidden' value='" + rows[i].factory + "'>";

                                barHtml += "<td name='unit'>" + rows[i].unit + "</td>";
                                barHtml += "<input name='unit' type='hidden' value='" + rows[i].unit + "'>";
                                barHtml += "<td name='goodsCount'>" + rows[i].goodsCount + "</td>";
                                barHtml += "<input name='goodsCount' type='hidden' value='" + rows[i].goodsCount + "'>";

                                barHtml += "<td>" + "<input name='count' oninput=\"value=value.replace(/[^\\d]/g,'')\" type='text' onchange='hejiadd(this.value)' value='1'/>" + "</td>";

                                barHtml += "<td name='goodsCode'>" + rows[i].goodsCode + "</td>";
                                barHtml += "<input name='goodsCode' type='hidden' value='" + rows[i].goodsCode + "'>";
                                // barHtml += "<input name='goodsxinxiid' type='hidden' value='" + rows[i].goodsxinxiid + "'>";
                                barHtml += "<td style='display: none' name='retailPrice'>" + rows[i].retailPrice + "</td>";
                                barHtml += "<input name='retailPrice' type='hidden' value='" + rows[i].retailPrice + "'>";
                                barHtml += "<td><em  onclick='delertTr(this)'></em></td>";
                                barHtml += "</tr>";
                                if ($("input[name=goodsCode]").length == 0) {
                                    $("#inventoryId").append(barHtml);
                                    barHtml = "";
                                } else if ($("input[name=goodsCode]").length != 0) {


                                    for (var as = 0; as < $("input[name=goodsCode]").length; as++) {
                                        var goodsCode = $("input[name=goodsCode]").eq(as).val();
                                        var useCount = $("input[name=count]").eq(as).val();
                                        arr[as] = goodsCode;
                                        countarr[as] = useCount;
                                    }

                                    for (var index = 0; index < arr.length; index++) {
                                        if (arr[index] == rows[i].goodsCode) {
                                            flag = "1";
                                            flags = "修改";
                                            // alert("扫码和原来的一样数量加1");
                                            var count = countarr[index];
                                            $("input[name=count]").eq(index).val(parseInt(count) + parseInt(1));
                                            barHtml = "";
                                            // break lable;
                                        } else if (arr[index] != rows[i].goodsCode) {
                                            // alert("新增111");
                                            flag = "0";
                                            flags = "新增";
                                        }
                                    }
                                }
                                if (flags == "新增" && flag == "0") {
                                    // alert("条码没有过新增");
                                    $("#inventoryId").append(barHtml);
                                    barHtml = "";
                                }
                            }

                        }
                    }
                    hejiadd();
                }
            });
            layer.full(toIndex)
        }
    }



    function hejiadd(object) {
        addcount=0;
        var size=$("input[name='count']").length;
        // alert(size+"数量");
        if (size!=0){
            $("input[name='count']").each(
                function(){
                    var goodsCount=$(this).val();
                    addcount +=Number(goodsCount);
                    $("input[name='newcount']").val(addcount);
                    // alert(addcount)
                }
            )
        }else if (size==0){
            $("input[name='newcount']").val(addcount);
        }

    }

    function delertTr(obj) {
        var x;
        var r=confirm("是否删除该的商品!");
        if (r==true){
            x="确定";
        }
        else{
            x="取消";
        }
        if(x=="确定"){
            var tr=obj.parentNode.parentNode;//得到按钮[obj]的父元素[td]的父元素[tr]
            tr.parentNode.removeChild(tr);//从tr的父元素[tbody]移除tr
            arr = new Array();
        }
        hejiadd();
    }



    function getBarcode(){
        var style = $('#style').val();
        var positionId = $('#positionId').val();
        var mfrsid = $('#mfrsid').val();
        var mfrsname = $('#mfrsName').val();

        if (mfrsid=='' || mfrsid==null){
            mfrsid="空值";
        }
        if (mfrsname=='' || mfrsname==null){
            mfrsname="空值"
        }

        if (style == ""){
            layer.alert("请选择出库方式！");
        }else if (style=="退货" && mfrsid=="空值" ){
            layer.alert("请选择制造商！");
        }else {
            layer.open({
                type : 2,
                title : '商品添加',
                maxmin : true,
                shadeClose : false, // 点击遮罩关闭层
                area : [ '500px', '220px' ],
                content : "/stock/tuihuo/barcode/"+positionId+"/" +mfrsname, // iframe的url
            });
		}

    }

    $("body").on("dblclick","input[name=count]",function(){

        var x;
        var r=confirm("是否向下复制数量!");
        if (r==true){
            x="确定";
        }
        else{
            x="取消";
        }
        if(x=="确定"){
            var index = $("input[name=count]").index($(this));
            for (var i = index; i < $("input[name=count]").length; i++) {
                $("input[name=count]").eq(i).val($(this).val())
            }
            hejiadd();
        }

    })
</script>
</form>
</body>
</html>
