<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${tuihuo.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">单据编号（退货号）：</label>
								<div class="col-sm-8">
									<input id="tuihuoNum" name="tuihuoNum" th:value="${tuihuo.tuihuoNum}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">制单人：</label>
								<div class="col-sm-8">
									<input id="zhidanPeople" name="zhidanPeople" th:value="${tuihuo.zhidanPeople}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">单据日期：</label>
								<div class="col-sm-8">
									<input id="danjuDay" name="danjuDay" th:value="${tuihuo.danjuDay}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">制造商id：</label>
								<div class="col-sm-8">
									<input id="mfrsid" name="mfrsid" th:value="${tuihuo.mfrsid}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">制造商（供应商）：</label>
								<div class="col-sm-8">
									<input id="mfrsname" name="mfrsname" th:value="${tuihuo.mfrsname}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">发出仓位id：</label>
								<div class="col-sm-8">
									<input id="positionId" name="positionId" th:value="${tuihuo.positionId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="beizhu" name="beizhu" th:value="${tuihuo.beizhu}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">商品信息id：</label>
								<div class="col-sm-8">
									<input id="goodsxinxiid" name="goodsxinxiid" th:value="${tuihuo.goodsxinxiid}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">商品代码：</label>
								<div class="col-sm-8">
									<input id="goodsNum" name="goodsNum" th:value="${tuihuo.goodsNum}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">商品名称：</label>
								<div class="col-sm-8">
									<input id="goodsName" name="goodsName" th:value="${tuihuo.goodsName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">型号：</label>
								<div class="col-sm-8">
									<input id="factory" name="factory" th:value="${tuihuo.factory}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">单位：</label>
								<div class="col-sm-8">
									<input id="unit" name="unit" th:value="${tuihuo.unit}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">可用库存：</label>
								<div class="col-sm-8">
									<input id="goodsCount" name="goodsCount" th:value="${tuihuo.goodsCount}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">数量：</label>
								<div class="col-sm-8">
									<input id="count" name="count" th:value="${tuihuo.count}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">商品条码：</label>
								<div class="col-sm-8">
									<input id="goodsCode" name="goodsCode" th:value="${tuihuo.goodsCode}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/stock/tuihuo/edit.js">
	</script>
</body>
</html>
