<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>商品查询</title>
    <link rel="stylesheet" href="/css/css.css" type="text/css">
    <!--<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>-->
    <script type="text/javascript" src="/js/jquery.SuperSlide.2.1.3.js"></script>
    <script src="/js/jquery-3.5.1.min.js"></script>
</head>
<body>
<!--查询条件-->
<div class="m40 tabS msgBox">
    <h3>查询条件</h3>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>商品代码：</td>
            <td>
                <input id="goodsNum" name="goodsNum" type="text">
            </td>
            <td>商品条码：</td>
            <td>
                <input id="goodsCode" name="goodsCode" type="text"/>
            </td>
            <td>商品名称：</td>
            <td>
                <input id="goodsName" name="goodsName" type="text"/>
            </td>
        </tr>
        <tr>
            <td>制造商：</td>
            <td>
                <input id="mfrsid" name="mfrsid" th:value="${mfrsid}" type="hidden"/>
                <input id="mfrsname" name="mfrsname" th:value="${mfrsName}" type="text" readonly/>
            </td>
            <td>商品品种：</td>
            <td>
                <input id="brandnum" name="brandnum" th:value="${brandnum}" type="hidden"/>
                <input id="brandname" name="brandname" type="text" readonly style="background-color: #e4e4e4" />
                <input type="button" class="XZ-btn" value="选择" onclick="choiceBrand()"/>
            </td>
        </tr>
        <tr>
            <td>商品类型：</td>
            <td>
                <select id="goodsType" name="goodsType" onchange="selectgoods()">
                    <option value="">--请选择--</option>
                    <option th:each="ls:${goodsDOList}"
                            th:text="${ls.goodsname}"
                            th:value="${ls.goodsid}"></option>
                </select>
                <div id="jp" style="display: none">
                    <label class="radio-inline">
                        <input type="radio" name="classtype"  value="1" /> 成品片
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="classtype" value="2" /> 订做片
                    </label>
                </div>
                <input type="hidden" id="classtype" value="" />
            </td>
            <td>仓位名称：</td>
            <td >
                <input id="positionId" name="positionId" th:value="${positionId}"  readonly type="hidden"/>
                <input id="positionName" name="positionName" th:value="${positionName}" readonly type="text"/>
            </td>
        </tr>
        <!--<tr>-->
            <!--<input id="outPosition" type="hidden" th:value="${outPosition}"/>-->
            <!--<td>标准零售价格：</td>-->
            <!--<td>-->
                <!--<input id="retailPrice" name="retailPrice" type="text"/>-->
                <!--~ <input name="retailPrice2" type="text"/>-->
            <!--</td>-->
        <!--</tr>-->
    </table>
    <!--保存/清空-->
    <div class="BQ-btn">
        <input type="button" value="查询" onclick="getall()"/>
    </div>
</div>

<!--商品信息-->
<div class="m40 tabS msgBoxDD">
    <table id="exampleTable" data-mobile-responsive="true"></table>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/stock/tuihuo/getGood.js"></script>
<script type="text/javascript">
    function choiceBrand() {
        var goodsid = document.getElementById('goodsType').value;
        var mfrsid = document.getElementById('mfrsid').value;
        if (mfrsid==""){
            layer.alert("请选择制造商！");
        } else if (goodsid == "") {
            layer.alert("请选择商品类别！");
        } else {
            //选择镜架
            var toIndex = layer.open({
                type: 2,
                title: '商品品种',
                maxmin: true,
                shadeClose: false, // 点击遮罩关闭层
                area: ['800px', '520px'],
                content: "/product/produca/findbrand/" + mfrsid+"/"+goodsid,// iframe的url
                cancel: function (index, layero) {
                    var rows = $(layero).find("iframe")[0].contentWindow.batchSelect();
                    for (var i = 0; i < rows.length; i++) {
                        $("#brandname").val(rows[i].brandname);
                        $("#brandnum").val(rows[i].brandnum);
                    }
                }
            });
            layer.full(toIndex);
        }
    }
    function selectgoods() {
        var goodsType = $("#goodsType option:selected").val();
        if (goodsType == 1){
            jp.style = "display: none";
        }else if (goodsType == 2){
            jp.style = "display: none";
        }else if (goodsType == 3){
            jp.style = "display: block";
        }else if (goodsType == 4){
            jp.style = "display: block";
        }else if (goodsType == 5){
            jp.style = "display: none";
        }else if (goodsType == 6){
            jp.style = "display: none";
        }else if (goodsType == 7){
            jp.style = "display: none";
        }else if (goodsType == 8){
            jp.style = "display: none";
        }else if (goodsType == 9){
            jp.style = "display: none";
        }
    }
    function getall() {
        var goodsType=$("#goodsType").val();
        if (goodsType== ""){
            $("#classtype").val("") ;
        }else {
            $("#classtype").val("0") ;
        }
        var goodsType = $("#goodsType option:selected").val();
        if (goodsType == 3 || goodsType == 4){
            $("#classtype").val($("input[name='classtype']:checked").val());
        }

        $('#exampleTable').bootstrapTable('destroy');

        if (goodsType == ""){
            layer.alert("请选择商品类型！")
        }
        if (goodsType == 1) {
                $('#exampleTable')
                    .bootstrapTable(
                        {
                            method: 'get', // 服务器数据的请求方式 get or post
                            url: '/stock/tuihuo/selectjingjia', // 服务器数据的加载地址
                            //	showRefresh : true,
                            //	showToggle : true,
                            //	showColumns : true,
                            iconSize: 'outline',
                            toolbar: '#exampleToolbar',
                            striped: true, // 设置为true会有隔行变色效果
                            dataType: "json", // 服务器返回的数据类型
                            pagination: true, // 设置为true会在底部显示分页条
                            // queryParamsType : "limit",
                            // //设置为limit则会发送符合RESTFull格式的参数
                            singleSelect: false, // 设置为true将禁止多选
                            // contentType : "application/x-www-form-urlencoded",
                            // //发送到服务器的数据编码类型
                            pageSize: 10, // 如果设置了分页，每页数据条数
                            pageNumber: 1, // 如果设置了分布，首页页码
                            //search : true, // 是否显示搜索框
                            showColumns: false, // 是否显示内容下拉框（选择显示的列）
                            sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
                            queryParams: function (params) {
                                return {
                                    //说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                                    limit: params.limit,
                                    offset: params.offset,
                                    mfrsid: $('#mfrsid').val(),
                                    positionId : $("#positionId").val(),
                                    goodsType : $("#goodsType").val(),
                                    goodsNum : $("#goodsNum").val(),
                                    goodsCode : $("#goodsCode").val(),
                                    goodsName : $("#goodsName").val(),
                                    brandname : $("#brandname").val(),
                                    classtype : $("#classtype").val()
                                };
                            },
                            columns: [
                                {
                                    checkbox: true
                                },
                                {
                                    field : 'goodsNum',
                                    title : '商品代码'
                                },
                                {
                                    field: 'goodsName',
                                    title: '商品名称'
                                },

                                {
                                    field: 'factory',
                                    title: '型号'
                                },

                                {
                                    field: 'unit',
                                    title: '单位'
                                },
                                {
                                    field: 'producFactorycolor',
                                    title: '厂家色号'
                                },
                                {
                                    field: 'materialname',
                                    title: '镜架材质'
                                },
                                {
                                    field: 'size',
                                    title: '镜架尺寸'
                                },
                                {
                                    field: 'retailPrice',
                                    title: '标准零售价'
                                },
                                {
                                    field: 'positionName',
                                    title: '仓位'
                                },
                                {
                                    field: 'goodsCount',
                                    title: '库存数量'
                                },
                                {
                                    field: 'goodsCode',
                                    title: '商品条码'
                                }
                            ]
                        });
        } else if (goodsType == 2) {
            $('#exampleTable')
                .bootstrapTable(
                    {
                        method: 'get', // 服务器数据的请求方式 get or post
                        url: '/stock/tuihuo/selectpeijian', // 服务器数据的加载地址
                        //	showRefresh : true,
                        //	showToggle : true,
                        //	showColumns : true,
                        iconSize: 'outline',
                        toolbar: '#exampleToolbar',
                        striped: true, // 设置为true会有隔行变色效果
                        dataType: "json", // 服务器返回的数据类型
                        pagination: true, // 设置为true会在底部显示分页条
                        // queryParamsType : "limit",
                        // //设置为limit则会发送符合RESTFull格式的参数
                        singleSelect: false, // 设置为true将禁止多选
                        // contentType : "application/x-www-form-urlencoded",
                        // //发送到服务器的数据编码类型
                        pageSize: 10, // 如果设置了分页，每页数据条数
                        pageNumber: 1, // 如果设置了分布，首页页码
                        //search : true, // 是否显示搜索框
                        showColumns: false, // 是否显示内容下拉框（选择显示的列）
                        sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
                        queryParams: function (params) {
                            return {
                                //说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                                limit: params.limit,
                                offset: params.offset,
                                mfrsid: $('#mfrsid').val(),
                                positionId : $("#positionId").val(),
                                goodsType : $("#goodsType").val(),
                                goodsNum : $("#goodsNum").val(),
                                goodsCode : $("#goodsCode").val(),
                                goodsName : $("#goodsName").val(),
                                brandname : $("#brandname").val(),
                                classtype : $("#classtype").val()
                            };
                        },
                        columns: [
                            {
                                checkbox: true
                            },
                            {
                                field : 'goodsNum',
                                title : '商品代码'
                            },
                            {
                                field: 'goodsName',
                                title: '商品名称'
                            },
                            {
                                field: 'factory',
                                title: '型号'
                            },
                            {
                                field: 'unit',
                                title: '单位'
                            },
                            {
                                field: 'partsStyle',
                                title: '配件型 '
                            },
                            {
                                field: 'retailPrice',
                                title: '标准零售价'
                            },
                            {
                                field: 'positionName',
                                title: '仓位'
                            },
                            {
                                field: 'goodsCount',
                                title: '库存数量'
                            },
                            {
                                field: 'goodsCode',
                                title: '商品条码'
                            }
                        ]
                    });
        } else if (goodsType == 3) {
            var classtype = $('input:radio:checked').val();
            if (classtype == 1) {
                $('#exampleTable')
                    .bootstrapTable(
                        {
                            method: 'get', // 服务器数据的请求方式 get or post
                            url: '/stock/tuihuo/selectJpcp', // 服务器数据的加载地址
                            //	showRefresh : true,
                            //	showToggle : true,
                            //	showColumns : true,
                            iconSize: 'outline',
                            toolbar: '#exampleToolbar',
                            striped: true, // 设置为true会有隔行变色效果
                            dataType: "json", // 服务器返回的数据类型
                            pagination: true, // 设置为true会在底部显示分页条
                            // queryParamsType : "limit",
                            // //设置为limit则会发送符合RESTFull格式的参数
                            singleSelect: false, // 设置为true将禁止多选
                            // contentType : "application/x-www-form-urlencoded",
                            // //发送到服务器的数据编码类型
                            pageSize: 10, // 如果设置了分页，每页数据条数
                            pageNumber: 1, // 如果设置了分布，首页页码
                            //search : true, // 是否显示搜索框
                            showColumns: false, // 是否显示内容下拉框（选择显示的列）
                            sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
                            queryParams: function (params) {
                                return {
                                    //说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                                    limit: params.limit,
                                    offset: params.offset,
                                    mfrsid: $('#mfrsid').val(),
                                    positionId: $("#positionId").val(),
                                    goodsType: $("#goodsType").val(),
                                    goodsNum: $("#goodsNum").val(),
                                    goodsCode: $("#goodsCode").val(),
                                    goodsName: $("#goodsName").val(),
                                    brandname: $("#brandname").val(),
                                    classtype : $("#classtype").val()
                                };
                            },
                            columns: [
                                {
                                    checkbox: true
                                },
                                {
                                    field: 'goodsNum',
                                    title: '商品代码'
                                },
                                {
                                    field: 'goodsName',
                                    title: '商品名称'
                                },
                                // {
                                //     field: 'factory',
                                //     title: '型号'
                                // },
                                {
                                    field: 'unit',
                                    title: '单位'
                                },
                                {
                                    field: 'sph',
                                    title: '球镜 '
                                },
                                {
                                    field: 'cyl',
                                    title: '柱镜 '
                                },
                                {
                                    field: 'lightbelow',
                                    title: '下加光 '
                                },
                                {
                                    field: 'refractivityvalue',
                                    title: '折射率 '
                                },
                                {
                                    field: 'lightName',
                                    title: '光度分类 '
                                },
                                {
                                    field: 'gradualName',
                                    title: '渐进片分类 '
                                },
                                {
                                    field: 'functionName',
                                    title: '镜片功能 '
                                },
                                {
                                    field: 'retailPrice',
                                    title: '标准零售价'
                                },
                                {
                                    field: 'positionName',
                                    title: '仓位'
                                },
                                {
                                    field: 'goodsCount',
                                    title: '库存数量'
                                },
                                {
                                    field: 'goodsCode',
                                    title: '商品条码'
                                }
                            ]
                        });
            } else if (classtype == 2) {
                $('#exampleTable')
                    .bootstrapTable(
                        {
                            method: 'get', // 服务器数据的请求方式 get or post
                            url: '/stock/tuihuo/selectJpdz', // 服务器数据的加载地址
                            //	showRefresh : true,
                            //	showToggle : true,
                            //	showColumns : true,
                            iconSize: 'outline',
                            toolbar: '#exampleToolbar',
                            striped: true, // 设置为true会有隔行变色效果
                            dataType: "json", // 服务器返回的数据类型
                            pagination: true, // 设置为true会在底部显示分页条
                            // queryParamsType : "limit",
                            // //设置为limit则会发送符合RESTFull格式的参数
                            singleSelect: false, // 设置为true将禁止多选
                            // contentType : "application/x-www-form-urlencoded",
                            // //发送到服务器的数据编码类型
                            pageSize: 10, // 如果设置了分页，每页数据条数
                            pageNumber: 1, // 如果设置了分布，首页页码
                            //search : true, // 是否显示搜索框
                            showColumns: false, // 是否显示内容下拉框（选择显示的列）
                            sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
                            queryParams: function (params) {
                                return {
                                    //说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                                    limit: params.limit,
                                    offset: params.offset,
                                    mfrsid: $('#mfrsid').val(),
                                    positionId: $("#positionId").val(),
                                    goodsType: $("#goodsType").val(),
                                    goodsNum: $("#goodsNum").val(),
                                    goodsCode: $("#goodsCode").val(),
                                    goodsName: $("#goodsName").val(),
                                    brandname: $("#brandname").val(),
                                    classtype : $("#classtype").val()
                                };
                            },
                            columns: [
                                {
                                    checkbox: true
                                },
                                {
                                    field: 'goodsNum',
                                    title: '商品代码'
                                },
                                {
                                    field: 'goodsName',
                                    title: '商品名称'
                                },
                                // {
                                //     field: 'factory',
                                //     title: '型号'
                                // },
                                {
                                    field: 'unit',
                                    title: '单位'
                                },
                                {
                                    field: 'sph',
                                    title: '球镜 '
                                },
                                {
                                    field: 'cyl',
                                    title: '柱镜 '
                                },
                                {
                                    field: 'lightbelow',
                                    title: '下加光 '
                                },
                                {
                                    field: 'refractivityvalue',
                                    title: '折射率 '
                                },
                                {
                                    field: 'lightName',
                                    title: '光度分类 '
                                },
                                {
                                    field: 'gradualName',
                                    title: '渐进片分类 '
                                },
                                {
                                    field: 'functionName',
                                    title: '镜片功能 '
                                },
                                {
                                    field: 'retailPrice',
                                    title: '标准零售价'
                                },
                                {
                                    field: 'positionName',
                                    title: '仓位'
                                },
                                {
                                    field: 'goodsCount',
                                    title: '库存数量'
                                },
                                {
                                    field: 'goodsCode',
                                    title: '商品条码'
                                }
                            ]
                        });
            }
        } else if (goodsType == 4) {
                var classtype = $('input:radio:checked').val();
                if (classtype == 1) {
                    $('#exampleTable')
                        .bootstrapTable(
                            {
                                method: 'get', // 服务器数据的请求方式 get or post
                                url: '/stock/tuihuo/selectYxcp', // 服务器数据的加载地址
                                //	showRefresh : true,
                                //	showToggle : true,
                                //	showColumns : true,
                                iconSize: 'outline',
                                toolbar: '#exampleToolbar',
                                striped: true, // 设置为true会有隔行变色效果
                                dataType: "json", // 服务器返回的数据类型
                                pagination: true, // 设置为true会在底部显示分页条
                                // queryParamsType : "limit",
                                // //设置为limit则会发送符合RESTFull格式的参数
                                singleSelect: false, // 设置为true将禁止多选
                                // contentType : "application/x-www-form-urlencoded",
                                // //发送到服务器的数据编码类型
                                pageSize: 10, // 如果设置了分页，每页数据条数
                                pageNumber: 1, // 如果设置了分布，首页页码
                                //search : true, // 是否显示搜索框
                                showColumns: false, // 是否显示内容下拉框（选择显示的列）
                                sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
                                queryParams: function (params) {
                                    return {
                                        //说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                                        limit: params.limit,
                                        offset: params.offset,
                                        mfrsid: $('#mfrsid').val(),
                                        positionId: $("#positionId").val(),
                                        goodsType: $("#goodsType").val(),
                                        goodsNum: $("#goodsNum").val(),
                                        goodsCode: $("#goodsCode").val(),
                                        goodsName: $("#goodsName").val(),
                                        brandname: $("#brandname").val(),
                                        classtype : $("#classtype").val()
                                    };
                                },
                                columns: [
                                    {
                                        checkbox: true
                                    },
                                    {
                                        field: 'goodsNum',
                                        title: '商品代码'
                                    },
                                    {
                                        field: 'goodsName',
                                        title: '商品名称'
                                    },
                                    // {
                                    //     field: 'factory',
                                    //     title: '型号'
                                    // },
                                    {
                                        field: 'unit',
                                        title: '单位'
                                    },
                                    {
                                        field: 'sph',
                                        title: '球镜 '
                                    },
                                    {
                                        field: 'cyl',
                                        title: '柱镜 '
                                    },
                                    {
                                        field: 'curvature',
                                        title: '曲率 '
                                    },
                                    {
                                        field: 'diameter',
                                        title: '直径 '
                                    },
                                    {
                                        field: 'usageName',
                                        title: '使用类型 '
                                    },
                                    {
                                        field: 'typeName',
                                        title: '抛弃型分类 '
                                    },
                                    {
                                        field: 'retailPrice',
                                        title: '标准零售价'
                                    },
                                    {
                                        field: 'positionName',
                                        title: '仓位'
                                    },
                                    {
                                        field: 'goodsCount',
                                        title: '库存数量'
                                    },
                                    {
                                        field: 'goodsCode',
                                        title: '商品条码'
                                    }
                                ]
                            });
                } else if (classtype == 2) {
                    $('#exampleTable')
                        .bootstrapTable(
                            {
                                method: 'get', // 服务器数据的请求方式 get or post
                                url: '/stock/tuihuo/selectYxdz', // 服务器数据的加载地址
                                //	showRefresh : true,
                                //	showToggle : true,
                                //	showColumns : true,
                                iconSize: 'outline',
                                toolbar: '#exampleToolbar',
                                striped: true, // 设置为true会有隔行变色效果
                                dataType: "json", // 服务器返回的数据类型
                                pagination: true, // 设置为true会在底部显示分页条
                                // queryParamsType : "limit",
                                // //设置为limit则会发送符合RESTFull格式的参数
                                singleSelect: false, // 设置为true将禁止多选
                                // contentType : "application/x-www-form-urlencoded",
                                // //发送到服务器的数据编码类型
                                pageSize: 10, // 如果设置了分页，每页数据条数
                                pageNumber: 1, // 如果设置了分布，首页页码
                                //search : true, // 是否显示搜索框
                                showColumns: false, // 是否显示内容下拉框（选择显示的列）
                                sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
                                queryParams: function (params) {
                                    return {
                                        //说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                                        limit: params.limit,
                                        offset: params.offset,
                                        mfrsid: $('#mfrsid').val(),
                                        positionId: $("#positionId").val(),
                                        goodsType: $("#goodsType").val(),
                                        goodsNum: $("#goodsNum").val(),
                                        goodsCode: $("#goodsCode").val(),
                                        goodsName: $("#goodsName").val(),
                                        brandname: $("#brandname").val(),
                                        classtype : $("#classtype").val()
                                    };
                                },
                                columns: [
                                    {
                                        checkbox: true
                                    },
                                    {
                                        field: 'goodsNum',
                                        title: '商品代码'
                                    },
                                    {
                                        field: 'goodsName',
                                        title: '商品名称'
                                    },
                                    // {
                                    //     field: 'factory',
                                    //     title: '型号'
                                    // },
                                    {
                                        field: 'unit',
                                        title: '单位'
                                    },
                                    {
                                        field: 'sph',
                                        title: '球镜 '
                                    },
                                    {
                                        field: 'cyl',
                                        title: '柱镜 '
                                    },
                                    {
                                        field: 'curvature',
                                        title: '曲率 '
                                    },
                                    {
                                        field: 'diameter',
                                        title: '直径 '
                                    },
                                    {
                                        field: 'usageName',
                                        title: '使用类型 '
                                    },
                                    {
                                        field: 'typeName',
                                        title: '抛弃型分类 '
                                    },
                                    {
                                        field: 'retailPrice',
                                        title: '标准零售价'
                                    },
                                    {
                                        field: 'positionName',
                                        title: '仓位'
                                    },
                                    {
                                        field: 'goodsCount',
                                        title: '库存数量'
                                    },
                                    {
                                        field: 'goodsCode',
                                        title: '商品条码'
                                    }
                                ]
                            });
                }
        }else if (goodsType == 5) {
                    $('#exampleTable')
                        .bootstrapTable(
                            {
                                method: 'get', // 服务器数据的请求方式 get or post
                                url: '/stock/tuihuo/selectHly',// 服务器数据的加载地址
                                //	showRefresh : true,
                                //	showToggle : true,
                                //	showColumns : true,
                                iconSize: 'outline',
                                toolbar: '#exampleToolbar',
                                striped: true, // 设置为true会有隔行变色效果
                                dataType: "json", // 服务器返回的数据类型
                                pagination: true, // 设置为true会在底部显示分页条
                                // queryParamsType : "limit",
                                // //设置为limit则会发送符合RESTFull格式的参数
                                singleSelect: false, // 设置为true将禁止多选
                                // contentType : "application/x-www-form-urlencoded",
                                // //发送到服务器的数据编码类型
                                pageSize: 10, // 如果设置了分页，每页数据条数
                                pageNumber: 1, // 如果设置了分布，首页页码
                                //search : true, // 是否显示搜索框
                                showColumns: false, // 是否显示内容下拉框（选择显示的列）
                                sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
                                queryParams: function (params) {
                                    return {
                                        //说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                                        limit: params.limit,
                                        offset: params.offset,
                                        mfrsid: $('#mfrsid').val(),
                                        positionId: $("#positionId").val(),
                                        goodsType: $("#goodsType").val(),
                                        goodsNum: $("#goodsNum").val(),
                                        goodsCode: $("#goodsCode").val(),
                                        goodsName: $("#goodsName").val(),
                                        brandname: $("#brandname").val(),
                                        classtype : $("#classtype").val()
                                    };
                                },
                                columns: [
                                    {
                                        checkbox: true
                                    },
                                    {
                                        field: 'goodsNum',
                                        title: '商品代码'
                                    },
                                    {
                                        field: 'goodsName',
                                        title: '商品名称'
                                    },
                                    {
                                        field: 'factory',
                                        title: '型号'
                                    },
                                    {
                                        field: 'unit',
                                        title: '单位'
                                    },
                                    {
                                        field: 'mainCapacity',
                                        title: '主容量 '
                                    },
                                    {
                                        field: 'secondCapacity',
                                        title: '次容量 '
                                    },
                                    {
                                        field: 'retailPrice',
                                        title: '标准零售价'
                                    },
                                    {
                                        field: 'positionName',
                                        title: '仓位'
                                    },
                                    {
                                        field: 'goodsCount',
                                        title: '库存数量'
                                    },
                                    {
                                        field: 'goodsCode',
                                        title: '商品条码'
                                    }
                                ]
                            });
        } else if (goodsType == 6) {
                    $('#exampleTable')
                        .bootstrapTable(
                            {
                                method: 'get', // 服务器数据的请求方式 get or post
                                url: '/stock/tuihuo/selectTyj',// 服务器数据的加载地址
                                //	showRefresh : true,
                                //	showToggle : true,
                                //	showColumns : true,
                                iconSize: 'outline',
                                toolbar: '#exampleToolbar',
                                striped: true, // 设置为true会有隔行变色效果
                                dataType: "json", // 服务器返回的数据类型
                                pagination: true, // 设置为true会在底部显示分页条
                                // queryParamsType : "limit",
                                // //设置为limit则会发送符合RESTFull格式的参数
                                singleSelect: false, // 设置为true将禁止多选
                                // contentType : "application/x-www-form-urlencoded",
                                // //发送到服务器的数据编码类型
                                pageSize: 10, // 如果设置了分页，每页数据条数
                                pageNumber: 1, // 如果设置了分布，首页页码
                                //search : true, // 是否显示搜索框
                                showColumns: false, // 是否显示内容下拉框（选择显示的列）
                                sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
                                queryParams: function (params) {
                                    return {
                                        //说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                                        limit: params.limit,
                                        offset: params.offset,
                                        mfrsid: $('#mfrsid').val(),
                                        positionId: $("#positionId").val(),
                                        goodsType: $("#goodsType").val(),
                                        goodsNum: $("#goodsNum").val(),
                                        goodsCode: $("#goodsCode").val(),
                                        goodsName: $("#goodsName").val(),
                                        brandname: $("#brandname").val(),
                                        classtype : $("#classtype").val()
                                    };
                                },
                                columns: [
                                    {
                                        checkbox: true
                                    },
                                    {
                                        field: 'goodsNum',
                                        title: '商品代码'
                                    },
                                    {
                                        field: 'goodsName',
                                        title: '商品名称'
                                    },
                                    {
                                        field: 'factory',
                                        title: '型号'
                                    },
                                    {
                                        field: 'unit',
                                        title: '单位'
                                    },
                                    {
                                        field: 'producFactorycolor',
                                        title: '厂家色号 '
                                    },
                                    {
                                        field: 'size',
                                        title: '镜架尺寸 '
                                    },
                                    {
                                        field: 'retailPrice',
                                        title: '标准零售价'
                                    },
                                    {
                                        field: 'positionName',
                                        title: '仓位'
                                    },
                                    {
                                        field: 'goodsCount',
                                        title: '库存数量'
                                    },
                                    {
                                        field: 'goodsCode',
                                        title: '商品条码'
                                    }
                                ]
                            });
        } else if (goodsType == 7) {
                    $('#exampleTable')
                        .bootstrapTable(
                            {
                                method: 'get', // 服务器数据的请求方式 get or post
                                url: '/stock/tuihuo/selectLhj',// 服务器数据的加载地址
                                //	showRefresh : true,
                                //	showToggle : true,
                                //	showColumns : true,
                                iconSize: 'outline',
                                toolbar: '#exampleToolbar',
                                striped: true, // 设置为true会有隔行变色效果
                                dataType: "json", // 服务器返回的数据类型
                                pagination: true, // 设置为true会在底部显示分页条
                                // queryParamsType : "limit",
                                // //设置为limit则会发送符合RESTFull格式的参数
                                singleSelect: false, // 设置为true将禁止多选
                                // contentType : "application/x-www-form-urlencoded",
                                // //发送到服务器的数据编码类型
                                pageSize: 10, // 如果设置了分页，每页数据条数
                                pageNumber: 1, // 如果设置了分布，首页页码
                                //search : true, // 是否显示搜索框
                                showColumns: false, // 是否显示内容下拉框（选择显示的列）
                                sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
                                queryParams: function (params) {
                                    return {
                                        //说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                                        limit: params.limit,
                                        offset: params.offset,
                                        mfrsid: $('#mfrsid').val(),
                                        positionId: $("#positionId").val(),
                                        goodsType: $("#goodsType").val(),
                                        goodsNum: $("#goodsNum").val(),
                                        goodsCode: $("#goodsCode").val(),
                                        goodsName: $("#goodsName").val(),
                                        brandname: $("#brandname").val(),
                                        classtype : $("#classtype").val()
                                    };
                                },
                                columns: [
                                    {
                                        checkbox: true
                                    },
                                    {
                                        field: 'goodsNum',
                                        title: '商品代码'
                                    },
                                    {
                                        field: 'goodsName',
                                        title: '商品名称'
                                    },
                                    {
                                        field: 'factory',
                                        title: '型号'
                                    },
                                    {
                                        field: 'unit',
                                        title: '单位'
                                    },

                                    {
                                        field: 'degrees',
                                        title: '老花镜度数 '
                                    }, {
                                        field: 'size',
                                        title: '镜架尺寸 '
                                    },
                                    {
                                        field: 'producFactorycolor',
                                        title: '厂家色号 '
                                    },

                                    {
                                        field: 'retailPrice',
                                        title: '标准零售价'
                                    },
                                    {
                                        field: 'positionName',
                                        title: '仓位'
                                    },
                                    {
                                        field: 'goodsCount',
                                        title: '库存数量'
                                    },
                                    {
                                        field: 'goodsCode',
                                        title: '商品条码'
                                    }
                                ]
                            });
        } else if (goodsType == 8) {
                    $('#exampleTable')
                        .bootstrapTable(
                            {
                                method: 'get', // 服务器数据的请求方式 get or post
                                url: '/stock/tuihuo/selectHc',// 服务器数据的加载地址
                                //	showRefresh : true,
                                //	showToggle : true,
                                //	showColumns : true,
                                iconSize: 'outline',
                                toolbar: '#exampleToolbar',
                                striped: true, // 设置为true会有隔行变色效果
                                dataType: "json", // 服务器返回的数据类型
                                pagination: true, // 设置为true会在底部显示分页条
                                // queryParamsType : "limit",
                                // //设置为limit则会发送符合RESTFull格式的参数
                                singleSelect: false, // 设置为true将禁止多选
                                // contentType : "application/x-www-form-urlencoded",
                                // //发送到服务器的数据编码类型
                                pageSize: 10, // 如果设置了分页，每页数据条数
                                pageNumber: 1, // 如果设置了分布，首页页码
                                //search : true, // 是否显示搜索框
                                showColumns: false, // 是否显示内容下拉框（选择显示的列）
                                sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
                                queryParams: function (params) {
                                    return {
                                        //说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                                        limit: params.limit,
                                        offset: params.offset,
                                        mfrsid: $('#mfrsid').val(),
                                        positionId: $("#positionId").val(),
                                        goodsType: $("#goodsType").val(),
                                        goodsNum: $("#goodsNum").val(),
                                        goodsCode: $("#goodsCode").val(),
                                        goodsName: $("#goodsName").val(),
                                        brandname: $("#brandname").val(),
                                        classtype : $("#classtype").val()
                                    };
                                },
                                columns: [
                                    {
                                        checkbox: true
                                    },
                                    {
                                        field: 'goodsNum',
                                        title: '商品代码'
                                    },
                                    {
                                        field: 'goodsName',
                                        title: '商品名称'
                                    },
                                    {
                                        field: 'factory',
                                        title: '型号'
                                    },
                                    {
                                        field: 'unit',
                                        title: '单位'
                                    },
                                    {
                                        field: 'retailPrice',
                                        title: '标准零售价'
                                    },
                                    {
                                        field: 'positionName',
                                        title: '仓位'
                                    },
                                    {
                                        field: 'goodsCount',
                                        title: '库存数量'
                                    },
                                    {
                                        field: 'goodsCode',
                                        title: '商品条码'
                                    }
                                ]
                            });
         } else if (goodsType == 9) {
            alert("视光")
                    $('#exampleTable')
                        .bootstrapTable(
                            {
                                method: 'get', // 服务器数据的请求方式 get or post
                                url: '/stock/tuihuo/selectSg',// 服务器数据的加载地址
                                //	showRefresh : true,
                                //	showToggle : true,
                                //	showColumns : true,
                                iconSize: 'outline',
                                toolbar: '#exampleToolbar',
                                striped: true, // 设置为true会有隔行变色效果
                                dataType: "json", // 服务器返回的数据类型
                                pagination: true, // 设置为true会在底部显示分页条
                                // queryParamsType : "limit",
                                // //设置为limit则会发送符合RESTFull格式的参数
                                singleSelect: false, // 设置为true将禁止多选
                                // contentType : "application/x-www-form-urlencoded",
                                // //发送到服务器的数据编码类型
                                pageSize: 10, // 如果设置了分页，每页数据条数
                                pageNumber: 1, // 如果设置了分布，首页页码
                                //search : true, // 是否显示搜索框
                                showColumns: false, // 是否显示内容下拉框（选择显示的列）
                                sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
                                queryParams: function (params) {
                                    return {
                                        //说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                                        limit: params.limit,
                                        offset: params.offset,
                                        mfrsid: $('#mfrsid').val(),
                                        positionId: $("#positionId").val(),
                                        goodsType: $("#goodsType").val(),
                                        goodsNum: $("#goodsNum").val(),
                                        goodsCode: $("#goodsCode").val(),
                                        goodsName: $("#goodsName").val(),
                                        brandname: $("#brandname").val(),
                                        classtype : $("#classtype").val()
                                    };
                                },
                                columns: [
                                    {
                                        checkbox: true
                                    },
                                    {
                                        field: 'goodsNum',
                                        title: '商品代码'
                                    },
                                    {
                                        field: 'goodsName',
                                        title: '商品名称'
                                    },
                                    {
                                        field: 'factory',
                                        title: '型号'
                                    },
                                    {
                                        field: 'unit',
                                        title: '单位'
                                    },
                                    {
                                        field: 'retailPrice',
                                        title: '标准零售价'
                                    },
                                    {
                                        field: 'positionName',
                                        title: '仓位'
                                    },
                                    {
                                        field: 'goodsCount',
                                        title: '库存数量'
                                    },
                                    {
                                        field: 'goodsCode',
                                        title: '商品条码'
                                    }
                                ]
                            });
                }

        }
</script>

</body>
</html>
