<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="stock:tuihuo:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="stock:tuihuo:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">

							<input id="day1" type="text" class="form-control"
								   placeholder="开始日期">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="day2" type="text" class="form-control"
								   placeholder="结束日期">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="tuihuoNum" type="text" class="form-control"
								placeholder="单据编号">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="mfrsname" type="text" class="form-control"
								placeholder="制造商">
						</div>

						<div class="columns pull-right col-md-2 nopadding">
							<select name="style" id="style" class="form-control" data-actions-box="false"
									data-size="5">
								<option value="">--请选择出库方式--</option>
								<option value="退货">退货</option>
								<option value="领用出库">领用出库</option>
								<option value="销售出库">销售出库</option>

							</select>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="stock:tuihuo:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="stock:tuihuo:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="stock:tuihuo:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/stock/tuihuo/tuihuo.js"></script>
	<script type="text/javascript">
        laydate.render({
            elem: '#day1',
            format: 'yyyy-MM-dd',
            type: 'date'
        });
        laydate.render({
            elem: '#day2',
            format: 'yyyy-MM-dd',
            type: 'date'
        });
	</script>
</body>
</html>