<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${department.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">部门编码：</label>
								<div class="col-sm-8">
									<input id="departNumber" name="departNumber" th:value="${department.departNumber}" class="form-control" type="text" readonly>
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">部门名称：</label>
								<div class="col-sm-8">
									<input id="departName" name="departName" th:value="${department.departName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">负责人：</label>
								<div class="col-sm-8">
									<input id="personCharge" name="personCharge" th:value="${department.personCharge}"  type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">部门状态：</label>
								<div class="col-sm-8">
									<label class="radio-inline"> <input type="radio"
																		th:field="*{department.status}" name="status" value="0" /> 启用
									</label>
									<label class="radio-inline"> <input type="radio"
																		th:field="*{department.status}" name="status" value="1" /> 禁用
									</label>
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">部门类型：</label>
								<div class="col-sm-8">
									<select class="form-control" name="departType" id="departType" onchange="setChange(this.value)">
										<option value="">—请选择—</option>
										<option value="销售门店">销售门店</option>
										<option value="加工中心">加工中心</option>
										<option value="总仓库房">总仓库房</option>
										<option value="财务">财务</option>
										<option value="其他">其他</option>
										<option value="人事部门">人事部门</option>
									</select>
									<span style="color: red">*</span>
									<input id="departTypes" name="departTypes" th:value="${department.departType}" class="form-control" type="hidden">
								</div>
							</div>
							<div class="form-group" id="tab3" style="display: none">
								<label class="col-sm-3 control-label">关联加工中心：</label>
								<div class="col-sm-8">
									<select name="fanuc" id="fanuc" class="form-control" data-actions-box="false" data-size="5">
										<option></option>
										<option th:each="ls:${departmentDOList}"
												th:text="${ls.departName}"
												th:value="${ls.departName}"></option>
									</select>
									<input id="fanucs" name="fanucs" th:value="${department.fanuc}" class="form-control" type="hidden">
								</div>
							</div>
							<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">销售方式：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<label class="radio-inline"> <input type="radio"-->
																		<!--th:field="*{department.sellWays}" name="sellWays"  value="0" /> 验光+销售+收银-->
									<!--</label>-->
									<!--<label class="radio-inline"> <input type="radio"-->
																		<!--th:field="*{department.sellWays}" name="sellWays" value="1" /> 验光+销售-->
									<!--</label>-->
									<!--<span style="color: red">*</span>-->
								<!--</div>-->
							<!--</div>-->
							<div class="form-group" id="tab1" style="display: none">
								<label class="col-sm-3 control-label">默认成品取镜时间：</label>
								<div class="col-sm-8">
									<input id="mirror" name="mirror" th:value="${department.mirror}"  type="text">小时
									<span style="color: red">*</span>
								</div>
							</div>

							<!--<div class="form-group" id="tab2" style="display: none">-->
								<!--<label class="col-sm-3 control-label">隐形和护理液同单销售：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<select class="form-control" name="sameSell" id="sameSell" >-->
										<!--<option value="">请选择</option>-->
										<!--<option value="0">可以同单销售</option>-->
										<!--<option value="1">不可以同单销售</option>-->
									<!--</select>-->
									<!--<input id="sameSells" name="sameSells" th:value="${department.sameSell}" class="form-control" type="hidden"-->
								<!--</div>-->
							<!--</div>-->
							<div class="form-group">
								<label class="col-sm-3 control-label">所属公司：</label>
								<div class="col-sm-8">
									<select name="companyId" id="companyId" class="form-control" data-actions-box="false" data-size="5">
										<option></option>
										<option th:each="ls:${companyList}"
												th:text="${ls.name}"
												th:value="${ls.id}"></option>
									</select>
									<input id="companyIds" name="companyIds" th:value="${department.companyId}" class="form-control" type="hidden">
								</div>
							</div>
							<!--<div class="form-group">	-->
							<!--<label class="col-sm-3 control-label">所属公司：</label>-->
							<!--<div class="col-sm-8">-->
							<!--<input id="company" name="company" class="form-control" type="text">-->
							<!--</div>-->
							<!--</div>-->

							<div class="form-group">
								<label class="col-sm-3 control-label">地区(3级)：</label>
								<div class="col-sm-8 form-inline" data-toggle="distpicker" id="distpicker">
									<select id="proviceName" name="proviceName" class="form-control chosen-select" ></select>
									<select id="cityName"  name="cityName" class="form-control chosen-select" ></select>
									<select id="areaName" name="areaName" class="form-control chosen-select" ></select>
									<span style="color: red">*</span>
								</div>
							</div>
							<input id="proviceNamehi" name="proviceNamehi" th:value="${department.proviceName}" class="form-control" type="hidden">
							<input id="citynamehi" name="citynamehi" th:value="${department.cityName}" class="form-control" type="hidden">
							<input id="areanamehi" name="areanamehi" th:value="${department.areaName}" class="form-control" type="hidden">

							<div class="form-group">
								<label class="col-sm-3 control-label">部门全称：</label>
								<div class="col-sm-8">
									<input id="departFullName" name="departFullName" th:value="${department.departFullName}" type="text">
									<span style="color: red">门店打印的销售单会打印此名称</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">部门电话：</label>
								<div class="col-sm-8">
									<input id="departTel" name="departTel" th:value="${department.departTel}" type="text">
									<span style="color: red">门店打印的销售单会打印此电话</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">部门地址：</label>
								<div class="col-sm-8">
									<input id="departAddress" name="departAddress" th:value="${department.departAddress}" type="text">
									<span style="color: red">门店打印的销售单会打印此地址</span>
								</div>
							</div>
														<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">所属公司：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="company" name="company" th:value="${department.company}" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->

																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/baseinfomation/department/edit.js">
	</script>
	<script type="text/javascript">
        $().ready(function(){
            var departTypes = $("input[name='departTypes']").val();
            $("#departType").find("[value='"+departTypes+"']").attr("selected",true);
            // var sameSells = $("input[name='sameSells']").val();
            // $("#sameSell").find("[value='"+sameSells+"']").attr("selected",true);
            var fanucs = $("input[name='fanucs']").val();
            $("#fanuc").find("[value='"+fanucs+"']").attr("selected",true);
            var companyIds = $("input[name='companyIds']").val();
            $("#companyId").find("[value='"+companyIds+"']").attr("selected",true);
            if (departTypes == '销售门店'){
                tab1.style="display: block";
                //tab2.style="display: block";
                tab3.style="display: block";
			}
            var provincename = $("input[name='proviceNamehi']").val();
            var cityname = $("input[name='citynamehi']").val();
            var areaname = $("input[name='areanamehi']").val();
            $("#proviceName").find("[value='"+provincename+"']").attr("selected",true);
            $("#proviceName").trigger("change");
            $("#cityName").find("[value='"+cityname+"']").attr("selected",true);
            $("#cityName").trigger("change");
            $("#areaName").find("[value='"+areaname+"']").attr("selected",true);
        });
		function setChange(value){
            if (value == '销售门店'){
                tab1.style="display: block";
                //tab2.style="display: block";
                tab3.style="display: block";
            } else {
                tab1.style="display: none";
                //tab2.style="display: none";
                tab3.style="display: none";
                tab4.style="display: none";
            }
		}
	</script>
</body>
</html>
