<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>商品批调管理</title>
	<link rel="stylesheet" href="/css/css.css" type="text/css">
	<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<form class="form-horizontal m-t" id="signupForm">
<!--单据信息-->
<div class="m40 tabS msgBox">
	<h3>单据信息</h3>
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>批调单号：</td>
			<td>
				<input id="pidiaoNumber" name="pidiaoNumber" th:value="${pidiaoNum}" style="background-color: #e4e4e4" readonly type="text">
			</td>
			<td>制单人：</td>
			<td>
				<input id="zhidanPeople" name="zhidanPeople" th:value="${zhidanPeople}" type="text" />
			</td>
			<td>单据日期：</td>
			<td>
				<input id="danjuDay" name="danjuDay" th:value="${danjuDay}"  type="text"/>
			</td>
		</tr>
		<tr>
			<td>发出部门：</td>
			<td>
				<select id="outDepartment" name="outDepartment" style="width:48%" onchange="outposion()">
					<option th:each="ls:${departmentDOList}"
							th:text="${ls.departName}"
							th:value="${ls.departNumber}"
					></option>
				</select>
			</td>
			<td>发出仓位：</td>
			<td>
				<select  id="outPosition" name="outPosition" style="width:50%" class="outcw"></select>
			</td>

		</tr>
		<tr>
			<td>接收公司：</td>
			<td>
				<select id="inCompany" name="inCompany" style="width:48%" onchange="indepartment()">
					<option></option>
					<option th:each="ls:${companyList}"
							th:text="${ls.name}"
							th:value="${ls.id}"
					></option>
				</select>
			</td>
			<td>接收部门：</td>
			<td>
				<select id="inDepartment" name="inDepartment" style="width:50%" class="ings" onchange="inposion()"></select>
			</td>

			<td>接收仓位：</td>
			<td>
				<select id="inPosition" name="inPosition" style="width:50%" class="incw"></select>
			</td>

		</tr>
		<tr>
			<td>备注：</td>
			<td colspan="5"><textarea id="beizhu" name="beizhu" rows="3"></textarea></td>
		</tr>
		</tbody>
	</table>

	<div class="HH_btns">
		<div class="Xbtn">
			<input type="button" value="单品添加商品" onclick="choiceGoods()" />
			<!--<input type="button" value="已核销订单添加商品" />-->
			<!--<input type="button" value="二维表添加商品" />-->
			<!--<input class="HgreenBG" type="button" value="打印条码" />-->
		</div>
		<div class="Cbtn buyBtns">
			<input name="status" value="1" type="hidden"/>
			<input id="returnzt" name="returnzt" value="1" type="hidden"/>
			<input name="shTime" value="" type="hidden"/>
			<input type="button" class="H_bc" value="保存并审核" onclick="save()" />
			<!--<input type="checkbox" id="Hbc" /> <label for="Hbc">保存并审核</label>-->
		</div>
	</div>

</div>
<!--商品信息-->
<div class="m40 tabS SPmsg">
	<h3>商品信息</h3>
	<table border="0" cellspacing="0" cellpadding="0" class="buyBtns">
		<tbody>
		<tr class="thead">
			<!--<td>全选 <input type="checkbox" /></td>-->
			<!--<td></td>-->
			<td>商品代码</td>
			<td>商品名称</td>
			<td>型号</td>
			<!--<td>需求数量</td>-->
			<td>可调用数量</td>
			<td>批调数量</td>
			<td>商品条码</td>
			<td>效期</td>
			<td>批号</td>
			<td>注册证号</td>
			<td>生产日期</td>
			<td style="display: none">镜片类型</td>
			<td style="display: none">类别</td>
			<td style="display: none">制造商</td>
			<td style="display: none">品牌</td>
			<td style="display: none">标准价格</td>
			<td style="display: none">商品id</td>
		</tr>
		<tr class="liebiao">
			<!--<td colspan="5"></td>-->
			<!--<td>合计：</td>-->
			<!--<td>45684</td>-->
		</tr>
		</tbody>
	</table>
	<div class="Cbtn buyBtns">
		<input type="button" class="H_bc" value="保存并审核"  onclick="save()"/>
	</div>
</div>
</form>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/stock/pidiao/pidiao.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // function outposion() {
            var outDepartment = $("#outDepartment").val();
            alert(outDepartment);
            $(".outcw").empty("");
            // $(".outcw").append("<option value=''></option>");
            $.ajax({
                url: '/stock/pidiao/outposion',
                type: 'post',
                dataType: "json",
                data: {
                    'outDepartment': outDepartment
                },
                success: function (datajson) {
                    $(datajson).each(function (key) {  //循环读取后台传来的Json数据
                        var id = datajson[key].positionId;   //角色id
                        var roleName = datajson[key].positionName; //角色名称
                        $(".outcw").append("<option value='" + id + "'>" + roleName + "</option>");
                    });
                }
            })
        // }
    });
	function outposion() {
	var outDepartment = $("#outDepartment").val();
	alert(outDepartment);
	$(".outcw").empty("");
	// $(".outcw").append("<option value=''></option>");
	$.ajax({
		url: '/stock/pidiao/outposion',
		type: 'post',
		dataType: "json",
		data: {
			'outDepartment': outDepartment
		},
		success: function (datajson) {
			$(datajson).each(function (key) {  //循环读取后台传来的Json数据
				var id = datajson[key].positionId;   //角色id
				var roleName = datajson[key].positionName; //角色名称
				$(".outcw").append("<option value='" + id + "'>" + roleName + "</option>");
			});
		}
	})
	}
function indepartment() {
	var inCompany = $('#inCompany').val();
    $(".ings").empty("");
    $(".ings").append("<option value=''></option>");
    $.ajax({
        url: '/stock/pidiao/indepartment',
        type: 'post',
        dataType: "json",
        data: {
            'inCompany': inCompany
        },
        success: function (datajson) {
            $(datajson).each(function (key) {  //循环读取后台传来的Json数据
                var id = datajson[key].departNumber;   //角色id
                var roleName = datajson[key].departName; //角色名称
                //调用自定义方法
                $(".ings").append("<option value='" + id + "'>" + roleName + "</option>");
            });
        }
	})
}
function inposion() {
    var inDepartment = $('#inDepartment').val();
    $(".incw").empty("");
    $.ajax({
        url: '/stock/pidiao/inposion',
        type: 'post',
        dataType: "json",
        data: {
            'inDepartment': inDepartment
        },
        success: function (datajson) {
            $(datajson).each(function (key) {  //循环读取后台传来的Json数据
                var id = datajson[key].positionId;   //角色id
                var roleName = datajson[key].positionName; //角色名称
                //调用自定义方法
                $(".incw").append("<option value='" + id + "'>" + roleName + "</option>");
            });
        }
    })
}
    // <!--单品添加商品-->
    function choiceGoods() {
        var outDepartment = $('#outDepartment').val();
        var outPosition = $('#outPosition').val();
        var inCompany = $('#inCompany').val();
        var inDepartment = $('#inDepartment').val();
        if (outDepartment == "") {
            layer.alert("请选择发出部门！");
        } else if (outPosition == "") {
            layer.alert("请选择发出仓位！");
        }else if (inCompany == ""){
            layer.alert("请选择接收公司！");
		} else if (inDepartment == ""){
          	layer.alert("请选择接收部门！");
		} else {
            // $(".val").remove();
            var toIndex = layer.open({
                type: 2,
                title: '库存查询',
                maxmin: true,
                shadeClose: false, // 点击遮罩关闭层
                area: ['800px', '520px'],
				method: 'get', // 服务器数据的请求方式 get or post
                content: "/stock/pidiao/selextkc/"+ outPosition,// iframe的url
                cancel: function (index, layero) {
                    var rows = window[layero.find('iframe')[0]['name']].showCol();
                    for (var i = 0; i < rows.length; i++) {
                        // alert( rows[i].goodsid);

                        $(".liebiao").after("<tr class='val'> " +
							// "<td><input name='one'  type=\"checkbox\"/></td>\n" +
                            "<td name='goodsNum'>" + rows[i].goodsNum + "</td>\n" +
                            "<input name='goodsNum' type='hidden' value='" + rows[i].goodsNum + "'>\n" +
                            "<td name='goodsName'>" + rows[i].goodsName + "</td>\n" +
                            "<input name='goodsName' type='hidden' value='" + rows[i].goodsName + "'>\n" +
                            "<td name='factory'>" + rows[i].factory + "</td>\n" +
                            "<input name='factory' type='hidden' value='" + rows[i].factory + "'>\n" +
                            // "<td name='needCount'>" + rows[i].needCount + "</td>\n" +
                            "<td name='goodsCount'>" + rows[i].goodsCount + "</td>\n" +
                            "<input name='goodsCount' type='hidden' value='" + rows[i].goodsCount + "'>\n" +
                            "<td >" + "<input name='useCount' oninput=\"value=value.replace(/[^\\d]/g,'')\" type='text'/>" + "</td>" +
                            "<td name='goodsCode'>" + rows[i].goodsCode + "</td>\n" +
                            "<input name='goodsCode' type='hidden' value='" + rows[i].goodsCode + "'>\n" +
                            "<td name='useday'>" + rows[i].useday + "</td>\n" +
                            "<input name='useday' type='hidden' value='" + rows[i].useday + "'>\n" +
                            "<td name='batch'>" + rows[i].batch + "</td>\n" +
                            "<input name='batch' type='hidden' value='" + rows[i].batch + "'>\n" +
                            "<td name='zhuceNumber'>" + rows[i].zhuceNumber + "</td>\n" +
                            "<input name='zhuceNumber' type='hidden' value='" + rows[i].zhuceNumber + "'>\n" +
                            "<td name='produceDay'>" + rows[i].produceDay + "</td>\n" +
                            "<input name='produceDay' type='hidden' value='" + rows[i].produceDay + "'>\n" +


                            "<td name='classtype' style='display: none'>" + rows[i].classtype + "</td>\n" +
                            "<input name='classtype' type='hidden' value='" + rows[i].classtype + "'>\n" +
                            "<td name='goodsid' style='display: none'>" + rows[i].goodsid + "</td>\n" +
                            "<input name='goods' type='hidden' value='" + rows[i].goodsid + "'>\n" +

                            "<td name='mfrsid' style='display: none'>" + rows[i].mfrsid + "</td>\n" +
                            "<input name='mfrsid' type='hidden' value='" + rows[i].mfrsid + "'>\n" +
                            "<td name='brandname' style='display: none'>" + rows[i].brandname + "</td>\n" +
                            "<input name='brandname' type='hidden' value='" + rows[i].brandname + "'>\n" +
							"<td name='unit' style='display: none'>" + rows[i].unit + "</td>\n" +
                            "<input name='unit' type='hidden' value='" + rows[i].unit + "'>\n" +

							"<td name='money' style='display: none'>" + rows[i].retailPrice + "</td>\n" +
                            "<input name='money' type='hidden' value='" + rows[i].retailPrice + "'>\n" +

							"<td name='goodsxinxiid' style='display: none'>" + rows[i].goodsxinxiid + "</td>\n" +
                            "<input name='goodsxinxiid' type='hidden' value='" + rows[i].goodsxinxiid + "'>\n" +


                            "</tr>");
                    }
                }
            });
            layer.full(toIndex)
		}
    }
</script>
</body>
</html>
