<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>商品批调管理</title>
	<link rel="stylesheet" href="/css/css.css" type="text/css">
	<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<form class="form-horizontal m-t" id="signupForm">
<!--单据信息-->
<div class="m40 tabS msgBox">
	<h3>单据信息</h3>
	<input id="companyIdOut" name="companyIdOut" type="hidden" class="form-contro"/>

	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>批调单号：</td>
			<td>
				<input id="pidiaoNumber" name="pidiaoNumber" th:value="${pidiaoNum}" style="background-color: #e4e4e4" readonly type="text">
			</td>
			<td>制单人：</td>
			<td>
				<input id="zhidanPeople" name="zhidanPeople" th:value="${zhidanPeople}" type="text" />
			</td>
			<td>单据日期：</td>
			<td>
				<input id="danjuDay" name="danjuDay" th:value="${danjuDay}"  type="text"/>
			</td>
		</tr>
		<tr>
			<td>发出部门：</td>
			<td>
				<select id="outDepartment" name="outDepartment" style="width:48%" onchange="outposion()">
					<option th:each="ls:${departmentDOList}"
							th:text="${ls.departName}"
							th:value="${ls.departNumber}"
					></option>
				</select>
			</td>
			<td>发出仓位：</td>
			<td>
				<select  id="outPosition" name="outPosition" style="width:50%" class="outcw"></select>
			</td>

		</tr>
		<tr>
			<td>接收公司：</td>
			<td>
				<select id="inCompany" name="inCompany" style="width:48%" onchange="indepartment()">
					<option></option>
					<option th:each="ls:${companyList}"
							th:text="${ls.name}"
							th:value="${ls.id}"
					></option>
				</select>
			</td>
			<td>接收部门：</td>
			<td>
				<select id="inDepartment" name="inDepartment" style="width:50%" class="ings" onchange="inposion()"></select>
			</td>

			<td>接收仓位：</td>
			<td>
				<select id="inPosition" name="inPosition" style="width:50%" class="incw"></select>
			</td>

		</tr>
		<tr>
			<td>备注：</td>
			<td colspan="5"><textarea id="beizhu" name="beizhu" rows="3"></textarea></td>
		</tr>
		</tbody>
	</table>

	<div class="HH_btns">
		<div class="Xbtn">
			<input type="button" value="单品添加商品" onclick="choiceGoods()" />

			<input id="barcode" type="button" onclick="getBarcode()" value="条码扫描" />

		</div>
		<div class="Cbtn buyBtns">
			<input id="outbm" name="outbm" value="" type="hidden"/>
			<input id="outcw" name="outcw"  value="" type="hidden"/>
			<input id="ings" name="ings" value="" type="hidden"/>
			<input id="inbm" name="inbm" value="" type="hidden"/>
			<input id="incw" name="incw" value="" type="hidden"/>


			<input name="status" value="1" type="hidden"/>
			<input id="returnzt" name="returnzt" value="1" type="hidden"/>
			<input name="shTime" value="" type="hidden"/>
			<input type="button" class="H_bc" value="保存并审核" onclick="saveAll()" />
		</div>
	</div>

</div>
<!--商品信息-->
<div class="m40 tabS SPmsg">
	<h3>商品信息&nbsp;&nbsp;&nbsp;&nbsp;
		<span style="color: red">当前页数量：</span>
		<input style="color: red;font-size: 15px;" id="newcount" name="newcount" readonly/>
	</h3>
	<table border="0" cellspacing="0" cellpadding="0" class="buyBtns">
		<tbody id="inventoryId" value="曹林">
		<tr class="thead">
			<!--<td>全选 <input type="checkbox" /></td>-->
			<!--<td></td>-->
			<td>商品代码</td>
			<td>商品名称</td>
			<td>型号</td>
			<!--<td>需求数量</td>-->
			<td>可调用数量</td>
			<td>批调数量</td>
			<td>商品条码</td>
			<td>效期</td>
			<td>批号</td>
			<td>注册证号</td>
			<td>生产日期</td>
			<td style="display: none">镜片类型</td>
			<td style="display: none">类别</td>
			<td style="display: none">制造商</td>
			<td style="display: none">品牌</td>
			<td style="display: none">标准价格</td>
			<td style="display: none">商品id</td>
			<td  >操作</td>
		</tr>
		<tr class="liebiao">
			<!--<td colspan="5"></td>-->
			<!--<td>合计：</td>-->
			<!--<td>45684</td>-->
		</tr>

		</tbody>
	</table>
	<div class="Cbtn buyBtns">
		<input type="button" class="H_bc" value="保存并审核"  onclick="saveAll()"/>
		<span style="color: red">当前页数量：</span>
		<input style="color: red;font-size: 15px;" id="newcounts" name="newcount" readonly/>
	</div>
</div>
</form>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/stock/pidiao/pidiao.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var departNumber=$("#outDepartment").val();
        var departName= $("#outDepartment option:selected").text();
        $.ajax({
            url: '/mfrs/position/getCompony',
            type: 'post',
            dataType: "json",
            data: {
                'departNumber': departNumber,
                'departName': departName
            },
            success: function (datajson) {
                $(datajson).each(function (key) {  //循环读取后台传来的Json数据
                    var id = datajson[key].companyId;   //角色id
                    $("#companyIdOut").val(id);
                });

                var outDepartment = $("#outDepartment").val();
                var companyIdOut = $("#companyIdOut").val();
                if(companyIdOut!="" && companyIdOut!=null){
                    $(".outcw").empty("");
                    $.ajax({
                        url: '/stock/pidiao/outposion',
                        type: 'post',
                        dataType: "json",
                        data: {
                            'outDepartment': outDepartment,
                            'companyIdOut': companyIdOut
                        },
                        success: function (datajson) {
                            $(datajson).each(function (key) {  //循环读取后台传来的Json数据
                                var id = datajson[key].positionId;   //角色id
                                var roleName = datajson[key].positionName; //角色名称
                                $(".outcw").append("<option value='" + id + "'>" + roleName + "</option>");
                            });
                        }
                    });
                }
            }
        });

        hejiadd();
    });
	function outposion() {
        var departNumber=$("#outDepartment").val();
        var departName= $("#outDepartment option:selected").text();
        $.ajax({
            url: '/mfrs/position/getCompony',
            type: 'post',
            dataType: "json",
            data: {
                'departNumber': departNumber,
                'departName': departName
            },
            success: function (datajson) {
                $(datajson).each(function (key) {  //循环读取后台传来的Json数据
                    var id = datajson[key].companyId;   //角色id
                    $("#companyIdOut").val(id);
                });

                var outDepartment = $("#outDepartment").val();
                var companyIdOut = $("#companyIdOut").val();
                if(companyIdOut!="" && companyIdOut!=null){
                    $(".outcw").empty("");
                    $.ajax({
                        url: '/stock/pidiao/outposion',
                        type: 'post',
                        dataType: "json",
                        data: {
                            'outDepartment': outDepartment,
                            'companyIdOut': companyIdOut
                        },
                        success: function (datajson) {
                            $(datajson).each(function (key) {  //循环读取后台传来的Json数据
                                var id = datajson[key].positionId;   //角色id
                                var roleName = datajson[key].positionName; //角色名称
                                $(".outcw").append("<option value='" + id + "'>" + roleName + "</option>");
                            });
                        }
                    });
                }
            }
        });

    }
function indepartment() {
	var inCompany = $('#inCompany').val();
    $(".ings").empty("");
    $(".ings").append("<option value=''></option>");
    $.ajax({
        url: '/stock/pidiao/indepartment',
        type: 'post',
        dataType: "json",
        data: {
            'inCompany': inCompany
        },
        success: function (datajson) {
            $(datajson).each(function (key) {  //循环读取后台传来的Json数据
                var id = datajson[key].departNumber;   //角色id
                var roleName = datajson[key].departName; //角色名称
                //调用自定义方法
                $(".ings").append("<option value='" + id + "'>" + roleName + "</option>");
            });
        }
	})
}
function inposion() {
    var inCompany = $('#inCompany').val();
    var inDepartment = $('#inDepartment').val();
    $(".incw").empty("");
    $.ajax({
        url: '/stock/pidiao/inposion',
        type: 'post',
        dataType: "json",
        data: {
            'inCompany': inCompany,
            'inDepartment': inDepartment
        },
        success: function (datajson) {
            $(datajson).each(function (key) {  //循环读取后台传来的Json数据
                var id = datajson[key].positionId;   //角色id
                var roleName = datajson[key].positionName; //角色名称
                //调用自定义方法
                $(".incw").append("<option value='" + id + "'>" + roleName + "</option>");
            });
        }
    })
}
    var a = 0;
    var barHtml="";
    var flag="";
    var flags="";
    var arr = new Array();
    var countarr = new Array();
    // <!--单品添加商品-->
    function choiceGoods() {
		var outDepartment = $('#outDepartment').val();
		var outPosition = $('#outPosition').val();
		var inCompany = $('#inCompany').val();
		var inDepartment = $('#inDepartment').val();
		if (outDepartment == "") {
			layer.alert("请选择发出部门！");
		} else if (outPosition == "") {
			layer.alert("请选择发出仓位！");
		} else if (inCompany == "") {
			layer.alert("请选择接收公司！");
		} else if (inDepartment == "") {
			layer.alert("请选择接收部门！");
		} else {
			// $(".val").remove();
			var toIndex = layer.open({
				type: 2,
				title: '库存查询',
				maxmin: true,
				shadeClose: false, // 点击遮罩关闭层
				area: ['800px', '520px'],
				method: 'get', // 服务器数据的请求方式 get or post
				content: "/stock/pidiao/selextkc/" + outPosition,// iframe的url
				cancel: function (index, layero) {
					var rows = window[layero.find('iframe')[0]['name']].showCol();
                    lable:
                    {
                        for (var i = 0; i < rows.length; i++) {
                            a = a + 1;
                            barHtml += "<tr class='val'>";
                            barHtml += "<td name='goodsNum'>" + rows[i].goodsNum + "</td>";
                            barHtml += "<input name='goodsNum' type='hidden' value='" + rows[i].goodsNum + "'>";
                            barHtml += "<td name='goodsName'>" + rows[i].goodsName + "</td>";
                            barHtml += "<input name='goodsName' type='hidden' value='" + rows[i].goodsName + "'>";
                            barHtml += "<td name='factory'>" + rows[i].factory + "</td>";
                            barHtml += "<input name='factory' type='hidden' value='" + rows[i].factory + "'>";
                            barHtml += "<td name='goodsCount'>" + rows[i].goodsCount + "</td>";
                            barHtml += "<input id='goodsCount" + a + "' name='goodsCount' type='hidden' value='" + rows[i].goodsCount + "'>";
                            barHtml += "<td >" + "<input id='useCount" + a + "' index = a  name='useCount' oninput=\"value=value.replace(/[^\\d]/g,'')\" type='text' onchange='hejiadd(this.value)' value='" + rows[i].useCount + "'/>" + "</td>";
                            barHtml += "<td name='goodsCode'>" + rows[i].goodsCode + "</td>";
                            barHtml += "<input name='goodsCode' type='hidden' value='" + rows[i].goodsCode + "'>";
                            barHtml += "<td name='useday'>" + rows[i].useday + "</td>";
                            barHtml += "<input name='useday' type='hidden' value='" + rows[i].useday + "'>";
                            barHtml += "<td name='batch'>" + rows[i].batch + "</td>";
                            barHtml += "<input name='batch' type='hidden' value='" + rows[i].batch + "'>";
                            barHtml += "<td name='zhuceNumber'>" + rows[i].zhuceNumber + "</td>";
                            barHtml += "<input name='zhuceNumber' type='hidden' value='" + rows[i].zhuceNumber + "'>";
                            barHtml += "<td name='produceDay'>" + rows[i].produceDay + "</td>";
                            barHtml += "<input name='produceDay' type='hidden' value='" + rows[i].produceDay + "'>";


                            barHtml += "<td name='classtype' style='display: none'>" + rows[i].classtype + "</td>";
                            barHtml += "<input name='classtype' type='hidden' value='" + rows[i].classtype + "'>";
                            barHtml += "<td name='goodsid' style='display: none'>" + rows[i].goodsid + "</td>";
                            barHtml += "<input name='goods' type='hidden' value='" + rows[i].goodsid + "'>";

                            barHtml += "<td name='mfrsid' style='display: none'>" + rows[i].mfrsid + "</td>";
                            barHtml += "<input name='mfrsid' type='hidden' value='" + rows[i].mfrsid + "'>";
                            barHtml += "<td name='brandname' style='display: none'>" + rows[i].brandname + "</td>";
                            barHtml += "<input name='brandname' type='hidden' value='" + rows[i].brandname + "'>";
                            barHtml += "<td name='unit' style='display: none'>" + rows[i].unit + "</td>";
                            barHtml += "<input name='unit' type='hidden' value='" + rows[i].unit + "'>";

                            barHtml += "<td name='money' style='display: none'>" + rows[i].retailPrice + "</td>";
                            barHtml += "<input name='money' type='hidden' value='" + rows[i].retailPrice + "'>";

                            // barHtml += "<td name='goodsxinxiid' style='display: none'>" + rows[i].goodsxinxiid + "</td>";
                            // barHtml += "<input name='goodsxinxiid' type='hidden' value='" + rows[i].goodsxinxiid + "'>";

                            barHtml += "<td name='stockorder' style='display: none'>" + rows[i].danjuNumber + "</td>";
                            barHtml += "<input name='stockorder' type='hidden' value='" + rows[i].danjuNumber + "'>";

                            barHtml += "<td><em  onclick='delertTr(this)'></em></td>";
                            barHtml += "</tr>";
                            // alert($("input[name=goodsCode]").length+"长度");
                            if ($("input[name=goodsCode]").length == 0) {
                                $("#inventoryId").append(barHtml);
                                barHtml = "";
                            } else if ($("input[name=goodsCode]").length != 0) {


                                for (var as = 0; as < $("input[name=goodsCode]").length; as++) {
                                    var goodsCode = $("input[name=goodsCode]").eq(as).val();
                                    var useCount = $("input[name=useCount]").eq(as).val();
                                    arr[as] = goodsCode;
                                    countarr[as] = useCount;
                                }

                                for (var index = 0; index < arr.length; index++) {
                                    if (arr[index] == rows[i].goodsCode) {
                                        flag = "1";
                                        flags = "修改";
                                        // alert("扫码和原来的一样数量加1");
                                        var count = countarr[index];
                                        $("input[name=useCount]").eq(index).val(parseInt(count) + parseInt(1));
                                        barHtml = "";
                                        // break lable;
                                    } else if (arr[index] != rows[i].goodsCode) {
                                        // alert("新增111");
                                        flag = "0";
                                        flags = "新增";
                                    }
                                }
                            }
                            if (flags == "新增" && flag == "0") {
                                // alert("条码没有过新增");
                                $("#inventoryId").append(barHtml);
                                barHtml = "";
                            }
                        }
                    }
                    hejiadd();
				}
			});
			layer.full(toIndex)
		}
	}


    function hejiadd(object) {
        addcount=0;
        var size=$("input[name='useCount']").length;
        // alert(size+"数量");
        if (size!=0){
            $("input[name='useCount']").each(
                function(){
                    var goodsCount=$(this).val();
                    addcount +=Number(goodsCount);
                    $("input[name='newcount']").val(addcount);
                    // alert(addcount)
                }
            )
        }else if (size==0){
            $("input[name='newcount']").val(addcount);
        }

    }


    function delertTr(obj) {
        var x;
        var r=confirm("是否删除该的商品!");
        if (r==true){
            x="确定";
        }
        else{
            x="取消";
        }
        if(x=="确定"){
            var tr=obj.parentNode.parentNode;//得到按钮[obj]的父元素[td]的父元素[tr]
            tr.parentNode.removeChild(tr);//从tr的父元素[tbody]移除tr
            arr = new Array();

        }
        hejiadd();
    }



    function getBarcode(){
        var outDepartment = $('#outDepartment').val();
        var outPosition = $('#outPosition').val();
        var inCompany = $('#inCompany').val();
        var inDepartment = $('#inDepartment').val();
        if (outDepartment == "") {
            layer.alert("请选择发出部门！");
        } else if (outPosition == "") {
            layer.alert("请选择发出仓位！");
        } else if (inCompany == "") {
            layer.alert("请选择接收公司！");
        } else if (inDepartment == "") {
            layer.alert("请选择接收部门！");
        } else{
            layer.open({
                type : 2,
                title : '商品添加',
                maxmin : true,
                shadeClose : false, // 点击遮罩关闭层
                area : [ '500px', '220px' ],
                content : "/stock/pidiao/barcode/"+outPosition, // iframe的url
            });

		}
    }







    $("body").on("dblclick","input[name=useCount]",function(){
        var x;
        var r=confirm("是否向下复制数量!");
        if (r==true){
            x="确定";
        }
        else{
            x="取消";
        }
        if(x=="确定"){
            var index = $("input[name=useCount]").index($(this));
            // $("#ad ul li").index(this)
            // console.log($("input[name=useCount]"));
            // alert(index);
            for (var i = index; i < $("input[name=useCount]").length; i++) {
                $("input[name=useCount]").eq(i).val($(this).val())
            }
            hejiadd();
        }

        })

	function saveAll() {
        var outbm=$("#outbm").val();
        if(outbm=="" || outbm==null){
            var outDepartment = $("#outDepartment option:selected").text();
            var outPosition = $("#outPosition option:selected").text();
            var inCompany = $("#inCompany option:selected").text();
            var inDepartment = $("#inDepartment option:selected").text();
            var inPosition = $("#inPosition option:selected").text();
            $("#outbm").val(outDepartment);
            $("#outcw").val(outPosition);
            $("#ings").val(inCompany);
            $("#inbm").val(inDepartment);
            $("#incw").val(inPosition);
            var outbms=$("#outbm").val();
            if (outbms!="" || outbms!=null) {
                save();
			}

		}

    }

</script>
</body>
</html>
