<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>老花镜修改</title>
    <link rel="stylesheet" href="/css/css.css" type="text/css">
</head>

<body>
<form class="form-horizontal m-t" id="signupForm">
    <div class="new_h3">老花镜修改</div>

    <!--必填项-->
    <div class="m40 tabS PHGL">
        <h3>必填项</h3>
        <input id="id" name="id" th:value="${oldlens.id}" type="hidden">
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td>商品代码：</td>
                <td>
                    <input id="producNum" name="producNum" th:value="${oldlens.producNum}"
                           type="text" readonly style="background-color: #e4e4e4">
                </td>
                <td>商品条码：</td>
                <td>
                    <input id="producCode" name="producCode" th:value="${oldlens.producCode}"
                           type="text" readonly style="background-color: #e4e4e4">
                    <em>*</em>
                </td>
                <td>商品名称：</td>
                <td>
                    <input id="producName" name="producName" th:value="${oldlens.producName}"
                           type="text">
                    <em>*</em>
                </td>
            </tr>
            <tr>
                <td>制造商：</td>
                <td>
                    <input th:value="${oldlens.mfrsname}"
                           style="background-color: #e4e4e4"
                           type="text" readonly>
                    <input id="mfrsid" name="mfrsid" th:value="${oldlens.mfrsid}"

                           type="hidden">
                    <em>*</em>
                </td>
                <td>商品品种：</td>
                <td style="width:20%;">
                    <input th:value="${oldlens.brandname}" style="background-color: #e4e4e4"
                           type="text" readonly>
                    <input id="brandid" name="brandid" th:value="${oldlens.brandid}"
                           type="hidden">
                    <em>*</em>
                </td>
                <td>厂家型号：</td>
                <td>
                    <input id="factory" name="factory" th:value="${oldlens.factory}"
                           type="text" onkeyup="liandong1(this)" oninput="if(value.length>9)value=value.slice(0,9)"
                           onchange="value=value.replace(/[^\w\/]/ig,'').toUpperCase()">
                    <em>*</em>
                </td>
            </tr>
            <tr>
                <td>型号：</td>
                <td>
                    <input th:value="${oldlens .producFactory}" style="background-color: #e4e4e4"
                           oninput="if(value.length>9)value=value.slice(0,9)"
                           type="text" readonly>
                    <input id="producFactory" name="producFactory" th:value="${oldlens.producFactory}"
                           type="hidden">
                    <em>*</em>
                </td>
                <td>厂家色号：</td>
                <td>
                    <input id="producFactorycolor" name="producFactorycolor"
                           th:value="${oldlens.producFactorycolor}" type="text"
                           onkeyup="liandong3(this)" oninput="if(value.length>4)value=value.slice(0,4)"
                           onchange="value=value.replace(/[^\w\/]/ig,'').toUpperCase()">
                    <em>*</em>
                </td>
                <td>计量单位：</td>
                <td>
                    <select name="unitid" id="unitid" th:value="${oldlens.unitid}" class="form-control"
                            data-actions-box="false" data-size="5">
                        <option th:each="ls:${unitDOList}"
                                th:text="${ls.unitname}"
                                th:value="${ls.unitid}"></option>
                    </select>
                    <input id="unitids" name="unitids" th:value="${oldlens.unitid}" class="form-control"
                           type="hidden">
                    <em>*</em>
                </td>
            </tr>
            <tr>
                <td>老花镜度数：</td>
                <td>
                    <select id="oldId" name="oldId" th:value="${oldlens.oldId}" class="form-control"
                            data-actions-box="false" data-size="5">
                        <option th:each="ls:${olddegreesDOList}"
                                th:text="${ls.degrees}"
                                th:value="${ls.oldId}"
                        ></option>
                    </select>
                    <input id="oldIds" name="oldIds" th:value="${oldlens.oldId}" class="form-control"
                           type="hidden">
                </td>

                <!--<td>批号管理：</td>-->
                <!--<td>-->
                    <!--<input th:field="*{oldlens.batchid}" name="batchid" value="1" type="radio" id="PH-S"> <label-->
                        <!--for="PH-S"-->
                        <!--style="margin-right: 5%">是</label>-->
                    <!--<input th:field="*{oldlens.batchid}" name="batchid" value="2" type="radio" id="PH-F"> <label-->
                        <!--for="PH-F">否</label>-->
                    <!--<em>*</em>-->
                <!--</td>-->
                <td>销售状态：</td>
                <td>
                    <input th:field="*{oldlens.xsstate}" name="xsstate" value="1" type="radio">
                    <label id="PH-S" for="PH-S" style="margin-right: 5%">禁用</label>
                    <input th:field="*{oldlens.xsstate}" name="xsstate" value="0" type="radio">
                    <label id="PH-F" for="PH-F">启用</label>
                    <em>*</em>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--非必填项2-->
    <div class="m40 tabS PHGL">
        <h3>非必填项</h3>
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td style="width:200px">镜架尺寸：</td>
                <td style="width:200px">
                    <input id="size" name="size" th:value="${oldlens.size}" class="form-control"
                           type="text">
                </td>
                <td style="width:200px">颜色：</td>
                <td style="width:200px">
                    <select id="color" name="color" th:value="${oldlens.color}" class="form-control"
                            data-actions-box="false" data-size="5">
                    </select>
                </td>
                <td style="width:200px">款式：</td>
                <td style="width:200px">
                    <select id="styleId" name="styleId" th:value="${oldlens.styleId}"
                            class="form-control"
                            data-actions-box="false" data-size="5">
                        <option th:each="ls:${styleDOList}"
                                th:text="${ls.style}"
                                th:value="${ls.styleId}"></option>
                    </select>
                    <input id="styleIds" name="styleIds" th:value="${oldlens.styleId}"
                           class="form-control"
                           type="hidden">
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--价格项-->
    <div class="m40 tabS PHGL">
        <h3>价格项</h3>
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td>税率（%）：</td>
                <td>
                    <input id="tax" name="tax" th:value="${oldlens.tax}" type="text"
                           oninput="value=value.replace(/[^\d]/g,'')"/>
                    <em>*</em>
                </td>
                <td>含税单价：</td>
                <td>
                    <input id="taxPrice" name="taxPrice" th:value="${oldlens.taxPrice}" type="text"
                           oninput="getmoney(this,10)" autofocus/>
                    <em>*</em>
                </td>
                <td>批发价格：</td>
                <td colspan="3">
                    <input id="tradePrice" name="tradePrice" th:value="${oldlens.tradePrice}" type="text"
                           style="width: 60%"
                           oninput="getmoney(this,10)" autofocus/>
                    <em>*</em>
                </td>
            </tr>
            <tr>
                <td>调货成本：</td>
                <td>
                    <input id="transferPrice" name="transferPrice" th:value="${oldlens.transferPrice}" type="text"
                           oninput="getmoney(this,10)" autofocus/>
                    <em>*</em>
                </td>
                <td>标准零售价格：</td>
                <td colspan="3">
                    <input id="retailPrice" name="retailPrice" th:value="${oldlens.retailPrice}" type="text"
                           style="width: 29%"
                           oninput="getmoney(this,10)" autofocus/>
                    <em>*</em>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--保存/清空-->
    <div class="BQ-btn">
        <input type="button" value="保存" onclick="update()"/>
        <dl>
            <dt>老花镜：<br/>商品代码组成说明：</dt>
            <dd><img src="/img/lhj.png" alt=""/></dd>
            <dd>商品条码会根据商品代码自动生成。<br/>商品名称默认为选择的品种的名称，可以自行调整。<br/>型号通常是写在镜腿上的规格。</dd>
        </dl>
    </div>
</form>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/product/oldlens/edit.js"></script>
<script type="text/javascript">
    $().ready(function () {
        //计量单位
        var unitids = $("input[name='unitids']").val();
        $("#unitid").find("[value='" + unitids + "']").attr("selected", true);
        //老花镜度数
        var oldIds = $("input[name='oldIds']").val();
        $("#oldId").find("[value='" + oldIds + "']").attr("selected", true);
        //款式
        var styleIds = $("input[name='styleIds']").val();
        $("#styleId").find("[value='" + styleIds + "']").attr("selected", true);
    });
    var a1 = document.getElementById("producNum");
    var a2 = document.getElementById("producCode");
    var sum;
    var sum1;
    var a1_val = a1.value.substring(0, 7) + ".000000000.0000";
    // layer.alert(a1_val);

    // <!--//———厂家型号与型号联动—————--
    function liandong1(e) {//厂家型号
        var val1 = document.getElementById("factory").value;
        var va1 = val1.replace(/[^\w\/]/ig, '').toUpperCase();
        // layer.alert(val);
        // var proid = document.getElementById("proid");
        document.getElementById("producFactory").value = va1;
        sum = 17 - e.value.length;
        sum1 = 22;
        // a1.value = a1_val.substring(0, sum) + e.value.toUpperCase() + a1_val.substring(17, sum1) + "0000";------【可以用】
        a1.value = a1_val.substring(0, sum) + e.value.toUpperCase() + ".0000";
        a2.value = a1.value.replace(".", "").replace(".", "").replace(".", "").replace(".", "");//复制
    }



    /**
     * 限制输入框只能输入数字和最大长度* 如果是小数只能输入到小数点后两位
     */
    function getmoney(obj, maxLen) {
        if (maxLen && obj.value.length > maxLen) {//判断长度
            obj.value = obj.value.slice(0, 10);
        }
        //修复第一个字符是小数点 的情况.
        if (obj.value !== '' && obj.value.substr(0, 1) === '.') {
            obj.value = "";
        }
        //解决 粘贴不生效
        obj.value = obj.value.replace(/^0*(0\.|[1-9])/, '$1');
        //清除“数字”和“.”以外的字符
        obj.value = obj.value.replace(/[^\d.]/g, "");
        //只保留第一个小数点(.)清除多余的
        obj.value = obj.value.replace(/\.{2,}/g, ".");
        obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
        //只能输入两个小数
        obj.value = obj.value.replace(/^(\d+)\.(\d\d).*$/, '$1.$2');
        if (obj.value.indexOf(".") < 0 && obj.value !== "") {//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
            if (obj.value.substr(0, 1) === '0' && obj.value.length === 2) {
                obj.value = obj.value.substr(1, obj.value.length);
            }
        }
    }
</script>
</body>

</html>