<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.unqualiffed.dao.UnqualiffedDao">

	<select id="get" resultType="com.shiguang.unqualiffed.domain.UnqualiffedDO">
		select `id`,`sale_number`,`prepared_name`,`responsible_name`,`bill_number`,`cause`,`phenomenon`,`handle`,`bill_date` from unqualiffed where id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.unqualiffed.domain.UnqualiffedDO">
		select u.`id`,u.`document_number`,u.`department_appli`,u.`position_appli`,u.`sale_number`,u.`prepared_name`,u.`responsible_name`,u.`bill_number`,u.`cause`,
		u.`phenomenon`,u.`handle`,u.`bill_date`
		from unqualiffed u join department d on d.depart_number = u.document_number join c_company c on c.id = d.company_id
        <where>  
		  		  <if test="id != null and id != ''"> and u.id = #{id} </if>
			      <if test="companyId !=null and companyId != ''">and FIND_IN_SET(d.company_id,#{companyId})</if>
		  		  <if test="saleNumber != null and saleNumber != ''"> and u.sale_number like concat('%', #{saleNumber},'%') </if>
		  		  <if test="preparedName != null and preparedName != ''"> and u.prepared_name = #{preparedName} </if>
		  		  <if test="responsibleName != null and responsibleName != ''"> and u.responsible_name = #{responsibleName} </if>
		  		  <if test="billNumber != null and billNumber != ''"> and u.bill_number = #{billNumber} </if>
		  		  <if test="cause != null and cause != ''"> and u.cause = #{cause} </if>
		  		  <if test="phenomenon != null and phenomenon != ''"> and u.phenomenon = #{phenomenon} </if>
		  		  <if test="handle != null and handle != ''"> and u.handle = #{handle} </if>
		  		  <if test="billDate != null and billDate != ''"> and u.bill_date = #{billDate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by u.id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from unqualiffed u join department d on d.depart_number = u.document_number join c_company c on c.id = d.company_id
		 <where>
			 <if test="id != null and id != ''"> and u.id = #{id} </if>
			 <if test="companyId !=null and companyId != ''">and FIND_IN_SET(d.company_id,#{companyId})</if>
			 <if test="saleNumber != null and saleNumber != ''"> and u.sale_number like concat('%', #{saleNumber},'%') </if>
			 <if test="preparedName != null and preparedName != ''"> and u.prepared_name = #{preparedName} </if>
			 <if test="responsibleName != null and responsibleName != ''"> and u.responsible_name = #{responsibleName} </if>
			 <if test="billNumber != null and billNumber != ''"> and u.bill_number = #{billNumber} </if>
			 <if test="cause != null and cause != ''"> and u.cause = #{cause} </if>
			 <if test="phenomenon != null and phenomenon != ''"> and u.phenomenon = #{phenomenon} </if>
			 <if test="handle != null and handle != ''"> and u.handle = #{handle} </if>
			 <if test="billDate != null and billDate != ''"> and u.bill_date = #{billDate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shiguang.unqualiffed.domain.UnqualiffedDO" useGeneratedKeys="true" keyProperty="id">
		insert into unqualiffed
		(
		   `document_number`,
		   `department_appli`,
		   `position_appli`,
			`sale_number`, 
			`prepared_name`, 
			`responsible_name`, 
			`bill_number`, 
			`cause`, 
			`phenomenon`, 
			`handle`, 
			`bill_date`,
			`remark`,
			`count`,
			`goods_num`,
			`goods_name`,
			`goods_code`
		)
		values
		(
		    #{documentNumber},
		    #{departmentAppli},
		    #{positionAppli},
			#{saleNumber}, 
			#{preparedName}, 
			#{responsibleName}, 
			#{billNumber}, 
			#{cause}, 
			#{phenomenon}, 
			#{handle}, 
			#{billDate},
			#{remark},
			#{count},
			#{goodsNum},
			#{goodsName},
			#{goodsCode}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.unqualiffed.domain.UnqualiffedDO">
		update unqualiffed 
		<set>
			<if test="documentNumber != null">`document_number` = #{documentNumber}, </if>
			<if test="departmentAppli != null">`department_appli` = #{departmentAppli}, </if>
			<if test="saleNumber != null">`sale_number` = #{saleNumber}, </if>
			<if test="preparedName != null">`prepared_name` = #{preparedName}, </if>
			<if test="responsibleName != null">`responsible_name` = #{responsibleName}, </if>
			<if test="billNumber != null">`bill_number` = #{billNumber}, </if>
			<if test="cause != null">`cause` = #{cause}, </if>
			<if test="phenomenon != null">`phenomenon` = #{phenomenon}, </if>
			<if test="handle != null">`handle` = #{handle}, </if>
			<if test="billDate != null">`bill_date` = #{billDate}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from unqualiffed where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from unqualiffed where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>