<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-right">
                        <button class="btn  btn-primary" onclick="batchSelect()" type="button">
                            <i aria-hidden="true" class="fa fa-plus"></i>确定
                        </button>
                    </div>
                    <br>
                    <div class="columns pull-left" style="display:flex;  margin-top:20px">
                        <div class="columns pull-right col-md-2 nopadding">
                            <input id="mfrsnum" type="text" class="form-control"
                                   placeholder="制造商代码">
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <input id="mfrsname" type="text" class="form-control"
                                   placeholder="制造商简称">
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <select name="goodsid" id="goodsid" class="form-control" data-actions-box="false"
                                    data-size="5">
                                <option value="">商品类别</option>
                                <option th:each="ls:${goodsDOList}"
                                        th:text="${ls.goodsname}"
                                        th:value="${ls.goodsid}"></option>

                            </select>
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <select name="invoiceid" id="invoiceid" class="form-control" data-actions-box="false"
                                    data-size="5">
                                <option value="">开票状态</option>
                                <option th:each="ls:${invoiceDOList}"
                                        th:text="${ls.invoicestate}"
                                        th:value="${ls.invoiceid}"></option>
                            </select>
                        </div>

                        <div class="columns pull-right">
                            <button class="btn btn-success" onclick="reLoad()">查询</button>
                        </div>
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="mfrs:mfrs:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="mfrs:mfrs:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="mfrs:mfrs:resetPwd">
    <script type="text/javascript">
        var s_resetPwd_h = '';
    </script>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/mfrs/mfrs/getMfrsTyj.js"></script>
</body>
</html>