<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${produca.id}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品代码：</label>
                            <div class="col-sm-8">
                                <input id="producNum" name="producNum" th:value="${produca.producNum}"
                                       class="form-control" type="text" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品条码：</label>
                            <div class="col-sm-8">
                                <input id="producCode" name="producCode" th:value="${produca.producCode}"
                                       class="form-control" type="text" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品名称：</label>
                            <div class="col-sm-8">
                                <input id="producName" name="producName" th:value="${produca.producName}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">销售状态：</label>
                            <div class="col-sm-8">
                                <label class="radio-inline"> <input type="radio"
                                                                    th:field="*{produca.status}" name="status"
                                                                    value="1"/>
                                    禁用
                                </label>
                                <label class="radio-inline"> <input type="radio"
                                                                    th:field="*{produca.status}" name="status"
                                                                    value="0"/>
                                    启用
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">制造商：</label>
                            <div class="col-sm-8">
                                <input th:value="${produca.mfrsname}"
                                       class="form-control"
                                       type="text" readonly>
                                <input id="mfrsid" name="mfrsid" th:value="${produca.mfrsid}"
                                       class="form-control"
                                       type="hidden">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品品种：</label>
                            <div class="col-sm-8">
                                <input th:value="${produca.brandname}" class="form-control"
                                       type="text" readonly>
                                <input id="brandid" name="brandid" th:value="${produca.brandid}" class="form-control"
                                       type="hidden">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">厂家型号：</label>
                            <div class="col-sm-8">
                                <input id="factory" name="factory" th:value="${produca.factory}" class="form-control"
                                       type="text" onkeyup="liandong1()"
                                       onchange="value=value.replace(/[^\w\/]/ig,'').toUpperCase()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">型号：</label>
                            <div class="col-sm-8">
                                <input th:value="${produca.producFactory}"
                                       class="form-control" type="text" readonly>
                                <input id="producFactory" name="producFactory" th:value="${produca.producFactory}"
                                       class="form-control" type="hidden">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">厂家色号：</label>
                            <div class="col-sm-8">
                                <input id="producFactorycolor" name="producFactorycolor"
                                       th:value="${produca.producFactorycolor}" class="form-control" type="text"
                                       onkeyup="liandong3()"
                                       onchange="value=value.replace(/[^\w\/]/ig,'').toUpperCase()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">色号：</label>
                            <div class="col-sm-8">
                                <input th:value="${produca.producColor}"
                                       class="form-control" type="text" readonly>
                                <input id="producColor" name="producColor" th:value="${produca.producColor}"
                                       class="form-control" type="hidden">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">计量单位：</label>
                            <div class="col-sm-8">
                                <select name="unitid" id="unitid" th:value="${produca.unitid}" class="form-control"
                                        data-actions-box="false" data-size="5">
                                    <option th:each="ls:${unitDOList}"
                                            th:text="${ls.unitname}"
                                            th:value="${ls.unitid}"></option>
                                </select>
                                <input id="unitids" name="unitids" th:value="${produca.unitid}" class="form-control"
                                       type="hidden">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">批号管理：</label>
                            <div class="col-sm-8">
                                <div class="col-sm-8">
                                    <label class="radio-inline"> <input type="radio" th:field="*{produca.batchid}"
                                                                        name="batchid" value="1"/> 是
                                    </label>
                                    <label class="radio-inline"> <input type="radio" th:field="*{produca.batchid}"
                                                                        name="batchid" value="2"/> 否
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">镜架尺寸：</label>
                            <div class="col-sm-8">
                                <input id="size" name="size" th:value="${produca.size}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">工艺类型：</label>
                            <div class="col-sm-8">
                                <select name="technologyId" id="technologyId" th:value="${produca.technologyId}"
                                        class="form-control"
                                        data-actions-box="false" data-size="5">
                                    <option></option>
                                    <option th:each="ls:${technologyDOList}"
                                            th:text="${ls.technologyType}"
                                            th:value="${ls.technologyId}"></option>
                                </select>
                                <input id="technologyIds" name="technologyIds" th:value="${produca.technologyId}"
                                       class="form-control"
                                       type="hidden">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">镜架材质：</label>
                            <div class="col-sm-8">
                                <select name="materialid" id="materialid" th:value="${produca.materialid}"
                                        class="form-control"
                                        data-actions-box="false" data-size="5">
                                    <option></option>
                                    <option th:each="ls:${materialDOList}"
                                            th:text="${ls.materialname}"
                                            th:value="${ls.materialid}"></option>
                                </select>
                                <input id="materialids" name="materialids" th:value="${produca.materialid}"
                                       class="form-control"
                                       type="hidden">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">颜色：</label>
                            <div class="col-sm-8">
                                <select id="color" name="color" th:value="${produca.color}" class="form-control"
                                        data-actions-box="false" data-size="5">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">款式：</label>
                            <div class="col-sm-8">
                                <select id="styleId" name="styleId" th:value="${produca.styleId}"
                                        class="form-control"
                                        data-actions-box="false" data-size="5">
                                    <option th:each="ls:${styleDOList}"
                                            th:text="${ls.style}"
                                            th:value="${ls.styleId}"></option>
                                </select>
                                <input id="styleIds" name="styleIds" th:value="${produca.styleId}"
                                       class="form-control"
                                       type="hidden">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">采购年份：</label>
                            <div class="col-sm-8">
                                <input id="year" name="year" th:value="${produca.year}" class="form-control"
                                       type="text">
                                <span style="color: red">(年份后两位+两位月份)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">税率(%)：</label>
                            <div class="col-sm-8">
                                <input id="tax" name="tax" th:value="${produca.tax}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">含税单价：</label>
                            <div class="col-sm-8">
                                <input id="taxPrice" name="taxPrice" th:value="${produca.taxPrice}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">批发价格：</label>
                            <div class="col-sm-8">
                                <input id="tradePrice" name="tradePrice" th:value="${produca.tradePrice}"
                                       class="form-control" type="text" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">调货成本：</label>
                            <div class="col-sm-8">
                                <input id="transferPrice" name="transferPrice" th:value="${produca.transferPrice}"
                                       class="form-control" type="text" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">标准零售价格：</label>
                            <div class="col-sm-8">
                                <input id="retailPrice" name="retailPrice" th:value="${produca.retailPrice}"
                                       class="form-control" type="text" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/product/produca/edit.js"></script>
<script type="text/javascript">
    $().ready(function () {
        //计量单位
        var unitids = $("input[name='unitids']").val();
        $("#unitid").find("[value='" + unitids + "']").attr("selected", true);
        //工艺类型
        var technologyIds = $("input[name='technologyIds']").val();
        $("#technologyId").find("[value='" + technologyIds + "']").attr("selected", true);
        //镜架材质
        var materialids = $("input[name='materialids']").val();
        $("#materialid").find("[value='" + materialids + "']").attr("selected", true);
        //款式
        var styleIds = $("input[name='styleIds']").val();
        $("#styleId").find("[value='" + styleIds + "']").attr("selected", true);
    });

    // <!--//———厂家型号与型号联动—————-->
    function liandong1() {
        var val1 = document.getElementById("factory").value;
        var va1 = val1.replace(/[^\w\/]/ig, '').toUpperCase();
        // alert(val);
        document.getElementById("producFactory").value = va1;
    }

    // <!--//———厂家色号与色号联动—————-->
    function liandong3() {
        var val3 = document.getElementById("producFactorycolor").value;
        var va3 = val3.replace(/[^\w\/]/ig, '').toUpperCase();
        document.getElementById("producColor").value = va3;
    }
</script>
</body>
</html>
