<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header">
    <style type="text/css">
        .jump {
            margin-right: 31px;
            margin-top: 19px;
            display: inline-block;
            position: relative;
        }
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-right">
                        <button shiro:hasPermission="product:produca:add" type="button" class="btn  btn-primary"
                                onclick="add()">
                            <i class="fa fa-plus" aria-hidden="true"></i>镜架类新增
                        </button>
                        <button shiro:hasPermission="product:produca:batchRemove" type="button" class="btn  btn-danger"
                                onclick="batchRemove()">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                    </div>
                    <br>
                    <div class="columns pull-left" style="margin-top:50px">
                        <a href="">镜架</a>
                        <a href="/product/parts">配件</a>
                        <a onclick="window.location.href='../../parts/parts.html'">镜片（成品片）</a>
                        <a href="">镜片（定做片）</a>
                        <a onclick="window.location.href='templates/product/parts/parts.html'">隐形（成品片）</a>
                        <a href="">隐形（定做片）</a>
                        <a href="">护理液</a>
                        <a href="">太阳镜</a>
                        <a href="">老花镜</a>
                        <a href="">耗材</a>
                        <a href="">视光</a>
                    </div>


                    <br>
                    <div class="columns pull-left" style="display:flex;  margin-top:20px">

                        <div class="columns pull-right col-md-2 nopadding">
                            <input id="producCode" type="text" class="form-control"
                                   placeholder="商品代码">
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <input id="producName" type="text" class="form-control"
                                   placeholder="商品名称">
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <input id="mfrsid" type="text" class="form-control"
                                   placeholder="制造商">
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <input id="brandid" type="text" class="form-control"
                                   placeholder="商品品种">
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <input id="retailPrice" type="text" class="form-control"
                                   placeholder="标准零售价格">
                        </div>
                        <div id="taxPrice" class="columns pull-right col-md-2 nopadding">
                            <input type="text" class="form-control"
                                   placeholder="含税单价">
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <input id="producFactory" type="text" class="form-control"
                                   placeholder="型号">
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <input id="producColor" type="text" class="form-control"
                                   placeholder="色号">
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <input id="size" type="text" class="form-control"
                                   placeholder="尺寸">
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <select name="technologyId" id="technologyId" class="form-control" data-actions-box="false"
                                    data-size="5">
                                <option value="">工艺类型</option>
                                <option th:each="ls:${technologyDOList}"
                                        th:text="${ls.technologyType}"
                                        th:value="${ls.technologyId}"
                                ></option>
                            </select>
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <select name="materialid" id="materialid" class="form-control" data-actions-box="false"
                                    data-size="5">
                                <option value="">镜架材质</option>
                                <option th:each="ls:${materialDOList}"
                                        th:text="${ls.materialname}"
                                        th:value="${ls.materialid}"
                                ></option>
                            </select>
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <select name="stateId" id="stateId" class="form-control" data-actions-box="false"
                                    data-size="5">
                                <option value="">启用状态</option>
                                <option th:each="ls:${stateDOList}"
                                        th:text="${ls.status}"
                                        th:value="${ls.stateId}"
                                ></option>
                            </select>
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <select id="styleId" name="styleId" class="form-control" data-actions-box="false"
                                    data-size="5">
                                <option value="">款式</option>
                                <option th:each="ls:${styleDOList}"
                                        th:text="${ls.style}"
                                        th:value="${ls.styleId}"
                                ></option>

                            </select>
                        </div>
                        <div class="columns pull-right">
                            <button class="btn btn-success" onclick="reLoad()">查询</button>
                        </div>
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="product:produca:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="product:produca:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="product:produca:resetPwd">
    <script type="text/javascript">
        var s_resetPwd_h = '';
    </script>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/product/produca/produca.js"></script>
<script>

</script>
</body>
</html>