<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.logstatus.dao.LogStatusDao">

    <select id="get" resultType="com.shiguang.logstatus.domain.LogStatusDO">
		select `id`,`sale_number`,`logistic_status` from log_status where id = #{value}
	</select>

    <select id="list" resultType="com.shiguang.logstatus.domain.LogStatusDO">
        select `id`,`sale_number`,`logistic_status` from log_status
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="saleNumber != null and saleNumber != ''"> and sale_number like concat('%', #{saleNumber},'%') </if>
            <if test="logisticStatus != null and logisticStatus != ''"> and logistic_status = #{logisticStatus} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from log_status
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="saleNumber != null and saleNumber != ''"> and sale_number like concat('%', #{saleNumber},'%') </if>
            <if test="logisticStatus != null and logisticStatus != ''"> and logistic_status = #{logisticStatus} </if>
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.logstatus.domain.LogStatusDO" useGeneratedKeys="true" keyProperty="id">
		insert into log_status
		(
			`sale_number`,
			`logistic_status`,
			`faliao_name`,
			`faliao_date`
		)
		values
		(
			#{saleNumber},
			#{logisticStatus},
			#{faliaoName},
			#{faliaoDate}
		)
	</insert>

    <insert id="saveRecord" parameterType="com.shiguang.logstatus.domain.WorkRecoedDO" useGeneratedKeys="true" keyProperty="id">
		insert into work_record
		(
			`user_name`,
			`type`,
			`date_time`
		)
		values
		(
			#{userName},
			#{type},
			#{dateTime}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.logstatus.domain.LogStatusDO">
        update log_status
        <set>
            <if test="logisticStatus != null">`logistic_status` = #{logisticStatus}</if>
        </set>
        where sale_number = #{saleNumber}
    </update>

    <delete id="remove">
		delete from log_status where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from log_status where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findSaleAll" resultType="com.shiguang.storeSales.domain.SalesDO">
        select sa.`id`,sa.`ptometry_number`,sa.`member_number`,m.`name` as memberName,m.`sex`,m.`age`,m.`phone_1` as phone1,sa.`sale_name`,sa.`sale_number`,sa.`eye_type`,sa.`amount_money`,sa.`mirror_way`,sa.`mirror_time`,
		sa.`miror_address`,sa.`store_num`,sa.`urgent_status`,sa.`goods_rebate`,sa.`fixed_price`,sa.`moling_money`,sa.`additional_cost`,sa.`process_ask`,
		sa.`store_name`,sa.`store_describe`,sa.`store_unit`,sa.`store_count`,sa.`remark`,sa.`saleremark`,sa.`give_name`,sa.`peijing_time`,sa.`optometry_name`,sa.`out_recipel`,
		sa.`recipel_type`,sa.`optometrywl_name`,sa.`recipelwl_type`,sa.`taocan_name`,sa.`additional_price`,sa.`additional_count`,sa.`classtype`,ls.`logistic_status` as logStatus,ls.`faliao_name` as faliaoName,ls.`faliao_date` as faliaoDate
        from store_sales sa
        join log_status ls on ls.sale_number = sa.sale_number
        join member m on m.card_number = sa.member_number and m.state = 1 and m.`status` = 0
        <where>
            <if test="logisticStatus != null and logisticStatus != ''"> and ls.logistic_status = #{logisticStatus} </if>
            <if test="logisticStatuss != null and logisticStatuss != ''"> and (ls.logistic_status = '委外完成' or ls.logistic_status = '销售完成') </if>
            <if test="saleNumber !=null and saleNumber != ''">and sa.sale_number like concat('%', #{saleNumber},'%')</if>
            <if test="departNumber !=null and departNumber != ''">and m.depart_number = #{departNumber}</if>
            <if test="companyid !=null and companyid != ''">and FIND_IN_SET(m.company_id,#{companyid})</if>
            <if test="classtype != null and classtype != ''">and FIND_IN_SET(#{classtype},sa.classtype) </if>
            <if test="storeDescribe != null and storeDescribe != ''">or sa.`store_describe` in (#{storeDescribe})</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="findSaleCount" resultType="int">
        select count(*)
        from store_sales sa
        join log_status ls on ls.sale_number = sa.sale_number
        join member m on m.card_number = sa.member_number and m.state = 1 and m.`status` = 0
        <where>
            <if test="logisticStatus != null and logisticStatus != ''"> and ls.logistic_status = #{logisticStatus} </if>
            <if test="logisticStatuss != null and logisticStatuss != ''"> and (ls.logistic_status = '委外完成' or ls.logistic_status = '销售完成') </if>
            <if test="saleNumber !=null and saleNumber != ''">and sa.sale_number like concat('%', #{saleNumber},'%')</if>
            <if test="departNumber !=null and departNumber != ''">and m.depart_number = #{departNumber}</if>
            <if test="companyid !=null and companyid != ''">and FIND_IN_SET(m.company_id,#{companyid})</if>
            <if test="classtype != null and classtype != ''">and FIND_IN_SET(#{classtype},sa.classtype) </if>
            <if test="storeDescribe != null and storeDescribe != ''">or sa.`store_describe` in (#{storeDescribe})</if>
        </where>
    </select>

    <update id="editFaliao" parameterType="com.shiguang.logstatus.domain.LogStatusDO">
        update log_status
        <set>
            <if test="logisticStatus != null">`logistic_status` = #{logisticStatus},</if>
            <if test="faliaoName != null"> `faliao_name` = #{faliaoName},</if>
            <if test="faliaoDate != null"> `faliao_date` = #{faliaoDate}</if>
        </set>
        where sale_number = #{saleNumber}
    </update>

    <select id="getLogSaleNumber" resultType="com.shiguang.storeSales.domain.SalesDO">
		select sa.`id`,sa.`ptometry_number`,sa.`member_number`,m.`name` as memberName,m.`sex`,m.`age`,m.`phone_1` as phone1,sa.`sale_name`,sa.`sale_number`,sa.`eye_type`,sa.`amount_money`,sa.`mirror_way`,sa.`mirror_time`,
		sa.`miror_address`,sa.`store_num`,sa.`urgent_status`,sa.`goods_rebate`,sa.`fixed_price`,sa.`moling_money`,sa.`additional_cost`,sa.`process_ask`,
		sa.`store_name`,sa.`store_describe`,sa.`store_unit`,sa.`store_count`,sa.`remark`,sa.`saleremark`,sa.`give_name`,sa.`peijing_time`,sa.`optometry_name`,sa.`out_recipel`,
		sa.`recipel_type`,sa.`optometrywl_name`,sa.`recipelwl_type`,sa.`taocan_name`,sa.`additional_price`,sa.`additional_count`,sa.`jp_goods_name`,sa.`jj_goods_name`,
		ls.`logistic_status` as logStatus,ls.`faliao_name` as faliaoName,ls.`faliao_date` as faliaoDate,mi.`address` as mailAddress
        from store_sales sa
        join log_status ls on ls.sale_number = sa.sale_number
        join member m on m.card_number = sa.member_number and m.state = 1 and m.`status` = 0
        left join mail_info mi on mi.sale_number = sa.sale_number
        where ls.sale_number = #{saleNumber}
	</select>

    <update id="editJianyan" parameterType="com.shiguang.logstatus.domain.LogStatusDO">
        update log_status
        <set>
            <if test="logisticStatus != null">`logistic_status` = #{logisticStatus},</if>
            <if test="jdjSphRight1 != null">`jdj_sph_right1` = #{jdjSphRight1}, </if>
            <if test="jdjCylRight1 != null">`jdj_cyl_right1` = #{jdjCylRight1}, </if>
            <if test="jdjZxRight1 != null">`jdj_zx_right1` = #{jdjZxRight1}, </if>
            <if test="jdjSphRight2 != null">`jdj_sph_right2` = #{jdjSphRight2}, </if>
            <if test="jdjCylRight2 != null">`jdj_cyl_right2` = #{jdjCylRight2}, </if>
            <if test="jdjZxRight2 != null">`jdj_zx_right2` = #{jdjZxRight2}, </if>
            <if test="xieshiRight != null">`xieshi_right` = #{xieshiRight}, </if>
            <if test="addRight != null">`add_right` = #{addRight}, </if>
            <if test="tjRight != null">`tj_right` = #{tjRight}, </if>
            <if test="jdjSphLeft1 != null">`jdj_sph_left1` = #{jdjSphLeft1}, </if>
            <if test="jdjCylLeft1 != null">`jdj_cyl_left1` = #{jdjCylLeft1}, </if>
            <if test="jdjZxLeft1 != null">`jdj_zx_left1` = #{jdjZxLeft1}, </if>
            <if test="jdjSphLeft2 != null">`jdj_sph_left2` = #{jdjSphLeft2}, </if>
            <if test="jdjCylLeft2 != null">`jdj_cyl_left2` = #{jdjCylLeft2}, </if>
            <if test="jdjZxLeft2 != null">`jdj_zx_left2` = #{jdjZxLeft2}, </if>
            <if test="xieshiLeft != null">`xieshi_left` = #{xieshiLeft}, </if>
            <if test="addLeft != null">`add_left` = #{addLeft}, </if>
            <if test="tjLeft != null">`tj_left` = #{tjLeft}</if>
        </set>
        where sale_number = #{saleNumber}
    </update>

    <!-- 配镜单查询 -->
    <select id="findSalePeijingAll" resultType="com.shiguang.storeSales.domain.SalesDO">
        select sa.`id`,sa.`ptometry_number`,sa.`member_number`,m.`name` as memberName,m.`sex`,m.`age`,m.`phone_1` as phone1,sa.`sale_name`,sa.`sale_number`,sa.`eye_type`,sa.`amount_money`,sa.`mirror_way`,sa.`mirror_time`,
        sa.`miror_address`,sa.`store_num`,sa.`urgent_status`,sa.`goods_rebate`,sa.`fixed_price`,sa.`moling_money`,sa.`additional_cost`,sa.`process_ask`,
        sa.`store_name`,sa.`store_describe`,sa.`store_unit`,sa.`store_count`,sa.`remark`,sa.`saleremark`,sa.`give_name`,sa.`peijing_time`,sa.`optometry_name`,sa.`out_recipel`,
        sa.`recipel_type`,sa.`optometrywl_name`,sa.`recipelwl_type`,sa.`taocan_name`,sa.`additional_price`,sa.`additional_count`,ls.`logistic_status` as logStatus,ls.`faliao_name` as faliaoName,ls.`faliao_date` as faliaoDate
        from store_sales sa
        left join log_status ls on ls.sale_number = sa.sale_number
        join member m on m.card_number = sa.member_number and m.state = 1 and m.`status` = 0
        <where>
            <if test="logisticStatus != null and logisticStatus != ''"> and logistic_status = #{logisticStatus} </if>
            <if test="saleNumber !=null and saleNumber != ''">and sa.sale_number like concat('%', #{saleNumber},'%')</if>
            <if test="name != null and name != ''"> and m.`name` like concat('%', #{name},'%') </if>
            <if test="phone1 != null and phone1 != ''"> and m.phone_1 = #{phone1} </if>
            <if test="departNumber !=null and departNumber != ''">and m.depart_number = #{departNumber}</if>
            <if test="companyid !=null and companyid != ''">and m.company_id in (#{companyid})</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="findSalePeijingCount" resultType="int">
        select count(*)
        from store_sales sa
        join log_status ls on ls.sale_number = sa.sale_number
        join member m on m.card_number = sa.member_number and m.state = 1 and m.`status` = 0
        join department d on d.depart_number = m.depart_number
        <where>
            <if test="logisticStatus != null and logisticStatus != ''"> and logistic_status = #{logisticStatus} </if>
            <if test="saleNumber !=null and saleNumber != ''">and sa.sale_number like concat('%', #{saleNumber},'%')</if>
            <if test="name != null and name != ''"> and m.`name` like concat('%', #{name},'%') </if>
            <if test="phone1 != null and phone1 != ''"> and m.phone_1 = #{phone1} </if>
            <if test="departNumber !=null and departNumber != ''">and m.depart_number = #{departNumber}</if>
            <if test="companyid !=null and companyid != ''">and d.company_id in (#{companyid})</if>
        </where>
    </select>

    <select id="getLogStatusBySaleNum" resultType="com.shiguang.logstatus.domain.LogStatusDO">
        select `id`,`sale_number`,`logistic_status` from log_status where sale_number = #{value}
    </select>

</mapper>