<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.line.dao.OptometryLineDao">

    <select id="get" resultType="com.shiguang.line.domain.YgLineDO">
		select `id`,`sex`,`company_id`,`member_name`,`call_status`,`consult_room`,`line_time` from ygline where id = #{value}
	</select>

    <select id="list" resultType="com.shiguang.line.domain.YgLineDO">
        select `id`,`sex`,`company_id`,`member_name`,`call_status`,`consult_room`,`line_time` from ygline
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="sex != null and sex != ''"> and sex = #{sex} </if>
            <if test="memberNumber != null and memberNumber != ''"> and member_number = #{memberNumber} </if>
            <if test="companyId != null and companyId != ''"> and company_id = #{companyId} </if>
            <if test="memberName != null and memberName != ''"> and member_name = #{memberName} </if>
            <!--<if test="consultRoom != null and consultRoom != ''">and consult_room = #{consultRoom}</if>-->
            <!--and call_status in ('1','2','3') or call_status = '0'-->
            <choose>
                <when test="consultRoom != null and consultRoom != ''">
                    and (consult_room = #{consultRoom} and call_status in ('1','2','3') or call_status = '0')
                </when>
                <otherwise>
                    and (call_status in ('1','2','3') or call_status = '0')
                </otherwise>
            </choose>
            <if test="lineTime != null and lineTime != ''"> and date_format(line_time ,'%Y-%m-%d') = #{lineTime} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by line_time ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from ygline
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="memberNumber != null and memberNumber != ''"> and member_number = #{memberNumber} </if>
            <if test="companyId != null and companyId != ''"> and company_id = #{companyId} </if>
            <if test="sex != null and sex != ''"> and sex = #{sex} </if>
            <if test="memberName != null and memberName != ''"> and member_name = #{memberName} </if>
            <if test="callStatus != null and callStatus != ''"> and call_status = #{callStatus} </if>
            <choose>
                <when test="consultRoom != null and consultRoom != ''">
                    and (consult_room = #{consultRoom} and call_status in ('1','2','3') or call_status = '0')
                </when>
                <otherwise>
                   and (call_status in ('1','2','3') or call_status = '0')
                </otherwise>
            </choose>

            <!--<if test="consultRoom != null and consultRoom != ''">and (consult_room = #{consultRoom} and call_status in ('1','2','3'))</if>-->
             <!--or call_status = '0'-->
            <if test="lineTime != null and lineTime != ''"> and date_format(line_time ,'%Y-%m-%d') = #{lineTime} </if>
        </where>
    </select>

    <select id="lineList" resultType="com.shiguang.line.domain.YgLineDO">
        select `id`,`sex`,`company_id`,`member_name`,`call_status`,`consult_room`,`line_time` from ygline
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="sex != null and sex != ''"> and sex = #{sex} </if>
            <if test="memberNumber != null and memberNumber != ''"> and member_number = #{memberNumber} </if>
            <if test="companyId != null and companyId != ''"> and company_id = #{companyId} </if>
            <if test="memberName != null and memberName != ''"> and member_name = #{memberName} </if>
            <!--<if test="consultRoom != null and consultRoom != ''">and consult_room = #{consultRoom}</if>-->
            <if test="lineTime != null and lineTime != ''"> and date_format(line_time ,'%Y-%m-%d') = #{lineTime} </if>
            and (consult_room is not null or consult_room !='') and call_status != '4'
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by line_time ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="linesList" resultType="com.shiguang.line.domain.YgLineDO">
        select `id`,`sex`,`company_id`,`member_name`,`call_status`,`consult_room`,`line_time` from ygline
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="sex != null and sex != ''"> and sex = #{sex} </if>
            <if test="memberNumber != null and memberNumber != ''"> and member_number = #{memberNumber} </if>
            <if test="companyId != null and companyId != ''"> and company_id = #{companyId} </if>
            <if test="memberName != null and memberName != ''"> and member_name = #{memberName} </if>
            <!--<if test="consultRoom != null and consultRoom != ''">and consult_room = #{consultRoom}</if>-->
            <if test="lineTime != null and lineTime != ''"> and date_format(line_time ,'%Y-%m-%d') = #{lineTime} </if>
            and (consult_room is null or consult_room ='') and call_status != '4'
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by line_time ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="linememberList" resultType="com.shiguang.line.domain.YgLineMemberDO">
        select `id`,`sex`,`member_name`,`consult_room`,`line_time` from ygline_member
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="sex != null and sex != ''"> and sex = #{sex} </if>
            <if test="memberNumber != null and memberNumber != ''"> and member_number = #{memberNumber} </if>
            <if test="memberName != null and memberName != ''"> and member_name = #{memberName} </if>
            <!--<if test="consultRoom != null and consultRoom != ''">and consult_room = #{consultRoom}</if>-->
            <if test="lineTime != null and lineTime != ''"> and date_format(line_time ,'%Y-%m-%d') = #{lineTime} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by line_time ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <update id="update" parameterType="com.shiguang.line.domain.YgLineDO">
        update ygline
        <set>
            <if test="sex != null">`sex` = #{sex}, </if>
            <if test="memberName != null">`member_name` = #{memberName}, </if>
            <if test="callStatus != null">`call_status` = #{callStatus}, </if>
            <if test="consultRoom != null">`consult_room` = #{consultRoom}, </if>
            <if test="lineTime != null">`line_time` = #{lineTime}</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateStatus" parameterType="com.shiguang.line.domain.YgLineDO">
        update ygline
        <set>
            <if test="callStatus != null">`call_status` = #{callStatus} </if>
        </set>
        where member_number = #{memberNumber} and date_format(line_time ,'%Y-%m-%d') = #{lineDate}
    </update>

    <select id="listMember" resultType="com.shiguang.line.domain.YgLineMemberDO">
        select `id`,`member_name`,`sex`,`consult_room`,`line_time` from ygline_member
        <where>
            <if test="lineTime != null and lineTime != ''"> and date_format(line_time ,'%Y-%m-%d') = #{lineTime} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <insert id="saveLineMember" parameterType="com.shiguang.line.domain.YgLineMemberDO" useGeneratedKeys="true" keyProperty="id">
		insert into ygline_member
		(
		    `member_name`,
		    `sex`,
		    `consult_room`,
		    `line_time`
		)
		values
		(
			#{memberName},
			#{sex},
			#{consultRoom},
			#{lineTime}
		)
	</insert>
    <delete id="removeMember">
		delete from ygline_member where id = #{value}
	</delete>
    <delete id="remove">
        delete from ygline where id = #{value}
    </delete>



    <select id="getJinan" resultType="com.shiguang.line.domain.YgLineJinanDO">
		select `id`,`sex`,`company_id`,`member_name`,`call_status`,`consult_room`,`line_time` from ygline_jinan where id = #{value}
	</select>

    <select id="listJinan" resultType="com.shiguang.line.domain.YgLineJinanDO">
        select `id`,`sex`,`company_id`,`member_name`,`call_status`,`consult_room`,`line_time` from ygline_jinan
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="sex != null and sex != ''"> and sex = #{sex} </if>
            <if test="memberNumber != null and memberNumber != ''"> and member_number = #{memberNumber} </if>
            <if test="companyId != null and companyId != ''"> and company_id = #{companyId} </if>
            <if test="memberName != null and memberName != ''"> and member_name = #{memberName} </if>
            <!--<if test="consultRoom != null and consultRoom != ''">and consult_room = #{consultRoom}</if>-->
            <!--and call_status in ('1','2','3') or call_status = '0'-->
            <choose>
                <when test="consultRoom != null and consultRoom != ''">
                    and (consult_room = #{consultRoom} or consult_room is NULL)
                    and ( call_status in ('1','2','3') or call_status = '0')
                </when>
                <otherwise>
                    and (call_status in ('1','2','3') or call_status = '0')
                </otherwise>
            </choose>
            <if test="lineTime != null and lineTime != ''"> and date_format(line_time ,'%Y-%m-%d') = #{lineTime} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by line_time ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="countJinan" resultType="int">
        select count(*) from ygline_jinan
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="memberNumber != null and memberNumber != ''"> and member_number = #{memberNumber} </if>
            <if test="companyId != null and companyId != ''"> and company_id = #{companyId} </if>
            <if test="sex != null and sex != ''"> and sex = #{sex} </if>
            <if test="memberName != null and memberName != ''"> and member_name = #{memberName} </if>
            <if test="callStatus != null and callStatus != ''"> and call_status = #{callStatus} </if>
            <choose>
                <when test="consultRoom != null and consultRoom != ''">
                    and (consult_room = #{consultRoom} and call_status in ('1','2','3') or call_status = '0')
                </when>
                <otherwise>
                    and (call_status in ('1','2','3') or call_status = '0')
                </otherwise>
            </choose>

            <!--<if test="consultRoom != null and consultRoom != ''">and (consult_room = #{consultRoom} and call_status in ('1','2','3'))</if>-->
            <!--or call_status = '0'-->
            <if test="lineTime != null and lineTime != ''"> and date_format(line_time ,'%Y-%m-%d') = #{lineTime} </if>
        </where>
    </select>

    <select id="lineJinanList" resultType="com.shiguang.line.domain.YgLineJinanDO">
        select `id`,`sex`,`company_id`,`member_name`,`call_status`,`consult_room`,`line_time` from ygline_jinan
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="sex != null and sex != ''"> and sex = #{sex} </if>
            <if test="memberNumber != null and memberNumber != ''"> and member_number = #{memberNumber} </if>
            <if test="companyId != null and companyId != ''"> and company_id = #{companyId} </if>
            <if test="memberName != null and memberName != ''"> and member_name = #{memberName} </if>
            <!--<if test="consultRoom != null and consultRoom != ''">and consult_room = #{consultRoom}</if>-->
            <if test="lineTime != null and lineTime != ''"> and date_format(line_time ,'%Y-%m-%d') = #{lineTime} </if>
            and (consult_room is not null or consult_room !='') and call_status != '4'
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by line_time ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="linesJinanList" resultType="com.shiguang.line.domain.YgLineJinanDO">
        select `id`,`sex`,`company_id`,`member_name`,`call_status`,`consult_room`,`line_time` from ygline_jinan
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="sex != null and sex != ''"> and sex = #{sex} </if>
            <if test="memberNumber != null and memberNumber != ''"> and member_number = #{memberNumber} </if>
            <if test="companyId != null and companyId != ''"> and company_id = #{companyId} </if>
            <if test="memberName != null and memberName != ''"> and member_name = #{memberName} </if>
            <!--<if test="consultRoom != null and consultRoom != ''">and consult_room = #{consultRoom}</if>-->
            <if test="lineTime != null and lineTime != ''"> and date_format(line_time ,'%Y-%m-%d') = #{lineTime} </if>
            and (consult_room is null or consult_room ='') and call_status != '4'
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by line_time ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="linememberJinanList" resultType="com.shiguang.line.domain.YgLineMemberJinanDO">
        select `id`,`sex`,`member_name`,`consult_room`,`line_time` from ygline_member_jinan
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="sex != null and sex != ''"> and sex = #{sex} </if>
            <if test="memberNumber != null and memberNumber != ''"> and member_number = #{memberNumber} </if>
            <if test="memberName != null and memberName != ''"> and member_name = #{memberName} </if>
            <!--<if test="consultRoom != null and consultRoom != ''">and consult_room = #{consultRoom}</if>-->
            <if test="lineTime != null and lineTime != ''"> and date_format(line_time ,'%Y-%m-%d') = #{lineTime} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by line_time ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <update id="updateJinan" parameterType="com.shiguang.line.domain.YgLineJinanDO">
        update ygline_jinan
        <set>
            <if test="sex != null">`sex` = #{sex}, </if>
            <if test="memberName != null">`member_name` = #{memberName}, </if>
            <if test="callStatus != null">`call_status` = #{callStatus}, </if>
            <if test="consultRoom != null">`consult_room` = #{consultRoom}, </if>
            <if test="lineTime != null">`line_time` = #{lineTime}</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateJinanStatus" parameterType="com.shiguang.line.domain.YgLineJinanDO">
        update ygline_jinan
        <set>
            <if test="callStatus != null">`call_status` = #{callStatus} </if>
        </set>
        where member_number = #{memberNumber} and date_format(line_time ,'%Y-%m-%d') = #{lineDate}
    </update>

    <select id="listMemberJinan" resultType="com.shiguang.line.domain.YgLineMemberJinanDO">
        select `id`,`member_number`,`member_name`,`sex`,`consult_room`,`line_time` from ygline_member_jinan
        <where>
            <if test="lineTime != null and lineTime != ''"> and date_format(line_time ,'%Y-%m-%d') = #{lineTime} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <insert id="saveYgLineJinan" parameterType="com.shiguang.line.domain.YgLineJinanDO" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into ygline_jinan
		(
		`company_id`,`member_number`,`call_status`,`member_name`,`sex`,`consult_room`,`line_time`
		)
		values
		(
		#{companyId},#{memberNumber},#{callStatus},#{memberName},#{sex},#{consultRoom},#{lineTime}
		)
	</insert>

    <insert id="saveLineMemberJinan" parameterType="com.shiguang.line.domain.YgLineMemberJinanDO" useGeneratedKeys="true" keyProperty="id">
		insert into ygline_member_jinan
		(
		    `member_number`,
		    `member_name`,
		    `sex`,
		    `consult_room`,
		    `line_time`
		)
		values
		(
		    #{memberNumber},
			#{memberName},
			#{sex},
			#{consultRoom},
			#{lineTime}
		)
	</insert>
    <select id="getMemberNumber" resultType="com.shiguang.line.domain.YgLineMemberJinanDO">
        select member_number,member_name,sex,consult_room,line_time  from ygline_member_jinan
        <where>
            <if test="memberNumber != null and memberNumber != ''">and member_number = #{memberNumber}</if>
            <if test="lineTime != null and lineTime != ''"> and date_format(line_time ,'%Y-%m-%d') = #{lineTime} </if>
        </where>
    </select>
    <delete id="removeMemberjinan">
		delete from ygline_member_jinan where member_number = #{value}
	</delete>
    <delete id="removejinan">
        delete from ygline_jinan where id = #{value}
    </delete>




    <select id="listold" resultType="com.shiguang.line.domain.YgLineoldDO">
        select `id`,`sex`,`member_name`,`call_status`,`consult_room`,`line_time` from yglineold
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="sex != null and sex != ''"> and sex = #{sex} </if>
            <if test="memberNumber != null and memberNumber != ''"> and member_number = #{memberNumber} </if>
            <if test="memberName != null and memberName != ''"> and member_name = #{memberName} </if>
            <!--<if test="consultRoom != null and consultRoom != ''">and consult_room = #{consultRoom}</if>-->
            <!--and call_status in ('1','2','3') or call_status = '0'-->
            <choose>
                <when test="consultRoom != null and consultRoom != ''">
                    and (consult_room = #{consultRoom} and call_status in ('1','2','3') or call_status = '0')
                </when>
                <otherwise>
                    and (call_status in ('1','2','3') or call_status = '0')
                </otherwise>
            </choose>
            <if test="lineTime != null and lineTime != ''"> and date_format(line_time ,'%Y-%m-%d') = #{lineTime} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by line_time ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="countold" resultType="int">
        select count(*) from yglineold
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="memberNumber != null and memberNumber != ''"> and member_number = #{memberNumber} </if>
            <if test="sex != null and sex != ''"> and sex = #{sex} </if>
            <if test="memberName != null and memberName != ''"> and member_name = #{memberName} </if>
            <if test="callStatus != null and callStatus != ''"> and call_status = #{callStatus} </if>
            <choose>
                <when test="consultRoom != null and consultRoom != ''">
                    and (consult_room = #{consultRoom} and call_status in ('1','2','3') or call_status = '0')
                </when>
                <otherwise>
                    and (call_status in ('1','2','3') or call_status = '0')
                </otherwise>
            </choose>

            <!--<if test="consultRoom != null and consultRoom != ''">and (consult_room = #{consultRoom} and call_status in ('1','2','3'))</if>-->
            <!--or call_status = '0'-->
            <if test="lineTime != null and lineTime != ''"> and date_format(line_time ,'%Y-%m-%d') = #{lineTime} </if>
        </where>
    </select>
    <update id="updateold" parameterType="com.shiguang.line.domain.YgLineoldDO">
        update yglineold
        <set>
            <if test="sex != null">`sex` = #{sex}, </if>
            <if test="memberName != null">`member_name` = #{memberName}, </if>
            <if test="callStatus != null">`call_status` = #{callStatus}, </if>
            <if test="consultRoom != null">`consult_room` = #{consultRoom}, </if>
            <if test="lineTime != null">`line_time` = #{lineTime}</if>
        </set>
        where id = #{id}
    </update>


    <select id="getold" resultType="com.shiguang.line.domain.YgLineoldDO">
		select `id`,`sex`,`member_name`,`call_status`,`consult_room`,`line_time` from yglineold where id = #{value}
	</select>


    <select id="linesListold" resultType="com.shiguang.line.domain.YgLineoldDO">
        select `id`,`sex`,`member_name`,`call_status`,`consult_room`,`line_time` from yglineold
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="sex != null and sex != ''"> and sex = #{sex} </if>
            <if test="memberNumber != null and memberNumber != ''"> and member_number = #{memberNumber} </if>
            <if test="memberName != null and memberName != ''"> and member_name = #{memberName} </if>
            <!--<if test="consultRoom != null and consultRoom != ''">and consult_room = #{consultRoom}</if>-->
            <if test="lineTime != null and lineTime != ''"> and date_format(line_time ,'%Y-%m-%d') = #{lineTime} </if>
            and (consult_room is null or consult_room ='') and call_status != '4'
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by line_time ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>


    <select id="listMemberold" resultType="com.shiguang.line.domain.YgLineMemberoldDO">
        select `id`,`member_name`,`sex`,`consult_room`,`line_time` from ygline_memberold
        <where>
            <if test="lineTime != null and lineTime != ''"> and date_format(line_time ,'%Y-%m-%d') = #{lineTime} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="lineListold" resultType="com.shiguang.line.domain.YgLineoldDO">
        select `id`,`sex`,`member_name`,`call_status`,`consult_room`,`line_time` from yglineold
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="sex != null and sex != ''"> and sex = #{sex} </if>
            <if test="memberNumber != null and memberNumber != ''"> and member_number = #{memberNumber} </if>
            <if test="memberName != null and memberName != ''"> and member_name = #{memberName} </if>
            <!--<if test="consultRoom != null and consultRoom != ''">and consult_room = #{consultRoom}</if>-->
            <if test="lineTime != null and lineTime != ''"> and date_format(line_time ,'%Y-%m-%d') = #{lineTime} </if>
            and (consult_room is not null or consult_room !='') and call_status != '4'
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by line_time ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <delete id="removeold">
        delete from yglineold where id = #{value}
    </delete>
    <insert id="saveLineMemberold" parameterType="com.shiguang.line.domain.YgLineMemberoldDO" useGeneratedKeys="true" keyProperty="id">
		insert into ygline_memberold
		(
		    `member_name`,
		    `sex`,
		    `consult_room`,
		    `line_time`
		)
		values
		(
			#{memberName},
			#{sex},
			#{consultRoom},
			#{lineTime}
		)
	</insert>
</mapper>