<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>是否检验合格?</title>
	<link rel="stylesheet" href="/css/css.css" type="text/css">
</head>
<body>
	<!--保存-->
<form class="form-horizontal m-t" id="signupForm" style="margin-top: 20px;text-align: center;">
	<input id="saleNumber" name="saleNumber" type="hidden" th:value="${saleNumber}">
	<table id="inputid">是否检验合格?</table>
	<input type="radio" value="1" name="initial">合格
	<input type="radio" value="2" name="initial">不合格
	<!--<div class="form-group">-->
		<!--<div class="col-sm-8 col-sm-offset-3">-->
			<!--<button style="font-size: 20px;margin-top:35px;background-color: #358afd;width: 10%;color:white;" type="button" onclick="sure()">确定</button>-->
		<!--</div>-->
	<!--</div>-->
	<!--<button type="submit" >发料</button>-->
</form>
<div th:include="include::footer"></div>
<script type="text/javascript">
	function sure(){
	    var flag = $("input[name='initial']:checked").val();
	    //var saleAccount = $("#saleAccount").val();
	    return flag;
	}
</script>
</body>
</html>
