<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<!--<button shiro:hasPermission="information:status:add" type="button" class="btn  btn-primary" onclick="add()">-->
								<!--<i class="fa fa-plus" aria-hidden="true"></i>添加-->
							<!--</button>-->
							<!--<button shiro:hasPermission="information:status:batchRemove" type="button" class="btn  btn-danger"-->
								<!--onclick="batchRemove()">-->
								<!--<i class="fa fa-trash" aria-hidden="true"></i>删除-->
							<!--</button>-->
							<button shiro:hasPermission="information:peijing:out" type="button" class="btn  btn-default" onclick="outtemplate()">
								配镜单信息导出
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="saleNumber" type="text" class="form-control"
								placeholder="配镜单号">
						</div>
						<div class="columns pull-right nopadding">
							<input id="name" type="text" class="form-control"
								   placeholder="会员姓名">
						</div>
						<div class="columns pull-right nopadding">
							<input id="phone1" type="text" class="form-control"
								   placeholder="联系电话">
						</div>
						<div class="columns pull-right nopadding">
							<input id="peijingDateStart" type="text"
								   placeholder="开始日期">～
							<input id="peijingDateEnd" type="text"
								   placeholder="结束日期">
						</div>
						<div class="columns pull-right nopadding">
							<input id="mfrsName" type="text"
								   placeholder="请选择品牌">
							<input id="mfrsNum" type="hidden">
							<input type="button" onclick="getMfrsName()" value="按供应商查询" style="background-color: #1c84c6;color: white"></input>
						</div>
						<div class="columns pull-right nopadding">
							<input id="brandName" type="text"
								   placeholder="请选择品牌">
							<input type="button" onclick="getBrandName()" value="按品牌查询" style="background-color: #1c84c6;color: white"></input>
						</div>
						<div class="columns pull-right nopadding">
							<select name="storeDescribe" id="storeDescribe" class="form-control" data-actions-box="false"
									data-size="5">
								<option value=""></option>
								<option value="镜架">镜架</option>
								<option value="配件">配件</option>
								<option value="镜片">镜片</option>
								<option value="隐形">隐形</option>
								<option value="护理液">护理液</option>
								<option value="太阳镜">太阳镜</option>
								<option value="老花镜">老花镜</option>
								<option value="耗材">耗材</option>
								<option value="视光">视光</option>
							</select>
						</div>
						<div class="columns pull-right nopadding">
							<input id="factory" type="text" class="form-control"
								   placeholder="型号">
						</div>
						<div class="columns pull-right nopadding">
							<input id="color" type="text" class="form-control"
								   placeholder="色号">
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="information:logstatus:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="information:logstatus:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="information:logstatus:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/logstatus/peijing.js"></script>
<script type="text/javascript">
    laydate.render({
        elem: '#peijingDateStart',
        format: 'yyyy-MM-dd',
        type: 'date'
    });
    laydate.render({
        elem: '#peijingDateEnd',
        format: 'yyyy-MM-dd',
        type: 'date'
    });

    function getMfrsName () {
        var toIndex = layer.open({
            type : 2,
            title : '镜架',
            maxmin : true,
            shadeClose : false, // 点击遮罩关闭层
            area : [ '800px', '520px' ],
            content : "/information/peijing/mfrs/",// iframe的url
            cancel: function(index, layero){
                var rows = $(layero).find("iframe")[0].contentWindow.batchSelect();
                //alert(JSON.stringify(rows));
                if (''!= rows){
                    $("#mfrsName").val(rows[0].mfrsname);
                    $("#mfrsNum").val(rows[0].mfrsnum);
                }

            }
        });
        layer.full(toIndex)
    }

    function getBrandName () {
        var toIndex = layer.open({
            type : 2,
            title : '镜架',
            maxmin : true,
            shadeClose : false, // 点击遮罩关闭层
            area : [ '800px', '520px' ],
            content : "/information/highmember/brand/",// iframe的url
            cancel: function(index, layero){
                var rows = $(layero).find("iframe")[0].contentWindow.batchSelect();
                //alert(JSON.stringify(rows));
                if (''!= rows){
                    $("#brandName").val(rows[0].brandname);
                }

            }
        });
        layer.full(toIndex)
    }
</script>
</body>
</html>