<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>配镜单打印</title>
	<link rel="stylesheet" href="/css/css.css" type="text/css">
</head>
<body>
<div class="Print">
	<h3>配镜单</h3>
	<ul class="ul3">
		<input id="cost" th:value="${settlementDO.additionalCost}" type="hidden">
		<input id="storeName" th:value="${settlementDO.storeName}" type="hidden">
		<input id="goodsNum" th:value="${settlementDO.goodsNum}" type="hidden">
		<input id="leftRight" th:value="${settlementDO.leftRight}" type="hidden">
		<input id="goodsDescribe" th:value="${settlementDO.storeDescribe}" type="hidden">
		<input id="unit" th:value="${settlementDO.unit}" type="hidden">
		<input id="storeUnit" th:value="${settlementDO.storeUnit}" type="hidden">
		<input id="storeCount" th:value="${settlementDO.storeCount}" type="hidden">
		<li>配镜单号：<span th:text="${settlementDO.saleNumber}"></span></li>
		<li>验配中心：<span th:text="${settlementDO.mirorAddress}"></span></li>
		<li>配镜日期：<span th:text="${settlementDO.peijingDate}"></span></li>
	</ul>
	<ul class="ul5">
		<li>会员卡号：<span th:text="${settlementDO.memberNumber}"></span></li>
		<li>姓名：<span th:text="${settlementDO.memberName}"></span></li>
		<li>性别：<span th:text="${settlementDO.sexx}"></span></li>
		<li>年龄：<span th:text="${settlementDO.age}"></span></li>
		<li>联系电话：<span th:text="${settlementDO.phone1}"></span></li>
	</ul>
	<table class="Htab1" cellspacing="0" cellpadding="0">
		<tr class="thead">
			<td></td>
			<td>球镜</td>
			<td>柱镜</td>
			<td>轴向</td>
			<td>矫视</td>
			<td>瞳距</td>
			<td>瞳高</td>
			<td>ADD</td>
			<td>棱镜</td>
			<td>基地</td>
			<td>处方类型</td>
		</tr>
		<tr>
			<td>R</td>
			<td><span th:text="${conclusion.rightsph}"></span></td>
			<td><span th:text="${conclusion.rightcyl}"></span></td>
			<td><span th:text="${conclusion.rightzx}"></span></td>
			<td><span th:text="${conclusion.rightsph}"></span></td>
			<td><span th:text="${conclusion.rightyytj}"></span></td>
			<td><span th:text="${conclusion.righttg}"></span></td>
			<td><span th:text="${conclusion.rightsph}"></span></td>
			<td><span th:text="${conclusion.rightprism}"></span></td>
			<td><span th:text="${conclusion.rightjd}"></span></td>
			<td><span th:text="${settlementDO.recipelType}"></span></td>
		</tr>
		<tr>
			<td>L</td>
			<td><span th:text="${conclusion.leftsph}"></span></td>
			<td><span th:text="${conclusion.leftcyl}"></span></td>
			<td><span th:text="${conclusion.leftzx}"></span></td>
			<td><span th:text="${conclusion.leftsph}"></span></td>
			<td><span th:text="${conclusion.leftyytj}"></span></td>
			<td><span th:text="${conclusion.lefttg}"></span></td>
			<td><span th:text="${conclusion.leftsph}"></span></td>
			<td><span th:text="${conclusion.leftprism}"></span></td>
			<td><span th:text="${conclusion.leftjd}"></span></td>
			<td></td>
		</tr>
	</table>
	<table class="Htab2" cellpadding="0" cellspacing="0">
		<tr class="thead" id="tbodys">
			<td>商品名称</td>
			<!--<td>规格</td>-->
			<td>单位</td>
			<td>数量</td>
			<td>原价金额</td>
		</tr>
		<tr>
			<td id="goodsName"></td>
			<td><span id="unitName"></span></td>
			<td><span id="count"></span></td>
			<td><span id="price"></span></td>
		</tr>
		<!--<tr>-->
			<!--<td>THEREFOPO蒸汽热敷眼罩（10片/盒） </td>-->
			<!--<td>100</td>-->
			<!--<td>盒</td>-->
			<!--<td>2</td>-->
			<!--<td>598.00</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td>R—蔡司.5睐光D（标准通道/短通道）钻立方铂金膜渐进定制镜片</td>-->
			<!--<td>100</td>-->
			<!--<td>片</td>-->
			<!--<td>2</td>-->
			<!--<td>598.00</td>-->
		<!--</tr>-->
	</table>
	<table class="Htab3" cellpadding="0" cellspacing="0">
		<tr class="tr1" id="fujia">
			<td></td>
			<td>数量</td>
			<td>单价</td>
			<td rowspan="4" class="td1">
				<!--<p>原价合计：<b><span th:text="${settlementDO.optometryName}"></span></b> &nbsp;&nbsp; 折扣金额：<b>408.00</b></p>-->
				<p>原价合计：<b><span th:text="${settlementDO.amountMoney}"></span></b> &nbsp;&nbsp; </p>
				<p>付款方式：<b><span th:text="${payModels}"></span></b></p>
				<p>套餐：<span th:text="${settlementDO.taocanName}"></span></p>
				<p>实收合计：<b><span th:text="${settlementDO.amountMoney}"></span></b> </p>
			</td>
		</tr>
		<tr>
			<td>附加费用：<span th:text="${additionalCostList}"></span></td>
			<td><span th:text="${countSum}"></span></td>
			<td><span th:text="${priceSum}"></span></td>
		</tr>
		<tr>
			<td>加工要求：<span th:text="${processList}"></span></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>销售备注：<span th:text="${settlementDO.saleremark}"></span></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="tr_last">
			<td>视光师：<span th:text="${settlementDO.optometryName}"></span></td>
			<td>验光师：<span th:text="${settlementDO.optometryName}"></span></td>
			<td colspan="2">收银员：<span th:text="${settlementDO.saleName}"></span></td>
		</tr>
		<tr>
			<td>取镜地点：<span th:text="${departmentDO.departAddress}"></span></td>
			<td>门店电话：<span th:text="${departmentDO.departTel}"></span></td>
			<td colspan="2">邮寄地址：<span th:text="${address}"></span></td>
		</tr>
	</table>
	<form class="form-horizontal m-t" id="signupForm">
		<input id="saleNumber" name="saleNumber" type="hidden" th:value="${settlementDO.saleNumber}">
		<table id="inputid"></table>
		<div class="form-group">
			<div class="col-sm-8 col-sm-offset-3">
				<button style="font-size: 20px;margin-left: 45%;margin-top:20px;background-color: #358afd;width: 10%;color:white;" type="submit" >发料</button>
			</div>
		</div>
		<!--<button type="submit" >发料</button>-->
	</form>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/logstatus/peijingdan.js"></script>
<script type="text/javascript">
    $().ready(function(){
        var cost = $("#cost").val();
        var storeName = $("#storeName").val();
        var unit = $("#unit").val();
        var storeUnit = $("#storeUnit").val();
        var storeCount = $("#storeCount").val();
        var storeNamestr = storeName.replace(/,/g,'<br>');
        var unitstr = unit.replace(/,/g,'<br/>');
        var storeUnitstr = storeUnit.replace(/,/g,'<br>');
        var storeCountstr = storeCount.replace(/,/g,'<br>');
        // var costStr = cost.replace(/,/g,'<br>');
        //$("#goodsName").append(costStr);
        $("#goodsName").append(storeNamestr);
        $("#unitName").append(unitstr);
        $("#count").append(storeCountstr);
        $("#price").append(storeUnitstr);
        var goodsNumArray = $("#goodsNum").val();
        var goodsDescribe = $("#goodsDescribe").val();
        var leftRights = $("#leftRight").val();
        leftRights = leftRights.split(",");
        goodsNumArray = goodsNumArray.split(",");
        goodsDescribe = goodsDescribe.split(",");
        var html = "";
        // alert(goodsNumArray.length)
		var a=0;
        for (var i=0;i<goodsNumArray.length;i++){
            if (goodsDescribe[i] == "镜片"){
                if (leftRights[a] == "右"){
                    html += "镜片右条码：<input name='goodsNum' type='text'>";
				}
                if (leftRights[a] == "左"){
                    html += "镜片左条码：<input name='goodsNum' type='text'>";
				}
                a= a+1;
			}

		}
        $("#inputid").append(html);
    });
</script>
<script th:inline="javascript">
	var jaigongList = [[${processList}]];
	//ar html="";
    //var str2  = str1.replace(/,/g,'<br/>');//替换所有的换行符
	for (var i=0;i<jaigongList.length;i++){

        // html = "<tr><td>"+jaigongList[i].name()+"</td><td></td><td></td></tr>";
        // html += "<tr><td>加工要求："+jaigongList[i]+"</td><td></td><td></td></tr>";
        //$("#fujia").append(html);
	}
</script>
</body>
</html>
