<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<!--<div class="columns pull-left">-->
							<!--<button shiro:hasPermission="information:status:add" type="button" class="btn  btn-primary" onclick="add()">-->
								<!--<i class="fa fa-plus" aria-hidden="true"></i>添加-->
							<!--</button>-->
							<!--<button shiro:hasPermission="information:status:batchRemove" type="button" class="btn  btn-danger"-->
								<!--onclick="batchRemove()">-->
								<!--<i class="fa fa-trash" aria-hidden="true"></i>删除-->
							<!--</button>-->
						<!--</div>-->
						<!--<div class="columns pull-right">-->
							<!--<button class="btn btn-success" onclick="findSaleNumber()">查询</button>-->
						<!--</div>-->
						<div class="columns pull-left  nopadding">
							配镜单号：
							<input id="saleNumber" type="text"
								placeholder="配镜单号">
							<button onclick="findSaleNumber()">查询</button>
						</div>
						<div class="columns pull-left  nopadding">
							原在途状态：
							<input id="saleStatus" type="text" disabled >
						</div>
						<div class="columns pull-left  nopadding">
							在途状态修改为：
							<select id="logstatus" style="width: 200px" name="logstatus" >
								<option value="">请选择</option>
								<option value="顾客取镜">顾客取镜</option>
							</select>
						</div>
						<div class="columns pull-left  nopadding">
							<button onclick="saveStatus()">保存</button>
						</div>

					</div>
					<!--<table id="exampleTable" data-mobile-responsive="true">-->
					<!--</table>-->
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="information:logstatus:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="information:logstatus:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="information:logstatus:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/logstatus/transit.js"></script>
<script type="text/javascript">

    document.onkeydown = function(e){
        if((e||event).keyCode==13)
            findSaleNumber();
    };

	function findSaleNumber(){
	    var saleNumber = $("#saleNumber").val();
        $.ajax({
            url: "/information/transit/findSale",
            type: "post",
            data: {
                'saleNumber': saleNumber
            },
            dataType: 'JSON',
            async: false,
            success: function (datajson) {
                $("#saleStatus").val(datajson.logisticStatus)
            }
        });
	}
	function saveStatus(){
        var saleNumber = $("#saleNumber").val();
        var logstatus = $("#logstatus").val();
        alert(logstatus);
        $.ajax({
            url: "/information/transit/updateStatus",
            type: "post",
            data: {
                'saleNumber': saleNumber,
				'logstatus': logstatus
            },
            dataType: 'JSON',
            async: false,
            success: function (datajson) {
                if (datajson.code == '200'){
                    layer.alert(datajson.message);
                    location.reload();
				}
            }
        });
	}

</script>
</body>
</html>