<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.product.dao.CylDao">

	<select id="get" resultType="com.shiguang.product.domain.CylDO">
		select `cyl_id`,`cyl` from a_cyl where cyl_id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.product.domain.CylDO">
		select `cyl_id`,`cyl` from a_cyl
        <where>  
		  		  <if test="cylId != null and cylId != ''"> and cyl_id = #{cylId} </if>
		  		  <if test="cyl != null and cyl != ''"> and cyl = #{cyl} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by cyl_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from a_cyl
		 <where>  
		  		  <if test="cylId != null and cylId != ''"> and cyl_id = #{cylId} </if>
		  		  <if test="cyl != null and cyl != ''"> and cyl = #{cyl} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shiguang.product.domain.CylDO" useGeneratedKeys="true" keyProperty="cylId">
		insert into a_cyl
		(
			`cyl`
		)
		values
		(
			#{cyl}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.product.domain.CylDO">
		update a_cyl 
		<set>
			<if test="cyl != null">`cyl` = #{cyl}</if>
		</set>
		where cyl_id = #{cylId}
	</update>
	
	<delete id="remove">
		delete from a_cyl where cyl_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from a_cyl where cyl_id in 
		<foreach item="cylId" collection="array" open="(" separator="," close=")">
			#{cylId}
		</foreach>
	</delete>

</mapper>