<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.product.dao.HcDao">

    <select id="get" resultType="com.shiguang.product.domain.HcDO">
		select
		m.mfrsname,b.brandname,u.unitname, 
		h.`id`,h.`produc_num`,h.`produc_code`,h.`produc_name`,h.`mfrsid`,h.`brandid`,h.`brandnum`,h.`factory`,h.`produc_factory`,
		h.`proid`,h.`big`,h.`small`,h.`unitid`,h.`batchid`,h.`tax`,h.`tax_price`,h.`trade_price`,h.`transfer_price`,
		h.`retail_price`,h.`xsstate`,h.`state`,h.`smallstr`,h.`classtype`,h.`view_good_name`
		from aa_hc h left join c_mfrs m on h.mfrsid=m.mfrsnum left join c_brand b on h.brandnum=b.brandnum  and h.mfrsid=b.mfrsid left join
        c_unit u on h.unitid= u.unitid
         where h.id = #{value}
	</select>

    <select id="list" resultType="com.shiguang.product.domain.HcDO">
        select
        m.mfrsname,b.brandname,u.unitname,
        h.`id`,h.`produc_num`,h.`produc_code`,h.`produc_name`,h.`mfrsid`,h.`brandid`,h.`brandnum`,h.`factory`,h.`produc_factory`,
        h.`proid`,h.`big`,h.`small`,h.`unitid`,h.`batchid`,h.`tax`,h.`tax_price`,h.`trade_price`,h.`transfer_price`,
        h.`retail_price`,h.`xsstate`,h.`state`,h.`smallstr`,h.`classtype`,h.`view_good_name`
        from aa_hc h left join c_mfrs m on h.mfrsid=m.mfrsnum left join c_brand b on h.brandnum=b.brandnum AND h.`mfrsid`=b.`mfrsid`
        left join c_unit u on h.unitid= u.unitid
        <where>
            <if test="producNum != null and producNum != ''">and h.produc_num = #{producNum}</if>
            <if test="goodsCode != null and goodsCode != ''">and h.produc_code = #{goodsCode}</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
            <if test="producName != null and producName != ''">and h.produc_name LIKE concat(concat('%', #{producName}),'%')</if>
            <if test="retailPrice != null and retailPrice != ''">
                and   #{retailPrice} &lt;=  h.retail_price
            </if>
            <if test="retailPrice2 != null and retailPrice2 != ''">
                and h.retail_price &lt;=  #{retailPrice2}
            </if>
            <if test="taxPrice != null and taxPrice != ''">
                and   #{taxPrice} &lt;=  h.tax_price
            </if>
            <if test="taxPrice2 != null and taxPrice2 != ''">
                and h.retail_price &lt;=  #{taxPrice2}
            </if>
            <if test="big != null and big != ''">and h.big = #{big}</if>
            <if test="xsstate != null and xsstate != ''">and h.xsstate = #{xsstate}</if>
            <if test="viewGoodName != null and viewGoodName != ''">and h.view_good_name = #{viewGoodName}</if>

            <if test="num != null and num != ''">and h.produc_num LIKE concat(concat('%', #{num}),'%')</if>
            <if test="oldMoney != null and oldMoney != ''">and h.retail_price = #{oldMoney}</if>
            and  h.state= 1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
        </where>

        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by  h.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*)  from aa_hc h left join c_mfrs m on h.mfrsid=m.mfrsnum left join c_brand b on h.brandnum=b.brandnum AND h.`mfrsid`=b.`mfrsid`
        left join c_unit u on h.unitid= u.unitid
        <where>
            <if test="producNum != null and producNum != ''">and h.produc_num = #{producNum}</if>
            <if test="goodsCode != null and goodsCode != ''">and h.produc_code = #{goodsCode}</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
            <if test="producName != null and producName != ''">and h.produc_name LIKE concat(concat('%', #{producName}),'%')</if>
            <if test="retailPrice != null and retailPrice != ''">
                and   #{retailPrice} &lt;=  h.retail_price
            </if>
            <if test="retailPrice2 != null and retailPrice2 != ''">
                and h.retail_price &lt;=  #{retailPrice2}
            </if>
            <if test="taxPrice != null and taxPrice != ''">
                and   #{taxPrice} &lt;=  h.tax_price
            </if>
            <if test="taxPrice2 != null and taxPrice2 != ''">
                and h.retail_price &lt;=  #{taxPrice2}
            </if>
            <if test="big != null and big != ''">and h.big = #{big}</if>
            <if test="xsstate != null and xsstate != ''">and h.xsstate = #{xsstate}</if>
            <if test="viewGoodName != null and viewGoodName != ''">and h.view_good_name = #{viewGoodName}</if>

            <if test="num != null and num != ''">and h.produc_num LIKE concat(concat('%', #{num}),'%')</if>
            <if test="oldMoney != null and oldMoney != ''">and h.retail_price = #{oldMoney}</if>
            and  h.state= 1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.product.domain.HcDO" useGeneratedKeys="true" keyProperty="id">
		insert into aa_hc
		(
			`produc_num`, 
			`produc_code`, 
			`produc_name`, 
			`mfrsid`, 
			`brandid`, 
			`brandnum`,
			`factory`,
			`produc_factory`, 
			`proid`, 
			`big`, 
			`small`, 
			`smallstr`,
			`unitid`,
			`batchid`, 
			`tax`, 
			`tax_price`, 
			`trade_price`, 
			`transfer_price`, 
			 `retail_price`,
			`xsstate`,
			`state`,
			`classtype`,
			`view_good_name`
		)
		values
		(
			#{producNum}, 
			#{producCode}, 
			#{producName}, 
			#{mfrsid}, 
			#{brandid}, 
			#{brandnum},
			#{factory},
			#{producFactory}, 
			#{proid}, 
			#{big}, 
			#{small}, 
			#{smallstr},
			#{unitid},
			#{batchid}, 
			#{tax}, 
			#{taxPrice}, 
			#{tradePrice}, 
			#{transferPrice}, 
			#{retailPrice},
			#{xsstate},
			#{state},
			#{classtype},
			#{viewGoodName}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.product.domain.HcDO">
        update aa_hc
        <set>
            <if test="producNum != null">`produc_num` = #{producNum},</if>
            <if test="producCode != null">`produc_code` = #{producCode},</if>
            <if test="producName != null">`produc_name` = #{producName},</if>
            <if test="mfrsid != null">`mfrsid` = #{mfrsid},</if>
            <if test="brandid != null">`brandid` = #{brandid},</if>
            <if test="brandnum != null">`brandnum` = #{brandnum},</if>
            <if test="factory != null">`factory` = #{factory},</if>
            <if test="producFactory != null">`produc_factory` = #{producFactory},</if>
            <if test="proid != null">`proid` = #{proid},</if>
            <if test="big != null">`big` = #{big},</if>
            <if test="small != null">`small` = #{small},</if>
            <if test="smallstr != null">`smallstr` = #{smallstr},</if>
            <if test="unitid != null">`unitid` = #{unitid},</if>
            <if test="batchid != null">`batchid` = #{batchid},</if>
            <if test="tax != null">`tax` = #{tax},</if>
            <if test="taxPrice != null">`tax_price` = #{taxPrice},</if>
            <if test="tradePrice != null">`trade_price` = #{tradePrice},</if>
            <if test="transferPrice != null">`transfer_price` = #{transferPrice},</if>
            <if test="retailPrice != null">`retail_price` = #{retailPrice},</if>
            <if test="xsstate != null">`xsstate` = #{xsstate},</if>
            <if test="state != null">`state` = #{state},</if>
            <if test="classtype != null">`classtype` = #{classtype},</if>
            <if test="viewGoodName != null">`view_good_name` = #{viewGoodName}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from aa_hc where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from aa_hc where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!-- 根据商品代码查询商品信息 -->
    <select id="getHcInfomation" resultType="com.shiguang.product.domain.HcDO">
                select
        m.mfrsname,b.brandname,u.unitname,
        h.`id`,h.`produc_num`,h.`produc_code`,h.`produc_name`,h.`mfrsid`,h.`brandid`,h.`brandnum`,h.`factory`,h.`produc_factory`,
        h.`proid`,h.`big`,h.`small`,h.`unitid`,h.`batchid`,h.`tax`,h.`tax_price`,h.`trade_price`,h.`transfer_price`,
        h.`retail_price`,h.`xsstate`,h.`state`,h.`smallstr`,h.`classtype`,h.`view_good_name`
        from aa_hc h left join c_mfrs m on h.mfrsid=m.mfrsnum left join c_brand b on h.brandnum=b.brandnum AND h.`mfrsid`=b.`mfrsid`
        left join c_unit u on h.unitid= u.unitid
        where h.`produc_num` = #{value}
    </select>

    <!--删除状态修改-->
    <update id="updateState" parameterType="com.shiguang.product.domain.HcDO">
    update aa_hc set `state` = #{state} where id = #{id}
    </update>
    <!--是否存在商品代码-->
    <select id="haveNum" resultType="com.shiguang.product.domain.HcDO">
        select produc_num from aa_hc where produc_num=#{producNum} and state='1' order by id
	</select>
</mapper>