<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.product.dao.HcDao">

    <select id="get" resultType="com.shiguang.product.domain.HcDO">
		select
		m.mfrsname,b.brandname,u.unitname, 
		h.`id`,h.`produc_num`,h.`produc_code`,h.`produc_name`,h.`mfrsid`,h.`brandid`,h.`brandnum`,h.`factory`,h.`produc_factory`,
		h.`proid`,h.`big`,h.`small`,h.`unitid`,h.`batchid`,h.`tax`,h.`tax_price`,h.`trade_price`,h.`transfer_price`,
		h.`retail_price`,h.`status`,h.`state`,h.`smallstr`
		from aa_hc h left join c_mfrs m on h.mfrsid=m.mfrsid left join c_brand b on h.brandnum=b.brandnum left join
        c_unit u on h.unitid= u.unitid
         where id = #{value}
	</select>

    <select id="list" resultType="com.shiguang.product.domain.HcDO">
        select
        m.mfrsname,b.brandname,u.unitname,
        h.`id`,h.`produc_num`,h.`produc_code`,h.`produc_name`,h.`mfrsid`,h.`brandid`,h.`brandnum`,h.`factory`,h.`produc_factory`,
        h.`proid`,h.`big`,h.`small`,h.`unitid`,h.`batchid`,h.`tax`,h.`tax_price`,h.`trade_price`,h.`transfer_price`,
        h.`retail_price`,h.`status`,h.`state`,h.`smallstr`
        from aa_hc h left join c_mfrs m on h.mfrsid=m.mfrsid left join c_brand b on h.brandnum=b.brandnum left join
        c_unit u on h.unitid= u.unitid
        <where>
            <if test="producNum != null and producNum != ''">and h.produc_num = #{producNum}</if>
            <if test="producName != null and producName != ''">and h.produc_name = #{producName}</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
            <if test="retailPrice != null and retailPrice != ''">
                and h.retail_price between #{retailPrice,jdbcType=VARCHAR} and #{retailPrice2,jdbcType=VARCHAR}
            </if>
            <if test="taxPrice != null and taxPrice != ''">
                and h.tax_price between #{taxPrice,jdbcType=VARCHAR} and #{taxPrice2,jdbcType=VARCHAR}
            </if>
            <if test="big != null and big != ''">and h.big = #{big}</if>
            <if test="status != null and status != ''">and h.status = #{status}</if>
            and  h.state= 1
        </where>
        group by h.id order by h.status asc ,h.id asc
    </select>

    <select id="count" resultType="int">
        select count(*) from aa_hc
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="producNum != null and producNum != ''">and produc_num = #{producNum}</if>
            <if test="producCode != null and producCode != ''">and produc_code = #{producCode}</if>
            <if test="producName != null and producName != ''">and produc_name = #{producName}</if>
            <if test="mfrsid != null and mfrsid != ''">and mfrsid = #{mfrsid}</if>
            <if test="brandid != null and brandid != ''">and brandid = #{brandid}</if>
            <if test="brandnum != null and brandnum != ''">and brandnum = #{brandnum}</if>
            <if test="factory != null and factory != ''">and factory = #{factory}</if>
            <if test="producFactory != null and producFactory != ''">and produc_factory = #{producFactory}</if>
            <if test="proid != null and proid != ''">and proid = #{proid}</if>
            <if test="big != null and big != ''">and big = #{big}</if>
            <if test="small != null and small != ''">and small = #{small}</if>
            <if test="smallstr != null and smallstr != ''">and smallstr = #{smallstr}</if>
            <if test="unitid != null and unitid != ''">and unitid = #{unitid}</if>
            <if test="batchid != null and batchid != ''">and batchid = #{batchid}</if>
            <if test="tax != null and tax != ''">and tax = #{tax}</if>
            <if test="taxPrice != null and taxPrice != ''">and tax_price = #{taxPrice}</if>
            <if test="tradePrice != null and tradePrice != ''">and trade_price = #{tradePrice}</if>
            <if test="transferPrice != null and transferPrice != ''">and transfer_price = #{transferPrice}</if>
            <if test="retailPrice != null and retailPrice != ''">and retail_price = #{retailPrice}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="state != null and state != ''">and state = #{state}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.product.domain.HcDO" useGeneratedKeys="true" keyProperty="id">
		insert into aa_hc
		(
			`produc_num`, 
			`produc_code`, 
			`produc_name`, 
			`mfrsid`, 
			`brandid`, 
			`brandnum`,
			`factory`,
			`produc_factory`, 
			`proid`, 
			`big`, 
			`small`, 
			`smallstr`,
			`unitid`,
			`batchid`, 
			`tax`, 
			`tax_price`, 
			`trade_price`, 
			`transfer_price`, 
			 `retail_price`,
			`status`,
			`state`
		)
		values
		(
			#{producNum}, 
			#{producCode}, 
			#{producName}, 
			#{mfrsid}, 
			#{brandid}, 
			#{brandnum},
			#{factory},
			#{producFactory}, 
			#{proid}, 
			#{big}, 
			#{small}, 
			#{smallstr},
			#{unitid},
			#{batchid}, 
			#{tax}, 
			#{taxPrice}, 
			#{tradePrice}, 
			#{transferPrice}, 
			#{retailPrice},
			#{status},
			#{state}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.product.domain.HcDO">
        update aa_hc
        <set>
            <if test="producNum != null">`produc_num` = #{producNum},</if>
            <if test="producCode != null">`produc_code` = #{producCode},</if>
            <if test="producName != null">`produc_name` = #{producName},</if>
            <if test="mfrsid != null">`mfrsid` = #{mfrsid},</if>
            <if test="brandid != null">`brandid` = #{brandid},</if>
            <if test="brandnum != null">`brandnum` = #{brandnum},</if>
            <if test="factory != null">`factory` = #{factory},</if>
            <if test="producFactory != null">`produc_factory` = #{producFactory},</if>
            <if test="proid != null">`proid` = #{proid},</if>
            <if test="big != null">`big` = #{big},</if>
            <if test="small != null">`small` = #{small},</if>
            <if test="smallstr != null">`smallstr` = #{smallstr},</if>
            <if test="unitid != null">`unitid` = #{unitid},</if>
            <if test="batchid != null">`batchid` = #{batchid},</if>
            <if test="tax != null">`tax` = #{tax},</if>
            <if test="taxPrice != null">`tax_price` = #{taxPrice},</if>
            <if test="tradePrice != null">`trade_price` = #{tradePrice},</if>
            <if test="transferPrice != null">`transfer_price` = #{transferPrice},</if>
            <if test="retailPrice != null">`retail_price` = #{retailPrice},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="state != null">`state` = #{state}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from aa_hc where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from aa_hc where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--菜单联动显示-->
    <select id="choice" resultType="com.shiguang.product.domain.HcDO">
		select  brandid,brandnum ,brandname  from c_brand  where mfrsid=#{mfrsid} and goodsid=#{goodsid} group by brandid
	</select>
    <!--删除状态修改-->
    <update id="updateState" parameterType="com.shiguang.product.domain.HcDO">
    update aa_hc set `state` = #{state} where id = #{id}
    </update>
</mapper>