<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.product.dao.HlyDao">

    <select id="get" resultType="com.shiguang.product.domain.HlyDO">
		select m.`mfrsname`,b.`brandname`,u.`unitname`,
		h.`id`,h.`produc_num`,h.`produc_code`,h.`produc_name`,h.`mfrsid`,h.`brandid`,h.`brandnum`,h.`factory`,h.`proid`,h.`unitid`,h.`product_type`,h.`main_capacity`,
		h.`second_capacity`,h.`produc_factory`,h.`upday`,h.`downday`,h.`tax`,h.`tax_price`,h.`trade_price`,h.`transfer_price`,h.`retail_price`,
		h.`xsstate`,h.`state`
		from aa_hly h left join c_mfrs m on h.mfrsid=m.mfrsid left join c_brand b on h.brandnum=b.brandnum
        left join  c_unit u on h.unitid= u.unitid
		where id = #{value}
	</select>

    <select id="list" resultType="com.shiguang.product.domain.HlyDO">
        select m.`mfrsname`,b.`brandname`,u.`unitname`,
        h.`id`,h.`produc_num`,h.`produc_code`,h.`produc_name`,h.`mfrsid`,h.`brandid`,h.`brandnum`,h.`factory`,h.`proid`,h.`unitid`,h.`product_type`,h.`main_capacity`,
        h.`second_capacity`,h.`produc_factory`,h.`upday`,h.`downday`,h.`tax`,h.`tax_price`,h.`trade_price`,h.`transfer_price`,h.`retail_price`,
        h.`xsstate`,h.`state`
        from aa_hly h left join c_mfrs m on h.mfrsid=m.mfrsid left join c_brand b on h.brandnum=b.brandnum
        left join c_unit u on h.unitid= u.unitid
        <where>
            <if test="producNum != null and producNum != ''">and h.produc_num = #{producNum}</if>
            <if test="producName != null and producName != ''">and h.produc_name = #{producName}</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
            <if test="retailPrice != null and retailPrice != ''">
                and   #{retailPrice} &lt;=  h.retail_price and h.retail_price &lt;=  #{retailPrice2}
            </if>
            <if test="taxPrice != null and taxPrice != ''">
                and   #{taxPrice} &lt;=  h.tax_price and h.retail_price &lt;=  #{taxPrice2}
            </if>
            <if test="xsstate != null and xsstate != ''">and h.xsstate = #{xsstate}</if>
            and  h.state= 1
        </where>
        group by h.id order by  h.id desc
    </select>
    <select id="count" resultType="int">
        select count(*) from aa_hly h left join c_mfrs m on h.mfrsid=m.mfrsid left join c_brand b on h.brandnum=b.brandnum
        left join c_unit u on h.unitid= u.unitid
        <where>
            <if test="producNum != null and producNum != ''">and h.produc_num = #{producNum}</if>
            <if test="producName != null and producName != ''">and h.produc_name = #{producName}</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
            <if test="retailPrice != null and retailPrice != ''">
                and   #{retailPrice} &lt;=  h.retail_price and h.retail_price &lt;=  #{retailPrice2}
            </if>
            <if test="taxPrice != null and taxPrice != ''">
                and   #{taxPrice} &lt;=  h.tax_price and h.retail_price &lt;=  #{taxPrice2}
            </if>
            <if test="xsstate != null and xsstate != ''">and h.xsstate = #{xsstate}</if>
            and  h.state= 1
        </where>
    </select>


    <select id="gethly" resultType="com.shiguang.product.domain.HlyDO">
        select
        h.`id`,h.`produc_num`,h.`produc_code`,h.`produc_name`,h.`mfrsid`,h.`brandid`,h.`brandnum`,b.`brandname`,
        h.`factory`,h.`proid`,h.`unitid`,u.unitname,h.`product_type`,h.`main_capacity`,h.`second_capacity`,h.`produc_factory`,
        h.`upday`,h.`downday`,h.`tax`,h.`tax_price`,h.`trade_price`,h.`transfer_price`,h.`retail_price`,h.`xsstate`,h.`state`
        FROM aa_hly h LEFT JOIN c_brand b ON h.brandnum = b.brandnum LEFT JOIN c_unit u ON h.unitid = u.unitid
        <where>
            <if test="id != null and id != ''">and h.id = #{id}</if>
            <if test="producNum != null and producNum != ''">and h.produc_num = #{producNum}</if>
            <if test="producCode != null and producCode != ''">and h.produc_code = #{producCode}</if>
            <if test="producName != null and producName != ''">and h.produc_name = #{producName}</if>
            <if test="mfrsid != null and mfrsid != ''">and h.mfrsid = #{mfrsid}</if>
            <if test="brandid != null and brandid != ''">and h.brandid = #{brandid}</if>
            <if test="brandnum != null and brandnum != ''">and h.brandnum = #{brandnum}</if>
            <if test="factory != null and factory != ''">and h.factory = #{factory}</if>
            <if test="proid != null and proid != ''">and h.proid = #{proid}</if>
            <if test="unitid != null and unitid != ''">and h.unitid = #{unitid}</if>
            <if test="productType != null and productType != ''">and h.product_type = #{productType}</if>
            <if test="mainCapacity != null and mainCapacity != ''">and h.main_capacity = #{mainCapacity}</if>
            <if test="secondCapacity != null and secondCapacity != ''">and h.second_capacity = #{secondCapacity}</if>
            <if test="producFactory != null and producFactory != ''">and h.produc_factory = #{producFactory}</if>
            <if test="upday != null and upday != ''">and h.upday = #{upday}</if>
            <if test="downday != null and downday != ''">and h.downday = #{downday}</if>
            <if test="tax != null and tax != ''">and h.tax = #{tax}</if>
            <if test="taxPrice != null and taxPrice != ''">and h.tax_price = #{taxPrice}</if>
            <if test="tradePrice != null and tradePrice != ''">and h.trade_price = #{tradePrice}</if>
            <if test="transferPrice != null and transferPrice != ''">and h.transfer_price = #{transferPrice}</if>
            <if test="retailPrice != null and retailPrice != ''">and h.retail_price = #{retailPrice}</if>
            <if test="xsstate != null and xsstate != ''">and h.xsstate = #{xsstate}</if>
           and h.state = 1
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="gethlycount" resultType="int">
        select count(*)  FROM aa_hly h LEFT JOIN c_brand b ON h.brandnum = b.brandnum LEFT JOIN c_unit u ON h.unitid = u.unitid
        <where>
            <if test="id != null and id != ''">and h.id = #{id}</if>
            <if test="producNum != null and producNum != ''">and h.produc_num = #{producNum}</if>
            <if test="producCode != null and producCode != ''">and h.produc_code = #{producCode}</if>
            <if test="producName != null and producName != ''">and h.produc_name = #{producName}</if>
            <if test="mfrsid != null and mfrsid != ''">and h.mfrsid = #{mfrsid}</if>
            <if test="brandid != null and brandid != ''">and h.brandid = #{brandid}</if>
            <if test="brandnum != null and brandnum != ''">and h.brandnum = #{brandnum}</if>
            <if test="factory != null and factory != ''">and h.factory = #{factory}</if>
            <if test="proid != null and proid != ''">and h.proid = #{proid}</if>
            <if test="unitid != null and unitid != ''">and h.unitid = #{unitid}</if>
            <if test="productType != null and productType != ''">and h.product_type = #{productType}</if>
            <if test="mainCapacity != null and mainCapacity != ''">and h.main_capacity = #{mainCapacity}</if>
            <if test="secondCapacity != null and secondCapacity != ''">and h.second_capacity = #{secondCapacity}</if>
            <if test="producFactory != null and producFactory != ''">and h.produc_factory = #{producFactory}</if>
            <if test="upday != null and upday != ''">and h.upday = #{upday}</if>
            <if test="downday != null and downday != ''">and h.downday = #{downday}</if>
            <if test="tax != null and tax != ''">and h.tax = #{tax}</if>
            <if test="taxPrice != null and taxPrice != ''">and h.tax_price = #{taxPrice}</if>
            <if test="tradePrice != null and tradePrice != ''">and h.trade_price = #{tradePrice}</if>
            <if test="transferPrice != null and transferPrice != ''">and h.transfer_price = #{transferPrice}</if>
            <if test="retailPrice != null and retailPrice != ''">and h.retail_price = #{retailPrice}</if>
            <if test="xsstate != null and xsstate != ''">and h.xsstate = #{xsstate}</if>
            and h.state = 1
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.product.domain.HlyDO" useGeneratedKeys="true" keyProperty="id">
		insert into aa_hly
		(
			`produc_num`, 
			`produc_code`, 
			`produc_name`, 
			`mfrsid`, 
			`brandid`, 
			`brandnum`,
			`factory`,
			`proid`, 
			`unitid`, 
			`product_type`, 
			`main_capacity`, 
			`second_capacity`, 
			`produc_factory`, 
			`upday`, 
			`downday`, 
			`tax`, 
			`tax_price`, 
			`trade_price`, 
			`transfer_price`, 
			`retail_price`,
			`xsstate`,
			`state`
		)
		values
		(
			#{producNum}, 
			#{producCode}, 
			#{producName}, 
			#{mfrsid}, 
			#{brandid}, 
			#{brandnum},
			#{factory},
			#{proid}, 
			#{unitid}, 
			#{productType}, 
			#{mainCapacity}, 
			#{secondCapacity}, 
			#{producFactory}, 
			#{upday}, 
			#{downday}, 
			#{tax}, 
			#{taxPrice}, 
			#{tradePrice}, 
			#{transferPrice}, 
			#{retailPrice},
			#{xsstate},
			#{state}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.product.domain.HlyDO">
        update aa_hly
        <set>
            <if test="producNum != null">`produc_num` = #{producNum},</if>
            <if test="producCode != null">`produc_code` = #{producCode},</if>
            <if test="producName != null">`produc_name` = #{producName},</if>
            <if test="mfrsid != null">`mfrsid` = #{mfrsid},</if>
            <if test="brandid != null">`brandid` = #{brandid},</if>
            <if test="brandnum != null">`brandnum` = #{brandnum},</if>
            <if test="factory != null">`factory` = #{factory},</if>
            <if test="proid != null">`proid` = #{proid},</if>
            <if test="unitid != null">`unitid` = #{unitid},</if>
            <if test="productType != null">`product_type` = #{productType},</if>
            <if test="mainCapacity != null">`main_capacity` = #{mainCapacity},</if>
            <if test="secondCapacity != null">`second_capacity` = #{secondCapacity},</if>
            <if test="producFactory != null">`produc_factory` = #{producFactory},</if>
            <if test="upday != null">`upday` = #{upday},</if>
            <if test="downday != null">`downday` = #{downday},</if>
            <if test="tax != null">`tax` = #{tax},</if>
            <if test="taxPrice != null">`tax_price` = #{taxPrice},</if>
            <if test="tradePrice != null">`trade_price` = #{tradePrice},</if>
            <if test="transferPrice != null">`transfer_price` = #{transferPrice},</if>
            <if test="retailPrice != null">`retail_price` = #{retailPrice},</if>
            <if test="xsstate != null">`xsstate` = #{xsstate},</if>
            <if test="state != null">`state` = #{state}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from aa_hly where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from aa_hly where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--菜单联动显示-->
    <select id="choice" resultType="com.shiguang.product.domain.HlyDO">
		select  brandid,brandnum ,brandname  from c_brand  where mfrsid=#{mfrsid} and goodsid=#{goodsid} group by brandid
	</select>
    <!--删除状态修改-->
    <update id="updateState" parameterType="com.shiguang.product.domain.HlyDO">
    update aa_hly set `state` = #{state} where id = #{id}
    </update>
    <!--是否存在商品代码-->
    <select id="haveNum" resultType="com.shiguang.product.domain.HlyDO">
        select produc_num from aa_hly where produc_num=#{producNum} order by id
	</select>
</mapper>