<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.product.dao.JpdzDao">

    <select id="get" resultType="com.shiguang.product.domain.JpdzDO">
		select lig.light_name,
      yl.cyl,
      cyl.cyl,
       ph.sph,
       sph.sph,
      lt.lightbelow,
      ltb.lightbelow,
       m.mfrsname,b.brandname,u.unitnum,
      j.`id`,j.`produc_num`,j.`produc_code`,j.`produc_name`,j.`mfrsid`,j.`brandid`,j.`brandnum`,j.`factory`,j.`produc_factory`,
      j.`proid`,j.`unitid`,j.`sph_id`,j.`span_id`,j.`cyl_id`,j.`sph_up`,j.`sph_down`,j.`sph_span`,j.`cyl_up`,j.`cyl_down`,
      j.`cyl_span`,j.`lightbelow_id`,j.`lightbelow_right`,j.`lightbelow_left`,j.`lens_id`,l.`lens_name`,j.`cycle`,j.`light_id`,pl.`light_name`,
      j.`gradual_id`,g.`gradual_name`,j.`refractivityid`,r.`refractivityvalue`,j.`function_id`,f.`function_name`,j.`combined_photometry`,j.`can`,j.`tax`,j.`tax_price`,
      j.`trade_price`,j.`transfer_price`,j.`retail_price`,j.`xsstate`,j.`state`,j.`classtype`
      from aa_jpdz j
      left join c_refractivity r on r.refractivityid = j.refractivityid
      left join p_light pl on pl.light_id = j.light_id
      left join p_lens l on l.lens_id = j.lens_id
      left join p_gradual g on g.gradual_id = j.gradual_id
      left join  p_function f on f.function_id = j.function_id
      left join c_mfrs m on j.mfrsid=m.mfrsnum
      left join c_brand b on j.brandnum=b.brandnum  and j.mfrsid=b.mfrsid
      left join c_unit u on u.unitid=j.unitid
      left join a_cyl yl on yl.cyl_id=j.cyl_up
      left join a_cyl cyl on cyl.cyl_id=j.cyl_down
      left join a_sph ph on ph.sph_id=j.sph_up
      left join a_sph sph on sph.sph_id=j.sph_down
      left join a_lightbelow lt on lt.lightbelow_id=j.lightbelow_left
      left join a_lightbelow ltb on ltb.lightbelow_id=j.lightbelow_right
      left join p_light lig on lig.light_id=j.light_id
      where j.id = #{value}
	</select>

    <select id="list" resultType="com.shiguang.product.domain.JpdzDO">
        select lig.light_name,
        yl.cyl,
        cyl.cyl,
        ph.sph,
        sph.sph,
        lt.lightbelow,
        ltb.lightbelow,
        m.mfrsname,b.brandname,u.unitnum,
        j.`id`,j.`produc_num`,j.`produc_code`,j.`produc_name`,j.`mfrsid`,j.`brandid`,j.`brandnum`,j.`factory`,j.`produc_factory`,
        j.`proid`,j.`unitid`,j.`sph_id`,j.`span_id`,j.`cyl_id`,j.`sph_up`,j.`sph_down`,j.`sph_span`,j.`cyl_up`,j.`cyl_down`,
        j.`cyl_span`,j.`lightbelow_id`,j.`lightbelow_right`,j.`lightbelow_left`,j.`lens_id`,l.`lens_name`,j.`cycle`,j.`light_id`,pl.`light_name`,
        j.`gradual_id`,g.`gradual_name`,j.`refractivityid`,r.`refractivityvalue`,j.`function_id`,f.`function_name`,j.`combined_photometry`,j.`can`,j.`tax`,j.`tax_price`,
        j.`trade_price`,j.`transfer_price`,j.`retail_price`,j.`xsstate`,j.`state`,j.`classtype`
        from aa_jpdz j
        left join c_refractivity r on r.refractivityid = j.refractivityid
        left join p_light pl on pl.light_id = j.light_id
        left join p_lens l on l.lens_id = j.lens_id
        left join p_gradual g on g.gradual_id = j.gradual_id
        left join p_function f on f.function_id = j.function_id
        left join c_mfrs m on j.mfrsid=m.mfrsnum
        left join c_brand b on j.brandnum=b.brandnum AND j.`mfrsid`=b.`mfrsid`
        left join c_unit u on u.unitid=j.unitid
        left join a_cyl yl on yl.cyl_id=j.cyl_up
        left join a_cyl cyl on cyl.cyl_id=j.cyl_down
        left join a_sph ph on ph.sph_id=j.sph_up
        left join a_sph sph on sph.sph_id=j.sph_down
        left join a_lightbelow lt on lt.lightbelow_id=j.lightbelow_left
        left join a_lightbelow ltb on ltb.lightbelow_id=j.lightbelow_right
        left join p_light lig on lig.light_id=j.light_id
        <where>
            <if test="producNum != null and producNum != ''">and j.produc_num LIKE concat(concat('%', #{producNum}),'%')</if>
            <if test="producName != null and producName != ''">and j.produc_name LIKE concat(concat('%', #{producName}),'%')</if>
            <if test="goodsCode != null and goodsCode != ''">and j.produc_code LIKE concat(concat('%', #{goodsCode}),'%')</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname LIKE concat(concat('%', #{mfrsname}),'%')</if>
            <if test="brandname != null and brandname != ''">and b.brandname LIKE concat(concat('%', #{brandname}),'%')</if>
            <if test="retailPrice != null and retailPrice != ''">
                and   #{retailPrice} &lt;=  j.retail_price and j.retail_price &lt;=  #{retailPrice2}
            </if>
            <if test="taxPrice != null and taxPrice != ''">
                and   #{taxPrice} &lt;=  j.tax_price and j.retail_price &lt;=  #{taxPrice2}
            </if>


            <if test="lensId != null and lensId != ''">and j.lens_id = #{lensId}</if>
            <if test="refractivityid != null and refractivityid != ''">and j.refractivityid = #{refractivityid}</if>
            <if test="lightId != null and lightId != ''">and j.light_id = #{lightId}</if>
            <if test="xsstate != null and xsstate != ''">and j.xsstate = #{xsstate}</if>
            <if test="classtype != null and classtype != ''">and j.classtype = #{classtype}</if>
            and j.state= 1
        </where>

        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                 order by  j.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from aa_jpdz j
        left join c_refractivity r on r.refractivityid = j.refractivityid
        left join p_light pl on pl.light_id = j.light_id
        left join p_lens l on l.lens_id = j.lens_id
        left join p_gradual g on g.gradual_id = j.gradual_id
        left join p_function f on f.function_id = j.function_id
        left join c_mfrs m on j.mfrsid=m.mfrsnum
        left join c_brand b on j.brandnum=b.brandnum AND j.`mfrsid`=b.`mfrsid`
        left join c_unit u on u.unitid=j.unitid
        left join a_cyl yl on yl.cyl_id=j.cyl_up
        left join a_cyl cyl on cyl.cyl_id=j.cyl_down
        left join a_sph ph on ph.sph_id=j.sph_up
        left join a_sph sph on sph.sph_id=j.sph_down
        left join a_lightbelow lt on lt.lightbelow_id=j.lightbelow_left
        left join a_lightbelow ltb on ltb.lightbelow_id=j.lightbelow_right
        left join p_light lig on lig.light_id=j.light_id
        <where>
            <if test="producNum != null and producNum != ''">and j.produc_num LIKE concat(concat('%', #{producNum}),'%')</if>
            <if test="producName != null and producName != ''">and j.produc_name LIKE concat(concat('%', #{producName}),'%')</if>
            <if test="goodsCode != null and goodsCode != ''">and j.produc_code LIKE concat(concat('%', #{goodsCode}),'%')</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname LIKE concat(concat('%', #{mfrsname}),'%')</if>
            <if test="brandname != null and brandname != ''">and b.brandname LIKE concat(concat('%', #{brandname}),'%')</if>
            <if test="retailPrice != null and retailPrice != ''">
                and   #{retailPrice} &lt;=  j.retail_price and j.retail_price &lt;=  #{retailPrice2}
            </if>
            <if test="taxPrice != null and taxPrice != ''">
                and   #{taxPrice} &lt;=  j.tax_price and j.retail_price &lt;=  #{taxPrice2}
            </if>


            <if test="lensId != null and lensId != ''">and j.lens_id = #{lensId}</if>
            <if test="refractivityid != null and refractivityid != ''">and j.refractivityid = #{refractivityid}</if>
            <if test="lightId != null and lightId != ''">and j.light_id = #{lightId}</if>
            <if test="xsstate != null and xsstate != ''">and j.xsstate = #{xsstate}</if>
            <if test="classtype != null and classtype != ''">and j.classtype = #{classtype}</if>
            and j.state= 1
        </where>

    </select>


    <select id="listDz" resultType="com.shiguang.product.domain.JpdzDO">
        select
        yl.cyl,
        cyl.cyl,
        ph.sph,
        sph.sph,
        lt.lightbelow,
        ltb.lightbelow,
        m.mfrsname,b.brandname,u.unitnum,
        j.`id`,j.`produc_num`,j.`produc_code`,j.`produc_name`,j.`mfrsid`,j.`brandid`,j.`brandnum`,j.`factory`,j.`produc_factory`,
        j.`proid`,j.`unitid`,j.`sph_id`,j.`span_id`,j.`cyl_id`,j.`sph_up`,j.`sph_down`,j.`sph_span`,j.`cyl_up`,j.`cyl_down`,
        j.`cyl_span`,j.`lightbelow_id`,j.`lightbelow_right`,j.`lightbelow_left`,j.`lens_id`,l.`lens_name`,j.`cycle`,j.`light_id`,pl.`light_name` as lightName,
        j.`gradual_id`,g.`gradual_name`,j.`refractivityid`,r.`refractivityvalue`,j.`function_id`,f.`function_name`,j.`combined_photometry`,j.`can`,j.`tax`,j.`tax_price`,
        j.`trade_price`,j.`transfer_price`,j.`retail_price`
        from aa_jpdz j
        left join c_refractivity r on r.refractivityid = j.refractivityid
        left join p_light pl on pl.light_id = j.light_id
        left join p_lens l on l.lens_id = j.lens_id
        left join p_gradual g on g.gradual_id = j.gradual_id
        left join p_function f on f.function_id = j.function_id
        left join c_mfrs m on j.mfrsid=m.mfrsnum
        left join c_brand b on j.brandnum=b.brandnum
        left join c_unit u on u.unitid=j.unitid
        left join a_cyl yl on yl.cyl_id=j.cyl_up
        left join a_cyl cyl on cyl.cyl_id=j.cyl_down
        left join a_sph ph on ph.sph_id=j.sph_up
        left join a_sph sph on sph.sph_id=j.sph_down
        left join a_lightbelow lt on lt.lightbelow_id=j.lightbelow_id
        left join a_lightbelow ltb on ltb.lightbelow_id=j.lightbelow_right
        <where>
            <if test="id != null and id != ''">and j.id = #{id}</if>
            <if test="producNum != null and producNum != ''">and j.produc_num = #{producNum}</if>
            <if test="producCode != null and producCode != ''">and j.produc_code = #{producCode}</if>
            <if test="goodsCode != null and goodsCode != ''">and j.produc_code = #{goodsCode}</if>
            <if test="producName != null and producName != ''">and j.produc_name = #{producName}</if>
            <if test="mfrsid != null and mfrsid != ''">and j.mfrsid = #{mfrsid}</if>
            <if test="brandid != null and brandid != ''">and j.brandid = #{brandid}</if>
            <if test="brandnum != null and brandnum != ''">and j.brandnum = #{brandnum}</if>
            <if test="factory != null and factory != ''">and j.factory = #{factory}</if>
            <if test="producFactory != null and producFactory != ''">and j.produc_factory = #{producFactory}</if>
            <if test="proid != null and proid != ''">and j.proid = #{proid}</if>
            <if test="unitid != null and unitid != ''">and j.unitid = #{unitid}</if>
            <if test="sphId != null and sphId != ''">and j.sph_id = #{sphId}</if>
            <if test="spanId != null and spanId != ''">and j.span_id = #{spanId}</if>
            <if test="cylId != null and cylId != ''">and j.cyl_id = #{cylId}</if>
            <if test="sphUp != null and sphUp != ''">and j.sph_up = #{sphUp}</if>
            <if test="sphDown != null and sphDown != ''">and j.sph_down = #{sphDown}</if>
            <if test="sphSpan != null and sphSpan != ''">and j.sph_span = #{sphSpan}</if>
            <if test="cylUp != null and cylUp != ''">and j.cyl_up = #{cylUp}</if>
            <if test="cylDown != null and cylDown != ''">and j.cyl_down = #{cylDown}</if>
            <if test="cylSpan != null and cylSpan != ''">and j.cyl_span = #{cylSpan}</if>
            <if test="lightbelowId != null and lightbelowId != ''">and j.lightbelow_id = #{lightbelowId}</if>
            <if test="lightbelowRight != null and lightbelowRight != ''">and j.lightbelow_right = #{lightbelowRight}
            </if>
            <if test="lightbelowLeft != null and lightbelowLeft != ''">and j.lightbelow_left = #{lightbelowLeft}</if>
            <if test="lensId != null and lensId != ''">and j.lens_id = #{lensId}</if>
            <if test="cycle != null and cycle != ''">and j.cycle = #{cycle}</if>
            <if test="lightId != null and lightId != ''">and j.light_id = #{lightId}</if>
            <if test="gradualId != null and gradualId != ''">and j.gradual_id = #{gradualId}</if>
            <if test="refractivityid != null and refractivityid != ''">and j.refractivityid = #{refractivityid}</if>
            <if test="functionId != null and functionId != ''">and j.function_id = #{functionId}</if>
            <if test="combinedPhotometry != null and combinedPhotometry != ''">and j.combined_photometry
                =#{combinedPhotometry}
            </if>
            <if test="can != null and can != ''">and j.can = #{can}</if>
            <if test="tax != null and tax != ''">and j.tax = #{tax}</if>
            <if test="taxPrice != null and taxPrice != ''">and j.tax_price = #{taxPrice}</if>
            <if test="tradePrice != null and tradePrice != ''">and j.trade_price = #{tradePrice}</if>
            <if test="transferPrice != null and transferPrice != ''">and j.transfer_price = #{transferPrice}</if>
            <if test="retailPrice != null and retailPrice != ''">and j.retail_price = #{retailPrice}</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
            <if test="unitname != null and unitname != ''">and u.unitname = #{unitname}</if>

        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="countDz" resultType="int">
        select count(*) from aa_jpdz
    </select>

    <insert id="save" parameterType="com.shiguang.product.domain.JpdzDO" useGeneratedKeys="true" keyProperty="id">
		insert into aa_jpdz
		(
			`produc_num`, 
			`produc_code`, 
			`produc_name`, 
			`mfrsid`, 
			`brandid`, 
			`brandnum`,
			`factory`,
			`produc_factory`, 
			`proid`, 
			`unitid`, 
			`sph_id`, 
			`span_id`, 
			`cyl_id`, 
			`sph_up`, 
			`sph_down`, 
			`sph_span`, 
			`cyl_up`, 
			`cyl_down`, 
			`cyl_span`, 
			`lightbelow_id`, 
			`lightbelow_right`, 
			`lightbelow_left`, 
			`lens_id`, 
			`cycle`, 
			`light_id`, 
			`gradual_id`, 
			`refractivityid`, 
			`function_id`, 
			`combined_photometry`, 
			`can`, 
			`tax`, 
			`tax_price`, 
			`trade_price`, 
			`transfer_price`, 
			`retail_price`,
			`xsstate`,
			`state`,
			`classtype`
		)
		values
		(
			#{producNum}, 
			#{producCode}, 
			#{producName}, 
			#{mfrsid}, 
			#{brandid}, 
			#{brandnum},
			#{factory},
			#{producFactory}, 
			#{proid}, 
			#{unitid}, 
			#{sphId}, 
			#{spanId}, 
			#{cylId}, 
			#{sphUp}, 
			#{sphDown}, 
			#{sphSpan}, 
			#{cylUp}, 
			#{cylDown}, 
			#{cylSpan}, 
			#{lightbelowId}, 
			#{lightbelowRight}, 
			#{lightbelowLeft}, 
			#{lensId}, 
			#{cycle}, 
			#{lightId}, 
			#{gradualId}, 
			#{refractivityid}, 
			#{functionId}, 
			#{combinedPhotometry}, 
			#{can}, 
			#{tax}, 
			#{taxPrice}, 
			#{tradePrice}, 
			#{transferPrice}, 
			#{retailPrice},
			#{xsstate},
			#{state},
			#{classtype}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.product.domain.JpdzDO">
        update aa_jpdz
        <set>
            <if test="producNum != null">`produc_num` = #{producNum},</if>
            <if test="producCode != null">`produc_code` = #{producCode},</if>
            <if test="producName != null">`produc_name` = #{producName},</if>
            <if test="mfrsid != null">`mfrsid` = #{mfrsid},</if>
            <if test="brandid != null">`brandid` = #{brandid},</if>
            <if test="brandnum != null">`brandnum` = #{brandnum},</if>
            <if test="factory != null">`factory` = #{factory},</if>
            <if test="producFactory != null">`produc_factory` = #{producFactory},</if>
            <if test="proid != null">`proid` = #{proid},</if>
            <if test="unitid != null">`unitid` = #{unitid},</if>
            <if test="sphId != null">`sph_id` = #{sphId},</if>
            <if test="spanId != null">`span_id` = #{spanId},</if>
            <if test="cylId != null">`cyl_id` = #{cylId},</if>
            <if test="sphUp != null">`sph_up` = #{sphUp},</if>
            <if test="sphDown != null">`sph_down` = #{sphDown},</if>
            <if test="sphSpan != null">`sph_span` = #{sphSpan},</if>
            <if test="cylUp != null">`cyl_up` = #{cylUp},</if>
            <if test="cylDown != null">`cyl_down` = #{cylDown},</if>
            <if test="cylSpan != null">`cyl_span` = #{cylSpan},</if>
            <if test="lightbelowId != null">`lightbelow_id` = #{lightbelowId},</if>
            <if test="lightbelowRight != null">`lightbelow_right` = #{lightbelowRight},</if>
            <if test="lightbelowLeft != null">`lightbelow_left` = #{lightbelowLeft},</if>
            <if test="lensId != null">`lens_id` = #{lensId},</if>
            <if test="cycle != null">`cycle` = #{cycle},</if>
            <if test="lightId != null">`light_id` = #{lightId},</if>
            <if test="gradualId != null">`gradual_id` = #{gradualId},</if>
            <if test="refractivityid != null">`refractivityid` = #{refractivityid},</if>
            <if test="functionId != null">`function_id` = #{functionId},</if>
            <if test="combinedPhotometry != null">`combined_photometry` = #{combinedPhotometry},</if>
            <if test="can != null">`can` = #{can},</if>
            <if test="tax != null">`tax` = #{tax},</if>
            <if test="taxPrice != null">`tax_price` = #{taxPrice},</if>
            <if test="tradePrice != null">`trade_price` = #{tradePrice},</if>
            <if test="transferPrice != null">`transfer_price` = #{transferPrice},</if>
            <if test="retailPrice != null">`retail_price` = #{retailPrice},</if>
            <if test="xsstate != null">`xsstate` = #{xsstate},</if>
            <if test="state != null">`state` = #{state},</if>
            <if test="classtype != null">`classtype` = #{classtype}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from aa_jpdz where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from aa_jpdz where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--菜单联动显示-->
    <select id="choice" resultType="com.shiguang.product.domain.JpdzDO">
		select  brandid,brandnum ,brandname  from c_brand  where mfrsid=#{mfrsid} and goodsid=#{goodsid} group by brandid
	</select>
    <!--删除状态修改-->
    <update id="updateState" parameterType="com.shiguang.product.domain.JpdzDO">
    update aa_jpdz set `state` = #{state} where id = #{id}
    </update>
    <!--是否存在商品代码-->
    <select id="haveNum" resultType="com.shiguang.product.domain.JpdzDO">
        select produc_num from aa_jpdz where produc_num=#{producNum} order by id
	</select>
</mapper>