<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.product.dao.LightbelowDao">

	<select id="get" resultType="com.shiguang.product.domain.LightbelowDO">
		select `lightbelow_id`,`lightbelow` from a_lightbelow where lightbelow_id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.product.domain.LightbelowDO">
		select `lightbelow_id`,`lightbelow` from a_lightbelow
        <where>  
		  		  <if test="lightbelowId != null and lightbelowId != ''"> and lightbelow_id = #{lightbelowId} </if>
		  		  <if test="lightbelow != null and lightbelow != ''"> and lightbelow = #{lightbelow} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by lightbelow_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from a_lightbelow
		 <where>  
		  		  <if test="lightbelowId != null and lightbelowId != ''"> and lightbelow_id = #{lightbelowId} </if>
		  		  <if test="lightbelow != null and lightbelow != ''"> and lightbelow = #{lightbelow} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shiguang.product.domain.LightbelowDO" useGeneratedKeys="true" keyProperty="lightbelowId">
		insert into a_lightbelow
		(
			`lightbelow`
		)
		values
		(
			#{lightbelow}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.product.domain.LightbelowDO">
		update a_lightbelow 
		<set>
			<if test="lightbelow != null">`lightbelow` = #{lightbelow}</if>
		</set>
		where lightbelow_id = #{lightbelowId}
	</update>
	
	<delete id="remove">
		delete from a_lightbelow where lightbelow_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from a_lightbelow where lightbelow_id in 
		<foreach item="lightbelowId" collection="array" open="(" separator="," close=")">
			#{lightbelowId}
		</foreach>
	</delete>

</mapper>