<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.product.dao.OldlensDao">

    <select id="get" resultType="com.shiguang.product.domain.OldlensDO">
        select m.`mfrsname`,b.`brandname`,u.`unitname`,o.`id`,o.`produc_num`,o.`produc_code`,o.`produc_name`,o.`mfrsid`,o.`brandid`,o.`brandnum`,o.`factory`,o.`produc_factory`,
        o.`produc_factorycolor`,o.`unitid`,o.`old_id`,o.`batchid`,o.`size`,o.`color`,o.`style_id`,o.`tax`,o.`tax_price`,o.`trade_price`,
        o.`transfer_price`,o.`retail_price` ,o.`xsstate`,o.`state`,o.`classtype`,o.`view_good_name`
        from aa_oldlens o left join c_mfrs m on o.mfrsid=m.mfrsnum left join c_brand b on o.brandnum=b.brandnum  and o.mfrsid=b.mfrsid
        left join  c_unit u on o.unitid= u.unitid
        where o.id = #{value}
    </select>

    <select id="list" resultType="com.shiguang.product.domain.OldlensDO">
        select
        m.`mfrsname`,b.`brandname`,u.`unitname`,o.`id`,o.`produc_num`,o.`produc_code`,o.`produc_name`,o.`mfrsid`,o.`brandnum`,o.`brandid`,o.`factory`,o.`produc_factory`,
        o.`produc_factorycolor`,o.`unitid`,o.`old_id`,o.`batchid`,o.`size`,o.`color`,o.`style_id`,o.`tax`,o.`tax_price`,o.`trade_price`,
        o.`transfer_price`,o.`retail_price`,o.`xsstate`,o.`state`,o.`classtype`,o.`view_good_name`
        from aa_oldlens o left join c_mfrs m on o.mfrsid=m.mfrsnum left join c_brand b on o.brandnum=b.brandnum AND o.`mfrsid`=b.`mfrsid`
        left join c_unit u on o.unitid= u.unitid
        <where>
            <if test="producNum != null and producNum != ''">and o.produc_num  LIKE concat(concat('%', #{producNum}),'%')</if>
            <if test="goodsCode != null and goodsCode != ''">and o.produc_code  LIKE concat(concat('%', #{goodsCode}),'%')</if>

            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
            <if test="producName != null and producName != ''">and o.produc_name LIKE concat(concat('%', #{producName}),'%')</if>


            <if test="retailPrice != null and retailPrice != ''">and ABS(o.retail_price) >= ABS(#{retailPrice})</if>
            <if test="retailPrice2 != null and retailPrice2 != ''">and ABS(o.retail_price) &lt;= ABS(#{retailPrice2})</if>
            <if test="taxPrice != null and taxPrice != ''">and ABS(o.tax_price) >= ABS(#{taxPrice})</if>
            <if test="taxPrice2 != null and taxPrice2 != ''">and ABS(o.tax_price) &lt;= ABS(#{taxPrice2})</if>

            <if test="producFactory != null and producFactory != ''">and o.produc_factory = #{producFactory}</if>
            <if test="producColor != null and producColor != ''">and o.produc_color = #{producColor}</if>
            <if test="xsstate != null and xsstate != ''">and o.xsstate = #{xsstate}</if>
            <if test="viewGoodName != null and viewGoodName != ''">and o.view_good_name = #{viewGoodName}</if>

            <if test="num != null and num != ''">and o.produc_num LIKE concat(concat('%', #{num}),'%')</if>
            <if test="oldMoney != null and oldMoney != ''">and o.retail_price = #{oldMoney}</if>
            and  o.state= 1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
        </where>

        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                  order by  o.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*)   from aa_oldlens o left join c_mfrs m on o.mfrsid=m.mfrsnum left join c_brand b on o.brandnum=b.brandnum AND o.`mfrsid`=b.`mfrsid`
        left join c_unit u on o.unitid= u.unitid
        <where>
            <if test="producNum != null and producNum != ''">and o.produc_num  LIKE concat(concat('%', #{producNum}),'%')</if>
            <if test="goodsCode != null and goodsCode != ''">and o.produc_code  LIKE concat(concat('%', #{goodsCode}),'%')</if>

            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
            <if test="producName != null and producName != ''">and o.produc_name LIKE concat(concat('%', #{producName}),'%')</if>

            <if test="retailPrice != null and retailPrice != ''">and ABS(o.retail_price) >= ABS(#{retailPrice})</if>
            <if test="retailPrice2 != null and retailPrice2 != ''">and ABS(o.retail_price) &lt;= ABS(#{retailPrice2})</if>
            <if test="taxPrice != null and taxPrice != ''">and ABS(o.tax_price) >= ABS(#{taxPrice})</if>
            <if test="taxPrice2 != null and taxPrice2 != ''">and ABS(o.tax_price) &lt;= ABS(#{taxPrice2})</if>

            <if test="producFactory != null and producFactory != ''">and o.produc_factory = #{producFactory}</if>
            <if test="producColor != null and producColor != ''">and o.produc_color = #{producColor}</if>
            <if test="xsstate != null and xsstate != ''">and o.xsstate = #{xsstate}</if>
            <if test="viewGoodName != null and viewGoodName != ''">and o.view_good_name = #{viewGoodName}</if>


            <if test="num != null and num != ''">and o.produc_num LIKE concat(concat('%', #{num}),'%')</if>
            <if test="oldMoney != null and oldMoney != ''">and o.retail_price = #{oldMoney}</if>
            and  o.state= 1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.product.domain.OldlensDO" useGeneratedKeys="true" keyProperty="id">
          insert into aa_oldlens
          (
          `produc_num`,
          `produc_code`,
          `produc_name`,
          `mfrsid`,
          `brandid`,
          `brandnum`,
          `factory`,
          `produc_factory`,
          `produc_factorycolor`,
          `unitid`,
          `old_id`,
          `batchid`,
          `size`,
          `color`,
          `style_id`,
          `tax`,
          `tax_price`,
          `trade_price`,
          `transfer_price`,
          `retail_price`,
          `xsstate`,
          `state`,
          `classtype`,
          `view_good_name`
          )
          values
          (
          #{producNum},
          #{producCode},
          #{producName},
          #{mfrsid},
          #{brandid},
          #{brandnum},
          #{factory},
          #{producFactory},
          #{producFactorycolor},
          #{unitid},
          #{oldId},
          #{batchid},
          #{size},
          #{color},
          #{styleId},
          #{tax},
          #{taxPrice},
          #{tradePrice},
          #{transferPrice},
          #{retailPrice},
          #{xsstate},
          #{state},
          #{classtype},
          #{viewGoodName}
          )
    </insert>

    <update id="update" parameterType="com.shiguang.product.domain.OldlensDO">
        update aa_oldlens
        <set>
            <if test="producNum != null">`produc_num` = #{producNum},</if>
            <if test="producCode != null">`produc_code` = #{producCode},</if>
            <if test="producName != null">`produc_name` = #{producName},</if>
            <if test="mfrsid != null">`mfrsid` = #{mfrsid},</if>
            <if test="brandid != null">`brandid` = #{brandid},</if>
            <if test="brandnum != null">`brandnum` = #{brandnum},</if>
            <if test="factory != null">`factory` = #{factory},</if>
            <if test="producFactory != null">`produc_factory` = #{producFactory},</if>
            <if test="producFactorycolor != null">`produc_factorycolor` = #{producFactorycolor},</if>
            <if test="unitid != null">`unitid` = #{unitid},</if>
            <if test="oldId != null">`old_id` = #{oldId},</if>
            <if test="batchid != null">`batchid` = #{batchid},</if>
            <if test="size != null">`size` = #{size},</if>
            <if test="color != null">`color` = #{color},</if>
            <if test="styleId != null">`style_id` = #{styleId},</if>
            <if test="tax != null">`tax` = #{tax},</if>
            <if test="taxPrice != null">`tax_price` = #{taxPrice},</if>
            <if test="tradePrice != null">`trade_price` = #{tradePrice},</if>
            <if test="transferPrice != null">`transfer_price` = #{transferPrice},</if>
            <if test="retailPrice != null">`retail_price` = #{retailPrice},</if>
            <if test="xsstate != null">`xsstate` = #{xsstate},</if>
            <if test="state != null">`state` = #{state},</if>
            <if test="classtype != classtype">`classtype` = #{classtype},</if>
            <if test="viewGoodName != viewGoodName">`view_good_name` = #{viewGoodName}</if>
        </set>
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="producNum != null and id != ''">and produc_num = #{producNum}</if>
        </where>
    </update>

    <delete id="remove">
delete from aa_oldlens where id = #{value}
</delete>

    <delete id="batchRemove">
        delete from aa_oldlens where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 通过商品代码查询商品信息 -->
    <select id="getOldlenInfomation" resultType="com.shiguang.product.domain.OldlensDO">
                select
        m.`mfrsname`,b.`brandname`,u.`unitname`,o.`id`,o.`produc_num`,o.`produc_code`,o.`produc_name`,o.`mfrsid`,o.`brandnum`,o.`brandid`,o.`factory`,o.`produc_factory`,
        o.`produc_factorycolor`,o.`unitid`,o.`old_id`,o.`batchid`,o.`size`,o.`color`,o.`style_id`,o.`tax`,o.`tax_price`,o.`trade_price`,
        o.`retail_price`,o.`view_good_name`
        from aa_oldlens o left join c_mfrs m on o.mfrsid=m.mfrsnum left join c_brand b on o.brandnum=b.brandnum AND o.`mfrsid`=b.`mfrsid`
        left join c_unit u on o.unitid= u.unitid
        where o.`produc_num` = #{value}
    </select>


    <!--删除状态修改-->
    <update id="updateState" parameterType="com.shiguang.product.domain.OldlensDO">
          update aa_oldlens set `state` = #{state} where id = #{id}
    </update>
    <!--是否存在商品代码-->
    <select id="haveNum" resultType="com.shiguang.product.domain.OldlensDO">
        select produc_num from aa_oldlens where produc_num=#{producNum} and   order by id
	</select>
</mapper>