<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.product.dao.ProducaDao">
    <!--//修改时显示制造商和商品品种名称-->
    <select id="get" resultType="com.shiguang.product.domain.ProducaDO">
        select
        p.`id`,p.`produc_num`,p.`produc_code`,p.`produc_name`,p.`mfrsid`,p.`brandid`,p.`brandnum`,p.`factory`,p.`produc_factory`,p.`produc_factorycolor`,
        p.`produc_color`,p.`unitid`,p.`batchid`,p.`size`,p.`technology_id`,p.`materialid`,p.`color`,p.`style_id`,p.`year`,p.`tax`,p.`tax_price`,
        p.`trade_price`,p.`transfer_price`,p.`retail_price`,p.`xsstate`,p.`state`,
        m.mfrsname,b.brandname,u.unitname,p.`classtype`,p.`view_good_name`
        from aa_produca p   join c_mfrs m on p.mfrsid=m.mfrsnum join c_brand b on p.brandnum=b.brandnum   and p.mfrsid=b.mfrsid
        join c_unit u on p.unitid= u.unitid
        where p.id = #{value}
	</select>
    <!--是否存在商品代码-->
    <select id="haveNum" resultType="com.shiguang.product.domain.ProducaDO">
        select produc_num from aa_produca where produc_num=#{producNum}   order by id
	</select>


    <!--//修改时显示制造商和商品品种名称-->
    <select id="list" resultType="com.shiguang.product.domain.ProducaDO">
        select
        p.`id`,p.`produc_num`,p.`produc_code`,p.`produc_name`,p.`mfrsid`,p.`brandid`,p.`brandnum`,p.`factory`,p.`produc_factory`,p.`produc_factorycolor`,p.`produc_color`,
        p.`unitid`,p.`batchid`,p.`size`,p.`technology_id`,p.`materialid`,p.`color`,p.`style_id`,p.`year`,p.`tax`,p.`tax_price`,p.`trade_price`,
        p.`transfer_price`,p.`retail_price`,p.`xsstate`,p.`state`,
        m.mfrsname,b.brandname,u.unitname,p.`classtype`,p.`view_good_name`
        from aa_produca p left join c_mfrs m on p.mfrsid=m.mfrsnum left join c_brand b on p.brandnum=b.brandnum AND p.`mfrsid`=b.`mfrsid`
        left join c_unit u on p.unitid= u.unitid
        <where>
           <if test="producNum != null and producNum != ''">and p.produc_num  LIKE concat(concat('%', #{producNum}),'%')</if>
              <if test="goodsCode != null and goodsCode != ''">and p.produc_code  LIKE concat(concat('%', #{goodsCode}),'%')</if>


            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
            <if test="producName != null and producName != ''">and p.produc_name LIKE concat(concat('%', #{producName}),'%')</if>


            <if test="retailPrice != null and retailPrice != ''">and ABS(p.retail_price) >= ABS(#{retailPrice})</if>
            <if test="retailPrice2 != null and retailPrice2 != ''">and ABS(p.retail_price) &lt;= ABS(#{retailPrice2})</if>
            <if test="taxPrice != null and taxPrice != ''">and ABS(p.tax_price) >= ABS(#{taxPrice})</if>
            <if test="taxPrice2 != null and taxPrice2 != ''">and ABS(p.tax_price) &lt;= ABS(#{taxPrice2})</if>


            <if test="producFactory != null and producFactory != ''">and p.produc_factory = #{producFactory}</if>
            <if test="producColor != null and producColor != ''">and p.produc_color = #{producColor}</if>
            <if test="size != null and size != ''">and p.size = #{size}</if>
            <if test="technologyId != null and technologyId != ''">and p.technology_id = #{technologyId}</if>
            <if test="materialid != null and materialid != ''">and p.materialid = #{materialid}</if>
            <if test="xsstate != null and xsstate != ''">and p.xsstate = #{xsstate}</if>
            <if test="styleId != null and styleId != ''">and p.style_id = #{styleId}</if>
            <if test="viewGoodName != null and viewGoodName != ''">and p.view_good_name = #{viewGoodName}</if>

            <if test="num != null and num != ''">and p.produc_num LIKE concat(concat('%', #{num}),'%')</if>
            <if test="oldMoney != null and oldMoney != ''">and p.retail_price = #{oldMoney}</if>
            and p.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                  order by  p.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="count" resultType="int">
        select count(*)   from aa_produca p left join c_mfrs m on p.mfrsid=m.mfrsnum left join c_brand b on p.brandnum=b.brandnum AND p.`mfrsid`=b.`mfrsid`
        left join c_unit u on p.unitid= u.unitid
        <where>
            <if test="producNum != null and producNum != ''">and p.produc_num  LIKE concat(concat('%', #{producNum}),'%')</if>
            <if test="goodsCode != null and goodsCode != ''">and p.produc_code  LIKE concat(concat('%', #{goodsCode}),'%')</if>

            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
            <if test="producName != null and producName != ''">and p.produc_name LIKE concat(concat('%', #{producName}),'%')</if>


            <if test="retailPrice != null and retailPrice != ''">and ABS(p.retail_price) >= ABS(#{retailPrice})</if>
            <if test="retailPrice2 != null and retailPrice2 != ''">and ABS(p.retail_price) &lt;= ABS(#{retailPrice2})</if>
            <if test="taxPrice != null and taxPrice != ''">and ABS(p.tax_price) >= ABS(#{taxPrice})</if>
            <if test="taxPrice2 != null and taxPrice2 != ''">and ABS(p.tax_price) &lt;= ABS(#{taxPrice2})</if>


            <if test="producFactory != null and producFactory != ''">and p.produc_factory = #{producFactory}</if>
            <if test="producColor != null and producColor != ''">and p.produc_color = #{producColor}</if>
            <if test="size != null and size != ''">and p.size = #{size}</if>
            <if test="technologyId != null and technologyId != ''">and p.technology_id = #{technologyId}</if>
            <if test="materialid != null and materialid != ''">and p.materialid = #{materialid}</if>
            <if test="xsstate != null and xsstate != ''">and p.xsstate = #{xsstate}</if>
            <if test="styleId != null and styleId != ''">and p.style_id = #{styleId}</if>
            <if test="viewGoodName != null and viewGoodName != ''">and p.view_good_name = #{viewGoodName}</if>

            <if test="num != null and num != ''">and p.produc_num LIKE concat(concat('%', #{num}),'%')</if>
            <if test="oldMoney != null and oldMoney != ''">and p.retail_price = #{oldMoney}</if>
           and p.state=1 and m.xsstate=0 and m.state=1 and b.xsstate=0 and b.state=1
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.product.domain.ProducaDO" useGeneratedKeys="true" keyProperty="id">
		insert into aa_produca
		(
			`produc_num`, 
			`produc_code`, 
			`produc_name`, 
			`mfrsid`, 
			`brandid`, 
			`brandnum`,
			`factory`,
			`produc_factory`, 
			`produc_factorycolor`, 
			`produc_color`, 
			`unitid`, 
			`batchid`, 
			`size`, 
			`technology_id`, 
			`materialid`, 
			`color`, 
			`style_id`, 
			`year`, 
			`tax`, 
			`tax_price`, 
			`trade_price`, 
			`transfer_price`, 
			`retail_price`,
			`xsstate`,
			`state`,
			`classtype`,
			`view_good_name`
		)
		values
		(
			#{producNum}, 
			#{producCode}, 
			#{producName}, 
			#{mfrsid}, 
			#{brandid}, 
			#{brandnum},
			#{factory},
			#{producFactory}, 
			#{producFactorycolor}, 
			#{producColor}, 
			#{unitid}, 
			#{batchid}, 
			#{size}, 
			#{technologyId}, 
			#{materialid}, 
			#{color}, 
			#{styleId}, 
			#{year}, 
			#{tax}, 
			#{taxPrice}, 
			#{tradePrice}, 
			#{transferPrice}, 
			#{retailPrice},
			#{xsstate},
			#{state},
			#{classtype},
			#{viewGoodName}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.product.domain.ProducaDO">
        update aa_produca
        <set>
            <if test="producNum != null">`produc_num` = #{producNum},</if>
            <if test="producCode != null">`produc_code` = #{producCode},</if>
            <if test="producName != null">`produc_name` = #{producName},</if>
            <if test="mfrsid != null">`mfrsid` = #{mfrsid},</if>
            <if test="brandid != null">`brandid` = #{brandid},</if>
            <if test="brandnum != null">`brandnum` = #{brandnum},</if>
            <if test="factory != null">`factory` = #{factory},</if>
            <if test="producFactory != null">`produc_factory` = #{producFactory},</if>
            <if test="producFactorycolor != null">`produc_factorycolor` = #{producFactorycolor},</if>
            <if test="producColor != null">`produc_color` = #{producColor},</if>
            <if test="unitid != null">`unitid` = #{unitid},</if>
            <if test="batchid != null">`batchid` = #{batchid},</if>
            <if test="size != null">`size` = #{size},</if>
            <if test="technologyId != null">`technology_id` = #{technologyId},</if>
            <if test="materialid != null">`materialid` = #{materialid},</if>
            <if test="color != null">`color` = #{color},</if>
            <if test="styleId != null">`style_id` = #{styleId},</if>
            <if test="year != null">`year` = #{year},</if>
            <if test="tax != null">`tax` = #{tax},</if>
            <if test="taxPrice != null">`tax_price` = #{taxPrice},</if>
            <if test="tradePrice != null">`trade_price` = #{tradePrice},</if>
            <if test="transferPrice != null">`transfer_price` = #{transferPrice},</if>
            <if test="retailPrice != null">`retail_price` = #{retailPrice},</if>
            <if test="xsstate != null">`xsstate` = #{xsstate},</if>
            <if test="state != null">`state` = #{state},</if>
            <if test="classtype != null">`classtype` = #{classtype},</if>
            <if test="viewGoodName != null">`view_good_name` = #{viewGoodName}</if>
        </set>
        <where>
        <if test="id != null and id != ''">and id = #{id}</if>
        <if test="producNum != null and id != ''">and produc_num = #{producNum}</if>
        </where>
    </update>
    <update id="updateStock" parameterType="com.shiguang.stock.domain.StockDO">
        update stock
        <set>
            <if test="goodsNum != null">`goods_num` = #{goodsNum},</if>
            <if test="goodsCode != null">`goods_code` = #{goodsCode},</if>
            <if test="goodsName != null">`goods_name` = #{goodsName},</if>
            <if test="goodsCount != null">`goods_count` = #{goodsCount},</if>
            <if test="goodsType != null">`goods_type` = #{goodsType},</if>
            <if test="mfrsid != null">`mfrsid` = #{mfrsid},</if>
            <if test="brandname != null">`brandname` = #{brandname},</if>
            <if test="retailPrice != null">`retail_price` = #{retailPrice},</if>
            <if test="priceSum != null">`price_sum` = #{priceSum},</if>
            <if test="costPrice != null">`cost_price` = #{costPrice},</if>
            <if test="costSum != null">`cost_sum` = #{costSum},</if>
            <if test="wholePrice != null">`whole_price` = #{wholePrice},</if>
            <if test="wholeSum != null">`whole_sum` = #{wholeSum},</if>
            <if test="positionId != null">`position_id` = #{positionId},</if>
            <if test="positionName != null">`position_name` = #{positionName},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="danjuNumber != null">`danju_number` = #{danjuNumber},</if>
            <if test="orderNumber != null">`order_number` = #{orderNumber},</if>
            <if test="yundanNumber != null">`yundan_number` = #{yundanNumber},</if>
            <if test="zhidanPeople != null">`zhidan_people` = #{zhidanPeople},</if>
            <if test="danjuDay != null">`danju_day` = #{danjuDay},</if>
            <if test="tuihuoNumber != null">`tuihuo_number` = #{tuihuoNumber},</if>
            <if test="factoryNumber != null">`factory_number` = #{factoryNumber},</if>
            <if test="beizhu != null">`beizhu` = #{beizhu},</if>
            <if test="batch != null">`batch` = #{batch}, </if>
            <if test="zhuceNumber != null">`zhuce_number` = #{zhuceNumber}, </if>
            <if test="produceDay != null">`produce_day` = #{produceDay}, </if>
            <if test="useday != null">`useday` = #{useday}, </if>
            <if test="classtype != null">`classtype` = #{classtype},</if>
            <if test="factory != null">`factory` = #{factory}, </if>
            <if test="status != null">`status` = #{status}, </if>
            <if test="username != null">`username` = #{username}, </if>
            <if test="returnzt != null">`returnzt` = #{returnzt} </if>
        </set>
        where goods_num = #{goodsNum}
    </update>
    <delete id="remove">
		delete from aa_produca where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from aa_produca where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getJjBygoodNums" resultType="com.shiguang.product.domain.ProducaDO">
        select
          pr.`produc_factory`,pr.`produc_color`,ac.`materialname`,pr.`size`
        from  aa_produca pr left join c_material ac on ac.materialid =
        pr.materialid
        where pr.produc_num = #{value}
    </select>

    <!-- 根据商品代码查询商品信息 -->
    <select id="getJJInfomation" resultType="com.shiguang.product.domain.ProducaDO">
      select
        p.`id`,p.`produc_num`,p.`produc_code`,p.`produc_name`,p.`mfrsid`,p.`brandid`,p.`brandnum`,p.`factory`,p.`produc_factory`,p.`produc_factorycolor`,p.`produc_color`,
        p.`unitid`,p.`batchid`,p.`size`,p.`technology_id`,p.`materialid`,p.`color`,p.`style_id`,p.`year`,p.`tax`,p.`tax_price`,p.`trade_price`,
        p.`transfer_price`,p.`retail_price`,p.`xsstate`,p.`state`,
        m.mfrsname,b.brandname,u.unitname,p.`classtype`,p.`view_good_name`
        from aa_produca p left join c_mfrs m on p.mfrsid=m.mfrsnum left join c_brand b on p.brandnum=b.brandnum AND p.`mfrsid`=b.`mfrsid`
        left join c_unit u on p.unitid= u.unitid
        where p.produc_num = #{value}
    </select>

    <!--菜单联动显示-->
    <select id="choice" resultType="com.shiguang.mfrs.domain.BrandDO">
		select  brandid,brandnum ,brandname  from c_brand
		<where>
            <if test="mfrsid != null and mfrsid != ''">and mfrsid = #{mfrsid}</if>
            <if test="goodsid != null and goodsid != ''">and goodsid = #{goodsid}</if>
            <if test="xsstate != null and xsstate != ''">and xsstate = #{xsstate}</if>
        </where>
		 group by brandid
	</select>
    <!--删除状态修改-->
    <update id="updateState" parameterType="com.shiguang.product.domain.ProducaDO">
    update aa_produca set `state` = #{state} where id = #{id}
    </update>
    <!--根据制造商查询商品品种-->

</mapper>