<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.product.dao.ProducaDao">
    <!--//修改时显示制造商和商品品种名称-->
    <select id="get" resultType="com.shiguang.product.domain.ProducaDO">
        select
        p.`id`,p.`produc_num`,p.`produc_code`,p.`produc_name`,p.`mfrsid`,p.`brandid`,p.`brandnum`,p.`factory`,p.`produc_factory`,p.`produc_factorycolor`,
        p.`produc_color`,p.`unitid`,p.`batchid`,p.`size`,p.`technology_id`,p.`materialid`,p.`color`,p.`style_id`,p.`year`,p.`tax`,p.`tax_price`,
        p.`trade_price`,p.`transfer_price`,p.`retail_price`,p.`status`,p.`state`,
        m.mfrsname,b.brandname,u.unitname
        from aa_produca p left join c_mfrs m on p.mfrsid=m.mfrsid left join c_brand b on p.brandnum=b.brandnum left join
        c_unit u on p.unitid= u.unitid
        where id = #{value}
	</select>
    <!--是否存在商品代码-->
    <select id="haveNum" resultType="com.shiguang.product.domain.ProducaDO">
        select
        p.`id`,p.`produc_num`,p.`produc_code`,p.`produc_name`,p.`mfrsid`,p.`brandid`,p.`brandnum`,p.`factory`,p.`produc_factory`,p.`produc_factorycolor`,
        p.`produc_color`,p.`unitid`,p.`batchid`,p.`size`,p.`technology_id`,p.`materialid`,p.`color`,p.`style_id`,p.`year`,p.`tax`,p.`tax_price`,
        p.`trade_price`,p.`transfer_price`,p.`retail_price`,p.`status`,p.`state`,
        m.mfrsname,b.brandname,u.unitname
        from aa_produca p left join c_mfrs m on p.mfrsid=m.mfrsid left join c_brand b on p.brandnum=b.brandnum left join
        c_unit u on p.unitid= u.unitid
        where p.`produc_num` = #{producNum} order by p.`id`
	</select>


    <!--//修改时显示制造商和商品品种名称-->
    <select id="list" resultType="com.shiguang.product.domain.ProducaDO">
        select
        p.`id`,p.`produc_num`,p.`produc_code`,p.`produc_name`,p.`mfrsid`,p.`brandid`,p.`brandnum`,p.`factory`,p.`produc_factory`,p.`produc_factorycolor`,p.`produc_color`,
        p.`unitid`,p.`batchid`,p.`size`,p.`technology_id`,p.`materialid`,p.`color`,p.`style_id`,p.`year`,p.`tax`,p.`tax_price`,p.`trade_price`,
        p.`transfer_price`,p.`retail_price`,p.`status`,p.`state`,
        m.mfrsname,b.brandname,u.unitname
        from aa_produca p left join c_mfrs m on p.mfrsid=m.mfrsid left join c_brand b on p.brandnum=b.brandnum left join
        c_unit u on p.unitid= u.unitid
        <where>
            <if test="producNum != null and producNum != ''">and p.produc_num = #{producNum}</if>
            <if test="producName != null and producName != ''">and p.produc_name = #{producName}</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
            <if test="retailPrice != null and retailPrice != ''">
                and p.retail_price between #{retailPrice,jdbcType=VARCHAR} and #{retailPrice2,jdbcType=VARCHAR}
            </if>
            <if test="taxPrice != null and taxPrice != ''">
                and p.tax_price between #{taxPrice,jdbcType=VARCHAR} and #{taxPrice2,jdbcType=VARCHAR}
            </if>


            <if test="producFactory != null and producFactory != ''">and p.produc_factory = #{producFactory}</if>
            <if test="producColor != null and producColor != ''">and p.produc_color = #{producColor}</if>
            <if test="size != null and size != ''">and p.size = #{size}</if>
            <if test="technologyId != null and technologyId != ''">and p.technology_id = #{technologyId}</if>
            <if test="materialid != null and materialid != ''">and p.materialid = #{materialid}</if>
            <if test="status != null and status != ''">and p.status = #{status}</if>
            <if test="styleId != null and styleId != ''">and p.style_id = #{styleId}</if>
        </where>
        and p.state= 1
        group by p.id order by p.status asc ,p.id asc
    </select>
    <select id="count" resultType="int">
        select count(*) from aa_produca
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="producNum != null and producNum != ''">and produc_num = #{producNum}</if>
            <if test="producCode != null and producCode != ''">and produc_code = #{producCode}</if>
            <if test="producName != null and producName != ''">and produc_name = #{producName}</if>
            <if test="mfrsid != null and mfrsid != ''">and mfrsid = #{mfrsid}</if>
            <if test="brandid != null and brandid != ''">and brandid = #{brandid}</if>

            <if test="brandnum != null and brandid != ''">and brandnum = #{brandnum}</if>
            <if test="factory != null and factory != ''">and factory = #{factory}</if>
            <if test="producFactory != null and producFactory != ''">and produc_factory = #{producFactory}</if>
            <if test="producFactorycolor != null and producFactorycolor != ''">and produc_factorycolor =
                #{producFactorycolor}
            </if>
            <if test="producColor != null and producColor != ''">and produc_color = #{producColor}</if>
            <if test="unitid != null and unitid != ''">and unitid = #{unitid}</if>
            <if test="batchid != null and batchid != ''">and batchid = #{batchid}</if>
            <if test="size != null and size != ''">and size = #{size}</if>
            <if test="technologyId != null and technologyId != ''">and technology_id = #{technologyId}</if>
            <if test="materialid != null and materialid != ''">and materialid = #{materialid}</if>
            <if test="color != null and color != ''">and color = #{color}</if>
            <if test="styleId != null and styleId != ''">and style_id = #{styleId}</if>
            <if test="year != null and year != ''">and year = #{year}</if>
            <if test="tax != null and tax != ''">and tax = #{tax}</if>
            <if test="taxPrice != null and taxPrice != ''">and tax_price = #{taxPrice}</if>
            <if test="tradePrice != null and tradePrice != ''">and trade_price = #{tradePrice}</if>
            <if test="transferPrice != null and transferPrice != ''">and transfer_price = #{transferPrice}</if>
            <if test="retailPrice != null and retailPrice != ''">and retail_price = #{retailPrice}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="state != null and state != ''">and state = #{state}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.product.domain.ProducaDO" useGeneratedKeys="true" keyProperty="id">
		insert into aa_produca
		(
			`produc_num`, 
			`produc_code`, 
			`produc_name`, 
			`mfrsid`, 
			`brandid`, 
			`brandnum`,
			`factory`,
			`produc_factory`, 
			`produc_factorycolor`, 
			`produc_color`, 
			`unitid`, 
			`batchid`, 
			`size`, 
			`technology_id`, 
			`materialid`, 
			`color`, 
			`style_id`, 
			`year`, 
			`tax`, 
			`tax_price`, 
			`trade_price`, 
			`transfer_price`, 
			`retail_price`,
			`status`,
			`state`
		)
		values
		(
			#{producNum}, 
			#{producCode}, 
			#{producName}, 
			#{mfrsid}, 
			#{brandid}, 
			#{brandnum},
			#{factory},
			#{producFactory}, 
			#{producFactorycolor}, 
			#{producColor}, 
			#{unitid}, 
			#{batchid}, 
			#{size}, 
			#{technologyId}, 
			#{materialid}, 
			#{color}, 
			#{styleId}, 
			#{year}, 
			#{tax}, 
			#{taxPrice}, 
			#{tradePrice}, 
			#{transferPrice}, 
			#{retailPrice},
			#{status},
			#{state}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.product.domain.ProducaDO">
        update aa_produca
        <set>
            <if test="producNum != null">`produc_num` = #{producNum},</if>
            <if test="producCode != null">`produc_code` = #{producCode},</if>
            <if test="producName != null">`produc_name` = #{producName},</if>
            <if test="mfrsid != null">`mfrsid` = #{mfrsid},</if>
            <if test="brandid != null">`brandid` = #{brandid},</if>
            <if test="brandnum != null">`brandnum` = #{brandnum},</if>
            <if test="factory != null">`factory` = #{factory},</if>
            <if test="producFactory != null">`produc_factory` = #{producFactory},</if>
            <if test="producFactorycolor != null">`produc_factorycolor` = #{producFactorycolor},</if>
            <if test="producColor != null">`produc_color` = #{producColor},</if>
            <if test="unitid != null">`unitid` = #{unitid},</if>
            <if test="batchid != null">`batchid` = #{batchid},</if>
            <if test="size != null">`size` = #{size},</if>
            <if test="technologyId != null">`technology_id` = #{technologyId},</if>
            <if test="materialid != null">`materialid` = #{materialid},</if>
            <if test="color != null">`color` = #{color},</if>
            <if test="styleId != null">`style_id` = #{styleId},</if>
            <if test="year != null">`year` = #{year},</if>
            <if test="tax != null">`tax` = #{tax},</if>
            <if test="taxPrice != null">`tax_price` = #{taxPrice},</if>
            <if test="tradePrice != null">`trade_price` = #{tradePrice},</if>
            <if test="transferPrice != null">`transfer_price` = #{transferPrice},</if>
            <if test="retailPrice != null">`retail_price` = #{retailPrice},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="state != null">`state` = #{state}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from aa_produca where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from aa_produca where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--菜单联动显示-->
    <select id="choice" resultType="com.shiguang.product.domain.ProducaDO">
		select  brandid,brandnum ,brandname  from c_brand  where mfrsid=#{mfrsid} and goodsid=#{goodsid} group by brandid
	</select>
    <!--删除状态修改-->
    <update id="updateState" parameterType="com.shiguang.product.domain.ProducaDO">
    update aa_produca set `state` = #{state} where id = #{id}
    </update>
    <!--根据制造商查询商品品种-->

</mapper>