<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.product.dao.ShiguangDao">

    <select id="get" resultType="com.shiguang.product.domain.ShiguangDO">
		select m.mfrsname,b.brandname,u.unitname,
		 s.`id`,s.`produc_num`,s.`produc_code`,s.`produc_name`,s.`mfrsid`,s.`brandid`,s.`brandnum`,s.`factory`,s.`produc_factory`,
		s.`proid`,s.`unitid`,s.`batchid`,s.`leixing`,s.`tax`,s.`tax_price`,s.`trade_price`,s.`transfer_price`,s.`retail_price`,
		s.`status`,s.`state`
		from aa_shiguang  s left join c_mfrs m on s.mfrsid=m.mfrsid left join c_brand b on s.brandnum=b.brandnum left join
        c_unit u on s.unitid= u.unitid
		where id = #{value}
	</select>

    <select id="list" resultType="com.shiguang.product.domain.ShiguangDO">
        select m.mfrsname,b.brandname,u.unitname,
        s.`id`,s.`produc_num`,s.`produc_code`,s.`produc_name`,s.`mfrsid`,s.`brandid`,s.`brandnum`,s.`factory`,s.`produc_factory`,
        s.`proid`,s.`unitid`,s.`batchid`,s.`leixing`,s.`tax`,s.`tax_price`,s.`trade_price`,s.`transfer_price`,s.`retail_price`,
        s.`status`,s.`state`
        from aa_shiguang s left join c_mfrs m on s.mfrsid=m.mfrsid left join c_brand b on s.brandnum=b.brandnum left join
        c_unit u on s.unitid= u.unitid
         where s.state= 1
        group by s.id order by s.status asc ,s.id asc
    </select>
    <select id="getshiguang" resultType="com.shiguang.product.domain.ShiguangDO">
        select m.mfrsname,b.brandname,u.unitname,
        s.`id`,s.`produc_num`,s.`produc_code`,s.`produc_name`,s.`mfrsid`,s.`brandid`,s.`brandnum`,s.`factory`,s.`produc_factory`,
        s.`proid`,s.`unitid`,s.`batchid`,s.`leixing`,s.`tax`,s.`tax_price`,s.`trade_price`,s.`transfer_price`,s.`retail_price`,
        s.`status`,s.`state`
        from aa_shiguang s left join c_mfrs m on s.mfrsid=m.mfrsid left join c_brand b on s.brandnum=b.brandnum left join
        c_unit u on s.unitid= u.unitid
        where s.state= 1
        group by s.id order by s.status asc ,s.id asc
    </select>

    <select id="count" resultType="int">
        select count(*) from aa_shiguang
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="producNum != null and producNum != ''">and produc_num = #{producNum}</if>
            <if test="producCode != null and producCode != ''">and produc_code = #{producCode}</if>
            <if test="producName != null and producName != ''">and produc_name = #{producName}</if>
            <if test="mfrsid != null and mfrsid != ''">and mfrsid = #{mfrsid}</if>
            <if test="brandid != null and brandid != ''">and brandid = #{brandid}</if>
            <if test="brandnum != null and brandnum != ''">and brandnum = #{brandnum}</if>
            <if test="factory != null and factory != ''">and factory = #{factory}</if>
            <if test="producFactory != null and producFactory != ''">and produc_factory = #{producFactory}</if>
            <if test="proid != null and proid != ''">and proid = #{proid}</if>
            <if test="unitid != null and unitid != ''">and unitid = #{unitid}</if>
            <if test="batchid != null and batchid != ''">and batchid = #{batchid}</if>
            <if test="leixing != null and leixing != ''">and leixing = #{leixing}</if>
            <if test="tax != null and tax != ''">and tax = #{tax}</if>
            <if test="taxPrice != null and taxPrice != ''">and tax_price = #{taxPrice}</if>
            <if test="tradePrice != null and tradePrice != ''">and trade_price = #{tradePrice}</if>
            <if test="transferPrice != null and transferPrice != ''">and transfer_price = #{transferPrice}</if>
            <if test="retailPrice != null and retailPrice != ''">and retail_price = #{retailPrice}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="state != null and state != ''">and state = #{state}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.product.domain.ShiguangDO" useGeneratedKeys="true" keyProperty="id">
		insert into aa_shiguang
		(
			`produc_num`, 
			`produc_code`, 
			`produc_name`, 
			`mfrsid`, 
			`brandid`, 
			`brandnum`,
			`factory`,
			`produc_factory`, 
			`proid`, 
			`unitid`, 
			`batchid`, 
			`leixing`, 
			`tax`, 
			`tax_price`, 
			`trade_price`, 
			`transfer_price`, 
			`retail_price`,
			`status`,
			`state`
		)
		values
		(
			#{producNum}, 
			#{producCode}, 
			#{producName}, 
			#{mfrsid}, 
			#{brandid}, 
			#{brandnum},
			#{factory},
			#{producFactory}, 
			#{proid}, 
			#{unitid}, 
			#{batchid}, 
			#{leixing}, 
			#{tax}, 
			#{taxPrice}, 
			#{tradePrice}, 
			#{transferPrice}, 
			#{retailPrice},
			#{status},
			#{state}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.product.domain.ShiguangDO">
        update aa_shiguang
        <set>
            <if test="producNum != null">`produc_num` = #{producNum},</if>
            <if test="producCode != null">`produc_code` = #{producCode},</if>
            <if test="producName != null">`produc_name` = #{producName},</if>
            <if test="mfrsid != null">`mfrsid` = #{mfrsid},</if>
            <if test="brandid != null">`brandid` = #{brandid},</if>
            <if test="brandnum != null">`brandnum` = #{brandnum},</if>
            <if test="factory != null">`factory` = #{factory},</if>
            <if test="producFactory != null">`produc_factory` = #{producFactory},</if>
            <if test="proid != null">`proid` = #{proid},</if>
            <if test="unitid != null">`unitid` = #{unitid},</if>
            <if test="batchid != null">`batchid` = #{batchid},</if>
            <if test="leixing != null">`leixing` = #{leixing},</if>
            <if test="tax != null">`tax` = #{tax},</if>
            <if test="taxPrice != null">`tax_price` = #{taxPrice},</if>
            <if test="tradePrice != null">`trade_price` = #{tradePrice},</if>
            <if test="transferPrice != null">`transfer_price` = #{transferPrice},</if>
            <if test="retailPrice != null">`retail_price` = #{retailPrice},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="state != null">`state` = #{state}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from aa_shiguang where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from aa_shiguang where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--菜单联动显示-->
    <select id="choice" resultType="com.shiguang.product.domain.ShiguangDO">
		select  brandid,brandnum ,brandname  from c_brand  where mfrsid=#{mfrsid} and goodsid=#{goodsid} group by brandid
	</select>
    <!--删除状态修改-->
    <update id="updateState" parameterType="com.shiguang.product.domain.ShiguangDO">
    update aa_shiguang set `state` = #{state} where id = #{id}
    </update>
</mapper>