<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.product.dao.SphDao">

	<select id="get" resultType="com.shiguang.product.domain.SphDO">
		select `sph_id`,`sph` from a_sph where sph_id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.product.domain.SphDO">
		select `sph_id`,`sph` from a_sph
        <where>  
		  		  <if test="sphId != null and sphId != ''"> and sph_id = #{sphId} </if>
		  		  <if test="sph != null and sph != ''"> and sph = #{sph} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by sph_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from a_sph
		 <where>  
		  		  <if test="sphId != null and sphId != ''"> and sph_id = #{sphId} </if>
		  		  <if test="sph != null and sph != ''"> and sph = #{sph} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shiguang.product.domain.SphDO" useGeneratedKeys="true" keyProperty="sphId">
		insert into a_sph
		(
			`sph`
		)
		values
		(
			#{sph}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.product.domain.SphDO">
		update a_sph 
		<set>
			<if test="sph != null">`sph` = #{sph}</if>
		</set>
		where sph_id = #{sphId}
	</update>
	
	<delete id="remove">
		delete from a_sph where sph_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from a_sph where sph_id in 
		<foreach item="sphId" collection="array" open="(" separator="," close=")">
			#{sphId}
		</foreach>
	</delete>

</mapper>