<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.product.dao.SphDao">

	<select id="get" resultType="com.shiguang.product.domain.SphDO">
		select `id`,`sph` from a_sph where id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.product.domain.SphDO">
		select `id`,`sph` from a_sph
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="sph != null and sph != ''"> and sph = #{sph} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from a_sph
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="sph != null and sph != ''"> and sph = #{sph} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shiguang.product.domain.SphDO">
		insert into a_sph
		(
			`id`, 
			`sph`
		)
		values
		(
			#{id}, 
			#{sph}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.product.domain.SphDO">
		update a_sph 
		<set>
			<if test="sph != null">`sph` = #{sph}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from a_sph where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from a_sph where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>