<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.product.dao.YxcpDao">

    <select id="get" resultType="com.shiguang.product.domain.YxcpDO">
		select l.cyl,s.sph,
        m.`mfrsname`,b.`brandname`,u.`unitname`,
        y.`id`,y.`produc_num`,y.`produc_code`,y.`produc_name`,y.`mfrsid`,y.`brandid`,y.`brandnum`,y.`proid`,y.`unitid`,y.`sph_id`,y.`cyl_id`,y.`curvature`,y.`diameter`,y.`factory`,
        y.`usage_id`,y.`type_id`,y.`use_days`,y.`upday`,y.`downday`,y.`color`,y.`invisible_id`,y.`caizhi_id`,y.`tax`,y.`tax_price`,y.`trade_price`,y.`transfer_price`,
        y.`retail_price`,y.`xsstate`,y.`state`,y.`classtype`
        from aa_yxcp y left join c_mfrs m on y.mfrsid=m.mfrsnum left join c_brand b on y.brandnum=b.brandnum  and y.mfrsid=b.mfrsid
        left join c_unit u on y.unitid= u.unitid left join a_cyl l on l.cyl_id=y.cyl_id left join a_sph s on
        s.sph_id=y.sph_id
		where y.id = #{value}
	</select>

    <select id="list" resultType="com.shiguang.product.domain.YxcpDO">
        select l.cyl,s.sph,
        m.`mfrsname`,b.`brandname`,u.`unitname`,
        y.`id`,y.`produc_num`,y.`produc_code`,y.`produc_name`,y.`mfrsid`,y.`brandid`,y.`brandnum`,y.`proid`,y.`unitid`,y.`sph_id`,y.`cyl_id`,y.`curvature`,y.`diameter`,y.`factory`,
        y.`usage_id`,y.`type_id`,y.`use_days`,y.`upday`,y.`downday`,y.`color`,y.`invisible_id`,y.`caizhi_id`,y.`tax`,y.`tax_price`,y.`trade_price`,y.`transfer_price`,
        y.`retail_price`,y.`xsstate`,y.`state`,y.`classtype`
        from aa_yxcp y left join c_mfrs m on y.mfrsid=m.mfrsnum left join c_brand b on y.brandnum=b.brandnum AND y.`mfrsid`=b.`mfrsid`
        left join c_unit u on y.unitid= u.unitid left join a_cyl l on l.cyl_id=y.cyl_id left join a_sph s on
        s.sph_id=y.sph_id
        <where>
            <if test="producNum != null and producNum != ''">and y.produc_num LIKE concat(concat('%', #{producNum}),'%')</if>
            <if test="producName != null and producName != ''">and y.produc_name LIKE concat(concat('%', #{producName}),'%')</if>
            <if test="goodsCode != null and goodsCode != ''">and y.produc_code LIKE concat(concat('%', #{goodsCode}),'%')</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname LIKE concat(concat('%', #{mfrsname}),'%')</if>
            <if test="brandname != null and brandname != ''">and b.brandname LIKE concat(concat('%', #{brandname}),'%')</if>
            <if test="retailPrice != null and retailPrice != ''">
                and   #{retailPrice} &lt;=  y.retail_price
            </if>
            <if test="retailPrice2 != null and retailPrice2 != ''">
                and y.retail_price &lt;=  #{retailPrice2}
            </if>
            <if test="taxPrice != null and taxPrice != ''">
                and   #{taxPrice} &lt;=  y.tax_price
            </if>
            <if test="taxPrice2 != null and taxPrice2 != ''">
                and y.retail_price &lt;=  #{taxPrice2}
            </if>
            <if test="usageId != null and usageId != ''">and y.usage_id = #{usageId}</if>
            <if test="typeId != null and typeId != ''">and y.type_id = #{typeId}</if>
            <if test="xsstate != null and xsstate != ''">and y.xsstate = #{xsstate}</if>
            <if test="classtype != null and classtype != ''">and y.classtype = #{classtype}</if>

            <if test="sph != null and sph != ''">
                and s.sph between #{sph,jdbcType=VARCHAR} and (#{sph2,jdbcType=VARCHAR})
            </if>
            <if test="cyl != null and cyl != ''">
                and l.cyl between #{cyl,jdbcType=VARCHAR} and #{cyl2,jdbcType=VARCHAR}
            </if>
            and y.state=1
        </where>

        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                  order by  y.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*)  from aa_yxcp y left join c_mfrs m on y.mfrsid=m.mfrsnum left join c_brand b on y.brandnum=b.brandnum AND y.`mfrsid`=b.`mfrsid`
        left join c_unit u on y.unitid= u.unitid left join a_cyl l on l.cyl_id=y.cyl_id left join a_sph s on
        s.sph_id=y.sph_id
        <where>
            <if test="producNum != null and producNum != ''">and y.produc_num LIKE concat(concat('%', #{producNum}),'%')</if>
            <if test="producName != null and producName != ''">and y.produc_name LIKE concat(concat('%', #{producName}),'%')</if>
            <if test="goodsCode != null and goodsCode != ''">and y.produc_code LIKE concat(concat('%', #{goodsCode}),'%')</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname LIKE concat(concat('%', #{mfrsname}),'%')</if>
            <if test="brandname != null and brandname != ''">and b.brandname LIKE concat(concat('%', #{brandname}),'%')</if>
            <if test="retailPrice != null and retailPrice != ''">
                and   #{retailPrice} &lt;=  y.retail_price
            </if>
            <if test="retailPrice2 != null and retailPrice2 != ''">
                and y.retail_price &lt;=  #{retailPrice2}
            </if>
            <if test="taxPrice != null and taxPrice != ''">
                and   #{taxPrice} &lt;=  y.tax_price
            </if>
            <if test="taxPrice2 != null and taxPrice2 != ''">
                and y.retail_price &lt;=  #{taxPrice2}
            </if>
            <if test="usageId != null and usageId != ''">and y.usage_id = #{usageId}</if>
            <if test="typeId != null and typeId != ''">and y.type_id = #{typeId}</if>
            <if test="xsstate != null and xsstate != ''">and y.xsstate = #{xsstate}</if>
            <if test="classtype != null and classtype != ''">and y.classtype = #{classtype}</if>

            <if test="sph != null and sph != ''">
                and s.sph between #{sph,jdbcType=VARCHAR} and (#{sph2,jdbcType=VARCHAR})
            </if>
            <if test="cyl != null and cyl != ''">
                and l.cyl between #{cyl,jdbcType=VARCHAR} and #{cyl2,jdbcType=VARCHAR}
            </if>
            and y.state=1
        </where>

    </select>

    <insert id="save" parameterType="com.shiguang.product.domain.YxcpDO" useGeneratedKeys="true" keyProperty="id">
		insert into aa_yxcp
		(
			`produc_num`, 
			`produc_code`, 
			`produc_name`, 
			`mfrsid`, 
			`brandid`, 
			`brandnum`,
			`proid`,
			`unitid`, 
			`sph_id`, 
			`cyl_id`, 
			`curvature`, 
			`diameter`, 
			`factory`, 
			`usage_id`, 
			`type_id`, 
			`use_days`, 
			`upday`, 
			`downday`, 
			`color`, 
			`invisible_id`, 
			`caizhi_id`, 
			`tax`, 
			`tax_price`, 
			`trade_price`, 
			`transfer_price`, 
	        `retail_price`,
			`xsstate`,
			`state`,
			`classtype`
		)
		values
		(
			#{producNum}, 
			#{producCode}, 
			#{producName}, 
			#{mfrsid}, 
			#{brandid}, 
			#{brandnum},
			#{proid},
			#{unitid}, 
			#{sphId}, 
			#{cylId}, 
			#{curvature}, 
			#{diameter}, 
			#{factory}, 
			#{usageId}, 
			#{typeId}, 
			#{useDays}, 
			#{upday}, 
			#{downday}, 
			#{color}, 
			#{invisibleId}, 
			#{caizhiId}, 
			#{tax}, 
			#{taxPrice}, 
			#{tradePrice}, 
			#{transferPrice}, 
			#{retailPrice},
			#{xsstate},
			#{state},
			#{classtype}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.product.domain.YxcpDO">
        update aa_yxcp
        <set>
            <if test="producNum != null">`produc_num` = #{producNum},</if>
            <if test="producCode != null">`produc_code` = #{producCode},</if>
            <if test="producName != null">`produc_name` = #{producName},</if>
            <if test="mfrsid != null">`mfrsid` = #{mfrsid},</if>
            <if test="brandid != null">`brandid` = #{brandid},</if>
            <if test="brandnum != null">`brandnum` = #{brandnum},</if>
            <if test="proid != null">`proid` = #{proid},</if>
            <if test="unitid != null">`unitid` = #{unitid},</if>
            <if test="sphId != null">`sph_id` = #{sphId},</if>
            <if test="cylId != null">`cyl_id` = #{cylId},</if>
            <if test="curvature != null">`curvature` = #{curvature},</if>
            <if test="diameter != null">`diameter` = #{diameter},</if>
            <if test="factory != null">`factory` = #{factory},</if>
            <if test="usageId != null">`usage_id` = #{usageId},</if>
            <if test="typeId != null">`type_id` = #{typeId},</if>
            <if test="useDays != null">`use_days` = #{useDays},</if>
            <if test="upday != null">`upday` = #{upday},</if>
            <if test="downday != null">`downday` = #{downday},</if>
            <if test="color != null">`color` = #{color},</if>
            <if test="invisibleId != null">`invisible_id` = #{invisibleId},</if>
            <if test="caizhiId != null">`caizhi_id` = #{caizhiId},</if>
            <if test="tax != null">`tax` = #{tax},</if>
            <if test="taxPrice != null">`tax_price` = #{taxPrice},</if>
            <if test="tradePrice != null">`trade_price` = #{tradePrice},</if>
            <if test="transferPrice != null">`transfer_price` = #{transferPrice},</if>
            <if test="retailPrice != null">`retail_price` = #{retailPrice},</if>
            <if test="xsstate != null">`xsstate` = #{xsstate},</if>
            <if test="state != null">`state` = #{state},</if>
            <if test="classtype != null">`classtype` = #{classtype}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from aa_yxcp where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from aa_yxcp where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--菜单联动显示-->
    <select id="choice" resultType="com.shiguang.product.domain.YxcpDO">
		select  brandid,brandnum ,brandname  from c_brand  where mfrsid=#{mfrsid} and goodsid=#{goodsid} group by brandid
	</select>
    <!--删除状态修改-->
    <update id="updateState" parameterType="com.shiguang.product.domain.YxcpDO">
    update aa_yxcp set `state` = #{state} where id = #{id}
    </update>
    <!--是否存在商品代码-->
    <select id="haveNum" resultType="com.shiguang.product.domain.YxcpDO">
        select produc_num from aa_yxcp where produc_num=#{producNum} order by id
	</select>
</mapper>