<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.product.dao.YxcpDao">

    <select id="get" resultType="com.shiguang.product.domain.YxcpDO">
		select l.cyl,s.sph,
        m.`mfrsname`,b.`brandname`,u.`unitname`,
        y.`id`,y.`produc_num`,y.`produc_code`,y.`produc_name`,y.`mfrsid`,y.`brandid`,y.`brandnum`,y.`proid`,y.`unitid`,y.`sph_id`,y.`cyl_id`,y.`curvature`,y.`diameter`,y.`factory`,
        y.`usage_id`,y.`type_id`,y.`use_days`,y.`upday`,y.`downday`,y.`color`,y.`invisible_id`,y.`caizhi_id`,y.`tax`,y.`tax_price`,y.`trade_price`,y.`transfer_price`,
        y.`retail_price`,y.`status`,y.`state`
        from aa_yxcp y left join c_mfrs m on y.mfrsid=m.mfrsid left join c_brand b on y.brandnum=b.brandnum
        left join c_unit u on y.unitid= u.unitid left join a_cyl l on l.cyl_id=y.cyl_id left join a_sph s on
        s.sph_id=y.sph_id
		where id = #{value}
	</select>

    <select id="list" resultType="com.shiguang.product.domain.YxcpDO">
        select l.cyl,s.sph,
        m.`mfrsname`,b.`brandname`,u.`unitname`,
        y.`id`,y.`produc_num`,y.`produc_code`,y.`produc_name`,y.`mfrsid`,y.`brandid`,y.`brandnum`,y.`proid`,y.`unitid`,y.`sph_id`,y.`cyl_id`,y.`curvature`,y.`diameter`,y.`factory`,
        y.`usage_id`,y.`type_id`,y.`use_days`,y.`upday`,y.`downday`,y.`color`,y.`invisible_id`,y.`caizhi_id`,y.`tax`,y.`tax_price`,y.`trade_price`,y.`transfer_price`,
        y.`retail_price`,y.`status`,y.`state`
        from aa_yxcp y left join c_mfrs m on y.mfrsid=m.mfrsid left join c_brand b on y.brandnum=b.brandnum
        left join c_unit u on y.unitid= u.unitid left join a_cyl l on l.cyl_id=y.cyl_id left join a_sph s on
        s.sph_id=y.sph_id
        <where>
            <if test="producNum != null and producNum != ''">and y.produc_num = #{producNum}</if>
            <if test="producName != null and producName != ''">and y.produc_name = #{producName}</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname = #{mfrsname}</if>
            <if test="brandname != null and brandname != ''">and b.brandname = #{brandname}</if>
            <if test="retailPrice != null and retailPrice != ''">
                and y.retail_price between #{retailPrice,jdbcType=VARCHAR} and #{retailPrice2,jdbcType=VARCHAR}
            </if>
            <if test="taxPrice != null and taxPrice != ''">
                and y.tax_price between #{taxPrice,jdbcType=VARCHAR} and #{taxPrice2,jdbcType=VARCHAR}
            </if>
            <if test="usageId != null and usageId != ''">and y.usage_id = #{usageId}</if>
            <if test="typeId != null and typeId != ''">and y.type_id = #{typeId}</if>
            <if test="status != null and status != ''">and y.status = #{status}</if>

            <if test="sph != null and sph != ''">
                and s.sph between #{sph,jdbcType=VARCHAR} and (#{sph2,jdbcType=VARCHAR})
            </if>
            <if test="cyl != null and cyl != ''">
                and l.cyl between #{cyl,jdbcType=VARCHAR} and #{cyl2,jdbcType=VARCHAR}
            </if>
            and y.state=1
        </where>
        group by y.id order by y.status asc ,y.id asc
    </select>

    <select id="count" resultType="int">
        select count(*) from aa_yxcp
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="producNum != null and producNum != ''">and produc_num = #{producNum}</if>
            <if test="producCode != null and producCode != ''">and produc_code = #{producCode}</if>
            <if test="producName != null and producName != ''">and produc_name = #{producName}</if>
            <if test="mfrsid != null and mfrsid != ''">and mfrsid = #{mfrsid}</if>
            <if test="brandid != null and brandid != ''">and brandid = #{brandid}</if>
            <if test="brandnum != null and brandnum != ''">and brandnum = #{brandnum}</if>
            <if test="proid != null and proid != ''">and proid = #{proid}</if>
            <if test="unitid != null and unitid != ''">and unitid = #{unitid}</if>
            <if test="sphId != null and sphId != ''">and sph_id = #{sphId}</if>
            <if test="cylId != null and cylId != ''">and cyl_id = #{cylId}</if>
            <if test="curvature != null and curvature != ''">and curvature = #{curvature}</if>
            <if test="diameter != null and diameter != ''">and diameter = #{diameter}</if>
            <if test="factory != null and factory != ''">and factory = #{factory}</if>
            <if test="usageId != null and usageId != ''">and usage_id = #{usageId}</if>
            <if test="typeId != null and typeId != ''">and type_id = #{typeId}</if>
            <if test="useDays != null and useDays != ''">and use_days = #{useDays}</if>
            <if test="upday != null and upday != ''">and upday = #{upday}</if>
            <if test="downday != null and downday != ''">and downday = #{downday}</if>
            <if test="color != null and color != ''">and color = #{color}</if>
            <if test="invisibleId != null and invisibleId != ''">and invisible_id = #{invisibleId}</if>
            <if test="caizhiId != null and caizhiId != ''">and caizhi_id = #{caizhiId}</if>
            <if test="tax != null and tax != ''">and tax = #{tax}</if>
            <if test="taxPrice != null and taxPrice != ''">and tax_price = #{taxPrice}</if>
            <if test="tradePrice != null and tradePrice != ''">and trade_price = #{tradePrice}</if>
            <if test="transferPrice != null and transferPrice != ''">and transfer_price = #{transferPrice}</if>
            <if test="retailPrice != null and retailPrice != ''">and retail_price = #{retailPrice}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="state != null and state != ''">and state = #{state}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.product.domain.YxcpDO" useGeneratedKeys="true" keyProperty="id">
		insert into aa_yxcp
		(
			`produc_num`, 
			`produc_code`, 
			`produc_name`, 
			`mfrsid`, 
			`brandid`, 
			`brandnum`,
			`proid`,
			`unitid`, 
			`sph_id`, 
			`cyl_id`, 
			`curvature`, 
			`diameter`, 
			`factory`, 
			`usage_id`, 
			`type_id`, 
			`use_days`, 
			`upday`, 
			`downday`, 
			`color`, 
			`invisible_id`, 
			`caizhi_id`, 
			`tax`, 
			`tax_price`, 
			`trade_price`, 
			`transfer_price`, 
	        `retail_price`,
			`status`,
			`state`
		)
		values
		(
			#{producNum}, 
			#{producCode}, 
			#{producName}, 
			#{mfrsid}, 
			#{brandid}, 
			#{brandnum},
			#{proid},
			#{unitid}, 
			#{sphId}, 
			#{cylId}, 
			#{curvature}, 
			#{diameter}, 
			#{factory}, 
			#{usageId}, 
			#{typeId}, 
			#{useDays}, 
			#{upday}, 
			#{downday}, 
			#{color}, 
			#{invisibleId}, 
			#{caizhiId}, 
			#{tax}, 
			#{taxPrice}, 
			#{tradePrice}, 
			#{transferPrice}, 
			#{retailPrice},
			#{status},
			#{state}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.product.domain.YxcpDO">
        update aa_yxcp
        <set>
            <if test="producNum != null">`produc_num` = #{producNum},</if>
            <if test="producCode != null">`produc_code` = #{producCode},</if>
            <if test="producName != null">`produc_name` = #{producName},</if>
            <if test="mfrsid != null">`mfrsid` = #{mfrsid},</if>
            <if test="brandid != null">`brandid` = #{brandid},</if>
            <if test="brandnum != null">`brandnum` = #{brandnum},</if>
            <if test="proid != null">`proid` = #{proid},</if>
            <if test="unitid != null">`unitid` = #{unitid},</if>
            <if test="sphId != null">`sph_id` = #{sphId},</if>
            <if test="cylId != null">`cyl_id` = #{cylId},</if>
            <if test="curvature != null">`curvature` = #{curvature},</if>
            <if test="diameter != null">`diameter` = #{diameter},</if>
            <if test="factory != null">`factory` = #{factory},</if>
            <if test="usageId != null">`usage_id` = #{usageId},</if>
            <if test="typeId != null">`type_id` = #{typeId},</if>
            <if test="useDays != null">`use_days` = #{useDays},</if>
            <if test="upday != null">`upday` = #{upday},</if>
            <if test="downday != null">`downday` = #{downday},</if>
            <if test="color != null">`color` = #{color},</if>
            <if test="invisibleId != null">`invisible_id` = #{invisibleId},</if>
            <if test="caizhiId != null">`caizhi_id` = #{caizhiId},</if>
            <if test="tax != null">`tax` = #{tax},</if>
            <if test="taxPrice != null">`tax_price` = #{taxPrice},</if>
            <if test="tradePrice != null">`trade_price` = #{tradePrice},</if>
            <if test="transferPrice != null">`transfer_price` = #{transferPrice},</if>
            <if test="retailPrice != null">`retail_price` = #{retailPrice},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="state != null">`state` = #{state}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from aa_yxcp where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from aa_yxcp where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--菜单联动显示-->
    <select id="choice" resultType="com.shiguang.product.domain.YxcpDO">
		select  brandid,brandnum ,brandname  from c_brand  where mfrsid=#{mfrsid} and goodsid=#{goodsid} group by brandid
	</select>
    <!--删除状态修改-->
    <update id="updateState" parameterType="com.shiguang.product.domain.YxcpDO">
    update aa_yxcp set `state` = #{state} where id = #{id}
    </update>
</mapper>