<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.baseinfomation.dao.AdditionalDao">

    <select id="get" resultType="com.shiguang.baseinfomation.domain.AdditionalDO">
		select `id`,`addition_num`,`addition_name`,`price`,`remark` from additional where id = #{value}
	</select>

    <select id="list" resultType="com.shiguang.baseinfomation.domain.AdditionalDO">
        select `id`,`addition_num`,`addition_name`,`price`,`remark` from additional
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="additionNum != null and additionNum != ''"> and addition_num = #{additionNum} </if>
            <if test="additionName != null and additionName != ''"> and addition_name = #{additionName} </if>
            <if test="price != null and price != ''"> and price = #{price} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from additional
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="additionNum != null and additionNum != ''"> and addition_num = #{additionNum} </if>
            <if test="additionName != null and additionName != ''"> and addition_name = #{additionName} </if>
            <if test="price != null and price != ''"> and price = #{price} </if>
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.baseinfomation.domain.AdditionalDO" useGeneratedKeys="true" keyProperty="id">
		insert into additional
		(
			`addition_num`,
			`addition_name`,
			`price`,
			`remark`
		)
		values
		(
			#{additionNum},
			#{additionName},
			#{price},
			#{remark}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.baseinfomation.domain.AdditionalDO">
        update additional
        <set>
            <if test="additionNum != null">`addition_num` = #{additionNum}, </if>
            <if test="additionName != null">`addition_name` = #{additionName}, </if>
            <if test="price != null">`price` = #{price}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from additional where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from additional where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>