<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.baseinfomation.dao.VocationDao">
    <select id="get" resultType="com.shiguang.baseinfomation.domain.VocationDO">
		select `id`,`vocation_number`,`vocation_name` from vocation where id = #{value}
	</select>

    <select id="list" resultType="com.shiguang.baseinfomation.domain.VocationDO">
        select `id`,`vocation_number`,`vocation_name` from vocation
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="vocationNumber != null and vocationNumber != ''"> and vocation_number = #{vocationNumber} </if>
            <if test="vocationName != null and vocationName != ''"> and vocation_name = #{vocationName} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from vocation
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="vocationNumber != null and vocationNumber != ''"> and vocation_number = #{vocationNumber} </if>
            <if test="vocationName != null and vocationName != ''"> and vocation_name = #{vocationName} </if>
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.baseinfomation.domain.VocationDO" useGeneratedKeys="true" keyProperty="id">
		insert into vocation
		(
			`vocation_number`,
			`vocation_name`
		)
		values
		(
			#{vocationNumber},
			#{vocationName}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.baseinfomation.domain.VocationDO">
        update vocation
        <set>
            <if test="vocationNumber != null">`vocation_number` = #{vocationNumber}, </if>
            <if test="vocationName != null">`vocation_name` = #{vocationName}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from vocation where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from vocation where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>