<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
																																			<div class="form-group">	
								<label class="col-sm-3 control-label">卡号：</label>
								<div class="col-sm-8">
									<input id="cardNumber" name="cardNumber" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">验光号：</label>
								<div class="col-sm-8">
									<input id="ptometryNumber" name="ptometryNumber" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">验光师：</label>
								<div class="col-sm-8">
									<input id="optometryName" name="optometryName" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">转诊医生：</label>
								<div class="col-sm-8">
									<input id="referralDoctor" name="referralDoctor" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">转诊：</label>
								<div class="col-sm-8">
									<input id="referral" name="referral" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">主诉：</label>
								<div class="col-sm-8">
									<input id="chiefComplaint" name="chiefComplaint" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">球镜(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="sphereRighttry" name="sphereRighttry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">球镜(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="sphereLefttry" name="sphereLefttry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="cylinderRighttry" name="cylinderRighttry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="cylinderLefttry" name="cylinderLefttry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">轴向(右眼-OD)：</label>
								<div class="col-sm-8">
									<input id="axialRighttry" name="axialRighttry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">轴向(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="axialLefttry" name="axialLefttry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">DVA(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="dvaRighttry" name="dvaRighttry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">DVA(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="dvaLefttry" name="dvaLefttry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">NVA(OD)：</label>
								<div class="col-sm-8">
									<input id="nvaRighttry" name="nvaRighttry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">NVA(OS)：</label>
								<div class="col-sm-8">
									<input id="nvaLefttry" name="nvaLefttry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">三棱镜(OD)：</label>
								<div class="col-sm-8">
									<input id="prismRighttry" name="prismRighttry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">三棱镜(OS)：</label>
								<div class="col-sm-8">
									<input id="prismLefttry" name="prismLefttry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">基底(OD)：</label>
								<div class="col-sm-8">
									<input id="jdrTry" name="jdrTry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">基底(OS)：</label>
								<div class="col-sm-8">
									<input id="jdlTry" name="jdlTry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">瞳高(mm)(OD)：</label>
								<div class="col-sm-8">
									<input id="heightRighttry" name="heightRighttry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">瞳高(mm)(OS)：</label>
								<div class="col-sm-8">
									<input id="heightLefttry" name="heightLefttry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">Add(OD)：</label>
								<div class="col-sm-8">
									<input id="addRighttry" name="addRighttry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">Add(OS)：</label>
								<div class="col-sm-8">
									<input id="addLefttry" name="addLefttry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">远用瞳孔距(mm)(OD)：</label>
								<div class="col-sm-8">
									<input id="yuanRrty" name="yuanRrty" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">远用瞳孔距(mm)(OS)：</label>
								<div class="col-sm-8">
									<input id="yuanLrty" name="yuanLrty" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">近用瞳孔距(mm)(OD)：</label>
								<div class="col-sm-8">
									<input id="nearRighttry" name="nearRighttry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">近用瞳孔距(mm)(OS)：</label>
								<div class="col-sm-8">
									<input id="nearLefttry" name="nearLefttry" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="remarks" name="remarks" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">裸眼视力远OU：</label>
								<div class="col-sm-8">
									<input id="farLyou" name="farLyou" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">裸眼视力远OD：</label>
								<div class="col-sm-8">
									<input id="farLyod" name="farLyod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">裸眼视力远OS：</label>
								<div class="col-sm-8">
									<input id="farLyos" name="farLyos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">裸眼视力近OU：</label>
								<div class="col-sm-8">
									<input id="nearLyou" name="nearLyou" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">裸眼视力近OD：</label>
								<div class="col-sm-8">
									<input id="nearLyod" name="nearLyod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">裸眼视力近OS：</label>
								<div class="col-sm-8">
									<input id="nearLyos" name="nearLyos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">原镜视力远OU：</label>
								<div class="col-sm-8">
									<input id="farYjou" name="farYjou" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">原镜视力远OD：</label>
								<div class="col-sm-8">
									<input id="farYjod" name="farYjod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">原镜视力远OS：</label>
								<div class="col-sm-8">
									<input id="farYjos" name="farYjos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">原镜视力近OU：</label>
								<div class="col-sm-8">
									<input id="nearYjou" name="nearYjou" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">原镜视力近OD：</label>
								<div class="col-sm-8">
									<input id="nearYjod" name="nearYjod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">原镜视力近OS：</label>
								<div class="col-sm-8">
									<input id="nearYjos" name="nearYjos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">小孔视力远OU：</label>
								<div class="col-sm-8">
									<input id="farXkou" name="farXkou" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">小孔视力远OD：</label>
								<div class="col-sm-8">
									<input id="farXkod" name="farXkod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">小孔视力远OS：</label>
								<div class="col-sm-8">
									<input id="farXkos" name="farXkos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">小孔视力近OU：</label>
								<div class="col-sm-8">
									<input id="nearXkou" name="nearXkou" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">小孔视力近OD：</label>
								<div class="col-sm-8">
									<input id="nearXkod" name="nearXkod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">小孔视力近OS：</label>
								<div class="col-sm-8">
									<input id="nearXkos" name="nearXkos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">主导眼：</label>
								<div class="col-sm-8">
									<input id="dominantEye" name="dominantEye" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">眼轴：</label>
								<div class="col-sm-8">
									<input id="axis" name="axis" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">眼轴(OS)：</label>
								<div class="col-sm-8">
									<input id="axisLeft" name="axisLeft" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">角膜K1值(右眼)：</label>
								<div class="col-sm-8">
									<input id="cornealFirstK1Right" name="cornealFirstK1Right" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">角膜K1值@A(右眼)：</label>
								<div class="col-sm-8">
									<input id="cornealLastK1Right" name="cornealLastK1Right" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">角膜K1值(左眼)：</label>
								<div class="col-sm-8">
									<input id="cornealFirstK1Left" name="cornealFirstK1Left" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">角膜K1值@A(左眼)：</label>
								<div class="col-sm-8">
									<input id="cornealLastK1Left" name="cornealLastK1Left" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">角膜K2值(右眼)：</label>
								<div class="col-sm-8">
									<input id="cornealFirstK2Right" name="cornealFirstK2Right" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">角膜K2值@A(右眼)：</label>
								<div class="col-sm-8">
									<input id="cornealLastK2Right" name="cornealLastK2Right" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">角膜K2值(左眼)：</label>
								<div class="col-sm-8">
									<input id="cornealFirstK2Left" name="cornealFirstK2Left" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">角膜K2值@A(左眼)：</label>
								<div class="col-sm-8">
									<input id="cornealLastK2Left" name="cornealLastK2Left" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">平均k2OD：</label>
								<div class="col-sm-8">
									<input id="pjkOd2" name="pjkOd2" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">平均k2OS：</label>
								<div class="col-sm-8">
									<input id="pjkOs2" name="pjkOs2" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">眼压(OD)：</label>
								<div class="col-sm-8">
									<input id="intraocularOd" name="intraocularOd" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">眼压(OS)：</label>
								<div class="col-sm-8">
									<input id="intraocularOs" name="intraocularOs" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">是否散瞳(0:散瞳前1:散瞳后)：</label>
								<div class="col-sm-8">
									<input id="mydriasis" name="mydriasis" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">散瞳用药id：</label>
								<div class="col-sm-8">
									<input id="pharmacyId" name="pharmacyId" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">散瞳用药：</label>
								<div class="col-sm-8">
									<input id="pharmacy" name="pharmacy" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">球镜(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="sphereRight" name="sphereRight" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">球镜(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="sphereLeft" name="sphereLeft" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="cylinderRight" name="cylinderRight" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="cylinderLeft" name="cylinderLeft" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">轴向(右眼-OD)：</label>
								<div class="col-sm-8">
									<input id="axialRight" name="axialRight" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">轴向(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="axialLeft" name="axialLeft" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">角膜散光(OD)：</label>
								<div class="col-sm-8">
									<input id="cornealAstigmatismOd" name="cornealAstigmatismOd" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">角膜散光(OS)：</label>
								<div class="col-sm-8">
									<input id="cornealAstigmatismOs" name="cornealAstigmatismOs" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">检影球镜(OD)：</label>
								<div class="col-sm-8">
									<input id="sphJyod" name="sphJyod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">检影球镜(OS)：</label>
								<div class="col-sm-8">
									<input id="sphJyos" name="sphJyos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">检影柱镜(OD)：</label>
								<div class="col-sm-8">
									<input id="cylJyod" name="cylJyod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">检影柱镜(OS)：</label>
								<div class="col-sm-8">
									<input id="cylJyos" name="cylJyos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">检影轴向(OD)：</label>
								<div class="col-sm-8">
									<input id="axialJyod" name="axialJyod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">检影轴向(OS)：</label>
								<div class="col-sm-8">
									<input id="axialJyos" name="axialJyos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">检影VA(OD)：</label>
								<div class="col-sm-8">
									<input id="vaJyod" name="vaJyod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">检影VA(OS)：</label>
								<div class="col-sm-8">
									<input id="vaJyos" name="vaJyos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">检影瞳距(mm)(OD)：</label>
								<div class="col-sm-8">
									<input id="pdJyod" name="pdJyod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">检影瞳距(mm)(OS)：</label>
								<div class="col-sm-8">
									<input id="pdJyos" name="pdJyos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">插片球镜(OD)：</label>
								<div class="col-sm-8">
									<input id="sphCpod" name="sphCpod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">插片球镜(OS)：</label>
								<div class="col-sm-8">
									<input id="sphCpos" name="sphCpos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">插片柱镜(OD)：</label>
								<div class="col-sm-8">
									<input id="cylCpod" name="cylCpod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">插片柱镜(OS)：</label>
								<div class="col-sm-8">
									<input id="cylCpos" name="cylCpos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">插片轴向(OD)：</label>
								<div class="col-sm-8">
									<input id="axialCpod" name="axialCpod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">插片轴向(OS)：</label>
								<div class="col-sm-8">
									<input id="axialCpos" name="axialCpos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">插片DVA(OD)：</label>
								<div class="col-sm-8">
									<input id="dvaCpod" name="dvaCpod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">插片DVA(OS)：</label>
								<div class="col-sm-8">
									<input id="dvaCpos" name="dvaCpos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">插片NVA(OD)：</label>
								<div class="col-sm-8">
									<input id="nvaCpod" name="nvaCpod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">插片NVA(OS)：</label>
								<div class="col-sm-8">
									<input id="nvaCpos" name="nvaCpos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">插片add(OD)：</label>
								<div class="col-sm-8">
									<input id="addCpod" name="addCpod" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">插片add(OS)：</label>
								<div class="col-sm-8">
									<input id="addCpos" name="addCpos" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">插片测量距离(OD)：</label>
								<div class="col-sm-8">
									<input id="distanceOd" name="distanceOd" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">插片测量距离(OS)：</label>
								<div class="col-sm-8">
									<input id="distanceOs" name="distanceOs" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">球镜(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="sphereRightz" name="sphereRightz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">球镜(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="sphereLeftz" name="sphereLeftz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="cylinderRightz" name="cylinderRightz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="cylinderLeftz" name="cylinderLeftz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">轴向(右眼-OD)：</label>
								<div class="col-sm-8">
									<input id="axialRightz" name="axialRightz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">轴向(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="axialLeftz" name="axialLeftz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">DVA(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="dvaRightz" name="dvaRightz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">DVA(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="dvaLeftz" name="dvaLeftz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">NVA(OD)：</label>
								<div class="col-sm-8">
									<input id="nvaRightz" name="nvaRightz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">NVA(OS)：</label>
								<div class="col-sm-8">
									<input id="nvaLeftz" name="nvaLeftz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">三棱镜(OD)：</label>
								<div class="col-sm-8">
									<input id="prismRightz" name="prismRightz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">三棱镜(OS)：</label>
								<div class="col-sm-8">
									<input id="prismLeftz" name="prismLeftz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">基底(OD)：</label>
								<div class="col-sm-8">
									<input id="jdrZ" name="jdrZ" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">基底(OS)：</label>
								<div class="col-sm-8">
									<input id="jdlZ" name="jdlZ" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">Add(OD)：</label>
								<div class="col-sm-8">
									<input id="addRightz" name="addRightz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">Add(OS)：</label>
								<div class="col-sm-8">
									<input id="addLeftz" name="addLeftz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">远用瞳孔距(mm)(OD)：</label>
								<div class="col-sm-8">
									<input id="yuanRz" name="yuanRz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">远用瞳孔距(mm)(OS)：</label>
								<div class="col-sm-8">
									<input id="yuanLz" name="yuanLz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">近用瞳孔距(mm)(OD)：</label>
								<div class="col-sm-8">
									<input id="nearRightz" name="nearRightz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">近用瞳孔距(mm)(OS)：</label>
								<div class="col-sm-8">
									<input id="nearLeftz" name="nearLeftz" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/jiancha/tryresults/add.js">
	</script>
</body>
</html>
