<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${tryresults.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">卡号：</label>
								<div class="col-sm-8">
									<input id="cardNumber" name="cardNumber" th:value="${tryresults.cardNumber}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">验光号：</label>
								<div class="col-sm-8">
									<input id="ptometryNumber" name="ptometryNumber" th:value="${tryresults.ptometryNumber}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">验光师：</label>
								<div class="col-sm-8">
									<input id="optometryName" name="optometryName" th:value="${tryresults.optometryName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" th:value="${tryresults.createTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">转诊医生：</label>
								<div class="col-sm-8">
									<input id="referralDoctor" name="referralDoctor" th:value="${tryresults.referralDoctor}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">转诊：</label>
								<div class="col-sm-8">
									<input id="referral" name="referral" th:value="${tryresults.referral}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">主诉：</label>
								<div class="col-sm-8">
									<input id="chiefComplaint" name="chiefComplaint" th:value="${tryresults.chiefComplaint}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">球镜(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="sphereRighttry" name="sphereRighttry" th:value="${tryresults.sphereRighttry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">球镜(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="sphereLefttry" name="sphereLefttry" th:value="${tryresults.sphereLefttry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="cylinderRighttry" name="cylinderRighttry" th:value="${tryresults.cylinderRighttry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="cylinderLefttry" name="cylinderLefttry" th:value="${tryresults.cylinderLefttry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">轴向(右眼-OD)：</label>
								<div class="col-sm-8">
									<input id="axialRighttry" name="axialRighttry" th:value="${tryresults.axialRighttry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">轴向(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="axialLefttry" name="axialLefttry" th:value="${tryresults.axialLefttry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">DVA(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="dvaRighttry" name="dvaRighttry" th:value="${tryresults.dvaRighttry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">DVA(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="dvaLefttry" name="dvaLefttry" th:value="${tryresults.dvaLefttry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">NVA(OD)：</label>
								<div class="col-sm-8">
									<input id="nvaRighttry" name="nvaRighttry" th:value="${tryresults.nvaRighttry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">NVA(OS)：</label>
								<div class="col-sm-8">
									<input id="nvaLefttry" name="nvaLefttry" th:value="${tryresults.nvaLefttry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">三棱镜(OD)：</label>
								<div class="col-sm-8">
									<input id="prismRighttry" name="prismRighttry" th:value="${tryresults.prismRighttry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">三棱镜(OS)：</label>
								<div class="col-sm-8">
									<input id="prismLefttry" name="prismLefttry" th:value="${tryresults.prismLefttry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">基底(OD)：</label>
								<div class="col-sm-8">
									<input id="jdrTry" name="jdrTry" th:value="${tryresults.jdrTry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">基底(OS)：</label>
								<div class="col-sm-8">
									<input id="jdlTry" name="jdlTry" th:value="${tryresults.jdlTry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">瞳高(mm)(OD)：</label>
								<div class="col-sm-8">
									<input id="heightRighttry" name="heightRighttry" th:value="${tryresults.heightRighttry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">瞳高(mm)(OS)：</label>
								<div class="col-sm-8">
									<input id="heightLefttry" name="heightLefttry" th:value="${tryresults.heightLefttry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">Add(OD)：</label>
								<div class="col-sm-8">
									<input id="addRighttry" name="addRighttry" th:value="${tryresults.addRighttry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">Add(OS)：</label>
								<div class="col-sm-8">
									<input id="addLefttry" name="addLefttry" th:value="${tryresults.addLefttry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">远用瞳孔距(mm)(OD)：</label>
								<div class="col-sm-8">
									<input id="yuanRrty" name="yuanRrty" th:value="${tryresults.yuanRrty}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">远用瞳孔距(mm)(OS)：</label>
								<div class="col-sm-8">
									<input id="yuanLrty" name="yuanLrty" th:value="${tryresults.yuanLrty}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">近用瞳孔距(mm)(OD)：</label>
								<div class="col-sm-8">
									<input id="nearRighttry" name="nearRighttry" th:value="${tryresults.nearRighttry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">近用瞳孔距(mm)(OS)：</label>
								<div class="col-sm-8">
									<input id="nearLefttry" name="nearLefttry" th:value="${tryresults.nearLefttry}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="remarks" name="remarks" th:value="${tryresults.remarks}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">裸眼视力远OU：</label>
								<div class="col-sm-8">
									<input id="farLyou" name="farLyou" th:value="${tryresults.farLyou}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">裸眼视力远OD：</label>
								<div class="col-sm-8">
									<input id="farLyod" name="farLyod" th:value="${tryresults.farLyod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">裸眼视力远OS：</label>
								<div class="col-sm-8">
									<input id="farLyos" name="farLyos" th:value="${tryresults.farLyos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">裸眼视力近OU：</label>
								<div class="col-sm-8">
									<input id="nearLyou" name="nearLyou" th:value="${tryresults.nearLyou}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">裸眼视力近OD：</label>
								<div class="col-sm-8">
									<input id="nearLyod" name="nearLyod" th:value="${tryresults.nearLyod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">裸眼视力近OS：</label>
								<div class="col-sm-8">
									<input id="nearLyos" name="nearLyos" th:value="${tryresults.nearLyos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">原镜视力远OU：</label>
								<div class="col-sm-8">
									<input id="farYjou" name="farYjou" th:value="${tryresults.farYjou}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">原镜视力远OD：</label>
								<div class="col-sm-8">
									<input id="farYjod" name="farYjod" th:value="${tryresults.farYjod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">原镜视力远OS：</label>
								<div class="col-sm-8">
									<input id="farYjos" name="farYjos" th:value="${tryresults.farYjos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">原镜视力近OU：</label>
								<div class="col-sm-8">
									<input id="nearYjou" name="nearYjou" th:value="${tryresults.nearYjou}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">原镜视力近OD：</label>
								<div class="col-sm-8">
									<input id="nearYjod" name="nearYjod" th:value="${tryresults.nearYjod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">原镜视力近OS：</label>
								<div class="col-sm-8">
									<input id="nearYjos" name="nearYjos" th:value="${tryresults.nearYjos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">小孔视力远OU：</label>
								<div class="col-sm-8">
									<input id="farXkou" name="farXkou" th:value="${tryresults.farXkou}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">小孔视力远OD：</label>
								<div class="col-sm-8">
									<input id="farXkod" name="farXkod" th:value="${tryresults.farXkod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">小孔视力远OS：</label>
								<div class="col-sm-8">
									<input id="farXkos" name="farXkos" th:value="${tryresults.farXkos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">小孔视力近OU：</label>
								<div class="col-sm-8">
									<input id="nearXkou" name="nearXkou" th:value="${tryresults.nearXkou}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">小孔视力近OD：</label>
								<div class="col-sm-8">
									<input id="nearXkod" name="nearXkod" th:value="${tryresults.nearXkod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">小孔视力近OS：</label>
								<div class="col-sm-8">
									<input id="nearXkos" name="nearXkos" th:value="${tryresults.nearXkos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">主导眼：</label>
								<div class="col-sm-8">
									<input id="dominantEye" name="dominantEye" th:value="${tryresults.dominantEye}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">眼轴：</label>
								<div class="col-sm-8">
									<input id="axis" name="axis" th:value="${tryresults.axis}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">眼轴(OS)：</label>
								<div class="col-sm-8">
									<input id="axisLeft" name="axisLeft" th:value="${tryresults.axisLeft}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">角膜K1值(右眼)：</label>
								<div class="col-sm-8">
									<input id="cornealFirstK1Right" name="cornealFirstK1Right" th:value="${tryresults.cornealFirstK1Right}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">角膜K1值@A(右眼)：</label>
								<div class="col-sm-8">
									<input id="cornealLastK1Right" name="cornealLastK1Right" th:value="${tryresults.cornealLastK1Right}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">角膜K1值(左眼)：</label>
								<div class="col-sm-8">
									<input id="cornealFirstK1Left" name="cornealFirstK1Left" th:value="${tryresults.cornealFirstK1Left}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">角膜K1值@A(左眼)：</label>
								<div class="col-sm-8">
									<input id="cornealLastK1Left" name="cornealLastK1Left" th:value="${tryresults.cornealLastK1Left}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">角膜K2值(右眼)：</label>
								<div class="col-sm-8">
									<input id="cornealFirstK2Right" name="cornealFirstK2Right" th:value="${tryresults.cornealFirstK2Right}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">角膜K2值@A(右眼)：</label>
								<div class="col-sm-8">
									<input id="cornealLastK2Right" name="cornealLastK2Right" th:value="${tryresults.cornealLastK2Right}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">角膜K2值(左眼)：</label>
								<div class="col-sm-8">
									<input id="cornealFirstK2Left" name="cornealFirstK2Left" th:value="${tryresults.cornealFirstK2Left}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">角膜K2值@A(左眼)：</label>
								<div class="col-sm-8">
									<input id="cornealLastK2Left" name="cornealLastK2Left" th:value="${tryresults.cornealLastK2Left}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">平均k2OD：</label>
								<div class="col-sm-8">
									<input id="pjkOd2" name="pjkOd2" th:value="${tryresults.pjkOd2}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">平均k2OS：</label>
								<div class="col-sm-8">
									<input id="pjkOs2" name="pjkOs2" th:value="${tryresults.pjkOs2}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">眼压(OD)：</label>
								<div class="col-sm-8">
									<input id="intraocularOd" name="intraocularOd" th:value="${tryresults.intraocularOd}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">眼压(OS)：</label>
								<div class="col-sm-8">
									<input id="intraocularOs" name="intraocularOs" th:value="${tryresults.intraocularOs}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">是否散瞳(0:散瞳前1:散瞳后)：</label>
								<div class="col-sm-8">
									<input id="mydriasis" name="mydriasis" th:value="${tryresults.mydriasis}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">散瞳用药id：</label>
								<div class="col-sm-8">
									<input id="pharmacyId" name="pharmacyId" th:value="${tryresults.pharmacyId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">散瞳用药：</label>
								<div class="col-sm-8">
									<input id="pharmacy" name="pharmacy" th:value="${tryresults.pharmacy}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">球镜(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="sphereRight" name="sphereRight" th:value="${tryresults.sphereRight}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">球镜(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="sphereLeft" name="sphereLeft" th:value="${tryresults.sphereLeft}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="cylinderRight" name="cylinderRight" th:value="${tryresults.cylinderRight}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="cylinderLeft" name="cylinderLeft" th:value="${tryresults.cylinderLeft}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">轴向(右眼-OD)：</label>
								<div class="col-sm-8">
									<input id="axialRight" name="axialRight" th:value="${tryresults.axialRight}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">轴向(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="axialLeft" name="axialLeft" th:value="${tryresults.axialLeft}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">角膜散光(OD)：</label>
								<div class="col-sm-8">
									<input id="cornealAstigmatismOd" name="cornealAstigmatismOd" th:value="${tryresults.cornealAstigmatismOd}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">角膜散光(OS)：</label>
								<div class="col-sm-8">
									<input id="cornealAstigmatismOs" name="cornealAstigmatismOs" th:value="${tryresults.cornealAstigmatismOs}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检影球镜(OD)：</label>
								<div class="col-sm-8">
									<input id="sphJyod" name="sphJyod" th:value="${tryresults.sphJyod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检影球镜(OS)：</label>
								<div class="col-sm-8">
									<input id="sphJyos" name="sphJyos" th:value="${tryresults.sphJyos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检影柱镜(OD)：</label>
								<div class="col-sm-8">
									<input id="cylJyod" name="cylJyod" th:value="${tryresults.cylJyod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检影柱镜(OS)：</label>
								<div class="col-sm-8">
									<input id="cylJyos" name="cylJyos" th:value="${tryresults.cylJyos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检影轴向(OD)：</label>
								<div class="col-sm-8">
									<input id="axialJyod" name="axialJyod" th:value="${tryresults.axialJyod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检影轴向(OS)：</label>
								<div class="col-sm-8">
									<input id="axialJyos" name="axialJyos" th:value="${tryresults.axialJyos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检影VA(OD)：</label>
								<div class="col-sm-8">
									<input id="vaJyod" name="vaJyod" th:value="${tryresults.vaJyod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检影VA(OS)：</label>
								<div class="col-sm-8">
									<input id="vaJyos" name="vaJyos" th:value="${tryresults.vaJyos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检影瞳距(mm)(OD)：</label>
								<div class="col-sm-8">
									<input id="pdJyod" name="pdJyod" th:value="${tryresults.pdJyod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">检影瞳距(mm)(OS)：</label>
								<div class="col-sm-8">
									<input id="pdJyos" name="pdJyos" th:value="${tryresults.pdJyos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">插片球镜(OD)：</label>
								<div class="col-sm-8">
									<input id="sphCpod" name="sphCpod" th:value="${tryresults.sphCpod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">插片球镜(OS)：</label>
								<div class="col-sm-8">
									<input id="sphCpos" name="sphCpos" th:value="${tryresults.sphCpos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">插片柱镜(OD)：</label>
								<div class="col-sm-8">
									<input id="cylCpod" name="cylCpod" th:value="${tryresults.cylCpod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">插片柱镜(OS)：</label>
								<div class="col-sm-8">
									<input id="cylCpos" name="cylCpos" th:value="${tryresults.cylCpos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">插片轴向(OD)：</label>
								<div class="col-sm-8">
									<input id="axialCpod" name="axialCpod" th:value="${tryresults.axialCpod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">插片轴向(OS)：</label>
								<div class="col-sm-8">
									<input id="axialCpos" name="axialCpos" th:value="${tryresults.axialCpos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">插片DVA(OD)：</label>
								<div class="col-sm-8">
									<input id="dvaCpod" name="dvaCpod" th:value="${tryresults.dvaCpod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">插片DVA(OS)：</label>
								<div class="col-sm-8">
									<input id="dvaCpos" name="dvaCpos" th:value="${tryresults.dvaCpos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">插片NVA(OD)：</label>
								<div class="col-sm-8">
									<input id="nvaCpod" name="nvaCpod" th:value="${tryresults.nvaCpod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">插片NVA(OS)：</label>
								<div class="col-sm-8">
									<input id="nvaCpos" name="nvaCpos" th:value="${tryresults.nvaCpos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">插片add(OD)：</label>
								<div class="col-sm-8">
									<input id="addCpod" name="addCpod" th:value="${tryresults.addCpod}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">插片add(OS)：</label>
								<div class="col-sm-8">
									<input id="addCpos" name="addCpos" th:value="${tryresults.addCpos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">插片测量距离(OD)：</label>
								<div class="col-sm-8">
									<input id="distanceOd" name="distanceOd" th:value="${tryresults.distanceOd}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">插片测量距离(OS)：</label>
								<div class="col-sm-8">
									<input id="distanceOs" name="distanceOs" th:value="${tryresults.distanceOs}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">球镜(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="sphereRightz" name="sphereRightz" th:value="${tryresults.sphereRightz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">球镜(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="sphereLeftz" name="sphereLeftz" th:value="${tryresults.sphereLeftz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="cylinderRightz" name="cylinderRightz" th:value="${tryresults.cylinderRightz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="cylinderLeftz" name="cylinderLeftz" th:value="${tryresults.cylinderLeftz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">轴向(右眼-OD)：</label>
								<div class="col-sm-8">
									<input id="axialRightz" name="axialRightz" th:value="${tryresults.axialRightz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">轴向(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="axialLeftz" name="axialLeftz" th:value="${tryresults.axialLeftz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">DVA(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="dvaRightz" name="dvaRightz" th:value="${tryresults.dvaRightz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">DVA(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="dvaLeftz" name="dvaLeftz" th:value="${tryresults.dvaLeftz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">NVA(OD)：</label>
								<div class="col-sm-8">
									<input id="nvaRightz" name="nvaRightz" th:value="${tryresults.nvaRightz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">NVA(OS)：</label>
								<div class="col-sm-8">
									<input id="nvaLeftz" name="nvaLeftz" th:value="${tryresults.nvaLeftz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">三棱镜(OD)：</label>
								<div class="col-sm-8">
									<input id="prismRightz" name="prismRightz" th:value="${tryresults.prismRightz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">三棱镜(OS)：</label>
								<div class="col-sm-8">
									<input id="prismLeftz" name="prismLeftz" th:value="${tryresults.prismLeftz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">基底(OD)：</label>
								<div class="col-sm-8">
									<input id="jdrZ" name="jdrZ" th:value="${tryresults.jdrZ}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">基底(OS)：</label>
								<div class="col-sm-8">
									<input id="jdlZ" name="jdlZ" th:value="${tryresults.jdlZ}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">Add(OD)：</label>
								<div class="col-sm-8">
									<input id="addRightz" name="addRightz" th:value="${tryresults.addRightz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">Add(OS)：</label>
								<div class="col-sm-8">
									<input id="addLeftz" name="addLeftz" th:value="${tryresults.addLeftz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">远用瞳孔距(mm)(OD)：</label>
								<div class="col-sm-8">
									<input id="yuanRz" name="yuanRz" th:value="${tryresults.yuanRz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">远用瞳孔距(mm)(OS)：</label>
								<div class="col-sm-8">
									<input id="yuanLz" name="yuanLz" th:value="${tryresults.yuanLz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">近用瞳孔距(mm)(OD)：</label>
								<div class="col-sm-8">
									<input id="nearRightz" name="nearRightz" th:value="${tryresults.nearRightz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">近用瞳孔距(mm)(OS)：</label>
								<div class="col-sm-8">
									<input id="nearLeftz" name="nearLeftz" th:value="${tryresults.nearLeftz}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/jiancha/tryresults/edit.js">
	</script>
</body>
</html>
