<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.stock.dao.OrderDao">

    <select id="get" resultType="com.shiguang.stock.domain.OrderDO">
		select `id`,`goods_num`,`goods_code`,`goods_name`,`goods_count`,`goods_type`,`mfrsid`,`brandname`,`retail_price`,`price_sum`,
		`cost_price`,`cost_sum`,`whole_price`,`whole_sum`,`position_name`,`create_time`,`danju_number`,`order_number`,`yundan_number`,
		`zhidan_people`,`danju_day`,`tuihuo_number`,`factory_number`,`beizhu`,`unit`,`batch`,`zhuce_number`,`produce_day`,`useday`,`classtype`,`factory`
		 from stock_order where id = #{value}
	</select>

    <select id="list" resultType="com.shiguang.stock.domain.OrderDO">
        select
        s.`id`,s.`goods_num`,s.`goods_code`,s.`goods_name`,s.`goods_count`,s.`goods_type`,s.`mfrsid`,s.`brandname`,s.`retail_price`,
        s.`price_sum`, s.`cost_price`, s.`cost_sum`, s.`whole_price`, s.`whole_sum`, s.`position_name`, s.`create_time`,
        s.`danju_number`, s.`order_number`, s.`yundan_number`, s.`zhidan_people`, s.`danju_day`, s.`tuihuo_number`,
        s.`factory_number`, s.`beizhu`, s.`unit`,m.mfrsname,s.`batch`,s.`zhuce_number`,s.`produce_day`,s.`useday`,s.`classtype`,s.`factory`
        from stock_order s left join c_mfrs m on s.mfrsid=m.mfrsid
        left join c_position po on s.position_name=po.position_name
        left join department d on po.depart_number= d.depart_number
        <where>
            <if test="id != null and id != ''">and s.id = #{id}</if>
            <if test="goodsNum != null and goodsNum != ''">and s.goods_num = #{goodsNum}</if>
            <if test="goodsCode != null and goodsCode != ''">and s.goods_code = #{goodsCode}</if>
            <if test="goodsName != null and goodsName != ''">and s.goods_name = #{goodsName}</if>
            <if test="goodsCount != null and goodsCount != ''">and s.goods_count = #{goodsCount}</if>
            <if test="goodsType != null and goodsType != ''">and s.goods_type = #{goodsType}</if>
            <if test="mfrsid != null and mfrsid != ''">and s.mfrsid = #{mfrsid}</if>
            <if test="brandname != null and brandname != ''">and s.brandname = #{brandname}</if>
            <if test="retailPrice != null and retailPrice != ''">and s.retail_price = #{retailPrice}</if>
            <if test="priceSum != null and priceSum != ''">and s.price_sum = #{priceSum}</if>
            <if test="costPrice != null and costPrice != ''">and s.cost_price = #{costPrice}</if>
            <if test="costSum != null and costSum != ''">and s.cost_sum = #{costSum}</if>
            <if test="wholePrice != null and wholePrice != ''">and s.whole_price = #{wholePrice}</if>
            <if test="wholeSum != null and wholeSum != ''">and s.whole_sum = #{wholeSum}</if>
            <if test="positionName != null and positionName != ''">and s.position_name = #{positionName}</if>
            <if test="createTime != null and createTime != ''">and s.create_time = #{createTime}</if>
            <if test="danjuNumber != null and danjuNumber != ''">and s.danju_number = #{danjuNumber}</if>
            <if test="orderNumber != null and orderNumber != ''">and s.order_number = #{orderNumber}</if>
            <if test="yundanNumber != null and yundanNumber != ''">and s.yundan_number = #{yundanNumber}</if>
            <if test="zhidanPeople != null and zhidanPeople != ''">and s.zhidan_people = #{zhidanPeople}</if>
            <if test="danjuDay != null and danjuDay != ''">and s.danju_day = #{danjuDay}</if>
            <if test="tuihuoNumber != null and tuihuoNumber != ''">and s.tuihuo_number = #{tuihuoNumber}</if>
            <if test="factoryNumber != null and factoryNumber != ''">and s.factory_number = #{factoryNumber}</if>
            <if test="beizhu != null and beizhu != ''">and s.beizhu = #{beizhu}</if>
            <if test="unit != null and unit != ''">and s.unit = #{unit}</if>
            <if test="batch != null and batch != ''"> and s.batch = #{batch} </if>
            <if test="zhuceNumber != null and zhuceNumber != ''"> and s.zhuce_number = #{zhuceNumber} </if>
            <if test="produceDay != null and produceDay != ''"> and s.produce_day = #{produceDay} </if>
            <if test="useday != null and useday != ''"> and s.useday = #{useday} </if>
            <if test="departNumber != null and departNumber != ''">and po.depart_number = #{departNumber}</if>
            <if test="companyid != null and companyid != ''">and FIND_IN_SET(d.company_id,#{companyid})</if>
            <if test="classtype != null and classtype != ''">and s.classtype = #{classtype} </if>
            <if test="factory != null and factory != ''">and s.factory = #{factory} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                group by danju_number
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from stock_order s left join c_mfrs m on s.mfrsid=m.mfrsid
        left join c_position po on s.position_name=po.position_name left join department d on po.depart_number= d.depart_number
        <where>
            <if test="id != null and id != ''">and s.id = #{id}</if>
            <if test="goodsNum != null and goodsNum != ''">and s.goods_num = #{goodsNum}</if>
            <if test="goodsCode != null and goodsCode != ''">and s.goods_code = #{goodsCode}</if>
            <if test="goodsName != null and goodsName != ''">and s.goods_name = #{goodsName}</if>
            <if test="goodsCount != null and goodsCount != ''">and s.goods_count = #{goodsCount}</if>
            <if test="goodsType != null and goodsType != ''">and s.goods_type = #{goodsType}</if>
            <if test="mfrsid != null and mfrsid != ''">and s.mfrsid = #{mfrsid}</if>
            <if test="brandname != null and brandname != ''">and s.brandname = #{brandname}</if>
            <if test="retailPrice != null and retailPrice != ''">and s.retail_price = #{retailPrice}</if>
            <if test="priceSum != null and priceSum != ''">and s.price_sum = #{priceSum}</if>
            <if test="costPrice != null and costPrice != ''">and s.cost_price = #{costPrice}</if>
            <if test="costSum != null and costSum != ''">and s.cost_sum = #{costSum}</if>
            <if test="wholePrice != null and wholePrice != ''">and s.whole_price = #{wholePrice}</if>
            <if test="wholeSum != null and wholeSum != ''">and s.whole_sum = #{wholeSum}</if>
            <if test="positionName != null and positionName != ''">and s.position_name = #{positionName}</if>
            <if test="createTime != null and createTime != ''">and s.create_time = #{createTime}</if>
            <if test="danjuNumber != null and danjuNumber != ''">and s.danju_number = #{danjuNumber}</if>
            <if test="orderNumber != null and orderNumber != ''">and s.order_number = #{orderNumber}</if>
            <if test="yundanNumber != null and yundanNumber != ''">and s.yundan_number = #{yundanNumber}</if>
            <if test="zhidanPeople != null and zhidanPeople != ''">and s.zhidan_people = #{zhidanPeople}</if>
            <if test="danjuDay != null and danjuDay != ''">and s.danju_day = #{danjuDay}</if>
            <if test="tuihuoNumber != null and tuihuoNumber != ''">and s.tuihuo_number = #{tuihuoNumber}</if>
            <if test="factoryNumber != null and factoryNumber != ''">and s.factory_number = #{factoryNumber}</if>
            <if test="beizhu != null and beizhu != ''">and s.beizhu = #{beizhu}</if>
            <if test="unit != null and unit != ''">and s.unit = #{unit}</if>
            <if test="batch != null and batch != ''"> and s.batch = #{batch} </if>
            <if test="zhuceNumber != null and zhuceNumber != ''"> and s.zhuce_number = #{zhuceNumber} </if>
            <if test="produceDay != null and produceDay != ''"> and s.produce_day = #{produceDay} </if>
            <if test="useday != null and useday != ''"> and s.useday = #{useday} </if>
            <if test="departNumber != null and departNumber != ''">and po.depart_number = #{departNumber}</if>
            <if test="companyid != null and companyid != ''">and FIND_IN_SET(d.company_id,#{companyid})</if>
            <if test="classtype != null and classtype != ''"> and s.classtype = #{classtype} </if>
            <if test="factory != null and factory != ''"> and s.factory = #{factory} </if>
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.stock.domain.OrderDO" useGeneratedKeys="true" keyProperty="id">
		insert into stock_order
		(
			`goods_num`, 
			`goods_code`, 
			`goods_name`, 
			`goods_count`, 
			`goods_type`, 
			`mfrsid`, 
			`brandname`,
			`retail_price`,
			`price_sum`, 
			`cost_price`, 
			`cost_sum`, 
			`whole_price`, 
			`whole_sum`, 
			`position_name`, 
			`create_time`, 
			`danju_number`, 
			`order_number`, 
			`yundan_number`, 
			`zhidan_people`, 
			`danju_day`, 
			`tuihuo_number`, 
			`factory_number`, 
			`beizhu`, 
			`unit`,
			`batch`,
			`zhuce_number`,
			`produce_day`,
			`useday`,
			`classtype`,
			`factory`
		)
		values
		(
			#{goodsNum}, 
			#{goodsCode}, 
			#{goodsName}, 
			#{goodsCount}, 
			#{goodsType}, 
			#{mfrsid}, 
			#{brandname},
			#{retailPrice},
			#{priceSum}, 
			#{costPrice}, 
			#{costSum}, 
			#{wholePrice}, 
			#{wholeSum}, 
			#{positionName}, 
			#{createTime}, 
			#{danjuNumber}, 
			#{orderNumber}, 
			#{yundanNumber}, 
			#{zhidanPeople}, 
			#{danjuDay}, 
			#{tuihuoNumber}, 
			#{factoryNumber}, 
			#{beizhu}, 
			#{unit},
			#{batch},
			#{zhuceNumber},
			#{produceDay},
			#{useday},
			#{classtype},
			#{factory}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.stock.domain.OrderDO">
        update stock_order
        <set>
            <if test="goodsNum != null">`goods_num` = #{goodsNum},</if>
            <if test="goodsCode != null">`goods_code` = #{goodsCode},</if>
            <if test="goodsName != null">`goods_name` = #{goodsName},</if>
            <if test="goodsCount != null">`goods_count` = #{goodsCount},</if>
            <if test="goodsType != null">`goods_type` = #{goodsType},</if>
            <if test="mfrsid != null">`mfrsid` = #{mfrsid},</if>
            <if test="brandname != null">`brandname` = #{brandname},</if>
            <if test="retailPrice != null">`retail_price` = #{retailPrice},</if>
            <if test="priceSum != null">`price_sum` = #{priceSum},</if>
            <if test="costPrice != null">`cost_price` = #{costPrice},</if>
            <if test="costSum != null">`cost_sum` = #{costSum},</if>
            <if test="wholePrice != null">`whole_price` = #{wholePrice},</if>
            <if test="wholeSum != null">`whole_sum` = #{wholeSum},</if>
            <if test="positionName != null">`position_name` = #{positionName},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="danjuNumber != null">`danju_number` = #{danjuNumber},</if>
            <if test="orderNumber != null">`order_number` = #{orderNumber},</if>
            <if test="yundanNumber != null">`yundan_number` = #{yundanNumber},</if>
            <if test="zhidanPeople != null">`zhidan_people` = #{zhidanPeople},</if>
            <if test="danjuDay != null">`danju_day` = #{danjuDay},</if>
            <if test="tuihuoNumber != null">`tuihuo_number` = #{tuihuoNumber},</if>
            <if test="factoryNumber != null">`factory_number` = #{factoryNumber},</if>
            <if test="beizhu != null">`beizhu` = #{beizhu},</if>
            <if test="unit != null">`unit` = #{unit},</if>
            <if test="batch != null">`batch` = #{batch}, </if>
            <if test="zhuceNumber != null">`zhuce_number` = #{zhuceNumber}, </if>
            <if test="produceDay != null">`produce_day` = #{produceDay}, </if>
            <if test="useday != null">`useday` = #{useday} ,</if>
            <if test="classtype != null">`classtype` = #{classtype}, </if>
            <if test="factory != null">`factory` = #{factory} </if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from stock_order where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from stock_order where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getCode" resultType="com.shiguang.stock.domain.OrderDO">
		select goods_name,goods_code,goods_count from stock_order where danju_number = #{danjuNumber}
	</select>
</mapper>