<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.stock.dao.OrderDao">

    <select id="get" resultType="com.shiguang.stock.domain.OrderDO">
		select o.`id`,o.`goods_num`,o.`goods_code`,o.`goods_name`,o.`goods_count`,o.`goods_type`,o.`mfrsid`,o.`brandname`,o.`retail_price`,o.`price_sum`,
		o.`cost_price`,o.`cost_sum`,o.`whole_price`,o.`whole_sum`,o.`position_id`,o.`create_time`,o.`danju_number`,o.`order_number`,o.`yundan_number`,
		o.`zhidan_people`,o.`danju_day`,o.`tuihuo_number`,o.`factory_number`,o.`beizhu`,o.`unit`,o.`batch`,o.`zhuce_number`,o.`produce_day`,o.`useday`,o.`classtype`,
		o.`factory`,o.`status`,o.`username`,o.`returnzt`,m.`mfrsname`,p.`position_name`,g.`goodsname` as gdname,
		o.`stockorder`
		 from stock_order o
		 left join c_mfrs m on o.mfrsid=m.mfrsnum
		 left join c_position p on  o.position_id=p.position_id
		 left join c_goods g on o.goods_type=g.goodsid
		 where o.id = #{value}
	</select>

    <select id="list" resultType="com.shiguang.stock.domain.OrderDO">
        select
        s.`id`,s.`goods_num`,s.`goods_code`,s.`goods_name`,s.`goods_count`,s.`goods_type`,g.`goodsname` as gdname, s.`mfrsid`,s.`brandname`,s.`retail_price`,
        s.`price_sum`, s.`cost_price`, s.`cost_sum`, s.`whole_price`, s.`whole_sum`,s.`position_id`, po.`position_name`, s.`create_time`,
        s.`danju_number`, s.`order_number`, s.`yundan_number`, s.`zhidan_people`, s.`danju_day`, s.`tuihuo_number`,
        s.`factory_number`, s.`beizhu`, s.`unit`,m.mfrsname,s.`batch`,s.`zhuce_number`,s.`produce_day`,s.`useday`,s.`classtype`,
        s.`factory`,s.`status`,s.`username`,s.`returnzt`,s.`stockorder`
        from stock_order s
        join c_mfrs m on s.mfrsid=m.mfrsnum
        join c_position po on s.position_id=po.position_id
        join c_goods g on s.goods_type=g.goodsid
        <where>
            <if test="id != null and id != ''">and s.id = #{id}</if>
            <if test="goodsNum != null and goodsNum != ''">and s.goods_num = #{goodsNum}</if>
            <if test="goodsCode != null and goodsCode != ''">and s.goods_code = #{goodsCode}</if>
            <if test="goodsName != null and goodsName != ''">and s.goods_name = #{goodsName}</if>
            <if test="goodsCount != null and goodsCount != ''">and s.goods_count = #{goodsCount}</if>
            <if test="goodsType != null and goodsType != ''">and s.goods_type = #{goodsType}</if>
            <if test="mfrsid != null and mfrsid != ''">and s.mfrsid = #{mfrsid}</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname  LIKE concat(concat('%', #{mfrsname}),'%')</if>
            <if test="brandname != null and brandname != ''">and s.brandname = #{brandname}</if>
            <if test="retailPrice != null and retailPrice != ''">and s.retail_price = #{retailPrice}</if>
            <if test="priceSum != null and priceSum != ''">and s.price_sum = #{priceSum}</if>
            <if test="costPrice != null and costPrice != ''">and s.cost_price = #{costPrice}</if>
            <if test="costSum != null and costSum != ''">and s.cost_sum = #{costSum}</if>
            <if test="wholePrice != null and wholePrice != ''">and s.whole_price = #{wholePrice}</if>
            <if test="wholeSum != null and wholeSum != ''">and s.whole_sum = #{wholeSum}</if>
            <if test="positionId != null and positionId != ''">and s.position_id = #{positionId}</if>
            <if test="positionName != null and positionName != ''">and s.position_name = #{positionName}</if>
            <if test="createTime != null and createTime != ''">and s.create_time = #{createTime}</if>
            <!--<if test="danjuNumber != null and danjuNumber != ''">and s.danju_number = #{danjuNumber}</if>-->

            <if test="danjuNumber != null and danjuNumber != ''">and s.danju_number LIKE concat(concat('%', #{danjuNumber}),'%')</if>

            <if test="orderNumber != null and orderNumber != ''">and s.order_number = #{orderNumber}</if>
            <if test="yundanNumber != null and yundanNumber != ''">and s.yundan_number = #{yundanNumber}</if>
            <if test="zhidanPeople != null and zhidanPeople != ''">and s.zhidan_people = #{zhidanPeople}</if>
            <if test="danjuDay != null and danjuDay != ''">and s.danju_day = #{danjuDay}</if>
            <if test="tuihuoNumber != null and tuihuoNumber != ''">and s.tuihuo_number = #{tuihuoNumber}</if>
            <if test="factoryNumber != null and factoryNumber != ''">and s.factory_number = #{factoryNumber}</if>
            <if test="beizhu != null and beizhu != ''">and s.beizhu = #{beizhu}</if>
            <if test="unit != null and unit != ''">and s.unit = #{unit}</if>
            <if test="batch != null and batch != ''"> and s.batch = #{batch} </if>
            <if test="zhuceNumber != null and zhuceNumber != ''"> and s.zhuce_number = #{zhuceNumber} </if>
            <if test="produceDay != null and produceDay != ''"> and s.produce_day = #{produceDay} </if>
            <if test="useday != null and useday != ''"> and s.useday = #{useday} </if>
            <if test="departNumber != null and departNumber != ''">and po.depart_number = #{departNumber}</if>
            <if test="companyId != null and companyId != ''">and FIND_IN_SET(po.company_id,#{companyId})</if>
            <if test="classtype != null and classtype != ''">and s.classtype = #{classtype} </if>
            <if test="factory != null and factory != ''">and s.factory = #{factory} </if>
            <if test="status != null and status != ''">and s.status = #{status} </if>
            <if test="username != null and username != ''">and s.username = #{username} </if>
            <if test="returnzt != null and returnzt != ''">and s.returnzt = #{returnzt} </if>
            <if test="stockorder != null and stockorder != ''">and s.stockorder = #{stockorder} </if>
            <if test="goodsid != null and goodsid != ''">and g.goodsid = #{goodsid} </if>

            <if test="day1 !=null and day1 != ''"> and date_format(s.danju_day ,'%Y-%m-%d' ) >= (#{day1})</if>
            <if test="day2 !=null and day2 != ''"> and date_format(s.danju_day ,'%Y-%m-%d' ) &lt;= (#{day2})</if>

        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                group by danju_number
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
       SELECT COUNT(DISTINCT danju_number)
        from stock_order s
        join c_mfrs m on s.mfrsid=m.mfrsnum
        join c_position po on s.position_id=po.position_id
        join department d on po.depart_number= d.depart_number
        join c_goods g on s.goods_type=g.goodsid
        <where>
            <if test="id != null and id != ''">and s.id = #{id}</if>
            <if test="goodsNum != null and goodsNum != ''">and s.goods_num = #{goodsNum}</if>
            <if test="goodsCode != null and goodsCode != ''">and s.goods_code = #{goodsCode}</if>
            <if test="goodsName != null and goodsName != ''">and s.goods_name = #{goodsName}</if>
            <if test="goodsCount != null and goodsCount != ''">and s.goods_count = #{goodsCount}</if>
            <if test="goodsType != null and goodsType != ''">and s.goods_type = #{goodsType}</if>
            <if test="mfrsid != null and mfrsid != ''">and s.mfrsid = #{mfrsid}</if>
            <if test="mfrsname != null and mfrsname != ''">and m.mfrsname  LIKE concat(concat('%', #{mfrsname}),'%')</if>
            <if test="brandname != null and brandname != ''">and s.brandname = #{brandname}</if>
            <if test="retailPrice != null and retailPrice != ''">and s.retail_price = #{retailPrice}</if>
            <if test="priceSum != null and priceSum != ''">and s.price_sum = #{priceSum}</if>
            <if test="costPrice != null and costPrice != ''">and s.cost_price = #{costPrice}</if>
            <if test="costSum != null and costSum != ''">and s.cost_sum = #{costSum}</if>
            <if test="wholePrice != null and wholePrice != ''">and s.whole_price = #{wholePrice}</if>
            <if test="wholeSum != null and wholeSum != ''">and s.whole_sum = #{wholeSum}</if>
            <if test="positionId != null and positionId != ''">and s.position_id = #{positionId}</if>
            <if test="positionName != null and positionName != ''">and s.position_name = #{positionName}</if>
            <if test="createTime != null and createTime != ''">and s.create_time = #{createTime}</if>
            <!--<if test="danjuNumber != null and danjuNumber != ''">and s.danju_number = #{danjuNumber}</if>-->

            <if test="danjuNumber != null and danjuNumber != ''">and s.danju_number LIKE concat(concat('%', #{danjuNumber}),'%')</if>

            <if test="orderNumber != null and orderNumber != ''">and s.order_number = #{orderNumber}</if>
            <if test="yundanNumber != null and yundanNumber != ''">and s.yundan_number = #{yundanNumber}</if>
            <if test="zhidanPeople != null and zhidanPeople != ''">and s.zhidan_people = #{zhidanPeople}</if>
            <if test="danjuDay != null and danjuDay != ''">and s.danju_day = #{danjuDay}</if>
            <if test="tuihuoNumber != null and tuihuoNumber != ''">and s.tuihuo_number = #{tuihuoNumber}</if>
            <if test="factoryNumber != null and factoryNumber != ''">and s.factory_number = #{factoryNumber}</if>
            <if test="beizhu != null and beizhu != ''">and s.beizhu = #{beizhu}</if>
            <if test="unit != null and unit != ''">and s.unit = #{unit}</if>
            <if test="batch != null and batch != ''"> and s.batch = #{batch} </if>
            <if test="zhuceNumber != null and zhuceNumber != ''"> and s.zhuce_number = #{zhuceNumber} </if>
            <if test="produceDay != null and produceDay != ''"> and s.produce_day = #{produceDay} </if>
            <if test="useday != null and useday != ''"> and s.useday = #{useday} </if>
            <if test="departNumber != null and departNumber != ''">and po.depart_number = #{departNumber}</if>
            <if test="companyId != null and companyId != ''">and FIND_IN_SET(po.company_id,#{companyId})</if>
            <if test="classtype != null and classtype != ''">and s.classtype = #{classtype} </if>
            <if test="factory != null and factory != ''">and s.factory = #{factory} </if>
            <if test="status != null and status != ''">and s.status = #{status} </if>
            <if test="username != null and username != ''">and s.username = #{username} </if>
            <if test="returnzt != null and returnzt != ''">and s.returnzt = #{returnzt} </if>
            <if test="stockorder != null and stockorder != ''">and s.stockorder = #{stockorder} </if>
            <if test="goodsid != null and goodsid != ''">and g.goodsid = #{goodsid} </if>

            <if test="day1 !=null and day1 != ''"> and date_format(s.danju_day ,'%Y-%m-%d' ) >= (#{day1})</if>
            <if test="day2 !=null and day2 != ''"> and date_format(s.danju_day ,'%Y-%m-%d' ) &lt;= (#{day2})</if>
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.stock.domain.OrderDO" useGeneratedKeys="true" keyProperty="id">
		insert into stock_order
		(
			`goods_num`, 
			`goods_code`, 
			`goods_name`, 
			`goods_count`, 
			`goods_type`, 
			`mfrsid`, 
			`brandname`,
			`retail_price`,
			`price_sum`, 
			`cost_price`, 
			`cost_sum`, 
			`whole_price`, 
			`whole_sum`, 
			`position_id`,
			`position_name`,
			`create_time`, 
			`danju_number`, 
			`order_number`, 
			`yundan_number`, 
			`zhidan_people`, 
			`danju_day`, 
			`tuihuo_number`, 
			`factory_number`, 
			`beizhu`, 
			`unit`,
			`batch`,
			`zhuce_number`,
			`produce_day`,
			`useday`,
			`classtype`,
			`factory`,
			`status`,
			`username`,
			`returnzt`,
			`goodsxinxiid`,
			`stockorder`
		)
		values
		(
			#{goodsNum}, 
			#{goodsCode}, 
			#{goodsName}, 
			#{goodsCount}, 
			#{goodsType}, 
			#{mfrsid}, 
			#{brandname},
			#{retailPrice},
			#{priceSum}, 
			#{costPrice}, 
			#{costSum}, 
			#{wholePrice}, 
			#{wholeSum}, 
			#{positionId},
			#{positionName},
			#{createTime},
			#{danjuNumber}, 
			#{orderNumber}, 
			#{yundanNumber}, 
			#{zhidanPeople}, 
			#{danjuDay}, 
			#{tuihuoNumber}, 
			#{factoryNumber}, 
			#{beizhu}, 
			#{unit},
			#{batch},
			#{zhuceNumber},
			#{produceDay},
			#{useday},
			#{classtype},
			#{factory},
			#{status},
			#{username},
			#{returnzt},
			#{goodsxinxiid},
			#{stockorder}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.stock.domain.OrderDO">
        update stock_order
        <set>
            <if test="goodsNum != null">`goods_num` = #{goodsNum},</if>
            <if test="goodsCode != null">`goods_code` = #{goodsCode},</if>
            <if test="goodsName != null">`goods_name` = #{goodsName},</if>
            <if test="goodsCount != null">`goods_count` = #{goodsCount},</if>
            <if test="goodsType != null">`goods_type` = #{goodsType},</if>
            <if test="mfrsid != null">`mfrsid` = #{mfrsid},</if>
            <if test="brandname != null">`brandname` = #{brandname},</if>
            <if test="retailPrice != null">`retail_price` = #{retailPrice},</if>
            <if test="priceSum != null">`price_sum` = #{priceSum},</if>
            <if test="costPrice != null">`cost_price` = #{costPrice},</if>
            <if test="costSum != null">`cost_sum` = #{costSum},</if>
            <if test="wholePrice != null">`whole_price` = #{wholePrice},</if>
            <if test="wholeSum != null">`whole_sum` = #{wholeSum},</if>
            <if test="positionId != null">`position_id` = #{positionId},</if>
            <if test="positionName != null">`position_name` = #{positionName},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="danjuNumber != null">`danju_number` = #{danjuNumber},</if>
            <if test="orderNumber != null">`order_number` = #{orderNumber},</if>
            <if test="yundanNumber != null">`yundan_number` = #{yundanNumber},</if>
            <if test="zhidanPeople != null">`zhidan_people` = #{zhidanPeople},</if>
            <if test="danjuDay != null">`danju_day` = #{danjuDay},</if>
            <if test="tuihuoNumber != null">`tuihuo_number` = #{tuihuoNumber},</if>
            <if test="factoryNumber != null">`factory_number` = #{factoryNumber},</if>
            <if test="beizhu != null">`beizhu` = #{beizhu},</if>
            <if test="unit != null">`unit` = #{unit},</if>
            <if test="batch != null">`batch` = #{batch}, </if>
            <if test="zhuceNumber != null">`zhuce_number` = #{zhuceNumber}, </if>
            <if test="produceDay != null">`produce_day` = #{produceDay}, </if>
            <if test="useday != null">`useday` = #{useday} ,</if>
            <if test="classtype != null">`classtype` = #{classtype}, </if>
            <if test="factory != null">`factory` = #{factory} ,</if>
            <if test="status != null">`status` = #{status} ,</if>
            <if test="username != null">`username` = #{username},</if>
            <if test="returnzt != null">`returnzt` = #{returnzt},</if>
            <if test="stockorder != null">`stockorder` = #{stockorder}</if>
        </set>
        <where>
        <if test="danjuNumber != null and danjuNumber != ''">and danju_number = #{danjuNumber}</if>
        <if test="goodsNum != null and goodsNum != ''">and goods_num = #{goodsNum}</if>
        <if test="goodsName != null and goodsName != ''">and goods_name = #{goodsName}</if>
        </where>
    </update>

    <delete id="remove">
		delete from stock_order where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from stock_order where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getCode" resultType="com.shiguang.stock.domain.OrderDO">
		select o.goods_name,o.goods_code,o.goods_count,o.factory,p.retail_price,p.produc_factorycolor,p.view_good_name
        from stock_order o
        left join  aa_produca p on o.goods_num=p.produc_num
        <where>
            <if test="danjuNumber != null and danjuNumber != ''">and o.danju_number = #{danjuNumber}</if>
            <if test="codeOne != null and codeOne != ''">and o.goods_code = #{codeOne}</if>
        </where>
	</select>
    <select id="gettyjCode" resultType="com.shiguang.stock.domain.OrderDO">
		select o.goods_name,o.goods_code,o.goods_count,o.factory,p.retail_price,p.produc_factorycolor,p.view_good_name
        from stock_order o
        left join  aa_tyj p on o.goods_num=p.produc_num
        <where>
            <if test="danjuNumber != null and danjuNumber != ''">and o.danju_number = #{danjuNumber}</if>
            <if test="codeOne != null and codeOne != ''">and o.goods_code = #{codeOne}</if>
        </where>
	</select>
    <update id="updateStatus" parameterType="com.shiguang.stock.domain.OrderDO">
        update stock_order
        <set>
            <if test="goodsNum != null">`goods_num` = #{goodsNum},</if>
            <if test="goodsCode != null">`goods_code` = #{goodsCode},</if>
            <if test="goodsName != null">`goods_name` = #{goodsName},</if>
            <if test="goodsCount != null">`goods_count` = #{goodsCount},</if>
            <if test="goodsType != null">`goods_type` = #{goodsType},</if>
            <if test="mfrsid != null">`mfrsid` = #{mfrsid},</if>
            <if test="brandname != null">`brandname` = #{brandname},</if>
            <if test="retailPrice != null">`retail_price` = #{retailPrice},</if>
            <if test="priceSum != null">`price_sum` = #{priceSum},</if>
            <if test="costPrice != null">`cost_price` = #{costPrice},</if>
            <if test="costSum != null">`cost_sum` = #{costSum},</if>
            <if test="wholePrice != null">`whole_price` = #{wholePrice},</if>
            <if test="wholeSum != null">`whole_sum` = #{wholeSum},</if>
            <if test="positionId != null">`position_id` = #{positionId},</if>
            <if test="positionName != null">`position_name` = #{positionName},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="orderNumber != null">`order_number` = #{orderNumber},</if>
            <if test="yundanNumber != null">`yundan_number` = #{yundanNumber},</if>
            <if test="zhidanPeople != null">`zhidan_people` = #{zhidanPeople},</if>
            <if test="danjuDay != null">`danju_day` = #{danjuDay},</if>
            <if test="tuihuoNumber != null">`tuihuo_number` = #{tuihuoNumber},</if>
            <if test="factoryNumber != null">`factory_number` = #{factoryNumber},</if>
            <if test="beizhu != null">`beizhu` = #{beizhu},</if>
            <if test="unit != null">`unit` = #{unit},</if>
            <if test="batch != null">`batch` = #{batch}, </if>
            <if test="zhuceNumber != null">`zhuce_number` = #{zhuceNumber}, </if>
            <if test="produceDay != null">`produce_day` = #{produceDay}, </if>
            <if test="useday != null">`useday` = #{useday} ,</if>
            <if test="classtype != null">`classtype` = #{classtype}, </if>
            <if test="factory != null">`factory` = #{factory} ,</if>
            <if test="status != null">`status` = #{status}, </if>
            <if test="username != null">`username` = #{username}, </if>
            <if test="returnzt != null">`returnzt` = #{returnzt} ,</if>
            <if test="stockorder != null">`stockorder` = #{stockorder}</if>
        </set>
        where danju_number = #{danjuNumber}
    </update>

    <select id="selectOrder" resultType="com.shiguang.stock.domain.OrderDO">
        SELECT
        o.goods_num,
        o.goods_name,
        o.factory,
        produca.produc_factorycolor,
        m.materialname,
        produca.size,
        o.create_time,
        o.goods_code,
        o.useday,
        o.batch,
        o.zhuce_number,
        o.produce_day,
        o.goods_count,
        parts.parts_style,
        jpcp.sph_id AS jscpsph,
        jpcp.cyl_id AS jpcpcyl,
        jpcp.lightbelow_id AS jpcplightbelow,
        jpcp.refractivityid AS jpcprefractivityvalue,
        light.light_name AS jpcplightname,
        lens.lens_name AS jpcplensname,
        jpdz.sph_up AS jpdzSphUp,
        jpdz.sph_down AS jpdzSphDown,
        jpdz.cyl_up AS jpdzCylUp,
        jpdz.cyl_down AS jpdzCylDown,
        jpdz.lightbelow_right AS jpdzLightbelowRight,
        jpdz.lightbelow_left AS jpdzLightbelowLeft,
        jpdz.refractivityid AS jpdzrefractivityvalue,
        yxcp.sph_id AS yxcpsph,
        yxcp.cyl_id AS yxcpcyl,
        yxcp.curvature AS yxcpcurvature,
        yxcp.diameter AS yxcpdiameter,

        yxdz.sph_up AS yxdzSphUp,
        yxdz.sph_down AS yxdzSphDown,
        yxdz.cyl_up AS yxdzCylUp,
        yxdz.cyl_down AS yxdzCylDown,
        yxdz.curvature_one AS yxdzCurvatureOne,
        yxdz.curvature_yi AS yxdzCurvatureYi,
        yxdz.diameter_one AS yxdzDiameterOne,
        yxdz.diameter_yi AS yxdzDiameterYi,


        u.usage_name AS yxcpusagename,
        t.type_name AS yxcptypename,
        h.main_capacity,
        h.second_capacity,
        tyj.size AS tyjsize,
        tyj.produc_factorycolor AS tyjproducfactorycolor,
        old.size AS oldsize,
        ol.degrees,
        old.produc_factorycolor AS oldproducfactorycolor
        FROM
        stock_order o
        LEFT JOIN aa_produca produca ON o.goods_num = produca.produc_num
        LEFT JOIN c_material m ON produca.materialid = m.materialid
        LEFT JOIN aa_parts parts ON o.goods_num = parts.produc_num
        LEFT JOIN aa_jpcp jpcp ON o.goods_num = jpcp.produc_num
        LEFT JOIN aa_jpdz jpdz ON o.goods_num = jpdz.produc_num
        LEFT JOIN a_lightbelow l ON jpcp.lightbelow_id = l.lightbelow_id
        LEFT JOIN p_light light ON jpcp.light_id = light.light_id
        LEFT JOIN p_lens lens ON jpcp.lens_id = lens.lens_id
        LEFT JOIN aa_yxcp yxcp ON o.goods_num = yxcp.produc_num
        LEFT JOIN aa_yxdz yxdz ON o.goods_num = yxdz.produc_num
        LEFT JOIN p_usage u ON yxcp.usage_id = u.usage_id
        LEFT JOIN p_type t ON yxcp.type_id = t.type_id
        LEFT JOIN aa_hly h ON o.goods_num = h.produc_num
        LEFT JOIN aa_tyj tyj ON o.goods_num = tyj.produc_num
        LEFT JOIN aa_oldlens old ON o.goods_num = old.produc_num
        LEFT JOIN a_olddegrees ol ON old.old_id = ol.old_id
        <where>
            <if test="danjuNumber != null and danjuNumber != ''">and o.danju_number = #{danjuNumber}</if>
            <if test="goodsType != null and goodsType != ''">and o.goods_type = #{goodsType}</if>
        </where>
    </select>
    <select id="countall" resultType="int">
         select  sum(goods_count) from stock_order
        <where>
            <if test="danjuNumber != null and danjuNumber != ''">and  danju_number = #{danjuNumber}</if>
            <if test="goodsType != null and goodsType != ''">and  goods_type = #{goodsType}</if>
        </where>
    </select>

    <select id="orderdingdan" resultType="com.shiguang.stock.domain.OrderDO">
        select * FROM stock_order
        <where>
            <if test="danjuNumber != null and danjuNumber != ''">and danju_number = #{danjuNumber}</if>
        </where>
    </select>
    <select id="haveOrderNum" resultType="com.shiguang.stock.domain.OrderDO">
        select * FROM stock_order
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="danjuNumber != null and danjuNumber != ''">and danju_number = #{danjuNumber}</if>
        </where>
    </select>
</mapper>