<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.stock.dao.PidiaoDao">

	<select id="get" resultType="com.shiguang.stock.domain.PidiaoDO">
		select
		c.name as ings,p.in_companyid, d.depart_name as inbm, p.in_departmentid, de.depart_name as outbm,p.out_departmentid,
		po.position_name as outcw ,p.out_positionid,pos.position_name as incw,p.in_positionid,
		p.`id`,p.`pidiao_number`,
		p.`zhidan_people`,p.`danju_day`,p.`outsourcing_number`,p.`beizhu`,p.`returnzt`,p.`stockorder`
		from stock_pidiao p
		left join sys_user u on p.zhidan_people =u.name

		left join c_company c on p.in_companyid=c.id
		left join department d on p.in_departmentid=d.id
		left join department de on p.out_departmentid=de.id

		left join c_position po on p.out_positionid=po.position_id
		left join c_position pos on p.in_positionid=pos.position_id
		where p.id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.stock.domain.PidiaoDO">
		select
		po.position_name as outcw ,pos.position_name as incw,
		p.`id`,p.`pidiao_number`,p.`guanlian_number`,p.`out_department`,p.`out_position`,p.`in_position`,p.`in_company`,p.`in_department`,
		p.`out_departmentid`,p.`out_positionid`,p.`in_positionid`,p.`in_companyid`,p.`in_departmentid`,
		p.`zhidan_people`,p.`danju_day`,p.`outsourcing_number`,p.`beizhu`,p.`goods_num`,p.`goods_name`,p.`need_count`,p.`goods_count`,p.`use_count`,p.`goods_code`,
		p.`batch`,p.`zhuce_number`,p.`produce_day`,p.`useday`,p.`all_count`,p.`classtype`,p.`factory`,p.`status`,p.`username`,p.`goods`,p.`brandname`,p.`mfrsid`,
		p.`unit`,p.`money`,p.`sh_time`,p.`returnzt`,p.`stockorder`
		from stock_pidiao p

		join c_position po on p.out_positionid=po.position_id
		join c_position pos on p.in_positionid=pos.position_id
		join department d on p.out_departmentid=d.depart_number
		join department de on p.in_departmentid= de.depart_number
        <where>  
		  		  <if test="id != null and id != ''"> and p.id = #{id} </if>
			      <if test="pidiaoNumber != null and pidiaoNumber != ''">and  p.pidiao_number LIKE concat(concat('%', #{pidiaoNumber}),'%')</if>
		  		  <if test="guanlianNumber != null and guanlianNumber != ''"> and p.guanlian_number = #{guanlianNumber} </if>

		  		  <if test="outDepartmentid != null and outDepartmentid != ''"> and p.out_departmentid = #{outDepartmentid} </if>
		  		  <if test="outPositionid != null and outPositionid != ''"> and p.out_pzositionid = #{outPositionid} </if>
		  		  <if test="inPositionid != null and inPositionid != ''"> and p.in_positionid = #{inPositionid} </if>
		  		  <if test="inCompanyid != null and inCompanyid != ''"> and p.in_companyid = #{inCompanyid} </if>
		  		  <if test="inDepartmentid != null and inDepartmentid != ''"> and p.in_departmentid = #{inDepartmentid} </if>

			      <if test="outDepartment != null and outDepartment != ''"> and p.out_department = #{outDepartment} </if>
		  		  <if test="outPosition != null and outPosition != ''"> and p.out_position = #{outPosition} </if>
		  		  <if test="inPosition != null and inPosition != ''"> and p.in_position = #{inPosition} </if>
		  		  <if test="inCompany != null and inCompany != ''"> and p.in_company = #{inCompany} </if>
		  		  <if test="inDepartment != null and inDepartment != ''"> and p.in_department = #{inDepartment} </if>

		  		  <if test="zhidanPeople != null and zhidanPeople != ''"> and p.zhidan_people = #{zhidanPeople} </if>
		  		  <if test="danjuDay != null and danjuDay != ''"> and p.danju_day = #{danjuDay} </if>
		  		  <if test="outsourcingNumber != null and outsourcingNumber != ''"> and p.outsourcing_number = #{outsourcingNumber} </if>
		  		  <if test="beizhu != null and beizhu != ''"> and p.beizhu = #{beizhu} </if>
		  		  <if test="goodsNum != null and goodsNum != ''"> and p.goods_num = #{goodsNum} </if>
		  		  <if test="goodsName != null and goodsName != ''"> and p.goods_name = #{goodsName} </if>
		  		  <if test="needCount != null and needCount != ''"> and p.need_count = #{needCount} </if>
		  		  <if test="goodsCount != null and goodsCount != ''"> and p.goods_count = #{goodsCount} </if>
		  		  <if test="useCount != null and useCount != ''"> and p.use_count = #{useCount} </if>
		  		  <if test="goodsCode != null and goodsCode != ''"> and p.goods_code = #{goodsCode} </if>
		  		  <if test="batch != null and batch != ''"> and p.batch = #{batch} </if>
		  		  <if test="zhuceNumber != null and zhuceNumber != ''"> and p.zhuce_number = #{zhuceNumber} </if>
		  		  <if test="produceDay != null and produceDay != ''"> and p.produce_day = #{produceDay} </if>
		  		  <if test="useday != null and useday != ''"> and p.useday = #{useday} </if>
		  		  <if test="allCount != null and allCount != ''"> and p.all_count = #{allCount} </if>
		  		  <if test="classtype != null and classtype != ''"> and p.classtype = #{classtype} </if>
		  		  <if test="factory != null and factory != ''"> and p.factory = #{factory} </if>
		  		  <if test="status != null and status != ''"> and p.status = #{status} </if>
		  		  <if test="username != null and username != ''"> and p.username = #{username} </if>
		  		  <if test="goods != null and goods != ''"> and p.goods = #{goods} </if>
		  		  <if test="brandname != null and brandname != ''"> and p.brandname = #{brandname} </if>
		  		  <if test="mfrsid != null and mfrsid != ''"> and p.mfrsid = #{mfrsid} </if>
		  		  <if test="unit != null and unit != ''"> and p.unit = #{unit} </if>
		  		  <if test="money != null and money != ''"> and p.money = #{money} </if>
		  		  <if test="shTime != null and shTime != ''"> and p.sh_time = #{shTime} </if>
		  		  <if test="returnzt != null and returnzt != ''"> and p.returnzt = #{returnzt} </if>
		  		  <if test="stockorder != null and stockorder != ''"> and p.stockorder = #{stockorder} </if>

			<if test="departNumber != null and departNumber != ''">and  p.in_departmentid  = #{departNumber}</if>
			<if test="departNumber != null and departNumber != ''">or p.out_departmentid = #{departNumber}</if>

			<if test="companyId != null and companyId != ''">and FIND_IN_SET(d.company_id,#{companyId})</if>
			<if test="companyId != null and companyId != ''">or FIND_IN_SET(de.company_id,#{companyId})</if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
				group by p.pidiao_number
                order by p.id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	 <select id="count" resultType="int">
		 select COUNT(DISTINCT pidiao_number)
		 from stock_pidiao p

		 join c_position po on p.out_positionid=po.position_id
		 join c_position pos on p.in_positionid=pos.position_id
		 join department d on p.out_departmentid=d.depart_number
		 join department de on p.in_departmentid= de.depart_number
		 <where>
			 <if test="id != null and id != ''"> and p.id = #{id} </if>
			 <if test="pidiaoNumber != null and pidiaoNumber != ''">and  p.pidiao_number LIKE concat(concat('%', #{pidiaoNumber}),'%')</if>
			 <if test="guanlianNumber != null and guanlianNumber != ''"> and p.guanlian_number = #{guanlianNumber} </if>

			 <if test="outDepartmentid != null and outDepartmentid != ''"> and p.out_departmentid = #{outDepartmentid} </if>
			 <if test="outPositionid != null and outPositionid != ''"> and p.out_pzositionid = #{outPositionid} </if>
			 <if test="inPositionid != null and inPositionid != ''"> and p.in_positionid = #{inPositionid} </if>
			 <if test="inCompanyid != null and inCompanyid != ''"> and p.in_companyid = #{inCompanyid} </if>
			 <if test="inDepartmentid != null and inDepartmentid != ''"> and p.in_departmentid = #{inDepartmentid} </if>

			 <if test="outDepartment != null and outDepartment != ''"> and p.out_department = #{outDepartment} </if>
			 <if test="outPosition != null and outPosition != ''"> and p.out_position = #{outPosition} </if>
			 <if test="inPosition != null and inPosition != ''"> and p.in_position = #{inPosition} </if>
			 <if test="inCompany != null and inCompany != ''"> and p.in_company = #{inCompany} </if>
			 <if test="inDepartment != null and inDepartment != ''"> and p.in_department = #{inDepartment} </if>

			 <if test="zhidanPeople != null and zhidanPeople != ''"> and p.zhidan_people = #{zhidanPeople} </if>
			 <if test="danjuDay != null and danjuDay != ''"> and p.danju_day = #{danjuDay} </if>
			 <if test="outsourcingNumber != null and outsourcingNumber != ''"> and p.outsourcing_number = #{outsourcingNumber} </if>
			 <if test="beizhu != null and beizhu != ''"> and p.beizhu = #{beizhu} </if>
			 <if test="goodsNum != null and goodsNum != ''"> and p.goods_num = #{goodsNum} </if>
			 <if test="goodsName != null and goodsName != ''"> and p.goods_name = #{goodsName} </if>
			 <if test="needCount != null and needCount != ''"> and p.need_count = #{needCount} </if>
			 <if test="goodsCount != null and goodsCount != ''"> and p.goods_count = #{goodsCount} </if>
			 <if test="useCount != null and useCount != ''"> and p.use_count = #{useCount} </if>
			 <if test="goodsCode != null and goodsCode != ''"> and p.goods_code = #{goodsCode} </if>
			 <if test="batch != null and batch != ''"> and p.batch = #{batch} </if>
			 <if test="zhuceNumber != null and zhuceNumber != ''"> and p.zhuce_number = #{zhuceNumber} </if>
			 <if test="produceDay != null and produceDay != ''"> and p.produce_day = #{produceDay} </if>
			 <if test="useday != null and useday != ''"> and p.useday = #{useday} </if>
			 <if test="allCount != null and allCount != ''"> and p.all_count = #{allCount} </if>
			 <if test="classtype != null and classtype != ''"> and p.classtype = #{classtype} </if>
			 <if test="factory != null and factory != ''"> and p.factory = #{factory} </if>
			 <if test="status != null and status != ''"> and p.status = #{status} </if>
			 <if test="username != null and username != ''"> and p.username = #{username} </if>
			 <if test="goods != null and goods != ''"> and p.goods = #{goods} </if>
			 <if test="brandname != null and brandname != ''"> and p.brandname = #{brandname} </if>
			 <if test="mfrsid != null and mfrsid != ''"> and p.mfrsid = #{mfrsid} </if>
			 <if test="unit != null and unit != ''"> and p.unit = #{unit} </if>
			 <if test="money != null and money != ''"> and p.money = #{money} </if>
			 <if test="shTime != null and shTime != ''"> and p.sh_time = #{shTime} </if>
			 <if test="returnzt != null and returnzt != ''"> and p.returnzt = #{returnzt} </if>
			 <if test="stockorder != null and stockorder != ''"> and p.stockorder = #{stockorder} </if>

			 <if test="departNumber != null and departNumber != ''">and  p.in_departmentid  = #{departNumber}</if>
			 <if test="departNumber != null and departNumber != ''">or p.out_departmentid = #{departNumber}</if>

			 <if test="companyId != null and companyId != ''">and FIND_IN_SET(d.company_id,#{companyId})</if>
			 <if test="companyId != null and companyId != ''">or FIND_IN_SET(de.company_id,#{companyId})</if>
		 </where>
	</select>

	<insert id="save" parameterType="com.shiguang.stock.domain.PidiaoDO" useGeneratedKeys="true" keyProperty="id">
		insert into stock_pidiao
		(
			`pidiao_number`, 
			`guanlian_number`, 
			`out_departmentid`,
			`out_positionid`,
			`in_positionid`,
			`in_companyid`,
			`in_departmentid`,

			`out_department`,
			`out_position`,
			`in_position`,
			`in_company`,
			`in_department`,
			`zhidan_people`, 
			`danju_day`, 
			`outsourcing_number`, 
			`beizhu`, 
			`goods_num`, 
			`goods_name`, 
			`need_count`,
			`goods_count`, 
			`use_count`, 
			`goods_code`, 
			`batch`, 
			`zhuce_number`, 
			`produce_day`, 
			`useday`, 
			`all_count`,
			`classtype`,
			`factory`,
			`status`,
			`username`,
			`goods`,
			`brandname`,
			`mfrsid`,
			`unit`,
			`money`,
			`sh_time`,
			`returnzt`,
			`goodsxinxiid`,
			`stockorder`
		)
		values
		(
			#{pidiaoNumber}, 
			#{guanlianNumber},

			#{outDepartmentid},
			#{outPositionid},
			#{inPositionid},
			#{inCompanyid},
			#{inDepartmentid},

			#{outDepartment},
			#{outPosition},
			#{inPosition},
			#{inCompany},
			#{inDepartment},

			#{zhidanPeople}, 
			#{danjuDay}, 
			#{outsourcingNumber}, 
			#{beizhu}, 
			#{goodsNum}, 
			#{goodsName}, 
			#{needCount},
			#{goodsCount}, 
			#{useCount}, 
			#{goodsCode}, 
			#{batch}, 
			#{zhuceNumber}, 
			#{produceDay}, 
			#{useday}, 
			#{allCount},
			#{classtype},
			#{factory},
			#{status},
			#{username},
			#{goods},
			#{brandname},
			#{mfrsid},
			#{unit},
			#{money},
			#{shTime},
			#{returnzt},
			#{goodsxinxiid},
			#{stockorder}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.stock.domain.PidiaoDO">
		update stock_pidiao 
		<set>
			<if test="pidiaoNumber != null">`pidiao_number` = #{pidiaoNumber}, </if>
			<if test="guanlianNumber != null">`guanlian_number` = #{guanlianNumber}, </if>
			<if test="outDepartmentid != null">`out_departmentid` = #{outDepartmentid}, </if>
			<if test="outPositionid != null">`out_positionid` = #{outPositionid}, </if>
			<if test="inPositionid != null">`in_positionid` = #{inPositionid}, </if>
			<if test="inCompanyid != null">`in_companyid` = #{inCompanyid}, </if>
			<if test="inDepartmentid != null">`in_departmentid` = #{inDepartmentid}, </if>

			<if test="outDepartment != null">`out_department` = #{outDepartment}, </if>
			<if test="outPosition != null">`out_position` = #{outPosition}, </if>
			<if test="inPosition != null">`in_position` = #{inPosition}, </if>
			<if test="inCompany != null">`in_company` = #{inCompany}, </if>
			<if test="inDepartment != null">`in_department` = #{inDepartment}, </if>
			<if test="zhidanPeople != null">`zhidan_people` = #{zhidanPeople}, </if>
			<if test="danjuDay != null">`danju_day` = #{danjuDay}, </if>
			<if test="outsourcingNumber != null">`outsourcing_number` = #{outsourcingNumber}, </if>
			<if test="beizhu != null">`beizhu` = #{beizhu}, </if>
			<if test="goodsNum != null">`goods_num` = #{goodsNum}, </if>
			<if test="goodsName != null">`goods_name` = #{goodsName}, </if>
			<if test="needCount != null">`need_count` = #{needCount}, </if>
			<if test="goodsCount != null">`goods_count` = #{goodsCount}, </if>
			<if test="useCount != null">`use_count` = #{useCount}, </if>
			<if test="goodsCode != null">`goods_code` = #{goodsCode}, </if>
			<if test="batch != null">`batch` = #{batch}, </if>
			<if test="zhuceNumber != null">`zhuce_number` = #{zhuceNumber}, </if>
			<if test="produceDay != null">`produce_day` = #{produceDay}, </if>
			<if test="useday != null">`useday` = #{useday}, </if>
			<if test="allCount != null">`all_count` = #{allCount},</if>
			<if test="classtype != null">`classtype` = #{classtype},</if>
			<if test="factory != null">`factory` = #{factory},</if>
			<if test="status != null">`status` = #{status},</if>
			<if test="username != null">`username` = #{username},</if>
			<if test="goods != null">`goods` = #{goods},</if>
			<if test="brandname != null">`brandname` = #{brandname},</if>
			<if test="mfrsid != null">`mfrsid` = #{mfrsid},</if>
			<if test="unit != null">`unit` = #{unit},</if>
			<if test="money != null">`money` = #{money},</if>
			<if test="shTime != null">`sh_time` = #{shTime},</if>
			<if test="returnzt != null">`returnzt` = #{returnzt},</if>
			<if test="stockorder != null">`stockorder` = #{stockorder}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from stock_pidiao where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from stock_pidiao where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>


	<select id="outPosition" resultType="com.shiguang.stock.domain.PidiaoDO">
		select po.position_id,po.`position_name`,d.`depart_name`,d.depart_number from c_position po  left join department d on po.depart_number=d.depart_number
		<where>
			<if test="outDepartment != null and outDepartment != ''">and d.depart_number = #{outDepartment}</if>
			<if test="inDepartment != null and inDepartment != ''">and d.depart_number = #{inDepartment}</if>
			and po.xsstate=0 and  po.state=1
		</where>
		group by po.position_id order by  po.position_id
	</select>
	<select id="indepartment" resultType="com.shiguang.stock.domain.PidiaoDO">
		select  d.depart_number,d.id,d.depart_name,c.name from department d left join c_company c on d.company_id=c.id
		<where>
			<if test="inCompany != null and inCompany != ''">and c.id = #{inCompany}</if>
			and   d.status=0 and d.state=1
		</where>
		group by d.id order by  d.id desc
	</select>
	<select id="selectPidiao" resultType="com.shiguang.stock.domain.PidiaoDO">
		select `goods_num`,`goods_name`,`need_count`,`goods_count`,
		`use_count`,`goods_code`,`batch`,`zhuce_number`,`produce_day`,`useday`,`all_count`,`classtype` ,`factory`,`status` ,`username`,
		`goods`,`brandname`,`mfrsid`
		from stock_pidiao
		<where>
			<if test="pidiaoNumber != null and pidiaoNumber != ''"> and pidiao_number = #{pidiaoNumber} </if>
		</where>
		group by id
	</select>
	<select id="getpidiao" resultType="com.shiguang.stock.domain.PidiaoDO">
		select
		c.name as ings, d.depart_name as inbm, de.depart_name as outbm,
		po.position_name as outcw ,pos.position_name as incw,
		p.`id`,p.`pidiao_number`,
		p.`zhidan_people`,p.`danju_day`,p.`outsourcing_number`,p.`beizhu`
		from stock_pidiao p
		left join sys_user u on p.zhidan_people =u.name

		left join c_company c on p.in_companyid=c.id
		left join department d on p.in_departmentid=d.id
		left join department de on p.out_departmentid=de.id

		left join c_position po on p.out_positionid=po.position_id
		left join c_position pos on p.in_positionid=pos.position_id
		where p.pidiao_number = #{value}
		group by p.pidiao_number
	</select>

	<select id="getpidiaoList" resultType="com.shiguang.stock.domain.PidiaoDO">
		select p.goods_num,p.goods_name,p.unit,p.use_count,p.money,position_name,p.useday,p.batch,p.zhuce_number,p.brandname
		from  stock_pidiao p
		left join  c_position po on p.out_positionid=po.position_id
		<where>
			<if test="pidiaoNumber != null and pidiaoNumber != ''"> and p.pidiao_number = #{pidiaoNumber} </if>
		</where>
		group by p.id
	</select>
	<!--确认收货-->
	<update id="updateStatus" parameterType="com.shiguang.stock.domain.PidiaoDO">
		update stock_pidiao
		<set>
			<if test="status != null">`status` = #{status}, </if>
			<if test="username != null">`username` = #{username}, </if>
			<if test="shTime != null">`sh_time` = #{shTime}, </if>
			<if test="stockorder != null">`stockorder` = #{stockorder} </if>
		</set>
		where pidiao_number = #{pidiaoNumber}
	</update>

	<select id="returnList" resultType="com.shiguang.stock.domain.PidiaoDO">
		select * from stock_pidiao where pidiao_number = #{pidiaoNumber} group by id
	</select>

	<!--退回修改状态-->
	<update id="updatereturnzt" parameterType="com.shiguang.stock.domain.PidiaoDO">
		update stock_pidiao
		<set>
			<if test="returnzt != null">`returnzt` = #{returnzt} ,</if>
			<if test="shTime != null">`sh_time` = #{shTime} ,</if>
			<if test="username != null">`username` = #{username} </if>
		</set>
		where pidiao_number = #{pidiaoNumber}
	</update>

	<select id="pidiaodan" resultType="com.shiguang.stock.domain.PidiaoDO">
		select * FROM stock_pidiao
		<where>
			<if test="pidiaoNumber != null and pidiaoNumber != ''">and pidiao_number = #{pidiaoNumber}</if>
		</where>
	</select>


	<select id="countall" resultType="int">
		select  sum(use_count) from stock_pidiao
		<where>
			<if test="pidiaoNumber != null and pidiaoNumber != ''">and  pidiao_number = #{pidiaoNumber}</if>
		</where>
	</select>

	<select id="getCode" resultType="com.shiguang.stock.domain.PidiaoDO">
		select pd.goods_name,pd.goods_code,pd.goods_count,pd.factory,pd.money as retail_price,p.produc_factorycolor,p.view_good_name
		from stock_pidiao pd
		left join  aa_produca p on pd.goods_num=p.produc_num
		<where>
			<if test="pidiaoNumber != null and pidiaoNumber != ''">and pd.pidiao_number = #{pidiaoNumber}</if>
			<if test="codeOne != null and codeOne != ''">and pd.goods_code = #{codeOne}</if>
		</where>
	</select>

	<select id="haveOrderNum" resultType="com.shiguang.stock.domain.PidiaoDO">
		select * FROM stock_pidiao
		<where>
			<if test="id != null and id != ''">and id = #{id}</if>
			<if test="pidiaonum != null and pidiaonum != ''">and pidiao_number = #{pidiaonum}</if>
		</where>
	</select>
</mapper>