<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.stock.dao.StocklogDao">

	<select id="get" resultType="com.shiguang.stock.domain.StocklogDO">
		select `id`,`danjunum`,`num`,`code`,`name`,`goodsid`,`mfrsnum`,`brandname`,`money`,`useday`,`bacth`,`zhidan_people`,`counts`,`inposition_id`,`outposition_id`,`day`,`way`,`username` from stock_stocklog where id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.stock.domain.StocklogDO">
		SELECT
		log.*, s.mfrsname,
		inp.position_name AS inposition_name,
		outp.position_name AS outposition_name,
		goodsname,
		outp.company_id,
		u.name as shname
		FROM
		stock_stocklog log
		JOIN c_mfrs s ON log.mfrsnum = s.mfrsnum
		JOIN sys_user u ON log.username = u.username
		JOIN c_goods g ON log.goodsid = g.goodsid
		LEFT JOIN c_position inp ON log.inposition_id = inp.position_id
		LEFT JOIN c_position outp ON log.outposition_id = outp.position_id
        <where>  
		  		  <if test="id != null and id != ''"> and log.id = #{id} </if>
		  		  <if test="danjunum != null and danjunum != ''"> and log.danjunum = #{danjunum} </if>
		  		  <if test="num != null and num != ''"> and log.num = #{num} </if>
		  		  <if test="code != null and code != ''"> and log.code = #{code} </if>
		  		  <if test="name != null and name != ''"> and log.name = #{name} </if>
		  		  <if test="goodsid != null and goodsid != ''"> and log.goodsid = #{goodsid} </if>
		  		  <if test="mfrsnum != null and mfrsnum != ''"> and log.mfrsnum = #{mfrsnum} </if>
		  		  <if test="brandname != null and brandname != ''"> and log.brandname = #{brandname} </if>
		  		  <if test="money != null and money != ''"> and log.money = #{money} </if>
		  		  <if test="useday != null and useday != ''"> and log.useday = #{useday} </if>
		  		  <if test="bacth != null and bacth != ''"> and log.bacth = #{bacth} </if>
		  		  <if test="zhidanPeople != null and zhidanPeople != ''"> and log.zhidan_people = #{zhidanPeople} </if>
		  		  <if test="counts != null and counts != ''"> and log.counts = #{counts} </if>
		  		  <if test="inpositionId != null and inpositionId != ''"> and log.inposition_id = #{inpositionId} </if>
		  		  <if test="outpositionId != null and outpositionId != ''"> and log.outposition_id = #{outpositionId} </if>
		  		  <if test="day != null and day != ''"> and log.day = #{day} </if>
		  		  <if test="way != null and way != ''"> and log.way = #{way} </if>
		  		  <if test="username != null and username != ''"> and log.username = #{username} </if>
		  		  <if test="companyId != null and companyId != ''"> and outp.company_id = #{companyId} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) FROM
		stock_stocklog log
		JOIN c_mfrs s ON log.mfrsnum = s.mfrsnum
		JOIN sys_user u ON log.username = u.username
		JOIN c_goods g ON log.goodsid = g.goodsid
		LEFT JOIN c_position inp ON log.inposition_id = inp.position_id
		LEFT JOIN c_position outp ON log.outposition_id = outp.position_id
		<where>
			<if test="id != null and id != ''"> and log.id = #{id} </if>
			<if test="danjunum != null and danjunum != ''"> and log.danjunum = #{danjunum} </if>
			<if test="num != null and num != ''"> and log.num = #{num} </if>
			<if test="code != null and code != ''"> and log.code = #{code} </if>
			<if test="name != null and name != ''"> and log.name = #{name} </if>
			<if test="goodsid != null and goodsid != ''"> and log.goodsid = #{goodsid} </if>
			<if test="mfrsnum != null and mfrsnum != ''"> and log.mfrsnum = #{mfrsnum} </if>
			<if test="brandname != null and brandname != ''"> and log.brandname = #{brandname} </if>
			<if test="money != null and money != ''"> and log.money = #{money} </if>
			<if test="useday != null and useday != ''"> and log.useday = #{useday} </if>
			<if test="bacth != null and bacth != ''"> and log.bacth = #{bacth} </if>
			<if test="zhidanPeople != null and zhidanPeople != ''"> and log.zhidan_people = #{zhidanPeople} </if>
			<if test="counts != null and counts != ''"> and log.counts = #{counts} </if>
			<if test="inpositionId != null and inpositionId != ''"> and log.inposition_id = #{inpositionId} </if>
			<if test="outpositionId != null and outpositionId != ''"> and log.outposition_id = #{outpositionId} </if>
			<if test="day != null and day != ''"> and log.day = #{day} </if>
			<if test="way != null and way != ''"> and log.way = #{way} </if>
			<if test="username != null and username != ''"> and log.username = #{username} </if>
			<if test="companyId != null and companyId != ''"> and outp.company_id = #{companyId} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
	</select>
	 
	<insert id="save" parameterType="com.shiguang.stock.domain.StocklogDO" useGeneratedKeys="true" keyProperty="id">
		insert into stock_stocklog
		(
			`danjunum`,
			`num`, 
			`code`, 
			`name`, 
			`goodsid`, 
			`mfrsnum`, 
			`brandname`, 
			`money`, 
			`useday`, 
			`bacth`, 
			`zhidan_people`, 
			`counts`, 
			`inposition_id`, 
			`outposition_id`, 
			`day`, 
			`way`, 
			`username`
		)
		values
		(
			#{danjunum},
			#{num},
			#{code},
			#{name}, 
			#{goodsid}, 
			#{mfrsnum}, 
			#{brandname}, 
			#{money}, 
			#{useday}, 
			#{bacth}, 
			#{zhidanPeople}, 
			#{counts}, 
			#{inpositionId}, 
			#{outpositionId}, 
			#{day}, 
			#{way}, 
			#{username}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.stock.domain.StocklogDO">
		update stock_stocklog 
		<set>
			<if test="danjunum != null">`danjunum` = #{danjunum}, </if>
			<if test="num != null">`num` = #{num}, </if>
			<if test="code != null">`code` = #{code}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="goodsid != null">`goodsid` = #{goodsid}, </if>
			<if test="mfrsnum != null">`mfrsnum` = #{mfrsnum}, </if>
			<if test="brandname != null">`brandname` = #{brandname}, </if>
			<if test="money != null">`money` = #{money}, </if>
			<if test="useday != null">`useday` = #{useday}, </if>
			<if test="bacth != null">`bacth` = #{bacth}, </if>
			<if test="zhidanPeople != null">`zhidan_people` = #{zhidanPeople}, </if>
			<if test="counts != null">`counts` = #{counts}, </if>
			<if test="inpositionId != null">`inposition_id` = #{inpositionId}, </if>
			<if test="outpositionId != null">`outposition_id` = #{outpositionId}, </if>
			<if test="day != null">`day` = #{day}, </if>
			<if test="way != null">`way` = #{way}, </if>
			<if test="username != null">`username` = #{username}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from stock_stocklog where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from stock_stocklog where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>