<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.stock.dao.StocklogDao">

	<select id="get" resultType="com.shiguang.stock.domain.StocklogDO">
		select `id`,`num`,`code`,`name`,`goodsid`,`money`,`useday`,`bacth`,`counts`,`inposition_id`,`outposition_id`,`day`,`way`,`username` from stock_stocklog where id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.stock.domain.StocklogDO">
		select `id`,`num`,`code`,`name`,`goodsid`,`money`,`useday`,`bacth`,`counts`,`inposition_id`,`outposition_id`,`day`,`way`,`username` from stock_stocklog
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="num != null and num != ''"> and num = #{num} </if>
		  		  <if test="code != null and code != ''"> and code = #{code} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="goodsid != null and goodsid != ''"> and goodsid = #{goodsid} </if>
		  		  <if test="money != null and money != ''"> and money = #{money} </if>
		  		  <if test="useday != null and useday != ''"> and useday = #{useday} </if>
		  		  <if test="bacth != null and bacth != ''"> and bacth = #{bacth} </if>
		  		  <if test="counts != null and counts != ''"> and counts = #{counts} </if>
		  		  <if test="inpositionId != null and inpositionId != ''"> and inposition_id = #{inpositionId} </if>
		  		  <if test="outpositionId != null and outpositionId != ''"> and outposition_id = #{outpositionId} </if>
		  		  <if test="day != null and day != ''"> and day = #{day} </if>
		  		  <if test="way != null and way != ''"> and way = #{way} </if>
		  		  <if test="username != null and username != ''"> and username = #{username} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from stock_stocklog
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="num != null and num != ''"> and num = #{num} </if>
		  		  <if test="code != null and code != ''"> and code = #{code} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="goodsid != null and goodsid != ''"> and goodsid = #{goodsid} </if>
		  		  <if test="money != null and money != ''"> and money = #{money} </if>
		  		  <if test="useday != null and useday != ''"> and useday = #{useday} </if>
		  		  <if test="bacth != null and bacth != ''"> and bacth = #{bacth} </if>
		  		  <if test="counts != null and counts != ''"> and counts = #{counts} </if>
		  		  <if test="inpositionId != null and inpositionId != ''"> and inposition_id = #{inpositionId} </if>
		  		  <if test="outpositionId != null and outpositionId != ''"> and outposition_id = #{outpositionId} </if>
		  		  <if test="day != null and day != ''"> and day = #{day} </if>
		  		  <if test="way != null and way != ''"> and way = #{way} </if>
		  		  <if test="username != null and username != ''"> and username = #{username} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shiguang.stock.domain.StocklogDO" useGeneratedKeys="true" keyProperty="id">
		insert into stock_stocklog
		(
			`num`, 
			`code`, 
			`name`, 
			`goodsid`, 
			`money`, 
			`useday`, 
			`bacth`, 
			`counts`, 
			`inposition_id`, 
			`outposition_id`, 
			`day`, 
			`way`, 
			`username`
		)
		values
		(
			#{num}, 
			#{code}, 
			#{name}, 
			#{goodsid}, 
			#{money}, 
			#{useday}, 
			#{bacth}, 
			#{counts}, 
			#{inpositionId}, 
			#{outpositionId}, 
			#{day}, 
			#{way}, 
			#{username}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.stock.domain.StocklogDO">
		update stock_stocklog 
		<set>
			<if test="num != null">`num` = #{num}, </if>
			<if test="code != null">`code` = #{code}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="goodsid != null">`goodsid` = #{goodsid}, </if>
			<if test="money != null">`money` = #{money}, </if>
			<if test="useday != null">`useday` = #{useday}, </if>
			<if test="bacth != null">`bacth` = #{bacth}, </if>
			<if test="counts != null">`counts` = #{counts}, </if>
			<if test="inpositionId != null">`inposition_id` = #{inpositionId}, </if>
			<if test="outpositionId != null">`outposition_id` = #{outpositionId}, </if>
			<if test="day != null">`day` = #{day}, </if>
			<if test="way != null">`way` = #{way}, </if>
			<if test="username != null">`username` = #{username}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from stock_stocklog where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from stock_stocklog where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>