<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.stock.dao.StockqualifyDao">

	<select id="get" resultType="com.shiguang.stock.domain.StockqualifyDO">
		select `id`,`position_id`,`goods_code` from stock_stockqualify where id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.stock.domain.StockqualifyDO">
		select `id`,`position_id`,`goods_code` from stock_stockqualify
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="positionId != null and positionId != ''"> and position_id = #{positionId} </if>
		  		  <if test="goodsCode != null and goodsCode != ''"> and goods_code = #{goodsCode} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from stock_stockqualify
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="positionId != null and positionId != ''"> and position_id = #{positionId} </if>
		  		  <if test="goodsCode != null and goodsCode != ''"> and goods_code = #{goodsCode} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shiguang.stock.domain.StockqualifyDO">
		insert into stock_stockqualify
		(
			`id`, 
			`position_id`, 
			`goods_code`
		)
		values
		(
			#{id}, 
			#{positionId}, 
			#{goodsCode}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.stock.domain.StockqualifyDO">
		update stock_stockqualify 
		<set>
			<if test="positionId != null">`position_id` = #{positionId}, </if>
			<if test="goodsCode != null">`goods_code` = #{goodsCode}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from stock_stockqualify where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from stock_stockqualify where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>