<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.stock.dao.TuihuoDao">

	<select id="get" resultType="com.shiguang.stock.domain.TuihuoDO">
		select `id`,`tuihuo_num`,`zhidan_people`,`danju_day`,`mfrsid`,`mfrsname`,`position_id`,`beizhu`,`goodsxinxiid`,`goods_num`,`goods_name`,`factory`,`unit`,`goods_count`,`count`,`goods_code` from stock_tuihuo where id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.stock.domain.TuihuoDO">
		select `id`,`tuihuo_num`,`zhidan_people`,`danju_day`,`mfrsid`,`mfrsname`,`position_id`,`beizhu`,`goodsxinxiid`,`goods_num`,`goods_name`,`factory`,`unit`,`goods_count`,`count`,`goods_code` from stock_tuihuo
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="tuihuoNum != null and tuihuoNum != ''"> and tuihuo_num = #{tuihuoNum} </if>
		  		  <if test="zhidanPeople != null and zhidanPeople != ''"> and zhidan_people = #{zhidanPeople} </if>
		  		  <if test="danjuDay != null and danjuDay != ''"> and danju_day = #{danjuDay} </if>
		  		  <if test="mfrsid != null and mfrsid != ''"> and mfrsid = #{mfrsid} </if>
		  		  <if test="mfrsname != null and mfrsname != ''"> and mfrsname = #{mfrsname} </if>
		  		  <if test="positionId != null and positionId != ''"> and position_id = #{positionId} </if>
		  		  <if test="beizhu != null and beizhu != ''"> and beizhu = #{beizhu} </if>
		  		  <if test="goodsxinxiid != null and goodsxinxiid != ''"> and goodsxinxiid = #{goodsxinxiid} </if>
		  		  <if test="goodsNum != null and goodsNum != ''"> and goods_num = #{goodsNum} </if>
		  		  <if test="goodsName != null and goodsName != ''"> and goods_name = #{goodsName} </if>
		  		  <if test="factory != null and factory != ''"> and factory = #{factory} </if>
		  		  <if test="unit != null and unit != ''"> and unit = #{unit} </if>
		  		  <if test="goodsCount != null and goodsCount != ''"> and goods_count = #{goodsCount} </if>
		  		  <if test="count != null and count != ''"> and count = #{count} </if>
		  		  <if test="goodsCode != null and goodsCode != ''"> and goods_code = #{goodsCode} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from stock_tuihuo
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="tuihuoNum != null and tuihuoNum != ''"> and tuihuo_num = #{tuihuoNum} </if>
		  		  <if test="zhidanPeople != null and zhidanPeople != ''"> and zhidan_people = #{zhidanPeople} </if>
		  		  <if test="danjuDay != null and danjuDay != ''"> and danju_day = #{danjuDay} </if>
		  		  <if test="mfrsid != null and mfrsid != ''"> and mfrsid = #{mfrsid} </if>
		  		  <if test="mfrsname != null and mfrsname != ''"> and mfrsname = #{mfrsname} </if>
		  		  <if test="positionId != null and positionId != ''"> and position_id = #{positionId} </if>
		  		  <if test="beizhu != null and beizhu != ''"> and beizhu = #{beizhu} </if>
		  		  <if test="goodsxinxiid != null and goodsxinxiid != ''"> and goodsxinxiid = #{goodsxinxiid} </if>
		  		  <if test="goodsNum != null and goodsNum != ''"> and goods_num = #{goodsNum} </if>
		  		  <if test="goodsName != null and goodsName != ''"> and goods_name = #{goodsName} </if>
		  		  <if test="factory != null and factory != ''"> and factory = #{factory} </if>
		  		  <if test="unit != null and unit != ''"> and unit = #{unit} </if>
		  		  <if test="goodsCount != null and goodsCount != ''"> and goods_count = #{goodsCount} </if>
		  		  <if test="count != null and count != ''"> and count = #{count} </if>
		  		  <if test="goodsCode != null and goodsCode != ''"> and goods_code = #{goodsCode} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shiguang.stock.domain.TuihuoDO" useGeneratedKeys="true" keyProperty="id">
		insert into stock_tuihuo
		(
			`tuihuo_num`, 
			`zhidan_people`, 
			`danju_day`, 
			`mfrsid`, 
			`mfrsname`, 
			`position_id`, 
			`beizhu`, 
			`goodsxinxiid`, 
			`goods_num`, 
			`goods_name`, 
			`factory`, 
			`unit`, 
			`goods_count`, 
			`count`, 
			`goods_code`
		)
		values
		(
			#{tuihuoNum}, 
			#{zhidanPeople}, 
			#{danjuDay}, 
			#{mfrsid}, 
			#{mfrsname}, 
			#{positionId}, 
			#{beizhu}, 
			#{goodsxinxiid}, 
			#{goodsNum}, 
			#{goodsName}, 
			#{factory}, 
			#{unit}, 
			#{goodsCount}, 
			#{count}, 
			#{goodsCode}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.stock.domain.TuihuoDO">
		update stock_tuihuo 
		<set>
			<if test="tuihuoNum != null">`tuihuo_num` = #{tuihuoNum}, </if>
			<if test="zhidanPeople != null">`zhidan_people` = #{zhidanPeople}, </if>
			<if test="danjuDay != null">`danju_day` = #{danjuDay}, </if>
			<if test="mfrsid != null">`mfrsid` = #{mfrsid}, </if>
			<if test="mfrsname != null">`mfrsname` = #{mfrsname}, </if>
			<if test="positionId != null">`position_id` = #{positionId}, </if>
			<if test="beizhu != null">`beizhu` = #{beizhu}, </if>
			<if test="goodsxinxiid != null">`goodsxinxiid` = #{goodsxinxiid}, </if>
			<if test="goodsNum != null">`goods_num` = #{goodsNum}, </if>
			<if test="goodsName != null">`goods_name` = #{goodsName}, </if>
			<if test="factory != null">`factory` = #{factory}, </if>
			<if test="unit != null">`unit` = #{unit}, </if>
			<if test="goodsCount != null">`goods_count` = #{goodsCount}, </if>
			<if test="count != null">`count` = #{count}, </if>
			<if test="goodsCode != null">`goods_code` = #{goodsCode}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from stock_tuihuo where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from stock_tuihuo where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="selectJingjia" resultType="com.shiguang.stock.domain.StockDO">
		select s.goods_num,s.goods_code,s.goods_name,s.factory,s.unit,p.produc_factorycolor,m.materialname,p.size,s.retail_price,po.position_name,s.goods_count
		from  stock s
		left join aa_produca p on s.goodsxinxiid= p.id
		left join c_material m on p.materialid=m.materialid
		left join c_position po on  s.position_id=po.position_id
		<where>
			<if test="mfrsid != null and mfrsid != ''"> and s.mfrsid = #{mfrsid} </if>
			<if test="positionId != null and positionId != ''"> and s.position_id = #{positionId} </if>
		</where>
		group by s.goods_code
	</select>
	<select id="selectPeijian" resultType="com.shiguang.stock.domain.StockDO">
		select s.goods_num,s.goods_code,s.goods_name,s.factory,s.unit,p.parts_style,s.retail_price,s.goods_count,po.position_name
		from  stock s
		left join aa_parts p on s.goodsxinxiid= p.id
		left join c_position po on  s.position_id=po.position_id
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
		</where>
		group by s.goods_code
	</select>
	<select id="selectJpdz" resultType="com.shiguang.stock.domain.StockDO">
		select s.goods_num, s.goods_code, s.goods_name,s.unit,
		j.sph_up,j.sph_down,j.cyl_up,j.cyl_down,j.lightbelow_right,j.lightbelow_left,re.refractivityvalue,l.light_name,g.gradual_name,f.function_name,
		s.retail_price,s.goods_count,po.position_name
		from  stock s
		left join aa_jpdz j on s.goodsxinxiid= j.id
		left join c_position po on  s.position_id=po.position_id
		left join c_refractivity re on j.refractivityid=re.refractivityid
		left join p_light l on j.light_id= l.light_id
		left join p_gradual g on j.gradual_id= g.gradual_id
		left join p_function f on j.function_id=f.function_id
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
		</where>
		group by s.goods_code
	</select>
	<select id="selectJpcp" resultType="com.shiguang.stock.domain.StockDO">
		select s.goods_num,s.goods_code,s.goods_name,s.unit,sp.sph,cy.cyl,l.lightbelow,r.refractivityvalue,li.light_name,g.gradual_name,
		f.function_name,s.retail_price,po.position_name,s.goods_count
		from  stock s
		left join aa_jpcp j on s.goodsxinxiid= j.id
		left join a_sph sp on j.sph_id=sp.sph_id
		left join a_cyl cy on j.cyl_id=cy.cyl_id
		left join a_lightbelow l on j.lightbelow_id=l.lightbelow_id
		left join c_refractivity r on j.refractivityid=r.refractivityid
		left join p_light li on j.light_id=li.light_id
		left join p_gradual g on j.gradual_id = g.gradual_id
		left join p_function f on j.function_id=f.function_id
		left join c_position po on s.position_id=po.position_id
			<where>
				<if test="id != null and id != ''"> and id = #{id} </if>
			</where>
			group by s.goods_code
	</select>
	<select id="selectYxdz" resultType="com.shiguang.stock.domain.StockDO">
		select s.goods_num,s.goods_code,s.goods_name,s.unit,y.sph_up,y.sph_down,y.cyl_up,y.cyl_down,y.curvature_one,y.curvature_yi,
		y.diameter_one,y.diameter_yi,u.usage_name,t.type_name,s.retail_price,po.position_name,s.goods_count
		from stock s
		left join aa_yxdz y on s.goodsxinxiid=y.id
		left join p_usage u on y.usage_id=u.usage_id
		left join p_type t on y.type_id=t.type_id
		left join c_position po on s.position_id=po.position_id
			<where>
				<if test="id != null and id != ''"> and id = #{id} </if>
			</where>
			group by s.goods_code
	</select>
	<select id="selectYxcp" resultType="com.shiguang.stock.domain.StockDO">
		select s.goods_num,s.goods_code,s.goods_name,s.unit,sp.sph,cy.cyl,y.curvature,y.diameter,u.usage_name,t.type_name,s.retail_price,po.position_name,s.goods_count
		from stock s
		left join aa_yxcp y on s.goodsxinxiid=y.id
		left join a_sph sp on y.sph_id =sp.sph_id
		left join a_cyl cy on y.cyl_id =cy.cyl_id
		left join p_usage u on y.usage_id=u.usage_id
		left join p_type t on y.type_id=t.type_id
		left join c_position po on s.position_id=po.position_id
				<where>
					<if test="id != null and id != ''"> and id = #{id} </if>
				</where>
				group by s.goods_code
	</select>
	<select id="selectHly" resultType="com.shiguang.stock.domain.StockDO">
		select s.goods_num,s.goods_code,s.goods_name,s.factory,s.unit,
		h.main_capacity,h.second_capacity,s.retail_price,po.position_name,s.goods_count
		from stock s
		left join aa_hly h on s.goodsxinxiid=h.id
		left join c_position po on s.position_id=po.position_id
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
		</where>
		group by s.goods_code
	</select>
	<select id="selectTyj" resultType="com.shiguang.stock.domain.StockDO">
		select s.goods_num,s.goods_code,s.goods_name,s.factory,s.unit,
		t.produc_factorycolor,t.size,
		s.retail_price,po.position_name,s.goods_count
		from stock s
		left join aa_tyj t on s.goodsxinxiid=t.id
		left join c_position po on s.position_id=po.position_id
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
		</where>
		group by s.goods_code
	</select>
	<select id="selectLhj" resultType="com.shiguang.stock.domain.StockDO">
		select s.goods_num,s.goods_code,s.goods_name,s.factory,s.unit,
		ol.degrees,o.size,o.produc_factorycolor,
		s.retail_price,po.position_name,s.goods_count
		from stock s
		left join aa_oldlens o on s.goodsxinxiid=o.id
		left join a_olddegrees ol on o.old_id= o.old_id
		left join c_position po on s.position_id=po.position_id
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
		</where>
		group by s.goods_code
	</select>
	<select id="selectHc" resultType="com.shiguang.stock.domain.StockDO">
		select s.goods_num,s.goods_code,s.goods_name,s.factory,s.unit,
		s.retail_price,po.position_name,s.goods_count
		from stock s
		left join aa_hc h on s.goodsxinxiid=h.id
		left join c_position po on s.position_id=po.position_id
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
		</where>
		group by s.goods_code
	</select>
	<select id="selectSg" resultType="com.shiguang.stock.domain.StockDO">
		select s.goods_num,s.goods_code,s.goods_name,s.factory,s.unit,
		s.retail_price,po.position_name,s.goods_count
		from stock s
		left join aa_hc h on s.goodsxinxiid=h.id
		left join c_position po on s.position_id=po.position_id
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
		</where>
		group by s.goods_code
	</select>

</mapper>