<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.stock.dao.WeiwaishujuDao">

	<select id="get" resultType="com.shiguang.stock.domain.WeiwaishujuDO">
		select `id`,`number`,`danju_day`,`departname`,`zhidan_people`,`jc_style`,`timetime`,`danju_style`,`sale_number`,`weiwai_style`,`beizhu`,`sph`,`cyl`,`zx`,`add`,`slj`,`jd`,`fartj`,`neartj`,`tg`,`qulv`,`zj`,`sphyx`,`cylyx`,`zxyx`,`num`,`code`,`name`,`left_right`,`count`,`yaoqiu`,`numyx`,`codeyx`,`nameyx`,`left_right_yx`,`countyx`,`yaoqiuyx`,`gkname`,`hyknum`,`phone` from stock_weiwaishuju where id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.stock.domain.WeiwaishujuDO">
		select `id`,`number`,`danju_day`,`departname`,`zhidan_people`,`jc_style`,`timetime`,`danju_style`,`sale_number`,`weiwai_style`,`beizhu`,`sph`,`cyl`,`zx`,`add`,`slj`,`jd`,`fartj`,`neartj`,`tg`,`qulv`,`zj`,`sphyx`,`cylyx`,`zxyx`,`num`,`code`,`name`,`left_right`,`count`,`yaoqiu`,`numyx`,`codeyx`,`nameyx`,`left_right_yx`,`countyx`,`yaoqiuyx`,`gkname`,`hyknum`,`phone` from stock_weiwaishuju
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="number != null and number != ''"> and number = #{number} </if>
			<if test="danjuDay != null and danjuDay != ''"> and danju_day = #{danjuDay} </if>
			<if test="departname != null and departname != ''"> and departname = #{departname} </if>
			<if test="zhidanPeople != null and zhidanPeople != ''"> and zhidan_people = #{zhidanPeople} </if>
			<if test="jcStyle != null and jcStyle != ''"> and jc_style = #{jcStyle} </if>
			<if test="timetime != null and timetime != ''"> and timetime = #{timetime} </if>
			<if test="danjuStyle != null and danjuStyle != ''"> and danju_style = #{danjuStyle} </if>
			<if test="saleNumber != null and saleNumber != ''"> and sale_number = #{saleNumber} </if>
			<if test="weiwaiStyle != null and weiwaiStyle != ''"> and weiwai_style = #{weiwaiStyle} </if>
			<if test="beizhu != null and beizhu != ''"> and beizhu = #{beizhu} </if>
			<if test="sph != null and sph != ''"> and sph = #{sph} </if>
			<if test="cyl != null and cyl != ''"> and cyl = #{cyl} </if>
			<if test="zx != null and zx != ''"> and zx = #{zx} </if>
			<if test="add != null and add != ''"> and add = #{add} </if>
			<if test="slj != null and slj != ''"> and slj = #{slj} </if>
			<if test="jd != null and jd != ''"> and jd = #{jd} </if>
			<if test="fartj != null and fartj != ''"> and fartj = #{fartj} </if>
			<if test="neartj != null and neartj != ''"> and neartj = #{neartj} </if>
			<if test="tg != null and tg != ''"> and tg = #{tg} </if>
			<if test="qulv != null and qulv != ''"> and qulv = #{qulv} </if>
			<if test="zj != null and zj != ''"> and zj = #{zj} </if>
			<if test="sphyx != null and sphyx != ''"> and sphyx = #{sphyx} </if>
			<if test="cylyx != null and cylyx != ''"> and cylyx = #{cylyx} </if>
			<if test="zxyx != null and zxyx != ''"> and zxyx = #{zxyx} </if>
			<if test="num != null and num != ''"> and num = #{num} </if>
			<if test="code != null and code != ''"> and code = #{code} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="leftRight != null and leftRight != ''"> and left_right = #{leftRight} </if>
			<if test="count != null and count != ''"> and count = #{count} </if>
			<if test="yaoqiu != null and yaoqiu != ''"> and yaoqiu = #{yaoqiu} </if>
			<if test="numyx != null and numyx != ''"> and numyx = #{numyx} </if>
			<if test="codeyx != null and codeyx != ''"> and codeyx = #{codeyx} </if>
			<if test="nameyx != null and nameyx != ''"> and nameyx = #{nameyx} </if>
			<if test="leftRightYx != null and leftRightYx != ''"> and left_right_yx = #{leftRightYx} </if>
			<if test="countyx != null and countyx != ''"> and countyx = #{countyx} </if>
			<if test="yaoqiuyx != null and yaoqiuyx != ''"> and yaoqiuyx = #{yaoqiuyx} </if>
			<if test="gkname != null and gkname != ''"> and gkname = #{gkname} </if>
			<if test="hyknum != null and hyknum != ''"> and hyknum = #{hyknum} </if>
			<if test="phone != null and phone != ''"> and phone = #{phone} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from stock_weiwaishuju
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="number != null and number != ''"> and number = #{number} </if>
			<if test="danjuDay != null and danjuDay != ''"> and danju_day = #{danjuDay} </if>
			<if test="departname != null and departname != ''"> and departname = #{departname} </if>
			<if test="zhidanPeople != null and zhidanPeople != ''"> and zhidan_people = #{zhidanPeople} </if>
			<if test="jcStyle != null and jcStyle != ''"> and jc_style = #{jcStyle} </if>
			<if test="timetime != null and timetime != ''"> and timetime = #{timetime} </if>
			<if test="danjuStyle != null and danjuStyle != ''"> and danju_style = #{danjuStyle} </if>
			<if test="saleNumber != null and saleNumber != ''"> and sale_number = #{saleNumber} </if>
			<if test="weiwaiStyle != null and weiwaiStyle != ''"> and weiwai_style = #{weiwaiStyle} </if>
			<if test="beizhu != null and beizhu != ''"> and beizhu = #{beizhu} </if>
			<if test="sph != null and sph != ''"> and sph = #{sph} </if>
			<if test="cyl != null and cyl != ''"> and cyl = #{cyl} </if>
			<if test="zx != null and zx != ''"> and zx = #{zx} </if>
			<if test="add != null and add != ''"> and add = #{add} </if>
			<if test="slj != null and slj != ''"> and slj = #{slj} </if>
			<if test="jd != null and jd != ''"> and jd = #{jd} </if>
			<if test="fartj != null and fartj != ''"> and fartj = #{fartj} </if>
			<if test="neartj != null and neartj != ''"> and neartj = #{neartj} </if>
			<if test="tg != null and tg != ''"> and tg = #{tg} </if>
			<if test="qulv != null and qulv != ''"> and qulv = #{qulv} </if>
			<if test="zj != null and zj != ''"> and zj = #{zj} </if>
			<if test="sphyx != null and sphyx != ''"> and sphyx = #{sphyx} </if>
			<if test="cylyx != null and cylyx != ''"> and cylyx = #{cylyx} </if>
			<if test="zxyx != null and zxyx != ''"> and zxyx = #{zxyx} </if>
			<if test="num != null and num != ''"> and num = #{num} </if>
			<if test="code != null and code != ''"> and code = #{code} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="leftRight != null and leftRight != ''"> and left_right = #{leftRight} </if>
			<if test="count != null and count != ''"> and count = #{count} </if>
			<if test="yaoqiu != null and yaoqiu != ''"> and yaoqiu = #{yaoqiu} </if>
			<if test="numyx != null and numyx != ''"> and numyx = #{numyx} </if>
			<if test="codeyx != null and codeyx != ''"> and codeyx = #{codeyx} </if>
			<if test="nameyx != null and nameyx != ''"> and nameyx = #{nameyx} </if>
			<if test="leftRightYx != null and leftRightYx != ''"> and left_right_yx = #{leftRightYx} </if>
			<if test="countyx != null and countyx != ''"> and countyx = #{countyx} </if>
			<if test="yaoqiuyx != null and yaoqiuyx != ''"> and yaoqiuyx = #{yaoqiuyx} </if>
			<if test="gkname != null and gkname != ''"> and gkname = #{gkname} </if>
			<if test="hyknum != null and hyknum != ''"> and hyknum = #{hyknum} </if>
			<if test="phone != null and phone != ''"> and phone = #{phone} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.shiguang.stock.domain.WeiwaishujuDO" useGeneratedKeys="true" keyProperty="id">
		insert into stock_weiwaishuju
		(
			`number`, 
			`danju_day`, 
			`departname`, 
			`zhidan_people`, 
			`jc_style`, 
			`timetime`, 
			`danju_style`, 
			`sale_number`, 
			`weiwai_style`, 
			`beizhu`, 
			`sph`, 
			`cyl`, 
			`zx`, 
			`add`, 
			`slj`, 
			`jd`, 
			`fartj`, 
			`neartj`, 
			`tg`, 
			`qulv`, 
			`zj`, 
			`sphyx`, 
			`cylyx`, 
			`zxyx`, 
			`num`, 
			`code`, 
			`name`, 
			`left_right`, 
			`count`, 
			`yaoqiu`, 
			`numyx`, 
			`codeyx`, 
			`nameyx`, 
			`left_right_yx`, 
			`countyx`, 
			`yaoqiuyx`, 
			`gkname`, 
			`hyknum`, 
			`phone`
		)
		values
		(
			#{number}, 
			#{danjuDay}, 
			#{departname}, 
			#{zhidanPeople}, 
			#{jcStyle}, 
			#{timetime}, 
			#{danjuStyle}, 
			#{saleNumber}, 
			#{weiwaiStyle}, 
			#{beizhu}, 
			#{sph}, 
			#{cyl}, 
			#{zx}, 
			#{add}, 
			#{slj}, 
			#{jd}, 
			#{fartj}, 
			#{neartj}, 
			#{tg}, 
			#{qulv}, 
			#{zj}, 
			#{sphyx}, 
			#{cylyx}, 
			#{zxyx}, 
			#{num}, 
			#{code}, 
			#{name}, 
			#{leftRight}, 
			#{count}, 
			#{yaoqiu}, 
			#{numyx}, 
			#{codeyx}, 
			#{nameyx}, 
			#{leftRightYx}, 
			#{countyx}, 
			#{yaoqiuyx}, 
			#{gkname}, 
			#{hyknum}, 
			#{phone}
		)
	</insert>

	<update id="update" parameterType="com.shiguang.stock.domain.WeiwaishujuDO">
		update stock_weiwaishuju
		<set>
			<if test="number != null">`number` = #{number}, </if>
			<if test="danjuDay != null">`danju_day` = #{danjuDay}, </if>
			<if test="departname != null">`departname` = #{departname}, </if>
			<if test="zhidanPeople != null">`zhidan_people` = #{zhidanPeople}, </if>
			<if test="jcStyle != null">`jc_style` = #{jcStyle}, </if>
			<if test="timetime != null">`timetime` = #{timetime}, </if>
			<if test="danjuStyle != null">`danju_style` = #{danjuStyle}, </if>
			<if test="saleNumber != null">`sale_number` = #{saleNumber}, </if>
			<if test="weiwaiStyle != null">`weiwai_style` = #{weiwaiStyle}, </if>
			<if test="beizhu != null">`beizhu` = #{beizhu}, </if>
			<if test="sph != null">`sph` = #{sph}, </if>
			<if test="cyl != null">`cyl` = #{cyl}, </if>
			<if test="zx != null">`zx` = #{zx}, </if>
			<if test="add != null">`add` = #{add}, </if>
			<if test="slj != null">`slj` = #{slj}, </if>
			<if test="jd != null">`jd` = #{jd}, </if>
			<if test="fartj != null">`fartj` = #{fartj}, </if>
			<if test="neartj != null">`neartj` = #{neartj}, </if>
			<if test="tg != null">`tg` = #{tg}, </if>
			<if test="qulv != null">`qulv` = #{qulv}, </if>
			<if test="zj != null">`zj` = #{zj}, </if>
			<if test="sphyx != null">`sphyx` = #{sphyx}, </if>
			<if test="cylyx != null">`cylyx` = #{cylyx}, </if>
			<if test="zxyx != null">`zxyx` = #{zxyx}, </if>
			<if test="num != null">`num` = #{num}, </if>
			<if test="code != null">`code` = #{code}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="leftRight != null">`left_right` = #{leftRight}, </if>
			<if test="count != null">`count` = #{count}, </if>
			<if test="yaoqiu != null">`yaoqiu` = #{yaoqiu}, </if>
			<if test="numyx != null">`numyx` = #{numyx}, </if>
			<if test="codeyx != null">`codeyx` = #{codeyx}, </if>
			<if test="nameyx != null">`nameyx` = #{nameyx}, </if>
			<if test="leftRightYx != null">`left_right_yx` = #{leftRightYx}, </if>
			<if test="countyx != null">`countyx` = #{countyx}, </if>
			<if test="yaoqiuyx != null">`yaoqiuyx` = #{yaoqiuyx}, </if>
			<if test="gkname != null">`gkname` = #{gkname}, </if>
			<if test="hyknum != null">`hyknum` = #{hyknum}, </if>
			<if test="phone != null">`phone` = #{phone}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from stock_weiwaishuju where id = #{value}
	</delete>
	<delete id="removes">
		delete from stock_weiwaishuju where sale_number = #{value}
	</delete>
	<delete id="batchRemove">
		delete from stock_weiwaishuju where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="getWeiwaiShuju" resultType="com.shiguang.stock.domain.WeiwaishujuDO">
		select `id`,`number`,`danju_day`,`departname`,`zhidan_people`,`jc_style`,`timetime`,`danju_style`,`sale_number`,`weiwai_style`,`beizhu`,`sph`,`cyl`,`zx`,`add`,`slj`,`jd`,`fartj`,`neartj`,`tg`,`qulv`,`zj`,`sphyx`,`cylyx`,`zxyx`,`num`,`code`,`name`,`left_right`,`count`,`yaoqiu`,`numyx`,`codeyx`,`nameyx`,`left_right_yx`,`countyx`,`yaoqiuyx`,`gkname`,`hyknum`,`phone` from stock_weiwaishuju
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="number != null and number != ''"> and number = #{number} </if>
			<if test="danjuDay != null and danjuDay != ''"> and danju_day = #{danjuDay} </if>
			<if test="departname != null and departname != ''"> and departname = #{departname} </if>
			<if test="zhidanPeople != null and zhidanPeople != ''"> and zhidan_people = #{zhidanPeople} </if>
			<if test="jcStyle != null and jcStyle != ''"> and jc_style = #{jcStyle} </if>
			<if test="timetime != null and timetime != ''"> and timetime = #{timetime} </if>
			<if test="danjuStyle != null and danjuStyle != ''"> and danju_style = #{danjuStyle} </if>
			<if test="saleNumber != null and saleNumber != ''"> and sale_number = #{saleNumber} </if>
			<if test="weiwaiStyle != null and weiwaiStyle != ''"> and weiwai_style = #{weiwaiStyle} </if>
			<if test="beizhu != null and beizhu != ''"> and beizhu = #{beizhu} </if>
			<if test="sph != null and sph != ''"> and sph = #{sph} </if>
			<if test="cyl != null and cyl != ''"> and cyl = #{cyl} </if>
			<if test="zx != null and zx != ''"> and zx = #{zx} </if>
			<if test="add != null and add != ''"> and add = #{add} </if>
			<if test="slj != null and slj != ''"> and slj = #{slj} </if>
			<if test="jd != null and jd != ''"> and jd = #{jd} </if>
			<if test="fartj != null and fartj != ''"> and fartj = #{fartj} </if>
			<if test="neartj != null and neartj != ''"> and neartj = #{neartj} </if>
			<if test="tg != null and tg != ''"> and tg = #{tg} </if>
			<if test="qulv != null and qulv != ''"> and qulv = #{qulv} </if>
			<if test="zj != null and zj != ''"> and zj = #{zj} </if>
			<if test="sphyx != null and sphyx != ''"> and sphyx = #{sphyx} </if>
			<if test="cylyx != null and cylyx != ''"> and cylyx = #{cylyx} </if>
			<if test="zxyx != null and zxyx != ''"> and zxyx = #{zxyx} </if>
			<if test="num != null and num != ''"> and num = #{num} </if>
			<if test="code != null and code != ''"> and code = #{code} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="leftRight != null and leftRight != ''"> and left_right = #{leftRight} </if>
			<if test="count != null and count != ''"> and count = #{count} </if>
			<if test="yaoqiu != null and yaoqiu != ''"> and yaoqiu = #{yaoqiu} </if>
			<if test="numyx != null and numyx != ''"> and numyx = #{numyx} </if>
			<if test="codeyx != null and codeyx != ''"> and codeyx = #{codeyx} </if>
			<if test="nameyx != null and nameyx != ''"> and nameyx = #{nameyx} </if>
			<if test="leftRightYx != null and leftRightYx != ''"> and left_right_yx = #{leftRightYx} </if>
			<if test="countyx != null and countyx != ''"> and countyx = #{countyx} </if>
			<if test="yaoqiuyx != null and yaoqiuyx != ''"> and yaoqiuyx = #{yaoqiuyx} </if>
			<if test="gkname != null and gkname != ''"> and gkname = #{gkname} </if>
			<if test="hyknum != null and hyknum != ''"> and hyknum = #{hyknum} </if>
			<if test="phone != null and phone != ''"> and phone = #{phone} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
</mapper>