<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.stock.dao.WeiwaiDao">

	<select id="get" resultType="com.shiguang.stock.domain.WeiwaiDO">
		select `id`,`sale_number`,`shouhuo_number`,`position_id`,`mfrsid`,`name`,`phone`,`dz_stype`,`mirror_time`,`eye_right`,`eye_left`,`depart_number`,`sph`,`cyl`,`goods_name`,`rl`,`goods_num`,`factory`,`count`,`goods_code` from stock_weiwai where id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.stock.domain.WeiwaiDO">
		select `id`,`sale_number`,`shouhuo_number`,`position_id`,`mfrsid`,`name`,`phone`,`dz_stype`,`mirror_time`,`eye_right`,`eye_left`,`depart_number`,`sph`,`cyl`,`goods_name`,`rl`,`goods_num`,`factory`,`count`,`goods_code` from stock_weiwai
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="saleNumber != null and saleNumber != ''"> and sale_number = #{saleNumber} </if>
		  		  <if test="shouhuoNumber != null and shouhuoNumber != ''"> and shouhuo_number = #{shouhuoNumber} </if>
		  		  <if test="positionId != null and positionId != ''"> and position_id = #{positionId} </if>
		  		  <if test="mfrsid != null and mfrsid != ''"> and mfrsid = #{mfrsid} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="dzStype != null and dzStype != ''"> and dz_stype = #{dzStype} </if>
		  		  <if test="mirrorTime != null and mirrorTime != ''"> and mirror_time = #{mirrorTime} </if>
		  		  <if test="eyeRight != null and eyeRight != ''"> and eye_right = #{eyeRight} </if>
		  		  <if test="eyeLeft != null and eyeLeft != ''"> and eye_left = #{eyeLeft} </if>
		  		  <if test="departNumber != null and departNumber != ''"> and depart_number = #{departNumber} </if>
		  		  <if test="sph != null and sph != ''"> and sph = #{sph} </if>
		  		  <if test="cyl != null and cyl != ''"> and cyl = #{cyl} </if>
		  		  <if test="goodsName != null and goodsName != ''"> and goods_name = #{goodsName} </if>
		  		  <if test="rl != null and rl != ''"> and rl = #{rl} </if>
		  		  <if test="goodsNum != null and goodsNum != ''"> and goods_num = #{goodsNum} </if>
		  		  <if test="factory != null and factory != ''"> and factory = #{factory} </if>
		  		  <if test="count != null and count != ''"> and count = #{count} </if>
		  		  <if test="goodsCode != null and goodsCode != ''"> and goods_code = #{goodsCode} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from stock_weiwai
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="saleNumber != null and saleNumber != ''"> and sale_number = #{saleNumber} </if>
		  		  <if test="shouhuoNumber != null and shouhuoNumber != ''"> and shouhuo_number = #{shouhuoNumber} </if>
		  		  <if test="positionId != null and positionId != ''"> and position_id = #{positionId} </if>
		  		  <if test="mfrsid != null and mfrsid != ''"> and mfrsid = #{mfrsid} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="dzStype != null and dzStype != ''"> and dz_stype = #{dzStype} </if>
		  		  <if test="mirrorTime != null and mirrorTime != ''"> and mirror_time = #{mirrorTime} </if>
		  		  <if test="eyeRight != null and eyeRight != ''"> and eye_right = #{eyeRight} </if>
		  		  <if test="eyeLeft != null and eyeLeft != ''"> and eye_left = #{eyeLeft} </if>
		  		  <if test="departNumber != null and departNumber != ''"> and depart_number = #{departNumber} </if>
		  		  <if test="sph != null and sph != ''"> and sph = #{sph} </if>
		  		  <if test="cyl != null and cyl != ''"> and cyl = #{cyl} </if>
		  		  <if test="goodsName != null and goodsName != ''"> and goods_name = #{goodsName} </if>
		  		  <if test="rl != null and rl != ''"> and rl = #{rl} </if>
		  		  <if test="goodsNum != null and goodsNum != ''"> and goods_num = #{goodsNum} </if>
		  		  <if test="factory != null and factory != ''"> and factory = #{factory} </if>
		  		  <if test="count != null and count != ''"> and count = #{count} </if>
		  		  <if test="goodsCode != null and goodsCode != ''"> and goods_code = #{goodsCode} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shiguang.stock.domain.WeiwaiDO">
		insert into stock_weiwai
		(
			`id`, 
			`sale_number`, 
			`shouhuo_number`, 
			`position_id`, 
			`mfrsid`, 
			`name`, 
			`phone`, 
			`dz_stype`, 
			`mirror_time`, 
			`eye_right`, 
			`eye_left`, 
			`depart_number`, 
			`sph`, 
			`cyl`, 
			`goods_name`, 
			`rl`, 
			`goods_num`, 
			`factory`, 
			`count`, 
			`goods_code`
		)
		values
		(
			#{id}, 
			#{saleNumber}, 
			#{shouhuoNumber}, 
			#{positionId}, 
			#{mfrsid}, 
			#{name}, 
			#{phone}, 
			#{dzStype}, 
			#{mirrorTime}, 
			#{eyeRight}, 
			#{eyeLeft}, 
			#{departNumber}, 
			#{sph}, 
			#{cyl}, 
			#{goodsName}, 
			#{rl}, 
			#{goodsNum}, 
			#{factory}, 
			#{count}, 
			#{goodsCode}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.stock.domain.WeiwaiDO">
		update stock_weiwai 
		<set>
			<if test="saleNumber != null">`sale_number` = #{saleNumber}, </if>
			<if test="shouhuoNumber != null">`shouhuo_number` = #{shouhuoNumber}, </if>
			<if test="positionId != null">`position_id` = #{positionId}, </if>
			<if test="mfrsid != null">`mfrsid` = #{mfrsid}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="dzStype != null">`dz_stype` = #{dzStype}, </if>
			<if test="mirrorTime != null">`mirror_time` = #{mirrorTime}, </if>
			<if test="eyeRight != null">`eye_right` = #{eyeRight}, </if>
			<if test="eyeLeft != null">`eye_left` = #{eyeLeft}, </if>
			<if test="departNumber != null">`depart_number` = #{departNumber}, </if>
			<if test="sph != null">`sph` = #{sph}, </if>
			<if test="cyl != null">`cyl` = #{cyl}, </if>
			<if test="goodsName != null">`goods_name` = #{goodsName}, </if>
			<if test="rl != null">`rl` = #{rl}, </if>
			<if test="goodsNum != null">`goods_num` = #{goodsNum}, </if>
			<if test="factory != null">`factory` = #{factory}, </if>
			<if test="count != null">`count` = #{count}, </if>
			<if test="goodsCode != null">`goods_code` = #{goodsCode}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from stock_weiwai where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from stock_weiwai where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="weiwailist" resultType="com.shiguang.stock.domain.WeiwaiDO">
		select s.sale_number,s.member_number,m.name,m.phone_1,sa.eye_type,sa.peijing_time,sa.mirror_time
		from settlement s
		left join member m on s.member_number=m.card_number
		left join store_sales sa on s.sale_number=sa.sale_number
	</select>
	<select id="countList" resultType="int">
		select count(*) from settlement s
		left join member m on s.member_number=m.card_number
		left join store_sales sa on s.sale_number=sa.sale_number
		<where>
			<if test="id != null and id != ''"> and s.id = #{id} </if>
			<if test="saleNumber != null and saleNumber != ''"> and s.sale_number = #{saleNumber} </if>
			<if test="shouhuoNumber != null and shouhuoNumber != ''"> and s.shouhuo_number = #{shouhuoNumber} </if>
			<if test="positionId != null and positionId != ''"> and s.position_id = #{positionId} </if>
			<if test="mfrsid != null and mfrsid != ''"> and s.mfrsid = #{mfrsid} </if>
			<if test="name != null and name != ''"> and s.name = #{name} </if>
			<if test="phone != null and phone != ''"> and s.phone = #{phone} </if>
			<if test="dzStype != null and dzStype != ''"> and s.dz_stype = #{dzStype} </if>
			<if test="mirrorTime != null and mirrorTime != ''"> and s.mirror_time = #{mirrorTime} </if>
			<if test="eyeRight != null and eyeRight != ''"> and s.eye_right = #{eyeRight} </if>
			<if test="eyeLeft != null and eyeLeft != ''"> and s.eye_left = #{eyeLeft} </if>
			<if test="departNumber != null and departNumber != ''"> and s.depart_number = #{departNumber} </if>
			<if test="sph != null and sph != ''"> and s.sph = #{sph} </if>
			<if test="cyl != null and cyl != ''"> and s.cyl = #{cyl} </if>
			<if test="goodsName != null and goodsName != ''"> and s.goods_name = #{goodsName} </if>
			<if test="rl != null and rl != ''"> and s.rl = #{rl} </if>
			<if test="goodsNum != null and goodsNum != ''"> and s.goods_num = #{goodsNum} </if>
			<if test="factory != null and factory != ''"> and s.factory = #{factory} </if>
			<if test="count != null and count != ''"> and s.count = #{count} </if>
			<if test="goodsCode != null and goodsCode != ''"> and s.goods_code = #{goodsCode} </if>
		</where>
	</select>


</mapper>