<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.stock.dao.WeiwaishujuDao">

	<select id="get" resultType="com.shiguang.stock.domain.WeiwaishujuDO">
		select `id`,`number`,`danju_day`,`departname`,`zhidan_people`,`jc_style`,`timetime`,`danju_style`,`sale_number`,
		`weiwai_style`,`beizhu`,`rightsph`,`leftsph`,`rightcyl`,`leftcyl`,`rightzx`,`leftzx`,`right_add`,`left_add`,
		`right_slj`,`left_slj`,`right_jd`,`left_jd`,`right_fartj`,`left_fartj`,`right_neartj`,`left_neartj`,`rightqulv`,
		`leftqulv`,`rightzj`,`leftzj`,`rightsphyx`,`leftsphyx`,`rightcylyx`,`leftcylyx`,`rightzxyx`,`leftzxyx`,
		`right_num`,`left_num`,`right_name`,`left_name`,`right_r`,`left_l`,`countr`,`countl`,`yaoqiur`,`yaoqiul`,
		`right_numyx`,`left_numyx`,`right_nameyx`,`left_nameyx`,`right_ryx`,`left_lyx`,`countryx`,`countlyx`,`yaoqiuryx`,
		`yaoqiulyx`,
		`gkname`,`hyknum`,`phone`
		 from stock_weiwaishuju where id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.stock.domain.WeiwaishujuDO">
		select `id`,`number`,`danju_day`,`departname`,`zhidan_people`,`jc_style`,`timetime`,`danju_style`,`sale_number`,`weiwai_style`,`beizhu`,`rightsph`,`leftsph`,`rightcyl`,`leftcyl`,`rightzx`,`leftzx`,`right_add`,`left_add`,`right_slj`,`left_slj`,`right_jd`,`left_jd`,`right_fartj`,`left_fartj`,`right_neartj`,`left_neartj`,`rightqulv`,`leftqulv`,`rightzj`,`leftzj`,
		`rightsphyx`,`leftsphyx`,`rightcylyx`,`leftcylyx`,`rightzxyx`,`leftzxyx`,`right_num`,`left_num`,`right_name`,
		`left_name`,`right_r`,`left_l`,`countr`,`countl`,`yaoqiur`,`yaoqiul`,`right_numyx`,`left_numyx`,`right_nameyx`,
		`left_nameyx`,`right_ryx`,`left_lyx`,`countryx`,`countlyx`,`yaoqiuryx`,`yaoqiulyx`,
		`gkname`,`hyknum`,`phone` from stock_weiwaishuju
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="number != null and number != ''"> and number = #{number} </if>
			<if test="danjuDay != null and danjuDay != ''"> and danju_day = #{danjuDay} </if>
			<if test="departname != null and departname != ''"> and departname = #{departname} </if>
			<if test="zhidanPeople != null and zhidanPeople != ''"> and zhidan_people = #{zhidanPeople} </if>
			<if test="jcStyle != null and jcStyle != ''"> and jc_style = #{jcStyle} </if>
			<if test="timetime != null and timetime != ''"> and timetime = #{timetime} </if>
			<if test="danjuStyle != null and danjuStyle != ''"> and danju_style = #{danjuStyle} </if>
			<if test="saleNumber != null and saleNumber != ''"> and sale_number = #{saleNumber} </if>
			<if test="weiwaiStyle != null and weiwaiStyle != ''"> and weiwai_style = #{weiwaiStyle} </if>
			<if test="beizhu != null and beizhu != ''"> and beizhu = #{beizhu} </if>
			<if test="rightsph != null and rightsph != ''"> and rightsph = #{rightsph} </if>
			<if test="leftsph != null and leftsph != ''"> and leftsph = #{leftsph} </if>
			<if test="rightcyl != null and rightcyl != ''"> and rightcyl = #{rightcyl} </if>
			<if test="leftcyl != null and leftcyl != ''"> and leftcyl = #{leftcyl} </if>
			<if test="rightzx != null and rightzx != ''"> and rightzx = #{rightzx} </if>
			<if test="leftzx != null and leftzx != ''"> and leftzx = #{leftzx} </if>
			<if test="rightAdd != null and rightAdd != ''"> and right_add = #{rightAdd} </if>
			<if test="leftAdd != null and leftAdd != ''"> and left_add = #{leftAdd} </if>
			<if test="rightSlj != null and rightSlj != ''"> and right_slj = #{rightSlj} </if>
			<if test="leftSlj != null and leftSlj != ''"> and left_slj = #{leftSlj} </if>
			<if test="rightJd != null and rightJd != ''"> and right_jd = #{rightJd} </if>
			<if test="leftJd != null and leftJd != ''"> and left_jd = #{leftJd} </if>
			<if test="rightFartj != null and rightFartj != ''"> and right_fartj = #{rightFartj} </if>
			<if test="leftFartj != null and leftFartj != ''"> and left_fartj = #{leftFartj} </if>
			<if test="rightNeartj != null and rightNeartj != ''"> and right_neartj = #{rightNeartj} </if>
			<if test="leftNeartj != null and leftNeartj != ''"> and left_neartj = #{leftNeartj} </if>
			<if test="rightqulv != null and rightqulv != ''"> and rightqulv = #{rightqulv} </if>
			<if test="leftqulv != null and leftqulv != ''"> and leftqulv = #{leftqulv} </if>
			<if test="rightzj != null and rightzj != ''"> and rightzj = #{rightzj} </if>
			<if test="leftzj != null and leftzj != ''"> and leftzj = #{leftzj} </if>
			<if test="rightsphyx != null and rightsphyx != ''"> and rightsphyx = #{rightsphyx} </if>
			<if test="leftsphyx != null and leftsphyx != ''"> and leftsphyx = #{leftsphyx} </if>
			<if test="rightcylyx != null and rightcylyx != ''"> and rightcylyx = #{rightcylyx} </if>
			<if test="leftcylyx != null and leftcylyx != ''"> and leftcylyx = #{leftcylyx} </if>
			<if test="rightzxyx != null and rightzxyx != ''"> and rightzxyx = #{rightzxyx} </if>
			<if test="leftzxyx != null and leftzxyx != ''"> and leftzxyx = #{leftzxyx} </if>
			<if test="rightNum != null and rightNum != ''"> and right_num = #{rightNum} </if>
			<if test="leftNum != null and leftNum != ''"> and left_num = #{leftNum} </if>
			<if test="rightName != null and rightName != ''"> and right_name = #{rightName} </if>
			<if test="leftName != null and leftName != ''"> and left_name = #{leftName} </if>
			<if test="rightR != null and rightR != ''"> and right_r = #{rightR} </if>
			<if test="leftL != null and leftL != ''"> and left_l = #{leftL} </if>
			<if test="countr != null and countr != ''"> and countr = #{countr} </if>
			<if test="countl != null and countl != ''"> and countl = #{countl} </if>
			<if test="yaoqiur != null and yaoqiur != ''"> and yaoqiur = #{yaoqiur} </if>
			<if test="yaoqiul != null and yaoqiul != ''"> and yaoqiul = #{yaoqiul} </if>
			<if test="rightNumyx != null and rightNumyx != ''"> and right_numyx = #{rightNumyx} </if>
			<if test="leftNumyx != null and leftNumyx != ''"> and left_numyx = #{leftNumyx} </if>
			<if test="rightNameyx != null and rightNameyx != ''"> and right_nameyx = #{rightNameyx} </if>
			<if test="leftNameyx != null and leftNameyx != ''"> and left_nameyx = #{leftNameyx} </if>
			<if test="rightRyx != null and rightRyx != ''"> and right_ryx = #{rightRyx} </if>
			<if test="leftLyx != null and leftLyx != ''"> and left_lyx = #{leftLyx} </if>
			<if test="countryx != null and countryx != ''"> and countryx = #{countryx} </if>
			<if test="countlyx != null and countlyx != ''"> and countlyx = #{countlyx} </if>
			<if test="yaoqiuryx != null and yaoqiuryx != ''"> and yaoqiuryx = #{yaoqiuryx} </if>
			<if test="yaoqiulyx != null and yaoqiulyx != ''"> and yaoqiulyx = #{yaoqiulyx} </if>

			<if test="gkname != null and gkname != ''"> and gkname = #{gkname} </if>
			<if test="hyknum != null and hyknum != ''"> and hyknum = #{hyknum} </if>
			<if test="phone != null and phone != ''"> and phone = #{phone} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from stock_weiwaishuju
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="number != null and number != ''"> and number = #{number} </if>
			<if test="danjuDay != null and danjuDay != ''"> and danju_day = #{danjuDay} </if>
			<if test="departname != null and departname != ''"> and departname = #{departname} </if>
			<if test="zhidanPeople != null and zhidanPeople != ''"> and zhidan_people = #{zhidanPeople} </if>
			<if test="jcStyle != null and jcStyle != ''"> and jc_style = #{jcStyle} </if>
			<if test="timetime != null and timetime != ''"> and timetime = #{timetime} </if>
			<if test="danjuStyle != null and danjuStyle != ''"> and danju_style = #{danjuStyle} </if>
			<if test="saleNumber != null and saleNumber != ''"> and sale_number = #{saleNumber} </if>
			<if test="weiwaiStyle != null and weiwaiStyle != ''"> and weiwai_style = #{weiwaiStyle} </if>
			<if test="beizhu != null and beizhu != ''"> and beizhu = #{beizhu} </if>
			<if test="rightsph != null and rightsph != ''"> and rightsph = #{rightsph} </if>
			<if test="leftsph != null and leftsph != ''"> and leftsph = #{leftsph} </if>
			<if test="rightcyl != null and rightcyl != ''"> and rightcyl = #{rightcyl} </if>
			<if test="leftcyl != null and leftcyl != ''"> and leftcyl = #{leftcyl} </if>
			<if test="rightzx != null and rightzx != ''"> and rightzx = #{rightzx} </if>
			<if test="leftzx != null and leftzx != ''"> and leftzx = #{leftzx} </if>
			<if test="rightAdd != null and rightAdd != ''"> and right_add = #{rightAdd} </if>
			<if test="leftAdd != null and leftAdd != ''"> and left_add = #{leftAdd} </if>
			<if test="rightSlj != null and rightSlj != ''"> and right_slj = #{rightSlj} </if>
			<if test="leftSlj != null and leftSlj != ''"> and left_slj = #{leftSlj} </if>
			<if test="rightJd != null and rightJd != ''"> and right_jd = #{rightJd} </if>
			<if test="leftJd != null and leftJd != ''"> and left_jd = #{leftJd} </if>
			<if test="rightFartj != null and rightFartj != ''"> and right_fartj = #{rightFartj} </if>
			<if test="leftFartj != null and leftFartj != ''"> and left_fartj = #{leftFartj} </if>
			<if test="rightNeartj != null and rightNeartj != ''"> and right_neartj = #{rightNeartj} </if>
			<if test="leftNeartj != null and leftNeartj != ''"> and left_neartj = #{leftNeartj} </if>
			<if test="rightqulv != null and rightqulv != ''"> and rightqulv = #{rightqulv} </if>
			<if test="leftqulv != null and leftqulv != ''"> and leftqulv = #{leftqulv} </if>
			<if test="rightzj != null and rightzj != ''"> and rightzj = #{rightzj} </if>
			<if test="leftzj != null and leftzj != ''"> and leftzj = #{leftzj} </if>
			<if test="rightsphyx != null and rightsphyx != ''"> and rightsphyx = #{rightsphyx} </if>
			<if test="leftsphyx != null and leftsphyx != ''"> and leftsphyx = #{leftsphyx} </if>
			<if test="rightcylyx != null and rightcylyx != ''"> and rightcylyx = #{rightcylyx} </if>
			<if test="leftcylyx != null and leftcylyx != ''"> and leftcylyx = #{leftcylyx} </if>
			<if test="rightzxyx != null and rightzxyx != ''"> and rightzxyx = #{rightzxyx} </if>
			<if test="leftzxyx != null and leftzxyx != ''"> and leftzxyx = #{leftzxyx} </if>
			<if test="rightNum != null and rightNum != ''"> and right_num = #{rightNum} </if>
			<if test="leftNum != null and leftNum != ''"> and left_num = #{leftNum} </if>
			<if test="rightName != null and rightName != ''"> and right_name = #{rightName} </if>
			<if test="leftName != null and leftName != ''"> and left_name = #{leftName} </if>
			<if test="rightR != null and rightR != ''"> and right_r = #{rightR} </if>
			<if test="leftL != null and leftL != ''"> and left_l = #{leftL} </if>
			<if test="countr != null and countr != ''"> and countr = #{countr} </if>
			<if test="countl != null and countl != ''"> and countl = #{countl} </if>
			<if test="yaoqiur != null and yaoqiur != ''"> and yaoqiur = #{yaoqiur} </if>
			<if test="yaoqiul != null and yaoqiul != ''"> and yaoqiul = #{yaoqiul} </if>
			<if test="rightNumyx != null and rightNumyx != ''"> and right_numyx = #{rightNumyx} </if>
			<if test="leftNumyx != null and leftNumyx != ''"> and left_numyx = #{leftNumyx} </if>
			<if test="rightNameyx != null and rightNameyx != ''"> and right_nameyx = #{rightNameyx} </if>
			<if test="leftNameyx != null and leftNameyx != ''"> and left_nameyx = #{leftNameyx} </if>
			<if test="rightRyx != null and rightRyx != ''"> and right_ryx = #{rightRyx} </if>
			<if test="leftLyx != null and leftLyx != ''"> and left_lyx = #{leftLyx} </if>
			<if test="countryx != null and countryx != ''"> and countryx = #{countryx} </if>
			<if test="countlyx != null and countlyx != ''"> and countlyx = #{countlyx} </if>
			<if test="yaoqiuryx != null and yaoqiuryx != ''"> and yaoqiuryx = #{yaoqiuryx} </if>
			<if test="yaoqiulyx != null and yaoqiulyx != ''"> and yaoqiulyx = #{yaoqiulyx} </if>

			<if test="gkname != null and gkname != ''"> and gkname = #{gkname} </if>
			<if test="hyknum != null and hyknum != ''"> and hyknum = #{hyknum} </if>
			<if test="phone != null and phone != ''"> and phone = #{phone} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.shiguang.stock.domain.WeiwaishujuDO" useGeneratedKeys="true" keyProperty="id">
		insert into stock_weiwaishuju
		(
			`number`,
			`danju_day`,
			`departname`,
			`zhidan_people`,
			`jc_style`,
			`timetime`,
			`danju_style`,
			`sale_number`,
			`weiwai_style`,
			`beizhu`,
			`rightsph`,
			`leftsph`,
			`rightcyl`,
			`leftcyl`,
			`rightzx`,
			`leftzx`,
			`right_add`,
			`left_add`,
			`right_slj`,
			`left_slj`,
			`right_jd`,
			`left_jd`,
			`right_fartj`,
			`left_fartj`,
			`right_neartj`,
			`left_neartj`,
			`rightqulv`,
			`leftqulv`,
			`rightzj`,
			`leftzj`,
			`rightsphyx`,
			`leftsphyx`,
			`rightcylyx`,
			`leftcylyx`,
			`rightzxyx`,
			`leftzxyx`,
			`right_num`,
			`left_num`,
			`right_name`,
			`left_name`,
			`right_r`,
			`left_l`,
			`countr`,
			`countl`,
			`yaoqiur`,
			`yaoqiul`,
			`right_numyx`,
			`left_numyx`,
			`right_nameyx`,
			`left_nameyx`,
			`right_ryx`,
			`left_lyx`,
			`countryx`,
			`countlyx`,
			`yaoqiuryx`,
			`yaoqiulyx`,
			`gkname`,
			`hyknum`,
			`phone`
		)
		values
		(
			#{number},
			#{danjuDay},
			#{departname},
			#{zhidanPeople},
			#{jcStyle},
			#{timetime},
			#{danjuStyle},
			#{saleNumber},
			#{weiwaiStyle},
			#{beizhu},
			#{rightsph},
			#{leftsph},
			#{rightcyl},
			#{leftcyl},
			#{rightzx},
			#{leftzx},
			#{rightAdd},
			#{leftAdd},
			#{rightSlj},
			#{leftSlj},
			#{rightJd},
			#{leftJd},
			#{rightFartj},
			#{leftFartj},
			#{rightNeartj},
			#{leftNeartj},
			#{rightqulv},
			#{leftqulv},
			#{rightzj},
			#{leftzj},
			#{rightsphyx},
			#{leftsphyx},
			#{rightcylyx},
			#{leftcylyx},
			#{rightzxyx},
			#{leftzxyx},
			#{rightNum},
			#{leftNum},
			#{rightName},
			#{leftName},
			#{rightR},
			#{leftL},
			#{countr},
			#{countl},
			#{yaoqiur},
			#{yaoqiul},
			#{rightNumyx},
			#{leftNumyx},
			#{rightNameyx},
			#{leftNameyx},
			#{rightRyx},
			#{leftLyx},
			#{countryx},
			#{countlyx},
			#{yaoqiuryx},
			#{yaoqiulyx},
			#{gkname},
			#{hyknum},
			#{phone}
		)
	</insert>

	<update id="update" parameterType="com.shiguang.stock.domain.WeiwaishujuDO">
		update stock_weiwaishuju
		<set>
			<if test="number != null">`number` = #{number}, </if>
			<if test="danjuDay != null">`danju_day` = #{danjuDay}, </if>
			<if test="departname != null">`departname` = #{departname}, </if>
			<if test="zhidanPeople != null">`zhidan_people` = #{zhidanPeople}, </if>
			<if test="jcStyle != null">`jc_style` = #{jcStyle}, </if>
			<if test="timetime != null">`timetime` = #{timetime}, </if>
			<if test="danjuStyle != null">`danju_style` = #{danjuStyle}, </if>
			<if test="saleNumber != null">`sale_number` = #{saleNumber}, </if>
			<if test="weiwaiStyle != null">`weiwai_style` = #{weiwaiStyle}, </if>
			<if test="beizhu != null">`beizhu` = #{beizhu}, </if>
			<if test="rightsph != null">`rightsph` = #{rightsph}, </if>
			<if test="leftsph != null">`leftsph` = #{leftsph}, </if>
			<if test="rightcyl != null">`rightcyl` = #{rightcyl}, </if>
			<if test="leftcyl != null">`leftcyl` = #{leftcyl}, </if>
			<if test="rightzx != null">`rightzx` = #{rightzx}, </if>
			<if test="leftzx != null">`leftzx` = #{leftzx}, </if>
			<if test="rightAdd != null">`right_add` = #{rightAdd}, </if>
			<if test="leftAdd != null">`left_add` = #{leftAdd}, </if>
			<if test="rightSlj != null">`right_slj` = #{rightSlj}, </if>
			<if test="leftSlj != null">`left_slj` = #{leftSlj}, </if>
			<if test="rightJd != null">`right_jd` = #{rightJd}, </if>
			<if test="leftJd != null">`left_jd` = #{leftJd}, </if>
			<if test="rightFartj != null">`right_fartj` = #{rightFartj}, </if>
			<if test="leftFartj != null">`left_fartj` = #{leftFartj}, </if>
			<if test="rightNeartj != null">`right_neartj` = #{rightNeartj}, </if>
			<if test="leftNeartj != null">`left_neartj` = #{leftNeartj}, </if>
			<if test="rightqulv != null">`rightqulv` = #{rightqulv}, </if>
			<if test="leftqulv != null">`leftqulv` = #{leftqulv}, </if>
			<if test="rightzj != null">`rightzj` = #{rightzj}, </if>
			<if test="leftzj != null">`leftzj` = #{leftzj}, </if>
			<if test="rightsphyx != null">`rightsphyx` = #{rightsphyx}, </if>
			<if test="leftsphyx != null">`leftsphyx` = #{leftsphyx}, </if>
			<if test="rightcylyx != null">`rightcylyx` = #{rightcylyx}, </if>
			<if test="leftcylyx != null">`leftcylyx` = #{leftcylyx}, </if>
			<if test="rightzxyx != null">`rightzxyx` = #{rightzxyx}, </if>
			<if test="leftzxyx != null">`leftzxyx` = #{leftzxyx}, </if>
			<if test="rightNum != null">`right_num` = #{rightNum}, </if>
			<if test="leftNum != null">`left_num` = #{leftNum}, </if>
			<if test="rightName != null">`right_name` = #{rightName}, </if>
			<if test="leftName != null">`left_name` = #{leftName}, </if>
			<if test="rightR != null">`right_r` = #{rightR}, </if>
			<if test="leftL != null">`left_l` = #{leftL}, </if>
			<if test="countr != null">`countr` = #{countr}, </if>
			<if test="countl != null">`countl` = #{countl}, </if>
			<if test="yaoqiur != null">`yaoqiur` = #{yaoqiur}, </if>
			<if test="yaoqiul != null">`yaoqiul` = #{yaoqiul}, </if>
			<if test="rightNumyx != null">`right_numyx` = #{rightNumyx}, </if>
			<if test="leftNumyx != null">`left_numyx` = #{leftNumyx}, </if>
			<if test="rightNameyx != null">`right_nameyx` = #{rightNameyx}, </if>
			<if test="leftNameyx != null">`left_nameyx` = #{leftNameyx}, </if>
			<if test="rightRyx != null">`right_ryx` = #{rightRyx}, </if>
			<if test="leftLyx != null">`left_lyx` = #{leftLyx}, </if>
			<if test="countryx != null">`countryx` = #{countryx}, </if>
			<if test="countlyx != null">`countlyx` = #{countlyx}, </if>
			<if test="yaoqiuryx != null">`yaoqiuryx` = #{yaoqiuryx}, </if>
			<if test="yaoqiulyx != null">`yaoqiulyx` = #{yaoqiulyx},</if>

			<if test="gkname != null">`gkname` = #{gkname},</if>
			<if test="hyknum != null">`hyknum` = #{hyknum},</if>
			<if test="phone != null">`phone` = #{phone}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from stock_weiwaishuju where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from stock_weiwaishuju where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	<select id="getWeiwaiShuju" resultType="com.shiguang.stock.domain.WeiwaishujuDO">
		select `id`,`number`,`danju_day`,`departname`,`zhidan_people`,`jc_style`,`timetime`,`danju_style`,`sale_number`,`weiwai_style`,`beizhu`,`rightsph`,`leftsph`,`rightcyl`,`leftcyl`,`rightzx`,`leftzx`,`right_add`,`left_add`,`right_slj`,`left_slj`,`right_jd`,`left_jd`,`right_fartj`,`left_fartj`,`right_neartj`,`left_neartj`,`rightqulv`,`leftqulv`,`rightzj`,`leftzj`,`rightsphyx`,`leftsphyx`,`rightcylyx`,`leftcylyx`,`rightzxyx`,`leftzxyx`,`right_num`,`left_num`,`right_name`,`left_name`,`right_r`,`left_l`,`countr`,`countl`,`yaoqiur`,`yaoqiul`,`right_numyx`,`left_numyx`,`right_nameyx`,`left_nameyx`,`right_ryx`,`left_lyx`,`countryx`,`countlyx`,`yaoqiuryx`,`yaoqiulyx` from stock_weiwaishuju
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="number != null and number != ''"> and number = #{number} </if>
			<if test="danjuDay != null and danjuDay != ''"> and danju_day = #{danjuDay} </if>
			<if test="departname != null and departname != ''"> and departname = #{departname} </if>
			<if test="zhidanPeople != null and zhidanPeople != ''"> and zhidan_people = #{zhidanPeople} </if>
			<if test="jcStyle != null and jcStyle != ''"> and jc_style = #{jcStyle} </if>
			<if test="timetime != null and timetime != ''"> and timetime = #{timetime} </if>
			<if test="danjuStyle != null and danjuStyle != ''"> and danju_style = #{danjuStyle} </if>
			<if test="saleNumber != null and saleNumber != ''"> and sale_number = #{saleNumber} </if>
			<if test="weiwaiStyle != null and weiwaiStyle != ''"> and weiwai_style = #{weiwaiStyle} </if>
			<if test="beizhu != null and beizhu != ''"> and beizhu = #{beizhu} </if>
			<if test="rightsph != null and rightsph != ''"> and rightsph = #{rightsph} </if>
			<if test="leftsph != null and leftsph != ''"> and leftsph = #{leftsph} </if>
			<if test="rightcyl != null and rightcyl != ''"> and rightcyl = #{rightcyl} </if>
			<if test="leftcyl != null and leftcyl != ''"> and leftcyl = #{leftcyl} </if>
			<if test="rightzx != null and rightzx != ''"> and rightzx = #{rightzx} </if>
			<if test="leftzx != null and leftzx != ''"> and leftzx = #{leftzx} </if>
			<if test="rightAdd != null and rightAdd != ''"> and right_add = #{rightAdd} </if>
			<if test="leftAdd != null and leftAdd != ''"> and left_add = #{leftAdd} </if>
			<if test="rightSlj != null and rightSlj != ''"> and right_slj = #{rightSlj} </if>
			<if test="leftSlj != null and leftSlj != ''"> and left_slj = #{leftSlj} </if>
			<if test="rightJd != null and rightJd != ''"> and right_jd = #{rightJd} </if>
			<if test="leftJd != null and leftJd != ''"> and left_jd = #{leftJd} </if>
			<if test="rightFartj != null and rightFartj != ''"> and right_fartj = #{rightFartj} </if>
			<if test="leftFartj != null and leftFartj != ''"> and left_fartj = #{leftFartj} </if>
			<if test="rightNeartj != null and rightNeartj != ''"> and right_neartj = #{rightNeartj} </if>
			<if test="leftNeartj != null and leftNeartj != ''"> and left_neartj = #{leftNeartj} </if>
			<if test="rightqulv != null and rightqulv != ''"> and rightqulv = #{rightqulv} </if>
			<if test="leftqulv != null and leftqulv != ''"> and leftqulv = #{leftqulv} </if>
			<if test="rightzj != null and rightzj != ''"> and rightzj = #{rightzj} </if>
			<if test="leftzj != null and leftzj != ''"> and leftzj = #{leftzj} </if>
			<if test="rightsphyx != null and rightsphyx != ''"> and rightsphyx = #{rightsphyx} </if>
			<if test="leftsphyx != null and leftsphyx != ''"> and leftsphyx = #{leftsphyx} </if>
			<if test="rightcylyx != null and rightcylyx != ''"> and rightcylyx = #{rightcylyx} </if>
			<if test="leftcylyx != null and leftcylyx != ''"> and leftcylyx = #{leftcylyx} </if>
			<if test="rightzxyx != null and rightzxyx != ''"> and rightzxyx = #{rightzxyx} </if>
			<if test="leftzxyx != null and leftzxyx != ''"> and leftzxyx = #{leftzxyx} </if>
			<if test="rightNum != null and rightNum != ''"> and right_num = #{rightNum} </if>
			<if test="leftNum != null and leftNum != ''"> and left_num = #{leftNum} </if>
			<if test="rightName != null and rightName != ''"> and right_name = #{rightName} </if>
			<if test="leftName != null and leftName != ''"> and left_name = #{leftName} </if>
			<if test="rightR != null and rightR != ''"> and right_r = #{rightR} </if>
			<if test="leftL != null and leftL != ''"> and left_l = #{leftL} </if>
			<if test="countr != null and countr != ''"> and countr = #{countr} </if>
			<if test="countl != null and countl != ''"> and countl = #{countl} </if>
			<if test="yaoqiur != null and yaoqiur != ''"> and yaoqiur = #{yaoqiur} </if>
			<if test="yaoqiul != null and yaoqiul != ''"> and yaoqiul = #{yaoqiul} </if>
			<if test="rightNumyx != null and rightNumyx != ''"> and right_numyx = #{rightNumyx} </if>
			<if test="leftNumyx != null and leftNumyx != ''"> and left_numyx = #{leftNumyx} </if>
			<if test="rightNameyx != null and rightNameyx != ''"> and right_nameyx = #{rightNameyx} </if>
			<if test="leftNameyx != null and leftNameyx != ''"> and left_nameyx = #{leftNameyx} </if>
			<if test="rightRyx != null and rightRyx != ''"> and right_ryx = #{rightRyx} </if>
			<if test="leftLyx != null and leftLyx != ''"> and left_lyx = #{leftLyx} </if>
			<if test="countryx != null and countryx != ''"> and countryx = #{countryx} </if>
			<if test="countlyx != null and countlyx != ''"> and countlyx = #{countlyx} </if>
			<if test="yaoqiuryx != null and yaoqiuryx != ''"> and yaoqiuryx = #{yaoqiuryx} </if>
			<if test="yaoqiulyx != null and yaoqiulyx != ''"> and yaoqiulyx = #{yaoqiulyx} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>


</mapper>