<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.inventory.dao.GainLossDao">
    <select id="get" resultType="com.shiguang.inventory.domain.GainLossDO">
		select gl.`id`,gl.`document_no`,gl.`inventory_number`,gl.`inventory_type`,gl.`document_type`,gl.`document_date`,
        gl.`recenue_position`,gl.`position_id`,c.`position_name` as recenuePosition,gl.`single_name`,gl.`remark`,gl.`inventory_count`,gl.`goods_id`,gl.`department_name`,gl.`department_number`,
        gl.`produc_code`,gl.`goods_num`,gl.`goods_name`,gl.`unitname`,gl.`mfrsid`,gl.`brandname`,`retail_price`,gl.`class_type`,gl.`examine_name`,gl.`examine_date`,gl.`examine_status`
         from gain_loss gl join c_position c on c.position_id = gl.position_id where gl.id = #{value}
	</select>

    <select id="list" resultType="com.shiguang.inventory.domain.GainLossDO">
        select gl.`id`,gl.`document_no`,gl.`inventory_number`,gl.`inventory_type`,gl.`document_type`,gl.`document_date`,
        gl.`recenue_position`,gl.`position_id`,c.`position_name` as recenuePosition,gl.`single_name`,gl.`remark`,gl.`inventory_count`,
        gl.`goods_id`,gl.`department_name`,gl.`department_number`,gl.`produc_code`,gl.`goods_num`,gl.`goods_name`,gl.`unitname`,
        gl.`mfrsid`,gl.`brandname`,`retail_price`,gl.`class_type`,gl.`examine_name`,gl.`examine_date`,gl.`examine_status`
        from gain_loss gl
        join c_position c on c.position_id = gl.position_id
        join department d on d.depart_number = gl.department_number
        <where>
            <if test="id != null and id != ''"> and gl.id = #{id} </if>
            <if test="documentNo != null and documentNo != ''"> and gl.document_no like concat('%', #{documentNo},'%') </if>
            <if test="inventoryNumber != null and inventoryNumber != ''"> and gl.inventory_number like concat('%', #{inventoryNumber},'%') </if>
            <if test="inventoryType != null and inventoryType != ''"> and gl.inventory_type = #{inventoryType} </if>
            <if test="documentType != null and documentType != ''"> and gl.document_type = #{documentType} </if>
            <if test="documentDate != null and documentDate != ''"> and gl.document_date = #{documentDate} </if>
            <if test="recenuePosition != null and recenuePosition != ''"> and gl.recenue_position = #{recenuePosition} </if>
            <if test="singleName != null and singleName != ''"> and gl.single_name = #{singleName} </if>
            <if test="companyId != null and companyId != ''">and FIND_IN_SET(d.company_id,#{companyId})</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by gl.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*)
        from gain_loss gl
        join c_position c on c.position_id = gl.position_id
        join department d on d.depart_number = gl.department_number
        <where>
            <if test="id != null and id != ''"> and gl.id = #{id} </if>
            <if test="documentNo != null and documentNo != ''"> and gl.document_no like concat('%', #{documentNo},'%') </if>
            <if test="inventoryNumber != null and inventoryNumber != ''"> and gl.inventory_number like concat('%', #{inventoryNumber},'%') </if>
            <if test="inventoryType != null and inventoryType != ''"> and gl.inventory_type = #{inventoryType} </if>
            <if test="documentType != null and documentType != ''"> and gl.document_type = #{documentType} </if>
            <if test="documentDate != null and documentDate != ''"> and gl.document_date = #{documentDate} </if>
            <if test="recenuePosition != null and recenuePosition != ''"> and gl.recenue_position = #{recenuePosition} </if>
            <if test="singleName != null and singleName != ''"> and gl.single_name = #{singleName} </if>
            <if test="companyId != null and companyId != ''">and FIND_IN_SET(d.company_id,#{companyId})</if>
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.inventory.domain.GainLossDO" useGeneratedKeys="true" keyProperty="id">
		insert into gain_loss
		(
			`document_no`,
			`inventory_number`,
			`inventory_type`,
			`document_type`,
			`document_date`,
			`recenue_position`,
			`position_id`,
			`single_name`,
			`remark`,
			`inventory_count`,
			`goods_id`,
			`department_name`,
			`department_number`,
			`examine_name`,
			`examine_date`,
			`examine_status`,
			`produc_code`,
			`goods_num`,
			`goods_name`,
			`unitname`,
			`mfrsid`,
			`brandname`,
			`retail_price`,
			`class_type`
		)
		values
		(
			#{documentNo},
			#{inventoryNumber},
			#{inventoryType},
			#{documentType},
			#{documentDate},
			#{recenuePosition},
			#{positionId},
			#{singleName},
			#{remark},
			#{inventoryCount},
			#{goodsId},
			#{departmentName},
			#{departmentNumber},
			#{examineName},
			#{examineDate},
			#{examineStatus},
			#{producCode},
			#{goodsNum},
			#{goodsName},
			#{unitname},
			#{mfrsid},
			#{brandname},
			#{retailPrice},
			#{classType}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.inventory.domain.GainLossDO">
        update gain_loss
        <set>
            <if test="documentNo != null">`document_no` = #{documentNo}, </if>
            <if test="inventoryNumber != null">`inventory_number` = #{inventoryNumber}, </if>
            <if test="inventoryType != null">`inventory_type` = #{inventoryType}, </if>
            <if test="documentType != null">`document_type` = #{documentType}, </if>
            <if test="documentDate != null">`document_date` = #{documentDate}, </if>
            <if test="recenuePosition != null">`recenue_position` = #{recenuePosition}, </if>
            <if test="singleName != null">`single_name` = #{singleName},</if>
            <if test="examineName != null">`examine_name` = #{examineName},</if>
            <if test="examineDate != null">`examine_date` = #{examineDate},</if>
            <if test="examineStatus != null">`examine_status` = #{examineStatus},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from gain_loss where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from gain_loss where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>