<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.jiancha.dao.SubjectiveDao">

	<select id="get" resultType="com.shiguang.jiancha.domain.SubjectiveDO">
		select `id`,`card_number`,`sphere_rightz`,`sphere_leftz`,`cylinder_rightz`,`cylinder_leftz`,`axial_rightz`,`axial_leftz`,`dva_rightz`,`dva_leftz`,`nva_rightz`,`nva_leftz`,`prism_rightz`,`prism_leftz`,`jdr_z`,`jdl_z`,`add_rightz`,`add_leftz`,`yuan_rz`,`yuan_lz`,`near_rightz`,`near_leftz` from jc_subjective where id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.jiancha.domain.SubjectiveDO">
		select `id`,`card_number`,`sphere_rightz`,`sphere_leftz`,`cylinder_rightz`,`cylinder_leftz`,`axial_rightz`,`axial_leftz`,`dva_rightz`,`dva_leftz`,`nva_rightz`,`nva_leftz`,`prism_rightz`,`prism_leftz`,`jdr_z`,`jdl_z`,`add_rightz`,`add_leftz`,`yuan_rz`,`yuan_lz`,`near_rightz`,`near_leftz` from jc_subjective
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="cardNumber != null and cardNumber != ''"> and card_number = #{cardNumber} </if>
		  		  <if test="sphereRightz != null and sphereRightz != ''"> and sphere_rightz = #{sphereRightz} </if>
		  		  <if test="sphereLeftz != null and sphereLeftz != ''"> and sphere_leftz = #{sphereLeftz} </if>
		  		  <if test="cylinderRightz != null and cylinderRightz != ''"> and cylinder_rightz = #{cylinderRightz} </if>
		  		  <if test="cylinderLeftz != null and cylinderLeftz != ''"> and cylinder_leftz = #{cylinderLeftz} </if>
		  		  <if test="axialRightz != null and axialRightz != ''"> and axial_rightz = #{axialRightz} </if>
		  		  <if test="axialLeftz != null and axialLeftz != ''"> and axial_leftz = #{axialLeftz} </if>
		  		  <if test="dvaRightz != null and dvaRightz != ''"> and dva_rightz = #{dvaRightz} </if>
		  		  <if test="dvaLeftz != null and dvaLeftz != ''"> and dva_leftz = #{dvaLeftz} </if>
		  		  <if test="nvaRightz != null and nvaRightz != ''"> and nva_rightz = #{nvaRightz} </if>
		  		  <if test="nvaLeftz != null and nvaLeftz != ''"> and nva_leftz = #{nvaLeftz} </if>
		  		  <if test="prismRightz != null and prismRightz != ''"> and prism_rightz = #{prismRightz} </if>
		  		  <if test="prismLeftz != null and prismLeftz != ''"> and prism_leftz = #{prismLeftz} </if>
		  		  <if test="jdrZ != null and jdrZ != ''"> and jdr_z = #{jdrZ} </if>
		  		  <if test="jdlZ != null and jdlZ != ''"> and jdl_z = #{jdlZ} </if>
		  		  <if test="addRightz != null and addRightz != ''"> and add_rightz = #{addRightz} </if>
		  		  <if test="addLeftz != null and addLeftz != ''"> and add_leftz = #{addLeftz} </if>
		  		  <if test="yuanRz != null and yuanRz != ''"> and yuan_rz = #{yuanRz} </if>
		  		  <if test="yuanLz != null and yuanLz != ''"> and yuan_lz = #{yuanLz} </if>
		  		  <if test="nearRightz != null and nearRightz != ''"> and near_rightz = #{nearRightz} </if>
		  		  <if test="nearLeftz != null and nearLeftz != ''"> and near_leftz = #{nearLeftz} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jc_subjective
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="cardNumber != null and cardNumber != ''"> and card_number = #{cardNumber} </if>
		  		  <if test="sphereRightz != null and sphereRightz != ''"> and sphere_rightz = #{sphereRightz} </if>
		  		  <if test="sphereLeftz != null and sphereLeftz != ''"> and sphere_leftz = #{sphereLeftz} </if>
		  		  <if test="cylinderRightz != null and cylinderRightz != ''"> and cylinder_rightz = #{cylinderRightz} </if>
		  		  <if test="cylinderLeftz != null and cylinderLeftz != ''"> and cylinder_leftz = #{cylinderLeftz} </if>
		  		  <if test="axialRightz != null and axialRightz != ''"> and axial_rightz = #{axialRightz} </if>
		  		  <if test="axialLeftz != null and axialLeftz != ''"> and axial_leftz = #{axialLeftz} </if>
		  		  <if test="dvaRightz != null and dvaRightz != ''"> and dva_rightz = #{dvaRightz} </if>
		  		  <if test="dvaLeftz != null and dvaLeftz != ''"> and dva_leftz = #{dvaLeftz} </if>
		  		  <if test="nvaRightz != null and nvaRightz != ''"> and nva_rightz = #{nvaRightz} </if>
		  		  <if test="nvaLeftz != null and nvaLeftz != ''"> and nva_leftz = #{nvaLeftz} </if>
		  		  <if test="prismRightz != null and prismRightz != ''"> and prism_rightz = #{prismRightz} </if>
		  		  <if test="prismLeftz != null and prismLeftz != ''"> and prism_leftz = #{prismLeftz} </if>
		  		  <if test="jdrZ != null and jdrZ != ''"> and jdr_z = #{jdrZ} </if>
		  		  <if test="jdlZ != null and jdlZ != ''"> and jdl_z = #{jdlZ} </if>
		  		  <if test="addRightz != null and addRightz != ''"> and add_rightz = #{addRightz} </if>
		  		  <if test="addLeftz != null and addLeftz != ''"> and add_leftz = #{addLeftz} </if>
		  		  <if test="yuanRz != null and yuanRz != ''"> and yuan_rz = #{yuanRz} </if>
		  		  <if test="yuanLz != null and yuanLz != ''"> and yuan_lz = #{yuanLz} </if>
		  		  <if test="nearRightz != null and nearRightz != ''"> and near_rightz = #{nearRightz} </if>
		  		  <if test="nearLeftz != null and nearLeftz != ''"> and near_leftz = #{nearLeftz} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shiguang.jiancha.domain.SubjectiveDO" useGeneratedKeys="true" keyProperty="id">
		insert into jc_subjective
		(
			`card_number`, 
			`sphere_rightz`, 
			`sphere_leftz`, 
			`cylinder_rightz`, 
			`cylinder_leftz`, 
			`axial_rightz`, 
			`axial_leftz`, 
			`dva_rightz`, 
			`dva_leftz`, 
			`nva_rightz`, 
			`nva_leftz`, 
			`prism_rightz`, 
			`prism_leftz`, 
			`jdr_z`, 
			`jdl_z`, 
			`add_rightz`, 
			`add_leftz`, 
			`yuan_rz`, 
			`yuan_lz`, 
			`near_rightz`, 
			`near_leftz`
		)
		values
		(
			#{cardNumber}, 
			#{sphereRightz}, 
			#{sphereLeftz}, 
			#{cylinderRightz}, 
			#{cylinderLeftz}, 
			#{axialRightz}, 
			#{axialLeftz}, 
			#{dvaRightz}, 
			#{dvaLeftz}, 
			#{nvaRightz}, 
			#{nvaLeftz}, 
			#{prismRightz}, 
			#{prismLeftz}, 
			#{jdrZ}, 
			#{jdlZ}, 
			#{addRightz}, 
			#{addLeftz}, 
			#{yuanRz}, 
			#{yuanLz}, 
			#{nearRightz}, 
			#{nearLeftz}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.jiancha.domain.SubjectiveDO">
		update jc_subjective 
		<set>
			<if test="cardNumber != null">`card_number` = #{cardNumber}, </if>
			<if test="sphereRightz != null">`sphere_rightz` = #{sphereRightz}, </if>
			<if test="sphereLeftz != null">`sphere_leftz` = #{sphereLeftz}, </if>
			<if test="cylinderRightz != null">`cylinder_rightz` = #{cylinderRightz}, </if>
			<if test="cylinderLeftz != null">`cylinder_leftz` = #{cylinderLeftz}, </if>
			<if test="axialRightz != null">`axial_rightz` = #{axialRightz}, </if>
			<if test="axialLeftz != null">`axial_leftz` = #{axialLeftz}, </if>
			<if test="dvaRightz != null">`dva_rightz` = #{dvaRightz}, </if>
			<if test="dvaLeftz != null">`dva_leftz` = #{dvaLeftz}, </if>
			<if test="nvaRightz != null">`nva_rightz` = #{nvaRightz}, </if>
			<if test="nvaLeftz != null">`nva_leftz` = #{nvaLeftz}, </if>
			<if test="prismRightz != null">`prism_rightz` = #{prismRightz}, </if>
			<if test="prismLeftz != null">`prism_leftz` = #{prismLeftz}, </if>
			<if test="jdrZ != null">`jdr_z` = #{jdrZ}, </if>
			<if test="jdlZ != null">`jdl_z` = #{jdlZ}, </if>
			<if test="addRightz != null">`add_rightz` = #{addRightz}, </if>
			<if test="addLeftz != null">`add_leftz` = #{addLeftz}, </if>
			<if test="yuanRz != null">`yuan_rz` = #{yuanRz}, </if>
			<if test="yuanLz != null">`yuan_lz` = #{yuanLz}, </if>
			<if test="nearRightz != null">`near_rightz` = #{nearRightz}, </if>
			<if test="nearLeftz != null">`near_leftz` = #{nearLeftz}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from jc_subjective where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jc_subjective where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>