<!DOCTYPE html>
<html>
<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<!--<div class="columns pull-right">-->
							<!--<button shiro:hasPermission="information:member:add" type="button" class="btn  btn-primary" onclick="add()">-->
								<!--<i class="fa fa-plus" aria-hidden="true"></i>添加-->
							<!--</button>-->
							<!--<button shiro:hasPermission="information:member:member" type="button" class="btn  btn-default" onclick="importtemplate()">-->
								<!--会员信息导入-->
							<!--</button>-->
							<!--<button shiro:hasPermission="information:member:batchRemove" type="button" class="btn  btn-danger"-->
								<!--onclick="batchRemove(0)">-->
								<!--<i class="fa fa-trash" aria-hidden="true"></i>批量启用-->
							<!--</button>-->
							<!--<button shiro:hasPermission="information:member:batchRemove" type="button" class="btn  btn-danger"-->
									<!--onclick="batchRemove(1)">-->
								<!--<i class="fa fa-trash" aria-hidden="true"></i>批量停用-->
							<!--</button>-->
						<!--</div>-->
						<br>
						<div class="columns pull-left" style="display:flex; margin-top:20px;">
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right  nopadding">
							<input id="phone1" type="text" class="form-control"
								   placeholder="联系电话">
						</div>
						<!--<div class="columns pull-right col-md-2 nopadding">-->
							<!--<select name="departNumber" id="departNumber" class="form-control" data-actions-box="false" data-size="5">-->
								<!--<option value="">请选择部门</option>-->
								<!--<option th:each="ls:${departmentDOList}"-->
										<!--th:text="${ls.departName}"-->
										<!--th:value="${ls.departNumber}"></option>-->
							<!--</select>-->
						<!--</div>-->
					</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="information:lineManager:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="information:lineManager:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="information:lineManager:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/lineManager/lineManager.js"></script>
</body>
</html>