<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>委外订单新增</title>
	<link rel="stylesheet" href="/css/css.css" type="text/css">
	<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<!--查询条件-->

<form class="form-horizontal m-t" id="signupForm">
<div class="m40 tabS msgBox">
	<h3>单据信息</h3>
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>单据编号：</td>
			<td><input id="danjuNumber" name="danjuNumber" th:value="${danjuNumber}" type="text"></td>
			<td>单据日期：</td>
			<td><input id="danjuDay" name="danjuDay" th:value="${danjuDay}" type="text" ></td>
			<td>订单类型：</td>
			<td>
				<select id="eyeStyle" name="eyeStyle" style="width:48%" onchange="show()">
					<option></option>
					<option value="3">框镜订做</option>
					<option value="4">隐形订做</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>制单人：</td>
			<td>
				<input id="zhidanPeople" name="zhidanPeople" th:value="${zhidanPeople}" type="text" />
			</td>
			<td>制造商：</td>
			<td>
				<input id="mfrsid" name="mfrsid" type="hidden" />
				<input id="mfrsName" name="mfrsname" type="text" readonly />
				<input type="button" class="XZ-btn" value="选择" onclick="choiceMfrs()" />
			</td>
			<td>收入仓位：</td>
			<td>
				<input id="positionId" name="positionId"  th:value="${positionId}" type="hidden" />
				<input id="positionName" name="positionName"  th:value="${positionName}" type="text" />
			</td>

		</tr>
		<tr>
			<td>收货联系人：</td>
			<td>
				<input id="shouhuoPeople" name="shouhuoPeople"  th:value="${zhidanPeople}" type="text"  />
			</td>
			<td>收货联系电话：</td>
			<td>
				<input id="shouhuoPhone" name="shouhuoPhone" th:value="${departTel}" type="text"  />
			</td>
			<td>收货地址：</td>
			<td>
				<input id="shouhuoAddress" name="shouhuoAddress"  th:value="${departAddress}" type="text" />
			</td>
		</tr>
		<tr>
			<td>备注：</td>
			<td colspan="5"><textarea id="beizhu" name="beizhu" rows="3"></textarea></td>
		</tr>

	</table>
	<input id="gkname" name="gkname"   type="hidden"/>
	<input id="hyknum" name="hyknum"  type="hidden"/>
	<input id="phone" name="phone"  type="hidden"/>
	<input id="salenumbery" name="salenumbery"  type="hidden"/>
	<!--保存/清空-->
	<div class="BQ-btn">
		<!--<input type="button" value="内部配镜单" />-->
		<input type="button" class="empty" value="外部配镜单" onclick="waibu()" />
		<input id="status" name="status" value="1" type="hidden" />
		<input id="username" name="username" value="未收货" type="hidden" />
		<input type="button" class="H_bc" value="保存并审核" onclick="save()" />
	</div>
</div>
<!--商品信息-->
<div class="m40 tabS msgBoxDD">
	<table border="0" cellspacing="0" cellpadding="0" class="buyBtns">
		<tbody>
		<tr id="tab1" style="display:none">
			<td style="width: 100vw;">
				<table>
					<tr class="thead">
						<!--<td>多选</td>-->
						<td>配镜单号</td>
						<td>取镜时间</td>
						<td>商品名称</td>
						<td>委外方式</td>
						<td>镜片类型</td>
						<td>数量</td>
						<td>球镜</td>
						<td>柱镜</td>
						<td>轴向</td>
						<td>下加</td>
						<td>棱镜</td>
						<td>直径</td>
						<td>加工要求</td>
					</tr>
					<tr style="font-weight:bold;font-size: 15px;" class="heji1" id="heji1"></tr>
				</table>
			</td>
		</tr>
		<tr id="tab2" style="display:none;">
			<td style="width: 100vw;">
				<table>
					<tr class="thead">
						<!--<td>多选</td>-->
						<td>配镜单号</td>
						<td>取镜时间</td>
						<td>商品名称</td>
						<td>委外方式</td>
						<td>镜片类型</td>
						<td>数量</td>
						<td>球镜</td>
						<td>柱镜</td>
						<td>轴向</td>
						<td>基底</td>
						<td>曲率</td>
						<td>直径</td>
						<td>加工要求</td>
					</tr>
					<tr style="font-weight:bold;font-size: 15px;" class="heji2"></tr>
				</table>
			</td>
		</tr>
		</tbody>
	</table>
</div>
</form>

<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/stock/weiwai/add.js"></script>
<script type="text/javascript">

	$().ready(function() {
		var number = window.localStorage.getItem("number");//销售单号
		var eyeStyle = window.localStorage.getItem("eyeStyle");//定做类型
		// alert(eyeStyle)
		var mfrsid = window.localStorage.getItem("mfrsid");//制造商id
		// alert(mfrsid)
		$('#mfrsid').val(mfrsid);
		var mfrsname = window.localStorage.getItem("mfrsname");//制造商名称
		// alert(mfrsname)
		$('#mfrsName').val(mfrsname);


		var gkname = window.localStorage.getItem("gkname");
		// alert(gkname)
		$('#gkname').val(gkname);

		var hyknum = window.localStorage.getItem("hyknum");
		$('#hyknum').val(hyknum);

		var phone = window.localStorage.getItem("phone");
		$('#phone').val(phone);

		var salenumbery = window.localStorage.getItem("saleNumber");
		$('#salenumbery').val(salenumbery);

		if(eyeStyle==3){
			$("#eyeStyle").find("[value='" + eyeStyle + "']").attr("selected", true);
			$(".val2").remove();
			tab1.style = "display: block";
			tab2.style = "display: none";
			if (number !=null ){
				$.ajax({
					url: '/stock/weiwaishuju/getWeiwaiShuju',
					type: 'post',
					dataType: "json",
					data: {
						'number': number,
					},
					success: function (xml) {
						for (var i = 0; i < xml.length; i++) {
							// //顾客信息
							// alert(xml[i].name)
							// $("#gkname").val(xml[i].name);
							// $("#hyknum").val(xml[i].memberNumber);
							// $("#phone").val(xml[i].phone);
							if(null == xml[i].number){
								xml[i].number="";
							}
							if(null == xml[i].timetime){
								xml[i].timetime="";
							}
							if(null == xml[i].rightName){
								xml[i].rightName="";
							}
							if(null == xml[i].weiwaiStyle){
								xml[i].weiwaiStyle="";
							}

							if(null == xml[i].rightR){
								xml[i].rightR="";
							}

							if(null == xml[i].countr){
								xml[i].countr="";
							}
							if(null == xml[i].rightsph){
								xml[i].rightsph="";
							}
							if(null == xml[i].rightcyl){
								xml[i].rightcyl="";
							}
							if(null == xml[i].rightzx){
								xml[i].rightzx="";
							}
							if(null == xml[i].rightAdd){
								xml[i].rightAdd="";
							}
							if(null == xml[i].rightSlj){
								xml[i].rightSlj="";
							}
							if(null == xml[i].rightzj){
								xml[i].rightzj="";
							}
							if(null == xml[i].yaoqiur){
								xml[i].yaoqiur="";
							}



							if(null == xml[i].leftName){
								xml[i].leftName="";
							}
							if(null == xml[i].countl){
								xml[i].countl="";
							}
							if(null == xml[i].leftL){
								xml[i].leftL="";
							}
							if(null == xml[i].leftsph){
								xml[i].leftsph="";
							}
							if(null == xml[i].leftcyl){
								xml[i].leftcyl="";
							}
							if(null == xml[i].leftzx){
								xml[i].leftzx="";
							}
							if(null == xml[i].leftAdd){
								xml[i].leftAdd="";
							}
							if(null == xml[i].leftSlj){
								xml[i].leftSlj="";
							}
							if(null == xml[i].leftzj){
								xml[i].leftzj="";
							}
							if(null == xml[i].yaoqiul){
								xml[i].yaoqiul="";
							}
							$(".heji1").before("<tr class='val1'>" +
									"<td >" + xml[i].number + "</td>\n" +//0
									"<input name='saleNumber' type='hidden' value='" + xml[i].number + "'>\n" +//1

									"<td>" + xml[i].timetime + "</td>\n" +//2
									"<input name='mirrorTime' type='hidden' value='" + xml[i].timetime + "'>\n" +//3

									"<td>" + xml[i].rightName + "</td>\n" +//2
									"<input name='goodsName' type='hidden' value='" + xml[i].rightName + "'>\n" +//3

									"<td>" + xml[i].weiwaiStyle + "</td>\n" +//2
									"<input name='style' type='hidden' value='" + xml[i].weiwaiStyle + "'>\n" +//3

									"<td>" + xml[i].rightR + "</td>\n" +//2
									"<input name='rl' type='hidden' value='" + xml[i].rightR + "'>\n" +//3

									"<td>" + xml[i].countr + "</td>\n" +//数量
									"<input name='count' type='hidden' value='" + xml[i].countr + "'>\n" +


									"<td>" + xml[i].rightsph + "</td>\n" +//球镜
									"<input name='sph' type='hidden' value='" + xml[i].rightsph + "'>\n" +//3

									"<td>" + xml[i].rightcyl + "</td>\n" +//zhu镜
									"<input name='cyl' type='hidden' value='" + xml[i].rightcyl + "'>\n" +


									"<td>" + xml[i].rightzx + "</td>\n" +//zhu镜
									"<input name='axial' type='hidden' value='" + xml[i].rightzx + "'>\n" +

									"<td>" + xml[i].rightAdd + "</td>\n" +//zhu镜
									"<input name='lightbelow' type='hidden' value='" + xml[i].rightAdd + "'>\n" +

									"<td>" + xml[i].rightSlj + "</td>\n" +//zhu镜
									"<input name='lengjing' type='hidden' value='" + xml[i].rightSlj + "'>\n" +

									"<td>" + xml[i].rightzj + "</td>\n" +//zhu镜
									"<input name='diameter' type='hidden' value='" + xml[i].rightzj + "'>\n" +

									"<td>" + xml[i].yaoqiur + "</td>\n" +//zhu镜
									"<input name='yaoqiu' type='hidden' value='" + xml[i].yaoqiur + "'>\n" +


									"</tr>"+



									"<tr class='val1'>" +
									"<td >" + xml[i].number + "</td>\n" +//0
									"<input name='saleNumber2' type='hidden' value='" + xml[i].number + "'>\n" +//1

									"<td>" + xml[i].timetime + "</td>\n" +//2
									"<input name='mirrorTime2' type='hidden' value='" + xml[i].timetime + "'>\n" +//3

									"<td>" + xml[i].leftName + "</td>\n" +//2
									"<input name='goodsName2' type='hidden' value='" + xml[i].leftName + "'>\n" +//3

									"<td>" + xml[i].weiwaiStyle + "</td>\n" +//2
									"<input name='style2' type='hidden' value='" + xml[i].weiwaiStyle + "'>\n" +//3

									"<td>" + xml[i].leftL + "</td>\n" +//2
									"<input name='rl2' type='hidden' value='" + xml[i].leftL + "'>\n" +//3

									"<td>" + xml[i].countl + "</td>\n" +//数量
									"<input name='count2' type='hidden' value='" + xml[i].countl + "'>\n" +

									"<td>" + xml[i].leftsph + "</td>\n" +//球镜
									"<input name='sph2' type='hidden' value='" + xml[i].leftsph + "'>\n" +//3

									"<td>" + xml[i].leftcyl + "</td>\n" +//zhu镜
									"<input name='cyl2' type='hidden' value='" + xml[i].leftcyl + "'>\n" +


									"<td>" + xml[i].leftzx + "</td>\n" +//zhu镜
									"<input name='axial2' type='hidden' value='" + xml[i].leftzx + "'>\n" +

									"<td>" + xml[i].leftAdd + "</td>\n" +//zhu镜
									"<input name='lightbelow2' type='hidden' value='" + xml[i].leftAdd + "'>\n" +

									"<td>" + xml[i].leftSlj + "</td>\n" +//zhu镜
									"<input name='lengjing2' type='hidden' value='" + xml[i].leftSlj + "'>\n" +

									"<td>" + xml[i].leftzj + "</td>\n" +//zhu镜
									"<input name='diameter2' type='hidden' value='" + xml[i].leftzj + "'>\n" +

									"<td>" + xml[i].yaoqiul + "</td>\n" +//zhu镜
									"<input name='yaoqiu2' type='hidden' value='" + xml[i].yaoqiul + "'>\n" +
									"</tr>"
							);//页面每个数量
						}
					}
				})
			}
		}else if (eyeStyle == 4){
			$("#eyeStyle").find("[value='" + eyeStyle + "']").attr("selected", true);
			$(".val1").remove();
			tab1.style = "display: none";
			tab2.style = "display: block";
			if (number !=null ){
				$.ajax({
					url: '/stock/weiwaishuju/getWeiwaiShuju',
					type: 'post',
					dataType: "json",
					data: {
						'number': number,
					},
					success: function (xml) {
						for (var i = 0; i < xml.length; i++) {

							// //顾客信息
							// alert(xml[i].name)
							// $("#gkname").val(xml[i].name);
							// $("#hyknum").val(xml[i].memberNumber);
							// $("#phone").val(xml[i].phone1);

							if(null == xml[i].number){
								xml[i].number="";
							}
							if(null == xml[i].timetime){
								xml[i].timetime="";
							}
							if(null == xml[i].rightNameyx){
								xml[i].rightNameyx="";
							}
							if(null == xml[i].weiwaiStyle){
								xml[i].weiwaiStyle="";
							}

							if(null == xml[i].rightRyx){
								xml[i].rightRyx="";
							}

							if(null == xml[i].countr){
								xml[i].countr="";
							}
							if(null == xml[i].rightsphyx){
								xml[i].rightsphyx="";
							}
							if(null == xml[i].rightcylyx){
								xml[i].rightcylyx="";
							}
							if(null == xml[i].rightzxyx){
								xml[i].rightzxyx="";
							}
							if(null == xml[i].rightJd){
								xml[i].rightJd="";
							}
							if(null == xml[i].rightqulv){
								xml[i].rightqulv="";
							}
							if(null == xml[i].rightzj){
								xml[i].rightzj="";
							}
							if(null == xml[i].yaoqiuryx){
								xml[i].yaoqiuryx="";
							}

							if(null == xml[i].rightNameyx){
								xml[i].rightNameyx="";
							}


							if(null == xml[i].countr){
								xml[i].countr="";
							}
							if(null == xml[i].leftLyx){
								xml[i].leftLyx="";
							}
							if(null == xml[i].rightsphyx){
								xml[i].rightsphyx="";
							}
							if(null == xml[i].rightcylyx){
								xml[i].rightcylyx="";
							}
							if(null == xml[i].rightzxyx){
								xml[i].rightzxyx="";
							}
							if(null == xml[i].rightJd){
								xml[i].rightJd="";
							}
							if(null == xml[i].rightqulv){
								xml[i].rightqulv="";
							}
							if(null == xml[i].rightzj){
								xml[i].rightzj="";
							}
							if(null == xml[i].yaoqiuryx){
								xml[i].yaoqiuryx="";
							}

							$(".heji2").before("<tr class='val1'>" +
									"<td >" + xml[i].number + "</td>\n" +//0
									"<input name='saleNumber' type='hidden' value='" + xml[i].number + "'>\n" +//1

									"<td>" + xml[i].timetime + "</td>\n" +//2
									"<input name='mirrorTime' type='hidden' value='" + xml[i].timetime + "'>\n" +//3

									"<td>" + xml[i].rightNameyx + "</td>\n" +//2
									"<input name='goodsName' type='hidden' value='" + xml[i].rightNameyx + "'>\n" +//3

									"<td>" + xml[i].weiwaiStyle + "</td>\n" +//2
									"<input name='style' type='hidden' value='" + xml[i].weiwaiStyle + "'>\n" +//3

									"<td>" + xml[i].rightRyx + "</td>\n" +//2
									"<input name='rl' type='hidden' value='" + xml[i].rightRyx + "'>\n" +//3

									"<td>" + xml[i].countryx + "</td>\n" +//数量
									"<input name='count' type='hidden' value='" + xml[i].countryx + "'>\n" +

									"<td>" + xml[i].rightsphyx + "</td>\n" +//球镜
									"<input name='sph' type='hidden' value='" + xml[i].rightsphyx + "'>\n" +//3

									"<td>" + xml[i].rightcylyx + "</td>\n" +//zhu镜
									"<input name='cyl' type='hidden' value='" + xml[i].rightcylyx + "'>\n" +


									"<td>" + xml[i].rightzxyx + "</td>\n" +//zhu镜
									"<input name='axial' type='hidden' value='" + xml[i].rightzxyx + "'>\n" +

									"<td>" + xml[i].rightJd + "</td>\n" +//zhu镜
									"<input name='jd' type='hidden' value='" + xml[i].rightJd + "'>\n" +

									"<td>" + xml[i].rightqulv + "</td>\n" +//zhu镜
									"<input name='curvature' type='hidden' value='" + xml[i].rightqulv + "'>\n" +

									"<td>" + xml[i].rightzj + "</td>\n" +//zhu镜
									"<input name='diameter' type='hidden' value='" + xml[i].rightzj + "'>\n" +

									"<td>" + xml[i].yaoqiuryx + "</td>\n" +//zhu镜
									"<input name='yaoqiu' type='hidden' value='" + xml[i].yaoqiuryx + "'>\n" +
									"</tr>"+



									"<td >" + xml[i].number + "</td>\n" +//0
									"<input name='saleNumber2' type='hidden' value='" + xml[i].number + "'>\n" +//1

									"<td>" + xml[i].timetime + "</td>\n" +//2
									"<input name='mirrorTime2' type='hidden' value='" + xml[i].timetime + "'>\n" +//3

									"<td>" + xml[i].leftNameyx + "</td>\n" +//2
									"<input name='goodsName2' type='hidden' value='" + xml[i].leftNameyx + "'>\n" +//3

									"<td>" + xml[i].weiwaiStyle + "</td>\n" +//2
									"<input name='style2' type='hidden' value='" + xml[i].weiwaiStyle + "'>\n" +//3

									"<td>" + xml[i].leftLyx + "</td>\n" +//2
									"<input name='rl2' type='hidden' value='" + xml[i].leftLyx + "'>\n" +//3

									"<td>" + xml[i].countryx + "</td>\n" +//数量
									"<input name='count2' type='hidden' value='" + xml[i].countryx + "'>\n" +

									"<td>" + xml[i].leftsphyx + "</td>\n" +//球镜
									"<input name='sph2' type='hidden' value='" + xml[i].leftsphyx + "'>\n" +//3

									"<td>" + xml[i].leftcylyx + "</td>\n" +//zhu镜
									"<input name='cyl2' type='hidden' value='" + xml[i].leftcylyx + "'>\n" +


									"<td>" + xml[i].leftzxyx + "</td>\n" +//zhu镜
									"<input name='axial2' type='hidden' value='" + xml[i].leftzxyx + "'>\n" +

									"<td>" + xml[i].leftJd + "</td>\n" +//zhu镜
									"<input name='jd2' type='hidden' value='" + xml[i].leftJd + "'>\n" +

									"<td>" + xml[i].leftqulv + "</td>\n" +//zhu镜
									"<input name='curvature2' type='hidden' value='" + xml[i].leftqulv + "'>\n" +

									"<td>" + xml[i].leftzj + "</td>\n" +//zhu镜
									"<input name='diameter2' type='hidden' value='" + xml[i].leftzj + "'>\n" +

									"<td>" + xml[i].yaoqiuryx + "</td>\n" +//zhu镜
									"<input name='yaoqiu2' type='hidden' value='" + xml[i].yaoqiuryx + "'>\n" +
									"</tr>"
							);//页面每个数量
						}
					}
				})
			}
		}


		window.localStorage.removeItem("number");
		window.localStorage.removeItem("eyeStyle");
		window.localStorage.removeItem("mfrsid");
		window.localStorage.removeItem("mfrsname");

		window.localStorage.removeItem("mfrsname");
		window.localStorage.removeItem("hyknum");
		window.localStorage.removeItem("phone");

	});
    //显示
    function show() {
        var eyeStyle = $('#eyeStyle').val();
        if (eyeStyle == '3') {
            $(".val2").remove();
            tab1.style = "display: block";
            tab2.style = "display: none";
        } else if (eyeStyle == '4') {
            $(".val1").remove();
            tab1.style = "display: none";
            tab2.style = "display: block";
        }
    }
    // <!--选择制造商-->
    function choiceMfrs() {
        var goodsid = document.getElementById('eyeStyle').value;
        // layer.alert(goodsid);
        if (goodsid == "") {
            layer.alert("请选择订单类型！");
        } else {
            //选择镜架
            var toIndex = layer.open({
                type: 2,
                title: '制造商',
                maxmin: true,
                shadeClose: false, // 点击遮罩关闭层
                area: ['800px', '520px'],
                content: "/stock/stock/findmfrs/" + goodsid,// iframe的url
                cancel: function (index, layero) {
                    var rows = $(layero).find("iframe")[0].contentWindow.batchSelect();
                    for (var i = 0; i < rows.length; i++) {
                        $("#mfrsName").val(rows[i].mfrsname);
                        $("#mfrsid").val(rows[i].mfrsnum);
                        $("#mfrsNames").val(rows[i].mfrsname);
                    }
                }
            });
            layer.full(toIndex);
        }
    }


        //点击外部配镜
	var htmlheji=""
	function waibu() {
        var eyeStyle = $('#eyeStyle').val();
        var mfrsid = $('#mfrsid').val();
        var mfrsname = $('#mfrsName').val();
        var zhidanPeople = $('#zhidanPeople').val();
        if (eyeStyle == ""){
            layer.alert("请选择订单类型！");
		}else if (eyeStyle != "" && mfrsid == ""){
            layer.alert("请选择制造商！");
		}else{
                var toIndex = layer.open({
                    type: 2,
                    title: '外部配镜单查询',
                    maxmin: true,
                    shadeClose: false, // 点击遮罩关闭层
                    area: ['800px', '520px'],
                    content: "/stock/weiwai/getGoods/" + eyeStyle+'/'+mfrsid+'/'+mfrsname+'/'+zhidanPeople,// iframe的url
                    // btn: ['确定', '取消'],
                    // yes: function(index, layero) {
                    //     var rows = $(layero).find("iframe")[0].contentWindow.addshang();
                    //     alert(JSON.stringify(rows))
                    //         $(".heji1").before("<tr class='val1'>" +
                    //         "<td name='rightNum'>" + rows[0] + "</td>\n" +
                    //         "<td name='rightName'>" + rows[1] + "</td>\n" +
                    //         "<td name='rightrl'>" + rows[2] + "</td>\n" +
					// 		"</tr>"+
					// 		"<tr>"+
                    //         "<td name='leftNum'>" + rows[3] + "</td>\n" +
                    //         "<td name='leftName'>" + rows[4] + "</td>\n" +
                    //         "<td name='leftrl'>" + rows[5] + "</td>\n" +
					// 		"</tr>")
                    //     layer.close(index);//需要手动关闭窗口
                    // }

                });
                layer.full(toIndex);
			}
    }


</script>
</body>
</html>
