<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${weiwai.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">单据编号：</label>
								<div class="col-sm-8">
									<input id="danjuNumber" name="danjuNumber" th:value="${weiwai.danjuNumber}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">单据日期：</label>
								<div class="col-sm-8">
									<input id="danjuDay" name="danjuDay" th:value="${weiwai.danjuDay}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">订单类型：</label>
								<div class="col-sm-8">
									<input id="eyeStyle" name="eyeStyle" th:value="${weiwai.eyeStyle}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">制单人：</label>
								<div class="col-sm-8">
									<input id="zhidanPeople" name="zhidanPeople" th:value="${weiwai.zhidanPeople}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">制造商id：</label>
								<div class="col-sm-8">
									<input id="mfrsid" name="mfrsid" th:value="${weiwai.mfrsid}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">厂家订单号：</label>
								<div class="col-sm-8">
									<input id="changjiaNumber" name="changjiaNumber" th:value="${weiwai.changjiaNumber}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">收货联系人：</label>
								<div class="col-sm-8">
									<input id="shouhuoPeople" name="shouhuoPeople" th:value="${weiwai.shouhuoPeople}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">收货联系电话：</label>
								<div class="col-sm-8">
									<input id="shouhuoPhone" name="shouhuoPhone" th:value="${weiwai.shouhuoPhone}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">收货地址：</label>
								<div class="col-sm-8">
									<input id="shouhuoAddress" name="shouhuoAddress" th:value="${weiwai.shouhuoAddress}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="beizhu" name="beizhu" th:value="${weiwai.beizhu}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">配镜单号：</label>
								<div class="col-sm-8">
									<input id="saleNumber" name="saleNumber" th:value="${weiwai.saleNumber}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">取镜时间：</label>
								<div class="col-sm-8">
									<input id="mirrorTime" name="mirrorTime" th:value="${weiwai.mirrorTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">商品名称：</label>
								<div class="col-sm-8">
									<input id="goodsName" name="goodsName" th:value="${weiwai.goodsName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">委外方式：</label>
								<div class="col-sm-8">
									<input id="style" name="style" th:value="${weiwai.style}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">镜片类型r/l：</label>
								<div class="col-sm-8">
									<input id="rl" name="rl" th:value="${weiwai.rl}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">数量：</label>
								<div class="col-sm-8">
									<input id="count" name="count" th:value="${weiwai.count}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">球镜：</label>
								<div class="col-sm-8">
									<input id="sph" name="sph" th:value="${weiwai.sph}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜：</label>
								<div class="col-sm-8">
									<input id="cyl" name="cyl" th:value="${weiwai.cyl}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">轴向：</label>
								<div class="col-sm-8">
									<input id="axial" name="axial" th:value="${weiwai.axial}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">下加：</label>
								<div class="col-sm-8">
									<input id="lightbelow" name="lightbelow" th:value="${weiwai.lightbelow}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">棱镜：</label>
								<div class="col-sm-8">
									<input id="lengjing" name="lengjing" th:value="${weiwai.lengjing}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">直径：</label>
								<div class="col-sm-8">
									<input id="diameter" name="diameter" th:value="${weiwai.diameter}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">加工要求：</label>
								<div class="col-sm-8">
									<input id="yaoqiu" name="yaoqiu" th:value="${weiwai.yaoqiu}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">基底：</label>
								<div class="col-sm-8">
									<input id="jd" name="jd" th:value="${weiwai.jd}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">曲率：</label>
								<div class="col-sm-8">
									<input id="curvature" name="curvature" th:value="${weiwai.curvature}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/stock/weiwai/edit.js">
	</script>
</body>
</html>
