<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="stock:weiwai:add" type="button" class="btn  btn-primary" onclick="add()">
								 委外订单新增
							</button>
							<!--<button shiro:hasPermission="stock:weiwai:danyiinList" type="button" class="btn  btn-default" onclick="dayinList()">-->
								 <!--批量打印-->
							<!--</button>-->
							<button shiro:hasPermission="stock:weiwai:out" type="button" class="btn  btn-default" onclick="out()">
								信息导出
							</button>
							<button shiro:hasPermission="stock:weiwai:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								 删除
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="day1" type="text" class="form-control"
								   placeholder="开始日期">

						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="day2" type="text" class="form-control"
								   placeholder="结束日期">
						</div>

						<div class="columns pull-right col-md-1.5 nopadding">
							<input id="salenumbery" type="text" class="form-control"
								   placeholder="销售单号">
						</div>
						<div class="columns pull-right col-md-1.5 nopadding">
							<input id="gkname" type="text" class="form-control"
								   placeholder="会员姓名">
						</div>

						<div class="columns pull-right col-md-1.5 nopadding">
							<input id="phone" type="text" class="form-control"
								   placeholder="电话">
						</div>
						<div class="columns pull-right col-md-1.5 nopadding">
							<select name="mfrsname" id="mfrsname" class="form-control" data-actions-box="false"
									data-size="5">
								<option value="">请选择制造商</option>
								<option th:each="ls:${mfrsDOList}"
										th:text="${ls.mfrsname}"
										th:value="${ls.mfrsname}"></option>

							</select>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<select name="departname" id="departname" class="form-control" data-actions-box="false"
									data-size="5">
								<option value="">请选择销售门店</option>
								<option th:each="ls:${departmentList}"
										th:text="${ls.departName}"
										th:value="${ls.departName}"></option>

							</select>
						</div>
						<div class="columns pull-right col-md-1.5 nopadding">
							<select id="eyeStyle" name="eyeStyle" class="form-control" data-actions-box="false"
									data-size="5">
									<option value="">请选择订做类型</option>
									<option value="3">框镜订做</option>
									<option value="4">隐形订做</option>
							</select>
						</div>


					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
                var s_detial_h = 'hidden';
                var s_userNum_h = 'hidden';
                var s_psNum_h = 'hidden';
                var s_code_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="stock:weiwai:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="stock:weiwai:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="stock:weiwai:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	<div shiro:hasPermission="stock:weiwai:detial">
			<script type="text/javascript">
				var s_detial_h = '';
			</script>
		</div>
	<div shiro:hasPermission="stock:weiwai:userNum">
			<script type="text/javascript">
				var s_userNum_h = '';
			</script>
		</div>
	<div shiro:hasPermission="stock:weiwai:psNum">
			<script type="text/javascript">
				var s_psNum_h = '';
			</script>
		</div>
	<div shiro:hasPermission="stock:weiwai:code">
			<script type="text/javascript">
				var s_code_h = '';
			</script>
		</div>

	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/stock/weiwai/weiwai.js"></script>
	<script type="text/javascript">
        laydate.render({
            elem: '#day1',
            format: 'yyyy-MM-dd',
            type: 'date'
        });
        laydate.render({
            elem: '#day2',
            format: 'yyyy-MM-dd',
            type: 'date'
        });
	</script>
</body>
</html>