<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="stock:weiwai:add" type="button" class="btn  btn-primary" onclick="add()">
								 委外订单新增
							</button>
							<button shiro:hasPermission="stock:weiwai:danyiinList" type="button" class="btn  btn-default" onclick="dayinList()">
								 批量打印
							</button>
							<button shiro:hasPermission="stock:weiwai:codeList" type="button" class="btn  btn-default" onclick="codeList()">
								批量打印条码
							</button>
							<button shiro:hasPermission="stock:weiwai:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								 删除
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>


						<div class="columns pull-right col-md-2 nopadding">
							<input id="danjuNumber" type="text" class="form-control"
								   placeholder="单据编号">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="mfrsname" type="text" class="form-control"
								   placeholder="制造商">
						</div>
						<!--<div class="columns pull-right col-md-2 nopadding">-->
							<!--<input id="salenumbery" type="text" class="form-control"-->
								   <!--placeholder="原配镜单">-->
						<!--</div>-->
						<!--<div class="columns pull-right col-md-2 nopadding">-->
							<!--<input id="gkname" type="text" class="form-control"-->
								   <!--placeholder="会员姓名">-->
						<!--</div>-->
						<!--<div class="columns pull-right col-md-2 nopadding">-->
							<!--<input id="hyknum" type="text" class="form-control"-->
								   <!--placeholder="会员卡号">-->
						<!--</div>-->
						<!--<div class="columns pull-right col-md-2 nopadding">-->
							<!--<input id="phone" type="text" class="form-control"-->
								   <!--placeholder="电话">-->
						<!--</div>-->
						<!--<div class="columns pull-left col-md-2 nopadding">-->
							<!--<input id="mfrsname" type="text" class="form-control"-->
								   <!--placeholder="制造商">-->
						<!--</div>-->

					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
                var s_detial_h = 'hidden';
                var s_userNum_h = 'hidden';
                var s_psNum_h = 'hidden';
                var s_code_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="stock:weiwai:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="stock:weiwai:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="stock:weiwai:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	<div shiro:hasPermission="stock:weiwai:detial">
			<script type="text/javascript">
				var s_detial_h = '';
			</script>
		</div>
	<div shiro:hasPermission="stock:weiwai:userNum">
			<script type="text/javascript">
				var s_userNum_h = '';
			</script>
		</div>
	<div shiro:hasPermission="stock:weiwai:psNum">
			<script type="text/javascript">
				var s_psNum_h = '';
			</script>
		</div>
	<div shiro:hasPermission="stock:weiwai:code">
			<script type="text/javascript">
				var s_code_h = '';
			</script>
		</div>

	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/stock/weiwai/weiwai.js"></script>
</body>
</html>