<!doctype html>
<html>
<style>
    .none {
        display: none;
    }

    input:disabled {
        color: red;
        opacity: 1;
        -webkit-text-fill-color: red;
    }
</style>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>屈光检查</title>
    <link rel="stylesheet" href="/css/css.css" type="text/css">
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<form class="form-horizontal m-t" id="signupForm">
    <div id="quguangjiancha" style="text-decoration: none;">
        <div class="topTab">
            <ul>
                <li class="on click1"><a href="edit.html?data=${memberDO.cardNumber}">屈光检查</a></li>
                <li class="click"><a href="jianchajielun.html?data=${memberDO.cardNumber}">检查结论</a></li>
                <!--<li class="on click1"><a href="#">屈光检查</a></li>-->
                <!--<li class="click"><a href="jianchajielun.html">检查结论</a></li>-->
            </ul>
        </div>
        <!--验光信息-->
        <div class="m40 msgBox">
            <h3>验光信息</h3>
            <ul>
                <li>验光号：<input id="ptometryNumber" name="ptometryNumber" th:value="${uuidstr}" type="text"/></li>
                <li>验光师/医生：<input id="optometryName" name="optometryName" th:value="${optometryName}" type="text"/>
                </li>
                <li>日期：<input input id="createTime" name="createTime" th:value="${createTime}" type="text"/></li>
            </ul>
        </div>

        <!--顾客资料-->
        <div class="m40 msgBox">
            <h3>顾客资料</h3>
            <ul>
                <li>卡号：<input id="cardNumber" name="cardNumber" th:value="${memberDO.cardNumber}" type="text"/>
                </li>
                <li>姓名：<input id="name" name="name" th:value="${memberDO.name}" type="text"/></li>
                <li>性别：<input id="sexx" name="sexx" th:value="${memberDO.sexx}" class="short" type="text"/></li>
                <li>年龄：<input id="age" name="age" th:value="${memberDO.age}" class="short" type="text"/></li>
                <li>电话：<input type="text" name="phone1" th:value="${memberDO.phone1}"/></li>
                <input id="memberId" name="memberId" th:value="${memberDO.id}" type="hidden">
                <input id="memberInumber" name="memberInumber" th:value="${memberDO.cardNumber}" type="hidden">
                <input id="memname" name="memname" th:value="${memberDO.name}" type="hidden">
                <input id="memberNumber" name="memberNumber" th:value="${memberDO.cardNumber}" type="hidden">
                <li><span onclick="getMemberDetail()">详情</span></li>
            </ul>
        </div>

        <!--主诉-->
        <div class="m40 tabS">
            <h3>主诉</h3>
            <table class="tabA" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td class="w170">转诊医生</td>
                    <td><input name="referralDoctor" type="text"/></td>
                </tr>
                <tr>
                    <td>转诊</td>
                    <td></td>
                </tr>
                <tr>
                    <td>主诉</td>
                    <td><textarea rows="3" name="chiefComplaint"> </textarea></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--视力-->
        <div class="m40 tabS">
            <h3>视力</h3>
            <table class="tabB" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td rowspan="2" class="w170">裸眼视力</td>
                    <td width="120">远</td>
                    <td>OU <input name="farLyou" type="text"/></td>
                    <td>OD <input name="farLyod" type="text"/></td>
                    <td>OS <input name="farLyos" type="text"/></td>
                    <td rowspan="2" style="width:8%;">原镜视力</td>
                    <td width="120">远</td>
                    <td>OU <input name="farYjou" type="text"/></td>
                    <td>OD <input name="farYjod" type="text"/></td>
                    <td>OS <input name="farYjos" type="text"/></td>
                </tr>
                <tr>
                    <td>近</td>
                    <td>OU <input name="nearLyou" type="text"></td>
                    <td>OD <input name="nearLyod" type="text"/></td>
                    <td>OS <input name="nearLyos" type="text"/></td>
                    <td>近</td>
                    <td>OU <input name="nearYjou" type="text"/></td>
                    <td>OD <input name="nearYjod" type="text"/></td>
                    <td>OS <input name="nearYjos" type="text"/></td>
                </tr>
                <tr>
                    <td rowspan="2">小孔视力</td>
                    <td>远</td>
                    <td>OU <input name="farXkou" type="text"/></td>
                    <td>OD <input name="farXkod" type="text"/></td>
                    <td>OS <input name="farXkos" type="text"/></td>
                    <td rowspan="2">主导眼</td>
                    <td rowspan="2">
                        <select id="dominantEye" name="dominantEye">
                            <option></option>
                            <option value="右">右</option>
                            <option value="交替">交替</option>
                            <option value="左">左</option>
                        </select>
                    </td>
                    <td rowspan="2" colspan="3"><input class="btnCK" type="button" value="查看眼底像"/></td>
                </tr>
                <tr>
                    <td>近</td>
                    <td>OU <input name="nearXkou" type="text"/></td>
                    <td>OD <input name="nearXkod" type="text"/></td>
                    <td>OS <input name="nearXkos" type="text"/></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--眼生物学参数-->
        <div class="m40 tabS">
            <h3>眼生物学参数</h3>
            <table class="tabC" cellspacing="0" cellpadding="0">
                <tbody>
                <tr class="tabS_bg">
                    <td class="w170"></td>
                    <td>眼轴</td>
                    <td>角膜曲率K1</td>
                    <td>角膜曲率K2</td>
                    <td>眼压</td>
                </tr>
                <tr>
                    <td>OD</td>
                    <td>
                        <input name="axis" th:value="${ocularEyesDO.axis}" type="text" onblur="shuzi(this)"/>
                        mm
                    </td>
                    <td>
                        <input name="cornealFirstK1Right" th:value="${ocularEyesDO.cornealFirstK1Right}"
                               type="text" onblur="zhengfu(this)" onkeydown="xiaoshu(this)"/>@
                        <input name="cornealLastK1Right" th:value="${ocularEyesDO.cornealLastK1Right}"
                               type="text" onchange="shuzi(this)"/>
                    </td>
                    <td>
                        <input name="cornealFirstK2Right" th:value="${ocularEyesDO.cornealFirstK2Right}"
                               type="text" oninput="value=value.match(/^\d+(?:\.\d{0,2})?/)"/>@
                        <input name="cornealLastK2Right" th:value="${ocularEyesDO.cornealLastK2Right}"
                               type="text"/>
                    </td>
                    <td>
                        <input name="intraocularOd" th:value="${ocularEyesDO.intraocularOd}" type="text"/> mmHg
                    </td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td>
                        <input name="axisLeft" th:value="${ocularEyesDO.axisLeft}" type="text"/> mm
                    </td>
                    <td>
                        <input name="cornealFirstK2Left" th:value="${ocularEyesDO.cornealFirstK1Left}"
                               type="text"/>@
                        <input name="cornealLastK1Left" th:value="${ocularEyesDO.cornealLastK1Left}"
                               type="text"/>
                    </td>
                    <td>
                        <input name="cornealFirstK2Left" th:value="${ocularEyesDO.cornealFirstK2Left}"
                               type="text"/>@
                        <input name="cornealLastK2Left" th:value="${ocularEyesDO.cornealLastK2Left}"
                               type="text"/>
                    </td>
                    <td>
                        <input name="intraocularOs" th:value="${ocularEyesDO.intraocularOs}" type="text"/> mmHg
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--客观验光-->
        <div class="m40 tabS">
            <h3>客观验光</h3>
            <table class="tabD" cellspacing="0" cellpadding="0">
                <tbody>
                <tr class="tabS_bg tabD_1">
                    <td class="w170">&nbsp;</td>
                    <td>是否散瞳</td>
                    <td colspan="2">
                        <label><input id="xz1" name="mydriasis" th:value="${optometryAfterDO.mydriasis}"
                                      type="radio" onclick="return false">
                            是</label>
                        <label><input id="xz2" name="mydriasis" th:value="${optometryAfterDO.mydriasis}"
                                      type="radio" onclick="return false">
                            否</label>
                    </td>
                    <td>散瞳用药</td>
                    <td colspan="3">
                        <select id="pharmacy" name="pharmacy">
                            <option></option>
                            <option th:each="ls:${pharmacyDOList}"
                                    th:text="${ls.pharmacy}"
                                    th:value="${ls.pharmacy}"
                            ></option>
                        </select>
                    </td>
                </tr>

                <tr class="tabS_bg">
                    <td>电脑验光</td>
                    <td colspan="7"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>球镜</td>
                    <td>柱镜</td>
                    <td>轴向</td>
                    <td></td>
                    <td>球镜</td>
                    <td>柱镜</td>
                    <td>轴向</td>
                </tr>
                <tr>
                    <td>OD</td>
                    <td>
                        <input name="sphereRight" th:value="${optometryFrontDO.sphereRight}" type="text"/>
                    </td>
                    <td>
                        <input name="cylinderRight" th:value="${optometryFrontDO.cylinderRight}" type="text"/>
                    </td>
                    <td>
                        <input name="axialRight" th:value="${optometryFrontDO.axialRight}" onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" type="text"/>
                    </td>
                    <td rowspan="2">散瞳后</td>
                    <td>
                        <input name="sphereRight" th:value="${optometryAfterDO.sphereRight}" type="text"/>
                    </td>
                    <td>
                        <input name="cylinderRight" th:value="${optometryAfterDO.cylinderRight}" type="text"/>
                    </td>
                    <td>
                        <input name="axialRight" th:value="${optometryAfterDO.axialRight}" onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td>
                        <input name="sphereLeft" th:value="${optometryFrontDO.sphereLeft}" type="text"/>
                    </td>
                    <td>
                        <input name="cylinderLeft" th:value="${optometryFrontDO.cylinderLeft}" type="text"/>
                    </td>
                    <td>
                        <input name="axialLeft" th:value="${optometryFrontDO.axialLeft}" type="text"
                               onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')"/>
                    </td>
                    <td>
                        <input name="sphereLeft" th:value="${optometryAfterDO.sphereLeft}" type="text"/>
                    </td>
                    <td>
                        <input name="cylinderLeft" th:value="${optometryAfterDO.cylinderLeft}" type="text"/>
                    </td>
                    <td>
                        <input name="axialLeft" th:value="${optometryAfterDO.axialLeft}" type="text"
                               onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')"/>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>平K</td>
                    <td>陡K</td>
                    <td>平均K</td>
                    <td>角膜散光</td>
                    <td>瞳距（mm）</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td>OD</td>
                    <td>
                        <input class="short" name="cornealFirstK1Right"
                               th:value="${ocularEyesDO.cornealFirstK1Right}" type="text"/> @
                        <input class="short" name="cornealLastK1Right"
                               th:value="${ocularEyesDO.cornealLastK1Right}" type="text"/>
                    </td>
                    <td><input class="short" name="cornealFirstK2Right"
                               th:value="${ocularEyesDO.cornealFirstK2Right}" type="text"/> @
                        <input class="short" name="cornealLastK2Right"
                               th:value="${ocularEyesDO.cornealLastK2Right}" type="text"/>
                    </td>
                    <td>
                        <input class="short" name="pjkOd" th:value="${ocularEyesDO.pjkOd}" type="text"/> @
                        <input class="short" name="pjkOs" th:value="${ocularEyesDO.pjkOs}" type="text"/>
                    </td>
                    <td><input name="cornealAstigmatismOd" th:value="${optometryFrontDO.cornealAstigmatismOd}"
                               type="text"/>
                    </td>
                    <td><input name="pupilSizeRight" th:value="${ocularEyesDO.pupilSizeRight}" type="text"/>
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td>
                        <input class="short" name="cornealFirstK1Left"
                               th:value="${ocularEyesDO.cornealFirstK1Left}" type="text"/> @
                        <input class="short" name="cornealLastK1Left"
                               th:value="${ocularEyesDO.cornealLastK1Left}" type="text"/>
                    </td>
                    <td><input class="short" name="cornealFirstK2Left"
                               th:value="${ocularEyesDO.cornealFirstK2Left}" type="text"/> @
                        <input class="short" name="cornealLastK2Left"
                               th:value="${ocularEyesDO.cornealLastK2Left}" type="text"/>
                    </td>
                    <td>
                        <input class="short" name="pjkOd2" th:value="${ocularEyesDO.pjkOd2}" type="text"/> @
                        <input class="short" name="pjkOs2" th:value="${ocularEyesDO.pjkOs2}" type="text"/>
                    </td>
                    <td><input name="cornealAstigmatismOs" th:value="${optometryFrontDO.cornealAstigmatismOs}"
                               type="text"/>
                    </td>
                    <td><input name="pupilSizeRight" th:value="${ocularEyesDO.pupilSizeRight}" type="text"/>
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr class="tabS_bg">
                    <td>检影验光</td>
                    <td colspan="7"><input type="button" value="检影"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td>球镜</td>
                    <td>柱镜</td>
                    <td>轴向</td>
                    <td>VA</td>
                    <td>瞳距（mm）</td>
                    <td colspan="2"></td>
                </tr>
                <tr>

                    <td>OD</td>
                    <td><input name="sphJyod" th:value="${optometryDO.sphJyod}" type="text"/></td>
                    <td><input name="cylJyod" th:value="${optometryDO.cylJyod}" type="text"/></td>
                    <td><input name="axialJyod" th:value="${optometryDO.axialJyod}" type="text"
                               onblur="zhouxiang(this)" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')"/></td>
                    <td><input name="vaJyod" th:value="${optometryDO.vaJyod}" type="text"/></td>
                    <td><input name="pdJyod" th:value="${optometryDO.pdJyod}" type="text"/></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td><input name="sphJyos" th:value="${optometryDO.sphJyos}" type="text"/></td>
                    <td><input name="cylJyos" th:value="${optometryDO.cylJyos}" type="text"/></td>
                    <td><input name="axialJyos" th:value="${optometryDO.axialJyos}" onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" type="text"/></td>
                    <td><input name="vaJyos" th:value="${optometryDO.vaJyos}" type="text"/></td>
                    <td><input name="pdJyod" th:value="${optometryDO.pdJyos}" type="text"/></td>
                    <td colspan="2"></td>
                </tr>
                <tr class="tabS_bg">
                    <td>插片验光</td>
                    <td colspan="7"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>球镜</td>
                    <td>柱镜</td>
                    <td>轴向</td>
                    <td>DVA</td>
                    <td>NVA</td>
                    <td>Add</td>
                    <td>测量距离（cm）</td>
                </tr>
                <tr>
                    <td>OD</td>
                    <td><input name="sphCpod" th:value="${optometryDO.sphCpod}" type="text"/></td>
                    <td><input name="cylCpod" th:value="${optometryDO.cylCpod}" type="text"/></td>
                    <td><input name="axialCpod" th:value="${optometryDO.axialCpod}" onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" type="text"/></td>
                    <td><input name="dvaCpod" th:value="${optometryDO.dvaCpod}" type="text"/></td>
                    <td><input name="nvaCpod" th:value="${optometryDO.nvaCpod}" type="text"/></td>
                    <td><input name="addCpod" th:value="${optometryDO.addCpod}" type="text"/></td>
                    <td><input name="distanceOd" th:value="${optometryDO.distanceOd}" type="text"/></td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td><input name="sphCpos" th:value="${optometryDO.sphCpos}" type="text"/></td>
                    <td><input name="cylCpos" th:value="${optometryDO.cylCpos}" type="text"/></td>
                    <td><input name="axialCpos" th:value="${optometryDO.axialCpos}" onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" type="text"/></td>
                    <td><input name="dvaCpos" th:value="${optometryDO.dvaCpos}" type="text"/></td>
                    <td><input name="nvaCpos" th:value="${optometryDO.nvaCpos}" type="text"/></td>
                    <td><input name="addCpos" th:value="${optometryDO.addCpos}" type="text"/></td>
                    <td><input name="distanceOs" th:value="${optometryDO.distanceOs}" type="text"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--主观验光-->
        <div class="m40 tabS zhuguan">
            <h3>主观验光</h3>
            <table class="tabE" cellspacing="0" cellpadding="0">
                <tbody>
                <tr class="tabS_bg">
                    <td class="w170">&nbsp;</td>
                    <td>球镜</td>
                    <td>柱镜</td>
                    <td>轴向</td>
                    <td>DVA</td>
                    <td>NVA</td>
                    <td>三棱镜</td>
                    <td>基底</td>
                    <td>Add</td>
                    <td>远用瞳距(mm)</td>
                    <td>近用瞳距(mm)</td>
                    <td style="width: 150px;"></td>
                </tr>
                <tr>
                    <td>OD</td>
                    <td><input class="input_text" id="sphereRightz" name="sphereRightz" type="text"
                               onblur="zhengfu(this)" onkeydown="xiaoshu(this)"/></td>
                    <td><input class="input_text" id="cylinderRightz" name="cylinderRightz" type="text"
                               onblur="zhengfu(this)" onkeydown="xiaoshu(this)"/></td>
                    <td><input class="input_text" id="axialRightz" name="axialRightz" onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" type="text"/></td>
                    <td><input class="input_text" id="dvaRightz" name="dvaRightz" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/></td>
                    <td><input class="input_text" id="nvaRightz" name="nvaRightz" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/></td>
                    <td><input id="prismRightz" name="prismRightz" class="short input_text"
                               type="text" onblur="zhengfu(this)" onkeydown="xiaoshu(this)"/> △
                    </td>
                    <td>
                        <select class="input_text" id="jdrZ" name="jdrZ">
                            <option></option>
                            <option value="内">内</option>
                            <option value="外">外</option>
                            <option value="上">上</option>
                            <option value="下">下</option>
                        </select>
                    </td>
                    <td><input class="input_text" id="addRightz" name="addRightz" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/></td>
                    <td><input class="input_text" id="yuanRz" name="yuanRz" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/></td>
                    <td><input id="nearRightz" name="nearRightz" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/></td>
                    <td></td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td>
                        <input class="input_text" id="sphereLeftz" name="sphereLeftz" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/>
                    </td>
                    <td>
                        <input class="input_text" id="cylinderLeftz" name="cylinderLeftz" type="text"
                               onblur="zhengfu(this)" onkeydown="xiaoshu(this)"
                        />
                    </td>
                    <td>
                        <input class="input_text" id="axialLeftz" name="axialLeftz" onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" type="text"/>
                    </td>
                    <td>
                        <input class="input_text" id="dvaLeftz" name="dvaLeftz" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/>
                    </td>
                    <td>
                        <input class="input_text" id="nvaLeftz" name="nvaLeftz" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/>
                    </td>
                    <td>
                        <input id="prismLeftz" name="prismLeftz" class="short input_text" type="text"
                               onblur="zhengfu(this)" onkeydown="xiaoshu(this)"
                        />
                        △
                    </td>
                    <td>
                        <select class="input_text" id="jdlZ" name="jdlZ">
                            <option></option>
                            <option value="内">内</option>
                            <option value="外">外</option>
                            <option value="上">上</option>
                            <option value="下">下</option>
                        </select>
                    </td>
                    <td><input class="input_text" id="addLeftz" name="addLeftz" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/>
                    </td>
                    <td><input class="input_text" id="yuanLz" name="yuanLz" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/>
                    </td>
                    <td><input id="nearLeftz" name="nearLeftz" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--试戴镜结果-->
        <div class="m40 tabS zhuguan2">
            <h3>试戴镜结果<input class="zgQG" type="button" value="主观屈光"/></h3>
            <table class="tabE" cellspacing="0" cellpadding="0">
                <tbody>
                <tr class="tabS_bg">
                    <td class="w170">&nbsp;</td>
                    <td>球镜</td>
                    <td>柱镜</td>
                    <td>轴向</td>
                    <td>DVA</td>
                    <td>NVA</td>
                    <td>三棱镜</td>
                    <td>基底</td>
                    <td>瞳高(mm)</td>
                    <td>Add</td>
                    <td>远用瞳距(mm)</td>
                    <td style="width: 150px;">近用瞳距(mm)</td>
                </tr>
                <tr>
                    <td>OD</td>
                    <td>
                        <input class="input_text" id="sphereRighttry" name="sphereRighttry" type="text"
                               onblur="zhengfu(this)" onkeydown="xiaoshu(this)"
                        />
                    </td>
                    <td><input class="input_text" id="cylinderRighttry" name="cylinderRighttry" type="text"
                               onblur="zhengfu(this)" onkeydown="xiaoshu(this)"
                    />
                    </td>
                    <td>
                        <input class="input_text" id="axialRighttry" name="axialRighttry" onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" type="text"/>
                    </td>
                    <td>
                        <input class="input_text" id="dvaRighttry" name="dvaRighttry" type="text" onblur="zhengfu(this)"
                        />
                    </td>
                    <td>
                        <input class="input_text" id="nvaRighttry" name="nvaRighttry" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/>
                    </td>
                    <td>
                        <input id="prismRighttry" name="prismRighttry" class="short input_text"
                               type="text" onblur="zhengfu(this)" onkeydown="xiaoshu(this)"
                        /> △
                    </td>
                    <td>
                        <select class="input_text" id="jdrTry" name="jdrTry">
                            <option></option>
                            <option value="内">内</option>
                            <option value="外">外</option>
                            <option value="上">上</option>
                            <option value="下">下</option>
                        </select>
                    </td>
                    <td><input id="heightRighttry" name="heightRighttry" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/>
                    </td>
                    <td>
                        <input class="input_text" id="addRighttry" name="addRighttry" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/>
                    </td>
                    <td>
                        <input class="input_text" id="yuanRrty" name="yuanRrty" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td>
                        <input class="input_text" id="sphereLefttry" name="sphereLefttry" type="text"
                               onblur="zhengfu(this)" onkeydown="xiaoshu(this)"
                        />
                    </td>
                    <td>
                        <input class="input_text" id="cylinderLefttry" name="cylinderLefttry" type="text"
                               onblur="zhengfu(this)" onkeydown="xiaoshu(this)"
                        />
                    </td>
                    <td>
                        <input class="input_text" id="axialLefttry" name="axialLefttry" onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" type="text"/>
                    </td>
                    <td>
                        <input class="input_text" id="dvaLefttry" name="dvaLefttry" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/>
                    </td>
                    <td>
                        <input class="input_text" id="nvaLefttry" name="nvaLefttry" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/></td>
                    <td><input id="prismLefttry" name="prismLefttry" class="short input_text"
                               type="text" onblur="zhengfu(this)" onkeydown="xiaoshu(this)"/> △
                    </td>
                    <td>
                        <select class="input_text" id="jdlTry" name="jdlTry">
                            <option></option>
                            <option value="内">内</option>
                            <option value="外">外</option>
                            <option value="上">上</option>
                            <option value="下">下</option>
                        </select>
                    </td>
                    <td>
                        <input id="heightLefttry" name="heightLefttry" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/>
                    </td>
                    <td>
                        <input class="input_text" id="addLefttry" name="addLefttry" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/>
                    </td>
                    <td>
                        <input class="input_text" id="yuanLrty" name="yuanLrty" type="text" onblur="zhengfu(this)"
                               onkeydown="xiaoshu(this)"/>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--备注-->
        <div class="m40 tabS">
            <table class="tabF" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td class="w170">备注</td>
                    <td><textarea rows="3" id="remarks" name="remarks"> </textarea></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--保存-->
        <div class="baoCun">
            <div class="fl">
                <label for="JK1"><input name="cont" type="radio" id="JK1" checked> NIDEK</label>
                <label for="JK2"><input name="cont" type="radio" id="JK2"> TOPCON</label>
                <input type="button" value="读取设备接口"/>
            </div>
            <div class="Keep"><input type="button" value="保存" onclick="save()"/></div>
        </div>
    </div>
</form>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/optometryNew/jctryresults.js"></script>
<!--第一个页面-->
<script type="text/javascript">
    // var data = window.location.href.split("?")[1].split("=")[1];
    // var click = $(".click");
    // var click1 = $(".click1");
    // click.click(function () {
    //     $("#quguangjiancha").addClass("none")
    //     $("#jianchajielun").removeClass("none")
    // });
    // click1.click(function () {
    //     $("#jianchajielun").addClass("none")
    //     $("#quguangjiancha").removeClass("none")
    // });
    function getMemberDetail() {
        var id = $("#memberId").val();
        layer.open({
            type: 2,
            title: '详情',
            maxmin: true,
            shadeClose: false, // 点击遮罩关闭层
            area: ['1200px', '520px'],
            content: "/information/highmember/detail/" + id // iframe的url
        });
    }

    //————是否散瞳判读选中
    var choices = $("#xz1").val();
    if (choices == "1") {
        document.getElementById("xz1").checked = "checked";
    } else {
        document.getElementById("xz2").checked = "checked";
    }
    $(function () {
        $("input[type='radio']").click(function () {
            this.checked = !this.checked;
        });
    });

    //主观验光和试戴镜联动
    $(".zgQG").click(function () {
        for (var i = 0; i < $(".zhuguan .input_text").length; i++) {
            $(".zhuguan2 .input_text").eq(i).val($(".zhuguan .input_text").eq(i).val())
        }
    });

    //正负+—
    function zhengfu(e) {//正负用onblur事件触发
        var val = parseFloat(e.value)
        if (val > 0) {
            e.value = "+" + val.toFixed(2)
        } else if (val <= 0) {
            e.value = val.toFixed(2)
        }
    };

    function xiaoshu(e) {//用 onkeyup 或者 onkeydown事件 配合正负方法使用
        var val = parseFloat(e.value)
        var val1 = e.value
        // console.log(val);
        var num = val1.indexOf(".") + 2
        console.log(num);
        if (val1.length > num) {
            console.log(123);
            var val2 = 0 | val * 100
            e.value = val2 / 100
        }
    }

    //自动补0，四舍五入
    function shuzi(e) {
        var val = parseFloat(e.value);
        if (val > 0) {
            e.value = val.toFixed(2);
        } else if (val <= 0) {
            e.value = val.toFixed(2);
        }
    };

    //轴向正确表示规则
    function zhouxiang(e) {//用onblur事件触发
        var val = parseFloat(e.value);
        if (val < 0 || val > 180) {
            alert("轴向在0-180之间");
        } else {
            e.value = val.toFixed(0)
        }
    }
</script>

</body>
</html>
