<!doctype html>
<html>
<style>
    .none {
        display: none;
    }

    input:disabled {
        color: red;
        opacity: 1;
        -webkit-text-fill-color: red;
    }
</style>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>屈光检查</title>
    <link rel="stylesheet" href="/css/css.css" type="text/css">
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<form class="form-horizontal m-t" id="signupForm">
    <div id="quguangjiancha" style="text-decoration: none;">
        <div class="topTab">
            <ul>
                <!--<li class="on click1"><a href="edit.html?data=X111111">屈光检查</a></li>-->
                <!--<li class="click"><a href="jianchajielun.html?data=X111111">检查结论</a></li>-->
                <li class="on click1"><a href="#">屈光检查</a></li>

            </ul>
        </div>
        <!--验光信息-->
        <div class="m40 msgBox">
            <h3>验光信息</h3>
            <input id="companyId" name="companyId" th:value="${companyId}" type="hidden"/>
            <ul>
                <li>验光号：<input id="ptometryNumber" name="ptometryNumber" th:value="${uuidstr}" readonly type="text"/></li>
                <li>验光师：<input id="optometryName" name="optometryName" th:value="${optometryName}" readonly type="text"/>
                </li>
                <li>
                    <select  id="yanguangshi" name="yanguangshi" style="width:100%;" onchange="yanGuangShi()">
                        <option value="">--请选择验光师--</option>
                        <option th:each="ls:${listYanguang}"
                                th:text="${ls.name}"
                                th:value="${ls.name}"
                        ></option>
                    </select>
                </li>
                <li>日期：<input input id="createTime" name="createTime" th:value="${createTime}" readonly type="text"/></li>
                <li id="xianshi" style="display: none">院区：<input id="newOlds" name="newOlds" th:value="${newOlds}" type="text" readonly /></li>
                <input id="newOld" name="newOld" th:value="${newOld}" class="form-control"
                       type="hidden">
            </ul>


        </div>

        <!--顾客资料-->
        <div class="m40 msgBox">
            <h3>顾客资料</h3>
            <ul>
                <li>卡号：<input id="cardNumber" name="cardNumber" th:value="${memberDO.cardNumber}" readonly type="text"/>
                </li>
                <li>姓名：<input id="name" name="name" th:value="${memberDO.name}" type="text" readonly/></li>
                <li>性别：<input id="sexx" name="sexx" th:value="${memberDO.sexx}" class="short" type="text" readonly/></li>
                <li>年龄：<input id="age" name="age" th:value="${memberDO.age}" class="short" type="text" readonly/></li>
                <li>电话：<input type="text" name="phone1" th:value="${memberDO.phone1}" readonly/></li>
                <input id="memberId" name="memberId" th:value="${memberDO.id}" type="hidden">
                <input id="memberInumber" name="memberInumber" th:value="${memberDO.cardNumber}" type="hidden">
                <input id="memname" name="memname" th:value="${memberDO.name}" type="hidden">
                <input id="memberNumber" name="memberNumber" th:value="${memberDO.cardNumber}" type="hidden">
                <li><span onclick="getMemberDetail()">详情</span></li>
            </ul>
        </div>

        <!--主诉-->
        <div class="m40 tabS">
            <h3>主诉</h3>
            <table class="tabA" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td class="w170">转诊医生</td>
                    <td><input name="referralDoctor" type="text"/></td>
                </tr>
                <tr>
                    <td>转诊</td>
                    <td></td>
                </tr>
                <tr>
                    <td>主诉</td>
                    <td><textarea rows="3" name="chiefComplaint"> </textarea></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--视力-->
        <div class="m40 tabS">
            <h3>视力</h3>
            <table class="tabB" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td rowspan="2" class="w170">裸眼视力</td>
                    <td width="120">远</td>
                    <td>OD <input name="farLyod" type="text"/></td>
                    <td>OS <input name="farLyos" type="text"/></td>
                    <td>OU <input name="farLyou" type="text"/></td>
                    <td rowspan="2" style="width:8%;">原镜视力</td>
                    <td width="120">远</td>
                    <td>OD <input name="farYjod" type="text"/></td>
                    <td>OS <input name="farYjos" type="text"/></td>
                    <td>OU <input name="farYjou" type="text"/></td>
                </tr>
                <tr>
                    <td>近</td>
                    <td>OD <input name="nearLyod" type="text"/></td>
                    <td>OS <input name="nearLyos" type="text"/></td>
                    <td>OU <input name="nearLyou" type="text"></td>

                    <td>近</td>
                    <td>OD <input name="nearYjod" type="text"/></td>
                    <td>OS <input name="nearYjos" type="text"/></td>
                    <td>OU <input name="nearYjou" type="text"/></td>

                </tr>
                <tr>
                    <td rowspan="2">小孔视力</td>
                    <td>远</td>
                    <td>OD <input name="farXkod" type="text"/></td>
                    <td>OS <input name="farXkos" type="text"/></td>
                    <td>OU <input name="farXkou" type="text"/></td>

                    <td rowspan="2">主导眼</td>
                    <td rowspan="2">
                        <select id="dominantEye" name="dominantEye" style="width: 100%">
                            <option></option>
                            <option value="右">右</option>
                            <option value="交替">交替</option>
                            <option value="左">左</option>
                        </select>
                    </td>
                    <!--<td rowspan="2" colspan="3"><input class="btnCK" type="button" value="查看眼底像"/></td>-->
                </tr>
                <tr>
                    <td>近</td>
                    <td>OD <input name="nearXkod" type="text"/></td>
                    <td>OS <input name="nearXkos" type="text"/></td>
                    <td>OU <input name="nearXkou" type="text"/></td>

                </tr>
                </tbody>
            </table>
        </div>

        <!--双眼视功能检查-->
        <div class="m40 tabS H_newst">
            <h3>双眼视功能检查</h3>
            <div class="H_jc">
                <span>双眼视功能检查:</span>
                <input id="PH-S" name="sgnSf" value="1" type="radio" checked>
                <label for="PH-S" style="margin-right: 5%" >是</label>
                <input id="PH-F" name="sgnSf" value="2" type="radio" >
                <label for="PH-F">否</label>
                <span>原因：</span>
                <select id="sgnReason" name="sgnReason" style="width:10%">
                    <option value=""></option>
                    <option value="年龄过小">年龄过小</option>
                    <option value="配合不好">配合不好</option>
                    <option value="斜视">斜视</option>
                    <option value="弱视">弱视</option>
                    <option value="低视力">低视力</option>
                    <option value="其他">其他</option>
                </select>
                <span>CISS得分：</span>
                <input id="sgnCiss" name="sgnCiss" type="text" />
            </div>
            <div class="H_must">
                <p><b>*</b>必录项</p>
                <table class="tabC" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="bg-d7">WORTH 4 DOT</td>
                        <td colspan="2">
                            远：
                            <select id="sgnFardot" name="sgnFardot" style="width: 20%">
                                <option value=""></option>
                                <option value="2dots">2dots</option>
                                <option value="3dots">3dots</option>
                                <option value="4dots">4dots</option>
                                <option value="5dots">5dots</option>
                            </select>
                            &nbsp; &nbsp; 近：
                            <select id="sgnNeardot" name="sgnNeardot">
                                <option value=""></option>
                                <option value="2dots">2dots</option>
                                <option value="3dots">3dots</option>
                                <option value="4dots">4dots</option>
                                <option value="5dots">5dots</option>
                            </select>
                        </td>
                        <td colspan="7" class="H_red">3个绿灯（右眼抑制），2个红灯（左眼抑制），5个灯2红3绿（复视），4个灯1红2绿1混合（正常）</td>
                    </tr>
                    <tr>
                        <td class="bg-d7">立体视</td>
                        <td colspan="2" style="text-align:left;">
                            <select id="litishi" name="litishi" style="width:30%">
                                <option></option>
                                <option value="有">有</option>
                                <option value="无">无</option>
                            </select>
                        </td>
                        <td class="bg-d7">AC/A</td>
                        <td colspan="6" style="text-align:left;">
                            <input id="sgnAc" name="sgnAc" type="text" style="width:27%" />
                            <label for="H_AC_a"><input name="sgnAcway" value="1" type="radio" id="H_AC_a" checked> 梯度法</label>
                            <label for="H_AC_b"><input name="sgnAcway"  value="2" type="radio" id="H_AC_b"> 计算法</label>
                        </td>
                    </tr>

                    <tr>

                        <td rowspan="3" class="bg-d7">正负相对调节</td>
                        <td colspan="2">NRA：<input id="sgnNra" name="sgnNra" type="text" /> D</td>
                        <td colspan="2" class="H_red">+2.00D±0.50D（近视力表）</td>


                        <td rowspan="3" class="bg-d7">调节反应</td>
                        <td rowspan="3">
                            <label for="H_BCC"><input name="sgnTjfy" value="1" type="radio" id="H_BCC" checked> BCC</label>
                            <label for="H_MEM"><input name="sgnTjfy"  value="2" type="radio" id="H_MEM"> MEM</label>
                        </td>
                        <td colspan="2">OU <input id="sgnTjfyou" name="sgnTjfyou" type="text" /> D</td>
                        <td rowspan="3" class="H_red">+0.25~+0.75D<br/>调节超前 <+0.25D<br/>调节滞后 >+0.75D</td>
                    </tr>
                    <tr>
                        <td colspan="2">PRA：<input id="sgnPra" name="sgnPra" type="text" /> D</td>
                        <td colspan="2" class="H_red">-2.50D±1.00D（近视力表）</td>

                        <td colspan="2">OD <input id="sgnTjfyod" name="sgnTjfyod" type="text" /> D</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            遮盖单眼是否变清晰
                            <label for="H_SS"><input name="sgnZfsf" value="1" type="radio" id="H_SS" checked> 是</label>
                            <label for="H_FF"><input name="sgnZfsf" value="2" type="radio" id="H_FF"> 否</label>
                        </td>

                        <td colspan="2">OS <input id="sgnTjfyos" name="sgnTjfyos" type="text" /> D</td>
                    </tr>




                    <tr>
                        <td rowspan="2" class="bg-d7">眼位：远</td>
                        <td>水平</td>
                        <td><input id="sgnFarsp1" name="sgnFarsp1" type="text"  /> △ </td>
                        <td>
                            <select id="sgnFarsp2" name="sgnFarsp2">
                                <option value=""></option>
                                <option value="BI">BI</option>
                                <option value="BO">BO</option>
                                <option value="BU">BU</option>
                                <option value="BD">BD</option>
                            </select>
                        </td>
                        <td rowspan="2" class="H_red">远距隐斜</td>
                        <td rowspan="2" class="bg-d7">眼位：近</td>
                        <td>水平</td>
                        <td><input id="sgnNearsp1" name="sgnNearsp1" type="text" /> △ </td>
                        <td>
                            <select id="sgnNearsp2" name="sgnNearsp2">
                                <option value=""></option>
                                <option value="BI">BI</option>
                                <option value="BO">BO</option>
                                <option value="BU">BU</option>
                                <option value="BD">BD</option>
                            </select>
                        </td>
                        <td rowspan="2" class="H_red">近距隐斜</td>
                    </tr>
                    <tr>
                        <td>垂直</td>
                        <td><input id="sgnFarcz1" name="sgnFarcz1" type="text" /> △ </td>
                        <td>
                            <select id="sgnFarcz2" name="sgnFarcz2">
                                <option value=""></option>
                                <option value="BU">BU</option>
                                <option value="BD">BD</option>
                            </select>
                        </td>
                        <td>垂直</td>
                        <td><input id="sgnNearcz1" name="sgnNearcz1" type="text"  /> △ </td>
                        <td>
                            <select id="sgnNearcz2" name="sgnNearcz2">
                                <option value=""></option>
                                <option value="BU">BU</option>
                                <option value="BD">BD</option>
                            </select>
                        </td>
                    </tr>




                    <tr>
                        <td rowspan="2" class="bg-d7">Von Graefe法</td>
                        <td>远距水平隐斜视：</td>
                        <td colspan="3">
                            <input id="sgnVgfarsp1" name="sgnVgfarsp1" type="text"  /> △
                            <select id="sgnVgfarsp2" name="sgnVgfarsp2">
                                <option value=""></option>
                                <option value="正位">正位</option>
                                <option value="BI">BI</option>
                                <option value="BO">BO</option>
                                <option value="BU">BU</option>
                                <option value="BD">BD</option>
                            </select>

                        </td>
                        <td>远距垂直隐斜视：</td>
                        <td colspan="4">
                            <input id="sgnVgfarcz1" name="sgnVgfarcz1" type="text"  /> △
                            <select id="sgnVgfarcz2" name="sgnVgfarcz2">
                                <option value=""></option>
                                <option value="正位">正位</option>
                                <option value="BU">BU</option>
                                <option value="BD">BD</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>近距水平隐斜视：</td>
                        <td colspan="3">
                            <input id="sgnVgnearsp1" name="sgnVgnearsp1" type="text"  /> △
                            <select id="sgnVgnearsp2" name="sgnVgnearsp2">
                                <option value=""></option>
                                <option value="正位">正位</option>
                                <option value="BI">BI</option>
                                <option value="BO">BO</option>
                                <option value="BU">BU</option>
                                <option value="BD">BD</option>
                            </select>
                        </td>
                        <td>近距垂直隐斜视：</td>
                        <td colspan="4">
                            <input id="sgnVgnearcz1" name="sgnVgnearcz1" type="text"/> △
                            <select id="sgnVgnearcz2" name="sgnVgnearcz2">
                                <option value=""></option>
                                <option value="正位">正位</option>
                                <option value="BU">BU</option>
                                <option value="BD">BD</option>
                            </select>
                        </td>
                    </tr>


                </table>
            </div>
        </div>






        <!--眼生物学参数-->
        <div class="m40 tabS">
            <h3>眼生物学参数</h3>
            <table class="tabC" cellspacing="0" cellpadding="0">
                <tbody>
                <tr class="tabS_bg">
                    <td class="w170"></td>
                    <td>眼轴</td>
                    <td>角膜曲率K1</td>
                    <td>角膜曲率K2</td>
                    <td>眼压</td>
                </tr>
                <tr>
                    <td>OD</td>
                    <td>
                        <input name="axis" th:value="${ocularEyesDO.axis}" type="text" oninput="getmoney(this,10)" autofocus/>
                        mm
                    </td>
                    <td>
                        <input name="cornealFirstK1Right" th:value="${ocularEyesDO.cornealFirstK1Right}"
                               type="text"  oninput="getmoney(this,10)" autofocus/>@
                        <input name="cornealLastK1Right" th:value="${ocularEyesDO.cornealLastK1Right}"
                               type="text" onkeyup="value=value.replace(/[^\d]+/g,'')" />
                    </td>
                    <td>

                        <input name="cornealFirstK2Right" th:value="${ocularEyesDO.cornealFirstK2Right}"
                               type="text" oninput="getmoney(this,10)" autofocus/>@
                        <input name="cornealLastK2Right" th:value="${ocularEyesDO.cornealLastK2Right}"
                               onkeyup="value=value.replace(/[^\d]+/g,'')"  type="text"/>
                    </td>
                    <td>
                        <input name="intraocularOd" th:value="${ocularEyesDO.intraocularOd}" type="text"/> mmHg
                    </td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td>
                        <input name="axisLeft" th:value="${ocularEyesDO.axisLeft}" oninput="getmoney(this,10)" autofocus type="text"/> mm
                    </td>
                    <td>
                        <input name="cornealFirstK1Left" th:value="${ocularEyesDO.cornealFirstK1Left}"
                               oninput="getmoney(this,10)" autofocus type="text"/>@
                        <input name="cornealLastK1Left" th:value="${ocularEyesDO.cornealLastK1Left}"
                               onkeyup="value=value.replace(/[^\d]+/g,'')"   type="text"/>
                    </td>
                    <td>
                        <input name="cornealFirstK2Left" th:value="${ocularEyesDO.cornealFirstK2Left}"
                               oninput="getmoney(this,10)" autofocus   type="text"/>@
                        <input name="cornealLastK2Left" th:value="${ocularEyesDO.cornealLastK2Left}"
                               onkeyup="value=value.replace(/[^\d]+/g,'')"   type="text"/>
                    </td>
                    <td>
                        <input name="intraocularOs" th:value="${ocularEyesDO.intraocularOs}" type="text"/> mmHg
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--客观验光-->
        <div class="m40 tabS">
            <h3>客观验光</h3>
            <table class="tabD" cellspacing="0" cellpadding="0">
                <tbody>
                <tr class="tabS_bg tabD_1">
                    <td class="w170">&nbsp;</td>
                    <td>是否散瞳</td>
                    <td colspan="2">

                        <label><input id="xz1" name="mydriasis" th:value="${optometryDO.mydriasis}"
                                      type="radio"  >
                            是</label>
                        <label><input id="xz2" name="mydriasis" th:value="${optometryDO.mydriasis}"
                                      type="radio" >
                            否</label>
                    </td>
                    <td>散瞳用药</td>
                    <td colspan="3">
                        <select id="pharmacyId" name="pharmacyId">
                            <option></option>
                            <option th:each="ls:${pharmacyDOList}"
                                    th:text="${ls.pharmacy}"
                                    th:value="${ls.pharmacyId}"
                            ></option>
                        </select>
                    </td>
                </tr>

                <tr class="tabS_bg">
                    <td>电脑验光</td>
                    <td colspan="7"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>球镜</td>
                    <td>柱镜</td>
                    <td>轴向</td>
                    <td></td>
                    <td>球镜</td>
                    <td>柱镜</td>
                    <td>轴向</td>
                </tr>
                <tr>
                    <td>OD</td>
                    <td>
                        <input name="sphereRight" th:value="${optometryDO.sphereRight}" onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus type="text"/>
                    </td>
                    <td>
                        <input name="cylinderRight" th:value="${optometryDO.cylinderRight}"  onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus type="text"/>
                    </td>
                    <td>
                        <input id="axialRight" name="axialRight" th:value="${optometryDO.axialRight}" onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/[^\d]+/g,'')"  type="text"/>
                    </td>
                    <td rowspan="2">散瞳后</td>
                    <td>
                        <input name="sphereRight2" th:value="${optometryDO.sphereRight2}" onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus type="text"/>
                    </td>
                    <td>
                        <input name="cylinderRight2" th:value="${optometryDO.cylinderRight2}"onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus  type="text"/>
                    </td>
                    <td>
                        <input id="axialRight2" name="axialRight2" th:value="${optometryDO.axialRight2}" onblur="zhouxiang(this)" onkeyup="value=value.replace(/[^\d]+/g,'')"    type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td>
                        <input name="sphereLeft" th:value="${optometryDO.sphereLeft}" onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus type="text"/>
                    </td>
                    <td>
                        <input name="cylinderLeft" th:value="${optometryDO.cylinderLeft}" onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus type="text"/>
                    </td>
                    <td>
                        <input id="axialLeft" name="axialLeft" th:value="${optometryDO.axialLeft}" type="text"
                               onblur="zhouxiang(this)"  onkeyup="value=value.replace(/[^\d]+/g,'')"  />
                    </td>
                    <td>
                        <input name="sphereLeft2" th:value="${optometryDO.sphereLeft2}" onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus type="text"/>
                    </td>
                    <td>
                        <input name="cylinderLeft2" th:value="${optometryDO.cylinderLeft2}" onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus type="text"/>
                    </td>
                    <td>
                        <input id="axialLeft2" name="axialLeft2" th:value="${optometryDO.axialLeft2}" type="text"
                               onblur="zhouxiang(this)"  onkeyup="value=value.replace(/[^\d]+/g,'')"  />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>平K</td>
                    <td>陡K</td>
                    <td>平均K</td>
                    <td>角膜散光</td>
                    <td>瞳距（mm）</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td>OD</td>
                    <td>
                        <input class="short" name="pkod"
                               th:value="${ocularEyesDO.cornealFirstK1Right}" type="text"/> @
                        <input class="short" name="pk1od"
                               th:value="${ocularEyesDO.cornealLastK1Right}" type="text"/>
                    </td>
                    <td><input class="short" name="dkod"
                               th:value="${ocularEyesDO.cornealFirstK2Right}" type="text"/> @
                        <input class="short" name="dk1od"
                               th:value="${ocularEyesDO.cornealLastK2Right}" type="text"/>
                    </td>
                    <td>
                        <input class="short" id="pjkOd" name="pjkOd" th:value="${ocularEyesDO.pjkOd}" type="text"/> @
                        <input class="short" id="pjkOd2" name="pjkOd2" th:value="${ocularEyesDO.pjkOd2}" type="text"/>
                    </td>
                    <td><input name="cornealAstigmatismOd" th:value="${optometryDO.cornealAstigmatismOd}"
                               type="text"/>
                    </td>
                    <td><input name="tjod" th:value="${ocularEyesDO.pupilSizeRight}" type="text"/>
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td>
                        <input class="short" name="pkos"
                               th:value="${ocularEyesDO.cornealFirstK1Left}" type="text"/> @
                        <input class="short" name="pk1os"
                               th:value="${ocularEyesDO.cornealLastK1Left}" type="text"/>
                    </td>
                    <td><input class="short" name="dkos"
                               th:value="${ocularEyesDO.cornealFirstK2Left}" type="text"/> @
                        <input class="short" name="dk1os"
                               th:value="${ocularEyesDO.cornealLastK2Left}" type="text"/>
                    </td>
                    <td>
                        <input class="short" id="pjkOs" name="pjkOs" th:value="${ocularEyesDO.pjkOs}"  type="text"/> @
                        <input class="short" id="pjkOs2" name="pjkOs2" th:value="${ocularEyesDO.pjkOs2}"  type="text"/>
                    </td>
                    <td><input name="cornealAstigmatismOs" th:value="${optometryDO.cornealAstigmatismOs}"
                               type="text"/>
                    </td>
                    <td><input name="tjos" th:value="${ocularEyesDO.pupilSizeLeft}" type="text"/>
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr class="tabS_bg">
                    <td>检影验光</td>
                </tr>
                <tr>
                    <td></td>
                    <td>球镜</td>
                    <td>柱镜</td>
                    <td>轴向</td>
                    <td>VA</td>
                    <td>瞳距（mm）</td>
                    <td colspan="2"></td>
                </tr>
                <tr>

                    <td>OD</td>
                    <td><input name="sphJyod" th:value="${optometryDO.sphJyod}" onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus type="text"/></td>
                    <td><input name="cylJyod" th:value="${optometryDO.cylJyod}" onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus type="text"/></td>
                    <td><input id="axialJyod" name="axialJyod" th:value="${optometryDO.axialJyod}" type="text"
                               onblur="zhouxiang(this)"  onkeyup="value=value.replace(/[^\d]+/g,'')"    /></td>
                    <td><input name="vaJyod" th:value="${optometryDO.vaJyod}" type="text"/></td>
                    <td><input name="pdJyod" th:value="${optometryDO.pdJyod}" type="text"/></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td><input name="sphJyos" th:value="${optometryDO.sphJyos}" onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus type="text"/></td>
                    <td><input name="cylJyos" th:value="${optometryDO.cylJyos}" onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus type="text"/></td>
                    <td><input id="axialJyos" name="axialJyos" th:value="${optometryDO.axialJyos}" onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/[^\d]+/g,'')"   type="text"/></td>
                    <td><input name="vaJyos" th:value="${optometryDO.vaJyos}" type="text"/></td>
                    <td><input name="pdJyos" th:value="${optometryDO.pdJyos}" type="text"/></td>
                    <td colspan="2"></td>
                </tr>
                <tr class="tabS_bg">
                    <td>插片验光</td>
                    <td colspan="7"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>球镜</td>
                    <td>柱镜</td>
                    <td>轴向</td>
                    <td>DVA</td>
                    <td>NVA</td>
                    <td>Add</td>
                    <td>测量距离（cm）</td>
                </tr>
                <tr>
                    <td>OD</td>
                    <td><input name="sphCpod" th:value="${optometryDO.sphCpod}" onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus type="text"/></td>
                    <td><input name="cylCpod" th:value="${optometryDO.cylCpod}" onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus type="text"/></td>
                    <td><input id="axialCpod" name="axialCpod" th:value="${optometryDO.axialCpod}" onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/[^\d]+/g,'')"  type="text"/></td>
                    <td><input name="dvaCpod" th:value="${optometryDO.dvaCpod}" oninput="getmoney(this,10)" autofocus type="text"/></td>
                    <td><input name="nvaCpod" th:value="${optometryDO.nvaCpod}" oninput="getmoney(this,10)" autofocus type="text"/></td>
                    <td><input name="addCpod" th:value="${optometryDO.addCpod}" onblur="zhengfu(this)"
                               oninput="getmoney(this,10)" autofocus type="text"/></td>
                    <td><input name="distanceOd" th:value="${optometryDO.distanceOd}" type="text"/></td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td><input name="sphCpos" th:value="${optometryDO.sphCpos}" onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus type="text"/></td>
                    <td><input name="cylCpos" th:value="${optometryDO.cylCpos}" onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus type="text"/></td>
                    <td><input id="axialCpos" name="axialCpos" th:value="${optometryDO.axialCpos}" onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/[^\d]+/g,'')"  type="text"/></td>
                    <td><input name="dvaCpos" th:value="${optometryDO.dvaCpos}" oninput="getmoney(this,10)" autofocus type="text"/></td>
                    <td><input name="nvaCpos" th:value="${optometryDO.nvaCpos}" oninput="getmoney(this,10)" autofocus type="text"/></td>
                    <td><input name="addCpos" th:value="${optometryDO.addCpos}" onblur="zhengfu(this)"
                               oninput="getmoney(this,10)" autofocus type="text"/></td>
                    <td><input name="distanceOs" th:value="${optometryDO.distanceOs}" type="text"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--主观验光-->
        <div class="m40 tabS zhuguan">
            <h3>主观验光</h3>
            <table class="tabE" cellspacing="0" cellpadding="0">
                <tbody>
                <tr class="tabS_bg">
                    <td class="w170">&nbsp;</td>
                    <td>球镜</td>
                    <td>柱镜</td>
                    <td>轴向</td>
                    <td>DVA</td>
                    <td>NVA</td>
                    <td>三棱镜</td>
                    <td>基底</td>
                    <td>Add</td>
                    <td>远用瞳距(mm)</td>
                    <td>近用瞳距(mm)</td>
                    <td style="width: 150px;"></td>
                </tr>
                <tr>
                    <td>OD</td>
                    <td><input class="input_text" id="sphereRightz" name="sphereRightz" type="text"
                               onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus/></td>
                    <td><input class="input_text" id="cylinderRightz" name="cylinderRightz" type="text"
                               onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus/></td>
                    <td><input class="input_text" id="axialRightz" name="axialRightz" onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/[^\d]+/g,'')"  type="text"/></td>
                    <td><input class="input_text" id="dvaRightz" name="dvaRightz"  type="text" /></td>
                    <td><input class="input_text" id="nvaRightz" name="nvaRightz" type="text" oninput="getmoney(this,10)" autofocus/></td>
                    <td><input id="prismRightz" name="prismRightz" class="short input_text"
                               type="text" onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus/> △
                    </td>
                    <td>
                        <select class="input_text" id="jdrZ" name="jdrZ">
                            <option></option>
                            <option value="内">内</option>
                            <option value="外">外</option>
                            <option value="上">上</option>
                            <option value="下">下</option>
                        </select>
                    </td>
                    <td><input class="input_text" id="addRightz" name="addRightz" type="text" onblur="zhengfu(this)"
                               oninput="getmoney(this,10)" autofocus/></td>
                    <td><input class="input_text" id="yuanRz" name="yuanRz" type="text" /></td>
                    <td><input class="input_text" id="nearRightz" name="nearRightz" type="text"/></td>
                    <td></td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td>
                        <input class="input_text" id="sphereLeftz" name="sphereLeftz" type="text" onblur="zhengfu(this)"
                               oninput="getmoney(this,10)" autofocus/>
                    </td>
                    <td>
                        <input class="input_text" id="cylinderLeftz" name="cylinderLeftz" type="text"
                               onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus
                        />
                    </td>
                    <td>
                        <input class="input_text" id="axialLeftz" name="axialLeftz" onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/[^\d]+/g,'')"  type="text"/>
                    </td>
                    <td>
                        <input class="input_text" id="dvaLeftz" name="dvaLeftz" type="text"  />
                    </td>
                    <td>
                        <input class="input_text" id="nvaLeftz" name="nvaLeftz" type="text"
                               oninput="getmoney(this,10)" autofocus/>
                    </td>
                    <td>
                        <input id="prismLeftz" name="prismLeftz" class="short input_text" type="text"
                               onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus
                        />
                        △
                    </td>
                    <td>
                        <select class="input_text" id="jdlZ" name="jdlZ">
                            <option></option>
                            <option value="内">内</option>
                            <option value="外">外</option>
                            <option value="上">上</option>
                            <option value="下">下</option>
                        </select>
                    </td>
                    <td><input class="input_text" id="addLeftz" name="addLeftz" type="text" onblur="zhengfu(this)"
                               oninput="getmoney(this,10)" autofocus/>
                    </td>
                    <td><input class="input_text" id="yuanLz" name="yuanLz" type="text"/>
                    </td>
                    <td><input class="input_text"  id="nearLeftz" name="nearLeftz" type="text"/>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--试戴镜结果-->
        <div class="m40 tabS zhuguan2">
            <h3>试戴镜结果<input class="zgQG" type="button" value="主观屈光"/></h3>
            <table class="tabE" cellspacing="0" cellpadding="0">
                <tbody>
                <tr class="tabS_bg">
                    <td class="w170">&nbsp;</td>
                    <td>球镜</td>
                    <td>柱镜</td>
                    <td>轴向</td>
                    <td>DVA</td>
                    <td>NVA</td>
                    <td>三棱镜</td>
                    <td>基底</td>
                    <td>瞳高(mm)</td>
                    <td>Add</td>
                    <td>远用瞳距(mm)</td>
                    <td style="width: 150px;">近用瞳距(mm)</td>
                </tr>
                <tr>
                    <td>OD</td>
                    <td>
                        <input class="input_text" id="sphereRighttry" name="sphereRighttry" type="text"
                               onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus
                        />
                    </td>
                    <td><input class="input_text" id="cylinderRighttry" name="cylinderRighttry" type="text"
                               onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus
                    />
                    </td>
                    <td>
                        <input class="input_text" id="axialRighttry" name="axialRighttry" onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/[^\d]+/g,'')"  type="text"/>
                    </td>
                    <td>
                        <input class="input_text" id="dvaRighttry" name="dvaRighttry" type="text"  />
                    </td>
                    <td>
                        <input class="input_text" id="nvaRighttry" name="nvaRighttry" type="text" oninput="getmoney(this,10)" autofocus/>
                    </td>
                    <td>
                        <input id="prismRighttry" name="prismRighttry" class="short input_text"
                               type="text" onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus
                        /> △
                    </td>
                    <td>
                        <select class="input_text" id="jdrTry" name="jdrTry">
                            <option></option>
                            <option value="内">内</option>
                            <option value="外">外</option>
                            <option value="上">上</option>
                            <option value="下">下</option>
                        </select>
                    </td>
                    <td><input id="heightRighttry" name="heightRighttry" type="text" />
                    </td>
                    <td>
                        <input class="input_text" id="addRighttry" name="addRighttry" type="text" onblur="zhengfu(this)"
                               oninput="getmoney(this,10)" autofocus/>
                    </td>
                    <td>
                        <input class="input_text" id="yuanRrty" name="yuanRrty" type="text"  />
                    </td>
                    <td>

                        <input class="input_text" id="nearRighttry" name="nearRighttry" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td>
                        <input class="input_text" id="sphereLefttry" name="sphereLefttry" type="text"
                               onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus
                        />
                    </td>
                    <td>
                        <input class="input_text" id="cylinderLefttry" name="cylinderLefttry" type="text"
                               onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus
                        />
                    </td>
                    <td>
                        <input class="input_text" id="axialLefttry" name="axialLefttry" onblur="zhouxiang(this)"
                               onkeyup="value=value.replace(/[^\d]+/g,'')"  type="text"/>
                    </td>
                    <td>
                        <input class="input_text" id="dvaLefttry" name="dvaLefttry" type="text"  />
                    </td>
                    <td>
                        <input class="input_text" id="nvaLefttry" name="nvaLefttry" type="text" oninput="getmoney(this,10)" autofocus></td>
                    <td><input id="prismLefttry" name="prismLefttry" class="short input_text"
                               type="text" onblur="zhengfu(this)" oninput="getmoney(this,10)" autofocus/> △
                    </td>
                    <td>
                        <select class="input_text" id="jdlTry" name="jdlTry">
                            <option></option>
                            <option value="内">内</option>
                            <option value="外">外</option>
                            <option value="上">上</option>
                            <option value="下">下</option>
                        </select>
                    </td>
                    <td>
                        <input id="heightLefttry" name="heightLefttry" type="text" />
                    </td>
                    <td>
                        <input class="input_text" id="addLefttry" name="addLefttry" type="text" onblur="zhengfu(this)"
                               oninput="getmoney(this,10)" autofocus/>
                    </td>
                    <td>
                        <input class="input_text" id="yuanLrty" name="yuanLrty" type="text" />
                    </td>
                    <td>
                        <input class="input_text" id="nearLefttry" name="nearLefttry" type="text" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--备注-->
        <div class="m40 tabS">
            <table class="tabF" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td class="w170">备注</td>
                    <td><textarea rows="3" id="remarks" name="remarks"> </textarea></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--保存-->
        <div class="baoCun">

            <input id="status" name="status" value="1" type="hidden" />
            <div class="Keep"><input type="button" value="保存" onclick="saveTry()"/></div>
        </div>
    </div>
</form>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/optometryNew/jctryresults.js"></script>
<!--第一个页面-->
<script type="text/javascript">


    $().ready(function () {
        var companyId = $("#companyId").val();
        if(companyId=="1"){
            xianshi.style = "display: block";
        }else {
            xianshi.style = "display: none";
        }

    });

    function yanGuangShi() {
        var yanguangshi=$("#yanguangshi").val();
        $("#optometryName").val(yanguangshi);
    }

    function getMemberDetail() {
        var id = $("#memberId").val();
        layer.open({
            type: 2,
            title: '详情',
            maxmin: true,
            shadeClose: false, // 点击遮罩关闭层
            area: ['1200px', '520px'],
            content: "/information/highmember/detail/" + id // iframe的url
        });
    }

    //————是否散瞳判读选中
    var choices = $("#xz1").val();
    // alert(choices)
    if (choices == "1") {
        document.getElementById("xz1").checked = "checked";
        $("#xz1").val(1);
    } else {
        document.getElementById("xz2").checked = "checked";
        $("#xz2").val(0);
    }

    //主观验光和试戴镜联动
    $(".zgQG").click(function () {
        for (var i = 0; i <= $(".zhuguan .input_text").length; i++) {
            $(".zhuguan2 .input_text").eq(i).val($(".zhuguan .input_text").eq(i).val())
        }
    });

    //正负+—
    function zhengfu(e) {//正负用onblur事件触发
        var val = parseFloat(e.value);
        val=parseInt(val*100)/100;
        if (val > 0) {
            e.value = "+" + val.toFixed(2)
        } else if (val <= 0) {
            e.value = val.toFixed(2)
        }
    };




    /**
     * 限制输入框只能输入数字和最大长度* 如果是小数只能输入到小数点后两位
     */
    function getmoney(obj, maxLen) {
        if (maxLen && obj.value.length > maxLen) {//判断长度
            obj.value = obj.value.slice(0, 10);
        }
        //修复第一个字符是小数点 的情况.
        if (obj.value !== '' && obj.value.substr(0, 1) === '.') {
            obj.value = "";
        }
        //解决 粘贴不生效
        obj.value = obj.value.replace(/^0*(0\.|[1-9])/, '$1');
        //清除“数字”和“.”以外的字符【负号】【数字】【小数点】【】
        // obj.value = obj.value.replace(/[^\d.]/g, "");  【】【】【】【】
        //【【【【【【obj.value = obj.value.replace(/[^\d.\d-]/g, "")】】】】】】】】】】
        // obj.value = obj.value.replace(/[^0-9|^\-|^\.]/g,'');
        obj.value = obj.value.replace(/[^\d.-]/g, "");
        // 3 string jsStr = "this.value=this.value.replace(/[^0-9|^\\-|^\\.]/g,\'\');";
        //只保留第一个小数点(.)清除多余的
        obj.value = obj.value.replace(/\.{2,}/g, ".");
        obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
        //只能输入两个小数
        obj.value = obj.value.replace(/^(\d+)\.(\d\d).*$/, '$1.$2');
        if (obj.value.indexOf(".") < 0 && obj.value !== "") {//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
            if (obj.value.substr(0, 1) === '0' && obj.value.length === 2) {
                obj.value = obj.value.substr(1, obj.value.length);
            }
        }
    }
    //轴向正确表示规则
    function zhouxiang(e) {
        //用onblur事件触发
        var val = parseFloat(e.value);
        if (val < 0 || val > 180) {
            layer.alert("轴向在0-180之间");
        }
        else {
            e.value = val.toFixed(0);
        }
        var axialRight=document.getElementById('axialRight').value;
        if (axialRight == "NaN"){
            $("#axialRight").val("");
        }
        var axialRight2=document.getElementById('axialRight2').value;
        if (axialRight2 == "NaN"){
            $("#axialRight2").val("");
        }
        var axialLeft=document.getElementById('axialLeft').value;
        if (axialLeft == "NaN"){
            $("#axialLeft").val("");
        }
        var axialLeft2=document.getElementById('axialLeft2').value;
        if (axialLeft2 == "NaN"){
            $("#axialLeft2").val("");
        }
        var axialJyod=document.getElementById('axialJyod').value;
        if (axialJyod == "NaN"){
            $("#axialJyod").val("");
        }
        var axialJyos=document.getElementById('axialJyos').value;
        if (axialJyos == "NaN"){
            $("#axialJyos").val("");
        }
        var axialCpod=document.getElementById('axialCpod').value;
        if (axialCpod == "NaN"){
            $("#axialCpod").val("");
        }
        var axialCpos=document.getElementById('axialCpos').value;
        if (axialCpos == "NaN"){
            $("#axialCpos").val("");
        }
        var axialRightz=document.getElementById('axialRightz').value;
        if (axialRightz == "NaN"){
            $("#axialRightz").val("");
        }
        var axialLeftz=document.getElementById('axialLeftz').value;
        if (axialLeftz == "NaN"){
            $("#axialLeftz").val("");
        }
        var axialRighttry=document.getElementById('axialRighttry').value;
        if (axialRighttry == "NaN"){
            $("#axialRighttry").val("");
        }
        var axialLefttry=document.getElementById('axialLefttry').value;
        if (axialLefttry == "NaN"){
            $("#axialLefttry").val("");
        }

    }
</script>

</body>
</html>
