<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.settlement.dao.DrawbackDao">

	<select id="get" resultType="com.shiguang.settlement.domain.DrawbackDO">
		select `id`,`drawback_number`,`drawback_name`,`drawback_money`,`creater_name`,`create_time` from drawback where id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.settlement.domain.DrawbackDO">
		select `id`,`drawback_number`,`drawback_name`,`drawback_money`,`creater_name`,`create_time`,`drackback_way` from drawback
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="drawbackNumber != null and drawbackNumber != ''"> and drawback_number = #{drawbackNumber} </if>
		  		  <if test="drawbackName != null and drawbackName != ''"> and drawback_name = #{drawbackName} </if>
		  		  <if test="drawbackMoney != null and drawbackMoney != ''"> and drawback_money = #{drawbackMoney} </if>
		  		  <if test="createrName != null and createrName != ''"> and creater_name = #{createrName} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from drawback
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="drawbackNumber != null and drawbackNumber != ''"> and drawback_number = #{drawbackNumber} </if>
		  		  <if test="drawbackName != null and drawbackName != ''"> and drawback_name = #{drawbackName} </if>
		  		  <if test="drawbackMoney != null and drawbackMoney != ''"> and drawback_money = #{drawbackMoney} </if>
		  		  <if test="createrName != null and createrName != ''"> and creater_name = #{createrName} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		</where>
	</select>

	<select id="memberList" resultType="com.shiguang.member.domain.MemberDO">
		select m.`id`,m.`name`,m.`card_number`,ss.sale_type as isSale,ss.`sale_number`,m.`sex`,m.`depart_number`,m.`birthday_year`,m.`birthday_month`,m.`birthday_day`,m.`age`,m.`phone_1`,m.`phone_2`,m.`phone_3`,m.`province_code`,m.`province_name`,m.`city_code`,m.`city_name`,m.`area_code`,m.`area_name`,m.`card_type`,m.`master_card`,m.`minor_name`,m.`crowd_type`,m.`exclusive_customer`,m.`exclusive_customer_id`,m.`identity_type`,m.`identity_id`,m.`vocation`,m.`school`,m.`qq_number`,m.`email`,m.`address`,m.`postal_code`,m.`interest`,m.`source`,m.`integral_pasd`,m.`remark`,m.`register_time`,m.`status` from member m
		JOIN settlement st ON st.member_number = m.card_number
		join store_sales ss on ss.sale_number = st.sale_number and ss.sale_type = 1
		left join log_status ls on ls.sale_number = st.sale_number and (ls.logistic_status = '销售完成' or ls.logistic_status = '顾客取镜')
		<where>
			<if test="id != null and id != ''"> and m.id = #{id} </if>
			<if test="name != null and name != ''"> and m.name = #{name} </if>
			<if test="departNumber != null and departNumber != ''"> and m.depart_number = #{departNumber} </if>
			<if test="companyid !=null and companyid != ''">and FIND_IN_SET(m.company_id,#{companyid})</if>
			<if test="cardNumber != null and cardNumber != ''"> and m.card_number like concat('%', #{cardNumber},'%') </if>
			<if test="sex != null and sex != ''"> and m.sex = #{sex} </if>
			<if test="birthdayYear != null and birthdayYear != ''"> and m.birthday_year = #{birthdayYear} </if>
			<if test="birthdayMonth != null and birthdayMonth != ''"> and m.birthday_month = #{birthdayMonth} </if>
			<if test="birthdayDay != null and birthdayDay != ''"> and m.birthday_day = #{birthdayDay} </if>
			<if test="age != null and age != ''"> and m.age = #{age} </if>
			<if test="phone1 != null and phone1 != ''"> and m.phone_1 = #{phone1} </if>
			<if test="phone2 != null and phone2 != ''"> and m.phone_2 = #{phone2} </if>
			<if test="phone3 != null and phone3 != ''"> and m.phone_3 = #{phone3} </if>
			<if test="state != null and state != ''"> and m.state = #{state} </if>

		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				group by ss.`sale_number`
				order by ss.peijing_time desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>

	</select>

	<select id="memberCount" resultType="int">
		select
		count(*) from (
		select count(m.id) from member m
		JOIN settlement st ON st.member_number = m.card_number
		join store_sales ss on ss.sale_number = st.sale_number and ss.sale_type = 1
		join log_status ls on ls.sale_number = st.sale_number
		<where>
			<if test="id != null and id != ''"> and m.id = #{id} </if>
			<if test="name != null and name != ''"> and m.name = #{name} </if>
			<if test="departNumber != null and departNumber != ''"> and m.depart_number = #{departNumber} </if>
			<if test="companyid !=null and companyid != ''">and FIND_IN_SET(m.company_id,#{companyid})</if>
			<if test="cardNumber != null and cardNumber != ''"> and m.card_number like concat('%', #{cardNumber},'%') </if>
			<if test="sex != null and sex != ''"> and m.sex = #{sex} </if>
			<if test="birthdayYear != null and birthdayYear != ''"> and m.birthday_year = #{birthdayYear} </if>
			<if test="birthdayMonth != null and birthdayMonth != ''"> and m.birthday_month = #{birthdayMonth} </if>
			<if test="birthdayDay != null and birthdayDay != ''"> and m.birthday_day = #{birthdayDay} </if>
			<if test="age != null and age != ''"> and m.age = #{age} </if>
			<if test="phone1 != null and phone1 != ''"> and m.phone_1 = #{phone1} </if>
			<if test="phone2 != null and phone2 != ''"> and m.phone_2 = #{phone2} </if>
			<if test="phone3 != null and phone3 != ''"> and m.phone_3 = #{phone3} </if>
			<if test="state != null and state != ''"> and m.state = #{state} </if>
			and (ls.logistic_status = '销售完成' or ls.logistic_status = '顾客取镜')
		</where>
		group by ss.`sale_number`) u
	</select>

	<insert id="save" parameterType="com.shiguang.settlement.domain.DrawbackDO" useGeneratedKeys="true" keyProperty="id">
		insert into drawback
		(
		    `sale_number`,
		    `member_number`,
			`drawback_number`, 
			`drawback_name`, 
			`drawback_money`, 
			`creater_name`, 
			`create_time`,
			`drackback_way`
		)
		values
		(
		    #{saleNumber},
		    #{memberNumber},
			#{drawbackNumber},
			#{drawbackName},
			#{drawbackMoney}, 
			#{createrName}, 
			#{createTime},
			#{drackbackWay}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.settlement.domain.DrawbackDO">
		update drawback 
		<set>
			<if test="drawbackNumber != null">`drawback_number` = #{drawbackNumber}, </if>
			<if test="drawbackName != null">`drawback_name` = #{drawbackName}, </if>
			<if test="drawbackMoney != null">`drawback_money` = #{drawbackMoney}, </if>
			<if test="createrName != null">`creater_name` = #{createrName}, </if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from drawback where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from drawback where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>