<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.settlement.dao.SettlementDao">

	<select id="get" resultType="com.shiguang.settlement.domain.SettlementDO">
		select `id`,`cost_id`,`member_number`,`actual_money`,`payment_money`,`change_money`,`pay_model`,`model_money`,`pay_money` from settlement where id = #{value}
	</select>

	<select id="getMember" resultType="com.shiguang.settlement.domain.SettlementDO">
		select `id`,`cost_id`,`member_number`,`actual_money`,`payment_money`,`change_money`,`pay_model`,`model_money`,`pay_money` from settlement where member_number = #{value}
	</select>

	<select id="getCostId" resultType="com.shiguang.settlement.domain.SettlementDO">
		select `id`,`cost_id`,`member_number`,`actual_money`,`payment_money`,`change_money`,`pay_model`,`model_money`,`pay_money` from settlement where cost_id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.settlement.domain.SettlementDO">
		select `id`,`cost_id`,`member_number`,`actual_money`,`payment_money`,`change_money`,`pay_model`,`model_money`,`pay_money` from settlement
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
			      <if test="saleNumber != null and saleNumber != ''"> and sale_number like concat('%', #{saleNumber},'%') </if>
		  		  <if test="memberNumber != null and memberNumber != ''"> and member_number like concat('%', #{memberNumber},'%') </if>
		  		  <if test="actualMoney != null and actualMoney != ''"> and actual_money = #{actualMoney} </if>
		  		  <if test="paymentMoney != null and paymentMoney != ''"> and payment_money = #{paymentMoney} </if>
		  		  <if test="changeMoney != null and changeMoney != ''"> and change_money = #{changeMoney} </if>
		  		  <if test="payModel != null and payModel != ''"> and pay_model = #{payModel} </if>
		  		  <if test="payMoney != null and payMoney != ''"> and pay_money = #{payMoney} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from settlement
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
			      <if test="saleNumber != null and saleNumber != ''"> and sale_number like concat('%', #{saleNumber},'%') </if>
			      <if test="memberNumber != null and memberNumber != ''"> and member_number like concat('%', #{memberNumber},'%') </if>
		  		  <if test="actualMoney != null and actualMoney != ''"> and actual_money = #{actualMoney} </if>
		  		  <if test="paymentMoney != null and paymentMoney != ''"> and payment_money = #{paymentMoney} </if>
		  		  <if test="changeMoney != null and changeMoney != ''"> and change_money = #{changeMoney} </if>
		  		  <if test="payModel != null and payModel != ''"> and pay_model = #{payModel} </if>
		  		  <if test="payMoney != null and payMoney != ''"> and pay_money = #{payMoney} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shiguang.settlement.domain.SettlementDO" useGeneratedKeys="true" keyProperty="id">
		insert into settlement
		(
		    `cost_id`,
		    `sale_number`,
			`member_number`,
			`sale_name`,
			`sale_acount`,
			`actual_money`, 
			`payment_money`, 
			`change_money`, 
			`pay_model`,
			`model_money`,
			`pay_money`,
			`pay_way`,
			`front_money`,
			`front_time`,
			`settle_date`
		)
		values
		(
		    #{costId},
		    #{saleNumber},
			#{memberNumber},
			#{saleName},
			#{saleAcount},
			#{actualMoney}, 
			#{paymentMoney}, 
			#{changeMoney}, 
			#{payModel},
			#{modelMoney},
			#{payMoney},
			#{payWay},
			#{frontMoney},
			#{frontTime},
			#{settleDate}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.settlement.domain.SettlementDO">
		update settlement 
		<set>
			<if test="costId != null"> `cost_id` = #{costId}</if>
			<if test="memberNumber != null">`member_number` = #{memberNumber}, </if>
			<if test="actualMoney != null">`actual_money` = #{actualMoney}, </if>
			<if test="paymentMoney != null">`payment_money` = #{paymentMoney}, </if>
			<if test="changeMoney != null">`change_money` = #{changeMoney}, </if>
			<if test="payModel != null">`pay_model` = #{payModel}, </if>
			<if test="payMoney != null">`pay_money` = #{payMoney},</if>
			<if test="payWay != null">`pay_way` = #{payWay},</if>
			<if test="frontMoney != null">`front_money` = #{frontMoney},</if>
			<if test="modelMoney != null">`model_money` = #{modelMoney}</if>
		</set>
		where id = #{id}
	</update>

	<update id="updateMethod" parameterType="com.shiguang.settlement.domain.SettlementDO">
		update settlement
		<set>
			<if test="payModel != null">`pay_model` = #{payModel} </if>
		</set>
		where sale_number = #{saleNumber}
	</update>
	
	<delete id="remove">
		delete from store_sales where sale_number = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from settlement where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	<select id="getSaleNumers" resultType="com.shiguang.settlement.domain.SettlementDO">
		select `id`,`cost_id`,`sale_number`,`member_number`,`sale_name`,`actual_money`,`payment_money`,`change_money`,`pay_model`,`model_money`,`pay_money`,`settle_date`,`pay_way` from settlement where sale_number = #{value}
	</select>
	<select id="findArrearsData" resultType="com.shiguang.settlement.domain.SettlementDO">
		select sl.`id`,sl.`sale_number`,sl.`member_number`,m.`name` as memberName,sl.`actual_money`,sl.`model_money`,sl.`pay_money`,sl.`pay_way`,sl.`front_money`,sl.`settle_date`,c.`original_price` from settlement sl
		join cost c on c.id = sl.cost_id
		join member m on sl.member_number = m.card_number
		<if test="departNumber != null and departNumber != ''"> and m.depart_number = #{departNumber} </if>
		<if test="companyid !=null and companyid != ''">and FIND_IN_SET(m.company_id,#{companyid})</if>
		<if test="cardNumber != null and cardNumber != ''"> and m.card_number like concat('%', #{cardNumber},'%') </if>
		<if test="saleNumber != null and saleNumber != ''"> and sl.sale_number like concat('%', #{saleNumber},'%') </if>
		<if test="payWay != null and payWay != ''"> and sl.pay_way = #{payWay}</if>
		<if test="state != null and state != ''"> and m.state = #{state} </if>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by sl.`settle_date` desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="findArrearsDataCount" resultType="int">
		select count(*) from settlement sl
		join member m on sl.member_number = m.card_number
		<if test="departNumber != null and departNumber != ''"> and m.depart_number = #{departNumber} </if>
		<if test="companyid !=null and companyid != ''">and FIND_IN_SET(m.company_id,#{companyid})</if>
		<if test="cardNumber != null and cardNumber != ''"> and m.card_number like concat('%', #{cardNumber},'%') </if>
		<if test="saleNumber != null and saleNumber != ''"> and sl.sale_number like concat('%', #{saleNumber},'%') </if>
		<if test="payWay != null and payWay != ''"> and sl.pay_way = #{payWay}</if>
		<if test="state != null and state != ''"> and m.state = #{state} </if>
	</select>

	<select id="getSaleNumersByNum" resultType="com.shiguang.settlement.domain.SettlementDO">
		select sl.`id`,sl.`sale_number`,sl.`member_number`,m.`name` as memberName,sl.`actual_money`,sl.`model_money`,sl.`pay_money`,sl.`pay_way`,sl.`front_money`,sl.`settle_date` from settlement sl
		join member m on sl.member_number = m.card_number
		 where sl.sale_number = #{value}
	</select>

	<select id="findGlassesData" resultType="com.shiguang.settlement.domain.SettlementDO">
		select sl.`id`,sl.`sale_number`,sl.`member_number`,m.`name` as memberName,m.`sex` as sex,m.`age` as age,sl.`actual_money`,sl.`pay_money`,sl.`model_money`,sl.`pay_way`,
		sl.`front_money`,sl.`settle_date`,c.`original_price`
		 from settlement sl
		 join member m on sl.member_number = m.card_number
		 join cost c on c.id = sl.cost_id
		<if test="companyid !=null and companyid != ''">and FIND_IN_SET(m.company_id,#{companyid})</if>
		<if test="cardNumber != null and cardNumber != ''"> and m.card_number like concat('%', #{cardNumber},'%') </if>
		<if test="name != null and name != ''"> and m.name like concat('%', #{name},'%') </if>
		<if test="phone1 != null and phone1 != ''"> and m.phone_1 = #{phone1} </if>
		<if test="saleNumber != null and saleNumber != ''"> and sl.sale_number like concat('%', #{saleNumber},'%') </if>
		<if test="type != null and type != ''"> and c.type != #{type}</if>
		<if test="state != null and state != ''"> and m.state = #{state} </if>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by sl.`settle_date` desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="findGlassesDataCount" resultType="int">
		select count(*)
		from settlement sl
		join member m on sl.member_number = m.card_number
		join cost c on c.id = sl.cost_id
		<if test="companyid !=null and companyid != ''">and FIND_IN_SET(m.company_id,#{companyid})</if>
		<if test="cardNumber != null and cardNumber != ''"> and m.card_number like concat('%', #{cardNumber},'%') </if>
		<if test="saleNumber != null and saleNumber != ''"> and sl.sale_number like concat('%', #{saleNumber},'%') </if>
		<if test="payWay != null and payWay != ''"> and sl.pay_way = #{payWay}</if>
		<if test="type != null and type != ''"> and c.type != #{type}</if>
		<if test="state != null and state != ''"> and m.state = #{state} </if>
	</select>

</mapper>