<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.settlement.dao.SettlementDao">

	<select id="get" resultType="com.shiguang.settlement.domain.SettlementDO">
		select `id`,`cost_id`,`member_number`,`actual_money`,`payment_money`,`change_money`,`pay_model`,`pay_money` from settlement where id = #{value}
	</select>

	<select id="getMember" resultType="com.shiguang.settlement.domain.SettlementDO">
		select `id`,`cost_id`,`member_number`,`actual_money`,`payment_money`,`change_money`,`pay_model`,`pay_money` from settlement where member_number = #{value}
	</select>

	<select id="getCostId" resultType="com.shiguang.settlement.domain.SettlementDO">
		select `id`,`cost_id`,`member_number`,`actual_money`,`payment_money`,`change_money`,`pay_model`,`pay_money` from settlement where cost_id = #{value}
	</select>

	<select id="list" resultType="com.shiguang.settlement.domain.SettlementDO">
		select `id`,`cost_id`,`member_number`,`actual_money`,`payment_money`,`change_money`,`pay_model`,`pay_money` from settlement
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
			      <if test="saleNumber != null and saleNumber != ''"> and sale_number = #{saleNumber} </if>
		  		  <if test="memberNumber != null and memberNumber != ''"> and member_number = #{memberNumber} </if>
		  		  <if test="actualMoney != null and actualMoney != ''"> and actual_money = #{actualMoney} </if>
		  		  <if test="paymentMoney != null and paymentMoney != ''"> and payment_money = #{paymentMoney} </if>
		  		  <if test="changeMoney != null and changeMoney != ''"> and change_money = #{changeMoney} </if>
		  		  <if test="payModel != null and payModel != ''"> and pay_model = #{payModel} </if>
		  		  <if test="payMoney != null and payMoney != ''"> and pay_money = #{payMoney} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from settlement
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
			      <if test="saleNumber != null and saleNumber != ''"> and sale_number = #{saleNumber} </if>
		  		  <if test="memberNumber != null and memberNumber != ''"> and member_number = #{memberNumber} </if>
		  		  <if test="actualMoney != null and actualMoney != ''"> and actual_money = #{actualMoney} </if>
		  		  <if test="paymentMoney != null and paymentMoney != ''"> and payment_money = #{paymentMoney} </if>
		  		  <if test="changeMoney != null and changeMoney != ''"> and change_money = #{changeMoney} </if>
		  		  <if test="payModel != null and payModel != ''"> and pay_model = #{payModel} </if>
		  		  <if test="payMoney != null and payMoney != ''"> and pay_money = #{payMoney} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shiguang.settlement.domain.SettlementDO" useGeneratedKeys="true" keyProperty="id">
		insert into settlement
		(
		    `cost_id`,
		    `sale_number`,
			`member_number`, 
			`actual_money`, 
			`payment_money`, 
			`change_money`, 
			`pay_model`, 
			`pay_money`
		)
		values
		(
		    #{costId},
		    #{saleNumber},
			#{memberNumber}, 
			#{actualMoney}, 
			#{paymentMoney}, 
			#{changeMoney}, 
			#{payModel}, 
			#{payMoney}
		)
	</insert>
	 
	<update id="update" parameterType="com.shiguang.settlement.domain.SettlementDO">
		update settlement 
		<set>
			<if test="costId != null"> `cost_id` = #{costId}</if>
			<if test="memberNumber != null">`member_number` = #{memberNumber}, </if>
			<if test="actualMoney != null">`actual_money` = #{actualMoney}, </if>
			<if test="paymentMoney != null">`payment_money` = #{paymentMoney}, </if>
			<if test="changeMoney != null">`change_money` = #{changeMoney}, </if>
			<if test="payModel != null">`pay_model` = #{payModel}, </if>
			<if test="payMoney != null">`pay_money` = #{payMoney}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from settlement where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from settlement where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>