<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head></head>
<body style="width: 224px;">
<h1>镜架1111111111111111111111</h1>
	<div id="devid" style="float: left;width:90%; margin-left: 8px; margin-top: 30px;position: relative;">
	</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
	$().ready(function () {
	    var html ="";
	    var list = [[${orderDOS}]];
		for (var i=0;i<list.length;i++){
		    for (var a=0;a<list[i].goodsCount;a++){
		        html +="<img alt='' src='"+list[i].QRCode+"' style=\"width: 25% !important; height: auto !important;\">";
		        html +="<table cellspacing=\"0\" cellpadding=\"0\" style=\" width: 100%;\">";
		        html +="<tbody>";
		        html += "<tr>";
		        html += "<td style='font-size:10px'>"+list[i].goodsCode+"</td>";
		        html += "<td style='font-size:10px'>"+"品名："+list[i].goodsName+"</td>";
		        html += "<td style='font-size:10px'>"+"型号："+list[i].factory+"</td>";
		        html += "<td style='font-size:10px'>"+"色号："+list[i].producFactorycolor+"</td>";
		        html += "<td style='font-size:10px'>"+"售价："+list[i].retailPrice+"</td>";
                html += "</tr>";
                html += "</tbody>";
                html += "</table>";
			}
		}
		$("#devid").append(html);
    })

</script>
</body>
</html>