<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>商品查询</title>
    <link rel="stylesheet" href="/css/css.css" type="text/css">
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<!--查询条件-->
<div class="m40 tabS msgBox">
    <h3>查询条件</h3>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>商品代码：</td>
            <td>
                <input id="producNum" name="producNum" type="text">
            </td>
            <td>商品条码：</td>
            <td>
                <input id="producCode" name="producCode" type="text"/>
            </td>
            <td>商品名称：</td>
            <td>
                <input id="producName" name="producName" type="text"/>
            </td>
        </tr>
        <tr>
            <td>制造商：</td>
            <td>
                <input type="text" th:value="${mfrsname}" readonly/>
                <input id="mfrsid" type="hidden" th:value="${mfrsid}"/>
            </td>
            <td>商品品种：</td>
            <td>
                <input type="text" th:value="${brandname}" readonly/>
                <input id="brandid" type="hidden" th:value="${brandid}"/>
                <input type="button" class="XZ-btn" value="选择"/>
            </td>
        </tr>
        <tr>
            <td>商品类别：</td>
            <td>
                <select disabled>
                    <option>耗材</option>
                </select>
            </td>
            <td>新增时间：</td>
            <td>
                <input type="text" value="2021"/>至
                <input type="text" value="2021"/>
            </td>
        </tr>
        <tr>
            <td>型号：</td>
            <td>
                <input id="producFactory" name="producFactory" type="text"/>
            </td>
        </tr>
        <tr>
            <td>厂家型号：</td>
            <td>
                <input id="factory" name="factory" type="text"/>
            </td>
        </tr>
        <tr>
            <td>标准零售价格：</td>
            <td>
                <select name="" id="">
                    <option value="">已设置零售价</option>
                    <option value="">未设置零售价</option>
                </select>
                <input type="text"/> ~ <input type="text"/>
            </td>
        </tr>
    </table>
    <!--保存/清空-->
    <div class="BQ-btn">
        <input type="button" value="查询" onclick="getHc()"/>
        <input type="button" class="empty" value="清空"/>
    </div>
</div>

<!--商品信息-->
<div class="m40 tabS msgBoxDD">
    <table border="0" cellspacing="0" cellpadding="0" class="buyBtns">
        <tbody>
        <tr class="thead">
            <td>全选 <input type="checkbox"/></td>
            <td>商品代码</td>
            <td>商品名称</td>
            <td>型号</td>
            <td>单位</td>
            <td>标准零售价格</td>
            <td>含税成本</td>
            <td style="display: none">批发价格</td>
            <td style="display: none">调货成本</td>
            <td style="display: none">商品条码</td>
        </tr>
        </tbody>
    </table>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/stock/stock/stock.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var mfrsid = $("#mfrsid").val();
        $(".val").remove();
        $.ajax({
            url: '/stock/stock/selectHc',
            type: 'post',
            dataType: "json",
            data: {
                'mfrsid': mfrsid
            },
            success: function (xml) {
                for (var i = 0; i < xml.length; i++) {
                    $(".buyBtns").append("<tr class='val'> <td><input name='one'  type=\"checkbox\"/></td>\n" +
                        "            <td name='producNum'>" + xml[i].producNum + "</td>\n" +
                        "            <td name='producName'>" + xml[i].producName + "</td>\n" +
                        "            <td name='producFactory'>" + xml[i].producFactory + "</td>\n" +
                        "            <td name='unitname'>" + xml[i].unitname + "</td>\n" +
                        "            <td name='retailPrice'>" + xml[i].retailPrice + "</td>\n" +
                        "            <td name='taxPrice'>" + xml[i].taxPrice + "</td>\n" +
                        "            <td name='tradePrice'style='display: none'>" + xml[i].tradePrice + "</td>\n" +
                        "            <td name='transferPrice'style='display: none'>" + xml[i].transferPrice + "</td>\n" +
                        "            <td name='producCode'style='display: none'>" + xml[i].producCode + "</td></tr>>");
                }
            }
        })
    });

    function getHc() {
        var producNum = $("#producNum").val();
        var producCode = $("#producCode").val();
        var producName = $("#producName").val();
        var mfrsid = $("#mfrsid").val();
        var brandid = $("#brandid").val();
        var producFactory = $("#producFactory").val();
        var factory = $("#factory").val();
        $(".val").remove();
        $.ajax({
            url: '/stock/stock/selectHc',
            type: 'post',
            dataType: "json",
            data: {
                'producNum': producNum,
                'producCode': producCode,
                'producName': producName,
                'mfrsid': mfrsid,
                'brandid': brandid,
                'producFactory': producFactory,
                'factory': factory
            },
            success: function (xml) {
                for (var i = 0; i < xml.length; i++) {
                    $(".buyBtns").append("<tr class='val'> <td><input name='one'  type=\"checkbox\"/></td>\n" +
                        "            <td name='producNum'>" + xml[i].producNum + "</td>\n" +
                        "            <td name='producName'>" + xml[i].producName + "</td>\n" +
                        "            <td name='producFactory'>" + xml[i].producFactory + "</td>\n" +
                        "            <td name='unitname'>" + xml[i].unitname + "</td>\n" +
                        "            <td name='retailPrice'>" + xml[i].retailPrice + "</td>\n" +
                        "            <td name='taxPrice'>" + xml[i].taxPrice + "</td>\n" +
                        "            <td name='tradePrice'style='display: none'>" + xml[i].tradePrice + "</td>\n" +
                        "            <td name='transferPrice'style='display: none'>" + xml[i].transferPrice + "</td>\n" +
                        "            <td name='producCode'style='display: none'>" + xml[i].producCode + "</td></tr>>");
                }
            }
        })
    }
</script>
</body>
</html>
