<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>商品查询</title>
    <link rel="stylesheet" href="/css/css.css" type="text/css">
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<!--查询条件-->
<div class="m40 tabS msgBox">
    <h3>查询条件</h3>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>商品代码：</td>
            <td>
                <input id="producNum" name="producNum" type="text">
            </td>
            <td>商品条码：</td>
            <td>
                <input id="producCode" name="producCode" type="text"/>
            </td>
            <td>商品名称：</td>
            <td>
                <input id="producName" name="producName" type="text"/>
            </td>
        </tr>
        <tr>
            <td>制造商：</td>
            <td>
                <input type="text" th:value="${mfrsname}" readonly style="background-color: #e4e4e4" />
                <input id="mfrsid" type="hidden" th:value="${mfrsid}"/>
            </td>
            <td>商品品种：</td>
            <td>
                <!--<input id="brandnum" name="brandnum" type="hidden" value=""/>-->
                <input id="brandname" name="brandname" type="text" readonly style="background-color: #e4e4e4" />
                <input type="button" class="XZ-btn" value="选择" onclick="choiceBrand()"/>
            </td>
        </tr>
        <tr>
            <td>商品类别：</td>
            <td>
                <select id="goodsid" name="goodsid" disabled>
                    <option value="5" >护理液</option>
                </select>
            </td>
            <!--<td>新增时间：</td>-->
            <!--<td>-->
                <!--<input type="text" value="2021"/>至-->
                <!--<input type="text" value="2021"/>-->
            <!--</td>-->
            <td>主容量：</td>
            <td>
                <input id="mainCapacity" name="mainCapacity" type="text"/>
            </td>
            <td>次容量：</td>
            <td>
                <input id="secondCapacity" name="secondCapacity" type="text"/>
            </td>
        </tr>
        <tr>
            <td>型号：</td>
            <td>
                <input id="producFactory" name="producFactory" type="text"/>
            </td>
            <td>厂家型号：</td>
            <td>
                <input id="factory" name="factory" type="text"/>
            </td>
        </tr>
        <tr>
            <td>标准零售价格：</td>
            <td>
                <input id="retailPrice" name="retailPrice" type="text"/> ~ <input id="retailPrice2" name="retailPrice2" type="text"/>
            </td>
        </tr>
    </table>
    <!--保存/清空-->
    <div class="BQ-btn">
        <input type="button" value="查询" onclick="reLoad()"/>
        <input type="button" class="empty" value="清空" onclick="clearText()"/>
    </div>
</div>

<!--商品信息-->
<div class="m40 tabS msgBoxDD">
    <table id="exampleTable" data-mobile-responsive="true"></table>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/stock/stock/stock.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var mfrsid = $("#mfrsid").val();
        $(".val").remove();
        $(function () {
            load();
        });
        function load() {
            $('#exampleTable')
                .bootstrapTable(
                    {
                        method: 'get', // 服务器数据的请求方式 get or post
                        url: '/stock/stock/selectHly',// 服务器数据的加载地址
                        //	showRefresh : true,
                        //	showToggle : true,
                        //	showColumns : true,
                        iconSize: 'outline',
                        toolbar: '#exampleToolbar',
                        striped: true, // 设置为true会有隔行变色效果
                        dataType: "json", // 服务器返回的数据类型
                        pagination: true, // 设置为true会在底部显示分页条
                        // queryParamsType : "limit",
                        // //设置为limit则会发送符合RESTFull格式的参数
                        singleSelect: false, // 设置为true将禁止多选
                        // contentType : "application/x-www-form-urlencoded",
                        // //发送到服务器的数据编码类型
                        pageSize: 10, // 如果设置了分页，每页数据条数
                        pageNumber: 1, // 如果设置了分布，首页页码
                        pageList:[10,25,50,100,500,1200,1500,2000],
                        smartDisplay:false,

                        //search : true, // 是否显示搜索框
                        showColumns: false, // 是否显示内容下拉框（选择显示的列）
                        sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
                        queryParams: function (params) {
                            return {
                                //说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                                limit: params.limit,
                                offset: params.offset,
                                producNum  : $("#producNum").val(),
                                producCode  : $("#producCode").val(),
                                producName  : $("#producName").val(),
                                mfrsid  : $("#mfrsid").val(),
                                brandid  : $("#brandid").val(),
                                brandname  : $("#brandname").val(),
                                mainCapacity  : $("#mainCapacity").val(),
                                secondCapacity  : $("#secondCapacity").val(),
                                producFactory  : $("#producFactory").val(),
                                factory  : $("#factory").val(),
                                retailPrice  : $("#retailPrice").val(),
                                retailPrice2  : $("#retailPrice2").val()

                            };
                        },
                        columns: [
                            {
                                checkbox: true
                            },
                            {
                                field : 'producNum',
                                title : '商品代码'
                            },
                            {
                                field: 'producName',
                                title: '商品名称'
                            },
                            {
                                field: 'producFactory',
                                title: '型号'
                            },
                                {
                                    field: 'factory',
                                    title: '厂家型号'
                                },

                            {
                                field: 'unitname',
                                title: '单位'
                            },

                            {
                                field: 'retailPrice',
                                title: '标准零售价格'
                            },
                            {
                                field: 'taxPrice',
                                title: '含税成本'
                            },
                                {
                                    field: 'mainCapacity',
                                    title: '主容量'
                                },
                                {
                                    field: 'secondCapacity',
                                    title: '次容量'
                                },


                            // {
                            //     field: 'tradePrice',
                            //     title: '批发价格'
                            // }, // {
                            //     field: 'transferPrice',
                            //     title: '调货成本'
                            // },// {
                            //     field: 'producCode',
                            //     title: '商品条码'
                            // },// {
                            //     field: 'brandname',
                            //     title: '商品品种'
                            // },
                            // {
                            //     field: 'medicinecode',
                            //     title: '医疗器械经营许可证'
                            // },// {
                            //     field: 'classtype',
                            //     title: '镜片类型'
                            // },// {
                            //     field: 'goodsxinxiid',
                            //     title: 'id'
                            // },
                        ]
                    });

        }
    });

    function reLoad() {
        // $(".val").remove();
        $('#exampleTable').bootstrapTable('refresh');
    }
    // function getHly() {
    //     var producNum = $("#producNum").val();
    //     var producCode = $("#producCode").val();
    //     var producName = $("#producName").val();
    //     var mfrsid = $("#mfrsid").val();
    //     var brandid = $("#brandid").val();
    //     var brandname = $("#brandname").val();
    //     var mainCapacity = $("#mainCapacity").val();
    //     var secondCapacity = $("#secondCapacity").val();
    //     var producFactory = $("#producFactory").val();
    //     var factory = $("#factory").val();
    //     var retailPrice = $("#retailPrice").val();
    //     var retailPrice2 = $("#retailPrice2").val();
    //
    //     $(".val").remove();
    //     $.ajax({
    //         url: '/stock/stock/selectHly',
    //         type: 'post',
    //         dataType: "json",
    //         data: {
    //             'producNum': producNum,
    //             'producCode': producCode,
    //             'producName': producName,
    //             'mfrsid': mfrsid,
    //             'brandid': brandid,
    //             'brandname': brandname,
    //             'mainCapacity': mainCapacity,
    //             'secondCapacity': secondCapacity,
    //             'producFactory': producFactory,
    //             'factory': factory,
    //             'retailPrice': retailPrice,
    //             'retailPrice2': retailPrice2
    //         },
    //         success: function (xml) {
    //             for (var i = 0; i < xml.length; i++) {
    //                 if(null == xml[i].producFactory){
    //                     xml[i].producFactory="";
    //                 }
    //                 if(null == xml[i].factory){
    //                     xml[i].factory="";
    //                 }
    //                 if(null == xml[i].unitname){
    //                     xml[i].unitname="";
    //                 }
    //                 if(null == xml[i].mainCapacity){
    //                     xml[i].mainCapacity="";
    //                 }
    //                 if(null == xml[i].secondCapacity){
    //                     xml[i].secondCapacity="";
    //                 }
    //                 if(null == xml[i].medicinecode){
    //                     xml[i].medicinecode="";
    //                 }
    //                 if(null == xml[i].classtype){
    //                     xml[i].classtype="";
    //                 }
    //                 $(".buyBtns").append("<tr class='val'> <td><input name='one' type=\"checkbox\"/></td>\n" +
    //                     "<td name='producNum'>" + xml[i].producNum + "</td>\n" +
    //                     "<td name='producName'>" + xml[i].producName + "</td>\n" +
    //                     "<td name='producFactory'>" + xml[i].producFactory + "</td>\n" +
    //                     "<td name='factory'>" + xml[i].factory + "</td>\n" +
    //                     "<td name='unitname'>" + xml[i].unitname + "</td>\n" +
    //                     "<td name='retailPrice'>" + xml[i].retailPrice + "</td>\n" +
    //                     "<td name='taxPrice'>" + xml[i].taxPrice + "</td>\n" +
    //                     "<td name='mainCapacity'>" + xml[i].mainCapacity + "</td>\n" +
    //                     "<td name='secondCapacity'>" + xml[i].secondCapacity + "</td>\n" +
    //                     "<td name='tradePrice'style='display: none'>" + xml[i].tradePrice + "</td>\n" +
    //                     "<td name='transferPrice'style='display: none'>" + xml[i].transferPrice + "</td>\n" +
    //                     "<td name='producCode'style='display: none'>" + xml[i].producCode + "</td>\n" +
    //                     "<td name='brandname' style='display: none'>" + xml[i].brandname + "</td>" +
    //                     "<td name='medicinecode' style='display: none'>" + xml[i].medicinecode + "</td>" +
    //                     "<td name='classtype' style='display: none'>" + xml[i].classtype + "</td>" +
    //                     "<td name='goodsxinxiid' style='display: none'>" + xml[i].goodsxinxiid + "</td>" +
    //                     "</tr>");
    //             }
    //         }
    //     })
    // }
    function choiceBrand() {
        var goodsid = document.getElementById('goodsid').value;
        var mfrsid = document.getElementById('mfrsid').value;
        // layer.alert(goodsid);
        if (mfrsid == "") {
            layer.alert("请选择制造商！");
        } else {
            //选择镜架
            var toIndex = layer.open({
                type: 2,
                title: '商品品种',
                maxmin: true,
                shadeClose: false, // 点击遮罩关闭层
                area: ['800px', '520px'],
                content: "/product/produca/findbrand/" + mfrsid+"/"+goodsid,// iframe的url
                cancel: function (index, layero) {
                    var rows = $(layero).find("iframe")[0].contentWindow.batchSelect();
                    for (var i = 0; i < rows.length; i++) {
                        $("#brandname").val(rows[i].brandname);
                        $("#brandnum").val(rows[i].brandnum);
                        // $("#brandNames").val(rows[i].brandname);
                    }
                }
            });
            layer.full(toIndex);
        }
    }
    //清空
    function clearText() {
        var controls = document.getElementsByTagName('input');
        for (var i = 0; i < controls.length; i++) {
            if (controls[i].type == 'text') {
                controls[i].value = '';
            }
        }
    }
</script>
</body>
</html>
