<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>商品查询</title>
    <link rel="stylesheet" href="/css/css.css" type="text/css">
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<!--查询条件-->
<div class="m40 tabS msgBox">
    <h3>查询条件</h3>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>商品代码：</td>
            <td>
                <input id="producNum" name="producNum" type="text">
            </td>
            <td>商品条码：</td>
            <td>
                <input id="producCode" name="producCode" type="text"/>
            </td>
            <td>商品名称：</td>
            <td>
                <input id="producName" name="producName" type="text"/>
            </td>
        </tr>
        <tr>
            <td>制造商：</td>
            <td>
                <input type="text" th:value="${mfrsname}" readonly style="background-color: #e4e4e4" />
                <input id="mfrsid" type="hidden" th:value="${mfrsid}"/>
            </td>
            <td>商品品种：</td>
            <td>
                <!--<input id="brandnum" name="brandnum" type="hidden" value=""/>-->
                <input id="brandname" name="brandname" type="text" readonly style="background-color: #e4e4e4" />
                <input type="button" class="XZ-btn" value="选择" onclick="choiceBrand()"/>
            </td>
        </tr>
        <tr>
            <td>商品类别：</td>
            <td>
                <select id="goodsid" name="goodsid" disabled>
                    <option value="3" >镜片</option>
                </select>
            </td>
            <td>厂家型号：</td>
            <td>
                <input id="factory" name="factory" type="text"/>
            </td>
            <!--<td>新增时间：</td>-->
            <!--<td>-->
                <!--<input type="text" value="2021"/>至-->
                <!--<input type="text" value="2021"/>-->
            <!--</td>-->
        </tr>
        <tr>
            <!--<td>球镜范围：</td>-->
            <!--<td>-->
                <!--<input type="text"/>至<input type="text"/>-->
            <!--</td>-->
            <!--<td>柱镜范围：</td>-->
            <!--<td>-->
                <!--<input type="text"/>至<input type="text"/>-->
            <!--</td>-->
            <td>定做类型：</td>
            <td>
                <select id="dzlx" >
                    <option value="成品片">成品片</option>
                    <!--<option value="定做片">定做片</option>-->
                </select>
            </td>
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>下加光：</td>-->
            <!--<td>-->
                <!--<input type="text"/>至<input type="text"/>-->
            <!--</td>-->
            <td>材料分类：</td>
            <td>
                <select id="lensId" name="lensId">
                    <option value="">--请选择--</option>
                    <option th:each="ls:${lensDOList}"
                            th:text="${ls.lensName}"
                            th:value="${ls.lensId}"
                    ></option>
                </select>
            </td>
            <td>折射率：</td>
            <td>
                <select id="refractivityid" name="refractivityid" style="width: 80%">
                    <option value="">--请选择--</option>
                    <option th:each="ls:${refractivityDOList}"
                            th:text="${ls.refractivityvalue}"
                            th:value="${ls.refractivityid}"
                    ></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>光度分类：</td>
            <td>
                <select id="lightId" name="lightId">
                    <option value="">--请选择--</option>
                    <option th:each="ls:${lightDOList}"
                            th:text="${ls.lightName}"
                            th:value="${ls.lightId}"
                    ></option>
                </select>
            </td>
            <td>镜片功能：</td>
            <td>
                <select id="functionId" name="functionId">
                    <option value="">--请选择--</option>
                    <option th:each="ls:${functionDOList}"
                            th:text="${ls.functionName}"
                            th:value="${ls.functionId}"
                    ></option>
                </select>
            </td>
            <td>渐进片分类：</td>
            <td>
                <select id="gradualId" name="gradualId" style="width: 80%">
                    <option value="">--请选择--</option>
                    <option th:each="ls:${gradualDOList}"
                            th:text="${ls.gradualName}"
                            th:value="${ls.gradualId}"
                    ></option>
                </select>
            </td>
        </tr>
        <!--<tr>-->
            <!--<td>厂家型号：</td>-->
            <!--<td>-->
                <!--<input id="factory" name="factory" type="text"/>-->
            <!--</td>-->
        <!--</tr>-->
        <tr>
            <td>标准零售价格：</td>
            <td>
                <input id="retailPrice" name="retailPrice" type="text"/> ~ <input id="retailPrice2" name="retailPrice2" type="text"/>
            </td>
        </tr>
    </table>
    <!--保存/清空-->
    <div class="BQ-btn">
        <input type="button" value="查询" onclick="getJingpian()"/>
        <input type="button" class="empty" value="清空" onclick="clearText()"/>
    </div>
</div>

<!--商品信息-->
<div class="m40 tabS msgBoxDD">
    <table border="0" cellspacing="0" cellpadding="0" class="buyBtns" id="buyBtns">
        <tbody>
        <tr class="thead">
            <td>
                多选
                <!--<input type="checkbox"/>-->
            </td>
            <td>商品代码</td>
            <td>商品名称</td>
            <td>单位</td>
            <td>厂家型号</td>
            <td>标准零售价格</td>
            <td>含税成本</td>
            <td>球镜</td>
            <td>柱镜</td>
            <td>下加光</td>
            <td>折射率</td>
            <td>光度分类</td>
            <td>材料分类</td>
            <td>渐进片分类</td>
            <td>镜片功能</td>
            <td style="display: none">批发价格</td>
            <td style="display: none">调货成本</td>
            <td style="display: none">商品条码</td>
            <td style="display: none">商品品种</td>
            <td style="display: none">镜片类型</td>
            <td style="display: none">医疗器械经营许可证</td>
        </tr>
        </tbody>
    </table>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/stock/stock/stock.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var mfrsid = $("#mfrsid").val();
        $(".val").remove();
        $.ajax({
            url: '/stock/stock/selectJpcp',
            type: 'post',
            dataType: "json",
            data: {
                'mfrsid': mfrsid
            },
            success: function (xml) {
                for (var i = 0; i < xml.length; i++) {
                    // layer.alert(xml[i].classtype+"镜片类型")
                    $(".buyBtns").append("<tr class='val'> <td><input name='one'  type=\"checkbox\"/></td>\n" +
                        "<td name='producNum'>" + xml[i].producNum + "</td>\n" +
                        "<td name='producName'>" + xml[i].producName + "</td>\n" +
                        "<td name='unitname'>" + xml[i].unitname + "</td>\n" +
                        "<td name='factory'>" + "" + "</td>\n" +
                        "<td name='retailPrice'>" + xml[i].retailPrice + "</td>\n" +
                        "<td name='taxPrice'>" + xml[i].taxPrice + "</td>\n" +
                        "<td name='sph'>" + xml[i].sph + "</td>\n" +
                        "<td name='cyl'>" + xml[i].cyl + "</td>\n" +
                        "<td name='lightbelow'>" + xml[i].lightbelow + "</td>\n" +
                        "<td name='refractivityvalue'>" + xml[i].refractivityvalue + "</td>\n" +
                        "<td name='lightName'>" + xml[i].lightName + "</td>\n" +
                        "<td name='lensName'>" + xml[i].lensName + "</td>\n" +
                        "<td name='gradualName'>" + xml[i].gradualName + "</td>\n" +
                        "<td name='functionName'>" + xml[i].functionName + "</td>\n" +
                        "<td name='tradePrice'style='display: none'>" + xml[i].tradePrice + "</td>\n" +
                        "<td name='transferPrice'style='display: none'>" + xml[i].transferPrice + "</td>\n" +
                        "<td name='producCode'style='display: none'>" + xml[i].producCode + "</td>\n" +
                        "<td name='brandname' style='display: none'>" + xml[i].brandname + "</td>\n" +
                        "<td name='classtype' style='display: none'>" + xml[i].classtype + "</td>" +
                        "<td name='medicinecode' style='display: none'>" + xml[i].medicinecode + "</td>" +
                        "</tr>");
                }
            }
        })
    });

    function getJingpian() {
        $(".val").remove();
        $(" .valJpcp").remove();
        $(" .valJpdz").remove();
        var dzlx = $("#dzlx option:selected").val();
        if (dzlx == "成品片") {
            var mfrsid = $("#mfrsid").val();
            var producNum = $("#producNum").val();
            var producCode = $("#producCode").val();
            var producName = $("#producName").val();
            var brandid = $("#brandid").val();
            var brandname = $("#brandname").val();
            var lensId = $("#lensId option:selected").val();
            var refractivityid = $("#refractivityid option:selected").val();
            var lightId = $("#lightId option:selected").val();
            var functionId = $("#functionId option:selected").val();
            var gradualId = $("#gradualId option:selected").val();
            var factory = $("#factory").val();
            var retailPrice = $("#retailPrice").val();
            var retailPrice2 = $("#retailPrice2").val();
            $.ajax({
                url: '/stock/stock/selectJpcp',
                type: 'post',
                dataType: "json",
                data: {
                    'producNum': producNum,
                    'producCode': producCode,
                    'producName': producName,
                    'mfrsid': mfrsid,
                    'brandid': brandid,
                    'brandname': brandname,
                    'lensId': lensId,
                    'refractivityid': refractivityid,
                    'lightId': lightId,
                    'functionId': functionId,
                    'gradualId': gradualId,
                    'factory': factory,
                    'retailPrice': retailPrice,
                    'retailPrice2': retailPrice2
                },
                success: function (xml) {
                    for (var i = 0; i < xml.length; i++) {
                        $(".buyBtns").append("<tr class='valJpcp'> <td><input name='one'  type=\"checkbox\"/></td>\n" +
                            "<td name='producNum'>" + xml[i].producNum + "</td>\n" +
                            "<td name='producName'>" + xml[i].producName + "</td>\n" +
                            "<td name='unitname'>" + xml[i].unitname + "</td>\n" +
                            "<td name='factory'>" + "" + "</td>\n" +
                            "<td name='retailPrice'>" + xml[i].retailPrice + "</td>\n" +
                            "<td name='taxPrice'>" + xml[i].taxPrice + "</td>\n" +
                            "<td name='sph'>" + xml[i].sph + "</td>\n" +
                            "<td name='cyl'>" + xml[i].cyl + "</td>\n" +
                            "<td name='lightbelow'>" + xml[i].lightbelow + "</td>\n" +
                            "<td name='refractivityvalue'>" + xml[i].refractivityvalue + "</td>\n" +
                            "<td name='lightName'>" + xml[i].lightName + "</td>\n" +
                            "<td name='lensName'>" + xml[i].lensName + "</td>\n" +
                            "<td name='gradualName'>" + xml[i].gradualName + "</td>\n" +
                            "<td name='functionName'>" + xml[i].functionName + "</td>\n" +
                            "<td name='tradePrice'style='display: none'>" + xml[i].tradePrice + "</td>\n" +
                            "<td name='transferPrice'style='display: none'>" + xml[i].transferPrice + "</td>\n" +
                            "<td name='producCode'style='display: none'>" + xml[i].producCode + "</td>\n" +
                            "<td name='brandname' style='display: none'>" + xml[i].brandname + "</td>\n" +
                            "<td name='classtype' style='display: none'>" + xml[i].classtype + "</td>" +
                            "<td name='medicinecode' style='display: none'>" + xml[i].medicinecode + "</td>" +
                            "</tr>");
                    }
                }
            })
        } else if (dzlx == "定做片") {
            $(".val").remove();
            $(" .valJpcp").remove();
            $(" .valJpdz").remove();
            var producNum = $("#producNum").val();
            var producCode = $("#producCode").val();
            var producName = $("#producName").val();
            var brandid = $("#brandid").val();
            var brandname = $("#brandname").val();
            var lensId = $("#lensId option:selected").val();
            var refractivityid = $("#refractivityid option:selected").val();
            var lightId = $("#lightId option:selected").val();
            var functionId = $("#functionId option:selected").val();
            var gradualId = $("#gradualId option:selected").val();
            var factory = $("#factory").val();
            var retailPrice = $("#retailPrice").val();
            var retailPrice2 = $("#retailPrice2").val();

            $.ajax({
                url: '/stock/stock/selectJpdz',
                type: 'post',
                dataType: "json",
                data: {
                    'producNum': producNum,
                    'producCode': producCode,
                    'producName': producName,
                    'mfrsid': mfrsid,
                    'brandid': brandid,
                    'brandname': brandname,
                    'lensId': lensId,
                    'refractivityid': refractivityid,
                    'lightId': lightId,
                    'functionId': functionId,
                    'gradualId': gradualId,
                    'factory': factory,
                    'retailPrice': retailPrice,
                    'retailPrice2': retailPrice2
                },
                success: function (xml) {
                    for (var i = 0; i < xml.length; i++) {
                        $(".buyBtns").append("<tr class='valJpdz'> <td><input name='one'  type=\"checkbox\"/></td>\n" +
                            "<td name='producNum'>" + xml[i].producNum + "</td>\n" +
                            "<td name='producName'>" + xml[i].producName + "</td>\n" +
                            "<td name='unitname'>" + xml[i].unitname + "</td>\n" +
                            "<td name='factory'>" + xml[i].factory + "</td>\n" +
                            "<td name='retailPrice'>" + xml[i].retailPrice + "</td>\n" +
                            "<td name='taxPrice'>" + xml[i].taxPrice + "</td>\n" +
                            "<td name='sph'>" + xml[i].sphUp + "/" + xml[i].sphDown + "</td>\n" +
                            "<td name='cyl'>" + xml[i].cylUp + "/" + xml[i].cylDown + "</td>\n" +
                            "<td name='lightbelow'>" + xml[i].lightbelowRight + "/" + xml[i].lightbelowLeft + "</td>\n" +
                            "<td name='refractivityvalue'>" + xml[i].refractivityvalue + "</td>\n" +
                            "<td name='lightName'>" + xml[i].lightName + "</td>\n" +
                            "<td name='lensName'>" + xml[i].lensName + "</td>\n" +
                            "<td name='gradualName'>" + xml[i].gradualName + "</td>\n" +
                            "<td name='functionName'>" + xml[i].functionName + "</td>\n" +
                            "<td name='tradePrice'style='display: none'>" + xml[i].tradePrice + "</td>\n" +
                            "<td name='transferPrice'style='display: none'>" + xml[i].transferPrice + "</td>\n" +
                            "<td name='producCode'style='display: none'>" + xml[i].producCode + "</td>\n" +
                            "<td name='brandname' style='display: none'>" + xml[i].brandname + "</td>" +
                            "<td name='classtype' style='display: none'>" + xml[i].classtype + "</td>" +
                            "<td name='medicinecode' style='display: none'>" + xml[i].medicinecode + "</td>" +
                            "</tr>>");
                    }
                }
            })
        }
    }
    function choiceBrand() {
        var goodsid = document.getElementById('goodsid').value;
        var mfrsid = document.getElementById('mfrsid').value;
        // layer.alert(goodsid);
        if (mfrsid == "") {
            layer.alert("请选择制造商！");
        } else {
            //选择镜架
            var toIndex = layer.open({
                type: 2,
                title: '商品品种',
                maxmin: true,
                shadeClose: false, // 点击遮罩关闭层
                area: ['800px', '520px'],
                content: "/product/produca/findbrand/" + mfrsid+"/"+goodsid,// iframe的url
                cancel: function (index, layero) {
                    var rows = $(layero).find("iframe")[0].contentWindow.batchSelect();
                    for (var i = 0; i < rows.length; i++) {
                        $("#brandname").val(rows[i].brandname);
                        $("#brandnum").val(rows[i].brandnum);
                        // $("#brandNames").val(rows[i].brandname);
                    }
                }
            });
            layer.full(toIndex);
        }
    }
    //清空
    function clearText() {
        var controls = document.getElementsByTagName('input');
        for (var i = 0; i < controls.length; i++) {
            if (controls[i].type == 'text') {
                controls[i].value = '';
            }
        }
    }
</script>
</body>
</html>
