<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>库存查询</title>
    <link rel="stylesheet" href="/css/css.css" type="text/css">
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<!--查询条件-->
<div class="m40 tabS msgBox">
    <h3>查询条件</h3>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>商品代码：</td>
            <td>
                <input id="goodsNum" name="goodsNum" type="text">
            </td>
            <td>商品条码：</td>
            <td>
                <input id="goodsCode" name="goodsCode" type="text"/>
            </td>
            <td>商品名称：</td>
            <td>
                <input id="goodsName" name="goodsName" type="text"/>
            </td>
        </tr>
        <tr>
            <td>商品类型：</td>
            <td>
                <select id="goodsType" name="goodsType" onchange="selectgoods()">
                    <option value="">--请选择--</option>
                    <option th:each="ls:${goodsDOList}"
                            th:text="${ls.goodsname}"
                            th:value="${ls.goodsid}"></option>
                </select>
                <div id="jp" style="display: none">
                    <label class="radio-inline">
                        <input type="radio" name="classtype"  value="1" /> 成品片
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="classtype" value="2" /> 订做片
                    </label>
                </div>
                <!--<div id="yx" style="display: none">-->
                    <!--<label class="radio-inline">-->
                        <!--<input type="radio" name="classtype"  value="3" /> 成品片-->
                    <!--</label>-->
                    <!--<label class="radio-inline">-->
                        <!--<input type="radio" name="classtype" value="4" /> 订做片-->
                    <!--</label>-->
                <!--</div>-->
            </td>
            <td>制造商：</td>
            <td>
                <input id="mfrsid" name="mfrsid" type="hidden" value=""/>
                <input id="mfrsname" name="mfrsname" type="text" readonly/>
                <input type="button" class="XZ-btn" value="选择" onclick="choiceMfrs()"/>
            </td>
            <td>商品品种：</td>
            <td>
                <!--<input id="brandnum" name="brandnum" type="hidden" value=""/>-->
                <input id="brandname" name="brandname" type="text" readonly style="background-color: #e4e4e4" />
                <input type="button" class="XZ-btn" value="选择" onclick="choiceBrand()"/>
            </td>
        </tr>
        <tr>
            <td>仓位名称：</td>
            <td>
                <div class="col-sm-8">
                    <label class="radio-inline">
                        <input type="radio" name="xsstate" value="0" checked onchange="positionChange()"/> 启用仓
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="xsstate" value="1" onchange="positionChange()"/> 停用仓
                    </label>
                </div>
                <span>
					<select id="positionId" name="positionId">
                        <option></option>
                    </select>
				</span>
            </td>
            <!--<td>经销方式：</td>-->
            <!--<td>-->
            <!--<select>-->
            <!--<option value="">&#45;&#45;请选择&#45;&#45;</option>-->
            <!--</select>-->
            <!--</td>-->
            <!--<td>商品状态</td>-->
            <!--<td>-->
            <!--<select>-->
            <!--<option value="">&#45;&#45;请选择&#45;&#45;</option>-->
            <!--</select>-->
            <!--</td>-->
        </tr>
        <tr>
            <td>标准零售价格：</td>
            <td>
                <input id="retailPrice" name="retailPrice" type="text"/> ~ <input name="retailPrice2" type="text"/>
            </td>
        </tr>
    </table>
    <!--保存/清空-->
    <div class="BQ-btn">
        <input type="button" value="查询" onclick="getall()"/>
        <input type="button" class="empty" value="清空" onclick="clearText()"/>
    </div>
</div>

<!--商品信息-->
<div class="m40 tabS msgBoxDD">
    <table border="0" cellspacing="0" cellpadding="0" class="buyBtns">
        <tbody>
        <tr class="thead">
            <td>商品代码</td>
            <td>商品条码</td>
            <td>商品名称</td>
            <td>数量</td>
            <td>商品类别</td>
            <td>制造商</td>
            <td>标准零售价</td>
            <td>原价合计</td>
            <td>成本价格</td>
            <td>成本合计</td>
            <td>批发价格</td>
            <td>批发合计</td>
            <td>仓位</td>
        </tr>
        <!--<tr>-->
            <!--<td colspan="3">页内合计：</td>-->
            <!--<td>45684</td>-->
            <!--<td colspan="5"></td>-->
            <!--<td>0.00</td>-->
            <!--<td></td>-->
            <!--<td>55555555</td>-->
            <!--<td></td>-->
        <!--</tr>-->
        </tbody>
    </table>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript">
    $(document).ready(function () {
        var xsstate=$("input[name='xsstate']:checked").val();
        // alert(xsstate)
        var positionName = $('#positionName option:selected').text();
        var positionId = $('#positionId option:selected').text();
        // var positionNames = ""
        // if (positionName == "--请选择--") {
        //     positionName = positionNames;
        // }
        // var positionIds = ""
        // if (positionId == "--请选择--") {
        //     positionName = positionIds;
        // }
        $(".cw").remove();
        $.ajax({
            url: '/kucun/stock/selectPosion',
            type: 'post',
            dataType: "json",
            data: {
                'xsstate': xsstate,
            },
            success: function (position) {
                // alert(position)
                for (var i = 0; i < position.length; i++) {
                    $("#positionId").append("" +
                        "<option class='cw' value='position[i].positionId'>" + position[i].positionName + "</option>");
                }
            }
        });
        $.ajax({
            url: '/kucun/stock/selectKc',
            type: 'post',
            dataType: "json",
            data: {
                'xsstate': xsstate,
                // 'positionName': positionName,
                'positionId': positionId
            },
            success: function (xml) {
                for (var i = 0; i < xml.length; i++) {
                    $(".buyBtns").append("<tr class='val'>" +
                        "            <td>" + xml[i].goodsNum + "</td>\n" +
                        "            <td>" + xml[i].goodsCode + "</td>\n" +
                        "            <td>" + xml[i].goodsName + "</td>\n" +
                        "            <td>" + xml[i].goodsCount + "</td>\n" +
                        "            <td>" + xml[i].gdname + "</td>\n" +
                        "            <td>" + xml[i].mfrsname + "</td>\n" +
                        "            <td>" + xml[i].retailPrice + "</td>\n" +
                        "            <td>" + xml[i].priceSum + "</td>\n" +
                        "            <td>" + xml[i].costPrice + "</td>\n" +
                        "            <td>" + xml[i].costSum + "</td>\n" +
                        "            <td>" + xml[i].wholePrice + "</td>\n" +
                        "            <td>" + xml[i].wholeSum + "</td>\n" +
                        "            <td>" + xml[i].positionName + "</td></tr>>");
                }
            }
        })
    });
    <!--选择制造商-->
    function choiceMfrs() {
        var goodsid = document.getElementById('goodsType').value;
        // alert(goodsid);
        if (goodsid == "") {
            layer.alert("请选择商品类型！");
        } else {
            //选择镜架
            var toIndex = layer.open({
                type: 2,
                title: '制造商',
                maxmin: true,
                shadeClose: false, // 点击遮罩关闭层
                area: ['800px', '520px'],
                content: "/product/produca/findmfrs/" + goodsid,// iframe的url
                cancel: function (index, layero) {
                    var rows = $(layero).find("iframe")[0].contentWindow.batchSelect();
                    for (var i = 0; i < rows.length; i++) {
                        $("#mfrsname").val(rows[i].mfrsname);
                        $("#mfrsid").val(rows[i].mfrsid);
                        // $("#mfrsNames").val(rows[i].mfrsname);
                    }
                }
            });
            layer.full(toIndex);
        }
    }
    function choiceBrand() {
        var goodsid = document.getElementById('goodsType').value;
        var mfrsid = document.getElementById('mfrsid').value;
        // alert(goodsid);
        if (mfrsid == "") {
            layer.alert("请选择制造商！");
        } else {
            //选择镜架
            var toIndex = layer.open({
                type: 2,
                title: '商品品种',
                maxmin: true,
                shadeClose: false, // 点击遮罩关闭层
                area: ['800px', '520px'],
                content: "/product/produca/findbrand/" + mfrsid+"/"+goodsid,// iframe的url
                cancel: function (index, layero) {
                    var rows = $(layero).find("iframe")[0].contentWindow.batchSelect();
                    for (var i = 0; i < rows.length; i++) {
                        $("#brandname").val(rows[i].brandname);
                        $("#brandnum").val(rows[i].brandnum);
                        // $("#brandNames").val(rows[i].brandname);
                    }
                }
            });
            layer.full(toIndex);
        }
    }
    function selectgoods() {
        var goodsType = $("#goodsType option:selected").val();
        if (goodsType == 1){
            jp.style = "display: none";
        }else if (goodsType == 2){
            jp.style = "display: none";
        }else if (goodsType == 3){
            jp.style = "display: block";
        }else if (goodsType == 4){
            jp.style = "display: block";
        }else if (goodsType == 5){
            jp.style = "display: none";
        }else if (goodsType == 6){
            jp.style = "display: none";
        }else if (goodsType == 7){
            jp.style = "display: none";
        }else if (goodsType == 8){
            jp.style = "display: none";
        }else if (goodsType == 9){
            jp.style = "display: none";
        }
    }
    function getall() {
        var goodsNum = $("#goodsNum").val();
        var goodsCode = $("#goodsCode").val();
        var goodsName = $("#goodsName").val();
        var goodsType = $("#goodsType option:selected").val();
        if (goodsType == 1){
         var  classtype ="";
        } else if (goodsType == 2){
            var  classtype ="";
        } else if (goodsType == 3){
            var classtype=$("input[name='classtype']:checked").val();
        } else if (goodsType == 4){
            var classtype=$("input[name='classtype']:checked").val();
        } else if (goodsType == 5){
            var  classtype ="";
        } else if (goodsType == 6){
            var  classtype ="";
        } else if (goodsType == 7){
            var  classtype ="";
        } else if (goodsType == 8){
            var  classtype ="";
        } else if (goodsType == 9){
            var  classtype ="";
        }
        alert(classtype +"类型");
        var mfrsname = $("#mfrsname").val();
        var brandname = $("#brandname").val();
        var retailPrice = $("*[name='retailPrice']").val();
        var retailPrice2 = $("*[name='retailPrice2']").val();
        var xsstate=$("input[name='xsstate']:checked").val();
        // alert(xsstate +"仓位");
        var positionName = $('#positionName option:selected').text();
        // var positionNames = ""
        // if (positionName == "--请选择--") {
        //     positionName = positionNames;
        // }
        var positionId = $('#positionId option:selected').text();
        // var positionIds = ""
        // if (positionId == "--请选择--") {
        //     positionId = positionIds;
        // }
        $(".val").remove();
        $.ajax({
            url: '/kucun/stock/selectKc',
            type: 'post',
            dataType: "json",
            data: {
                'goodsNum': goodsNum,
                'goodsCode': goodsCode,
                'goodsName': goodsName,
                'goodsType': goodsType,
                'mfrsname': mfrsname,
                'brandname': brandname,
                'retailPrice': retailPrice,
                'retailPrice2': retailPrice2,
                'xsstate': xsstate,
                'positionId': positionId,
                // 'positionName': positionName,
                'classtype': classtype
            },
            success: function (xml) {
                for (var i = 0; i < xml.length; i++) {
                    $(".buyBtns").append("<tr class='val'>" +
                        "            <td>" + xml[i].goodsNum + "</td>\n" +
                        "            <td>" + xml[i].goodsCode + "</td>\n" +
                        "            <td>" + xml[i].goodsName + "</td>\n" +
                        "            <td>" + xml[i].goodsCount + "</td>\n" +
                        "            <td>" + xml[i].gdname + "</td>\n" +
                        "            <td>" + xml[i].mfrsname + "</td>\n" +
                        "            <td>" + xml[i].retailPrice + "</td>\n" +
                        "            <td>" + xml[i].priceSum + "</td>\n" +
                        "            <td>" + xml[i].costPrice + "</td>\n" +
                        "            <td>" + xml[i].costSum + "</td>\n" +
                        "            <td>" + xml[i].wholePrice + "</td>\n" +
                        "            <td>" + xml[i].wholeSum + "</td>\n" +
                        "            <td>" + xml[i].positionName + "</td></tr>>");
                }
            }
        })
    }

    function positionChange() {
        var xsstate=$("input[name='xsstate']:checked").val();
        alert(xsstate)
        $(".cw").remove();
        $.ajax({
            url: '/kucun/stock/selectPosion',
            type: 'post',
            dataType: "json",
            data: {
                'xsstate': xsstate
            },
            success: function (datajson) {
                $(datajson).each(function (key) {  //循环读取后台传来的Json数据
                    var id = datajson[key].positionId;   //角色id
                    var roleName = datajson[key].positionName; //角色名称
                    $("#positionId").append("<option class='cw' value='" + id + "'>" + roleName + "</option>");
                });
            }
        });
    }

    //清空
    function clearText() {
        var controls = document.getElementsByTagName('input');
        for (var i = 0; i < controls.length; i++) {
            if (controls[i].type == 'text') {
                controls[i].value = '';
            }
        }
    }
</script>

</body>
</html>
