<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>库存查询</title>
    <link rel="stylesheet" href="/css/css.css" type="text/css">
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<!--查询条件-->
<div class="m40 tabS msgBox">
    <h3>查询条件</h3>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>商品代码：</td>
            <td>
                <input id="goodsNum" name="goodsNum" type="text">
            </td>
            <td>商品条码：</td>
            <td>
                <input id="goodsCode" name="goodsCode" type="text"/>
            </td>
            <td>商品名称：</td>
            <td>
                <input id="goodsName" name="goodsName" type="text"/>
            </td>
        </tr>
        <tr>
            <td>商品类型：</td>
            <td>
                <select id="goodsType" name="goodsType" onchange="selectgoods()">
                    <option value="">--请选择--</option>
                    <option th:each="ls:${goodsDOList}"
                            th:text="${ls.goodsname}"
                            th:value="${ls.goodsid}"></option>
                </select>
                <div id="jp" style="display: none">
                    <label class="radio-inline">
                        <input type="radio" name="classtype"  value="1" /> 成品片
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="classtype" value="2" /> 订做片
                    </label>
                </div>
                <!--<div id="yx" style="display: none">-->
                    <!--<label class="radio-inline">-->
                        <!--<input type="radio" name="classtype"  value="3" /> 成品片-->
                    <!--</label>-->
                    <!--<label class="radio-inline">-->
                        <!--<input type="radio" name="classtype" value="4" /> 订做片-->
                    <!--</label>-->
                <!--</div>-->
            </td>
            <td>制造商：</td>
            <td>
                <input id="mfrsid" name="mfrsid" type="hidden" value=""/>
                <input id="mfrsname" name="mfrsname" type="text" readonly/>
                <input type="button" class="XZ-btn" value="选择" onclick="choiceMfrs()"/>
            </td>
            <td>商品品种：</td>
            <td>
                <!--<input id="brandnum" name="brandnum" type="hidden" value=""/>-->
                <input id="brandname" name="brandname" type="text" readonly style="background-color: #e4e4e4" />
                <input type="button" class="XZ-btn" value="选择" onclick="choiceBrand()"/>
            </td>
        </tr>
        <tr>
            <td>仓位名称：</td>
            <td>
                <div class="col-sm-8">
                    <label class="radio-inline">
                        <input type="radio" name="xsstate" value="0" checked onchange="positionChange()"/> 启用仓
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="xsstate" value="1" onchange="positionChange()"/> 停用仓
                    </label>
                </div>
                <span>
					<select id="positionId" name="positionId">
                        <option></option>
                    </select>
				</span>
            </td>
            <!--<td>经销方式：</td>-->
            <!--<td>-->
            <!--<select>-->
            <!--<option value="">&#45;&#45;请选择&#45;&#45;</option>-->
            <!--</select>-->
            <!--</td>-->
            <!--<td>商品状态</td>-->
            <!--<td>-->
            <!--<select>-->
            <!--<option value="">&#45;&#45;请选择&#45;&#45;</option>-->
            <!--</select>-->
            <!--</td>-->
        </tr>
        <tr>
            <td>标准零售价格：</td>
            <td>
                <input id="retailPrice" name="retailPrice" type="text"/> ~ <input name="retailPrice2" type="text"/>
            </td>
        </tr>
    </table>
    <!--保存/清空-->
    <div class="BQ-btn">
        <input type="button" value="查询" onclick="reLoad()"/>
        <input type="button" class="empty" value="清空" onclick="clearText()"/>
    </div>
</div>

<!--商品信息-->
<div class="m40 tabS msgBoxDD">
<!--    <table border="0" cellspacing="0" cellpadding="0" class="buyBtns">-->
<!--        <tbody>-->
<!--        <tr class="thead">-->
<!--            <td>商品代码</td>-->
<!--            <td>商品条码</td>-->
<!--            <td>商品名称</td>-->
<!--            <td>数量</td>-->
<!--            <td>商品类别</td>-->
<!--            <td>制造商</td>-->
<!--            <td>标准零售价</td>-->
<!--            &lt;!&ndash;<td>原价合计</td>&ndash;&gt;-->
<!--            &lt;!&ndash;<td>成本价格</td>&ndash;&gt;-->
<!--            &lt;!&ndash;<td>成本合计</td>&ndash;&gt;-->
<!--            &lt;!&ndash;<td>批发价格</td>&ndash;&gt;-->
<!--            &lt;!&ndash;<td>批发合计</td>&ndash;&gt;-->
<!--            <td>仓位</td>-->
<!--        </tr>-->
<!--        &lt;!&ndash;<tr>&ndash;&gt;-->
<!--            &lt;!&ndash;<td colspan="3">页内合计：</td>&ndash;&gt;-->
<!--            &lt;!&ndash;<td>45684</td>&ndash;&gt;-->
<!--            &lt;!&ndash;<td colspan="5"></td>&ndash;&gt;-->
<!--            &lt;!&ndash;<td>0.00</td>&ndash;&gt;-->
<!--            &lt;!&ndash;<td></td>&ndash;&gt;-->
<!--            &lt;!&ndash;<td>55555555</td>&ndash;&gt;-->
<!--            &lt;!&ndash;<td></td>&ndash;&gt;-->
<!--        &lt;!&ndash;</tr>&ndash;&gt;-->
<!--        </tbody>-->
<!--    </table>-->
    <table id="exampleTable" data-mobile-responsive="true"></table>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript">
    $(document).ready(function () {
        //var xsstate=$("input[name='xsstate']:checked").val();
        var positionId = $('#positionId option:selected').val();
        var xsstate = 0;
        $(".cw").remove();
        $.ajax({
            url: '/kucun/stock/selectPosion',
            type: 'post',
            dataType: "json",
            data: {
                'xsstate': xsstate
            },
            success: function (position) {
                for (var i = 0; i < position.length; i++) {
                    $("#positionId").append("" +
                        "<option class='cw' value='"+ position[i].positionId +"'>" + position[i].positionName + "</option>");
                }
            }
        });
        $(function () {
            load();
        });

        function load() {
            $('#exampleTable')
                .bootstrapTable(
                    {
                        method: 'get', // 服务器数据的请求方式 get or post
                        url: '/kucun/stock/selectKc', // 服务器数据的加载地址
                        //	showRefresh : true,
                        //	showToggle : true,
                        //	showColumns : true,
                        iconSize: 'outline',
                        toolbar: '#exampleToolbar',
                        striped: true, // 设置为true会有隔行变色效果
                        dataType: "json", // 服务器返回的数据类型
                        pagination: true, // 设置为true会在底部显示分页条
                        // queryParamsType : "limit",
                        // //设置为limit则会发送符合RESTFull格式的参数
                        singleSelect: false, // 设置为true将禁止多选
                        // contentType : "application/x-www-form-urlencoded",
                        // //发送到服务器的数据编码类型
                        pageSize: 10, // 如果设置了分页，每页数据条数
                        pageNumber: 1, // 如果设置了分布，首页页码
                        //search : true, // 是否显示搜索框
                        showColumns: false, // 是否显示内容下拉框（选择显示的列）
                        sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
                        queryParams: function (params) {
                            return {
                                //说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                                limit: params.limit,
                                offset: params.offset,
                                xsstate: $('#xsstate').val(),
                                positionId: $('#positionId').val(),
                                goodsNum : $("#goodsNum").val(),
                                goodsCode : $("#goodsCode").val(),
                                goodsName : $("#goodsName").val(),
                                goodsType : $("#goodsType option:selected").val(),
                                mfrsname : $("#mfrsname").val(),
                                brandname : $("#brandname").val(),
                                retailPrice : $("*[name='retailPrice']").val(),
                                retailPrice2 : $("*[name='retailPrice2']").val(),
                                xsstate : $("input[name='xsstate']:checked").val(),
                                positionId : $('#positionId option:selected').val()
                                // name:$('#searchName').val(),
                                // username:$('#searchName').val()
                            };
                        },
                        // //请求服务器数据时，你可以通过重写参数的方式添加一些额外的参数，例如 toolbar 中的参数 如果
                        // queryParamsType = 'limit' ,返回参数必须包含
                        // limit, offset, search, sort, order 否则, 需要包含:
                        // pageSize, pageNumber, searchText, sortName,
                        // sortOrder.
                        // 返回false将会终止请求
                        columns: [
                            // {
                            //     checkbox: true
                            // },
                            								{
                            	field : 'goodsNum',
                            	title : '商品代码'
                            },
                            {
                                field: 'goodsCode',
                                title: '商品条码'
                            },
                            {
                                field: 'goodsName',
                                title: '商品名称'
                            },

                            {
                                field: 'goodsCount',
                                title: '数量'
                            },

                            {
                                field: 'gdname',
                                title: '商品类别'
                            },
                            {
                                field: 'mfrsname',
                                title: '制造商'
                            },
                             {
                                field: 'retailPrice',
                                title: '标准零售价'
                            },{
                                field: 'positionName',
                                title: '仓位'
                            }

                            ]
                    });

        }
    });
    <!--选择制造商-->
    function choiceMfrs() {
        var goodsid = document.getElementById('goodsType').value;
        if (goodsid == "") {
            layer.alert("请选择商品类型！");
        } else {
            //选择镜架
            var toIndex = layer.open({
                type: 2,
                title: '制造商',
                maxmin: true,
                shadeClose: false, // 点击遮罩关闭层
                area: ['800px', '520px'],
                content: "/product/produca/findmfrs/" + goodsid,// iframe的url
                cancel: function (index, layero) {
                    var rows = $(layero).find("iframe")[0].contentWindow.batchSelect();
                    for (var i = 0; i < rows.length; i++) {
                        $("#mfrsname").val(rows[i].mfrsname);
                        $("#mfrsid").val(rows[i].mfrsid);
                        // $("#mfrsNames").val(rows[i].mfrsname);
                    }
                }
            });
            layer.full(toIndex);
        }
    }
    function choiceBrand() {
        var goodsid = document.getElementById('goodsType').value;
        var mfrsid = document.getElementById('mfrsid').value;
        if (mfrsid == "") {
            layer.alert("请选择制造商！");
        } else {
            //选择镜架
            var toIndex = layer.open({
                type: 2,
                title: '商品品种',
                maxmin: true,
                shadeClose: false, // 点击遮罩关闭层
                area: ['800px', '520px'],
                content: "/product/produca/findbrand/" + mfrsid+"/"+goodsid,// iframe的url
                cancel: function (index, layero) {
                    var rows = $(layero).find("iframe")[0].contentWindow.batchSelect();
                    for (var i = 0; i < rows.length; i++) {
                        $("#brandname").val(rows[i].brandname);
                        $("#brandnum").val(rows[i].brandnum);
                        // $("#brandNames").val(rows[i].brandname);
                    }
                }
            });
            layer.full(toIndex);
        }
    }
    function selectgoods() {
        var goodsType = $("#goodsType option:selected").val();
        if (goodsType == 1){
            jp.style = "display: none";
        }else if (goodsType == 2){
            jp.style = "display: none";
        }else if (goodsType == 3){
            jp.style = "display: block";
        }else if (goodsType == 4){
            jp.style = "display: block";
        }else if (goodsType == 5){
            jp.style = "display: none";
        }else if (goodsType == 6){
            jp.style = "display: none";
        }else if (goodsType == 7){
            jp.style = "display: none";
        }else if (goodsType == 8){
            jp.style = "display: none";
        }else if (goodsType == 9){
            jp.style = "display: none";
        }
    }
    // function getall() {
    //
    //     if (goodsType == 1){
    //      var  classtype ="";
    //     } else if (goodsType == 2){
    //         var  classtype ="";
    //     } else if (goodsType == 3){
    //         var classtype=$("input[name='classtype']:checked").val();
    //     } else if (goodsType == 4){
    //         var classtype=$("input[name='classtype']:checked").val();
    //     } else if (goodsType == 5){
    //         var  classtype ="";
    //     } else if (goodsType == 6){
    //         var  classtype ="";
    //     } else if (goodsType == 7){
    //         var  classtype ="";
    //     } else if (goodsType == 8){
    //         var  classtype ="";
    //     } else if (goodsType == 9){
    //         var  classtype ="";
    //     }
    //
    //     $(".val").remove();
    //    reLoad();
    // }
    function reLoad() {
        if (goodsType == 1){
            var  classtype ="";
        } else if (goodsType == 2){
            var  classtype ="";
        } else if (goodsType == 3){
            var classtype=$("input[name='classtype']:checked").val();
        } else if (goodsType == 4){
            var classtype=$("input[name='classtype']:checked").val();
        } else if (goodsType == 5){
            var  classtype ="";
        } else if (goodsType == 6){
            var  classtype ="";
        } else if (goodsType == 7){
            var  classtype ="";
        } else if (goodsType == 8){
            var  classtype ="";
        } else if (goodsType == 9){
            var  classtype ="";
        }

        $(".val").remove();
        $('#exampleTable').bootstrapTable('refresh');
    }
    function positionChange() {
        var xsstate=$("input[name='xsstate']:checked").val();
        $(".cw").remove();
        $.ajax({
            url: '/kucun/stock/selectPosion',
            type: 'post',
            dataType: "json",
            data: {
                'xsstate': xsstate
            },
            success: function (datajson) {
                $(datajson).each(function (key) {  //循环读取后台传来的Json数据
                    var id = datajson[key].positionId;   //角色id
                    var roleName = datajson[key].positionName; //角色名称
                    $("#positionId").append("<option class='cw' value='" + id + "'>" + roleName + "</option>");
                });
            }
        });
    }

    //清空
    function clearText() {
        var controls = document.getElementsByTagName('input');
        for (var i = 0; i < controls.length; i++) {
            if (controls[i].type == 'text') {
                controls[i].value = '';
            }
        }
    }
</script>

</body>
</html>
