<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>库存查询</title>
    <link rel="stylesheet" href="/css/css.css" type="text/css">
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<!--查询条件-->
<div class="m40 tabS msgBox">
    <h3>查询条件</h3>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>商品代码：</td>
            <td>
                <input id="goodsNum" name="goodsNum" type="text">
            </td>
            <td>商品条码：</td>
            <td>
                <input id="goodsCode" name="goodsCode" type="text"/>
            </td>
            <td>商品名称：</td>
            <td>
                <input id="goodsName" name="goodsName" type="text"/>
            </td>
        </tr>
        <tr>
            <td>商品类型：</td>
            <td>
                <select id="goodsType" name="goodsType"
                        onchange="goodsidstr()">
                    <option value="">--请选择--</option>
                    <option th:each="ls:${goodsDOList}"
                            th:text="${ls.goodsname}"
                            th:value="${ls.goodsid}"></option>
                </select>
            </td>
            <td>制造商：</td>
            <td>
                <input id="mfrsid" name="mfrsid" type="hidden"/>
                <input id="mfrsName" name="mfrsName" type="text" readonly/>
                <input type="button" class="XZ-btn" value="选择" onclick="choiceMfrs()"/>
            </td>
            <td>商品品种：</td>
            <td>
                <input type="text"/>
                <input type="button" class="XZ-btn" value="选择"/>
            </td>
        </tr>
        <tr>
            <td>仓位名称：</td>
            <td>

                <label class="radio-inline">
                    <input type="radio" name="" value="1"/> 启用仓
                </label>
                <label class="radio-inline">
                    <input type="radio" name="" value="2"/> 停用仓
                </label>
                <span>
					<select>
						<option value="">--请选择--</option>
					</select>
				</span>
            </td>
            <!--<td>经销方式：</td>-->
            <!--<td>-->
            <!--<select>-->
            <!--<option value="">&#45;&#45;请选择&#45;&#45;</option>-->
            <!--</select>-->
            <!--</td>-->
            <!--<td>商品状态</td>-->
            <!--<td>-->
            <!--<select>-->
            <!--<option value="">&#45;&#45;请选择&#45;&#45;</option>-->
            <!--</select>-->
            <!--</td>-->
        </tr>
        <tr>
            <td>标准零售价格：</td>
            <td>
                <input type="text"/> ~ <input type="text"/>
            </td>
        </tr>
    </table>
    <!--保存/清空-->
    <div class="BQ-btn">
        <input type="button" value="查询" onclick="getall()"/>
        <input type="button" class="empty" value="清空"/>
    </div>
</div>

<!--商品信息-->
<div class="m40 tabS msgBoxDD">
    <table border="0" cellspacing="0" cellpadding="0" class="buyBtns">
        <tbody>
        <tr class="thead">
            <td>商品代码</td>
            <td>商品条码</td>
            <td>商品名称</td>
            <td>数量</td>
            <td>商品类别</td>
            <td>制造商</td>
            <td>标准零售价</td>
            <td>原价合计</td>
            <td>成本价格</td>
            <td>成本合计</td>
            <td>批发价格</td>
            <td>批发合计</td>
            <td>仓位</td>
        </tr>
        <tr>
            <td colspan="3">页内合计：</td>
            <td>45684</td>
            <td colspan="5"></td>
            <td>0.00</td>
            <td></td>
            <td>55555555</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".val").remove();
        $.ajax({
            url: '/kucun/stock/selectKc',
            type: 'post',
            dataType: "json",
            data: {},
            success: function (xml) {
                for (var i = 0; i < xml.length; i++) {
                    $(".buyBtns").append("<tr class='val'>" +
                        "            <td>" + xml[i].goodsNum + "</td>\n" +
                        "            <td>" + xml[i].goodsCode + "</td>\n" +
                        "            <td>" + xml[i].goodsName + "</td>\n" +
                        "            <td>" + xml[i].goodsCount + "</td>\n" +
                        "            <td>" + xml[i].gdname + "</td>\n" +
                        "            <td>" + xml[i].mfrsname + "</td>\n" +
                        "            <td>" + xml[i].retailPrice + "</td>\n" +
                        "            <td>" + xml[i].priceSum + "</td>\n" +
                        "            <td>" + xml[i].costPrice + "</td>\n" +
                        "            <td>" + xml[i].costSum + "</td>\n" +
                        "            <td>" + xml[i].wholePrice + "</td>\n" +
                        "            <td>" + xml[i].wholeSum + "</td>\n" +
                        "            <td>" + xml[i].positionName + "</td></tr>>");
                }
            }
        })
    });

    function getall() {
        var goodsNum = $("#goodsNum").val();
        var goodsCode = $("#goodsCode").val();
        var goodsName = $("#goodsName").val();
        var goodsType = $("#goodsType option:selected").val();
        var mfrsid = $("#mfrsid").val();
        var brandid = $("#brandid").val();
        $(".val").remove();
        $.ajax({
            url: '/kucun/stock/selectKc',
            type: 'post',
            dataType: "json",
            data: {
                'goodsNum': goodsNum,
                'goodsCode': goodsCode,
                'goodsName': goodsName,
                'goodsType': goodsType,
                'mfrsid': mfrsid,
                'brandid': brandid
            },
            success: function (xml) {
                for (var i = 0; i < xml.length; i++) {
                    $(".buyBtns").append("<tr class='val'>" +
                        "            <td>" + xml[i].goodsNum + "</td>\n" +
                        "            <td>" + xml[i].goodsCode + "</td>\n" +
                        "            <td>" + xml[i].goodsName + "</td>\n" +
                        "            <td>" + xml[i].goodsCount + "</td>\n" +
                        "            <td>" + xml[i].gdname + "</td>\n" +
                        "            <td>" + xml[i].mfrsname + "</td>\n" +
                        "            <td>" + xml[i].retailPrice + "</td>\n" +
                        "            <td>" + xml[i].priceSum + "</td>\n" +
                        "            <td>" + xml[i].costPrice + "</td>\n" +
                        "            <td>" + xml[i].costSum + "</td>\n" +
                        "            <td>" + xml[i].wholePrice + "</td>\n" +
                        "            <td>" + xml[i].wholeSum + "</td>\n" +
                        "            <td>" + xml[i].positionName + "</td></tr>>");
                }
            }
        })
    }
</script>

</body>
</html>
