<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>商品查询</title>
    <link rel="stylesheet" href="css/css.css" type="text/css">
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<!--查询条件-->
<div class="m40 tabS msgBox">
    <h3>查询条件</h3>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>商品代码：</td>
            <td>
                <input id="producNum" name="producNum" type="text">
            </td>
            <td>商品条码：</td>
            <td>
                <input id="producCode" name="producCode" type="text"/>
            </td>
            <td>商品名称：</td>
            <td>
                <input id="producName" name="producName" type="text"/>
            </td>
        </tr>
        <tr>
            <td>制造商：</td>
            <td>
                <input type="text" th:value="${mfrsname}" readonly/>
                <input id="mfrsid" type="hidden" th:value="${mfrsid}"/>
            </td>
            <td>商品品种：</td>
            <td>
                <input type="text"/>
                <input type="button" class="XZ-btn" value="选择"/>
            </td>
        </tr>
        <tr>
            <td>商品类别：</td>
            <td>
                <select disabled>
                    <option>老花镜</option>
                </select>
            </td>
            <td>新增时间：</td>
            <td>
                <input type="text" value="2021"/>至
                <input type="text" value="2021"/>
            </td>
        </tr>
        <tr>
            <td>老花镜度数：</td>
            <td>
                <input type="text"/>至
                <input type="text"/>
            </td>
            <td>厂家色号：</td>
            <td>
                <input type="text"/>
            </td>
            <td>镜架尺寸：</td>
            <td>
                <input type="text"/>
            </td>
        </tr>
        <tr>
            <td>型号：</td>
            <td>
                <input type="text"/>
            </td>
        </tr>
        <tr>
            <td>厂家型号：</td>
            <td>
                <input type="text"/>
            </td>
        </tr>
        <tr>
            <td>标准零售价格：</td>
            <td>
                <select name="" id="">
                    <option value="">已设置零售价</option>
                    <option value="">未设置零售价</option>
                </select>
                <input type="text"/> ~ <input type="text"/>
            </td>
        </tr>
    </table>
    <!--保存/清空-->
    <div class="BQ-btn">
        <input type="button" value="查询"/>
        <input type="button" class="empty" value="清空"/>
    </div>
</div>

<!--商品信息-->
<div class="m40 tabS msgBoxDD">
    <table border="0" cellspacing="0" cellpadding="0" class="buyBtns">
        <tbody>
        <tr class="thead">
            <td>全选 <input type="checkbox"/></td>
            <td>商品代码</td>
            <td>商品名称</td>
            <td>型号</td>
            <td>厂家型号</td>
            <td>单位</td>
            <td>标准零售价格</td>
            <td>含税成本</td>
            <td>老花镜度数</td>
            <td>厂家色号</td>
            <td>镜架尺寸</td>
        </tr>
        <tr>
            <td><input type="checkbox"/></td>
            <td>2.32.000002300.068</td>
            <td>聊城配件名称</td>
            <td></td>
            <td></td>
            <td>片</td>
            <td>0.00</td>
            <td>388.00</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
