<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button shiro:hasPermission="stock:stock:add" type="button" class="btn  btn-primary"
                                onclick="add()">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加
                        </button>
                        <button shiro:hasPermission="stock:stock:information" type="button" class="btn  btn-default" onclick="importtemplate()">
                            批量导入
                        </button>
                        <button shiro:hasPermission="stock:stock:adddz" type="button" class="btn  btn-primary" onclick="adddz()">
                            订做片新增
                        </button>
                        <button shiro:hasPermission="stock:stock:batchRemove" type="button" class="btn  btn-danger"
                                onclick="batchRemove()">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                    </div>
                    <div class="columns pull-right">
                        <button class="btn btn-success" onclick="reLoad()">查询</button>
                    </div>
                    <div class="columns pull-right col-md-2 nopadding">
                        <input id="danjuNumber" type="text" class="form-control"
                               placeholder="单据编号">
                    </div>
                    <div class="columns pull-right col-md-2 nopadding">
                        <select name="goodsid" id="goodsid" class="form-control" data-actions-box="false"
                                data-size="5">
                            <option value="">--请选择商品类型--</option>
                            <option value="镜架">镜架</option>
                            <option value="配件">配件</option>
                            <option value="镜片">镜片</option>
                            <option value="订做镜片">订做镜片</option>
                            <option value="隐形">隐形</option>
                            <option value="订做隐形">订做隐形</option>
                            <option value="护理液">护理液</option>
                            <option value="太阳镜">太阳镜</option>
                            <option value="老花镜">老花镜</option>
                            <option value="耗材">耗材</option>
                            <option value="视光">视光</option>

                        </select>
                        <input id="classtype" type="hidden" value="" />
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
        var s_detial_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="stock:stock:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="stock:stock:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="stock:stock:resetPwd">
    <script type="text/javascript">
        var s_resetPwd_h = '';
    </script>
</div>
<div shiro:hasPermission="stock:stock:detial">
    <script type="text/javascript">
        var s_detial_h = '';
    </script>
</div>
<div shiro:hasPermission="stock:stock:information">
    <script type="text/javascript">
        var s_information_h = '';
    </script>
</div>
<div shiro:hasPermission="stock:stock:adddz">
    <script type="text/javascript">
        var s_addz_h = '';
    </script>
</div>
</div>
<div th:include="include :: footer"></div>
<!--订单列表-->
<script type="text/javascript" src="/js/appjs/stock/order/order.js"></script>

<!--操作-->
<script type="text/javascript" src="/js/appjs/stock/stock/stock.js"></script>
</body>
</html>