<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>商品查询</title>
    <link rel="stylesheet" href="/css/css.css" type="text/css">
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<!--查询条件-->
<div class="m40 tabS msgBox">
    <h3>查询条件</h3>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>商品代码：</td>
            <td>
                <input id="producNum" name="producNum" type="text">
            </td>
            <td>商品条码：</td>
            <td>
                <input id="producCode" name="producCode" type="text"/>
            </td>
            <td>商品名称：</td>
            <td>
                <input id="producName" name="producName" type="text"/>
            </td>
        </tr>
        <tr>
            <td>制造商：</td>
            <td>
                <input type="text" th:value="${mfrsname}" readonly/>
                <input id="mfrsid" type="hidden" th:value="${mfrsid}"/>
            </td>
            <td>商品品种：</td>
            <td>
                <input type="text" th:value="${brandname}" readonly/>
                <input id="brandid" type="hidden" th:value="${brandid}"/>
                <input type="button" class="XZ-btn" value="选择"/>
            </td>
        </tr>
        <tr>
            <td>商品类别：</td>
            <td>
                <select disabled>
                    <option>隐形</option>
                </select>
            </td>
            <td>新增时间：</td>
            <td>
                <input type="text" value="2021"/>至
                <input type="text" value="2021"/>
            </td>
        </tr>
        <tr>
            <td>球镜范围：</td>
            <td>
                <input type="text"/>至<input type="text"/>
            </td>
            <td>柱镜范围：</td>
            <td>
                <input type="text"/>至<input type="text"/>
            </td>
            <td>曲率：</td>
            <td>
                <input type="text"/>
            </td>
        </tr>
        <tr>
            <td>直径：</td>
            <td>
                <input type="text"/>
            </td>
            <td>使用类型：</td>
            <td>
                <select>
                    <option value="">请选择</option>
                </select>
            </td>
            <td>抛弃型分类：</td>
            <td>
                <select>
                    <option value="">请选择</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>订做类型：</td>
            <td>
                <select id="dzlx" style="width: 80%">
                    <option value="成品片">成品片</option>
                    <option value="定做片">定做片</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>型号：</td>
            <td>
                <input type="text"/>
            </td>
            <td>厂家型号：</td>
            <td>
                <input type="text"/>
            </td>
        </tr>
        <tr>
            <td>标准零售价格：</td>
            <td>
                <input type="text"/> ~ <input type="text"/>
            </td>
        </tr>
    </table>
    <!--保存/清空-->
    <div class="BQ-btn">
        <input type="button" value="查询" onclick="getYinxing()"/>
        <input type="button" class="empty" value="清空"/>
    </div>
</div>

<!--商品信息-->
<div class="m40 tabS msgBoxDD">
    <table border="0" cellspacing="0" cellpadding="0" class="buyBtns" id="buyBtns">
        <tbody>
        <tr class="thead">
            <td>多选</td>
            <td>商品代码</td>
            <td>商品名称</td>
            <td>单位</td>
            <td>厂家型号</td>
            <td>标准零售价格</td>
            <td>含税成本</td>
            <td>球镜</td>
            <td>柱镜</td>
            <td>曲率</td>
            <td>直径</td>
            <td>使用类型</td>
            <td>抛弃型分类</td>
            <td style="display: none">批发价格</td>
            <td style="display: none">调货成本</td>
            <td style="display: none">商品条码</td>
            <td style="display: none">商品品种</td>
        </tr>
        </tbody>
    </table>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/stock/stock/stock.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var mfrsid = $("#mfrsid").val();
        $(".val").remove();
        $.ajax({
            url: '/stock/stock/selectYxcp',
            type: 'post',
            dataType: "json",
            data: {
                'mfrsid': mfrsid
            },
            success: function (xml) {
                for (var i = 0; i < xml.length; i++) {
                    $(".buyBtns").append("<tr class='val'> <td><input name='one'  type=\"checkbox\"/></td>\n" +
                        "            <td name='producNum'>" + xml[i].producNum + "</td>\n" +
                        "            <td name='producName'>" + xml[i].producName + "</td>\n" +
                        "            <td name='unitname'>" + xml[i].unitname + "</td>\n" +
                        "            <td name='factory'>" + xml[i].factory + "</td>\n" +
                        "            <td name='retailPrice'>" + xml[i].retailPrice + "</td>\n" +
                        "            <td name='taxPrice'>" + xml[i].taxPrice + "</td>\n" +
                        "            <td name='sph'>" + xml[i].sph + "</td>\n" +
                        "            <td name='cyl'>" + xml[i].cyl + "</td>\n" +
                        "            <td name='curvature'>" + xml[i].curvature + "</td>\n" +
                        "            <td name='diameter'>" + xml[i].diameter + "</td>\n" +
                        "            <td name='usageName'>" + xml[i].usageName + "</td>\n" +
                        "            <td name='typeName'>" + xml[i].typeName + "</td>\n" +
                        "            <td name='tradePrice'style='display: none'>" + xml[i].tradePrice + "</td>\n" +
                        "            <td name='transferPrice'style='display: none'>" + xml[i].transferPrice + "</td>\n" +
                        "            <td name='producCode'style='display: none'>" + xml[i].producCode + "</td>\n" +
                        "            <td name='brandname' style='display: none'>" + xml[i].brandname + "</td></tr>>");
                }
            }
        })
    });

    function getYinxing() {
        $(".val").remove();
        $(" .valYxcp").remove();
        $(" .valYxdz").remove();
        var dzlx = $("#dzlx option:selected").val();
        if (dzlx == "成品片") {
            var mfrsid = $("#mfrsid").val();
            $.ajax({
                url: '/stock/stock/selectYxcp',
                type: 'post',
                dataType: "json",
                data: {
                    'mfrsid': mfrsid
                },
                success: function (xml) {
                    for (var i = 0; i < xml.length; i++) {
                        $(".buyBtns").append("<tr class='valYxcp'> <td><input name='one'  type=\"checkbox\"/></td>\n" +
                            "            <td name='producNum'>" + xml[i].producNum + "</td>\n" +
                            "            <td name='producName'>" + xml[i].producName + "</td>\n" +
                            "            <td name='unitname'>" + xml[i].unitname + "</td>\n" +
                            "            <td name='factory'>" + xml[i].factory + "</td>\n" +
                            "            <td name='retailPrice'>" + xml[i].retailPrice + "</td>\n" +
                            "            <td name='taxPrice'>" + xml[i].taxPrice + "</td>\n" +
                            "            <td name='sph'>" + xml[i].sph + "</td>\n" +
                            "            <td name='cyl'>" + xml[i].cyl + "</td>\n" +
                            "            <td name='curvature'>" + xml[i].curvature + "</td>\n" +
                            "            <td name='diameter'>" + xml[i].diameter + "</td>\n" +
                            "            <td name='usageName'>" + xml[i].usageName + "</td>\n" +
                            "            <td name='typeName'>" + xml[i].typeName + "</td>\n" +
                            "            <td name='tradePrice'style='display: none'>" + xml[i].tradePrice + "</td>\n" +
                            "            <td name='transferPrice'style='display: none'>" + xml[i].transferPrice + "</td>\n" +
                            "            <td name='producCode'style='display: none'>" + xml[i].producCode + "</td>\n" +
                            "            <td name='brandname' style='display: none'>" + xml[i].brandname + "</td></tr>>");
                    }
                }
            })
        } else if (dzlx == "定做片") {
            $(".val").remove();
            $(" .valYxcp").remove();
            $(" .valYxdz").remove();
            var mfrsid = $("#mfrsid").val();
            $.ajax({
                url: '/stock/stock/selectYxdz',
                type: 'post',
                dataType: "json",
                data: {
                    'mfrsid': mfrsid
                },
                success: function (xml) {
                    for (var i = 0; i < xml.length; i++) {
                        $(".buyBtns").append("<tr class='valYxdz'> <td><input name='one'  type=\"checkbox\"/></td>\n" +
                            "            <td name='producNum'>" + xml[i].producNum + "</td>\n" +
                            "            <td name='producName'>" + xml[i].producName + "</td>\n" +
                            "            <td name='unitname'>" + xml[i].unitname + "</td>\n" +
                            "            <td name='factory'>" + xml[i].factory + "</td>\n" +
                            "            <td name='retailPrice'>" + xml[i].retailPrice + "</td>\n" +
                            "            <td name='taxPrice'>" + xml[i].taxPrice + "</td>\n" +
                            "            <td name='sph'>" + xml[i].sphUp + "/" + xml[i].sphDown + "</td>\n" +
                            "            <td name='cyl'>" + xml[i].cylUp + "/" + xml[i].cylDown + "</td>\n" +
                            "            <td name='curvature'>" + xml[i].curvatureOne + "/" + xml[i].curvatureYi + "</td>\n" +
                            "            <td name='diameter'>" + xml[i].diameterOne + "/" + xml[i].diameterYi + "</td>\n" +
                            "            <td name='usageName'>" + xml[i].usageName + "</td>\n" +
                            "            <td name='typeName'>" + xml[i].typeName + "</td>\n" +
                            "            <td name='tradePrice'style='display: none'>" + xml[i].tradePrice + "</td>\n" +
                            "            <td name='transferPrice'style='display: none'>" + xml[i].transferPrice + "</td>\n" +
                            "            <td name='producCode'style='display: none'>" + xml[i].producCode + "</td>\n" +
                            "            <td name='brandname' style='display: none'>" + xml[i].brandname + "</td></tr>>");
                    }
                }
            })
        }
    }

</script>
</body>
</html>
