<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.report.dao.SaleReportDao">
	<!-- 收银员工作量统计表 -->
	<select id="findSaleReport" resultType="com.shiguang.storeSales.domain.SalesDO">
		SELECT
		goodsNum,
		amountMoney,
		primeMoney,
		additionalCost,
		additionalPrice,
		additionalCount,
		storeDescribe,
		storeUnit,
		storeCount,
		saleNum,
		isSale,
		payMoney,
		departNumber,
		companyId,
		settleDate,
		saleName,
		saleNumber,
		type
		from
		(
		SELECT
		ss.`goods_num` as goodsNum,
		ss.`amount_money` as amountMoney,
		ss.`prime_money` as primeMoney,
		ss.`additional_cost` as additionalCost,
		ss.`additional_price` as additionalPrice,
		ss.`additional_count` as additionalCount,
		ss.`store_describe` as storeDescribe,
		ss.`store_unit` as storeUnit,
		ss.`store_count` as storeCount,
		su.`username` AS saleNum,
		c.is_sale AS isSale,
		s.`pay_money` AS payMoney,
		d.depart_number as departNumber,
		d.company_id as companyId,
		s.settle_date as settleDate,
		s.sale_name as saleName,
		s.sale_number as saleNumber,
		c.type
		FROM
		store_sales ss
		JOIN settlement s ON s.sale_number = ss.sale_number
		JOIN department d ON d.depart_number = ss.store_num
		JOIN sys_user su ON su. NAME = s.sale_name
		join cost c on c.sale_number = s.sale_number
		union
		SELECT
		'' as goodsNum,
		'' as amountMoney,
		'' as primeMoney,
		'' as additionalCost,
		'' as additionalPrice,
		'' as additionalCount,
		'' as storeDescribe,
		'' as storeUnit,
		'' as storeCount,
		su.`username` AS saleNum,
		c.is_sale AS isSale,
		s.`pay_money` AS payMoney,
		m.depart_number as departNumber,
		d.company_id as companyId,
		s.settle_date as settleDate,
		s.sale_name as saleName,
		s.sale_number as saleNumber,
		c.type
		from cost c
		JOIN settlement s ON s.sale_number = c.sale_number
		join member m on m.card_number = s.member_number
		JOIN sys_user su ON su. NAME = s.sale_name
		join department d on d.depart_number = m.depart_number) a
		<where>
		<if test="departNumber != null and departNumber != ''"> and departNumber = #{departNumber} </if>
		<if test="companyid !=null and companyid != ''">and companyId in (#{companyid})</if>
			<if test="saleNum != null and saleNum !=''">and saleNum = #{saleNum}</if>
		<if test="settleDateStart !=null and settleDateStart != ''">and date_format(settleDate ,'%Y-%m-%d' ) >= #{settleDateStart}</if>
			<if test="settleDateEnd !=null and settleDateEnd != ''">and date_format(settleDate ,'%Y-%m-%d' ) &lt;= #{settleDateEnd}</if>
		and (`type`='配镜单' or `type`='定金单' OR `type` = '检查单')
		and isSale != 0
		</where>
		GROUP BY saleNumber


		<!--select ss.`sale_name`,ss.`sale_number`,ss.`goods_num`,ss.`amount_money`,ss.`prime_money`,ss.`additional_cost`,ss.`additional_price`,-->
		<!--ss.`additional_count`,ss.`store_describe`,ss.`store_unit`,ss.`store_count`,su.`username` as saleNum,c.`is_sale` as isSale,s.`pay_money` as payMoney-->
		 <!--from store_sales ss-->
		 <!--join settlement s on s.sale_number = ss.sale_number-->
		 <!--join department d on d.depart_number = ss.store_num-->
		<!--join sys_user su on su.name = ss.sale_name-->
		<!--join cost c on c.sale_number = ss.sale_number-->
		<!--<where>-->
			<!--<if test="departNumber != null and departNumber != ''"> and d.depart_number = #{departNumber} </if>-->
			<!--<if test="companyid !=null and companyid != ''">and d.company_id in (#{companyid})</if>-->
			<!--<if test="settleDate !=null and settleDate != ''">and date_format(s.settle_date ,'%Y-%m-%d' ) = (#{settleDate})</if>-->
			<!--and (c.`type`='配镜单' or c.`type`='定金单')-->
			<!--and c.is_sale != 0-->
		<!--</where>-->
		<!--<choose>-->
			<!--<when test="sort != null and sort.trim() != ''">-->
				<!--order by ${sort} ${order}-->
			<!--</when>-->
			<!--<otherwise>-->
				<!--order by s.`settle_date` desc-->
			<!--</otherwise>-->
		<!--</choose>-->
		<!--<if test="offset != null and limit != null">-->
			<!--limit #{offset}, #{limit}-->
		<!--</if>-->
	</select>
	<select id="findSaleReportCount" resultType="int">
		select count(*)
		from store_sales ss
		join settlement s on s.sale_number = ss.sale_number
		join department d on d.depart_number = ss.store_num
		join sys_user su on su.name = ss.sale_name
		<where>
			<if test="departNumber != null and departNumber != ''"> and d.depart_number = #{departNumber} </if>
			<if test="companyid !=null and companyid != ''">and d.company_id in (#{companyid})</if>
			<if test="settleDate !=null and settleDate != ''">and date_format(s.settle_date ,'%Y-%m-%d' ) = (#{settleDate})</if>
		</where>
	</select>
    <!--查询报表中的检查数和检查费 -->
    <select id="findCostList" resultType="com.shiguang.report.domain.SaleReportDO">
        select count(sale_number) as checkCount ,SUM(cost_money) as checkMoney,is_sale as isSale
        from cost
        <where>
            <if test="saleNumber != null and saleNumber !=''">sale_number = #{saleNumber}</if>
            and `type`='检查单'
			and is_sale != 0
        </where>
        group by sale_number
    </select>

	<!-- 查询中心店的营业员的报表 -->
	<select id="findSaleReportForms" resultType="com.shiguang.settlement.domain.SettlementDO">
		select s.`id`,s.`cost_id`,s.`sale_number`,s.`member_number`,s.`sale_name`,s.`actual_money`,s.`payment_money`,s.`change_money`,s.`pay_model`,
		s.`model_money`,s.`pay_money`,s.`pay_way`,s.`front_money`,s.`settle_date`,s.`front_time`,d.`drawback_money` as drawBackMoney,d.`drackback_way` as drawBackWay,dt.`depart_name` as departmentName
		 from settlement s join member m on m.card_number = s.member_number join department dt on dt.company_id = m.company_id left join drawback d on d.sale_number = s.sale_number
		 <where>
			 <if test="companyid !=null and companyid != ''">and m.company_id in (#{companyid})</if>
			 <if test="settleDateStart !=null and settleDateStart != ''"> and date_format(s.settle_date ,'%Y-%m-%d' ) >= (#{settleDateStart})</if>
			 <if test="settleDateEnd !=null and settleDateEnd != ''"> and date_format(s.settle_date ,'%Y-%m-%d' ) &lt;= (#{settleDateEnd})</if>
			 <if test="state !=null and state != ''">and m.state = #{state}</if>
			 <if test="departNumber !=null and departNumber != ''">and dt.depart_number = #{departNumber}</if>
			 <if test="departType !=null and departType != ''">and dt.depart_type = #{departType}</if>
		 </where>
		order by dt.depart_number
	</select>

	<select id="findSaleReportFormsCount" resultType="com.shiguang.settlement.domain.SettlementDO">
		select count (*)
		from settlement s join member m on m.card_number = s.member_number join department dt on dt.company_id = m.company_id  left join drawback d on d.sale_number = s.sale_number
		<where>
			<if test="companyid !=null and companyid != ''">and m.company_id in (#{companyid})</if>
			<if test="settleDateStart !=null and settleDateStart != ''">and date_format(s.settle_date ,'%Y-%m-%d' ) >= (#{settleDateStart})</if>
			<if test="settleDateEnd !=null and settleDateEnd != ''">and date_format(s.settle_date ,'%Y-%m-%d' ) &lt;= (#{settleDateEnd})</if>
			<if test="state !=null and state != ''">and m.state = #{state}</if>
			<if test="departNumber !=null and departNumber != ''">and dt.depart_number = #{departNumber}</if>
		</where>
	</select>

	<!-- 商品销售分析表 -->
	<select id="findGoodsList" resultType="com.shiguang.storeSales.domain.SalesDO">
		select s.`id`,s.`ptometry_number`,s.`member_number`,m.`name` as memberName,m.`sex`,m.`age`,m.`phone_1` as phone1,s.`sale_name`,s.`sale_number`,s.`goods_num`,s.`goods_code`,s.`eye_type`,s.`amount_money`,s.`prime_money`,s.`mirror_way`,s.`mirror_time`,
		s.`miror_address`,s.`store_num`,s.`urgent_status`,s.`goods_rebate`,s.`fixed_price`,s.`moling_money`,s.`additional_cost`,s.`process_ask`,
		s.`store_name`,s.`store_describe`,s.`store_unit`,s.`store_count`,s.`remark`,s.`saleremark`,s.`give_name`,s.`peijing_time`,s.`optometry_name`,s.`out_recipel`,s.jj_goods_name,
		s.`recipel_type`,s.`optometrywl_name`,s.`recipelwl_type`,s.`taocan_name`,s.`classtype`,s.`additional_price`,s.`additional_count`,s.`unit`,s.`batch`,s.`left_right`,s.`righttg`,s.`lefttg`
		from store_sales s join settlement st on st.sale_number = s.sale_number join member m on m.card_number = s.member_number
		join department d on d.company_id = m.company_id
		<where>
			<if test="settleDateStart !=null and settleDateStart != ''">and date_format(st.settle_date ,'%Y-%m-%d' ) >= (#{settleDateStart})</if>
			<if test="settleDateEnd !=null and settleDateEnd != ''">and date_format(st.settle_date ,'%Y-%m-%d' ) &lt;= (#{settleDateEnd})</if>
			<if test="state !=null and state != ''">and m.state = #{state}</if>
			<if test="companyid !=null and companyid != ''">and m.company_id in (#{companyid})</if>
			<if test="departNumber !=null and departNumber != ''">and d.depart_number = #{departNumber}</if>
			and s.sale_type = '1'
		</where>
		GROUP BY s.sale_number
	</select>

	<select id="findSaleNameList" resultType="com.shiguang.storeSales.domain.SalesDO">
		select s.`sale_account`,s.`sale_name` from store_sales s join settlement st on st.sale_number = s.sale_number join member m on m.card_number = s.member_number
		join department d on d.company_id = m.company_id
		<where>
			<if test="settleDateStart !=null and settleDateStart != ''">and date_format(st.settle_date ,'%Y-%m-%d' ) >= (#{settleDateStart})</if>
			<if test="settleDateEnd !=null and settleDateEnd != ''">and date_format(st.settle_date ,'%Y-%m-%d' ) &lt;= (#{settleDateEnd})</if>
			<if test="state !=null and state != ''">and m.state = #{state}</if>
			<if test="companyid !=null and companyid != ''">and m.company_id in (#{companyid})</if>
			<if test="departNumber !=null and departNumber != ''">and d.depart_number = #{departNumber}</if>
		</where>
		GROUP BY s.sale_name
	</select>

	<select id="findSaleNameSettleList" resultType="com.shiguang.settlement.domain.SettlementDO">
		select s.`sale_name`,s.`sale_acount` from settlement s join store_sales ss on ss.sale_number = s.sale_number  join member m on m.card_number = s.member_number
		join department d on d.company_id = m.company_id
		<where>
			<if test="companyid !=null and companyid != ''">and m.company_id in (#{companyid})</if>
			<if test="settleDateStart !=null and settleDateStart != ''"> and date_format(s.settle_date ,'%Y-%m-%d' ) >= (#{settleDateStart})</if>
			<if test="settleDateEnd !=null and settleDateEnd != ''"> and date_format(s.settle_date ,'%Y-%m-%d' ) &lt;= (#{settleDateEnd})</if>
			<if test="state !=null and state != ''">and m.state = #{state}</if>
			<if test="departNumber !=null and departNumber != ''">and d.depart_number = #{departNumber}</if>
			and (ss.sale_type = '1')
		</where>
		 GROUP BY s.sale_name
	</select>

	<select id="findSaleReportDetailForms" resultType="com.shiguang.storeSales.domain.SalesDO">
		select s.`id`,s.`ptometry_number`,s.`member_number`,m.`name` as memberName,m.`sex`,m.`age`,m.`phone_1` as phone1,s.`sale_account`,s.`sale_number`,s.`goods_num`,s.`goods_code`,s.`eye_type`,s.`amount_money`,s.`prime_money`,s.`mirror_way`,s.`mirror_time`,
		s.`miror_address`,s.`store_num`,s.`urgent_status`,s.`goods_rebate`,s.`fixed_price`,s.`moling_money`,s.`additional_cost`,s.`process_ask`,
		s.`store_name`,s.`store_describe`,s.`store_unit`,s.`store_count`,s.`remark`,s.`saleremark`,s.`give_name`,s.`peijing_time`,s.`optometry_name`,s.`out_recipel`,s.jj_goods_name,st.`sale_name`,st.`sale_acount` as saleAccount,
		s.`recipel_type`,s.`optometrywl_name`,s.`recipelwl_type`,s.`taocan_name`,s.`classtype`,s.`additional_price`,s.`additional_count`,s.`unit`,s.`batch`,s.`left_right`,s.`righttg`,s.`lefttg`,
		st.`change_money`,st.`model_money`,s.sale_type
		from store_sales s join settlement st on st.sale_number = s.sale_number join member m on m.card_number = s.member_number
		join department d on d.company_id = m.company_id
		<where>
			<if test="companyid !=null and companyid != ''">and m.company_id in (#{companyid})</if>
			<if test="settleDateStart !=null and settleDateStart != ''"> and date_format(st.settle_date ,'%Y-%m-%d' ) >= (#{settleDateStart})</if>
			<if test="settleDateEnd !=null and settleDateEnd != ''"> and date_format(st.settle_date ,'%Y-%m-%d' ) &lt;= (#{settleDateEnd})</if>
			<if test="state !=null and state != ''">and m.state = #{state}</if>
			<if test="departNumber !=null and departNumber != ''">and d.depart_number = #{departNumber}</if>
			and (s.sale_type = '1')
		</where>
		GROUP BY s.sale_number
	</select>
	<select id="findYanguangPeople" resultType="com.shiguang.storeSales.domain.SalesDO">
		select u.store,u.username,u.name ,sum(s.amount_money) as amountMoney
		from  sys_user u
		join sys_user_role ur on u.user_id=ur.user_id
		join jc_result r on r.optometry_name=u.name
		join store_sales s on r.ptometry_number=s.ptometry_number
		<where>
			<if test="companyid !=null and companyid != ''">and m.company_id in (#{companyid})</if>
			<if test="settleDateStart !=null and settleDateStart != ''"> and date_format(st.settle_date ,'%Y-%m-%d' ) >= (#{settleDateStart})</if>
			<if test="settleDateEnd !=null and settleDateEnd != ''"> and date_format(st.settle_date ,'%Y-%m-%d' ) &lt;= (#{settleDateEnd})</if>
			<if test="state !=null and state != ''">and m.state = #{state}</if>
			and (ur.role_id = 7)
		</where>
		GROUP BY u.username
	</select>

</mapper>