<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
																																			<div class="form-group">	
								<label class="col-sm-3 control-label">球镜(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="sphereRight" name="sphereRight" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">球镜(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="sphereLeft" name="sphereLeft" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="cylinderRight" name="cylinderRight" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="cylinderLeft" name="cylinderLeft" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">轴向(右眼-OD)：</label>
								<div class="col-sm-8">
									<input id="axialRight" name="axialRight" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">轴向(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="axialLeft" name="axialLeft" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">DVA(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="dvaRight" name="dvaRight" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">DVA(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="dvaLeft" name="dvaLeft" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">NVA(OD)：</label>
								<div class="col-sm-8">
									<input id="nvaRight" name="nvaRight" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">NVA(OS)：</label>
								<div class="col-sm-8">
									<input id="nvaLeft" name="nvaLeft" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">三棱镜(OD)：</label>
								<div class="col-sm-8">
									<input id="prismRight" name="prismRight" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">三棱镜(OS)：</label>
								<div class="col-sm-8">
									<input id="prismLeft" name="prismLeft" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">基底(OD)：</label>
								<div class="col-sm-8">
									<input id="basal

Right" name="basal

Right" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">基底(OS)：</label>
								<div class="col-sm-8">
									<input id="basal

Left" name="basal

Left" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">Add(OD)：</label>
								<div class="col-sm-8">
									<input id="addRight" name="addRight" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">Add(OS)：</label>
								<div class="col-sm-8">
									<input id="addLeft" name="addLeft" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">远用瞳孔距(mm)(OD)：</label>
								<div class="col-sm-8">
									<input id="far

Right" name="far

Right" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">远用瞳孔距(mm)(OS)：</label>
								<div class="col-sm-8">
									<input id="far

Left" name="far

Left" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">近用瞳孔距(mm)(OD)：</label>
								<div class="col-sm-8">
									<input id="nearRight" name="nearRight" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">近用瞳孔距(mm)(OS)：</label>
								<div class="col-sm-8">
									<input id="nearLeft" name="nearLeft" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">验光号：</label>
								<div class="col-sm-8">
									<input id="ptometryNumber" name="ptometryNumber" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">验光师：</label>
								<div class="col-sm-8">
									<input id="optometryName" name="optometryName" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/jiancha/subjective/add.js">
	</script>
</body>
</html>
