<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
																																			<div class="form-group">	
								<label class="col-sm-3 control-label">卡号：</label>
								<div class="col-sm-8">
									<input id="cardNumber" name="cardNumber" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">球镜(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="sphereRightz" name="sphereRightz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">球镜(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="sphereLeftz" name="sphereLeftz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="cylinderRightz" name="cylinderRightz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">柱镜(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="cylinderLeftz" name="cylinderLeftz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">轴向(右眼-OD)：</label>
								<div class="col-sm-8">
									<input id="axialRightz" name="axialRightz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">轴向(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="axialLeftz" name="axialLeftz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">DVA(右眼OD)：</label>
								<div class="col-sm-8">
									<input id="dvaRightz" name="dvaRightz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">DVA(左眼OS)：</label>
								<div class="col-sm-8">
									<input id="dvaLeftz" name="dvaLeftz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">NVA(OD)：</label>
								<div class="col-sm-8">
									<input id="nvaRightz" name="nvaRightz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">NVA(OS)：</label>
								<div class="col-sm-8">
									<input id="nvaLeftz" name="nvaLeftz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">三棱镜(OD)：</label>
								<div class="col-sm-8">
									<input id="prismRightz" name="prismRightz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">三棱镜(OS)：</label>
								<div class="col-sm-8">
									<input id="prismLeftz" name="prismLeftz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">基底(OD)：</label>
								<div class="col-sm-8">
									<input id="jdrZ" name="jdrZ" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">基底(OS)：</label>
								<div class="col-sm-8">
									<input id="jdlZ" name="jdlZ" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">Add(OD)：</label>
								<div class="col-sm-8">
									<input id="addRightz" name="addRightz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">Add(OS)：</label>
								<div class="col-sm-8">
									<input id="addLeftz" name="addLeftz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">远用瞳孔距(mm)(OD)：</label>
								<div class="col-sm-8">
									<input id="yuanRz" name="yuanRz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">远用瞳孔距(mm)(OS)：</label>
								<div class="col-sm-8">
									<input id="yuanLz" name="yuanLz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">近用瞳孔距(mm)(OD)：</label>
								<div class="col-sm-8">
									<input id="nearRightz" name="nearRightz" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">近用瞳孔距(mm)(OS)：</label>
								<div class="col-sm-8">
									<input id="nearLeftz" name="nearLeftz" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/jiancha/subjective/add.js">
	</script>
</body>
</html>
