<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="cardNumber" name="cardNumber" th:value="${memberDO.cardNumber}"  type="hidden">
							<!--<input id="costId" name="costId" th:value="${costDO.id}"  type="hidden">-->
							<input id="saleNumber" name="saleNumber" th:value="${salesDO.saleNumber}"  type="hidden">
							<input id="saleName" name="saleName" th:value="${salesDO.saleName}"  type="hidden">
							<input id="sumMoney" name="sumMoney" th:value="${salesDO.amountMoney}"  type="hidden">
							<input id="originalPrice" name="originalPrice" th:value="${salesDO.primeMoney}" type="hidden">
							<input id="payMoneys" name="payMoney" th:value="${settlement.payMoney}" type="hidden">
							<input id="payModels" name="payModels" th:value="${settlement.payModel}" type="hidden">
							<input id="modelMoneyss" name="modelMoneyss" th:value="${settlement.modelMoney}" type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">会员卡号：</label>
								<div class="col-sm-8">
									<input id="memberNumber" name="memberNumber" th:value="${memberDO.cardNumber}" type="text" readonly>
									&nbsp;&nbsp;&nbsp;&nbsp;顾客姓名：<input id="cardName" name="cardName" th:value="${memberDO.name}" type="text" readonly>
								</div>
							</div>
							<h1 style="float: left;font-size: 20px">查询信息</h1>
							<table class="table table-bordered table-hover" >
								<thead>
								<tr class="success">
									<th style="text-align: center">销售单号</th>
									<th style="text-align: center">销售人员</th>
									<th style="text-align: center">原价合计</th>
									<th style="text-align: center">应收金额</th>
									<th style="text-align: center">实缴金额</th>
								</tr>
								</thead>
								<tbody >
								<tr>
									<td id="aa" style="text-align: center"></td>
									<td id="bb" style="text-align: center"></td>
									<td id="cc" style="text-align: center"></td>
									<td id="dd" style="text-align: center"></td>
									<td id="ee" style="text-align: center"></td>
								</tr>
								</tbody>
							</table>
							<table class="table table-bordered table-hover" >
								<thead>
								<tr class="success">
									<th style="text-align: center">缴费方式</th>
									<th style="text-align: center">缴费金额</th>
								</tr>
								</thead>
								<tbody id="tobodyId">

								</tbody>
							</table>
							
														<div class="form-group">
								<label class="col-sm-3 control-label">实缴金额：</label>
								<div class="col-sm-8">
									<input id="actualMoney" name="actualMoney" type="text" th:value="${salesDO.amountMoney}" disabled style="width: 20%">
									<!--&nbsp;&nbsp;&nbsp;&nbsp;找零金额：<input id="changeMoney" name="changeMoney" th:value="${settlement.changeMoney}" disabled style="width: 20%" type="text">-->
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">付款方式：</label>
								<div class="col-sm-8">
									<select  name="payWay" id="payWay" style="width: 30%" >
										<option value="全款">全款</option>
										<option value="定金">定金</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">缴费方式：</label>
								<div class="col-sm-8">
									<select id="chuzhi"  name="payGgModel" style="width: 30%" onclick="chuzhika()">
										<option value="">请选择</option>
										<option value="0">微信</option>
										<option value="1">支付宝</option>
										<option value="2">医院收费处</option>
										<option value="3">一卡通</option>
										<option value="4">现金</option>
										<option value="5">银联卡</option>
										<option value="6">储值卡</option>
										<option value="7">.</option>
										<option value="8">..</option>
										<option value="9">积分</option>
										<option value="10">微信平台</option>
									</select>
									&nbsp;&nbsp;&nbsp;&nbsp;<input id="modelMoney" name="modelGgMoney" onchange="cop()" style="width: 20%" type="text">
								</div>
								<img src="/img/add.png" width="20" height="20" onclick="addMoney(this)">
							</div>
							<input id="payMoney" name="payMoney" onchange="cop()" style="width: 20%" type="hidden">
							<div class="form-group" id="czk" style="display: none;">
								<label class="col-sm-3 control-label">储值卡号：</label>
								<div class="col-sm-8">
									<!--<input id="chuzhiNumber" name="chuzhiNumber" style="width: 20%;" type="text">-->
									<select id="chuzhiNumber"  name="chuzhiNumber" style="width: 30%" >
										<option th:each="ls:${cardDOS}"
												th:text="${ls.cardNumber}"
												th:value="${ls.cardNumber}"></option>
									</select>
									&nbsp;&nbsp;&nbsp;&nbsp;密码：<input id="chuzhiPasd" name="chuzhiPasd" style="width: 20%;" type="text">
									&nbsp;&nbsp;&nbsp;&nbsp;
								</div>
							</div>
							<!--<div class="form-group">-->
							<!--<label class="col-sm-3 control-label">找零金额：</label>-->
							<!--<div class="col-sm-8">-->
							<!--<input id="changeMoney" name="changeMoney" th:value="${settlement.changeMoney}" class="form-control" type="text">-->
							<!--</div>-->
							<!--</div>-->
							<!--<div class="form-group">	-->
							<!--<label class="col-sm-3 control-label">支付方式：</label>-->
							<!--<div class="col-sm-8">-->
							<!--<input id="payModel" name="payModel" th:value="${settlement.payModel}" class="form-control" type="text">-->
							<!--</div>-->
							<!--</div>-->
							<!--<div class="form-group">	-->
							<!--<label class="col-sm-3 control-label">缴费金额：</label>-->
							<!--<div class="col-sm-8">-->
							<!--<input id="payMoney" name="payMoney" th:value="${settlement.payMoney}" class="form-control" type="text">-->
							<!--</div>-->
							<!--</div>-->
							<div class="form-group" style="display: none" id="jffs">
								<label class="col-sm-3 control-label">缴费方式：</label>
								<div class="col-sm-8">
									<select  name="payGgModel" id="payModel" style="width: 30%">
										<option value="">请选择</option>
										<option value="0">微信</option>
										<option value="1">支付宝</option>
										<option value="2">医院收费处</option>
										<option value="3">一卡通</option>
										<option value="4">现金</option>
										<option value="5">银联卡</option>
										<option value="6">储值卡</option>
										<option value="7">.</option>
										<option value="8">..</option>
										<option value="9">积分</option>
										<option value="10">微信平台</option>
									</select>
									&nbsp;&nbsp;&nbsp;&nbsp;<input id="modelMoneys" name="modelGgMoney" onchange="cop()" style="width: 20%" type="text">
								</div>
								<img src="/img/dec.jpg" width="20" height="20" onclick="desc(this)">
							</div>

																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/method/edit.js">
	</script>
<script type="text/javascript">
    // $().ready(function(){
    //     var payModels = $("input[name='payModels']").val();
    //     $("#payModel").find("[value="+payModels+"]").attr("selected",true);
    //     var saleNumber = $("#saleNumber").val()
    //     var saleName = $("#saleName").val()
		// var originalPrice = $("#originalPrice").val()
    //     var sumMoney = $("#sumMoney").val()
		// $("#aa").text(saleNumber)
    //     $("#bb").text(saleName)
    //     $("#cc").text(originalPrice)
    //     $("#dd").text(sumMoney)
    //     $("#ee").text(sumMoney)
    // });
    var html="";
    var a=0;
    $().ready(function(){
        var payModels = $("#payModels").val();
        // if (payModels.length >2){
        //     model.style="display:block";
        //     div1.style="display:none";
            var paymodelStr = payModels.split(",");
            var moneyPay = $("#modelMoneyss").val().split(",");
            var paymodelArray = [];
            for (var s=0;s<paymodelStr.length;s++){
                a=a+1;
                if(''!= paymodelStr[s]){
                    if(paymodelStr[s] == '0'){
                        html = "<tr><td style='text-align: center'>微信</td>"
                    } else if (paymodelStr[s] == '1'){
                        html = "<tr><td style='text-align: center'>支付宝</td>"
					} else if (paymodelStr[s] == '2'){
                        html = "<tr><td style='text-align: center'>医院收费处</td>"
                    } else if (paymodelStr[s] == '3'){
                        html = "<tr><td style='text-align: center'>一卡通</td>"
                    } else if (paymodelStr[s] == '4'){
                        html = "<tr><td style='text-align: center'>现金</td>"
                    } else if (paymodelStr[s] == '5'){
                        html = "<tr><td style='text-align: center'>银联卡</td>"
                    } else if (paymodelStr[s] == '6'){
                        html = "<tr><td style='text-align: center'>储值卡</td>"
                    } else if (paymodelStr[s] == '7'){
                        html = "<tr><td style='text-align: center'>.</td>"
                    } else if (paymodelStr[s] == '8'){
                        html = "<tr><td style='text-align: center'>..</td>"
                    } else if (paymodelStr[s] == '9'){
                        html = "<tr><td style='text-align: center'>积分</td>"
                    } else if (paymodelStr[s] == '10'){
                        html = "<tr><td style='text-align: center'>微信平台</td>"
                    }
                    html += "<td style='text-align: center'>"+moneyPay[s]+"</td></tr>";
                    $("#tobodyId").append(html);
                    //
                    // html = "<div class='form-group'><label class='col-sm-3 control-label'>缴费方式：</label>";
                    // html += "<div class='col-sm-8'><select  name='payModeloa' id='payModeloa"+a+"' style='width: 30%' >";
                    // html += "<option value=''>请选择</option>";
                    // html += "<option value='0'>微信</option>";
                    // html += "<option value='1'>支付宝</option>";
                    // html += "<option value='2'>医院收费处</option>";
                    // html += "<option value='3'>一卡通</option>";
                    // html += "<option value='4'>现金</option>";
                    // html += "<option value='5'>银联卡</option>";
                    // html += "<option value='6'>储值卡</option>";
                    // html += "<option value='7'>.</option>";
                    // html += "<option value='8'>..</option>";
                    // html += "<option value='9'>积分</option>";
                    // html += "<option value='10'>微信平台</option>";
					//
                    // html += "</select>"
                    //  html += "<input  name='payModel' id='payMode' type='hidden'>";
                    // html += "&nbsp;&nbsp;&nbsp;&nbsp;<input  name='modelMoney' value='"+moneyPay[s]+"' type='text' >";
                    // html += "</div>";
                    // html += "<img src='/img/add.png' width='20' height='20' onclick='addMoney(this)'>";
                    // if (s==paymodelStr.length -1){
                    //     html += "<img src='/img/dec.png' width='20' height='20' onclick='desc(this)'>";
					// }
                    // html += "</div>";
                    // var payMode = paymodelStr[s];
                    // paymodelArray.push(payMode);
                    // $("#payModeloa"+a+"").find("[value='"+paymodelStr[s]+"']").attr("selected",true);
                    // $("#model").append(html);
                }
            }
            //$("#payMode").val(paymodelArray);
            var saleNumber = $("#saleNumber").val()
            var saleName = $("#saleName").val()
            var sumMoney = $("#sumMoney").val()
            var originalPrice = $("#originalPrice").val()
            var payMoneys = $("#payMoneys").val();
            $("#aa").text(saleNumber)
            $("#bb").text(saleName)
            $("#cc").text(originalPrice)
            $("#dd").text(sumMoney)
            $("#ee").text(payMoneys)
        // } else {
        //     var payModels = $("#payModels").val();
        //     var paymodelStr = payModels.split(",");
        //     // var payModelss = $("input[name='payModelss']").val();
        //     $("#payModel").find("[value="+paymodelStr[0]+"]").attr("selected",true);
        //     var saleNumber = $("#saleNumber").val()
        //     var saleName = $("#saleName").val()
        //     var originalPrice = $("#originalPrice").val()
        //     var sumMoney = $("#sumMoney").val()
        //     $("#aa").text(saleNumber)
        //     $("#bb").text(saleName)
        //     $("#cc").text(originalPrice)
        //     $("#dd").text(sumMoney)
        //     $("#ee").text(sumMoney)
        //     div1.style="display:block";
        //     model.style="display:none";
            // var payWay = "";
            // var money = $("#modelMoneys").val();
            // if (payModels == "0"){
            //     payWay = "微信";
            // } else if (payModels == "1"){
            //     payWay = "支付宝";
            // } else if (payModels == "2"){
            //     payWay = "医院收费处";
            // } else if (payModels == "3"){
            //     payWay = "一卡通";
            // } else if (payModels == "4"){
            //     payWay = "现金";
            // }
            // html = "<div class='form-group'><label class='col-sm-3 control-label'>缴费方式：</label>";
            // html += "<div class='col-sm-8'><input  name='payModel' id='payModel' value='"+payWay+"'>";
            // html += "&nbsp;&nbsp;&nbsp;&nbsp;<input  name='payMoney' value='"+money+"' type='text' disabled>";
            // html += "</div>";
            // html += "</div>";
            // $("#model").append(html);
        // }
    });
    function addMoney(obj){
        let dom = $("#jffs").clone();
        $(dom).show();
        $(obj).parents(".form-group").after(dom);
    }
    /**
     *  删除行
     */
    function desc(obj) {
        $(obj).parents(".form-group").remove();
    }

</script>
</body>
</html>
