<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiguang.member.dao.MemberDao">

    <select id="get" resultType="com.shiguang.member.domain.MemberDO">
		select m.`id`,m.`name`,m.`member_option`,m.`card_number`,m.`sex`,m.`depart_number`,m.`company_id`,m.`birthday_year`,m.`birthday_month`,m.`birthday_day`,m.`age`,m.`phone_1`,m.`phone_2`,m.`phone_3`,m.`province_code`,m.`province_name`,m.`city_code`,m.`city_name`,m.`area_code`,m.`area_name`,m.`card_type`,m.`master_card`,m.`minor_name`,m.`crowd_type`,
		m.`exclusive_customer`,m.`exclusive_customer_id`,m.`identity_type`,m.`identity_id`,m.`vocation`,m.`school`,m.`qq_number`,m.`email`,m.`address`,m.`postal_code`,
		m.`interest`,m.`source`,m.`integral_pasd`,m.`integral`,m.`remark`,m.`register_time`,m.`status`,m.`state`,sc.`card_number` as storeCardNum, sc.`card_money` from member m left join stored_card sc on sc.member_number = m.card_number  where m.id = #{value}
	</select>

    <select id="getCardNumber" resultType="com.shiguang.member.domain.MemberDO">
		select `id`,`name`,`member_option`,`card_number`,`sex`,`depart_number`,`company_id`,`birthday_year`,`birthday_month`,`birthday_day`,`age`,`phone_1`,`phone_2`,`phone_3`,`province_code`,`province_name`,`city_code`,`city_name`,`area_code`,`area_name`,`card_type`,`master_card`,`minor_name`,`crowd_type`,`exclusive_customer`,`exclusive_customer_id`,`identity_type`,`identity_id`,`vocation`,`school`,`qq_number`,`email`,`address`,`postal_code`,`interest`,`source`,`integral_pasd`,`remark`,`register_time`,`integral`,`status`,`state` from member where card_number = #{value}
	</select>

    <select id="list" resultType="com.shiguang.member.domain.MemberDO">
        select m.`id`,m.`name`,m.`member_option`,m.`card_number`,m.`sex`,m.`depart_number`,m.`company_id`,m.`birthday_year`,m.`birthday_month`,
        m.`birthday_day`,m.`age`,m.`phone_1`,m.`phone_2`,m.`phone_3`,m.`province_code`,m.`province_name`,m.`city_code`,m.`city_name`,
        m.`area_code`,m.`area_name`,m.`card_type`,m.`master_card`,m.`minor_name`,m.`crowd_type`,m.`exclusive_customer`,
        m.`exclusive_customer_id`,m.`identity_type`,m.`identity_id`,m.`vocation`,m.`school`,m.`qq_number`,m.`email`,
        m.`address`,m.`postal_code`,m.`interest`,m.`source`,m.`integral_pasd`,m.`remark`,m.`register_time`,m.`status`,m.`state`
        from member m
        <where>
            <if test="id != null and id != ''"> and m.id = #{id} </if>
            <if test="name != null and name != ''"> and m.`name` like concat('%', #{name},'%') </if>
            <if test="memberOption != null and memberOption != ''"> and m.member_option = #{memberOption} </if>
            <if test="companyId != null and companyId != ''">and FIND_IN_SET(m.company_id,#{companyId})</if>
            <if test="cardNumber != null and cardNumber != ''"> and m.card_number like concat('%', #{cardNumber},'%') </if>
            <if test="cardsNumber != null and cardsNumber != ''"> and m.card_number = #{cardsNumber} </if>
            <if test="sex != null and sex != ''"> and m.sex = #{sex} </if>
            <if test="birthdayYear != null and birthdayYear != ''"> and m.birthday_year = #{birthdayYear} </if>
            <if test="birthdayMonth != null and birthdayMonth != ''"> and m.birthday_month = #{birthdayMonth} </if>
            <if test="birthdayDay != null and birthdayDay != ''"> and m.birthday_day = #{birthdayDay} </if>
            <if test="age != null and age != ''"> and m.age = #{age} </if>
            <if test="phone1 != null and phone1 != ''"> and (m.phone_1 = #{phone1} or m.phone_2 = #{phone1} or m.phone_3 = #{phone1} ) </if>
            <if test="phone2 != null and phone2 != ''"> and m.phone_2 = #{phone2} </if>
            <if test="phone3 != null and phone3 != ''"> and m.phone_3 = #{phone3} </if>
            <if test="provinceCode != null and provinceCode != ''"> and m.province_code = #{provinceCode} </if>
            <if test="provinceName != null and provinceName != ''"> and m.province_name = #{provinceName} </if>
            <if test="cityCode != null and cityCode != ''"> and m.city_code = #{cityCode} </if>
            <if test="cityName != null and cityName != ''"> and m.city_name = #{cityName} </if>
            <if test="areaCode != null and areaCode != ''"> and m.area_code = #{areaCode} </if>
            <if test="areaName != null and areaName != ''"> and m.area_name = #{areaName} </if>
            <if test="cardType != null and cardType != ''"> and m.card_type = #{cardType} </if>
            <if test="masterCard != null and masterCard != ''"> and m.master_card = #{masterCard} </if>
            <if test="minorName != null and minorName != ''"> and m.minor_name = #{minorName} </if>
            <if test="crowdType != null and crowdType != ''"> and m.crowd_type = #{crowdType} </if>
            <if test="exclusiveCustomer != null and exclusiveCustomer != ''"> and m.exclusive_customer = #{exclusiveCustomer} </if>
            <if test="exclusiveCustomerId != null and exclusiveCustomerId != ''"> and m.exclusive_customer_id = #{exclusiveCustomerId} </if>
            <if test="identityType != null and identityType != ''"> and m.identity_type = #{identityType} </if>
            <if test="identityId != null and identityId != ''"> and m.identity_id = #{identityId} </if>
            <if test="vocation != null and vocation != ''"> and m.vocation = #{vocation} </if>
            <if test="school != null and school != ''"> and m.school = #{school} </if>
            <if test="qqNumber != null and qqNumber != ''"> and m.qq_number = #{qqNumber} </if>
            <if test="email != null and email != ''"> and m.email = #{mail} </if>
            <if test="address != null and address != ''"> and m.address = #{address} </if>
            <if test="postalCode != null and postalCode != ''"> and m.postal_code = #{postalCode} </if>
            <if test="interest != null and interest != ''"> and m.interest = #{interest} </if>
            <if test="source != null and source != ''"> and m.source = #{source} </if>
            <if test="integralPasd != null and integralPasd != ''"> and m.integral_pasd = #{integralPasd} </if>
            <if test="remark != null and remark != ''"> and m.remark = #{remark} </if>
            <if test="registerTime != null and registerTime != ''"> and m.register_time = #{registerTime} </if>
            <if test="status != null and status != ''"> and m.status = #{status} </if>
            <if test="state != null and state != ''"> and m.state = #{state} </if>
            <if test="agestart != null and agestart !=''"> and m.age >= #{agestart} </if>
            <if test="ageend != null and ageend != ''"> and m.age &lt;= #{ageend} </if>
            and m.status = 0
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="payList" resultType="com.shiguang.settlement.domain.JieKuanMoneyDO">
        SELECT name,companyId,cardNumber,isSale,saleNumber,peijingTime,amountMoney,sex,departNumber,age,phone1,saleForm,state,status from(
        SELECT
        m.`name` as name,
        m.company_id as companyId,
        m.`card_number` as cardNumber,
        s.`sale_type` AS isSale,
        s.`sale_number` as saleNumber,
        s.peijing_time as peijingTime,
        s.amount_money as amountMoney,
        m.`sex` as sex,
        m.`depart_number` as departNumber,
        m.`age` as age,
        m.`phone_1` as phone1,
        m.`phone_2` as phone2,
        m.`phone_3` as phone3,
        '配镜单' as saleForm,
        m.state as state,
        m.`status` as `status`
        FROM
        member m
        JOIN store_sales s ON s.member_number = m.card_number
        union
        select
        m.`name` as name,
        m.company_id as companyId,
        m.`card_number` as cardNumber,
        c.is_sale AS isSale,
        c.`sale_number` as saleNumber,
        c.create_time as peijingTime,
        '' as amountMoney,
        m.`sex` as sex,
        m.`depart_number` as departNumber,
        m.`age` as age,
        m.`phone_1` as phone1,
        m.`phone_2` as phone2,
        m.`phone_3` as phone3,
        '检查单' as saleForm,
        m.state as state,
        m.`status` as `status`
        FROM
        member m
        JOIN cost c ON c.member_number = m.card_number
        ) aia
    <where>
        <if test="name != null and name != ''"> and name like concat('%', #{name},'%') </if>
        <if test="companyid !=null and companyid != ''">and FIND_IN_SET(companyId,#{companyid})</if>
        <if test="cardNumber != null and cardNumber != ''"> and cardNumber like concat('%', #{cardNumber},'%') </if>
        <if test="sex != null and sex != ''"> and sex = #{sex} </if>
        <if test="age != null and age != ''"> and age = #{age} </if>
        <if test="phone1 != null and phone1 != ''"> and (phone1 = #{phone1} or phone2 = #{phone1} or phone3 = #{phone1} ) </if>
        <if test="saleDate != null and saleDate !=''"> and date_format(peijingTime ,'%Y-%m-%d') = #{saleDate}</if>
        <if test="isSale != null and isSale != ''"> and isSale = #{isSale} </if>
        and `status` = 0
        and state = 1
<!--        <if test="isSale != null and isSale != ''"> and c.is_sale = #{isSale} </if>-->
    </where>
        order by peijingTime desc
    <!--<choose>-->
        <!--<when test="sort != null and sort.trim() != ''">-->
            <!--order by ${sort} ${order}-->
        <!--</when>-->
        <!--<otherwise>-->
            <!--group by s.`sale_number`-->
            <!--order by s.peijing_time desc-->
        <!--</otherwise>-->
    <!--</choose>-->
    <if test="offset != null and limit != null">
        limit #{offset}, #{limit}
    </if>

</select>

    <select id="payCountList" resultType="com.shiguang.settlement.domain.JieKuanMoneyDO">
        SELECT name,companyId,cardNumber,isSale,saleNumber,peijingTime,amountMoney,sex,departNumber,age,phone1,saleForm,state,status from(
        SELECT
        m.`name` as name,
        m.company_id as companyId,
        m.`card_number` as cardNumber,
        s.`sale_type` AS isSale,
        s.`sale_number` as saleNumber,
        s.peijing_time as peijingTime,
        s.amount_money as amountMoney,
        m.`sex` as sex,
        m.`depart_number` as departNumber,
        m.`age` as age,
        m.`phone_1` as phone1,
        m.`phone_2` as phone2,
        m.`phone_3` as phone3,
        '配镜单' as saleForm,
        m.state as state,
        m.`status` as `status`
        FROM
        member m
        JOIN store_sales s ON s.member_number = m.card_number
        union
        select
        m.`name` as name,
        m.company_id as companyId,
        m.`card_number` as cardNumber,
        c.is_sale AS isSale,
        c.`sale_number` as saleNumber,
        c.create_time as peijingTime,
        '' as amountMoney,
        m.`sex` as sex,
        m.`depart_number` as departNumber,
        m.`age` as age,
        m.`phone_1` as phone1,
        m.`phone_2` as phone2,
        m.`phone_3` as phone3,
        '检查单' as saleForm,
        m.state as state,
        m.`status` as `status`
        FROM
        member m
        JOIN cost c ON c.member_number = m.card_number
        ) aia
        <where>
            <if test="name != null and name != ''"> and name like concat('%', #{name},'%') </if>
            <if test="companyid !=null and companyid != ''">and FIND_IN_SET(companyId,#{companyid})</if>
            <if test="cardNumber != null and cardNumber != ''"> and cardNumber like concat('%', #{cardNumber},'%') </if>
            <if test="sex != null and sex != ''"> and sex = #{sex} </if>
            <if test="age != null and age != ''"> and age = #{age} </if>
            <if test="phone1 != null and phone1 != ''"> and (phone1 = #{phone1} or phone2 = #{phone1} or phone3 = #{phone1} ) </if>
            <if test="saleDate != null and saleDate !=''">and date_format(peijingTime ,'%Y-%m-%d') = #{saleDate}</if>
            <if test="isSale != null and isSale != ''"> and isSale = #{isSale} </if>
            and `status` = 0
            and state = 1
            <!--        <if test="isSale != null and isSale != ''"> and c.is_sale = #{isSale} </if>-->
        </where>
        order by peijingTime desc
        <!--<choose>-->
        <!--<when test="sort != null and sort.trim() != ''">-->
        <!--order by ${sort} ${order}-->
        <!--</when>-->
        <!--<otherwise>-->
        <!--group by s.`sale_number`-->
        <!--order by s.peijing_time desc-->
        <!--</otherwise>-->
        <!--</choose>-->

    </select>

    <select id="payCount" resultType="int">
        select
        count(*) from (
        select count(m.id) from member m
        join store_sales s on s.member_number = m.card_number
        <where>
            <if test="id != null and id != ''"> and m.id = #{id} </if>
            <if test="name != null and name != ''"> and m.name like concat('%', #{name},'%') </if>
            <if test="departNumber != null and departNumber != ''"> and m.depart_number = #{departNumber} </if>
            <if test="companyid !=null and companyid != ''">and FIND_IN_SET(m.company_id,#{companyid})</if>
            <if test="cardNumber != null and cardNumber != ''"> and m.card_number like concat('%', #{cardNumber},'%') </if>
            <if test="sex != null and sex != ''"> and m.sex = #{sex} </if>
            <if test="birthdayYear != null and birthdayYear != ''"> and m.birthday_year = #{birthdayYear} </if>
            <if test="birthdayMonth != null and birthdayMonth != ''"> and m.birthday_month = #{birthdayMonth} </if>
            <if test="birthdayDay != null and birthdayDay != ''"> and m.birthday_day = #{birthdayDay} </if>
            <if test="age != null and age != ''"> and m.age = #{age} </if>
            <if test="phone1 != null and phone1 != ''"> (m.phone_1 = #{phone1} or m.phone_2 = #{phone1} or m.phone_3 = #{phone1} ) </if>
            <if test="phone2 != null and phone2 != ''"> and m.phone_2 = #{phone2} </if>
            <if test="phone3 != null and phone3 != ''"> and m.phone_3 = #{phone3} </if>
            <if test="state != null and state != ''"> and m.state = #{state} </if>
            and m.`status` = 0
        </where>
        group by s.`sale_number`) u
    </select>

    <select id="count" resultType="int">
        select count(*) from member m
        <where>
            <if test="id != null and id != ''"> and m.id = #{id} </if>
            <if test="name != null and name != ''"> and m.`name` like concat('%', #{name},'%') </if>
            <if test="memberOption != null and memberOption != ''"> and m.member_option = #{memberOption} </if>
            <if test="companyId != null and companyId != ''">and FIND_IN_SET(m.company_id,#{companyId})</if>
            <if test="cardNumber != null and cardNumber != ''"> and m.card_number like concat('%', #{cardNumber},'%') </if>
            <if test="sex != null and sex != ''"> and m.sex = #{sex} </if>
            <if test="birthdayYear != null and birthdayYear != ''"> and m.birthday_year = #{birthdayYear} </if>
            <if test="birthdayMonth != null and birthdayMonth != ''"> and m.birthday_month = #{birthdayMonth} </if>
            <if test="birthdayDay != null and birthdayDay != ''"> and m.birthday_day = #{birthdayDay} </if>
            <if test="age != null and age != ''"> and m.age = #{age} </if>
            <if test="phone1 != null and phone1 != ''"> and m.phone_1 = #{phone1} </if>
            <if test="phone2 != null and phone2 != ''"> and m.phone_2 = #{phone2} </if>
            <if test="phone3 != null and phone3 != ''"> and m.phone_3 = #{phone3} </if>
            <if test="provinceCode != null and provinceCode != ''"> and m.province_code = #{provinceCode} </if>
            <if test="provinceName != null and provinceName != ''"> and m.province_name = #{provinceName} </if>
            <if test="cityCode != null and cityCode != ''"> and m.city_code = #{cityCode} </if>
            <if test="cityName != null and cityName != ''"> and m.city_name = #{cityName} </if>
            <if test="areaCode != null and areaCode != ''"> and m.area_code = #{areaCode} </if>
            <if test="areaName != null and areaName != ''"> and m.area_name = #{areaName} </if>
            <if test="cardType != null and cardType != ''"> and m.card_type = #{cardType} </if>
            <if test="masterCard != null and masterCard != ''"> and m.master_card = #{masterCard} </if>
            <if test="minorName != null and minorName != ''"> and m.minor_name = #{minorName} </if>
            <if test="crowdType != null and crowdType != ''"> and m.crowd_type = #{crowdType} </if>
            <if test="exclusiveCustomer != null and exclusiveCustomer != ''"> and m.exclusive_customer = #{exclusiveCustomer} </if>
            <if test="exclusiveCustomerId != null and exclusiveCustomerId != ''"> and m.exclusive_customer_id = #{exclusiveCustomerId} </if>
            <if test="identityType != null and identityType != ''"> and m.identity_type = #{identityType} </if>
            <if test="identityId != null and identityId != ''"> and m.identity_id = #{identityId} </if>
            <if test="vocation != null and vocation != ''"> and m.vocation = #{vocation} </if>
            <if test="school != null and school != ''"> and m.school = #{school} </if>
            <if test="qqNumber != null and qqNumber != ''"> and m.qq_number = #{qqNumber} </if>
            <if test="email != null and email != ''"> and m.email = #{mail} </if>
            <if test="address != null and address != ''"> and m.address = #{address} </if>
            <if test="postalCode != null and postalCode != ''"> and m.postal_code = #{postalCode} </if>
            <if test="interest != null and interest != ''"> and m.interest = #{interest} </if>
            <if test="source != null and source != ''"> and m.source = #{source} </if>
            <if test="integralPasd != null and integralPasd != ''"> and m.integral_pasd = #{integralPasd} </if>
            <if test="remark != null and remark != ''"> and m.remark = #{remark} </if>
            <if test="registerTime != null and registerTime != ''"> and m.register_time = #{registerTime} </if>
            <if test="status != null and status != ''"> and m.status = #{status} </if>
            <if test="state != null and state != ''"> and m.state = #{state} </if>
            <if test="agestart != null and agestart !=''"> and m.age >= #{agestart} </if>
            <if test="ageend != null and ageend != ''"> and m.age &lt;= #{ageend} </if>
            and m.status = 0
        </where>
    </select>

    <select id="heightlist" resultType="com.shiguang.member.domain.MemberDO">
        select m.`id`,m.`name`,m.`member_option`,m.`card_number`,m.`sex`,m.`depart_number`,m.`company_id`,m.`birthday_year`,m.`birthday_month`,
        m.`birthday_day`,m.`age`,m.`phone_1`,m.`phone_2`,m.`phone_3`,m.`province_code`,m.`province_name`,m.`city_code`,m.`city_name`,
        m.`area_code`,m.`area_name`,m.`card_type`,m.`master_card`,m.`minor_name`,m.`crowd_type`,m.`exclusive_customer`,
        m.`exclusive_customer_id`,m.`identity_type`,m.`identity_id`,m.`vocation`,m.`school`,m.`qq_number`,m.`email`,
        m.`address`,m.`postal_code`,m.`interest`,m.`source`,m.`integral_pasd`,m.`remark`,m.`register_time`,m.`status`,m.`state`
        from member m left join store_sales ss on ss.member_number = m.card_number
        <where>
            <if test="id != null and id != ''"> and m.id = #{id} </if>
            <if test="name != null and name != ''"> and m.`name` like concat('%', #{name},'%') </if>
            <if test="memberOption != null and memberOption != ''"> and m.member_option = #{memberOption} </if>
            <if test="companyId != null and companyId != ''">and FIND_IN_SET(m.company_id,#{companyId})</if>
            <if test="cardNumber != null and cardNumber != ''"> and m.card_number like concat('%', #{cardNumber},'%') </if>
            <if test="sex != null and sex != ''"> and m.sex = #{sex} </if>
            <if test="birthdayYear != null and birthdayYear != ''"> and m.birthday_year = #{birthdayYear} </if>
            <if test="birthdayMonth != null and birthdayMonth != ''"> and m.birthday_month = #{birthdayMonth} </if>
            <if test="birthdayDay != null and birthdayDay != ''"> and m.birthday_day = #{birthdayDay} </if>
            <if test="age != null and age != ''"> and m.age = #{age} </if>
            <if test="phone1 != null and phone1 != ''"> and m.phone_1 = #{phone1} </if>
            <if test="phone2 != null and phone2 != ''"> and m.phone_2 = #{phone2} </if>
            <if test="phone3 != null and phone3 != ''"> and m.phone_3 = #{phone3} </if>
            <if test="provinceCode != null and provinceCode != ''"> and m.province_code = #{provinceCode} </if>
            <if test="provinceName != null and provinceName != ''"> and m.province_name = #{provinceName} </if>
            <if test="cityCode != null and cityCode != ''"> and m.city_code = #{cityCode} </if>
            <if test="cityName != null and cityName != ''"> and m.city_name = #{cityName} </if>
            <if test="areaCode != null and areaCode != ''"> and m.area_code = #{areaCode} </if>
            <if test="areaName != null and areaName != ''"> and m.area_name = #{areaName} </if>
            <if test="cardType != null and cardType != ''"> and m.card_type = #{cardType} </if>
            <if test="masterCard != null and masterCard != ''"> and m.master_card = #{masterCard} </if>
            <if test="minorName != null and minorName != ''"> and m.minor_name = #{minorName} </if>
            <if test="crowdType != null and crowdType != ''"> and m.crowd_type = #{crowdType} </if>
            <if test="exclusiveCustomer != null and exclusiveCustomer != ''"> and m.exclusive_customer = #{exclusiveCustomer} </if>
            <if test="exclusiveCustomerId != null and exclusiveCustomerId != ''"> and m.exclusive_customer_id = #{exclusiveCustomerId} </if>
            <if test="identityType != null and identityType != ''"> and m.identity_type = #{identityType} </if>
            <if test="identityId != null and identityId != ''"> and m.identity_id = #{identityId} </if>
            <if test="vocation != null and vocation != ''"> and m.vocation = #{vocation} </if>
            <if test="school != null and school != ''"> and m.school = #{school} </if>
            <if test="qqNumber != null and qqNumber != ''"> and m.qq_number = #{qqNumber} </if>
            <if test="email != null and email != ''"> and m.email = #{mail} </if>
            <if test="address != null and address != ''"> and m.address = #{address} </if>
            <if test="postalCode != null and postalCode != ''"> and m.postal_code = #{postalCode} </if>
            <if test="interest != null and interest != ''"> and m.interest = #{interest} </if>
            <if test="source != null and source != ''"> and m.source = #{source} </if>
            <if test="integralPasd != null and integralPasd != ''"> and m.integral_pasd = #{integralPasd} </if>
            <if test="remark != null and remark != ''"> and m.remark = #{remark} </if>
            <if test="registerTime != null and registerTime != ''"> and m.register_time = #{registerTime} </if>
            <if test="status != null and status != ''"> and m.status = #{status} </if>
            <if test="state != null and state != ''"> and m.state = #{state} </if>
            <if test="agestart != null and agestart !=''"> and m.age >= #{agestart} </if>
            <if test="ageend != null and ageend != ''"> and m.age &lt;= #{ageend} </if>
            <if test="peijingTimeStart != null and peijingTimeStart != ''"> and date_format(ss.peijing_time ,'%Y-%m-%d') &lt;= #{peijingTimeStart} </if>
            <if test="peijingTimeEnd != null and peijingTimeEnd != ''"> and date_format(ss.peijing_time ,'%Y-%m-%d') >= #{peijingTimeEnd} </if>
            <if test="brandName != null and brandName != ''">and FIND_IN_SET(#{brandName},ss.brand_name) </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                group by m.card_number
                order by m.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="heightcount" resultType="int">
        select count(*) from member m left join store_sales ss on ss.member_number = m.card_number
        <where>
            <if test="id != null and id != ''"> and m.id = #{id} </if>
            <if test="name != null and name != ''"> and m.`name` like concat('%', #{name},'%') </if>
            <if test="memberOption != null and memberOption != ''"> and m.member_option = #{memberOption} </if>
            <if test="companyId != null and companyId != ''">and FIND_IN_SET(m.company_id,#{companyId})</if>
            <if test="cardNumber != null and cardNumber != ''"> and m.card_number like concat('%', #{cardNumber},'%') </if>
            <if test="sex != null and sex != ''"> and m.sex = #{sex} </if>
            <if test="birthdayYear != null and birthdayYear != ''"> and m.birthday_year = #{birthdayYear} </if>
            <if test="birthdayMonth != null and birthdayMonth != ''"> and m.birthday_month = #{birthdayMonth} </if>
            <if test="birthdayDay != null and birthdayDay != ''"> and m.birthday_day = #{birthdayDay} </if>
            <if test="age != null and age != ''"> and m.age = #{age} </if>
            <if test="phone1 != null and phone1 != ''"> and m.phone_1 = #{phone1} </if>
            <if test="phone2 != null and phone2 != ''"> and m.phone_2 = #{phone2} </if>
            <if test="phone3 != null and phone3 != ''"> and m.phone_3 = #{phone3} </if>
            <if test="provinceCode != null and provinceCode != ''"> and m.province_code = #{provinceCode} </if>
            <if test="provinceName != null and provinceName != ''"> and m.province_name = #{provinceName} </if>
            <if test="cityCode != null and cityCode != ''"> and m.city_code = #{cityCode} </if>
            <if test="cityName != null and cityName != ''"> and m.city_name = #{cityName} </if>
            <if test="areaCode != null and areaCode != ''"> and m.area_code = #{areaCode} </if>
            <if test="areaName != null and areaName != ''"> and m.area_name = #{areaName} </if>
            <if test="cardType != null and cardType != ''"> and m.card_type = #{cardType} </if>
            <if test="masterCard != null and masterCard != ''"> and m.master_card = #{masterCard} </if>
            <if test="minorName != null and minorName != ''"> and m.minor_name = #{minorName} </if>
            <if test="crowdType != null and crowdType != ''"> and m.crowd_type = #{crowdType} </if>
            <if test="exclusiveCustomer != null and exclusiveCustomer != ''"> and m.exclusive_customer = #{exclusiveCustomer} </if>
            <if test="exclusiveCustomerId != null and exclusiveCustomerId != ''"> and m.exclusive_customer_id = #{exclusiveCustomerId} </if>
            <if test="identityType != null and identityType != ''"> and m.identity_type = #{identityType} </if>
            <if test="identityId != null and identityId != ''"> and m.identity_id = #{identityId} </if>
            <if test="vocation != null and vocation != ''"> and m.vocation = #{vocation} </if>
            <if test="school != null and school != ''"> and m.school = #{school} </if>
            <if test="qqNumber != null and qqNumber != ''"> and m.qq_number = #{qqNumber} </if>
            <if test="email != null and email != ''"> and m.email = #{mail} </if>
            <if test="address != null and address != ''"> and m.address = #{address} </if>
            <if test="postalCode != null and postalCode != ''"> and m.postal_code = #{postalCode} </if>
            <if test="interest != null and interest != ''"> and m.interest = #{interest} </if>
            <if test="source != null and source != ''"> and m.source = #{source} </if>
            <if test="integralPasd != null and integralPasd != ''"> and m.integral_pasd = #{integralPasd} </if>
            <if test="remark != null and remark != ''"> and m.remark = #{remark} </if>
            <if test="registerTime != null and registerTime != ''"> and m.register_time = #{registerTime} </if>
            <if test="status != null and status != ''"> and m.status = #{status} </if>
            <if test="state != null and state != ''"> and m.state = #{state} </if>
            <if test="agestart != null and agestart !=''"> and m.age >= #{agestart} </if>
            <if test="ageend != null and ageend != ''"> and m.age &lt;= #{ageend} </if>
            <if test="peijingTimeStart != null and peijingTimeStart != ''"> and date_format(ss.peijing_time ,'%Y-%m-%d') &lt;= #{peijingTimeStart} </if>
            <if test="peijingTimeEnd != null and peijingTimeEnd != ''"> and date_format(ss.peijing_time ,'%Y-%m-%d') >= #{peijingTimeEnd} </if>
            <if test="brandName != null and brandName != ''">and FIND_IN_SET(#{brandName},ss.brand_name) </if>
        </where>
    </select>

    <insert id="save" parameterType="com.shiguang.member.domain.MemberDO" useGeneratedKeys="true" keyProperty="id">
		insert into member
		(
			`name`,
			`member_option`,
			`card_number`,
			`sex`,
			`depart_number`,
			`company_id`,
			`birthday_year`,
			`birthday_month`,
			`birthday_day`,
			`age`,
			`phone_1`,
			`phone_2`,
			`phone_3`,
			`province_code`,
			`province_name`,
			`city_code`,
			`city_name`,
			`area_code`,
			`area_name`,
			`card_type`,
			`master_card`,
			`minor_name`,
			`crowd_type`,
			`exclusive_customer`,
			`exclusive_customer_id`,
			`identity_type`,
			`identity_id`,
			`vocation`,
			`school`,
			`qq_number`,
			`email`,
			`address`,
			`postal_code`,
			`interest`,
			`source`,
			`integral_pasd`,
			`remark`,
			`register_time`,
			`status`,
			`state`,
			`open_id`
		)
		values
		(
			#{name},
			#{memberOption},
			#{cardNumber},
			#{sex},
			#{departNumber},
			#{companyId},
			#{birthdayYear},
			#{birthdayMonth},
			#{birthdayDay},
			#{age},
			#{phone1},
			#{phone2},
			#{phone3},
			#{provinceCode},
			#{provinceName},
			#{cityCode},
			#{cityName},
			#{areaCode},
			#{areaName},
			#{cardType},
			#{masterCard},
			#{minorName},
			#{crowdType},
			#{exclusiveCustomer},
			#{exclusiveCustomerId},
			#{identityType},
			#{identityId},
			#{vocation},
			#{school},
			#{qqNumber},
			#{email},
			#{address},
			#{postalCode},
			#{interest},
			#{source},
			#{integralPasd},
			#{remark},
			#{registerTime},
			#{status},
			#{state},
			#{openId}
		)
	</insert>

    <update id="update" parameterType="com.shiguang.member.domain.MemberDO">
        update member
        <set>
            <if test="name != null">`name` = #{name}, </if>
            <if test="memberOption != null">`member_option` = #{memberOption}, </if>
            <if test="cardNumber != null">`card_number` = #{cardNumber}, </if>
            <if test="sex != null">`sex` = #{sex}, </if>
            <if test="departNumber != null">`depart_number` = #{departNumber}</if>
            <if test="birthdayYear != null">`birthday_year` = #{birthdayYear}, </if>
            <if test="birthdayMonth != null">`birthday_month` = #{birthdayMonth}, </if>
            <if test="birthdayDay != null">`birthday_day` = #{birthdayDay}, </if>
            <if test="age != null">`age` = #{age}, </if>
            <if test="phone1 != null">`phone_1` = #{phone1}, </if>
            <if test="phone2 != null">`phone_2` = #{phone2}, </if>
            <if test="phone3 != null">`phone_3` = #{phone3}, </if>
            <if test="provinceCode != null">`province_code` = #{provinceCode}, </if>
            <if test="provinceName != null">`province_name` = #{provinceName}, </if>
            <if test="cityCode != null">`city_code` = #{cityCode}, </if>
            <if test="cityName != null">`city_name` = #{cityName}, </if>
            <if test="areaCode != null">`area_code` = #{areaCode}, </if>
            <if test="areaName != null">`area_name` = #{areaName}, </if>
            <if test="cardType != null">`card_type` = #{cardType}, </if>
            <if test="masterCard != null">`master_card` = #{masterCard}, </if>
            <if test="minorName != null">`minor_name` = #{minorName}, </if>
            <if test="crowdType != null">`crowd_type` = #{crowdType}, </if>
            <if test="exclusiveCustomer != null">`exclusive_customer` = #{exclusiveCustomer}, </if>
            <if test="exclusiveCustomerId != null">`exclusive_customer_id` = #{exclusiveCustomerId}, </if>
            <if test="identityType != null">`identity_type` = #{identityType}, </if>
            <if test="identityId != null">`identity_id` = #{identityId}, </if>
            <if test="vocation != null">`vocation` = #{vocation}, </if>
            <if test="school != null">`school` = #{school}, </if>
            <if test="qqNumber != null">`qq_number` = #{qqNumber}, </if>
            <if test="email != null">`email` = #{email}, </if>
            <if test="address != null">`address` = #{address}, </if>
            <if test="postalCode != null">`postal_code` = #{postalCode}, </if>
            <if test="interest != null">`interest` = #{interest}, </if>
            <if test="source != null">`source` = #{source}, </if>
            <if test="integralPasd != null">`integral_pasd` = #{integralPasd}, </if>
            <if test="remark != null">`remark` = #{remark}, </if>
            <if test="registerTime != null">`register_time` = #{registerTime},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="state != null">`state` = #{state},</if>
            <if test="integral != null and integral != ''">`integral` = #{integral}</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateInteger" parameterType="com.shiguang.member.domain.MemberDO">
        update member
        <set>
            <if test="integral != null and integral != ''">`integral` = #{integral}</if>
        </set>
        where card_number = #{cardNumber}
    </update>

    <delete id="remove">
		delete from member where id = #{value}
	</delete>

    <update id="batchRemove" >
        update member
        <set>
            <if test="status != null">`status` = #{status}</if>
        </set>

        where id in
        <foreach item="item" collection="id" open="(" separator="," close=")" index="index">
            #{item}
        </foreach>
    </update>
    <select id="yanguangList" resultType="com.shiguang.member.domain.MemberDO">
        SELECT
        m.`id`,
        m.`name`,
        m.`member_option`,
        m.`card_number`,
        m.`sex`,
        m.`depart_number`,
        m.`birthday_year`,
        m.`birthday_month`,
        m.`birthday_day`,
        m.`age`,
        m.`phone_1`,
        m.`phone_2`,
        m.`phone_3`,
        m.`province_code`,
        m.`province_name`,
        m.`city_code`,
        m.`city_name`,
        m.`area_code`,
        m.`area_name`,
        m.`card_type`,
        m.`master_card`,
        m.`minor_name`,
        m.`crowd_type`,
        m.`exclusive_customer`,
        m.`exclusive_customer_id`,
        m.`identity_type`,
        m.`identity_id`,
        m.`vocation`,
        m.`school`,
        m.`qq_number`,
        m.`email`,
        m.`address`,
        m.`postal_code`,
        m.`interest`,
        m.`source`,
        m.`integral_pasd`,
        m.`remark`,
        m.`register_time`,
        m.`status`,
        m.`state` ,
        try.ptometry_number,
        try.create_time
        FROM
        member m
        left join jc_tryresults try on m.card_number =try.card_number
        <where>
            <if test="id != null and id != ''"> and m.id = #{id} </if>
            <if test="name != null and name != ''"> and m.`name` like concat('%', #{name},'%') </if>
            <if test="memberOption != null and memberOption != ''"> and m.member_option = #{memberOption} </if>
            <if test="departNumber != null and departNumber != ''">
                and m.depart_number = ${departNumber}
            </if>
<!--            <if test="companyId != null and companyId != ''">and FIND_IN_SET(d.company_id,#{companyId})</if>-->
            <if test="companyId != null and companyId != ''">and FIND_IN_SET(m.company_id,#{companyId})</if>
            <if test="cardNumber != null and cardNumber != ''"> and m.card_number like concat('%', #{cardNumber},'%') </if>
            <if test="sex != null and sex != ''"> and m.sex = #{sex} </if>
            <if test="birthdayYear != null and birthdayYear != ''"> and m.birthday_year = #{birthdayYear} </if>
            <if test="birthdayMonth != null and birthdayMonth != ''"> and m.birthday_month = #{birthdayMonth} </if>
            <if test="birthdayDay != null and birthdayDay != ''"> and m.birthday_day = #{birthdayDay} </if>
            <if test="age != null and age != ''"> and m.age = #{age} </if>
            <if test="phone1 != null and phone1 != ''"> and m.phone_1 like concat('%', #{phone1},'%') </if>
            <if test="phone2 != null and phone2 != ''"> and m.phone_2 like concat('%', #{phone2},'%') </if>
            <if test="phone3 != null and phone3 != ''"> and m.phone_3 like concat('%', #{phone3},'%') </if>

            <if test="provinceCode != null and provinceCode != ''"> and m.province_code = #{provinceCode} </if>
            <if test="provinceName != null and provinceName != ''"> and m.province_name = #{provinceName} </if>
            <if test="cityCode != null and cityCode != ''"> and m.city_code = #{cityCode} </if>
            <if test="cityName != null and cityName != ''"> and m.city_name = #{cityName} </if>
            <if test="areaCode != null and areaCode != ''"> and m.area_code = #{areaCode} </if>
            <if test="areaName != null and areaName != ''"> and m.area_name = #{areaName} </if>
            <if test="cardType != null and cardType != ''"> and m.card_type = #{cardType} </if>
            <if test="masterCard != null and masterCard != ''"> and m.master_card = #{masterCard} </if>
            <if test="minorName != null and minorName != ''"> and m.minor_name = #{minorName} </if>
            <if test="crowdType != null and crowdType != ''"> and m.crowd_type = #{crowdType} </if>
            <if test="exclusiveCustomer != null and exclusiveCustomer != ''"> and m.exclusive_customer = #{exclusiveCustomer} </if>
            <if test="exclusiveCustomerId != null and exclusiveCustomerId != ''"> and m.exclusive_customer_id = #{exclusiveCustomerId} </if>
            <if test="identityType != null and identityType != ''"> and m.identity_type = #{identityType} </if>
            <if test="identityId != null and identityId != ''"> and m.identity_id = #{identityId} </if>
            <if test="vocation != null and vocation != ''"> and m.vocation = #{vocation} </if>
            <if test="school != null and school != ''"> and m.school = #{school} </if>
            <if test="qqNumber != null and qqNumber != ''"> and m.qq_number = #{qqNumber} </if>
            <if test="email != null and email != ''"> and m.email = #{mail} </if>
            <if test="address != null and address != ''"> and m.address = #{address} </if>
            <if test="postalCode != null and postalCode != ''"> and m.postal_code = #{postalCode} </if>
            <if test="interest != null and interest != ''"> and m.interest = #{interest} </if>
            <if test="source != null and source != ''"> and m.source = #{source} </if>
            <if test="integralPasd != null and integralPasd != ''"> and m.integral_pasd = #{integralPasd} </if>
            <if test="remark != null and remark != ''"> and m.remark = #{remark} </if>
            <if test="registerTime != null and registerTime != ''"> and m.register_time = #{registerTime} </if>
            <if test="status != null and status != ''"> and m.status = #{status} </if>
            <if test="state != null and state != ''"> and m.state = #{state} </if>
            <if test="agestart != null and agestart !=''"> and m.age >= #{agestart} </if>
            <if test="ageend != null and ageend != ''"> and m.age &lt;= #{ageend} </if>

            <if test="optometryName != null and optometryName != ''"> and try.optometry_name = #{optometryName} </if>
            <if test="dateStart !=null and dateStart != ''"> and date_format( try.create_time ,'%Y-%m-%d' ) >= (#{dateStart})</if>
            <if test="dateEnd !=null and dateEnd != ''"> and date_format( try.create_time ,'%Y-%m-%d' ) &lt;= (#{dateEnd})</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                GROUP BY m.card_number
                order by m.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="yanguangCount" resultType="int">
        SELECT count( 0 ) FROM
        (
        SELECT
        m.`id`,
        m.`name`,
        m.`member_option`,
        m.`card_number`,
        m.`sex`,
        m.`depart_number`,
        m.`birthday_year`,
        m.`birthday_month`,
        m.`birthday_day`,
        m.`age`,
        m.`phone_1`,
        m.`phone_2`,
        m.`phone_3`,
        m.`province_code`,
        m.`province_name`,
        m.`city_code`,
        m.`city_name`,
        m.`area_code`,
        m.`area_name`,
        m.`card_type`,
        m.`master_card`,
        m.`minor_name`,
        m.`crowd_type`,
        m.`exclusive_customer`,
        m.`exclusive_customer_id`,
        m.`identity_type`,
        m.`identity_id`,
        m.`vocation`,
        m.`school`,
        m.`qq_number`,
        m.`email`,
        m.`address`,
        m.`postal_code`,
        m.`interest`,
        m.`source`,
        m.`integral_pasd`,
        m.`remark`,
        m.`register_time`,
        m.`status`,
        m.`state` ,
        try.ptometry_number,
        try.create_time
        FROM
        member m
        left join jc_tryresults try on m.card_number =try.card_number
        <where>
            <if test="id != null and id != ''"> and m.id = #{id} </if>
            <if test="name != null and name != ''"> and m.`name` like concat('%', #{name},'%') </if>
            <if test="memberOption != null and memberOption != ''"> and m.member_option = #{memberOption} </if>
            <if test="departNumber != null and departNumber != ''">
                and m.depart_number = ${departNumber}
            </if>
            <!--            <if test="companyId != null and companyId != ''">and FIND_IN_SET(d.company_id,#{companyId})</if>-->
            <if test="companyId != null and companyId != ''">and FIND_IN_SET(m.company_id,#{companyId})</if>
            <if test="cardNumber != null and cardNumber != ''"> and m.card_number like concat('%', #{cardNumber},'%') </if>
            <if test="sex != null and sex != ''"> and m.sex = #{sex} </if>
            <if test="birthdayYear != null and birthdayYear != ''"> and m.birthday_year = #{birthdayYear} </if>
            <if test="birthdayMonth != null and birthdayMonth != ''"> and m.birthday_month = #{birthdayMonth} </if>
            <if test="birthdayDay != null and birthdayDay != ''"> and m.birthday_day = #{birthdayDay} </if>
            <if test="age != null and age != ''"> and m.age = #{age} </if>
            <if test="phone1 != null and phone1 != ''"> and m.phone_1 like concat('%', #{phone1},'%') </if>
            <if test="phone2 != null and phone2 != ''"> and m.phone_2 like concat('%', #{phone2},'%') </if>
            <if test="phone3 != null and phone3 != ''"> and m.phone_3 like concat('%', #{phone3},'%') </if>

            <if test="provinceCode != null and provinceCode != ''"> and m.province_code = #{provinceCode} </if>
            <if test="provinceName != null and provinceName != ''"> and m.province_name = #{provinceName} </if>
            <if test="cityCode != null and cityCode != ''"> and m.city_code = #{cityCode} </if>
            <if test="cityName != null and cityName != ''"> and m.city_name = #{cityName} </if>
            <if test="areaCode != null and areaCode != ''"> and m.area_code = #{areaCode} </if>
            <if test="areaName != null and areaName != ''"> and m.area_name = #{areaName} </if>
            <if test="cardType != null and cardType != ''"> and m.card_type = #{cardType} </if>
            <if test="masterCard != null and masterCard != ''"> and m.master_card = #{masterCard} </if>
            <if test="minorName != null and minorName != ''"> and m.minor_name = #{minorName} </if>
            <if test="crowdType != null and crowdType != ''"> and m.crowd_type = #{crowdType} </if>
            <if test="exclusiveCustomer != null and exclusiveCustomer != ''"> and m.exclusive_customer = #{exclusiveCustomer} </if>
            <if test="exclusiveCustomerId != null and exclusiveCustomerId != ''"> and m.exclusive_customer_id = #{exclusiveCustomerId} </if>
            <if test="identityType != null and identityType != ''"> and m.identity_type = #{identityType} </if>
            <if test="identityId != null and identityId != ''"> and m.identity_id = #{identityId} </if>
            <if test="vocation != null and vocation != ''"> and m.vocation = #{vocation} </if>
            <if test="school != null and school != ''"> and m.school = #{school} </if>
            <if test="qqNumber != null and qqNumber != ''"> and m.qq_number = #{qqNumber} </if>
            <if test="email != null and email != ''"> and m.email = #{mail} </if>
            <if test="address != null and address != ''"> and m.address = #{address} </if>
            <if test="postalCode != null and postalCode != ''"> and m.postal_code = #{postalCode} </if>
            <if test="interest != null and interest != ''"> and m.interest = #{interest} </if>
            <if test="source != null and source != ''"> and m.source = #{source} </if>
            <if test="integralPasd != null and integralPasd != ''"> and m.integral_pasd = #{integralPasd} </if>
            <if test="remark != null and remark != ''"> and m.remark = #{remark} </if>
            <if test="registerTime != null and registerTime != ''"> and m.register_time = #{registerTime} </if>
            <if test="status != null and status != ''"> and m.status = #{status} </if>
            <if test="state != null and state != ''"> and m.state = #{state} </if>
            <if test="agestart != null and agestart !=''"> and m.age >= #{agestart} </if>
            <if test="ageend != null and ageend != ''"> and m.age &lt;= #{ageend} </if>

            <if test="optometryName != null and optometryName != ''"> and try.optometry_name = #{optometryName} </if>
            <if test="dateStart !=null and dateStart != ''"> and date_format( try.create_time ,'%Y-%m-%d' ) >= (#{dateStart})</if>
            <if test="dateEnd !=null and dateEnd != ''"> and date_format( try.create_time ,'%Y-%m-%d' ) &lt;= (#{dateEnd})</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                GROUP BY m.card_number
                order by m.id desc
            </otherwise>
        </choose>

        ) AS temp
    </select>
</mapper>